[2017-05-31 20:33] ryanfeeley commented on #5101
@rfk @mcomella Much preferred, and is only shown to Sync users, so we can be more specific.

How about:
* To allow access to your Firefox data, open the confirmation link sent to user@example.com

[2017-05-31 22:15] rfk commented on #5101
This WFM 👍

I kinda wanna A/B test it to see whether it really performs better...@shane-tomlinson how much hassle would that be for such a small change, given our recent improvements to experiment metrics?

[2017-06-01 02:13] vladikoff opened #5114 "Server is not loading in latest Nightly"
![](http://v14d.com/i/592f77b88d2f2.jpg)

Same on latest:

![image](https://cloud.githubusercontent.com/assets/128755/26661853/30a2457e-464e-11e7-91b5-f6ff1fd164c0.png)

Prod works, so maybe something with latest commits

[2017-06-01 02:14] rfk commented on #5114
Happens for me as well FWIW

[2017-06-01 02:15] rfk commented on #5114
It loads fine for me in release Firefox though; my first thought is some interaction with the new device-handshake work that @shane-tomlinson landed recently.

[2017-06-01 02:17] vladikoff commented on #5114
Caused by https://github.com/mozilla/fxa-content-server/pull/4695

[2017-06-01 02:19] vladikoff commented on #5114
This should probably block train-88 deploy

[2017-06-01 02:21] rfk commented on #5114
Hmm...so I wonder if this is caused by our dev environments not being in the webchannel allowlist in firefox. If you reconfigure Firefox to point to nightly.dev.lcip.org rather than just loading it in a tab, does the issue go away?

[2017-06-01 02:21] rfk commented on #5114
(Also if this is the case, I would expect softvision to find the same issue on stage)

[2017-06-01 02:22] rfk commented on #5114
Which...yep, I see this same behaviour when opening https://accounts.stage.mozaws.net/ on Nightly.

[2017-06-01 02:23] vladikoff commented on #5114
Yes goes away. Tested with

[code]

[2017-06-01 02:24] rfk commented on #5114
OK cool, at least we have a working theory :-)

I think we should (a) back out that PR, assuming we can do so cleanly, and then (b) figure out how to make that webchannel handshake fail gracefully when the site is not on the webchannel allowlist in Firefox.

[2017-06-01 09:42] shane-tomlinson commented on #5114
I don't think we should back out the PR, I think we should fix the problem. If there's a browser misconfiguration for the environment and we receive a "No Such Channel" error, we disable the feature and say "nope, not supported here."

[2017-06-01 09:46] shane-tomlinson opened #5115 "Clicks on "Looking for Firefox Sync? Get started here" are not logged as flow events."
We have similar logic in [connect_another_device](https://github.com/mozilla/fxa-content-server/blob/277e046a3a27ff946a709fd03f10e0fa04ad565c/app/scripts/templates/connect_another_device.mustache#L19) that logs a `link.signin` flow event.

[2017-06-01 09:52] rfk commented on #5114
If it's a simple fix, SGTM, thanks @shane-tomlinson

[2017-06-01 13:39] shane-tomlinson opened #5118 "Re-add "Maybe later" to /sms"
It was decided in email to re-add the "Maybe later" button to the /sms page, just to rule out the possibility that this link is the reason the `treatment` group did so well in train-86.

[2017-06-01 14:57] shane-tomlinson commented on #5118
Fixed by https://github.com/mozilla/fxa-content-server/commit/b639e0a028f81f914be8de1f715a754bab9657b3

[2017-06-01 14:57] #5118 closed

[2017-06-01 16:16] shane-tomlinson commented on #5098
@ryanfeeley these icons remind me of two speakers next to a laptop + it looks pretty washed out. Are we sure about this?

[2017-06-01 20:16] ryanfeeley commented on #5037
@mheubusch Apparently we now block login attempts from bounced email for only 24 hours, instead of permanently. Would these small changes be okay?

* The confirmation email we sent to user@example.com was returned, and we've locked your account for 24 hours to protect your Firefox data.
* If this is a valid email address, **let us know** and we can help unlock your account sooner.

[2017-06-01 20:55] ryanfeeley opened #5122 "Prime iOS users about notification permission prompt"
Push technology is coming to iOS and will make Sync blazingly fast. Sync will simply "sync" more immediately, and changes will appear instantly. It's the holy grail.

The downside is that in order use Push, we need their permission for iOS notifications because it is used to register with our Push service.

Currently, as soon as iOS users submit the login or registration form, they are presented w

[2017-06-01 21:12] #5109 closed

[2017-06-01 21:12] #5112 closed

[2017-06-01 21:12] #5114 closed

[2017-06-01 21:21] ryanfeeley commented on #5098
@shane-tomlinson A darker image is coming! Not sure he'll tackle the stereo problem. I never saw that myself, though I prefer concentric drivers to three-way designs :)

[2017-06-02 00:56] davismtl commented on #5122
Glad we're taking a look at this. However, that proposed design doesn't follow best practice for push. (current version doesn't either, obviously)

After login/registration, we should have an entire screen explaining benefit. If the user says "Allow", display pop-up where they will click "Allow" again. If they say, "not now", we don't display it.

The reason being is if the user clicks "Don't Allo

[2017-06-02 00:59] davismtl commented on #5037
I would prefer we say: If it doesn't work in 24h, let us know. The purpose of the 24h is to prevent users from continuously contacting us for false alarms around bounced emails.

[2017-06-02 01:26] ryanfeeley commented on #5037
@davismtl  Is it safe to assume that *most* people viewing this screen will have lost permanent access to their email?

[2017-06-02 04:24] mhammond commented on #5087
FTR, https://bugzilla.mozilla.org/show_bug.cgi?id=1361285 is for the client-side change to about:prefs, which has uxreview+ (ie, I believe we can consider the strings there as final)

[2017-06-02 14:10] vladikoff commented on #5122
Hm if I understand your proposal correctly, then it would be too late to show that screen. Device Registration happens right at login. To register we need the push callback. To get the callback we need the permission accepted. To get the user to accept it, we need to explain why they need it :)

[2017-06-02 14:38] vbudhram commented on #5122
Can we update device info after it has been registered? If so, then it could be possible to show the notifications benefit screen, then prompt for permissions then update with pushUrls?

[2017-06-02 15:25] vladikoff commented on #5122
Yeah that is possible, but when I think about it it feels fragile. We will need to send another request.
If that request is from the client then FxiOS needs to send it.
If that request is from the content-server, then we need to keep the content server open in FxiOS, so it can send the update.

[2017-06-02 17:01] davismtl commented on #5122
It's likely worth asking iOS team if they have any features unrelated to accounts that may require the use of Push notifications (e.g. reading list reminder). _Perhaps_ there is a reason to ask outside of the FxA registration/login flows.

@vladikoff if device registration depends on it, what happens if users refuse push notifications?

Also, IIUC, we can still use push internally for the function

[2017-06-02 17:06] davismtl commented on #5037
Statistically, probably yes. However, @rfk and I have seen many bugs where users did not lose access to their accounts and wanted help logging in. We then had to ask jbuck to resend the user emails which requires database manipulations. This is why we added the 24h rule.

Putting the right message should avoid us and some users from dealing with bugzilla for false alarms.

[2017-06-02 18:00] seanmonstar commented on #5037
Slightly off-topic (not related to a new screen), if we wanted to eventually make this not manual, we could make a 'unbounce my email' functionality that uses a completely different sender, whose reputation isn't important. Like, an email from `unbounce@bouncingfirefoxes.net` with a unique string they paste into a form.

[2017-06-04 02:01] rfk commented on #5037
We haven't added this yet though, right @seanmonstar?  The rate of false-positive block reports is increasing, let's chat early this coming week about how to prioritize that work.

This is not entirely accurate; IIUC the plan is to:

* If you get one bounce, block sends for 24 hours.
* If you get more than one bounce, block sends for a year.

Not sure how much of that nuance we really need to conv

[2017-06-04 16:40] ryanfeeley commented on #5037
@rfk @davismtl I think we can ship the current design now, and add nuance later. It's an improvement over the current experience.

[2017-06-05 13:16] shane-tomlinson commented on #5029
I have implemented polling in the FxA account UI, once the user has verified their email address, we'll send you a new WebChannel message, `fxaccounts:email_verified`. Sound good?

Another question I had while writing functional tests is during the normal Sync signup, we display a page called [Choose what to Sync](https://github.com/mozilla/fxa-content-server/issues/5098) that allows the users to

[2017-06-05 14:11] shane-tomlinson commented on #5029
@mcomella - The PR is up and ready for you to test against when you get a chance!

[2017-06-05 23:37] vladikoff commented on #5046
fixed in https://github.com/mozilla/fxa-profile-server/pull/248

[2017-06-05 23:37] #5046 closed

[2017-06-06 15:54] vladikoff commented on #5122
This is not the case (per Mobile team). Once the user cancels then we do not get a Push callback from Apple's services

[2017-06-06 17:35] vladikoff commented on #5122
Okay I'm going to close this if we are not planning to do any content-server work make this experience better. Please reopen if we have an actionable plan that we can implement.

[2017-06-06 17:35] #5122 closed

[2017-06-06 20:05] davismtl commented on #5037
Sure, I just wanted to avoid putting an open invitation to contact us when it doesn't work when ultimately, they may be unblocked in 24h if it's their first offense.

[2017-06-07 14:00] #5060 closed

[2017-06-07 16:51] #4680 closed

[2017-06-07 16:51] #5115 closed

[2017-06-07 21:20] mcomella commented on #5029
Sounds good!

No, this page should not be displayed (because we can't stop the application using the library from taking the sync tokens out of memory and downloading whatever information we want with it so we shouldn't give the user this guarantee).

I went to https://stomlinson.dev.lcip.org/signin?service=sync&context=mob_android_v1 (and tried again with `context=mob_ios_v1`) and I did not recei

[2017-06-07 22:12] mcomella commented on #5029
We rebooted the server and I'm received WebChannel events. That being said, my response to the `fxaccounts:can_link_account` is not being received successfully by the page. There's no log message so @shane-tomlinson asked me to paste what I'm injecting into the page in response:

window.dispatchEvent(new CustomEvent('WebChannelMessageToContent', {"detail":{"message":{"command":"fxaccounts:can_link

[2017-06-07 22:41] rfk commented on #5087
from mgt: there's an open question here about how we signal opt-in to these collections, given that:

* They default to opt-out
* The output of the choose-what-to-sync screen is a list of "declined engines", not selected engines

@mhammond is going to think about this and suggest a path forward.

[2017-06-08 13:46] ryanfeeley commented on #4485
Moreshortened @shane-tomlinson:

**Why sync multiple devices?**
The Sync service isn’t a permanent backup, it’s simply a secure way to transfer saved bookmarks, history and passwords between your own devices. You should install Firefox and sync at least two devices to protect against losing your data if you forget your login or reset your password.

[2017-06-08 15:38] vladikoff commented on #4944
This is now unblocked, final content here: https://github.com/mozilla/fxa-content-server/issues/4485

[2017-06-09 02:07] vladikoff opened #5129 "Tests: Extract the __fxa_storage.accounts pollUntil into a helper function"
Ref: https://github.com/mozilla/fxa-content-server/pull/5125#discussion_r120076847

[2017-06-09 02:54] #5054 closed

[2017-06-09 18:55] ryanfeeley opened #5130 "Remove disabled button state for login and registration"
We have received feedback from onboarding user testing that users are perceiving our disabled submit buttons (on login and registration) to mean that the forms themselves are disabled.

Instead of making them appear enabled when minimum form requirements are met, we should make them always appear enabled and rely on our now excellent form validation to keep users on the right path.

[2017-06-09 19:09] davismtl commented on #5130
Can we cohort this? While I'm confident it will help users, I think it's important we measure the impact of changes we make to our forms.

[2017-06-09 19:38] ryanfeeley commented on #5130
@davismtl If there's bandwidth, sure! What I expect we should see a change in.

1. Screen views should remain stable
   * fxa.content.screen.signin/signup/force_auth
1. Authentication success should increase the most
   * fxa.content.signin/signup/force_auth.success
1. Too short password should not increase
   * fxa.content.error.signin/signup/force_auth.auth.1009
1. Missing password should not in

[2017-06-12 13:04] shane-tomlinson commented on #5029
Yeah, if messageId doesn't match, that'll cause the symptoms you see.
`messageId` should be a string, it's created using this logic:

[code]

`messageIdSuffix` is the # of WebChannel messages that have been sent.

-------------------------------------------

`id` should be `account_updates`, so that should be fine.

[2017-06-12 15:33] ryanfeeley opened #5134 "Use Hoverpad app icon for devices list"
Copy existing add-ons/Pocket colour, and use this SVG for the Hoverpad icon (but call it Notes).
[universal-notepad-large.svg.zip](https://github.com/mozilla/fxa-content-server/files/1068679/universal-notepad-large.svg.zip)

[2017-06-12 15:34] vladikoff commented on #5134
Ty!

[2017-06-12 15:45] ryanfeeley commented on #5087
Desktop design: https://mozilla.invisionapp.com/share/AP8TFZ22G#/228643730_1-1_Autofill

[2017-06-12 18:54] ryanfeeley commented on #5040
@rfk I think we should show the same as above for that state too. The eye is attracted to animation, which is a good place to put it as the devices will appear shortly.

[2017-06-12 19:01] ryanfeeley commented on #4541
@rfk Related, I guess even a dupe? https://github.com/mozilla/fxa-content-server/issues/5040

[2017-06-12 20:26] mcomella commented on #5029
Turns out I was taking putting sending the messageId as a long to Java (thus it was 0) rather than taking a String - I fixed it (I don't understand why this worked with `fx_fennec_v1` though...).

The new `fxaccounts:email_verified` message works well – thanks!

One issue I ran into is that fxaccounts:loaded is no longer fired. I'm not using it at the moment but it could be useful for https://gith

[2017-06-12 20:41] #4989 closed

[2017-06-12 20:42] vladikoff commented on #5087
@mhammond should we try to push this forward? I got FF56 in nightly today 👀

[2017-06-12 20:56] shane-tomlinson commented on #4638
I'm going to take "success by coincidence" for now...

[2017-06-12 20:56] #4638 closed

[2017-06-12 21:19] shane-tomlinson opened #5136 "re-add the SMS sending tests"
The tests were removed because they failed on team-city when run against latest because of rate limiting.

[2017-06-12 22:23] rfk commented on #4541
Good call, I'm going to close this in favour of #5040

[2017-06-12 22:23] #4541 closed

[2017-06-13 08:31] shane-tomlinson commented on #5029
Hmm, that's very strange. It's supposed to be sent universally, if that's not the case, I must have a whole in the functional test coverage. :/ I'll try to have that ready for you today.

[2017-06-13 13:24] shane-tomlinson commented on #5029
@mcomella - I just added some functional tests to ensure the `fxaccounts:loaded` message is sent. It looks like it's being sent, but since it sends no response, it's `messageId` is set to null:

<img width="1076" alt="screen shot 2017-06-13 at 14 18 57" src="https://user-images.githubusercontent.com/848085/27084440-d5d8d31a-5043-11e7-8b58-d0df7a1cefdb.png">

[2017-06-13 14:44] #5088 closed

[2017-06-13 15:51] vladikoff commented on #5134
@ryanfeeley is it supposed to be this dark
![image](https://user-images.githubusercontent.com/128755/27091604-a66690d2-502e-11e7-8a7f-c2363c2d3dda.png) ?

[2017-06-13 16:57] shane-tomlinson commented on #5130
IRL conversation - We can remove the "disabled" state universally, not just to these two forms.

[2017-06-13 17:19] ryanfeeley opened #5140 "Client name on current device has padding mismatch"
It looks like current device has special client-name padding name that it should not.
![space](https://user-images.githubusercontent.com/68213/27095207-d4ce00e8-503a-11e7-8cd7-7bb77f4f16c8.gif)

[2017-06-13 17:28] ryanfeeley commented on #5134
@vladikoff No, it should match the Pocket or Add-ons icons we have. I viewed source and in HTML it is set as #505050. Is that applicable in HTML or do you want a new graphic?

[2017-06-13 18:02] #4984 closed

[2017-06-13 20:49] mcomella commented on #5029
Sorry, I think this was my bug again (ty for investigating!).

I inject my JavaScript, which adds the fxa listeners, in the WebView's `onPageFinished` callback. I'm guessing there's a race condition: sometimes we inject the script before fxaccounts:loaded is fired & sometimes we don't. Sounds like I should just add my own listeners to `onPageFinished` if I want to know when the page loads (and if

[2017-06-13 22:03] vladikoff commented on #5111
@udaraweerasinghege the first param in the linked code above should be the name, 'server.requests'

The second one should be the actual object.

See example in the profile server https://github.com/mozilla/fxa-profile-server/blob/a8fc8d6f62b5e2c8ea19ecf61ae224d447d27c00/lib/server/_static.js#L34

[2017-06-14 08:36] shane-tomlinson commented on #5029
The earlier you can bind, the better. We send that message as soon as the first view is rendered, which is usually after DOMContentLoaded, but sometimes not by much.

I'll have the reviews begin today. We just cut a train, it'll unfortunately be 2 more weeks before we cut the next one, and another week before it goes to prod. If having this in prod sooner than that is impertative, let's talk.

Tha

[2017-06-14 11:01] shane-tomlinson commented on #5029
@mcomella - if we changed the WebChannel message from `fxaccounts:email_verified` to `fxaccounts:verified`, would that cause havoc for you?

[2017-06-14 16:11] mcomella commented on #5029
@shane-tomlinson Nope! Go for it.

[2017-06-14 17:45] ryanfeeley opened #5143 "Radio button outlines too light"
STEPS TO REPRODUCE
1. In Device Manager, click on Disconnect… to disconnect a Sync device
2. Look at those radio button

ACTUAL RESULTS
* The outline is too light and looks disabled
<img width="260" alt="screenshot 2017-06-13 13 14 16" src="https://user-images.githubusercontent.com/68213/27146542-ae27b81c-5107-11e7-87e4-b97c0e388bfe.png">

EXPECTED RESULTS
* It's matches desktop radio button outli

[2017-06-14 21:46] rfk commented on #5087
There's more details on the required behaviour in the email thread here:

  https://mail.mozilla.org/pipermail/dev-fxacct/2017-June/002378.html

@mhammond if you're happy with where that thread wound up, can you please propose concrete WebChannel protocol changes for us to implement on the FxA side?

[2017-06-15 00:47] mhammond commented on #5087
At a high-level, I believe all we need is:

1) the content server shows 2 new engines, "Addresses" and "Credit Cards" for all desktop 56+.
2) the browser is confident that these 2 engines have been offered, so the fact they aren't in "declined" means they were accepted.

I'm not sure how far to go here. There doesn't seem value in listing all the engines the client supports, as the list of existin

[2017-06-15 09:48] shane-tomlinson commented on #5087
Design from @ryanfeeley:

<img width="378" alt="screen shot 2017-06-13 at 15 55 01" src="https://user-images.githubusercontent.com/848085/27175776-26f833c4-51b8-11e7-8fc6-8fdd4a736c8d.png">

[2017-06-15 12:47] #5029 closed

[2017-06-15 15:49] shane-tomlinson commented on #5087
@mhammond - your approach sounds reasonable to me. What do you think we need for the MVP for 56?

I could probably get the above done in a day or two, if I hard-code the Fx version, and if I ignore the capabilities scheme.

Do you think the capabilities scheme is worthwhile? I'm happy to implement it, thought my guess is that it'll take an additional day or two to get things just so.

[2017-06-15 19:49] ryanfeeley commented on #5087
@mhammond Oops, I wasn't clear that only desktop would be making it.

[2017-06-15 20:43] vladikoff opened #5149 "Add remoteAddressChain support for content server logs"
Example in Hapi: https://github.com/mozilla/fxa-auth-server/blob/2610d2f5f4c46b069b05239d2f6f831e4d216fa1/lib/server.js#L276

[2017-06-15 21:16] vbudhram opened #5151 "Discuss method to update verified status for secondary emails"
Currently, on the secondary emails panel, a user has to click the `Refresh` button to see the verification state of the email changed. While this saves resources it does provide an inconsistent and confusing user experience.

Some possible ideas

* Add polling when secondary email panel is open
  * If there is an unverified email, and secondary email panel is open we could poll auth server for upd

[2017-06-15 21:26] rfk commented on #5151
We have a couple of instances of this "timely updates" problem now, e.g. in the devices view as well as here.  Are we at the point where we should consider a more generic solution based on e.g. a shared websocket through which the auth-server can publish events direct to the page?

(It's my understanding that websockets might be better than push for this because push requires e.g. a permission pro

[2017-06-15 21:54] #5111 closed

[2017-06-15 21:58] vladikoff commented on #5149
@udaraweerasinghege let's try to add this to the addressChain logger that we just added. See if the other servers have a test for this

[2017-06-15 22:16] vladikoff commented on #5087
From mtg:

@shane-tomlinson if `capabilities` is a lot of work then let's try this:

1. Detect Firefox Desktop 56+
2. Send a new array of `engines` or `offeredCapabilities` - this lists all presented capabilities.

If `capabilities` is easy then replace 1.

cc @eoger

[2017-06-16 12:08] shane-tomlinson commented on #5151
Here's an interesting read from 5 years ago.

https://www.w3.org/2012/10/Qualcomm-paper.pdf

If the issues mentioned haven't been addressed, both XHR polling and WebSockets kill battery life on mobile devices.

WebSockets hold open a TCP connection to the server, possibly causing fixed limit resource exhaustion in, e.g., sockets or file descriptors. We could add more servers to address this, but..

[2017-06-16 12:13] vladikoff commented on #5151
my thoughts:

I don't think the real time updates to settings are required. Polling is fine for the `unverified` email, but even then users can just use `Refresh`. I'm also not sold on the custom push setup and WebSockets. Too much overhead for no pay off.

[2017-06-16 12:14] shane-tomlinson commented on #5087
For the phase 1 MVP, I would almost certainly just hard code Fx Desktop 56 and send `engines` to the browser. Phase 2 would be to remove the UA sniff & look for capabilities.

Phase 2 could be super easy but the difficulty is still a little unknown whereas UA sniffing is a well trodden path. I might even be able to get them both done in one train, I just want to have a plan to get something in fro

[2017-06-16 12:17] vladikoff commented on #5087
Yeap, I asked @mhammond and he said sending `engines` to Desktop should be good 👍
(As mentioned in comment above)

[2017-06-16 12:55] mhammond commented on #5087
Sadly, I was wrong about the fact we can hard-code everything - the entire CC feature has some risk of not making 56. Addresses seems fine - can we maybe hard-code that to get the ball rolling and handle CC later?

[2017-06-16 13:05] shane-tomlinson commented on #5087
I'll start with addresses first then, thanks @mhammond!

[2017-06-16 13:43] mhammond commented on #5087
Note also none of this has landed in nightly yet. Bug 1361010 is the tracker, but that's probably not the right bug for when nightly can take advantage of this issue - I'll open that Monday.

[2017-06-16 13:56] vbudhram commented on #5151
I am kind of along the same lines too. Websockets would be good but I'm not sure we are at the tipping point for adding it. If we narrowed requirements for polling down to

1) Only when emails panel open
2) Only when there is an unverified email
3) Match polling rate as confirm account

this good be a good first prototype.

[2017-06-16 14:02] udaraweerasinghege commented on #5149
Do we want to add client address as another property as well? https://github.com/mozilla/fxa-auth-server/blob/2610d2f5f4c46b069b05239d2f6f831e4d216fa1/lib/server.js#L286

[2017-06-16 14:26] vladikoff commented on #5149
@udaraweerasinghege yeap! good notice!

[2017-06-18 23:52] #5062 closed

[2017-06-19 01:32] vladikoff commented on #3558
Closing this for now

[2017-06-19 11:02] shane-tomlinson opened #5159 "/connect_another_device asking user to sign in again even though the user just signed up"
I just reproduced this in Firefox 53, my guess is E10s is enabled.

STR

1. Open about:preferences#sync
2. Sign up for a new Firefox Account
3. In the same browser, open the verification link
4. Why am I being asked to sign in *again*? I just signed in?
5. Look in localStorage. The account is stored, without a sessionToken.

This has all the hallmarks of the E10s problem where localStorage from ab

[2017-06-19 13:35] mirague commented on #5052
Did this happen only sometimes? Off-topic: We're facing a similar scenario where it only happens in a blue moon making it extremely hard to debug.

[2017-06-19 14:32] vladikoff commented on #3653
@rfk let's discuss this feature. @shane-tomlinson and I totally forgot what this does : P

[2017-06-19 14:42] vladikoff commented on #3670
from mtg: should we close this or remove `reset_password_confirm=false` entirely ?

[2017-06-19 14:43] shane-tomlinson commented on #3605
I realize this isn't awesome, but realistically, we aren't going to do this. Closing.

[2017-06-19 14:43] #3605 closed

[2017-06-19 14:44] vladikoff commented on #4069
@davismtl @rfk do we still need this open here?

[2017-06-19 14:47] shane-tomlinson commented on #4252
This should be fixed with #4695 and Firefox 55, closing.

[2017-06-19 14:47] #4252 closed

[2017-06-19 14:47] shane-tomlinson commented on #4092
@jrgm - your tests took care of this, didn't they?

[2017-06-19 14:48] #5106 closed

[2017-06-19 14:51] shane-tomlinson commented on #4017
I've changed my mind on this, it now seems to me that users that click a standalone "Sign out" button from within the settings page probably wouln't expect that to cause the user to disconnect from Sync.

[2017-06-19 14:51] vladikoff commented on #4474
from mtg: closing for now, unless the issue comes back

[2017-06-19 14:51] #4474 closed

[2017-06-19 14:52] vladikoff commented on #4307
from mtg: closing this for now, will reopen if needed

[2017-06-19 14:52] #4307 closed

[2017-06-19 14:57] vladikoff commented on #4563
from mtg: this test basically shows that "Show" button hides

[2017-06-19 14:59] vladikoff commented on #4675
from mtg: have not seen this in a while

[2017-06-19 14:59] #4675 closed

[2017-06-19 15:34] #5149 closed

[2017-06-19 15:39] vladikoff commented on #5036
@ryanfeeley did you still want this , see comment above

[2017-06-19 15:44] ryanfeeley commented on #5036
@vladikoff I'm checking to see how widely "Revoke" is used and understood. Is it the most accurate label?

[2017-06-19 16:07] davismtl commented on #4069
According to this page, we are now tracking it: https://github.com/mozilla/fxa-auth-server/blob/master/docs/metrics-events.md

If we can confirm with a bug number where it was completed, that would be good.

Also, we should probably dive into this new data to make sure it is as expected.

[2017-06-19 16:13] philbooth commented on #4069
We track language at the moment but not the country the user is in.

[2017-06-19 16:24] davismtl commented on #5159
Forget phase 1-2, this means our overall m-d numbers are likely inflated, no?

This feels pretty major since e10s in on by default in 54.

[2017-06-19 16:41] philbooth commented on #5159
Fwiw, I think we've always known there are a lot of people classed as multi-device who aren't really. I have an open action item to tweak the logic for making that decision, which I will definitely get round to this week.

The question is how many of these people are there? I have a chart that attempts to answer that:

https://sql.telemetry.mozilla.org/queries/4837#9867

[2017-06-19 16:43] davismtl commented on #4069
Ahh, well in that case, let's leave this open.

[2017-06-19 17:04] ryanfeeley commented on #5098
@shane-tomlinson Here is the higher contrast image! [Artboard 7.svg.zip](https://github.com/mozilla/fxa-content-server/files/1085716/Artboard.7.svg.zip)

[2017-06-19 17:05] ryanfeeley commented on #5037
Higher contrast SVG attached
[Artboard 9.svg.zip](https://github.com/mozilla/fxa-content-server/files/1085719/Artboard.9.svg.zip)

[2017-06-19 17:40] ryanfeeley commented on #4949
I still get this error. <img width="626" alt="screenshot 2017-06-18 18 27 20" src="https://user-images.githubusercontent.com/68213/27297932-c52d0f12-54f4-11e7-93c4-b5ea4eb7c225.png">

[2017-06-19 22:07] rfk commented on #4069
@juliemccracken did we get resolution on this question?

[2017-06-19 22:18] rfk commented on #3653
IIRC this "feature" was in response to [1], where we did a forced reset of some users passwords as part of the cleanup.  I think it'll be hard to add a functional test for because there's no way to put an account into this state from the client, it's an operation done on the backend by ops.  Is it worth the complexity of mocking that out in order to add a functional test here?

[1] https://blog.mo

[2017-06-21 11:44] shane-tomlinson commented on #5087
Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1374501.

[2017-06-22 15:47] ryanfeeley opened #5168 "Discuss how we should animate new illustrations"
We have some great new illustrations that have been animated in after effects.

Here is an example in very compressed GIF format:

![open-link_1](https://user-images.githubusercontent.com/68213/27443258-76e5a500-5740-11e7-8e4f-13948e6c014b.gif)

Frame-based animations are too large (250kb or more), but we would like them animated.

The animations could be done in CSS as they are all simple shape t

[2017-06-22 16:33] ryanfeeley commented on #5168
Email: ![sent](https://user-images.githubusercontent.com/68213/27445229-f87e30cc-5746-11e7-9c94-e3671ddf0848.gif)

[2017-06-22 16:33] ryanfeeley commented on #5168
![sync devices](https://user-images.githubusercontent.com/68213/27445236-00315b46-5747-11e7-8967-f77694bc2d6d.gif)

[2017-06-22 16:33] ryanfeeley commented on #5168
![syncing](https://user-images.githubusercontent.com/68213/27445241-052863a6-5747-11e7-97e2-b2a656193787.gif)

[2017-06-22 18:01] grigoryk opened #5169 "Capitalize the authorization code when typed into the form"
Code in the email is capitalized, so it feels that there should be similar treatment for when it's actually typed into the form. Otherwise, my mind instantly goes to "is it case sensitive? probably not...", and I'm double checking myself - "what I typed looks different visually".

![screen shot 2017-06-22 at 10 56 30 am](https://user-images.githubusercontent.com/465422/27448508-e4ffcd56-5739-11e7-

[2017-06-22 18:05] grigoryk opened #5170 "Getting "passsword incorrect" after typing in the sign-in authorization code"
My browser had a wrong FxA password in the password manager. I was able to use it to get to the "typ in authorization code" screen. After entering my code, I get a "password incorrect" email. Typing in a correct password this time, I _still_ need to enter yet another authorization code.

My first impression is that this flow is rather backwards.

[2017-06-23 01:48] rfk commented on #5170
IOW, were you expecting us to tell you that your password was incorrect before we forced you through this authorization flow?

The "type in authorization code" screen essentially means that we're refusing to even check your password because we think you're an attacker, so you have to prove that you own the account before you can take any more guesses at the password.  But that's pretty hard to mes

[2017-06-23 05:21] potch commented on #5168
These all lend themselves extremely well to SVGs animated using CSS. Can take a pass at one to see what it would look like code and payload-size wise.

[2017-06-23 15:00] ryanfeeley commented on #5168
@potch That would be fantastic! We'll get some SVGs ready.

[2017-06-23 15:05] ryanfeeley commented on #5168
@potch Attached! The illustrations are done by @mart3ll and the animations were done in After effects by @epang [Syncing.zip](https://github.com/mozilla/fxa-content-server/files/1098197/Syncing.zip)

[2017-06-23 21:45] grigoryk commented on #5170
I see. To me this seemed like a routine "2fa" style login, although one I hadn't encountered before, and so behaviour was confusing.

If the messaging is more explicit, e.g. pointing out that password will be checked after correct code is provided, because of "increased security due to suspicious activity", that might be more predictable. But of course, as you say, how do you talk about suspicious

[2017-06-26 17:48] newsjunkie247 opened #5171 "Can't log in on Nightly 55"
Hi, for some reason I cannot get the login page to load on NIghtly 55. I think it was working a few weeks ago and I haven't changed my version for a while. I tried it with 3 separate accounts and two just get a spinning wheel and another a blank page. It works with Nightly 56 but for other reasons I am not ready to switch to that version. Is there any way to fix this for this version? It is also a

[2017-06-27 04:47] rfk commented on #5170
Yeah, I see what you mean - the current flow doesn't really give you any clue that something went wrong, it looks like your password was accepted and you're now at a second step of the procedure.

/cc @ryanfeeley @davismtl since we've talked about the signin-unblock experience a few times recently

[2017-06-27 18:12] shane-tomlinson commented on #5171
@newsjunkie247 - Thanks for the report - It is likely that the version of Firefox 55 Nightly that you are using does not yet have support for responding to the `fxaccounts:fxa_status` message that you mention.

Firefox 55 is now in Beta, it is no longer on the Nightly channel. Nightly has moved on to Firefox 56. Since Nightly is a test bed for landing new features, old versions of Nightly are not

[2017-06-27 18:12] #5171 closed

[2017-06-28 21:10] ryanfeeley commented on #5130
@rfk Here's a great one to a/b test.

[2017-06-28 21:43] shane-tomlinson opened #5175 "Add deep_link query parameter to adjust link"
Deep linking to open firefox to FxA won't work unless we pass a deep_link query parameter to adjust.

The extra data is of the form:

[code]

The entire portion from `firefox://...` must be URL encoded.

[2017-06-28 22:43] udaraweerasinghege opened #5176 "Error state for long email"
When creating an account, if you type in an email that is longer than 64 characters the `create account button` will be greyed out but there is no indication to as why it is an invalid state.

[2017-06-29 15:09] shane-tomlinson opened #5178 "test failures on travis: Failed test: generates a valid assertion"
For an example, see https://travis-ci.org/mozilla/fxa-content-server/builds/248398128?utm_source=github_status&utm_medium=notification

This seems to have started when we merged the [node v6 changes](https://github.com/mozilla/fxa-content-server/pull/5173), but I can't figure out why travis didn't catch the problem then.

@vladikoff - you mentioned yesterday that the verifier was still on node 4,

[2017-06-29 15:25] philbooth commented on #5178
Fwiw, I think the js-client tests are failing with the same error:

https://travis-ci.org/mozilla/fxa-js-client/builds/237501080

(debug locally to see the error)

[2017-06-29 15:48] philbooth commented on #5178
@shane-tomlinson, at least for the js-client, the key commit in the auth server seems to be the buffers => strings change, `0cfd39ca`. Tests pass against the node 6 commit but fail with that one.

[2017-06-29 15:57] philbooth commented on #5178
Fwiw, sitting with @seanmonstar now, think we have a fix.

[2017-06-29 16:27] vladikoff commented on #1847
from mtg: Not going to happen.

[2017-06-29 16:27] #1847 closed

[2017-06-29 16:29] vladikoff commented on #1882
from mtg: We fixed this up a bit with the new browser capabilities

[2017-06-29 16:29] #1882 closed

[2017-06-29 16:44] vladikoff commented on #2832
from mtg: kill it for now, unless we see it again.

[2017-06-29 16:44] #2832 closed

[2017-06-29 16:56] shane-tomlinson commented on #2002
Check out [this note](https://github.com/mozilla/fxa-content-server/blob/efea825/app/scripts/views/confirm.js#L52:L56):

[2017-06-29 20:20] ryanfeeley opened #5179 "Blue buttons lack halo on keyboard focus"
STEPS TO REPRODUCE
1. In Settings tab through sections with your keyboard

EXPECTED RESULTS
* All section buttons will have focus halo

ACTUAL RESULTS
* Blue buttons don't have focus halo

![focus](https://user-images.githubusercontent.com/68213/27708431-c67603c0-5ccd-11e7-9f3a-82dd3f48e5ec.gif)

[2017-06-29 21:16] #4952 closed

[2017-06-29 21:16] vladikoff commented on #4952
This was fixed

[2017-06-29 21:25] ryanfeeley commented on #5036
Revoke!

[2017-06-29 21:53] davismtl opened #5180 "Make Login/Registration iFrame on FirstRun Appear to Load Faster"
For Photon/Quantum, we want to make sure that our iFrame appears to load quickly. It does not necessarily need to have a faster load time but should be perceived as loading faster.

Important considerations:
- A new first run page will be launched with Firefox 56
- We plan to ask for email only first on first run to remove debate of login/registration.

[2017-06-29 21:56] ryanfeeley opened #5181 "Cached profile image not cropped properly at smaller sizes"
Gets weird and egg-shaped
![crop](https://user-images.githubusercontent.com/68213/27712255-0da55cc0-5cdb-11e7-9554-f968c6f42724.gif)

[2017-06-29 23:14] ryanfeeley opened #5186 "Make authorization code error field-specific"
We should use our lovely field-pinned error styles instead of a page error (below) that we currently use. ![466239bff2b42c017bd8d530db365cefba0982bb](https://user-images.githubusercontent.com/68213/27714469-f70db722-5ce5-11e7-8a84-d287d90b996a.png)

[2017-06-29 23:18] shane-tomlinson opened #5188 "Some fxa.content.loaded.median time values are totally unrealistic, causing problems with metrics"
<img width="576" alt="screen shot 2017-06-30 at 00 04 08" src="https://user-images.githubusercontent.com/848085/27714540-6c3b09e4-5d29-11e7-8097-53e61ca27de7.png">

We should filter out values > N. Maybe N should be 2 days.

[2017-06-30 14:42] shane-tomlinson commented on #5186
👍 - This should be an easy change. If anyone wants to do it, I can mentor them through it!

[2017-06-30 17:02] shane-tomlinson commented on #5181
Dup of #5011, closing.

[2017-06-30 17:02] #5181 closed

[2017-06-30 17:34] shane-tomlinson commented on #4974
@vladikoff - we have merged node 6, is this still a problem?

[2017-06-30 17:40] vladikoff commented on #4974
Nope! Thanks!

[2017-06-30 17:40] #4974 closed

[2017-06-30 17:41] shane-tomlinson commented on #4722
Ref #5188

[2017-06-30 18:33] seanmonstar opened #5193 "Sign-up flow: Add a “confirm password” field to minimize errors entering password, minimizing password reset."
This would be adding a second password text field, to make sure the user doesn't incorrectly type their password when signing up.

[2017-06-30 18:35] seanmonstar opened #5194 "Sign-up/in flow: Ask for email first"
Change from having separate "Sign In" and "Sign Up" screens, forcing a user to remember what action they need, and instead just make a single "Connect to Firefox Accounts" (or similar) page, with just an email text field. After they enter their email, we can determine if an account exists and forward to sign in or sign up.

[2017-06-30 18:36] seanmonstar opened #5195 "Send marketingOptIn parameter when creating an account"

[2017-06-30 18:36] seanmonstar opened #5196 "Sign-up/in flow: Don't ask to connect a mobile device when you started flow on mobile"

[2017-06-30 18:37] seanmonstar opened #5197 "Sign-in flow: Never send users to about:preferences after Sign-in"

[2017-06-30 18:38] seanmonstar opened #5198 "Settings: Communication preferences can end up in an odd state"
If a user clicks on the communications preferences checkbox rapidly, the state can become out of sync with what we think it is on the server.

[2017-07-01 00:33] #5087 closed

[2017-07-04 01:13] seanmonstar opened #5201 "Sign-up/in flow: Account verification links don’t work if you open them in certain configurations of mobile safari; instead they give a "cookies required" error."

[2017-07-04 01:13] seanmonstar opened #5202 "Sign-in flow: Add CAD if user has only 1 device"

[2017-07-04 01:14] seanmonstar opened #5203 "Device Manager: Make device icons accurate"
(e.g. Pixel is not a Tablet, Amazon Fire is not a phone)

[2017-07-04 01:17] seanmonstar opened #5204 "Settings: "Photon-themed" UI refresh"
Crouton or quality?

[2017-07-04 01:19] seanmonstar opened #5205 "Settings: Improved load times by reducing number of XHRs"

[2017-07-04 04:50] seanmonstar commented on #5195
Here's some context on the issue:

In order to subscribe with our Basket Proxy, we require an OAuth token be submitted for the user, so the proxy is only ever called by us, when a user opts in. This prevents a 3rd party from spamming the proxy with email addresses.

If a user verifies on a second device, they typically don't have a SessionToken available. That is a problem here, because a SessionT

[2017-07-04 04:55] seanmonstar commented on #5197
This sounds like a good-first-bug, but I don't actually know what it entails. @shane-tomlinson am I right?

[2017-07-04 15:20] #5140 closed

[2017-07-04 15:36] vladikoff commented on #5014
Seems like this was fixed up, no occurrences of events with that name now

[2017-07-04 15:36] #5014 closed

[2017-07-04 15:40] vladikoff commented on #4933
This was fixed 👍

[2017-07-04 15:40] #4933 closed

[2017-07-04 15:53] #4835 closed

[2017-07-04 16:17] vladikoff commented on #5169
@ryanfeeley thoughts?

[2017-07-04 16:39] vladikoff commented on #5204
@ryanfeeley is there a list of tweaks we want to make it (that are not bug-fixes that are already filed)?

[2017-07-04 16:52] philbooth commented on #5178
I believe this was fixed by mozilla/fxa-auth-server#1966. Closing, but re-open if it's still an issue for anyone.

[2017-07-04 16:52] #5178 closed

[2017-07-04 17:03] #5179 closed

[2017-07-04 17:03] #5143 closed

[2017-07-05 10:59] shane-tomlinson commented on #5197
We have little/no control over this and require a browser patch to make it so. If the user opens FxA within about:accounts, as soon as the browser detects the account is verified, it takes over and displays settings.

We should file an issue about this in bugzilla. If the browser stops using about:accounts and instead opens FxA directly, this problem will be solved automatically.

cc @mhammond, @e

[2017-07-05 11:02] shane-tomlinson commented on #5169
@seanmonstar had a good point that this is pretty trivial to do using the `text-transform: uppercase` CSS declaration. Unfortunately that also uppercases the placeholder text, and I didn't put in enough time to figure that part out.

[2017-07-05 11:32] mhammond commented on #5197
Is this https://bugzilla.mozilla.org/show_bug.cgi?id=1357085?

[2017-07-05 15:21] vladikoff opened #5209 "Nightly does not get the "use-logged-in" experience for OAuth reliers"
The "Sign in" blue button is gone in Nightly. in stable there is no form, just a sign in button
## Expected

![](http://v14d.com/i/595cf365c28bd.jpg)

## Actual

![](https://i.imgur.com/PJ5PVZb.gif)

cc @shane-tomlinson

[2017-07-05 15:56] vladikoff commented on #4863
@ryanfeeley do we still want to do this?

[2017-07-05 15:57] seanmonstar commented on #5195
There was already an issue describing this, and has a plan already in it: https://github.com/mozilla/fxa-bugzilla-mirror/issues/167

I'm going to repurpose this issue to represent the work needed just in the content-server: sending the `marketingOptIn` parameter to the auth server.

[2017-07-05 19:49] basav22 commented on #5186
@shane-tomlinson I can take this up. Can you guide me along?

[2017-07-05 20:31] potch commented on #5168
@ryanfeeley any way I can get the final graphic composed, with circles and hearts placed in the proper locations in a single SVG?

[2017-07-06 12:44] shane-tomlinson commented on #5209
I believe the problem is the way Firefox checks whether the user is in private browsing mode when E10s is enabled:

<img width="700" alt="screen shot 2017-07-06 at 13 38 16" src="https://user-images.githubusercontent.com/848085/27911445-fbb5765a-6250-11e7-8c37-a41190e9bcf7.png">

The relevant portion of Firefox code is: https://dxr.mozilla.org/mozilla-central/rev/211d4dd61025c0a40caea7a54c9066e051

[2017-07-06 13:11] shane-tomlinson commented on #5209
Opened an issue against Firefox in bugzilla here: https://bugzilla.mozilla.org/show_bug.cgi?id=1378766

[2017-07-06 13:40] shane-tomlinson commented on #5197
That's the one, thanks @mhammond!

[2017-07-06 14:57] shane-tomlinson commented on #5186
@basav22 - Thanks, you sure can!

First things first, follow the directions in the [README.md](https://github.com/mozilla/fxa-content-server/blob/master/README.md) file to get started. You can either install just the fxa-content-server and start the server using `npm run start-remote` or download all of [fxa-local-dev](https://github.com/mozilla/fxa-local-dev) and get started that way. Just instal

[2017-07-06 16:16] ckarlof opened #5210 "Confusing device name in my device list"
<img width="584" alt="screen shot 2017-07-06 at 9 14 57 am" src="https://user-images.githubusercontent.com/2365255/27921149-b117b3bc-622b-11e7-8227-d8d56b093572.png">

I think that's a Nightly install of Fennec on Android.

[2017-07-06 16:30] vladikoff commented on #5210
This is coming from Android source it seems: https://searchfox.org/mozilla-central/search?q=Go+to+settings&path=

![image](https://user-images.githubusercontent.com/128755/27921717-9f1ace2c-6246-11e7-9a9e-d970ebd64a03.png)

@eoger @grigoryk ideas ?

[2017-07-06 16:47] vladikoff commented on #5151
Let's revisit this later

[2017-07-06 16:47] #5151 closed

[2017-07-06 17:25] vladikoff commented on #5170
I got another bug report on Slack about this:

[2017-07-06 18:23] ryanfeeley commented on #5168
@vladikoff I'm on PTO but these compose SVGs are in another issue. Can you
find?

On Thu, Jul 6, 2017 at 8:44 AM Vlad Filippov <notifications@github.com>
wrote:

[2017-07-06 21:11] shane-tomlinson commented on #5170
My hope is that we can use [email first](https://github.com/mozilla/fxa-content-server/pull/5177) to block the user *before* they get to enter their password. If we do, this confusion will evaporate!

[2017-07-06 21:15] shane-tomlinson commented on #5170
This will require a change to how unblock codes are accepted, but if we can do that, all the unblock confusion with an invalid password will disappear.

[2017-07-07 20:39] grigoryk commented on #5210
@ckarlof were you using tab queues at all?

[2017-07-07 21:35] grigoryk opened #5215 "Sign-in gets stuck at "working...""
For some reason I got logged-out after upgrading my Nightly, and trying to sign back in results in a perpetual "Working...." state.

POST to `login?keys=true` succeeds with a 200, and then things get stuck.

![jdqs7dn](https://user-images.githubusercontent.com/465422/27977858-99c6b0ae-633a-11e7-93b7-a01ff4892145.jpg)
![rpd3vgn](https://user-images.githubusercontent.com/465422/27977859-99ca4d86-633

[2017-07-07 21:39] grigoryk commented on #5215
At the same time, "New sign-in to Firefox" emails are coming through.

[2017-07-07 22:04] grigoryk commented on #5215
Disconnecting and trying to sign-in gets me to the same stuck state.

[2017-07-07 22:13] ckarlof commented on #5210
No (or at least not intentionally).

[2017-07-07 22:14] ckarlof commented on #5210
Remind me how those are used? I might have been experimenting with those and don't remember.

[2017-07-07 22:30] shane-tomlinson commented on #5215
@grigoryk - this is symptomatic of a WebChannel problem. In about:config, if you search for `fxaccounts`, are all the values other than `identity.fxaccounts.lastSignedInUserHash` the default value? Usually this occurs if `identity.fxaccounts.remote.webchannel.uri` is either not set, or set to something other than `https://accounts.firefox.com/`

[2017-07-07 22:43] grigoryk commented on #5215
@shane-tomlinson it all looks OK to me: http://i.imgur.com/aBPMlZY.jpg

[2017-07-07 22:45] jrgm commented on #5215
I'll note that this issue was filed right about the same time that content train-90 went live (live at 21:32; this issue filed at 21:35).

[2017-07-07 22:45] jrgm commented on #5215
I rolled back at 21:56Z.

[2017-07-07 22:46] grigoryk commented on #5215
Unsure if this is related at all, but I'm also seeing the following errors in the console if I open `about:accounts` from the Sync Preferences screen via Sign-In button:

`

        Unexpected error 78a28dde.main.en.js:17:4002
	error main.js:18148:10

	captureError main.js:20403:19

	captureAndFlushError main.js:20433:6

	fatalError main.js:20473:20

	fatalError main.js:27299:13

	D main.js:19999:

[2017-07-07 22:47] jrgm commented on #5215
content-only rollback. I could rollback live auth and oauth if desired.

[2017-07-07 23:13] grigoryk opened #5216 "Tapping "Tap to sign in" on Android takes me to a "Create a Firefox Account" flow"
After getting logged out (for some unknown to me reason) out of my account, and being unable to sign-in on Desktop (see https://github.com/mozilla/fxa-content-server/issues/5215), I'm seeing some weird behaviour on Android.

I'm currently seeing "Cannon connect. Tap to sign in." message in Sync Prefs. Tapping on it takes me to `about:accounts?action=force_auth&entrypoint=preferences` page. Which r

[2017-07-07 23:21] grigoryk commented on #5216
And on iOS I see the same dialog, but with a `Account no longer exists. Recreate it?` message...

[2017-07-07 23:25] jrgm commented on #5215
I rolled back the oauth and auth servers just now. So everything (modulo a db migration) is back to what was running in production this morning.

[2017-07-07 23:28] grigoryk commented on #5216
On iOS, clicking through "Create Account", I get an authorization code prompt. After entering an authorization code, I'm taken to Sign-in Confirmed page. Trying to sync, I get another "can't sync" message. Opening the about:accounts page, I'm taken to the signin page directly, where it's asking me for a password. Entering my password triggers another authorization code prompt. After entering the c

[2017-07-07 23:29] grigoryk commented on #5216
After following through the steps above, I'm now able to sign-in on Desktop as well! E.g. https://github.com/mozilla/fxa-content-server/issues/5215 did not happen anymore.

[2017-07-07 23:30] grigoryk commented on #5215
@jrgm and I was just able to sign-in on all my devices, although in a bumpy and confusing way. See my actions in https://github.com/mozilla/fxa-content-server/issues/5216

[2017-07-10 11:10] shane-tomlinson commented on #5215
@grigoryk - I'm trying to reproduce against stage and locally, but have so far been unable to. Some questions to see if we can figure this out:

1. Which version of Nightly were you using?
2. On which OS? (My guess is CentOS from http://i.imgur.com/aBPMlZY.jpg)
3. Was the account new, i.e., created within the past 24 hours?
4. Was another user already signed in? I see the little "verify your email

[2017-07-10 13:02] shane-tomlinson opened #5217 "FxA stalls at spinner if locale is specified on URL"
STR

1. Open https://accounts.firefox.com/es, https://accounts.firefox.com/pt, or any `https://accounts.firefox.com/<locale_here>`. Spinner.
2. Open `https://accounts.firefox.com/<locale_here>/signin`. Spinner.
3. Open https://accounts.firefox.com/bleck - 404

![specify-locale-blank-page](https://user-images.githubusercontent.com/848085/28019277-5804fa78-6578-11e7-9802-62d11fd25a57.gif)

[2017-07-10 13:12] vladikoff commented on #5217
dup of old https://github.com/mozilla/fxa-content-server/issues/1443

[2017-07-10 13:25] shane-tomlinson commented on #5217
Great memory @vladikoff! I forgot about that report. A bunch of entries in Kibana have a referrer of https://accounts.firefox.com/pt, which seems odd.

[2017-07-10 14:52] vladikoff commented on #5217
that is odd.

[2017-07-10 14:53] shane-tomlinson opened #5218 "Add ability to specify which Firefox Mobile release channel to install"
Deep links currently work as expected in Firefox Beta for both iOS and Android. The patches have not yet made their way to release.

To facilitate E2E testing, it would be great if we had the ability to specify
which release channel the user should install.

With the signinCode flow, the sent SMS contains a link of the form `https://accounts.firefox.com/m/<signin_code>`. Clicking on the link force

[2017-07-10 15:38] vladikoff commented on #5170
Another report: https://github.com/mozilla/fxa-bugzilla-mirror/issues/299

[2017-07-10 20:38] vladikoff commented on #5168
@ryanfeeley might have this!

[2017-07-10 20:45] vladikoff commented on #5130
from mtg, Basically: Active state is just no `disabled` attr

[2017-07-10 20:50] vladikoff commented on #4726
Fixed!

[2017-07-10 21:00] juliemccracken commented on #4069
I talked to Brian about this back in early May when legal was revising Mozilla's privacy policy. Brian indicated that as long as country is stored in logs, as opposed to database, and is subject to the same deletion policy as other logged data, it's ok to collect it.

[2017-07-10 21:18] vladikoff commented on #4069
from above:

Decide on the data model. Do we tag every event with geo lookup? Only flow.begin events? Something else?
Implement said event tagging and get it deployed, which I don't think would be too much code given (1)
Update our heka -> S3 export scripts to include the new data
Update our redshift import scripts to pull in the new data"

[2017-07-11 10:41] shane-tomlinson commented on #5130
I had a quick go at this, *almost* everything worked as expected. Some of the forms in the /settings page need to have better error validation before this approach is used universally, esp the settings->avatar->camera page. It's possible to click "Take picture" without first granting browser permissions to use the camera. It seems like we should be able to disable the button for this special case

[2017-07-11 13:50] ryanfeeley commented on #5130
@shane-tomlinson Well spotted.

[2017-07-11 13:55] #5136 closed

[2017-07-11 14:33] shane-tomlinson commented on #4726
We never fixed this. :(

[2017-07-11 14:36] vladikoff commented on #4726
Ah, everyone said we did, but we didn't :(

[2017-07-11 14:37] ryanfeeley commented on #4726
@vladikoff I swear it was a regression. I will find the screenshots!

[2017-07-11 14:37] #5175 closed

[2017-07-11 14:37] #5218 closed

[2017-07-11 16:03] shane-tomlinson opened #5226 "circle test failure - settings clients - sessions are listed in clients view"
https://circleci.com/gh/mozilla/fxa-content-server/7451

AssertionError: expected 'Web Session, node-XMLHttpRequest' to equal 'Web Session, node-XMLHttpRequest null'
  at Function.assert.equal  <node_modules/intern/browser_modules/chai/chai.js:2277:10>
  at Command.<anonymous>  <tests/functional/lib/helpers.js:1582:16>
  at runCallback  <node_modules/leadfoot/Command.js:526:31>
  at Command.<anony

[2017-07-11 16:13] shane-tomlinson commented on #5176
@udaraweerasinghege - 64 characters, or 64 chars on the local side? If 64 chars on the local side, that's by design, as specified in [IETF rfc5321](http://tools.ietf.org/html/rfc5321#section-4.5.3.1.1). See https://github.com/mozilla/fxa-content-server/blob/2ffdc212c03eb9534b53795d3bc25499b8307fc0/app/scripts/lib/validate.js#L28:L41.

[2017-07-11 16:17] vladikoff commented on #5176
`no indication to as why it is an invalid state.`

@udaraweerasinghege can you still repro this?
![o](https://user-images.githubusercontent.com/128755/28078416-c8defde2-6632-11e7-8126-059979c7f1b8.gif)

I saw it on your machine, but seems like the invalid state is there?

"TWFuIGlzIGRpc3Rpbmd1aXNoZWQsIG5vdCBvbmx5IGJ5IGhpcyByZWFzb24sIGJ1dCBieSB0aGlz IHNpbmd1bGFyIHBhc3Npb24gZnJvbSBvdGhlciBhbmltYWxzL

[2017-07-11 16:31] udaraweerasinghege commented on #5176
Ah I believe we didnt even click the create account button since the form looked disabled with a longer email, so i assumed the form was in an invalid state and the button looked disabled.

I think this goes with what rfeeley was saying how users think the form is disabled ( I clearly did :p ). I think this issue can be closed. Especially since the button disable looking state will be going away s

[2017-07-11 16:56] shane-tomlinson commented on #5176
Thanks for checking @udaraweerasinghege. Closing as "will be fixed by #5130".

[2017-07-11 16:56] #5176 closed

[2017-07-11 17:02] #5226 closed

[2017-07-11 17:20] ryanfeeley commented on #4726
Can't find any. It was all a dream.

[2017-07-11 17:21] ryanfeeley commented on #4726
@davismtl What about:

* user<span></span>@domain.com registered. [Mistyped email?](#)

[2017-07-11 17:21] shane-tomlinson opened #5228 "exceptions not being handled in `npm run test-server`"
STR

1. Run `npm run test-server | less`
2. Look for `UnhandledPromiseRejectionWarning`

(node:51803) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 4): AssertionError: expected 2 to equal 0

This is happening between:

PASS: check resources entrained by /signin in all locales - #https get http://127.0.0.1:3030/signin de (10ms)

and

PASS: check resources entrained by

[2017-07-11 17:21] shane-tomlinson commented on #5228
cc @jrgm - any ideas?

[2017-07-11 20:45] davismtl commented on #4726
Sounds good

[2017-07-11 21:01] davismtl opened #5229 "Asked me Login after Successful Login"
While filming for Send Tab with Spencer, I quickly created an account in a new profile and then did a login in another new profile.

After login, the firstrun page redirected to https://accounts.firefox.com/signin

I checked the browser and I was officially logged in and syncing so I did not need to login again. My state was just not detected.

I was running 55.0b5 (64-bit) on Mac OS.

[2017-07-11 21:15] shane-tomlinson commented on #5229
@davismtl - do you remember the steps you used to get there, on which browser/device/os combo?

[2017-07-11 21:15] shane-tomlinson commented on #5229
Which page redirected to the /signin page?

[2017-07-11 21:16] shane-tomlinson commented on #5229
I'm tired and not thinking/reading straight, you said that in:

[2017-07-11 21:41] davismtl commented on #5229
I did login from the sign-in form on first run (I specifically clicked "Already have an account").

[2017-07-11 21:48] ryanfeeley commented on #5168
@potch Updated the assets and included composed SVG (comp.svg) as well! Is this what you need? [Syncing-assets.zip](https://github.com/mozilla/fxa-content-server/files/1140326/Syncing-assets.zip)

[2017-07-11 22:21] potch commented on #5168
@ryanfeeley awesome. thanks!

[2017-07-12 10:26] shane-tomlinson opened #5230 "Test failure on master/circle - settings clients - sessions are listed in clients view"
https://circleci.com/gh/mozilla/fxa-content-server/7471?utm_campaign=build-failed&utm_medium=email&utm_source=notification

AssertionError: expected 'Web Session,' to equal 'Web Session, node-XMLHttpRequest'
  at Function.assert.equal  <node_modules/intern/browser_modules/chai/chai.js:2277:10>
  at Command.<anonymous>  <tests/functional/lib/helpers.js:1582:16>
  at runCallback  <node_modules/leadf

[2017-07-12 10:39] shane-tomlinson commented on #5230
The screen cap shows when no userAgent is returned for the item, an extra comma appears.

[2017-07-12 11:02] shane-tomlinson commented on #5229
Did you verify the account before signing in in the 2nd browser? Did you have to confirm in the 2nd browser?

[2017-07-12 11:09] shane-tomlinson commented on #5229
AAAGH!

![sign-up-sign-in](https://user-images.githubusercontent.com/848085/28114973-fc9e9548-66fa-11e7-8a04-3b03e7ea39bd.gif)

[2017-07-12 11:20] shane-tomlinson commented on #5229
This reproduces on both Firefox 55 and Firefox 56 when signing in from the firstrun page.

[2017-07-12 14:08] shane-tomlinson commented on #5229
This has the same root cause as https://github.com/mozilla/fxa-content-server/issues/5209.

Because firstrun is considered a Sync flow, no account information is written to localStorage because we assume the browser will always respond with account information when requested. Upon successful login, FxA sends a `login` message to the firstrun page, causing the firstrun page to open https://accounts

[2017-07-12 16:22] shane-tomlinson commented on #5209
I have filed a Firefox patch here: https://reviewboard.mozilla.org/r/156572/diff/1#index_header

[2017-07-12 16:22] shane-tomlinson commented on #5229
I have filed a Firefox patch here: https://reviewboard.mozilla.org/r/156572/diff/1#index_header

[2017-07-12 16:41] davismtl commented on #5229
@shane-tomlinson Is there something we can do on our end to avoid waiting for the patch to make it into Firefox?

For example, we know it happens when entrypoint=firstrun.

[2017-07-12 16:50] shane-tomlinson commented on #5229
@davismtl - There are a couple of possible partial solutions outlined above. They'll work around this problem, but not the problem @vladikoff outlined in #5209.

Either option is fairly straight forward. Option 2 preserves existing behavior, option 3 changes behavior to end in this screen:

<img width="493" alt="screen shot 2017-07-12 at 17 49 42" src="https://user-images.githubusercontent.com/848

[2017-07-12 17:08] davismtl commented on #5229
Are there any down sides to not sending login message to firstrun?

What I like about option 3 is that we can make the change on our end without another team. (even if it requires changes to functional test)

Also, I already hated the fact that we sent users to Settings. This page isn't much better but a small improvement.

[2017-07-12 19:00] ryanfeeley opened #5233 "Fix show password border radius problem"
I noticed that the Show Password has a different border radius than the parent text input.

![border-radius](https://user-images.githubusercontent.com/68213/28134890-66f137b8-6712-11e7-9711-09c33215ae3a.gif)

I was hoping to fix this myself, but was unable to do all the states (hover, focus, etc) in DevTools.

It looks like what is 2px should be 4px.

Anyone keen to try?

[2017-07-12 20:19] shane-tomlinson commented on #5229
The firstrun team [sends a message to GA](https://github.com/mozilla/bedrock/blob/55bead0e3dd8be7de19d4db7851c232e09c780f0/media/js/base/mozilla-fxa-iframe.js#L200) to track the # of logins. This number will already be skewed though, users that go through signin confirmation do not cause the `login` message to be sent to the firstrun page.

Option 3 then?

[2017-07-12 20:22] davismtl commented on #5229
Yeah.

Can we make recommendations on how to fix GA tracking of login?

[2017-07-12 20:24] davismtl commented on #5229
Follow up, would registration tracking in GA be impacted the same way?

[2017-07-12 22:37] grigoryk commented on #5215
I got logged out again, I'm now seeing this behaviour again, on the current Nightly 56 and on 54. Pressing "Reconnect to Sync" brings me to a Create Account page, generally seeing the flow I've described in https://github.com/mozilla/fxa-content-server/issues/5216 but on Desktop.

I'm trying all of this with my regular (rather old) account.

e10s is disabled on my Firefox 54. It is enabled on Nigh

[2017-07-12 22:39] grigoryk commented on #5215
I can't get past the sign-in form, so I don't see any requests for unlock codes. Neither do I get an email with one. I do see emails such as "new sign-in", and before "confirm sign-in" after every attempt to login in the browser.

[2017-07-12 23:04] vladikoff commented on #5215
https://bugzilla.mozilla.org/show_bug.cgi?id=1380412#c1

[2017-07-12 23:04] vladikoff commented on #5215
We are working on a DB fix for this...

[2017-07-12 23:55] jbuck commented on #5215
See https://bugzilla.mozilla.org/show_bug.cgi?id=1380412#c3

[2017-07-13 01:35] #5215 closed

[2017-07-13 01:50] vladikoff commented on #5229
This was fixed. https://bugzilla.mozilla.org/show_bug.cgi?id=1380412#c3

[2017-07-13 01:50] vladikoff commented on #5229
Nevermind, different issue

[2017-07-13 03:12] ryanfeeley opened #5234 "Prevent page zooming on mobile browsers"
STEPS TO REPRODUCE
1. Visit FxA settings on a mobile browser in responsive view
2. Pinch or double tap to zoom

ACTUAL RESULTS
![2017-07-12 22 34 17](https://user-images.githubusercontent.com/68213/28148865-5f1d3d62-6757-11e7-8c1f-23bc37c45bcb.png)

EXCEPTED RESULTS
- Zoom is disabled as described in this @darkwing [blog article](https://davidwalsh.name/zoom-mobile-browsers)

[2017-07-13 03:16] ryanfeeley opened #5235 "Avatar view messed up on smallest iPhone"
Let's get iOS ready for account management.

STEPS TO REPRODUCE
1. Upload an avatar in Firefox for iOS

EXPECTED RESULTS
- Image preview area fits into white overlay
- Image not stretched

ACTUAL RESULTS
- Image stretched, not centered, and black preview area is oversized
![2017-07-12 22 33 35](https://user-images.githubusercontent.com/68213/28148977-28671a12-6758-11e7-9cc2-ec0846f5bcc6.png)

[2017-07-13 12:56] shane-tomlinson commented on #5229
I don't have a recommendation at this time, we should find out whether they
actually use the number. Ever since we added signin confirmation, their
numbers would have been off since the `login` message was only sent
for users that didn't need to confirm the signin.

[2017-07-13 12:57] vladikoff commented on #5235
dup of https://github.com/mozilla/fxa-content-server/issues/3485

[2017-07-13 12:57] #5235 closed

[2017-07-13 13:46] #5230 closed

[2017-07-13 13:49] #4726 closed

[2017-07-13 17:53] davismtl commented on #5229
I confirm that they use it. I was actually coincidentally asked about its accuracy 2 days ago. I said I had doubts and this conversation confirmed my suspicion.

[2017-07-13 19:14] ryanfeeley commented on #5169
Bummer about the placeholder inheritance. Can't be solved? If solvable, do it!

[2017-07-13 19:16] ryanfeeley commented on #5168
@potch Eric suggest we remove the movement of the chain links at the beginning.

The SVGs for all four are now here!

[SVG Files.zip](https://github.com/mozilla/fxa-content-server/files/1146366/SVG.Files.zip)

[2017-07-13 19:27] seanmonstar commented on #5169
It's possible to style the placeholder text differently: https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder

[code]

Standardized in Firefox 51, before that there is `::-moz-placeholder`.

[2017-07-13 19:44] vladikoff commented on #5169
:shipit:

[2017-07-13 21:06] ryanfeeley commented on #4949
What if the full page reloaded instead of throwing this error?

[2017-07-14 19:51] ryanfeeley opened #5244 "Allow users to correct phone number after resend"
STEPS TO REPRODUCE
1. Sign up for a Sync account
2. Verify in original Firefox
3. Send yourself an SMS
4. Resend the SMS
5. Realize that you entered the wrong phone number

EXPECTED RESULTS
![resent-expected](https://user-images.githubusercontent.com/68213/28228648-5af1feba-68ad-11e7-97c7-146d2fcc30f5.png)

ACTUAL RESULTS
![resent-actual](https://user-images.githubusercontent.com/68213/28228348-22

[2017-07-14 19:55] vladikoff commented on #5244
Oh I actually did get "mistyped number?"  before, not sure where it went...

[2017-07-14 20:00] ryanfeeley commented on #5244
@vladikoff My first screenshot was wrong as it wsa the "link to sent" and not "link resent to".

Although whoever did the shake is owed a high five from me. Are we using that in other places too?

[2017-07-17 04:26] rfk commented on #5170
ouch 💔

[2017-07-17 15:34] vladikoff commented on #5244
@ryanfeeley "I keep getting mistyped number", do you not get the link?

[2017-07-17 15:52] vladikoff commented on #5234
@shane-tomlinson any input on this?

[2017-07-17 16:56] vladikoff commented on #4908
Did some tests on this and it seems to be working correctly.  We also are able to detect the browser on the front-end here: https://github.com/vladikoff/ua-parser-js/blob/643d1698aef5bed095e1264ae258902bf346175c/src/ua-parser.js#L252

[2017-07-17 16:56] #4908 closed

[2017-07-17 17:53] davismtl commented on #5170
The main pain point I see is that we ask you to confirm your email with every password guess. This is silly. If the user confirmed their email once in the flow, no need to do it again.

And then, to @shane-tomlinson 's point, asking the email first without the password, should allow us to send a confirmation code before they even type in their password. But again, let's NOT ask them to type it in

[2017-07-17 17:54] ryanfeeley commented on #5234
However Facebook does it works well on mobile web.

On Mon, Jul 17, 2017 at 12:20 PM Vlad Filippov <notifications@github.com>
wrote:

[2017-07-17 18:02] ryanfeeley commented on #5244
@vladikoff That not relevant. A user could have entered in the wrong number and not realized until after hitting resend.

[2017-07-17 18:27] vladikoff commented on #5244
@ryanfeeley Oh i see it now, you hit resend and that made "mistyped?" disappear. yea we can fix that.

(I don't think it is a ` FxA-130: Crouton Flow` bug though, this seems minimal. However we can still fix it)

[2017-07-17 18:38] ryanfeeley commented on #5244
The boy who cried crouton flow.

On Mon, Jul 17, 2017 at 2:27 PM Vlad Filippov <notifications@github.com>
wrote:

[2017-07-17 19:59] #5041 closed

[2017-07-18 03:18] rfk commented on #5170
@davismtl is this important enough to spin off a separate bug for it and include in the Q3 quality backlog?  Your comment suggests yes, but let's be explicit about these things given that we want to "lock down" the OKR lists this week.

[2017-07-18 12:59] shane-tomlinson commented on #5229
A tentative Bedrock only fix has been shipped that causes the firstrun page to open /settings with the `?service=sync` query parameter, which works around the browser bug.

[2017-07-18 14:29] #5244 closed

[2017-07-18 15:14] shane-tomlinson opened #5247 "Flaky functional test - "Firefox Desktop Sync v3 sign_up - Fx >= 56, `creditcards` supported""
See https://circleci.com/gh/mozilla/fxa-content-server/7540#tests/containers/1

I've seen this quite a bit.

[2017-07-18 16:54] #5195 closed

[2017-07-18 16:57] davismtl commented on #5170
I filed another bug.
mozilla/fxa-auth-server#1998

[2017-07-19 08:52] shane-tomlinson commented on #5229
Closing as fixed by bedrock. We can open additional bugs as needed.

[2017-07-19 08:52] #5229 closed

[2017-07-19 17:41] ryanfeeley opened #5254 "Blue buttons lack active state"
STEPS TO REPRODUCE
1. Visit devices list
1. Click and hold Refresh button
1. Drag cursor off button while holding

EXPECTED RESULTS
1. Button becomes dark when clicked
1. Button returns to default colour when cursor dragged away

ACTUAL RESULTS
![off-state](https://user-images.githubusercontent.com/68213/28381127-bcf09526-6c87-11e7-91bb-5e6b965216cd.gif)
1. Button does not change when clicked
1. B

[2017-07-19 17:47] ryanfeeley opened #5255 "Add drag-off state for buttons"
All of our buttons have a hover state. We should apply the same state for when users click on a button, but drags off. This lets the user subtly know that the action will be performed, but which button to return their cursor to if they want to perform the action.

Example from Bootstrap:
![what-a-drag](https://user-images.githubusercontent.com/68213/28381400-bc2b35c8-6c88-11e7-8a97-0a6a659ffcc4.gi

[2017-07-19 17:59] ryanfeeley commented on #5255
Related: https://github.com/mozilla/fxa-content-server/issues/5254

[2017-07-19 18:04] ryanfeeley commented on #3485
@vladikoff Wow, this bug is old.

[2017-07-19 18:44] vladikoff commented on #5134
This was fixed!

[2017-07-19 18:44] #5134 closed

[2017-07-19 18:44] vladikoff commented on #5134
https://github.com/mozilla/fxa-content-server/pull/5245

[2017-07-20 13:41] #4988 closed

[2017-07-20 15:04] #5098 closed

[2017-07-20 16:35] shane-tomlinson commented on #5254
Ref #5255

[2017-07-20 16:46] shane-tomlinson commented on #5216
@grigoryk - is this fixed now?

[2017-07-20 17:46] vladikoff commented on #3908
cc @udaraweerasinghege let's check this by looking at the new fields we are adding in the auth server

[2017-07-20 18:03] vladikoff commented on #4991
@udaraweerasinghege sort of related to https://github.com/mozilla/fxa-content-server/issues/4991 after https://github.com/mozilla/fxa-content-server/issues/3908 is done

[2017-07-20 18:48] ryanfeeley opened #5262 "Expand Connect Another Device to all sync Desktop sign-ins"
**Currently, in several situations, Sync users aren't seeing our great connect another device experience when they've verified a new account or confirm a sign-in.**

Here is the feature doc that @ryanfeeley , @shane-tomlinson and @davismtl worked on for this:
https://docs.google.com/document/d/1I2lspQj1x7AMIahM7PgcphnMSfLX-pJC_teru4HYaBs/edit#heading=h.q9y5y6jxb0qy

Here is the feature card for th

[2017-07-20 18:56] vladikoff commented on #5085
From mtg with @ryanfeeley we decided to skip on this, the "skip" step works well right now with the new onboarding flow

[2017-07-20 18:56] #5085 closed

[2017-07-20 19:25] #5105 closed

[2017-07-20 20:56] #5036 closed

[2017-07-21 09:16] shane-tomlinson commented on #5262
@ryanfeeley - this is a full feature card waiting to happen.

[2017-07-21 16:50] davismtl commented on #5262
Already done yesterday for the product meeting:
https://projects-beta.growthhackers.com/cards/add-connect-another-device-to-signin/ghpyETxuFuK63zGPZsC4kw

[2017-07-21 16:52] davismtl commented on #5262
Also this one:
 https://projects-beta.growthhackers.com/cards/add-connect-another-device-to-signin/ghpyETxuFuK63zGPZsC4kw

[2017-07-21 17:24] ryanfeeley commented on #4863
@davismtl @vladikoff I renamed "Add-ons" to "Extensions & themes", tweaked the sizing, changed the heading, and added one line to describe it. I'm also going to have @mheubusch take a look.

Thoughts?
![choose-what-to-sync](https://user-images.githubusercontent.com/68213/28474773-cfc1be32-6e17-11e7-850e-44c14cb65ecd.png)

[2017-07-21 17:38] vladikoff commented on #4863
for competition, the new graphic is :

<img src=https://user-images.githubusercontent.com/128755/28475366-cd5fb912-6e19-11e7-8985-71fc334927b5.png width=450 />

[2017-07-21 17:40] ryanfeeley commented on #4863
And hopefully soon animated!
![sync devices](https://user-images.githubusercontent.com/68213/27445236-00315b46-5747-11e7-8967-f77694bc2d6d.gif)

[2017-07-21 18:13] davismtl commented on #4863
Thoughts:

- I love the animation. Really cool and simple.
- If you are going to rename some of them, History could maybe become **History & Forms** to be more accurate
- I'm not fond of the text that you proposed. Maybe... "Choose which data of yours you want accessible everywhere you use Firefox. We encrypt everything for your security." I'm not even a fan of this but... Put value prop first, me

[2017-07-21 18:28] #5051 closed

[2017-07-22 13:39] #5254 closed

[2017-07-22 22:17] aayushis12 commented on #5193
Hi,
I would like to get this assigned to me as my first bug.I am a beginner.
Thanks.

[2017-07-23 21:13] rfk commented on #5193
Hi @aayushis12, thanks for reaching out!  Unfortunately I think the status of this bug is not clear, and @seanmonstar already has a working PR for this issue.  I'm going to go ahead and remove the "good-first-bug" label from this since it's already in progress, sorry for the confusion.

Taking a look at some other bugs, I think this one would be a good starter if you're interested:

  https://gith

[2017-07-24 05:56] mhammond opened #5269 "addresses and creditcard engines are disabled by default"
With a new nightly that does the "new engine" handshake, you are correctly presented with new "addresses" and "creditcards" engines - however, they are disabled by default. I believe UX wants everything enabled by default.

[2017-07-24 05:57] mhammond commented on #5269
(actually, full disclosure - I only enabled "addresses", not "creditcards", as the latter is at risk for 56 - but it appears they are probably the same)

[2017-07-24 07:23] rfk commented on #5043
@vbudhram do you consider this in-scope for Q3?  Let's remove it from the milestone if it's not going to be in-scope.

[2017-07-24 09:38] shane-tomlinson commented on #5269
Oh. I totally misread [this requirement](https://github.com/mozilla/fxa-content-server/issues/5087):

I ignored/didn't see/saw and forgot the part of `checked by default in "choose what to sync"` and interpreted the whole thing as "disabled by default"

[2017-07-24 10:40] aayushis12 commented on #4928
Hi, I would like to work on this bug as my first bug. Please assign and provide further details on the same.

[2017-07-24 11:03] shane-tomlinson commented on #5269
@ryanfeeley - Did we discuss this? Did I uncheck those by default based on something you told me? I have a PR that fixes this on train-91, just want confirmation the fix is "Doing the right thing".

[2017-07-24 11:09] shane-tomlinson opened #5271 ""Receive the monthly Firefox newsletter" looks too large on new firstrun page."
STR

1. In Fx 54, create and open a new profile.
2. Look at the "Receive the monthly Firefox newsletter" text, it's too big compared to its surroundings.

<img width="457" alt="screen shot 2017-07-24 at 12 06 36" src="https://user-images.githubusercontent.com/848085/28520798-de9f358a-7068-11e7-9f8b-448c7799d571.png">

[2017-07-24 11:10] shane-tomlinson opened #5272 "All sync engines in a single column in new firstrun page."
STR

1. Using Fx 54, create and open a fresh profile.
2. On the firstrun page, create a new FxA account.
3. The CWTS engines are all in a single column.

<img width="420" alt="screen shot 2017-07-24 at 12 06 47" src="https://user-images.githubusercontent.com/848085/28520829-07a0b09e-7069-11e7-9535-494d47a9735c.png">

[2017-07-24 11:12] shane-tomlinson opened #5273 ""Save settings" button is partially hidden on CWTS page in new firstrun page"
STR

1. In Fx 54, create and open new profile.
2. Sign up for a new FxA account.
3. On the CWTS page, deselect one of the sync engines.

<img width="395" alt="screen shot 2017-07-24 at 12 06 59" src="https://user-images.githubusercontent.com/848085/28520897-4d08b226-7069-11e7-9a51-ae5edc26d0d6.png">

[2017-07-24 13:13] shane-tomlinson opened #5276 "Stop special casing `addresses` Sync bucket test"
[@mhammond says we should be able to remove the special case](https://github.com/mozilla/fxa-content-server/pull/5270/files/3b3dbe57d59b3636cefc3a6a33af75e35488535a#r129022060) for `addresses` and treat that bucket just like creditcards. Less code sounds great to me!

[2017-07-24 13:38] vladikoff commented on #5209
Fixed, tested via https://github.com/mozilla-services/fxa-testing-e2e/pull/22 on Nightly

[2017-07-24 13:38] #5209 closed

[2017-07-24 14:36] #5247 closed

[2017-07-24 15:17] ryanfeeley commented on #5271
@shane-tomlinson Agreed! Make the font size the same as the legal copy at this width?

[2017-07-24 15:31] philbooth commented on #5180
Having had a look with WebPageTest, it seems like the clearest way to make noticeable changes here is via some form of server-side rendering so that we can get markup onto the screen quicker without waiting for all of the JS to download first.

@shane-tomlinson I know we've talked vaguely about this topic in the past, what do you think about me trying to dig into it properly?

* [Results](https://

[2017-07-24 15:56] philbooth commented on #5180
Whoops, came up in the meeting is already working on this, taking my face off it.

[2017-07-24 16:44] ryanfeeley opened #5277 "On device disconnect, default "Rather not say" to selected"
Let's save users a click when they disconnect devices by defaulting the "Rather not say" option to selected.

<img width="436" alt="image" src="https://user-images.githubusercontent.com/68213/28534172-bdf0e0c2-706d-11e7-8213-b9d07b68a5a3.png">

Why are users disconnecting devices in the past month?
* 2.1% - Suspicious device
* 2.7% - Lost or stolen device
* 41.1% - Old or replaced device
* 30.1% -

[2017-07-24 17:07] #4991 closed

[2017-07-24 17:07] vladikoff commented on #3908
Fixed in https://github.com/mozilla/fxa-content-server/pull/5264

[2017-07-24 17:07] #3908 closed

[2017-07-24 17:33] grigoryk commented on #5216
Yes, I believe this was a different manifestation of https://github.com/mozilla/fxa-content-server/issues/5215

[2017-07-24 17:36] #5216 closed

[2017-07-24 17:36] vladikoff commented on #5216
👍 thanks for the response

[2017-07-24 19:54] ryanfeeley commented on #4928
👍 Let's do it.

[2017-07-24 20:21] vladikoff commented on #4928
@aayushis12 Please see the two templates here:

![image](https://user-images.githubusercontent.com/128755/28542824-a4ef5e5a-708b-11e7-917b-bce20a154314.png)

You need to make the changes to the  `force_auth` template and add the "continue to Firefox Sync"  string, just like it is in the other templates.

To quickly get started see https://github.com/mozilla/fxa-content-server#quick-start and the r

[2017-07-24 20:25] aayushis12 commented on #4928
Hi, I am a beginner. Please guide me a little bit. Thanks.

[2017-07-24 20:48] vladikoff commented on #4863
from mtg: for next 2 weeks to figure out cc @ryanfeeley @davismtl

[2017-07-24 20:50] vladikoff commented on #5194
from mtg: for train-93

[2017-07-24 20:56] vladikoff opened #5278 "CAD phase 3 A/B Test for train-93"

[2017-07-24 22:18] seanmonstar opened #5279 "Update Confirm view to handle when verification is using Push"
The auth-server will determine whether to send a message via email or push, as defined in https://github.com/mozilla/fxa-auth-server/issues/1978. It will respond with a `verificationMethod` of... something that isn't `email`, which should be determine in this work. Easiest suggest is `verificationMethod: "push"`, but perhaps a more generic term is desired for if we add other methods?

The confirm

[2017-07-25 04:20] rfk commented on #4928
@aayushis12 so the first step will be to get a local checkout of this repository up and running to develop with.  You'll need to ensure you have installed the dependencies listed here:

  https://github.com/mozilla/fxa-local-dev#dependencies

Then follow the steps described here to get a copy of the code and run the server locally:

 https://github.com/mozilla/fxa-content-server#quick-start

And i

[2017-07-25 05:20] shane-tomlinson opened #5280 ""How old are you" not autofocused if email/password are already filled."
STR

1. On the signin page, fill out the email & password field.
2. Click "Create an account"
3. "How old are you?" is not autofocused. Nothing is.

[2017-07-25 12:36] #5280 closed

[2017-07-25 13:37] #5269 closed

[2017-07-25 15:16] ryanfeeley commented on #4949
If the page needs to be reloaded, can we do that for the user instead of throwing this error?

[2017-07-25 16:01] #5271 closed

[2017-07-25 16:01] #5273 closed

[2017-07-25 16:31] philbooth commented on #5198
@ryanfeeley, Shane mentioned that you originally designed this checkbox to have a spinner overlay while the request is in flight to the back-end, so that user's don't send racing subscribe/unsubscribe attempts. Is that still the preferred approach for handling this?

[2017-07-25 18:18] vladikoff commented on #5198
@philbooth we used mdl lite as the base for the checkbox, this might be helpful for you to add a loading state: https://getmdl.io/components/index.html#loading-section/spinner

[2017-07-25 20:37] rfk commented on #4949
I don't think a reload should be necessary - instead, we need to keep track of the timestamp at which we generated our assertion, and generate a fresh one if it's more than X minutes old.

[2017-07-25 20:57] vbudhram opened #5285 "SMS did not show during Sync Fest"
STR:

1) Create new account
2) Get account verification link from email and append `forceExperimentGroup=treatment&signinCodes=true`
3) Open updated verification link in same browser different tab.

Expected:
Taken to SMS screen.

Actual:
Taken to account verified screen.

I was under the impression that SMS was enabled for Canada and US? I have not been able to reproduce this locally but saw it d

[2017-07-25 21:01] vladikoff commented on #5285
@vbudhram wasn't it SMS that didn't show up, not CAD?

[2017-07-25 21:05] vbudhram commented on #5285
Woops you are right, updating.

[2017-07-26 07:52] philbooth commented on #5198
Actually, I misunderstood this issue, I don't think it's to do with clicking rapidly as much as it is to do with clicking more than twice.

If I click slowly three times with a 5-second pause in between, checked => wait => unchecked => wait => checked, when I subsequently view my communication preferences in `/settings` it doesn't think I'm subscribed.

[2017-07-26 08:22] philbooth commented on #5198
The content server uses `this.$('.marketing-email-optin').is(':checked')` to determine whether the user has checked the checkbox. For me at least, the `checked` attribute is never set, only the parent `label` element gets an `is-checked` attribute.

Looking at the source for `fxa-checkbox`, it seems like that is by design. The content-server's expectation about the `checked` attribute doesn't seem

[2017-07-26 09:47] philbooth commented on #5198
As usual I was talking rubbish here. `this.$('.marketing-email-optin').is(':checked')` works correctly, that's not the issue.

[2017-07-26 11:00] philbooth commented on #5198
I don't understand what this problem actually is, I realise. There were a couple of things I thought it was, related to me running locally and also general stupidity, but testing against prod I can't reproduce anything like the described behaviour. Anyone else know / can reproduce?

/cc @seanmonstar

[2017-07-26 12:04] apoorvasingh17 commented on #5233
Has this issue been resolved?

[2017-07-26 12:34] vladikoff commented on #5233
@apoorvasingh17  hey, nope still happening! See links above for the attempted pull request

[2017-07-26 14:51] shane-tomlinson commented on #5285
@vbudhram - which browser version?

[2017-07-26 14:53] shane-tomlinson commented on #5285
This can happen on Firefox 54 if E10s is enabled.

[2017-07-26 14:54] vbudhram commented on #5285
@shane-tomlinson I believe @ryanfeeley was using Nightly.

[2017-07-26 15:02] shane-tomlinson commented on #5285
The strange part about this is on signup, desktop users should never see "account verified". If they don't see SMS, they should be taken to CAD. This sounds suspiciously like a user that is signing in that had to go through signin confirmation.

[2017-07-26 16:25] shane-tomlinson opened #5290 "Clicks on a "back" link with href="#" append a "#" on the URL, cannot be opened in a new tab"
STR

1. In Fx Desktop using a fresh firefox profile, open https://accounts.firefox.com/signup?context=fx_desktop_v3&service=sync
2. Fill out the /signup page
3. On CWTS, click "Mistyped email?"
4. A hash appears on the URL

![hash-on-url](https://user-images.githubusercontent.com/848085/28631880-aaeacc26-7226-11e7-9a06-d9faa013a32e.gif)

This happens because most back links have an href of `#` and

[2017-07-26 17:14] seanmonstar commented on #5198
I don't know, I just wrote what was said during the triage at the all-hands! @shane-tomlinson I think reported this, he probably knows best?

[2017-07-26 18:24] ryanfeeley opened #5291 "Add title to device list item"
Device list meta-data (today device name, tomorrow location) should appear on hover on the device icon, not the name @vladikoff.
<img width="258" alt="image" src="https://user-images.githubusercontent.com/68213/28637005-05901442-720e-11e7-8123-cd6fe81b08c6.png">

[2017-07-27 04:12] mhammond opened #5292 "addresses engine always offered for Firefox 56+"
I know we agreed to this way back when, but it seems a little risky and may be worth addressing: the "addresses" engine is always offered to Firefox 56 even when that preference is pref'd off in desktop itself. There's a small risk addresses will not be enabled for 56 and if it is not, it's probably bad to offer the engine.

I understand there's a bit of a risk in making this change on the server,

[2017-07-27 04:22] rfk commented on #5292
Mark clarified in IRC that *if* addresses ships in 56 then it will advertise that fact in the device capability handshake, so IIUC the ask here is to remove the hardcoded "show addresses engines to Firefox 56+" and let it fall back to the more general "show addresses engines if it's advertised in the capabilities handshake".

I've no idea how big a change that is for us on the FxA side tho...

[2017-07-27 05:34] aayushis12 commented on #4928
Hi,
Is there a way to install GMP on Windows.I tried Cygwin but I am stuck there and don't know exactly how to continue further.

[2017-07-27 09:58] shane-tomlinson opened #5293 "signin page email is cleared after visiting /reset_password"
STR

1. Go to /signin, fill out an email address and password
2. Click "Forgot password?"
3. Click "Remember password? Sign in."
4. On the /signin page, the email is cleared, the password is filled in.

![forgotten-email](https://user-images.githubusercontent.com/848085/28665123-7cf17664-72ba-11e7-8b32-d31937d242b9.gif)

[2017-07-27 11:09] shane-tomlinson commented on #4017
I'm closing this. We aren't going to do this.

[2017-07-27 11:09] #4017 closed

[2017-07-27 11:10] shane-tomlinson commented on #4994
I can no longer reproduce this. Closing.

[2017-07-27 11:10] #4994 closed

[2017-07-27 11:56] shane-tomlinson commented on #5292
Not much. We assumed this would happen someday. PR incoming.

[2017-07-27 12:04] shane-tomlinson commented on #4928
@seanmonstar - any tips? Have you successfully set up FxA on Windows?

[2017-07-27 13:33] ryanfeeley opened #5297 "Improve email settings responsive layout"
STEPS TO REPRODUCE
1. Open Secondary Email section when "Make primary" is available and adjust window width

EXPECTED RESULTS
1. Secondary email is truncated with ellipsis when buttons approach
1. When wrapping, the leftmost button is left-aligned with the email and buttons below

ACTUAL RESULTS
![responsive](https://user-images.githubusercontent.com/68213/28672756-a09cc674-72ae-11e7-8a42-4d482cd6

[2017-07-27 14:34] shane-tomlinson commented on #5297
@ryanfeeley - can you update the title to talk about responsive design or mobile browsers? I read this to mean performance related responsiveness.

[2017-07-27 14:35] shane-tomlinson commented on #5285
Re-opening, I just had this problem on Nightly.

STR

1. Sign up for a new FxA account for Sync.
2. In the same browser, different tab, open the verification link with `&forceExperimentGroup=treatment`
3. I'm sent to CAD?

[2017-07-27 14:49] #5292 closed

[2017-07-27 16:52] vladikoff commented on #5279
@seanmonstar could you triage this? Do you need graphics / mocks from @ryanfeeley ?

[2017-07-27 16:58] shane-tomlinson commented on #5272
Closing this issue since it should be taken care of #4863.

[2017-07-27 16:58] #5276 closed

[2017-07-27 16:58] #5272 closed

[2017-07-27 20:14] rfk commented on #4928
For the purposes of this bug, I think it may also be OK just to skip GMP, it's needed by some other parts of the system but not by fxa-content-server if I recall correctly.

[2017-07-27 20:40] rfk commented on #5292
@mhammond would you like this in production before 56 goes to beta?

[2017-07-27 21:41] #5130 closed

[2017-07-27 22:33] mhammond commented on #5292
I guess that would be ideal, but a few days after wouldn't hurt

[2017-07-28 06:03] mhammond commented on #5292
FTR, it appears this engine is only going to be enabled on 56 for en-US users where geoip says the user actually *is* in the US - and at this stage, the preference is only flipped to true by default on Nightly - so after the merge, it will *not* be available by default on 56. All of which means we are certainly doing the right thing by getting it out ASAP - so thanks for jumping on this!

[2017-07-28 09:02] shane-tomlinson opened #5300 "Two failing functional tests teamcity against stage"
May be related to #5285

OAuth signin page - user signed into browser, no user signed in locally |  
OAuth signin page - user signed into browser, user signed in locally

[2017-07-28 09:07] shane-tomlinson commented on #5300
Nope, not related. Bad client_id.

![0422be19d28ad19f6c1234714f9cba6fd0ccc775](https://user-images.githubusercontent.com/848085/28710592-7f110afa-737c-11e7-9270-214452ee186c.png)

[2017-07-28 11:00] #5300 closed

[2017-07-28 12:10] #5285 closed

[2017-07-28 12:27] vladikoff commented on #5285
Yay!

[2017-07-28 12:46] aayushis12 commented on #4928
I get the error 'scripts is not recognised as an internal or external command' when I execute npm run start-remote. Why is that coming?

[2017-07-28 13:20] vladikoff commented on #4928
@aayushis12 this probably means your node.js installation is not properly configured on your machine

[2017-07-28 13:50] aayushis12 commented on #4928
@vladikoff but when I do node -v in my command prompt then it runs fine.

[2017-07-28 14:26] vladikoff commented on #4928
@aayushis12 what about `npm -v `?

[2017-07-28 16:56] seanmonstar commented on #5201
Is there any more information to this issue? "Some configurations" is quite broad.

[2017-07-28 17:23] vladikoff commented on #5201
@seanmonstar Safari "Private mode"

[2017-07-28 17:24] #5290 closed

[2017-07-28 17:53] vladikoff commented on #4949
@rfk We already have an error handler here: https://github.com/mozilla/fxa-content-server/blob/39bb7715c00150b9037ce07fcc829ba4824ae376/app/scripts/models/account.js#L891

Do you think we are missing the "Invalid Assertion" check there? Also as it says here these last for 25 years: https://github.com/mozilla/fxa-content-server/blob/39bb7715c00150b9037ce07fcc829ba4824ae376/app/scripts/models/accoun

[2017-07-28 18:51] shane-tomlinson opened #5304 "change email tests failing on teamcity against latest"
See https://tc-test.dev.lcip.org/viewLog.html?buildId=14059&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog

NoSuchElement: [POST http://localhost:4444/wd/hub/session/49a9e8c9-152a-4760-b5b5-80aaea54c84a/element / {"using":"css selector","value":".email-address .set-primary"}] Unable to locate element: .email-address .set-primary
For documentation on this error, please visit: http://seleniumhq.

[2017-07-28 19:37] aayushis12 commented on #4928
@vladikoff yes that also works fine. The version is 3.10.10

[2017-07-29 21:26] aayushis12 commented on #4928
Hi,
Can there be some other reason because of which this error -  'scripts is not recognised as an internal or external command' can come?

[2017-07-30 21:14] rfk commented on #4949
After digging into it a bit, it turns out that comment is mistaken :-)

Assertions have two expiry times.  There's the expiry time put on it locally by the client, which the content-server does indeed set to 25 years.  There's also the expiry time on the underlying signed certificate, which the auth-server will cap at 24 hours max:

  https://github.com/mozilla/fxa-auth-server/blob/master/lib/rout

[2017-07-30 21:17] rfk commented on #4949
So basically the code at [1] is built on a faulty assumption - it thinks that assertions will last for a very long time and can be cached indefinitely, but that will only be valid for 6 hours max.  It needs to grow the ability to throw away expired assertions and generate a fresh one.

[1] https://github.com/mozilla/fxa-content-server/blob/39bb7715c00150b9037ce07fcc829ba4824ae376/app/scripts/model

[2017-07-31 08:49] shane-tomlinson opened #5305 "Fx 54 failing functional test - "firefox on any platform - oauth permissions for untrusted reliers - signin after de-selecting a requested permission""
STR

1. `npm run test-latest grep="oauth permissions for untrusted reliers"`
2. Kaboom.

Error: [POST http://localhost:4444/wd/hub/session/fc10345b-823f-4c64-a39d-5bed483896e5/element/160/click / {}]
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'stomlinson-30887', ip: '10.239.30.176', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.12.5', java.versi

[2017-07-31 08:50] shane-tomlinson commented on #5305
The test is looking for this selector:

`input[name="profile:display_name"]`

[2017-07-31 09:07] shane-tomlinson commented on #5305
Note, this is only a problem with Fx 54, Fx 53 works fine.

[2017-07-31 09:09] shane-tomlinson commented on #5305
Also fails locally.

[2017-07-31 10:36] shane-tomlinson commented on #5304
This is reproducible locally and against latest using Firefox 53

`npm run test-latest grep="settings change email"`
or
`npm run test-functional grep="settings change email"`

[2017-07-31 11:04] shane-tomlinson opened #5307 "Failing functional test against latest - "Firefox desktop user info handshake - OAuth flows""
See https://tc-test.dev.lcip.org/viewLog.html?buildId=14106&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog#_focus=1549.

Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: '54bb1476a3ba', ip: '172.17.0.5', os.name: 'Linux', os.arch: 'amd64', os.version: '4.4.41-36.55.amzn1.x86_64', java.version: '1.8.0_112'
Driver info: org.openqa.selenium.firefox.FirefoxDriv

[2017-07-31 11:40] aayushis12 commented on #4928
@rfk  I get this after doing npm run-script`
Lifecycle scripts included in fxa-content-server:
  postinstall
    bower update --allow-root --config.interactive=false -s && scripts/download_l10n.sh
  start
    node scripts/check-local-config && grunt server
  test
    intern-runner config=tests/intern

available via `npm run-script`:
  build-production
    grunt build
  prepush
    grunt quicklint

[2017-07-31 11:46] shane-tomlinson opened #5309 "flakey functional test on travis - mailcheck - tooltip works"
I've seen this a lot lately, here's one example:

https://travis-ci.org/mozilla/fxa-content-server/builds/259314046#L5006

[2017-07-31 11:53] #5304 closed

[2017-07-31 12:33] vladikoff commented on #5309
It was fine for months, but not anymore :(

Seems like the Travis distro upgrade is to blame

[2017-07-31 12:42] #5307 closed

[2017-07-31 14:25] shane-tomlinson commented on #5198
I haven't been able to reproduce this, closing.

[2017-07-31 14:25] #5198 closed

[2017-07-31 14:33] vladikoff commented on #3892
There is no `beforeEach` on these tests, so they don't go back to the sign in page

[2017-07-31 14:38] shane-tomlinson opened #5311 "signup bounce not triggered from about:accounts"
STR

1. from about:preferences#sync, click "sign up"
2. Sign up for a new account.
3. While at the /confirm screen, restart the in-memory DB.
4. Where's the bounce notification?

This happens because signup/signin polling does not occur within about:accounts.

ref #5037

[2017-07-31 14:41] shane-tomlinson commented on #5234
Ref #2228 where this was previously discussed.

[2017-07-31 14:56] vladikoff commented on #3653
from mtg: can we try to add the auth-server functionality for test envs that are NON-stage and NON-prod

[2017-07-31 17:35] #5234 closed

[2017-07-31 18:36] seanmonstar commented on #5201
I see the content-server has code to allow the verify page to load in mobile safari when cookies aren't enabled. Is there anything more specific to this issue?

[2017-07-31 20:43] #5293 closed

[2017-07-31 21:20] rfk commented on #5013
Unilaterally closing this out as it's several months old, let's re-open if this is still and issue and we plan to dig in

[2017-07-31 21:20] #5013 closed

[2017-07-31 22:16] rfk commented on #5201
IIUC this connects to https://github.com/mozilla/fxa-content-server/pull/5298 and https://github.com/mozilla/fxa-auth-server/pull/2023

[2017-07-31 22:21] seanmonstar commented on #5203
It appears that if the browser is syncing, the [user agent looks like](https://dxr.mozilla.org/mozilla-central/source/mobile/android/services/src/main/java/org/mozilla/gecko/fxa/FxAccountConstants.java#40) this: `Firefox-Android-FxAccounts/56.0 (Firefox)`

It wouldn't seem that there is a way to differentiate on form factor. Does my investigation seem correct?

If so, is the action here to get a f

[2017-08-01 00:04] seanmonstar commented on #4857
Without a user/password to sentry, we can't see anything about the report. Could we post back any relevant information back to this issue?

[2017-08-01 01:19] rfk commented on #4928
I'd like to have all this stuff working well under windows, but sadly right now, you'll probably have an easier time on a Linux or OS X variant :-(

[2017-08-01 04:10] rfk commented on #5203
I have this vague recollection that we changed that to start sending more info; @philbooth can you add any context about the plan here, or possibly even dup this to an existing bug that we can put into the "Q3 Quality" milestone?

[2017-08-01 08:24] philbooth commented on #5203
On the client side, there is a bug to improve the Android user-agent string here:

* https://bugzilla.mozilla.org/show_bug.cgi?id=1350768

An equivalent iOS bug was completed some time ago.

On our side, we recently made an abortive attempt to add a `uaFormFactor` column to the `sessionTokens` table in mozilla/fxa-auth-db-mysql#259, which got rolled back in mozilla/fxa-auth-db-mysql#262. Now that

[2017-08-01 08:28] shane-tomlinson opened #5314 "Revert changes that check on `creditcards` and `addresses`"
Our communication wires got crossed, turns out we were supposed to leave `creditcards` and `addresses` unchecked in CWTS.

Ref https://github.com/mozilla/fxa-content-server/issues/5269
Ref https://github.com/mozilla/fxa-content-server/issues/5270
Ref https://github.com/mozilla/fxa-content-server/issues/5282

[2017-08-01 12:38] #5314 closed

[2017-08-01 14:19] ryanfeeley opened #5319 "Replace the Connect Another Device icon with this SVG"
![image](https://user-images.githubusercontent.com/68213/29574028-632e3fb8-872e-11e7-99ab-5b6b38e33295.png)

Two hearts that beat as one.
Soon to be animated (fingers crossed).
[comp.svg.zip](https://github.com/mozilla/fxa-content-server/files/1190826/comp.svg.zip)

[2017-08-01 14:45] shane-tomlinson opened #5320 "CWTS - cannot go "back" after de-selecing a Sync bucket."
I thought there was a bug on file about this already, but I can't find it.

On CWTS the only way to go back is with the "Mistyped email?" link in the green status bar. If the user unchecks a Sync bucket, the green status bar goes away, leaving the user with no way to correct their email address.

STR

1. Sign up for a new account for Sync.
2. On CWTS, uncheck a bucket.
3. Where'd the green status

[2017-08-01 17:21] vladikoff commented on #4857
Sure! I looked at some of the details.

Around 400 reports of this issue daily (10% sample I think).
The error code `errno` is 1039. This right here: https://github.com/mozilla/fxa-content-server/blob/b5942aee40bae4adcd8374a2e55e4c0e626ea841/app/scripts/views/confirm.js#L128

82% of this error is on Firefox Mobile.

Affected views: confirm 45%, confirm-signin 55%
Smartphone: 52% , Tablet: 46%, + O

[2017-08-01 19:44] seanmonstar commented on #4857
It could be that the network failed on the device. I see in the code that the error is simply reported and polling resumes, so this may not actually impact users at all.

It'd probably be a good idea to adjust the `this.logError` call to include the original error. The original error includes the status code, which could be `0` if there is a network error (error occurs in firefox, not from server)

[2017-08-02 00:49] seanmonstar opened #5322 "Test output is filled with warnings from browserid-local-verify"
It seems this was pinned to a version from several years ago, and so the dependency it has for bignumber is old. With the upgrade to node6, it prints several thousand lines worth of warnings.

[2017-08-02 14:52] shane-tomlinson opened #5323 "`null has no properties` being reported in Sentry"
https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/632666/events/11503181/

I haven't tested this, but I believe the STRs are:

1. From the firstrun page, sign up to FxA for Sync.
2. Click through CWTS.
3. On the `Verify your email` screen, click the browser's `back` button.
4. Verify the email.

There are two problems:

1. https://github.com/mozilla/fxa-content-server/blob/f9f7f

[2017-08-02 14:53] shane-tomlinson opened #5324 "experiment-mixin can attempt to access `this.experiments` after the view has been destroyed."
https://github.com/mozilla/fxa-content-server/blob/f9f7f10d4310163ffc256d1536322d470dcfe646/app/scripts/views/mixins/experiment-mixin.js#L61

Ref https://github.com/mozilla/fxa-content-server/issues/5323

[2017-08-02 14:54] shane-tomlinson opened #5325 "confirmation poll is not stopped if the user clicks the browser's "back" button from /confirm"
https://github.com/mozilla/fxa-content-server/blob/f9f7f10d4310163ffc256d1536322d470dcfe646/app/scripts/views/confirm.js#L111

If the /confirm screen starts a confirmation poll and the user clicks the browser's "back" button, we never stop the poll, it just sits there polling in the background.

ref https://github.com/mozilla/fxa-content-server/issues/5323
ref https://github.com/mozilla/fxa-conten

[2017-08-02 15:00] vladikoff commented on #5323
@shane-tomlinson confirmed:

<img src=http://v14d.com/i/5981e8d009887.png />

[2017-08-02 15:20] jbuck opened #5326 "Deploy a Lambda Edge function for CDN headers"
Documentation: http://docs.aws.amazon.com/lambda/latest/dg/lambda-edge.html

What I'd like to do is add a function that'll add all of the security headers we need & also force the CORS headers on.

[2017-08-02 16:23] #5297 closed

[2017-08-02 20:17] seanmonstar commented on #5159
So, what is the current thinking here? Killing `about:accounts` gives us this for "free"?

[2017-08-03 08:19] shane-tomlinson commented on #5159
This is fixed by a combination of browser and FxA patches. Closing.

[2017-08-03 08:19] #5159 closed

[2017-08-03 10:05] shane-tomlinson opened #5330 "Fx 54 failing functional test - Firstrun Sync v2 sign_up - sign up, verify same browser, force SMS, force unsupported country in verification tab"
Error: [POST http://localhost:4444/wd/hub/session/30d46323-2cf9-423b-a27b-d3851e2d3536/element/23/click / {}]
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'stomlinson-30887', ip: '192.168.0.22', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.12.6', java.version: '1.8.0_131'
Driver info: org.openqa.selenium.firefox.FirefoxDriver
Capabilities [{moz:p

[2017-08-03 13:48] #5037 closed

[2017-08-03 13:50] #5324 closed

[2017-08-03 13:54] philbooth opened #5334 "Refreshing the signin-bounced screen loses context"
From https://github.com/mozilla/fxa-content-server/pull/5318#issuecomment-319789992. @shane-tomlinson pointed out that when you refresh on the signin-bounced screen, context is lost so the email address is not displayed.

To fix it, some kind of fallback behaviour should be implemented in `views/sign_in_bounced::beforeRender`, which checks `this.model.has('email')` and redirects when `false`. My p

[2017-08-03 14:29] #5330 closed

[2017-08-03 15:39] ryanfeeley commented on #5334
Had to Google "second bite of the cherry" but that sounds ideal if we can't maintain context after page refresh. Take them to sign-in so they can see it again.

Out out curiosity, this feature harmonizes well with sign-in unblock too?

[2017-08-03 15:40] shane-tomlinson commented on #5334
Signin unblock doesn't do any polling; we'd have to add it to find out whether the email bounced.

[2017-08-03 15:42] #5278 closed

[2017-08-03 17:29] #5194 closed

[2017-08-03 17:31] shane-tomlinson opened #5335 "Add an A/B test for email-first"
Follow on for #5177.

Now that the first portion has landed, run some people through it and compare results!

[2017-08-03 17:33] shane-tomlinson opened #5336 "Email first flow: page refresh on /signin or /signup refresh to the original variants."
If the user starts in the email-first flow

STR

1. Open https://127.0.0.1:3030/?service=sync&context=fx_firstrun_v2&action=email
2. Enter an unregistered email address
3. On the /signup page, refresh
4. The user is now looking at the original variant.

[2017-08-03 18:14] ryanfeeley commented on #5334
@shane-tomlinson A smell a new bug? Shall I file?

[2017-08-03 18:22] ryanfeeley commented on #5279
@seanmonstar @vladikoff Something different than in the feature doc? https://docs.google.com/document/d/16fdARc6MC9XO7FBG9YJ4bpeqhHcv1G3ua0uzeS4EckY/edit#

[2017-08-04 09:00] #5334 closed

[2017-08-04 10:53] shane-tomlinson opened #5341 ""Node.js hang detected" displayed when running `npm run test-server`"

[2017-08-04 17:14] #5188 closed

[2017-08-08 10:24] shane-tomlinson commented on #4193
Ref #5311

[2017-08-08 10:25] shane-tomlinson commented on #4094
ref #5311

[2017-08-08 12:23] #5193 closed

[2017-08-08 15:03] shane-tomlinson commented on #5202
Dup of #5262 which has more context, closing this one.

[2017-08-08 15:03] #5202 closed

[2017-08-08 15:04] shane-tomlinson commented on #5205
Ref #3374

[2017-08-08 15:05] shane-tomlinson commented on #3485
Ref #5011

[2017-08-08 15:05] shane-tomlinson commented on #5011
Ref #3485

[2017-08-08 15:11] shane-tomlinson commented on #5197
Fx 57 is in Nightly now, we'll have to get the browser patch landed in the next 5 weeks or so.

[2017-08-08 15:12] shane-tomlinson commented on #5311
Ref https://github.com/mozilla/fxa-content-server/issues/5197 - getting rid of about:accounts might make this bug a bit simpler.

[2017-08-08 16:26] shane-tomlinson commented on #4092
Closed by https://github.com/mozilla-services/cloudops-deployment/pull/990

[2017-08-08 16:26] #4092 closed

[2017-08-08 20:41] vladikoff commented on #4863
@ryanfeeley any updates on this?

[2017-08-08 20:59] #5291 closed

[2017-08-09 04:37] mhammond opened #5345 "Visiting settings with a wrong uid disconnects user from sync"
STR:
* create account, verify etc, then visit "settings" - bookmark the page.
* delete account.
* create new account (with same email address, although it's not clear that's necessary), verify etc.
* visit bookmarked page (and note that the uid in the URL is not the current uid)

Actual:
* This device is kicked out of sync.

Expected:
* Not sure, but probably not being completely disconnected.

Th

[2017-08-09 04:49] rfk commented on #5262
@davismtl the two links above appear to be the same, is that accurate?

We need to do more definition work before this is ready for engineering, and perhaps we can do that asynchronously in this bug.  Let me start with a scoping question for @davismtl and @ryanfeeley.  IIUC the proposal here is that we should show the CAD screen after every new connection to sync, either on the "account verified"

[2017-08-09 04:51] rfk commented on #5262
By contrast, the linked "feature card" says to only show it when they have a single device connected, not if they're already in a multi-device setup.

[2017-08-09 09:11] philbooth opened #5346 "Map flow events to amplitude events"
Structure:
https://amplitude.zendesk.com/hc/en-us/articles/204771828-HTTP-API

Nomenclature:
https://docs.google.com/spreadsheets/d/1G_8OJGOxeWXdGJ1Ugmykk33Zsl-qAQL05CONSeD4Uz4/edit#gid=1500952660

See also:
mozilla/fxa-auth-server#2043

[2017-08-09 11:15] shane-tomlinson opened #5347 "Cannot submit CWTS after going back from /confirm"
Found by @vbudhram in https://github.com/mozilla/fxa-content-server/pull/5342.

If the user clicks the browser "back" button from /confirm and returns to /choose_what_to_sync, it's impossible to submit the CWTS form a 2nd time.

STR

1. From the firstrun page, sign up to FxA for Sync.
2. Click through CWTS.
3. On the Verify your email screen, click the browser's back button.
4. Try to submit CWTS

[2017-08-09 13:24] shane-tomlinson commented on #5309
Re-opening... Just saw 3 failures in a row.

[2017-08-09 14:50] #5323 closed

[2017-08-09 14:50] #5325 closed

[2017-08-09 21:55] davismtl commented on #5262
Agreed

Excellent question!

I even see flaws with that approach.

I'll try to get a feature doc started this week.

[2017-08-10 02:27] rfk commented on #5346
For the initial work here, we're going to just massage our existing event stream into the format required by amplitude's HTTP API, and lot it out to disk as a separate event.  This will help us shake out any issues with the event taxonomy, e.g. fields that we don't easily have the ability to provide.  A separate card will be opened for sending this event stream to amplitude via their HTTP API.

[2017-08-10 02:28] rfk opened #5350 "Send real-time event stream to amplitude via their HTTP API"
Separate card for sending the results from #5346 over to amplitude via their HTTP API.

[2017-08-10 12:16] #4094 closed

[2017-08-10 12:16] #4193 closed

[2017-08-10 12:18] philbooth commented on #5203
In an effort to be exhaustive, I collated a bunch of user agent strings from my own devices and the internet, then connected them to FxA to see which icon we assigned to each one.

Results:

Browser|Expected icon|Correct?|Full user agent string
-------|-------------|--------|---------------------
Firefox desktop (Mac)|MacBook|yes|Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:57.0) Gecko/2010010

[2017-08-10 13:06] shane-tomlinson opened #5353 "firstrun flow: If "email" is specified by the relier, check the email and redirect to the appropriate page."
This is to support the new Firefox onboarding tour.

The idea is that the user will enter their email on the boarding tour here:

<img width="351" alt="screen shot 2017-08-10 at 14 05 44" src="https://user-images.githubusercontent.com/848085/29171628-10e97ba8-7dd5-11e7-9b0f-927ded1adc1b.png">

The tour will open FxA with an `email` query parameter. We should take
the query parameter and check whet

[2017-08-10 13:10] #5335 closed

[2017-08-10 13:10] #5336 closed

[2017-08-10 14:58] shane-tomlinson commented on #5311
Moving this to blocked because the content server fix doesn't fully fix the problem. This will require a browser fix.

The problem is if about:accounts is open when an email bounce is detected, the content server redirects to /signin or /signup, displays an error message, and then the browser comes in, detects the session has gone bad, and reload about:accounts?action=signin

[2017-08-10 15:06] shane-tomlinson opened #5354 "Change "Working" from red to blue"
Right now "Working..." is displayed after 10 seconds... We discussed that maybe this is a bit too quick...

@ryanfeeley - thoughts?

[2017-08-10 15:08] shane-tomlinson opened #5355 "Reduce the # of tests run on circle"
Circle runs sometimes take a long long time. We run a lot of tests, many tests are for browser integrations that are no longer used all that often.

The suggestion is to remove the suites that are no longer "current" (fx_desktop_v1, fx_desktop_v2, firstrun_v1) from the list of suites run on Circle, but still run these on teamcity.

cc @jrgm, @vladikoff, @philbooth, @vbudhram - thoughts?

[2017-08-10 15:12] shane-tomlinson opened #5356 "Figure out metrics for email-first"
email-first has landed. The A/B test has landed. Figure out the metrics needed to prove/disprove success.

[2017-08-10 15:20] shane-tomlinson opened #5357 "Designs needed for CAD phase 4"
This one is for @ryanfeeley - we are going to need some designs for a QR code based pairing flow!

Want to chat about it?

[2017-08-10 15:20] shane-tomlinson opened #5358 "Feature doc needed for CAD phase 4"

[2017-08-10 16:31] ryanfeeley opened #5359 "Discuss improving the handling of avatar images that are too large"
Currently when users upload an avatar image that is too large, >5 MB IIRC, we show this message.
<img width="463" alt="usable" src="https://user-images.githubusercontent.com/68213/29180988-89b04386-7dc7-11e7-9eda-036cc1189ab0.png">
Some of my iPhone SE photos are bigger than this, and most DSLRs would be excluded. Ideally we can bump it up to a much larger number. What other options are there?

[2017-08-10 16:40] shane-tomlinson commented on #5354
@ryanfeeley says we might actually be *too slow* to display this issue.

@philbooth says "red makes it seem worse than it is"

Should it be blue?

Ref #5344

[2017-08-11 01:14] grigoryk commented on #5210
@ckarlof oops, notifications are not my strong suite it seems. Response a month later is better than never!

That's something you can enable in settings, and Fennec will prompt you to enable it if you're opening a lot of external links. Say, you're in the twitter client. You tap on links, and they're added to the queue. You'll see a notification in the notification bar, something akin to "you have

[2017-08-11 11:40] philbooth commented on #5203
This originates from `node-uap` in the auth server. It returns the following OS information for that user agent string:

[code]

I can open an issue over there but in the meantime we'd have to special case the user agent string in our own code, or make our own fork of `node-uap` that returns appropriate information. Neither of those options appeal to me tbh, it seems like a hack that could unravel

[2017-08-11 11:42] philbooth commented on #5203
Or find another user agent string parser, of course. I'll have a look around now, see what's about.

[2017-08-11 15:24] philbooth commented on #5203
With the user agent strings from https://github.com/mozilla/fxa-content-server/issues/5203#issuecomment-321535010 as a test suite, I compared the results from 3 different user agent parsers. I don't think we'll find better results elsewhere. Full results:

https://gist.github.com/philbooth/c836ed182b03c12afb2de66e637eea11

[2017-08-11 15:40] vladikoff commented on #5355
👍

[2017-08-11 21:28] vladikoff commented on #5359
Or we can say that it is too large (make the message more helpful)

[2017-08-11 22:34] ryanfeeley commented on #5359
@vladikoff Do our docs indicate that we can in fact accept by file size? https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file

[2017-08-12 10:36] apoorvasingh17 commented on #4788
I would like to work on this issue. Can anyone give me some pointers regarding the same?

[2017-08-12 16:37] ckarlof commented on #5210
No, I haven't seen anything odd since.

[2017-08-13 23:31] davismtl commented on #5262
small update (before I close this lingering tab):

rfeeley and I met last Friday to discuss this. The user login flows are numerous and full of exceptions that are really complicated so we're trying figure out how to make sure we come up with a solution to get users to connect another device at login that avoids TONS of logic.

We have identified that promoting features that require multiple devic

[2017-08-14 04:41] rfk commented on #5311
Some scoping questions, in the hope of figuring out how to get this unblocked.

What's the right behaviour for the browser in this case - just leave the page active in about:accounts so we can show our own messaging.

Does it detect this because it's doing it's own polling, in addition to the polling that content-server is doing?

FWIW I mentioned this in the sync standup last week, and while ther

[2017-08-14 12:29] philbooth commented on #5203
I forgot about Sync user agent strings in https://github.com/mozilla/fxa-content-server/issues/5203#issuecomment-321535010. Here's more results driven by some Sync user agent strings copied from various bugzilla issues:

Expected icon|Correct?|Full user agent string
-------------|--------|---------------------
Generic laptop|yes|Firefox/49.0a1 FxSync/1.51.0.20160524173017.desktop
Windows laptop|ye

[2017-08-14 16:57] #5203 closed

[2017-08-14 17:51] aayushis12 commented on #4928
Hi,
When I go to the address 127.0.0.1:3030, I get 'Unable to connect to the server' error.I have all the dependencies installed on Linux. How can I resolve this?

[2017-08-14 18:12] ryanfeeley opened #5361 "Corner radius on password show button wrong"
Our show password button has the wrong corner radius that is overlapping the field. It should match the underlying field.
![corner-radius](https://user-images.githubusercontent.com/68213/29284867-68d9eeb0-80fa-11e7-9fb5-da87097fb886.gif)

[2017-08-14 18:20] vladikoff commented on #5361
Duplicate of https://github.com/mozilla/fxa-content-server/issues/5233

[2017-08-14 18:20] #5361 closed

[2017-08-15 04:11] ejregithub opened #5362 "Edits to FxA form for testing in /firstrun"
We would like to make the following changes in order to run a test with the FxA form on /firstrun.

- Remove copy at top of form "Create a Firefox Account to continue to Firefox Sync"
- Create two version of the form, with two tabs
Version A - Tab 1 - sign up tab (on top), Tab 2 log in tab (subordinate)
Version B - Tab 2 - log in tab (on top), Tab 1 sign up tab (subordinate)

Mockups of these may

[2017-08-15 04:21] rfk commented on #5362
Assigning to @davismtl in the first instance to help us triage this request, since I know there's been a lot of discussion about first-run-related changes recently.

From the linked mockups, it's not clear whether these tabs live in the FxA login form itself, or are part of the containing page.

[2017-08-15 13:54] vladikoff opened #5363 "[Sentry] WebChannel error: TypeError: aWindow is null"
See this even for more info: https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/627725/events/11669100/

Stack:

[code]

[2017-08-15 13:55] vladikoff opened #5364 "[Sentry] Object object error in sentry, status 401, context settings.clients"
See this report: https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/382402/events/11669334/

Started happening with 1.92.2

[2017-08-15 15:38] #5277 closed

[2017-08-15 19:37] davismtl commented on #5362
I think the simplest thing for us to do is to remove the copy at the top and have the Moz org team create the tabs that toggle between a sign-in form and the registration form. The important thing will be to load the default visible one first for performance reasons. The hidden one can take a bit longer to load.

If this works for @ejregithub and @rfk then all that is needed from FxA is to remove

[2017-08-15 20:12] rfk commented on #5362
Do we want it removed for *every* instance of the form on the firstrun page, or only for forms loaded as part of this experiment.

[2017-08-15 22:40] davismtl commented on #5362
Certainly only for forms that are loaded as part of this experiment.

I expect there to be a couple more requests like this in the near future (to support firstrun tests) so we should try to follow that principal until we're sure of the results.

[2017-08-16 02:29] rfk commented on #5362
OK.  Currently the first-run page opts in to its minimalist styling by loading the page with a special `"?style=chromeless"` query parameter, so one option may be to add additional `?style=blah` options to support these different variants.  We'll need @shane-tomlinson's input here on the right way to manage this while avoiding a combinatorial explosion of styling options.

[2017-08-16 04:16] rfk commented on #5363
Possible edge-case in the browser handshake code?  /cc @shane-tomlinson.

[2017-08-16 10:26] apoorvasingh17 commented on #4788
In which file can I find the code to edit this?

[2017-08-16 14:56] ryanfeeley opened #5365 "Working… (999) error when disconnecting an Android device"
This appeared during Sync Fest yesterday. Not sure it can be replicated, but the 999 error appeared when we attempted to disconnect an Android device.
![img_20170815_113026](https://user-images.githubusercontent.com/68213/29369721-6f1e4244-8271-11e7-907e-0c8521ac5b96.jpg)

[2017-08-16 18:14] vladikoff commented on #5364
I think this issue is related: https://github.com/mozilla/fxa-content-server/issues/4906

[2017-08-16 18:16] vladikoff commented on #4774
This should be fixed:

![image](https://user-images.githubusercontent.com/128755/29378559-7f5427d4-828d-11e7-8af2-8085ccdb07a2.png)

[2017-08-16 18:16] #4774 closed

[2017-08-16 18:20] vladikoff commented on #4811
Let's reopen this if there are still plans to work on this

[2017-08-16 18:20] #4811 closed

[2017-08-16 19:08] #4917 closed

[2017-08-16 19:10] ryanfeeley opened #5367 "Add success feedback when secondary email is removed"
STEPS TO REPRODUCE
1. Remove a secondary email from your Firefox Account

EXPECTED RESULTS
* Section closes
* Green success message appears letting user know "Secondary email removed"

<img width="598" alt="image" src="https://user-images.githubusercontent.com/68213/29380675-88ae5082-8294-11e7-8b39-9f6086f1d6ad.png">

ACTUAL RESULTS
* Section stays open, no success message is presented

[2017-08-16 19:41] ejregithub commented on #5362
@jpetto - adding Jon, who can provide better insight as to what is feasible/preferred for implementing that tab structure.

[2017-08-16 21:15] rfk commented on #5365
Thanks @ryanfeeley.  If you do happen to catch one of these in the wild again, it would be great if you can also screenshot the contents of the "console" and "network" tabs from the developer tools panel.  These can often help diagnose exactly which request is getting the timeout an maybe even why.

Did the "working..." stay indefinitely, or eventually go away?

[2017-08-17 01:29] aayushis12 commented on #4928
When I run the command 'npm run start-remote', I get this error missing scripts- start remote, Am I supposed to add something in the config file? How can I resolve this?

[2017-08-17 12:00] shane-tomlinson commented on #5311
Yes.

Yes.

There was enthusiasm for removing it ~ 6 months to a year ago. Something change to dampen the enthusiasm?

[2017-08-17 12:04] shane-tomlinson commented on #5361
This image makes me feel like it's 1996 all over again. Long Live `<blink>`

[2017-08-17 12:18] shane-tomlinson commented on #5363
!@#!@%$. [This originally checked whether sendingContext.browser](https://dxr.mozilla.org/mozilla-central/rev/63ca686c3f1e870649b6d9c559973d100573aec2/services/fxaccounts/FxAccountsWebChannel.jsm#349) existed and it was suggested to remove the check.

[2017-08-17 12:38] shane-tomlinson opened #5369 "configuration.js should standardize on snake_case or camelCase, not both."
The mixture of camelCase and snake_case in https://github.com/mozilla/fxa-content-server/blob/1acf7aeb09a2c5f46f8dc5b2ce2601042c8021e3/server/lib/configuration.js#L63:L67 is more than annoying, it causes confusion, and confusion makes it easier to make mistakes.

Let's decide.

[2017-08-17 15:28] jpetto commented on #5362
One important thing to note is that mozilla.org currently is not set up to handle two FxA iframes loaded on a single page. For example, we may need to re-think our `postMessage` approach, as we currently have no way of knowing which iframe sent the message (as they would have the same `origin`). Additionally, some events should impact *all* iframes, e.g. when a user resizes their browser.

I'm sur

[2017-08-17 16:27] vladikoff commented on #5362
@davismtl @ryanfeeley could you help us prioritize this work?

[2017-08-17 16:40] vladikoff commented on #5369
from mtg:

# Just use camelCase for new properties

[2017-08-17 16:40] #5369 closed

[2017-08-17 17:02] apoorvasingh17 commented on #5186
@shane-tomlinson Can I take this up as no one seems to working on it presently?

[2017-08-17 17:41] #5355 closed

[2017-08-17 18:26] tameeshB commented on #4788
@apoorvasingh17
A way to start searching for what part of the codebase contains a certain string, you can use this tool called "grep"
Here's a simple command:
`grep -r 'someText' .`
This command will search for all occurrences of the string "someText" in all files in the present and all subdirectories.
http://opensourceforu.com/2012/06/beginners-guide-gnu-grep-basics-regular-expressions/

[2017-08-17 19:40] rfk commented on #5362
This sounds like the simplest approach, can we try this out and see whether it performs acceptably before taking on any larger refactor within either FxA or moz.org?

[2017-08-18 09:04] shane-tomlinson commented on #5186
@apoorvasingh17 - you can, thanks! The approach I think can be used [is outlined in the above comment](https://github.com/mozilla/fxa-content-server/issues/5186#issuecomment-313421406). Lemme know if you need any help!

[2017-08-18 09:19] shane-tomlinson commented on #4788
@ryanfeeley - can you confirm this still happens? I just tested on the simulator and no underline is displayed:

<img width="375" alt="screen shot 2017-08-18 at 10 18 24" src="https://user-images.githubusercontent.com/848085/29452564-4bdca628-83f6-11e7-8d4c-90434eaed040.png">

[2017-08-18 09:29] shane-tomlinson commented on #5362
@jpetto - This seems like a reasonable first step to me. The static resources should be cached, the HTML will need to be re-downloaded, though I don't think that should be terrible in practice.

@ejregithub - Out of curiosity, is this toggle between signin/signup even needed with the email-first flow? Seems like a lot of effort that could potentially be avoided with a new flow that only asks the u

[2017-08-18 15:19] jpetto commented on #5362
I was just talking with @ejregithub about this yesterday. Had I known this was in the works, I would have suggested we go this route first.

@shane-tomlinson How close is that new flow to being production ready?

[2017-08-18 15:22] ryanfeeley commented on #5362
I know we have:
https://accounts.firefox.com/signin?email=thinghere@someemail.com
and
https://accounts.firefox.com/signup?email=thinghere@someemail.com

But what we need is something generic and throttled that precedes the above, and directs the user to the appropriate one.

[2017-08-18 15:32] shane-tomlinson commented on #5362
Pretty close....  it's in prod now behind a feature flag with dual explicit goals:

* Have your team play with it and give us feedback.
* Have QA do their best to break it (which they will).

Assuming a green-light from QA, starting the week of Aug 28th, we are going to start A/B testing on users that open FxA from about:preferences#sync. Note, this test won't affect the firstrun page, you'll have

[2017-08-18 15:56] apoorvasingh17 commented on #5186
@shane-tomlinson Can you please highlight the part of the code where test needs to added?

[2017-08-18 16:52] shane-tomlinson opened #5372 "Flow event for `/` page view is `flow..view`"
Notice the `..`, no usable name is between the periods.

[2017-08-18 18:22] davismtl commented on #5362
@jpetto The retention marketing team is aware that the email first flow is under way and ready for production soon. However, they still wanted to test both since they are popular login/registration flows.

If you think that this current test may be too much work, we should have a discussion with them.

Also, it was brought to my attention that they haven't been collaborating with the onboarding te

[2017-08-18 18:51] ryanfeeley commented on #5362
A question for @jpetto. Which pages were you planning on making the toggle bar appear? I think it makes sense for the bar to appear when the user is on login or registration, but should not appear otherwise as there are dozens of other screens that users land on, even in the iframe. Is it possible to only show it on registration form or login form?

[2017-08-18 18:57] ryanfeeley commented on #4788
@shane-tomlinson I could not reproduce on an iPad.

[2017-08-18 22:36] ryanfeeley commented on #5362
BTW, here are the top browser window sizes for current first run users.

Browser Width | Browser Height | %
-- | -- | --
1350 | 660 | 17.69%
1250 | 680 | 5.43%
1250 | 850 | 5.25%
1010 | 660 | 4.01%
1250 | 840 | 3.89%
1260 | 920 | 3.13%
1250 | 650 | 2.46%
1350 | 630 | 1.60%
1250 | 820 | 1.58%
1350 | 600 | 1.56%
1010 | 640 | 1.55%

[2017-08-21 09:15] shane-tomlinson commented on #4788
Thanks @ryanfeeley, closing.

[2017-08-21 09:15] #4788 closed

[2017-08-21 12:08] shane-tomlinson opened #5375 "Event emitted for `/` even if it immediately redirects"
Found while tracking down #5372. Even if `/` redirects to `/settings`, `flow..view` is reported to the backend. With #5372, the event will be `flow.enter-email.view`. This should only be reported if the view becomes visible.

[2017-08-21 15:06] shane-tomlinson opened #5378 "disabledButtonState `treatment` group never being chosen"
@vladikoff noticed this.

In local testing, whenever [`disabledButtonState` experiment is chosen](https://github.com/mozilla/fxa-content-server/blob/1fdf6e94ebc0fc36a2014164509064f0ce5de8c0/app/scripts/lib/experiments/grouping-rules/q3-form-changes.js#L34), the `control` group is always chosen. When `signupPasswordConfirm` is chosen, `treatment` is always chosen.

I suspect this is because we are

[2017-08-21 15:30] shane-tomlinson commented on #5378
It's the hash.

#### crc
<img width="597" alt="screen shot 2017-08-21 at 16 28 55" src="https://user-images.githubusercontent.com/848085/29526545-919277ba-8685-11e7-9971-33303c9ef649.png">

#### md5
<img width="661" alt="screen shot 2017-08-21 at 16 29 20" src="https://user-images.githubusercontent.com/848085/29526549-96b17e80-8685-11e7-8405-ed6c793a74de.png">

[2017-08-21 16:10] #5375 closed

[2017-08-21 20:42] vladikoff commented on #5311
@rfk to unblock this somehow

[2017-08-21 20:53] vladikoff commented on #4863
@ryanfeeley is not sold on this.

[2017-08-21 21:01] vladikoff commented on #5197
https://bugzilla.mozilla.org/show_bug.cgi?id=1357085#c7

[2017-08-21 21:59] davismtl commented on #4863
@Rfeeley does the solution need to be identical for mobile and desktop?

For example, could we use a tool tip to add the description on desktop (which works well with a mouse) but for mobile, we just put the description below the engine in a scrollable list? Mobile tends to be more friendly to scrolling.

[2017-08-21 22:57] jpetto commented on #5362
Yes, the plan is to only show this new version on `/firstrun`. Other pages with the FxA form would/should remain unchanged.

[2017-08-21 23:07] jpetto commented on #5362
I'm not really sure how to answer this one. We can do the tabbed test, the question is whether is it worth the time and effort. IMO, the email first flow is the obvious way to go - guided process, adaptive functionality, and fewer competing UI elements. I'm all for testing assumptions, but we also can't be afraid to make decisions. If it were up to me, we would switch to the email first flow, drop

[2017-08-22 04:58] rfk commented on #5362
@davismtl per [1], can you please take the action to ensure that the onboarding team and retention marketing team are in alignment on this test and the intended hypothesis?

From the FxA side of things, I think the ask will actually be the same regardless of whether we do a toggle or use the email-first flow: can we remove the "[Do Action] to continue to Firefox Sync" heading from the content in t

[2017-08-22 05:05] rfk commented on #4863
If we don't want to add text inline in the page, can we add some sort of "learn more" link that goes to SUMO article with descriptions of each item?

[2017-08-22 05:07] rfk commented on #4863
Also, adding some context from the waffle triage meeting:  we moved this into "blocked" because it's on our Q3 OKR list, but there doesn't seem to be any agreement about how to move it forward.  Let's make a point of discussing this in the product meeting on Thursday if we can't come up with something beforehand.

[2017-08-22 05:12] rfk commented on #5197
As Kit notes in https://bugzilla.mozilla.org/show_bug.cgi?id=1357085#c8 there's also a content-server side portion to this, wherein we need to transition away from the confirmation polling screen and show some useful content.

[2017-08-22 08:51] shane-tomlinson commented on #5197
That part is pretty easy. In fact, if about:accounts is removed, [it's already done](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/models/auth_brokers/fx-desktop-v2.js#L67).

[2017-08-22 09:13] shane-tomlinson opened #5379 "CAD phases 2/3 metrics aren't comparing apples to apples"
@philbooth brought this up yesterday after looking at https://sql.telemetry.mozilla.org/dashboard/connect-another-device-phase-2.

With CAD phase 3, we use the signinCode to to fetch a `continued_from` field from the DB. `continued_from` is the flow_id of the signin on the desktop device, it ties together the logins on the mobile and desktop devices. We use this to determine the exact the # of use

[2017-08-22 12:09] #5378 closed

[2017-08-22 12:11] vladikoff commented on #5309
@shane-tomlinson I have not seen this happen. I Thinking the 3 in a row failures could have been with a PR that was not rebased? Please reopen if not true

[2017-08-22 13:21] philbooth commented on #5379
Hrm, could do this although it seems like a load faffing about for something which isn't that big of a deal? I reckon we can mitigate most of the noise in the query itself, just by ignoring non-iOS/Android operating systems. Maybe wait and see how I get on with that (this week at some point) before making a decision?

[2017-08-22 15:38] ryanfeeley commented on #5319
@davismtl I would love to see if this illustration has a positive impact. Good candidate for A/B test?

[2017-08-22 15:39] #5353 closed

[2017-08-22 16:55] davismtl commented on #5358
This should probably be tracked in Product board since it is not an engineering task. I recommend closing this.

[2017-08-22 16:56] davismtl commented on #5357
This should probably be tracked in product board since it isn't an engineering task and it should be part of the designing column of the product board. I recommend closing this.

[2017-08-22 16:59] davismtl commented on #5262
Here is the feature doc that @ryanfeeley , @shane-tomlinson and I worked on for this:
https://docs.google.com/document/d/1I2lspQj1x7AMIahM7PgcphnMSfLX-pJC_teru4HYaBs/edit#heading=h.q9y5y6jxb0qy

[2017-08-22 17:03] davismtl commented on #5197
This issue has overlap with
mozilla/fxa-content-server/issues/5262

[2017-08-22 17:04] davismtl commented on #5262
@shane-tomlinson @rfk
Should this be part of train-95 now that we have a define feature doc?
It has some overlap with mozilla/fxa-content-server/issues/5197 as defined by the feature card.

[2017-08-22 17:07] davismtl commented on #5319
2 things before we do this:
- Let's finish our existing CAD work (signin)
- Create a small feature doc with hypothesis, test plan and success metrics for this proposed A/B test

[2017-08-22 17:12] davismtl commented on #4863
update:
@ryanfeeley and I discussed. He will explore something similar to my previous comment.

[2017-08-22 20:38] davismtl commented on #5362
I have asked PDol to review this test and return to us with a final sign off once he's spoken to Marketing, Moz org and rest of onboarding team.

He seems to agree with the hypothesis of the test but there might be some new feedback that needs to be taken in account. He should get back to us by tomorrow.

[2017-08-22 20:39] jpetto commented on #5362
@ejregithub Can you comment here on the experiment that agibson has started on? Want to make sure we don't have duplicated/poorly-timed effort going on.

[2017-08-23 08:02] shane-tomlinson commented on #5262
TBH, I want to take a break from CAD for a week to give my head a break and tie off other loose ends.

[2017-08-23 08:47] shane-tomlinson opened #5382 "# of users going through the SMS flow seems suspiciously low"
First noticed by @philbooth when comparing [CAD phases 1-3 metrics](https://github.com/mozilla/fxa-content-server/issues/5379) and then corroborated by @ryanfeeley with his DataDog graphs. It seems nearly an order of magnitude more users are going through the CAD phase 1 flow *when they verify in the same browser* than the SMS flow. This is suspicious because [2/3 of users who verify in the same b

[2017-08-23 09:34] rfk commented on #5180
From conversation with @shane-tomlinson, it's not obvious what metric we actually want to use to measure this, or whether we're already collecting it.

[2017-08-23 10:14] philbooth commented on #5180
Speed index! It's the best (only?) measure for the visual impression of performance.

Although it can be inferred using resource timing (which we're not doing), it's best measured synthetically rather than with RUM imho. I took some baseline timings with WebPageTest at the start of the quarter (demoed in Show & Tell a few weeks back), we should be able to compare against those?

[2017-08-23 12:22] vershwal opened #5383 "Create a new view for Sign in confirmation using push notification."
As the user clicks on the push-notification for sign-in confirmation, the confirmation view appears. Something like this :
![screenshot from 2017-08-23 17-57-22](https://user-images.githubusercontent.com/17474532/29615386-66652996-882b-11e7-8f8a-b3e4e220aa90.png)

Next, we need to figure out how to generate the URL that will redirect to this page and will be sent with the push notification.
cc @se

[2017-08-23 13:27] shane-tomlinson commented on #5262
My head was cloudy this morning, I thought we were cutting the train next week. I'll start on this next week and see where we get, hopefully we can get at least part of it done for train-95.

[2017-08-23 15:22] shane-tomlinson opened #5384 "uncaughtException TypeError: agent.ua.toVersionString is not a function thrown in content server"
4|content- |     at getGenericTags (/Users/shanetomlinson/development/fxa-content-server/server/lib/statsd-collector.js:64:42)
4|content- |     at Object.write (/Users/shanetomlinson/development/fxa-content-server/server/lib/statsd-collector.js:236:20)
4|content- |     at process.nextTick (/Users/shanetomlinson/development/fxa-content-server/server/lib/routes/post-metrics.js:163:18)
4|content- |

[2017-08-23 15:50] pdolanjski commented on #5362
I'm fine with the experiment.  We just wanted the copy (outside this form) reviewed by Michelle H. if we were planning to ship the successful branch.  I'll leave it to you guys if you want to run this in advance of testing a unified email field for sign-in/up.

[2017-08-23 17:10] shane-tomlinson commented on #5382
Re-opening, my PR erroneously said it fixed this problem. All that PR does is log why the user is ineligible. We can close this when we determine why and if there are any next steps.

[2017-08-23 21:10] rfk commented on #5180
Thanks @philbooth, that works for me if we're all on board with it.  It's not specific to perception of the iframe, but I guess that's OK.

[2017-08-24 01:41] rfk commented on #5262
I'm going to put "train-95" on this to remind us to consider it when closing out the train.

[2017-08-24 03:25] rfk commented on #5358
sold

[2017-08-24 03:25] #5358 closed

[2017-08-24 03:26] #5357 closed

[2017-08-24 05:01] bfred-it commented on #4774
Excellent! Now only a minor visual issue remains: Sign in button stays gray (it normally turns blue when you enter the pass) but it still works:

![mmm](https://user-images.githubusercontent.com/1402241/29650252-f6002e28-88c3-11e7-8b5e-0cbbb5673d3e.gif)

(in this gif it turns blue after I click somewhere else)

[2017-08-24 05:15] rfk commented on #4949
I'm able to trigger this bug reliably  by reducing the oauth token ttl and identity cert duration to 10 seconds, so I'm pretty confident that the above explanation is what's going on.  I'm going to try adding a little refresh logic and see if that fixes it.

[2017-08-24 06:25] rfk commented on #4949
@shane-tomlinson question: why do we need to cache the assertions at all?  IIUC the only reason this code uses an assertion is to generate an OAuth token, and it already caches the OAuth tokens and correctly refreshes them if they expire.  Could we fix this bug by just removing the caching of assertions?

[2017-08-24 10:08] shane-tomlinson commented on #4949
I am in total ignorance/bliss of this portion of the system. I think the idea was when the OAuth tokens expire, we could refresh them using the cached assertion.

[2017-08-24 10:34] shane-tomlinson commented on #5363
Opened https://bugzilla.mozilla.org/show_bug.cgi?id=1393393

[2017-08-24 10:54] shane-tomlinson commented on #5363
Patch opened.

[2017-08-24 10:56] shane-tomlinson commented on #5382
Moving to blocked until metrics start to come in.

[2017-08-24 16:29] shane-tomlinson commented on #5383
@seanmonstar, @vershwal - is this already in progress? Can you triage as you see fit?

[2017-08-24 16:33] #5379 closed

[2017-08-24 16:39] shane-tomlinson commented on #3485
Ref #5313

[2017-08-24 16:40] shane-tomlinson commented on #2002
@rfk - are we ever going to work on this?

[2017-08-24 16:55] shane-tomlinson commented on #4609
It's not possible to open the Sync menu on the Tor browser. Closing.

[2017-08-24 16:55] #4609 closed

[2017-08-24 16:55] shane-tomlinson commented on #4609
Oh, there is a menu option in the tor bowser.  We just don't work. Still keeping this closed.

[2017-08-25 04:55] rfk commented on #2002
If it's as simple as removing the `isSignIn` mentioned in the note above, perhaps we should just do it and be done with it?  I don't have any theories about how this might break things from the browser's PoV.

[2017-08-28 22:57] davismtl opened #5387 "Confirm email button not showing up in emails"
According to Guigs, over the weekend, 4 users filed sumo tickets saying that they could not see the button in our email confirmations.

Here is one of of those:
https://support.mozilla.org/en-US/questions/1172737#answer-1000190

[2017-08-28 23:09] davismtl opened #5388 "Signup Success Rate Dropped on FirstRun"
To my knowledge nothing has changed to the onboarding flow.

Meanwhile, registration rate has dropped A LOT.
https://sql.telemetry.mozilla.org/queries/2412?p_start_date=2017-02-01#4457

Did we brake anything?

[2017-08-29 00:10] rfk commented on #5388
The drop occurs on August 16, which is indeed pretty much spot on the release of train-93.  Do we see changes in other metrics in a similar timeframe?

[2017-08-29 00:11] rfk commented on #5388
The "volume" and "verification %" graphs at the above link do not show the same drop, so I wonder if this is specifically something going wrong with the flow-completion event.

[2017-08-29 00:41] vershwal commented on #5383
Hey @shane-tomlinson, Sorry I missed your comment. I am just working on this. I'll file a PR soon

[2017-08-29 03:12] rfk commented on #5387
I fired off an email-on-acid test to see if we've introduced any new rendering issues, but the results all look OK to me:

  https://www.emailonacid.com/app/acidtest/display/summary/2jI6fVxd16utFcWtb5UigC4zdMV1IeEr227VfgI8NrGmD

To have a hope of reproducing this we'll need to now how the affected users are checking their email, e.g.:

* What mail provider do they use?
* What program are they usin

[2017-08-29 03:42] rfk commented on #5388
I made a more detailed signup funnel graph for first-run, and I think the best view of it is this:

  https://sql.telemetry.mozilla.org/queries/26259/source#68950

Screenshotted here:

<img width="891" alt="capture" src="https://user-images.githubusercontent.com/34695/29803440-3e8cebaa-8cbf-11e7-8613-4c5afafcf1ee.PNG">

That's the signup funnel on the first-run page, using raw event volume, from "

[2017-08-29 03:47] rfk commented on #5388
I think it's the later.  I added the "count_view" line to the above sign-up funnel, and check this out:

<img width="1359" alt="capture" src="https://user-images.githubusercontent.com/34695/29803585-56db89ae-8cc0-11e7-8864-442755644b41.PNG">

As of FxA train-93, it seems that almost everyone who views the signup form triggers an "engage" event.  Are we e.g. auto-focussing into the form or somethin

[2017-08-29 09:36] shane-tomlinson commented on #5388
We've always autofocused, even in the firstrun page.

[2017-08-29 13:17] shane-tomlinson commented on #5384
This seems to have been caused by a bad npm install on my part. After blowing away node_modules and re-installing, no problems. Closing.

[2017-08-29 13:17] #5384 closed

[2017-08-29 14:19] shane-tomlinson opened #5390 "Failing functional test on teamcity: Firstrun Sync v2 email first email specified by relier, not registered"
https://tc-test.dev.lcip.org/viewLog.html?buildId=15182&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

[2017-08-29 15:07] shane-tomlinson opened #5392 "Centering one ".links" element centers all ".links" elements"
Noticed this while doing CAD for signin.

If a view contains multiple `.links` elements and any link is >= 50% of the width, all `.links` elements receive the `centered` class. This is because [we add `centered` to all `.links` elements rather than only the one that needs it](https://github.com/mozilla/fxa-content-server/blob/7f2abc6837dc46c04611d58e6ca21b113a6c6c4d/app/scripts/views/base.js#L500)

[2017-08-29 16:07] davismtl commented on #5362
According to Michelle Warther, the 2 tabs test will not be done. They believe that the email first flow is probably the most beneficial all around.

They will be performing a copy test instead which they might want to review with @ryanfeeley

I will close this issue since it is no longer relevant.

[2017-08-29 16:07] #5362 closed

[2017-08-29 16:52] davismtl commented on #5388
Per this morning's meeting,
- registrations haven't dropped so we think it is related to engage. As I result, I plotted the following that seems to confirm it: https://sql.telemetry.mozilla.org/queries/2412/source?p_start_date=2017-02-01#69851
- It also seems to mostly impact firstrun: https://sql.telemetry.mozilla.org/queries/1975#3534

[2017-08-29 17:55] grigoryk opened #5394 ""Account no longer exists" after changing a password after switching primary email"
STRs, I think:
- get two devices - A and B (i'm trying this with Android)
- login on both of them
- on device A, switch primary email
- on device A (or desktop, not device B) change account password
- device B is now in a "sync not connected" state. Tapping "cannot connect, sign in" button in sync prefs opens an accounts page which displays a "Create a Firefox Account" dialog. Sometimes it has a r

[2017-08-29 19:26] davismtl commented on #5387
I have asked the above questions to Rachel. Meanwhile I got some additional insights from Rachel. These different email problems seem to be unrelated to one another. The above stated problem seems to have occurred but the others are different in nature. The others are comprised of:

- 2 users no longer having access to their email to login (nothing to do here)
- Another person was confusing the su

[2017-08-29 20:15] vladikoff commented on #5204
We updated the colours for this and have tracking issues for icons

[2017-08-29 20:15] #5204 closed

[2017-08-29 20:51] #4388 closed

[2017-08-29 20:51] #4521 closed

[2017-08-29 21:00] vladikoff commented on #4930
This should be fixed

[2017-08-29 21:00] #4930 closed

[2017-08-30 03:01] rfk commented on #5394
I tried this on two desktop devices and it also gave me a bad, although not catastophic, user experience.  After tapping "reconnect to sync", it:

* Opened a new tab for the sign-in form
* Briefly showed a "500 server error" page of some kind, I didn't catch it entirely
* Flickered and transitioned to an empty "sign in" form

[2017-08-30 03:06] rfk commented on #5394
Also, after signing back in, desktop firefox still says I'm logged in with my *old* primary email address, not the new one.

[2017-08-30 03:32] rfk commented on #5394
From "network" tab in devtools, the sequence of events here seems to be:

* Content-server is loaded with https://accounts.firefox.com/force_auth?service=sync&context=fx_desktop_v3&uid=foobar&email=old-email@example.com i.e. specifying both the email and uid.
* It passes the old email to https://api.accounts.firefox.com/v1/account/status and gets back "exists: false".  Should this return `true` si

[2017-08-30 10:52] shane-tomlinson opened #5397 "emailFirst experiment not being reported to DataDog"
Now that train-94 is out the door, I went to look at the emailFirst metrics on DataDog. The experiment metrics aren't being reported! The "email_first" screen metrics are though, so far they look pretty decent!

[2017-08-30 11:53] shane-tomlinson commented on #5309
Here's an example from yesterday: https://travis-ci.org/mozilla/fxa-content-server/builds/269669704?utm_source=github_status&utm_medium=notification

[2017-08-30 13:19] vladikoff commented on #5309
aw :(

[2017-08-30 13:20] vladikoff commented on #5397
@shane-tomlinson so no tags on existing events? I cannot see them either

[2017-08-30 13:45] shane-tomlinson commented on #5388
There are two problems:

1. If any of the view's input elements have a value prefilled from the form-prefill model, an `engaged` event will [be logged as a result of the `input` event being fired on the element](https://github.com/mozilla/fxa-content-server/blob/7f2abc6837dc46c04611d58e6ca21b113a6c6c4d/app/scripts/views/mixins/form-prefill-mixin.js#L41).
2. The [check for whether an element should

[2017-08-30 14:12] ryanfeeley opened #5399 "Ponton app logo is stretched"
EXPECTED RESULTS:
<img width="479" alt="image" src="https://user-images.githubusercontent.com/68213/29876752-96cfa986-8d6b-11e7-8cee-1bdf36a4e473.png">

ACTUAL RESULTS:
<img width="480" alt="image" src="https://user-images.githubusercontent.com/68213/29876549-1fa86258-8d6b-11e7-80f9-cd015c433ea9.png">

[2017-08-30 14:42] shane-tomlinson commented on #5397
Ahha! The problem is [we are creating the experiment without passing the experimentGroup](https://github.com/mozilla/fxa-content-server/blob/fd2f01cb8c4012c1ce2519b512936fa9f518288e/app/scripts/views/mixins/email-first-experiment-mixin.js#L31)!

[2017-08-30 15:01] vladikoff commented on #5399
This is due to `background-size: 32px 32px;` css

[2017-08-30 15:45] shane-tomlinson opened #5403 "Flakey functional test against circle - change_password - sign in, try to change password with an incorrect old password"
@vershwal is running into this in #5389.

My STRs

1. Stop the content-server on fxa-local-dev - in fxa-local-dev, type `./pm2 stop 4`
2. Apply the diff below
3. Start the content-server as circle would - in fxa-content-server, type:
[code]
4. Start the functional tests: `npm run test-circle`. I'll open an issue.

[code]

× firefox on any platform - change_password - sign in, try to change passwor

[2017-08-30 16:36] shane-tomlinson opened #5406 "Discuss: Use named constants for event names?"
@philbooth suggested while reviewing #5401 that named constants be used for an event name that is duplicated in two files. I did a quick search of `.trigger('`, we have 142 instances, many of which are duplicate, none using named constants.

Using a named constant might reduce our bundle size by a few bytes, plus it'd allow us to update the message being passed in one place.

Other pros and cons?

[2017-08-30 16:45] #5388 closed

[2017-08-30 16:45] #5397 closed

[2017-08-30 16:49] ryanfeeley commented on #5399
@vladikoff So all our graphics needs to be centered on 32 x 32 px?

[2017-08-30 17:59] peiying2 opened #5407 "How to get rid of escape-characters?"
Where do these escape-characters on Firefox Accounts come from and how to get rid of them?

See: https://imgur.com/a/uisRm

[2017-08-30 19:44] #5403 closed

[2017-08-30 21:22] rfk commented on #5407
Thanks for the report @peiying2; what locale are you seeing this in?

[2017-08-30 21:55] peiying2 commented on #5407
@rfk looks like folks on IRC #fxa were working on it.

https://github.com/mozilla/fxa-content-server-l10n/blob/4ed63475640699e57124ad143d93752c8ebd9ff1/locale/rm/LC_MESSAGES/client.po#L76 - Romansh is the locale.

[2017-08-31 13:52] #5392 closed

[2017-08-31 15:05] shane-tomlinson commented on #5311
We have a plan. Outlined in https://bugzilla.mozilla.org/show_bug.cgi?id=1393393. Starting with Fx 57, Firefox is no longer going to redirect to about:preferences#sync, instead it'll rely on the content-server to handle the screen transition. To do the screen transition, we'll have to poll for the verification status, and in doing so, we'll handle signup bounces.

Moving to next. Assigning to me.

[2017-09-01 14:05] ryanfeeley opened #5416 "Correct experiment reporting metrics to DataDog"
If I break down fxa.content.loaded for the past 4 hours by exp_group, I see some strange combinations of metrics.

[code]

I forget the actual intended enrolment numbers, but I imagine that it should look something more like:

[code]

and if broken by experiment, something like:
[code]

[Source](https://app.datadoghq.com/dash/54206/fxa-content---registration?live=true&page=0&is_auto=false&from_ts=

[2017-09-01 15:12] shane-tomlinson commented on #5416
cc @vladikoff

[2017-09-01 17:49] vladikoff commented on #5416
Looking at the graphs the data seems fine after the fix:

![image](https://user-images.githubusercontent.com/128755/29981613-4f5e752a-8f1c-11e7-81e1-6b9fa9a43c32.png)

[2017-09-01 17:55] vladikoff commented on #5416
having experiment names under `exp_group` looks wrong, don't use that.
it should be `exp_group: treatment / control ` and `experiment:someexperiment`

[2017-09-01 19:38] ryanfeeley opened #5418 "Success message should be white not black"
I remember testing this before doing the Photon PR, and it was white, but I see black…
![screenshot 2017-09-01 15 17 21](https://user-images.githubusercontent.com/68213/29985088-80532dce-8f2b-11e7-9314-2bc08a06945e.png)

[2017-09-01 19:41] ryanfeeley commented on #5416
@vladikoff I'm saying that the data coming in looks weird. I can break down anything by user agent, operating system, train name. Why can't I break things down by experiment names? See the source chart link above.

[2017-09-03 18:16] apoorvasingh17 commented on #5418
Hi, can I take this up?

[2017-09-03 18:23] vladikoff commented on #5418
Sorry @apoorvasingh17 , we already have a PR in progress to fix this.

[2017-09-04 09:11] #5367 closed

[2017-09-04 09:24] #5011 closed

[2017-09-04 09:27] #5418 closed

[2017-09-04 12:42] shane-tomlinson opened #5425 "Local functional test failure - "Firefox Desktop Sync sign_up - choose option to customize sync""

[2017-09-04 12:43] shane-tomlinson commented on #5425
ref #5424

[2017-09-04 14:02] shane-tomlinson opened #5427 "Tests not running on teamcity"
Looks like destructuring is blowing up everything!

<img width="696" alt="screen shot 2017-09-04 at 15 01 51" src="https://user-images.githubusercontent.com/848085/30029665-a2b9722e-9179-11e7-9ced-03f7cc125358.png">

@jrgm - I thought teamcity was all node 6 now?

[2017-09-04 14:05] #5425 closed

[2017-09-04 14:23] philbooth opened #5428 "Stop emitting so many screen.settings events"
Currently, we emit extra `screen.settings` events when users close the settings sub-views, like "Devices & apps" or "Communication preferences". I'd like to change this behaviour so that those transitions do not cause the main `screen.settings` event to be re-emitted every time, but not if that is going to mess up anyone's dashboards.

@ryanfeeley do you have any metrics in DataDog that might be b

[2017-09-04 15:46] shane-tomlinson commented on #5394
Ref #4316

[2017-09-04 15:47] shane-tomlinson commented on #4316
Ref #5394

[2017-09-04 17:16] philbooth opened #5431 "Log output for the server tests is worse than useless"
When I run the server tests, they log a line for every passing test case and don't log any lines at all for failing test cases. This is the diametric opposite of what it should be.

I want to be able to easily see which tests are failing from looking at the output. Instead, I have to compare the output against the list of all tests and see which ones are missing, which is time-consuming and comple

[2017-09-04 18:08] vladikoff commented on #5431
Might help:

[code]

[2017-09-04 18:12] philbooth commented on #5431
Thanks, it does! That reporter does at least show fail messages and, added bonus, it has shiny colours! 🌈

[2017-09-05 13:41] shane-tomlinson opened #5433 "Local failing functional test: communication preferences - opt-in on signup"
Error: [POST http://localhost:4444/wd/hub/session/899e2b9b-efd5-437f-b2af-fbe4e6968d09/element/20/click / {}]
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'stomlinson-30887', ip: '192.168.0.22', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.12.6', java.version: '1.8.0_131'
Driver info: org.openqa.selenium.firefox.FirefoxDriver
Capabilities [{moz:p

[2017-09-05 14:00] shane-tomlinson commented on #5433
The odd thing is, if I update the test to click on the span, the test also fails because the user isn't signed in. Even more concerning, if I go through the flow manually in Firefox 55, users are not opted into marketing email because Fx 55 does not believe the checkbox is clicked.

Putting a heart on this. Labeling train-95 until we can figure out if this is a real problem.

[2017-09-05 14:32] shane-tomlinson opened #5434 "Inaccurate message when verifying in Fx for iOS w/ already signed in user."
STR

1. In Firefox for iOS, sign up for a new user.
2. Open the verification link in Firefox for iOS.
3. Be confused.

Screen cap generated on Fx desktop forcing the UA string to be that of Fx for iOS:

<img width="423" alt="screen shot 2017-09-05 at 15 30 24" src="https://user-images.githubusercontent.com/848085/30066296-0263e63c-9247-11e7-879d-4d110a7d8b63.png">

cc @ryanfeeley

[2017-09-05 14:32] shane-tomlinson commented on #5434
Found while developing #5408

[2017-09-05 15:16] vladikoff commented on #4635
Were there any results from that?

[2017-09-05 15:50] philbooth commented on #5428
Talked about this in the meeting, we've agreed that the extra events can be got rid of.

[2017-09-05 15:57] vladikoff commented on #4635
from mtg: 🗡  Kill it

[2017-09-05 15:57] #4635 closed

[2017-09-05 16:34] shane-tomlinson opened #5435 "Log how many users are forcibly signed out from /settings"
Log how often [this line](https://github.com/mozilla/fxa-content-server/blob/5eea74110c86aadc2ee37fd043e612aea7572c3a/app/scripts/views/settings.js#L78) is hit.

Ref https://github.com/mozilla/fxa-bugzilla-mirror/issues/369

We think the referenced bugzilla bug is caused by a thumbnail being generated for the settings page for an account that is not currently signed in, but we want to find out how

[2017-09-05 16:45] vbudhram opened #5436 "Disable avatar upload on iOS 10 devices"
For https://bugzilla.mozilla.org/show_bug.cgi?id=1334459, FxA team wanted to move forward and disable avatar uploads on iOS 10 devices.

[2017-09-05 17:11] vladikoff commented on #5197
@shane-tomlinson was this fixed? I had to adjust the e2e test to not expect prefs as a landing target :)

[2017-09-05 18:12] ryanfeeley commented on #5428
👍

[2017-09-05 19:32] ryanfeeley opened #5438 "Animate settings sections open like when we disconnect devices"
When users open sections in Settings, it can be a little jarring. Can we make it smoother like when a device is disconnected? Should match the new [Photon animation curve](https://design.firefox.com/photon/motion/duration-and-easing.html).
![show-devices](https://user-images.githubusercontent.com/68213/30079562-a00dcdc4-924e-11e7-9af2-4fd12930c187.gif)

[2017-09-05 20:17] shane-tomlinson commented on #5363
In 1393393, @mhammond and I decided to WONTFIX this for now. The theory is this occurs for users that open FxA and immediately close the window immediately. Closing, we can re-open if the metrics alter significantly or we realize there is an actual problem.

[2017-09-05 20:17] #5363 closed

[2017-09-05 20:40] vladikoff commented on #5382
from mtg: blocked on metrics

[2017-09-05 20:41] vladikoff commented on #4863
from mtg: @ryanfeeley is working on this

ux feedback: add hover for the options. on mobile, try inline, needs update.

[2017-09-05 20:46] jrgm commented on #5427
Fixed.

[2017-09-05 20:46] #5427 closed

[2017-09-05 20:49] vladikoff commented on #5390
TeamCity will run!

[2017-09-05 20:49] #5390 closed

[2017-09-05 20:59] vladikoff commented on #4655
I'm excited @shane-tomlinson

[2017-09-05 21:00] vladikoff commented on #5197
Needs 57 detection

[2017-09-05 21:01] davismtl commented on #4863
I create a feature card for this here:
https://projects-beta.growthhackers.com/cards/add-descriptions-to-sync-engines-in-cwts/1zv1g_nkjvkNj9fX1gS9Zw

We should make a feature document for this too. I'll try to schedule a kick-off.

[2017-09-05 21:03] vladikoff commented on #5322
Fixed this!

[2017-09-05 21:03] #5322 closed

[2017-09-06 00:41] vladikoff commented on #4857
Closing for now, the error is not user visible, just polling fail, probably due to slow mobile networks

[2017-09-06 00:41] #4857 closed

[2017-09-06 05:11] rfk commented on #5180
Assigning this to @davismtl to have a kickoff and escalate this into a feature card.  I'm not sure what the means for it being in the Crouton milestone.

[2017-09-06 12:04] #5305 closed

[2017-09-06 12:12] #5431 closed

[2017-09-06 13:11] shane-tomlinson commented on #5433
I just tested with Firefox 55 against prod. The opt-in is being captured and sent along with the call to /recovery_email/verify_code. That's a good start. Doesn't explain this local failing test though.

[2017-09-06 13:12] shane-tomlinson commented on #5433
Because this is being captured in prod, this is lower priority than I initially feared. Bumping from train-95 to train-96.

[2017-09-06 13:39] #5428 closed

[2017-09-06 14:12] #5435 closed

[2017-09-06 14:58] davismtl commented on #5180
Feature card here:
https://projects-beta.growthhackers.com/cards/make-login-registration-iframe-feel-faster/A_hRzvy5pPyOaJ1NAGNkag

Kick-off scheduled for Thursday 8:30 am (PST). Leif, Feeley and Shane are on the invite. Shane expressed interest in the meetings yesterday to work on this since he feels like he'll wrap up the CAD on login pretty soon.

[2017-09-06 15:40] ryanfeeley opened #5442 "Make sync options two columns on iframe size"
The Sync options push the primary action button below the fold. We need to make them two columns. One way to achieve this is to use the newsletter opt-in font style, and make the columns narrower.

CURRENT:
<img width="200" alt="screenshot 2017-09-06 10 51 26" src="https://user-images.githubusercontent.com/68213/30118991-75a5efd6-92f2-11e7-8f15-0af851db5fb5.png">

PROPOSED:
<img width="200" alt="s

[2017-09-06 17:51] #5346 closed

[2017-09-06 20:07] shane-tomlinson opened #5443 "Cannot differentiate between experiment groups of multiple experiments in DataDog"
We use the same experiment group names for all experiments, generally `treatment`, and `control`.

[`q3FormChanges`, `disabledButtonState` and `verificationPassword`](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/experiment.js#L19) are all created [in any view that adds the `experiment-mixin`](https://github.com/mozilla/fxa-content-server/blob/4a705997867c0a496d907c2e44

[2017-09-06 20:09] shane-tomlinson commented on #5443
@ryanfeeley's data in https://github.com/mozilla/fxa-content-server/issues/5416 is an example of this problem occurring in reality.

[2017-09-06 20:12] shane-tomlinson opened #5444 "experiment entry/groupings reported multiple times"
I noticed this while digging in for https://github.com/mozilla/fxa-content-server/issues/5443. We have both a top level [experiments](https://github.com/mozilla/fxa-content-server/blob/4a705997867c0a496d907c2e442c40eabf0a5b6e/app/scripts/lib/metrics.js#L330) and [individual flow events created](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/metrics.js#L547).

This seems

[2017-09-06 20:18] rfk commented on #5443
In our re:dash queries we typically filter by both event name and group name, so I don't think it'll have any effect there.

[2017-09-06 21:04] shane-tomlinson commented on #5427
Thanks @jrgm!

[2017-09-07 03:55] grigoryk opened #5445 ""Account updated" notification is unreadable: dark font size on dark green"
It doesn't look _that_ bad on one of my monitors (terrible on the other), but it's certainly not very readable on my phone's screen.

![screenshot_1504756333](https://user-images.githubusercontent.com/465422/30145332-a9b3a784-935e-11e7-99ed-6bd6dd038299.png)

[2017-09-07 06:52] philbooth commented on #5445
Thanks for the report, @grigoryk!

Actually a fix for this got made last week in #5421, which should reach production next week as part of train 95. Closing this as a dupe of #5418.

[2017-09-07 06:52] #5445 closed

[2017-09-07 09:03] shane-tomlinson commented on #5443
What if two group names are reported because the user is in two experiments?

[2017-09-07 09:29] philbooth commented on #5443
It depends on individual queries of course but there's the nothing in the schema itself which should have problems with that.

We have a dedicated [`flow_experiments` table](https://github.com/mozilla/fxa-auth-server/blob/master/docs/metrics-events.md#flow_experiments), which is populated from the `flow.experiment...` events. Each row has its own `experiment` and `cohort` columns, along with the `

[2017-09-07 09:39] shane-tomlinson commented on #5443
Perfect, thanks for the clarification @philbooth.

Looks like this problem only affects DataDog.

[2017-09-07 09:50] shane-tomlinson opened #5446 "All experiments are enabled in functional tests if `forceExperiment` is defined"
Noticed this while updating the tests of #5408.

In the functional test we use the `forceExperiment` and `forceExperimentGroup` query parameters to force users into an experiment. To avoid unexpected behaviors, within the functional tests experiments are usually disabled, unless of course, `forceExperiment` is defined. The problem is, [if `forceExperiment` is defined](https://github.com/mozilla/fx

[2017-09-07 13:44] vbudhram opened #5452 "Login page fails to load in iOS 9 mobile safari"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1397691, tested this in mobile Safari and it fails to load. From console logs, it appears to be a CSP error.

![screen shot 2017-09-07 at 9 43 03 am](https://user-images.githubusercontent.com/1295288/30166329-f52c54b6-93b0-11e7-8f03-36cf196b508d.png)

Tested using the same url as Firefox iOS: https://accounts.firefox.com/signin?service=sync&context

[2017-09-07 14:35] vladikoff commented on #5452
![](http://v14d.com/i/59b15913d3209.png)

![](http://v14d.com/i/59b15936b1f4e.png)

[2017-09-07 16:37] vladikoff commented on #5443
we can try having short names for a/b groups such as `dbs_treatment`, `cad_treatment`, etc

[2017-09-07 16:38] shane-tomlinson commented on #5442
@ryanfeeley says make the font 14px

[2017-09-07 16:40] shane-tomlinson commented on #5438
We are already using a slideUp when a device is disconnected.

[2017-09-07 16:41] shane-tomlinson commented on #5434
Assigning to @ryanfeeley for some designs.

[2017-09-07 16:46] shane-tomlinson commented on #5416
ref #5443

[2017-09-07 16:52] shane-tomlinson commented on #5394
@vbudhram - can you triage this?

[2017-09-07 16:55] shane-tomlinson commented on #5387
Blocked on info from Rachel.

[2017-09-07 17:09] #5168 closed

[2017-09-07 17:09] #5319 closed

[2017-09-07 22:05] vbudhram commented on #5452
Did a quick check and this was working in train 93. Not sure what could have introduced it but an trace seems to point to something email-first or sync engine.

<img width="502" alt="screen shot 2017-09-07 at 5 46 18 pm" src="https://user-images.githubusercontent.com/1295288/30187289-0feb025c-93f7-11e7-8421-bf5d62894c36.png">

[2017-09-08 00:42] vladikoff commented on #5452
@shane-tomlinson @vbudhram removing the static getter fixes the issue in Safari 9:

[code]

So we need to modify this a bit to make Safari 9 work again

[2017-09-08 05:22] rfk opened #5453 "Add CORS allow headers to /.well-known/openid-configuration"
Since we now support PKCE clients, it's possible to write e.g. a single-page web app that uses FxA for authentication and key-fetching.  Let's allow such apps to read our dynamic configuration rather than having to hard-code specific server endpoints.

(Not particularly urgent, just filing bugs as I go through the exercise of trying to write such a thing against the new scoped-keys API)

[2017-09-08 09:29] shane-tomlinson commented on #5452
Strange, it seems like that should be compiled by babel to something useful. We might not need the static getters on the class, I'm not sure they are used anywhere.

[2017-09-08 09:46] philbooth opened #5454 "Are signinCodes working correctly on iOS?"
Here is a [chart showing `signinCode` consumption broken down by platform](https://sql.telemetry.mozilla.org/queries/32397#86165):

<img width="637" alt="Screenshot of a chart showing vastly more signinCodes being consumed on Android than on iOS" src="https://user-images.githubusercontent.com/64367/30205808-e8fa2912-9481-11e7-93ae-ab4a0c863a65.png" />

At first glance, that seems like an extremely

[2017-09-08 09:50] philbooth commented on #5454
/cc @shane-tomlinson @vbudhram @davismtl

(is Leif on GitHub btw? tried @-ing him too but couldn't find him in the dropdown)

[2017-09-08 14:04] shane-tomlinson opened #5455 "/signin, /signup flow events not being emitted for emailFirst experiment"
Noticed this while creating https://sql.telemetry.mozilla.org/queries/13478/source. There are people in the `treatment` cohort, but the counts for engage and submit on the signin page are 0.

When I looked at the console log, sure enough, no flow events are being emit for these pages, I forgot to add the FlowEventsMixin to the views.

[2017-09-08 14:23] shane-tomlinson commented on #5455
Ref #5402

[2017-09-08 17:14] shane-tomlinson opened #5458 "consistent test timeouts on travis with trains 94, 95, 96"
See https://travis-ci.org/mozilla/fxa-content-server/builds/273369025

[2017-09-08 22:42] davismtl opened #5460 "Update Copy Around Newsletter Opt-in"
From Ben Niolet (and retention marketing team):

"TL;DR: We would like to change the language on email opt-ins on the accounts sign up form and in the settings UI for Accounts. This is so we don't confuse users when we start sending Account-related email that isn't opt-in.

(...)

We have worked up some draft copy and would like to work with you to get this implemented. Additionally, we'd like to

[2017-09-08 22:43] davismtl commented on #5460
I'm just making sure we are crystal clear on the choice of copy before we schedule this change.

[2017-09-10 04:12] kritisingh1 commented on #4983
Hi @vladikoff  Is this issue still open ? I want to work on it if it is. Let me know if I can.

[2017-09-10 21:16] vladikoff commented on #4983
@kritisingh1 yes please!!

[2017-09-11 09:25] shane-tomlinson opened #5465 "Email-opt outs do not seem to take effect from /settings."
I noticed this while signing up for a test account, I opted into the marketing email. I went to settings and opted out. I still receive the marketing emails. Others noticed similar behavior.

[2017-09-11 09:28] shane-tomlinson opened #5466 "spinner does not show up until many seconds after the page load."
We saw this last week while simulating a 3G connection - in the firstrun page the spinner does not show up in FxA until after 6 or 7 seconds.

[2017-09-11 13:02] shane-tomlinson opened #5469 "email-first experiment is not sufficiently isolated to compare apples to apples"
@davismtl and I discussed this on Friday in our 1:1, capturing here some of our thoughts.

* Bucket user into one of "verify password", "email-first" and "disabled button state" and "control".
* Remove the verify-password field until that experiment has proven itself out, because we believe this causes ~ 6% dropoff.

[2017-09-11 13:21] #5309 closed

[2017-09-11 13:21] #5455 closed

[2017-09-11 13:25] shane-tomlinson commented on #5458
Fixed by https://github.com/mozilla/fxa-content-server/pull/5468, closing.

[2017-09-11 13:25] #5458 closed

[2017-09-11 14:13] vladikoff commented on #5180
Ref https://github.com/mozilla/fxa-content-server/issues/5466

[2017-09-11 14:51] vladikoff commented on #2002
from mtg: try sending log out message to the browser when clicking back.

[2017-09-11 14:52] vladikoff commented on #3374
from mtg: the new spinner might make this experience better

[2017-09-11 14:52] vladikoff commented on #3670
Should we?

[2017-09-11 14:53] vladikoff commented on #3863
Let's close this for now unless we see it again

[2017-09-11 14:53] #3863 closed

[2017-09-11 14:53] shane-tomlinson commented on #3670
Ref #3653

[2017-09-11 14:54] shane-tomlinson commented on #3653
ref #3670

[2017-09-11 14:56] vladikoff commented on #3985
This should be fixed.

[2017-09-11 14:56] #3985 closed

[2017-09-11 14:59] vladikoff commented on #4563
Let's bring this back later if needed, we have unit tests for this button right now

[2017-09-11 14:59] #4563 closed

[2017-09-11 15:01] shane-tomlinson commented on #3788
As of today, the browser is successfully disconnected from Sync immediately and the user is asked to sign in again. I feel like this is "good enough", there is at least no delay like there used to be. Closing.

[2017-09-11 15:01] #3788 closed

[2017-09-11 15:23] #4655 closed

[2017-09-11 20:25] dholbert opened #5474 "In the "Verify email" for secondary email account, the "if you did not authorize this action...change your password" message/link doesn't make sense"
STR:

0. Be logged in to a Firefox Account (accounts.firefox.com)
1. Visit https://accounts.firefox.com/settings/emails?service=sync
2. Type in a secondary email address, and click "Add".

Now, let's pretend you mistyped the secondary email address, and that the verification email (which soon appears in your second email account's inbox) is being received by some unsuspecting confused person out t

[2017-09-11 20:32] dholbert opened #5475 "In "Secondary Firefox Account email added" email message, the "if you received it in error" footnote is insufficiently alarmist"
STR:
 1. Add a secondary email to your Firefox account, via STR in #5474 (and click the verification link sent to your second email)
 2. Look at the email that you'll now receive at your primary email - especially the footnote about "if you received it [this message] in error".

ACTUAL RESULTS:
The email says "This is an automated email; if you received it in error, no action is required"

EXPECTE

[2017-09-11 21:02] dholbert commented on #5474
Note: I filed #5475 about the corresponding "this is an automated email" text in the confirmation email sent to the *primary* email account (which is also problematic).

@davismtl observed in IRC that these email footnote blurbs probably just got switched around, which seems likely  -- each blurb makes more sense in the *other* email.

[2017-09-12 04:52] rfk commented on #5465
Some emails, such as "you're not yet syncing a second firefox", do out to all users regardless of their setting here.  Which email did you get that you weren't exepcting?

[2017-09-12 08:34] shane-tomlinson commented on #5465
I received "How are things going?" yesterday.

[2017-09-12 11:46] philbooth commented on #5350
Ref: https://github.com/mozilla/fxa-amplitude-send/pull/1

[2017-09-12 15:20] vladikoff commented on #5469
Fixed in https://github.com/mozilla/fxa-content-server/pull/5479

[2017-09-12 15:20] #5469 closed

[2017-09-12 15:20] vladikoff commented on #5452
Fixed in Fixed in https://github.com/mozilla/fxa-content-server/pull/5479

[2017-09-12 15:20] #5452 closed

[2017-09-12 16:57] vladikoff commented on #5180
Fixed in https://github.com/mozilla/fxa-content-server/pull/5483

[2017-09-12 16:57] #5180 closed

[2017-09-12 16:58] vladikoff commented on #5466
Fixed in https://github.com/mozilla/fxa-content-server/pull/5483

[2017-09-12 16:58] #5466 closed

[2017-09-12 19:18] #5436 closed

[2017-09-12 21:05] vbudhram commented on #5454
iOS 8.3 was recently landed with fixes to https://github.com/mozilla/fxa-bugzilla-mirror/issues/346 and https://github.com/mozilla/fxa-bugzilla-mirror/issues/354. I verified that these [instructions](https://github.com/mozilla/fxa/blob/9dfea8e69da0675d33fe3e94fe29d90f3b26de57/features/FxA-54-connect-another-device-phase-3/README.md#ios) work as expected, even when delaying going through onboarding

[2017-09-12 21:12] #5040 closed

[2017-09-12 22:40] davismtl commented on #5454
IIUC signinCode is the token used to pre-populate the email?

If that is correct, then I feel like something is wrong on iOS because we noticed a clear spike on Android (consumption and form_views). I'd expect a similar spike on iOS if everything is behaving as intended.

[2017-09-12 22:46] davismtl commented on #5454
IIUC signinCode is the token used to pre-populate the email?

If that is correct, then I feel like something is wrong on iOS because we noticed a clear spike on Android (consumption and form_views). I'd expect a similar spike on iOS if everything is behaving as intended.

CC @irrationalagent

[2017-09-13 02:22] rfk commented on #5465
@davismtl can you clarify which emails are covered by the marketing opt-in, and which are "transactional" and appear for all users?  This "how are things going" certainly feels like it should have been opt-in :-)

[2017-09-13 11:13] shane-tomlinson commented on #5433
Turns out the issue is when developing locally, that the fake basket server never receives the subscribe notification because we aren't running a message queue.

[2017-09-13 11:15] shane-tomlinson commented on #5433
There are a couple of content-server problems too, I'll file a PR with the changes needed.

1. Click on the opt-in checkbox does not check the checkbox.
2. waitForBasket is [wrapped in a thenify](https://github.com/mozilla/fxa-content-server/blob/57568aa13f41ad4b9d0b871e4ae95567a9948774/tests/functional/email_opt_in.js#L34) and shouldn't be. It already returns a function which returns a promise.

[2017-09-13 11:16] shane-tomlinson commented on #5433
Ref https://github.com/mozilla/fxa-auth-server/issues/2112

[2017-09-13 13:12] #5446 closed

[2017-09-13 13:31] shane-tomlinson commented on #5433
Blocked on an auth-server/basket-server comm mechanism.

[2017-09-13 17:14] davismtl commented on #5465
"How are things going?" is suppose to be their last onboarding email sent (4 of 4). Asking for feedback during onboarding emails is totally acceptable and within the rules of onboarding messages. Asking to set us as default is also acceptable if it allows to get the best out of our product. Though the super friendly tone does make it feel very marketing. :-/ Hard to balance efficiency and personal

[2017-09-13 18:30] davismtl commented on #5465
update:
Those 4 emails that I linked to are meant to be opt-in, not transactional.

I'm not sure why Shane got them. Is there a 24h delay for opt-out or do we push the opt-out immediately?

[2017-09-13 19:54] gion-andri commented on #5407
The same issue seems to exist also on other screens:
https://imgur.com/a/MJ3LA

(tested some minutes ago on https://latest.dev.lcip.org/ )

Is there a way to fix this problem an all screens? Potentially, a `'` character could be used in every string.

[2017-09-13 19:57] vladikoff commented on #5407
@gion-andri Thanks for testing, we shall check that string!

[2017-09-13 20:41] davismtl commented on #5454
from meeting with @philbooth and @irrationalagent

- We should see an uptake in signinCodes being consumed on iOS since Sept 7th thanks to a patch that @vbudhram landed but for now there seems to be no change.
- Also, based on the volume, the changes in form view and signinCodes should be unrelated. We aren't even sending enough people through the A/B test to come close to accounting for the incre

[2017-09-13 23:23] rfk commented on #5443
IIUC the official word is we need to migrate away from datadog, so I'm going to close this issue.  Let's re-open if we need to fix it in the interim.

[2017-09-13 23:23] #5443 closed

[2017-09-13 23:24] rfk commented on #5416
IIUC the official word is we need to migrate away from datadog, so I'm going to close this issue.  Let's re-open if we need to fix it in the interim.

[2017-09-13 23:24] #5416 closed

[2017-09-14 02:19] rfk opened #5487 "Restore utm_* to metricsContext for /account/create and /account/login"
We used to include the `utm_*` query parameters in the `metricsContext` bundle sent to many backend API requests, but we stopped doing it over in (https://github.com/mozilla/fxa-js-client/pull/223, https://github.com/mozilla/fxa-content-server/pull/4456) because we didn't need it for redash anymore.

Turns out that other things were using it though, in particular the marketing team uses them for m

[2017-09-14 05:16] philbooth commented on #5487
Not at all terrible, happy to do it.

Actually I'm surprised/impressed that anyone even managed to depend on them, I didn't think they were around in the back-end for very long!

[2017-09-14 05:25] philbooth commented on #5487
Note to self: If people are depending on this stuff it's important to have tests that make sure we don't optimise it away again in the future.

[2017-09-14 05:32] philbooth commented on #5487
For the sake of simplicity in the auth server, I'll probably just add them as optional properties to the schema that is re-used everywhere. So it will be possible to send them to any of our `metricsContext` consuming endpoints, we just won't do anything with them in most places for now.

[2017-09-14 07:39] philbooth commented on #5487
Auth server portion: mozilla/fxa-auth-server#2119

[2017-09-14 13:10] #5197 closed

[2017-09-14 13:10] #5311 closed

[2017-09-14 13:15] shane-tomlinson opened #5488 "Fx >= 57 transitions to the wrong screen after unblocking a Sync signin"
Follow on from #5472.

Firefox >= 57 transitions to /settings instead of /signin_confirmed or /connect_another_device.

See https://github.com/mozilla/fxa-content-server/blob/f1f8a00cc61ca7efd1afb8b91746129b1f69a69a/tests/functional/sync_v3_sign_in.js#L202

[2017-09-14 15:07] #5262 closed

[2017-09-14 16:34] shane-tomlinson opened #5489 "Use Firefox 55 on Travis/Circle."

[2017-09-14 16:37] shane-tomlinson commented on #5460
@davismtl - are we crystal clear yet?

[2017-09-14 16:48] philbooth commented on #4946
This doesn't seem to be going anywhere.

[2017-09-14 16:48] #4946 closed

[2017-09-14 16:48] vladikoff commented on #5210
Closing. Seems like an Android problem

[2017-09-14 16:48] #5210 closed

[2017-09-14 16:59] shane-tomlinson commented on #5406
Closing as WONTFIX.

[2017-09-14 16:59] #5406 closed

[2017-09-14 17:56] davismtl commented on #5460
Yes, they've updated to include copy in registration form opt-in.

[2017-09-15 13:30] shane-tomlinson opened #5490 "OAuth permissions are not translated"
Found while investigating #5407.

<img width="428" alt="screen shot 2017-09-15 at 14 28 23" src="https://user-images.githubusercontent.com/848085/30484457-ed872834-9a19-11e7-90ba-756f8dae01a5.png">

[2017-09-17 04:22] TheoChevalier opened #5493 "Broken link when deleting an account"
Deleted an account from iOS, I got the following screen:
The broken string is `Looking for Firefox Sync? <a %(escapedSyncSuggestionAttrs)s>Get started here</a>`

![img_1508](https://user-images.githubusercontent.com/1294206/30517969-e931416c-9b67-11e7-9468-a672b8b7734a.PNG)

[2017-09-17 22:41] rfk commented on #5490
Dup of #4758?

[2017-09-18 05:07] rfk commented on #5487
Thanks @philbooth!  IIUC we'll need to get the auth-server part deployed before any content-server change goes live, in order to avoid erroring out due to unknown properties.  What do you think about doing the content-server change in a train-96 point release, so we can get it live soon after the train-96 deploy?

[2017-09-18 05:16] rfk commented on #5465
We tell basket about it immediately, I'm not sure how it's processed downstream of that.  We may need to get Ben to help debug this.

[2017-09-18 10:42] rfk opened #5494 "Add support for deriving scoped keys in the oauth flow"
In support of [1], content-server will need to add support for deriving scoped keys as part of the oauth flow, including:

* Detecting a `keys_jwk` query parameter as a signal that the relier wants keys
* Calling the API provided in [2] to determine which of the requested scopes have associated keys, and fetch the metadata needed to calculate them
* Deriving key material for each scope following t

[2017-09-18 10:49] shane-tomlinson commented on #5493
This is actually working as expected. Within the iOS FxA panel, there is no way to open new tabs, so all external links are converted to inline links. You can see the same behavior if you visit the Terms of Service and Privacy policy.

Background information in https://github.com/mozilla/fxa-content-server/issues/2225 and https://github.com/mozilla/fxa-content-server/issues/3164

[2017-09-18 10:49] shane-tomlinson commented on #5490
Yes, closing as dup.

[2017-09-18 10:49] #5490 closed

[2017-09-18 10:54] TheoChevalier commented on #5493
Oh I see, had no idea :) Thanks for the explanation, I guess this can be safely closed

[2017-09-18 10:54] #5493 closed

[2017-09-18 10:54] rfk commented on #5493
It does seem like we could avoid showing this message at all though, since we're inside the iOS "settings" view so we're pretty definitely for there from sync already.  I wonder if the act of deleting the account clears the "service=sync" and other query parameters and causes us to show this message.

[2017-09-18 10:57] shane-tomlinson commented on #5493
It does - https://github.com/mozilla/fxa-content-server/blob/b8f299bb485ba15a0fd3d6bc166fd008badfd6b2/app/scripts/views/settings/delete_account.js#L45

[2017-09-18 11:02] shane-tomlinson commented on #5493
I added `clearQueryParams` in dbc531c1598d8dadf44d7c8d5b9e66f462d8cc40, but I do not recall why.

[2017-09-18 14:32] #5407 closed

[2017-09-18 17:26] ryanfeeley commented on #5460
@davismtl I commented on the doc. This piece of UI seems ripe for A/B testing to me, but I'm sure there has to be a lot of evidence pointing to what works best already.

[2017-09-18 19:08] davismtl commented on #5460
@ryanfeeley I don't care to test it in Settings.

On the registration form, the copy change seems pretty minimal. I don't think changing the small print copy of the newsletter subscription will impact registration to accounts. So I would vote to not test it. Too much overhead for such a little change.

I do however like your recommended improvement to it. Shorter is better.

What would be the hypo

[2017-09-18 19:23] davismtl commented on #5465
I've messaged Ben to take a look at this thread.

[2017-09-18 19:26] ryanfeeley commented on #5460
The change would increase the number of people signing up for the newsletter without having an adverse affect in signup success overall.

[2017-09-18 19:37] ryanfeeley commented on #4949
I'm still seeing this. In the meantime, can we say something more intelligible to users? Like: "Cannot load list. Refresh the page."

[2017-09-18 19:39] ryanfeeley opened #5496 "Connect another device screen shows black box"
STEPS TO REPRODUCE
1. Be signed in to Sync
2. Visit https://accounts.firefox.com/connect_another_device

ACTUAL RESULTS
Black box and missing Android logo. Using latest Nightly.
<img width="1241" alt="screenshot 2017-09-18 15 34 51" src="https://user-images.githubusercontent.com/68213/30560975-8b04f8a6-9c87-11e7-86dd-65c4258e7252.png">

[2017-09-18 19:55] rfk commented on #4949
Hrmph, I was expecting this to be fixed in train-95; @ryanfeeley using same STR as before?

[2017-09-18 20:00] davismtl commented on #5460
Ben Niolet signed off on your shorter copy. Due to the small size of the change, I don't think an A/B test is worth the overhead. (feature doc, engineering work, analysis, etc)

Let's just roll it out. Legal wants the change too IIUC.

[2017-09-18 20:04] vladikoff commented on #5496
O_o

[2017-09-18 20:04] vladikoff commented on #5496
This is not even svg yet

[2017-09-18 20:06] shane-tomlinson commented on #5496
I don't know why that's happening, I see this:

<img width="715" alt="screen shot 2017-09-18 at 21 05 03" src="https://user-images.githubusercontent.com/848085/30562098-d578325c-9cac-11e7-92fb-d8e7df83f04d.png">

[2017-09-18 20:18] shane-tomlinson commented on #5382
Some metrics:

<img width="982" alt="screen shot 2017-09-18 at 21 17 07" src="https://user-images.githubusercontent.com/848085/30562562-65beed0a-9cae-11e7-846a-dd876d0ef1d6.png">

Users are being blocked for two primary reasons:

1. they verify in a country we do not support
2. they verify in Android

Closing, now to decide on next steps.

[2017-09-18 20:18] #5382 closed

[2017-09-18 20:35] vladikoff commented on #5433
Could be unblocked by https://github.com/mozilla/fxa-local-dev/issues/94

[2017-09-18 20:40] vladikoff commented on #5387
No follow at this time

[2017-09-18 20:40] #5387 closed

[2017-09-18 20:47] vladikoff commented on #5454
In progress!

[2017-09-18 20:50] vladikoff commented on #4863
from mtg: in the works!

[2017-09-18 20:55] vladikoff commented on #4949
@shane-tomlinson to double check...

[2017-09-18 21:00] vladikoff commented on #5474
cc @ryanfeeley @vbudhram

[2017-09-18 21:00] vladikoff commented on #5475
cc @ryanfeeley @vbudhram

[2017-09-18 21:09] vladikoff commented on #5434
cc @ryanfeeley

[2017-09-18 21:12] vladikoff commented on #5488
from mtg: what is the fix for this?

[2017-09-18 21:47] rfk commented on #5496
Rendering bug in Nightly maybe? 😀

[2017-09-19 09:06] shane-tomlinson commented on #4949
@ryanfeeley is right... :(

<img width="641" alt="screen shot 2017-09-19 at 10 01 36" src="https://user-images.githubusercontent.com/848085/30584544-9ea3a942-9d19-11e7-8ba5-06eb3eab1587.png">

<img width="1206" alt="screen shot 2017-09-19 at 10 05 26" src="https://user-images.githubusercontent.com/848085/30584593-c55ea258-9d19-11e7-9bdb-2c0acd20c16d.png">

[2017-09-19 09:12] rfk commented on #4949
Any chance you can capture the assertion from request body in the network view for further debugging?

[2017-09-19 10:30] shane-tomlinson commented on #4949
I restarted to get the new nightly, now have to wait 6 hours.

[2017-09-19 10:42] shane-tomlinson commented on #4949
I found the problem... More details coming shortly.

[2017-09-19 10:52] shane-tomlinson commented on #4949
The problem is... When we create expiredAt to compare against createdAt, we always set expiredAt to *1 hour from now*.

See https://github.com/mozilla/fxa-content-server/blob/ead2f2cbb5fb061f713f514dd44302ae78505788/app/scripts/models/account.js#L216:L217

[code]

[2017-09-19 11:57] shane-tomlinson opened #5497 "assertion duration is longer than certificate duration"
@rfk and I noticed this while tracking down #4949. The assertion duration is set to 25 years, the cert duration to 6 hours. Assertions are not valid past their certificate lifetime.

https://github.com/mozilla/fxa-content-server/blob/ead2f2cbb5fb061f713f514dd44302ae78505788/app/scripts/lib/assertion.js#L12

https://github.com/mozilla/fxa-content-server/blob/ead2f2cbb5fb061f713f514dd44302ae78505788

[2017-09-19 12:39] #4949 closed

[2017-09-19 14:27] shane-tomlinson opened #5501 ""Invalid session" error not handled from CWTS"
STR

1. Sign up for an account for Sync. Stop at CWTS.
2. In a different tab of the same browser, sign up for a different account.
3. Go back to the first tab.

This is in German, but the text means "Invalid key".

<img width="330" alt="screen shot 2017-09-19 at 15 24 32" src="https://user-images.githubusercontent.com/848085/30597473-a3decf22-9d46-11e7-8347-c73288462361.png">

[2017-09-19 14:58] shane-tomlinson opened #5502 "# of users in email-first experiment has dropped w/ the updated bucketing"
Caused by https://github.com/mozilla/fxa-content-server/pull/5479.

email-first was rolled out to 2.5% of the global population from about:preferences#sync. With #5479, we essentially divided this by 3. Now we have far fewer people in the experiment.

Here are the results:

<img width="959" alt="screen shot 2017-09-19 at 15 55 34" src="https://user-images.githubusercontent.com/848085/30599048-ea8f

[2017-09-19 15:38] ryanfeeley opened #5503 "Give already used link screens a purpose"
I don't think we track views of this page, but seems like a good place to re-use the Connect Another Device logic. Make sense @shane-tomlinson? (use updated SVG)
![already-confirmed](https://user-images.githubusercontent.com/68213/30601046-f677bcf2-9d2e-11e7-9941-cee84c6c6709.png)

[2017-09-19 15:47] #5442 closed

[2017-09-19 17:49] irrationalagent commented on #5454
Quick update: I took a first look at the proportion of sign-in codes that are eventually consumed, and it looks somewhat low (less than 10%):
![screenshot-2017-9-19 fxa signin codes used as proportion of codes sent](https://user-images.githubusercontent.com/5625313/30606859-f358aaf6-9d27-11e7-8251-a126eacfb977.png)

see https://sql.telemetry.mozilla.org/queries/39209#105375

next step is to break

[2017-09-19 21:00] davismtl commented on #4863
Feature document in the works:
https://docs.google.com/document/d/1gEet2W5Z0zllza4_dqM-BCovi3NnM9o6ReWUbfCrzCs/edit#

[2017-09-19 22:43] grigoryk opened #5504 "Can not change Account Picture on iOS"
Saw this in today's sync fest.

Manage Account -> Account Picture -> Add -> Upload -> Take Photo (or any other option) redirects to currently open tab (or home panel).

If “Synced devices” part of the history panel was open, a sync is triggered as well.

[2017-09-19 22:57] rfk commented on #5504
Sounds like https://bugzilla.mozilla.org/show_bug.cgi?id=1393746, which should be fixed in upcoming deploy.

[2017-09-19 23:36] grigoryk commented on #5504
Ah, thanks Ryan. This seems like a dupe. I should update my iOS device, as well :)

[2017-09-20 01:26] grigoryk opened #5505 "Checkmark on sign-in confirmed page is slow to load"
Particularly slow on mobile.

Perhaps the page is actually fetching the image? If so, could we use a simple inline SVG instead?

[2017-09-20 14:18] shane-tomlinson commented on #5505
This entire flow is going to change with https://github.com/mozilla/fxa-content-server/pull/5408, though I can't imagine it'll be any faster. Inline images with a data URI might work, but that'd cause the template to explode in size which would slow down the initial JS download.

[2017-09-20 14:34] juliemccracken opened #5506 "Secondary email verification screen should not require cookies"
Please consult attached screen shot - Secondary email verification screen should not require cookies.
![secondary email verification screen should not require cookies](https://user-images.githubusercontent.com/17153650/30649814-2272e9ba-9dd6-11e7-8559-f6fae0461601.png)
 attached screen shot and

[2017-09-20 14:36] vladikoff commented on #5506
Ref: https://github.com/mozilla/fxa-content-server/issues/2677
Ref: https://github.com/mozilla/fxa-content-server/issues/5201

[2017-09-20 14:45] juliemccracken opened #5507 "FxA Settings buttons break with longer languages"
FxA Settings buttons break with longer languages

- Viewed on iPhone SE at least
- Button label copy should never wrap or break
- Button min-width should match the longest label in a given language

![button-unresponsive](https://user-images.githubusercontent.com/17153650/30650396-a191f4d8-9dd7-11e7-89e9-283521be456c.png)