[2019-02-18 13:11] shane-tomlinson commented on #6968
@philbooth looks like it'd be fine in the docs directory to me.

[2019-02-18 16:10] shane-tomlinson opened #6971 "Create SVG icon for Monitor in Devices&Apps section"
From https://github.com/mozilla/blurts-server/issues/769

cc @ryanfeeley

[2019-02-19 11:29] shane-tomlinson commented on #6968
I have restricted write access to the wiki until we migrate the docs elsewhere.

[2019-02-19 11:54] #6968 closed

[2019-02-19 13:23] shane-tomlinson opened #6973 "Update docker images to node 10"
We use node 8 currently which is in LTS maintenance mode. Would be nice to go to node 10 and get current LTS support.

[2019-02-19 16:28] shreya99oak commented on #6957
Can I take this up?

[2019-02-19 17:28] jrgm commented on #6932
In light of other events, is this issue a moot point?

[2019-02-19 17:44] shane-tomlinson commented on #6957
@shreya99oak - you sure can! If you run into any problems just let me know.

[2019-02-19 18:27] ryanfeeley commented on #6971
One for Ryan Gaddis. Ryan, we need a Monitor icon for the FxA device manager, based no the icons listed here.
https://github.com/mozilla/fxa-content-server/tree/master/app/images

Will show up here: http://accounts.firefox.com/settings/clients

[2019-02-19 18:34] davismtl commented on #6961
Assigned to me so that I can assess the size of opportunity with @irrationalagent which should make this easier to prioritize.

[2019-02-19 19:59] ryanfeeley commented on #6971
Eric Pang had already made one so I resized and optimized it. Does this work @shane-tomlinson? [icon-service-monitor.svg.zip](https://github.com/mozilla/fxa-content-server/files/2881782/icon-service-monitor.svg.zip)

[2019-02-20 14:54] hritvi commented on #6955
@shane-tomlinson May I work on this issue?

[2019-02-20 22:16] davismtl opened #6978 "Remove arrow from button on email confirmation screeen"
When you confirm an email in a Firefox that is not signed in, we tell users to sign in.

During Sync fest, it was noted to remove the arrow from this button.

<img width="487" alt="image" src="https://user-images.githubusercontent.com/19537086/53128622-22285080-351a-11e9-8318-a45ca2cedfb6.png">

[2019-02-20 22:19] davismtl opened #6979 "Spacing needed between copy and image on profile picture picker"
During Sync Fest, it was observed that there's missing padding between the image and "Position and rotate your picture as needed".

<img width="474" alt="image" src="https://user-images.githubusercontent.com/19537086/53128725-5dc31a80-351a-11e9-98c0-dc4839e08fce.png">

[2019-02-20 22:28] davismtl opened #6980 "In Coppa Field, you can be 999 year old"
In Coppa field during registration, you can be 999 year old.

Very small bug but if we're going to ask an age, we should probably make sure it's a valid age.

[2019-02-21 05:38] jrgm opened #6982 "Failing test `force_auth` on latest and stage"
https://tc-test.dev.lcip.org/viewLog.html?buildId=47956&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog#_state=326&focus=338

## Description

Failing test `force_auth` on latest and stage

### Steps to reproduce

Run tests on teamcity

### Expected result

Pass

### Actual result

Fail

### Environment

teamcity docker images

### Additional Info

Test log:

https://tc-test.dev.lcip.org/viewLog

[2019-02-21 05:45] jrgm commented on #6982
Hrm. That screencap isn't what's always recorded in other failures, so take that fwiw. I've also seen this one: https://screencap.co.uk/images/67be7abb98822fb35e4cb625e3de90dfee18ef58.png

The test docker containers are running up-to-date versions of Firefox (65.0.1 for release; 67.0.a1 for Nightly).

[2019-02-21 10:41] sv-sdeiac opened #6983 "The account is still displayed after I delete it"
Environment:
Devices: iPhone SE	12.0.1
Build: [Stage Train 131] and production;

Prerequisites:
Make sure you are logged with a valid account.

Steps to reproduce:
1. Go to 'manage account';
2. Tap on the 'Delete' button from the Delete account section;
3. Write your password and tap on Delete account;
4. Close and then reopen the app;
5. Tap on settings from the hamburger menu;

Expected result:

[2019-02-21 13:55] sv-sdeiac opened #6984 "Zoom control bar from avatar is not displayed on Android"
Environment:
Devices:  Android
Build: [Stage Train 131] and production;

Prerequisites:
Make sure you are logged in a valid account.

1. Go to https://accounts.firefox.com/settings;
2. Tap the 'Change' button from the Account picture area;
3. Tap on the 'Upload' button;
4. Take a photo ;
5. Pay attention to the space between zoom control buttons.

Expected result:
A line is presented between the z

[2019-02-21 14:50] markh-bz commented on #6952
I understand that’s you’re all very busy, but I completely second @TonnesM here; context is needed to understand the purpose of these strings. Please shed some more light!

[2019-02-21 15:31] vladikoff commented on #6952
@markh-bz @TonnesM , heya, we have a video demo of the feature here: https://www.youtube.com/watch?v=R5aJhEFcjJM

I hope it helps understand how the screens transition.

to explain this one a bit, below this string, it will show which device to approve the connection from. For example, it will display user's mobile device details, the user has to pick up that device and press a button on it.

[2019-02-21 19:54] vladikoff opened #6986 "Finalize Pairing strings"
Ref: https://github.com/mozilla/fxa-content-server/pull/6985/files#r259089308

The strings in this chart https://www.lucidchart.com/documents/edit/9a420c19-1e92-42a5-8eae-908a442c1044/0 need to be finalized

cc @ryanfeeley

[2019-02-21 20:11] vladikoff opened #6987 "Blocking pairing for 2FA users"
There was discussion to do it, but then not do it, and then do it again.

What did we decide? @shane-tomlinson or someone, could you let me know?

[2019-02-21 22:01] vladikoff opened #6988 "Clean up uap.supportsSvgTransformOrigin() usage in views"
Ref: https://github.com/mozilla/fxa-content-server/pull/6985#discussion_r259128535

![image](https://user-images.githubusercontent.com/128755/53204692-42c7d780-35fa-11e9-96ab-7d66ad715a20.png)

[2019-02-21 22:45] vladikoff opened #6989 "Need to investigate if we can do scopeToArray using `fxa-shared`"
We have 2 places where we do stuff with scopes and use `scopeToArray`.
We should migrate that to use the utils in `fxa-shared`

Follow up from: https://github.com/mozilla/fxa-content-server/pull/6876

[2019-02-21 22:46] vladikoff opened #6990 "Pairing: enhance code_challenge check in the Authority"
Follow up to https://github.com/mozilla/fxa-content-server/pull/6876

[2019-02-21 22:47] vladikoff opened #6991 "Pairing: send the pair_complete WC message"
Follow up to https://github.com/mozilla/fxa-content-server/pull/6876

[2019-02-21 22:49] vladikoff opened #6992 "Pairing: Signal that it's a pairing flow to Firefox Desktop in fxa_status"
Follow up to https://github.com/mozilla/fxa-content-server/pull/6876

[2019-02-21 22:50] vladikoff opened #6993 "Pairing: Use getters / setters for remote metadata"
Ref: getters/setters for metadata https://github.com/mozilla/fxa-content-server/pull/6876/files#r249996689

Follow up to https://github.com/mozilla/fxa-content-server/pull/6876

[2019-02-22 07:14] SorinaFlorean commented on #6306
Wasn't able to reproduce this issue on production or on stage server. I will close it.

[2019-02-22 07:14] #6306 closed

[2019-02-22 08:52] sv-sdeiac opened #6994 "I am able to write any type of characters in the phone number field"
Environment:
Device: Android, Windows;
Build: Stage [Train 131], Production;

Prerequisites:
Make sure you are logged on a valid account

Steps to reproduce:
1.  Go to https://accounts.firefox.com/sms?service=sync;
2.  Write multiple characters on the number filed (numbers, letters, alphanumeric characters);

Expected results:
I am able to write only the numbers in the phone number filed. Addition

[2019-02-22 09:55] shane-tomlinson commented on #6932
No, that's why I filed #6956. I'd still like to be able to disable the StdErrCollector w/o disabling flow and amplitude events.

[2019-02-22 10:33] shane-tomlinson commented on #6987
Yes, and let's figure out how to add 2FA to that flow with reasonable quickness.

[2019-02-22 10:51] shane-tomlinson commented on #6994
This was purposeful because phone number formats differ all over the world. See https://github.com/googlei18n/libphonenumber/blob/master/FALSEHOODS.md

[2019-02-22 12:02] sv-sdeiac commented on #6994
Due to comment 1, I'll close this issue. Thanks for the clarification.

[2019-02-22 12:02] #6994 closed

[2019-02-22 13:33] shane-tomlinson commented on #6983
@sv-sdeiac thanks for the report. Some questions.

The account is displayed where, within FxA or within Firefox for iOS? If Firefox for iOS, this is a [known about problem with Firefox for iOS](https://bugzilla.mozilla.org/show_bug.cgi?id=1279333).

[2019-02-22 13:38] shane-tomlinson commented on #6982
Thanks for opening this jrgm, I suspect the test is actually downloading Firefox, I haven't found a solid work around for it yet other than not clicking on the "Upgrade Firefox" button. :/

[2019-02-22 14:05] sv-sdeiac commented on #6983
Sorry for my mistake, I was shared the wrong video.
There is the good video: https://drive.google.com/file/d/1ZLTk0Din9DVIxlWWTtNschnU9Yvz9cZ_/view?usp=sharing

[2019-02-22 14:37] shane-tomlinson commented on #6983
Thanks @sv-sdeiac, yeah, that's caused by [Firefox for iOS not handling the `delete` notification that we send to them](https://bugzilla.mozilla.org/show_bug.cgi?id=1279333). Closing here.

Thanks for this, feel free to file any such issues here and we can re-triage as necessary.

[2019-02-22 14:37] #6983 closed

[2019-02-22 14:59] shane-tomlinson opened #6996 "Add an OAuth success screen at /oauth/success/<client_id>"
Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1528355

Both the reference browser and Fenix complete their flow by redirecting to `https://accounts.firefox.com/oauth/success/<client_id>`, which currently doesn't exist.

Let's show a placeholder similar to the Sync success screen so the browser
doesn't need to redirect *back* to `/connect_another_device?showSuccessMessage=true`.

cc @ryanfeeley

[2019-02-22 15:00] shane-tomlinson commented on #6996
cc @vladikoff

[2019-02-22 16:21] shane-tomlinson commented on #6955
@hritvi - you sure can! I don't yet have a good sense of what needs to be done here, my first inclination is that something must be done on the [sync auth broker](https://github.com/shreya99oak/fxa-content-server/blob/1acf910ec4b0ba8c54f4e7a5356b76a4debb2fb7/app/scripts/models/reliers/sync.js#L50), where it checks if the user is in the signup/signin flow and if so, checks for the `context` query p

[2019-02-22 18:53] hritvi commented on #6955
Ya sure @shane-tomlinson. Till then I can work on any other issue :slightly_smiling_face:.

[2019-02-22 18:59] hritvi commented on #6978
May I work on this issue @davismtl. Thanks :slightly_smiling_face:

[2019-02-22 19:00] hritvi commented on #6979
May I work on this issue. If I am not wrong this page loads when you change your profile picture, right?

[2019-02-22 19:20] davismtl commented on #6979
Correct, this page loads when you change your profile picture.

@ryanfeeley what should the padding be so we can provide clearer instructions?

[2019-02-22 19:25] davismtl commented on #6978
I have no objection,  CC @shane-tomlinson in case you have engineering questions.

CC @ryanfeeley he knows this is being addressed per his request

[2019-02-23 13:54] TonnesM commented on #6952
OK thank you. So it looks like both strings are imperative, correct?

If imperative, is leaving out periods intended due to how they may look when included, i.e. to beautify the top section? If so, I can understand, but could you please add l10n comments in the future in order to prevent wrong grammar moods submitted by localizers?

One could also think of including a colon after "from this device

[2019-02-24 10:37] farhan787 commented on #6980
May I start work on this ?

[2019-02-25 15:06] shane-tomlinson opened #7002 "Travis uses Firefox 58, 7 versions behind."
[Travis is pinned to Firefox 58](https://github.com/shane-tomlinson/fxa-content-server/blob/94769cb4e4944c2bd2baf259c4789cb74e354d80/.travis.yml#L10). That's 7 versions behind. We should update that.

[2019-02-25 15:07] shane-tomlinson commented on #7002
ref #6976

[2019-02-26 06:09] hritvi commented on #6988
May I take this issue @vladikoff?

[2019-02-26 13:02] #6978 closed

[2019-02-26 13:04] #6950 closed

[2019-02-26 13:08] #6943 closed

[2019-02-26 13:10] #6854 closed

[2019-02-26 13:19] shane-tomlinson opened #7006 "Local failing unit test: views/sign_up - render - positions password help tooltip on the second password field"
I expect this is caused by a similar problem to https://github.com/mozilla/fxa-content-server/issues/6900

[2019-02-26 14:57] vladikoff commented on #6988
@hritvi sure!

[2019-02-26 14:57] #6980 closed

[2019-02-26 15:05] farhan787 commented on #7006
@shane-tomlinson  may I fix this ?

[2019-02-26 17:36] shreya99oak commented on #6877
May I work on this?

[2019-02-26 17:42] shreya99oak commented on #6284
Hey! @vbudhram is anyone working on this? Can I take it up?

[2019-02-26 18:35] shreya99oak commented on #6632
May I work on this?

[2019-02-26 20:29] hritvi commented on #6984
May I work on this issue?

[2019-02-27 14:37] #6617 closed

[2019-02-27 16:36] vladikoff opened #7009 "TeamCity tests got confused with the sync dialog"
Got confused with ` Dismissed user prompt dialog: Are you sure you want to sign in to Sync?`

![](http://v14d.com/i/a7184034736bb6c58ece7700a34d6bf4dc708a15b9be6e3bcc94b5529dc13179.jpg)

[2019-02-27 17:23] hritvi commented on #6996
May I work on this @shane-tomlinson ?

[2019-02-27 17:27] vladikoff commented on #6996
@hritvi sorry this one is already assigned in next

[2019-02-27 17:35] #7009 closed

[2019-02-27 17:41] hritvi commented on #6988
@vladikoff Do I have to add the `setInitialContext` function [here](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/views/base.js)?

[2019-02-27 19:01] vbudhram commented on #6877
@shreya99oak Sure!

@algomaster99 @shreya99oak After you have gotten your local environment setup and running. I would replicate how the current client and devices section work.

It currently applies a loading class and gets toggled when the button is clicked. Ref [link1](https://github.com/mozilla/fxa-content-server/blob/b4d82d97a9bbd00a08bb739bbdf1d08b4ede7c1a/app/scripts/templates/settings/clie

[2019-02-27 19:03] vbudhram commented on #6284
@shreya99oak Sure! Let me know if you have any questions.

[2019-02-28 15:16] vladikoff opened #7012 "Update user-agent in functional tests to latest Firefox"
Ref: https://github.com/mozilla/fxa-content-server/pull/6976

[2019-02-28 15:51] philbooth opened #7013 "Can we split out the 123done functional tests to a generic relier testing repo?"
To empower reliers to test their own integrations, would it be feasible to fork the 123done functional tests out to a separate repo as a kind of template for reliers, with some instructions about replacing element selectors etc to get it working for them.

[2019-03-01 12:36] #7006 closed

[2019-03-01 16:36] #6971 closed

[2019-03-04 11:22] farhan787 commented on #6956
@shane-tomlinson may I work on this ?

[2019-03-04 17:49] shane-tomlinson commented on #6992
@vladikoff if you want this in train-133, can you move it?

[2019-03-04 21:25] vladikoff opened #7015 "Pairing: Make sure Android device icon shows up for Fenix and Reference Browser"
Currently we just show a laptop or something:

![](http://v14d.com/i/c11b3147ce479adcaee55dedb9971d5a71bb9e071e8b2a2ebb24866e9b742ba3.jpg)

[2019-03-04 21:34] ryanfeeley commented on #6952
@markh-bz @TonnesM
Here is a screenshot of improved strings in context. We are following the heading/subheading convention of firefox accounts.
<img width="635" alt="image" src="https://user-images.githubusercontent.com/68213/53764388-16824580-3e9b-11e9-926f-82aa7ced9cf8.png">
For example, our registration form says:

So however you have previously translated that, apply the same convention to thi

[2019-03-05 07:22] philbooth commented on #7013
I've started experimenting with this:

* https://github.com/mozilla/fxa-relier-tests
* https://github.com/mozilla/123done/pull/183
* https://github.com/mozilla/123done/compare/feature.456done?expand=1

[2019-03-05 12:32] hritvi commented on #7002
May I work on this @shane-tomlinson ? Also, do it only requires changing the version from Firefox 58 to 65 [here](https://github.com/shane-tomlinson/fxa-content-server/blob/94769cb4e4944c2bd2baf259c4789cb74e354d80/.travis.yml#L10) or there is more to it? Thanks

[2019-03-05 12:44] hritvi commented on #6717
This issue is the same as #5968 and I have worked on it earlier but due to some time constraints couldn't complete it. I had made a PR addressing this issue #5988.
Could I resume my work on this @shane-tomlinson ? Thanks!

[2019-03-06 10:23] shane-tomlinson opened #7019 "Avatar preview not horizontally centered on tablets in landscape"
## Description

The avatar preview is not centered when using a "tablet" resolution (wide but not tall) in landscape mode.

### Steps to reproduce

1. On a tablet, open https://accounts.firefox.com/settings/avatar
2. Put the tablet into landscape mode

<img width="1152" alt="screenshot 2019-03-06 at 10 18 52" src="https://user-images.githubusercontent.com/848085/53874051-8c9cbe80-3ff9-11e9-9cf2-4e

[2019-03-06 10:24] #6979 closed

[2019-03-06 12:45] #6973 closed

[2019-03-06 13:03] hritvi commented on #7019
May I work on this @shane-tomlinson ?

[2019-03-07 02:43] ryanfeeley commented on #6979
16px

[2019-03-07 13:31] miralobontiu opened #7021 "[Train 132] [Desktop] Android device displayed as not connected on "Manage Account" page"
STR:
1. Log in with the same Firefox account on multiple devices (Android, iOS and Windows 10).
2. Go to Manage Account page on all devices, and desktop.
3. Go to "Devices & apps" and observe the displayed devices.

Expected results:
All devices should be displayed.

Actual results:
On desktop, the Android device is not connected.

Notes:
On iOS and Android, all three devices are displayed, as exp

[2019-03-07 15:44] SorinaFlorean opened #7022 "Doorhanger to update the password is displayed even if the requirements aren't met"
Environment:
Platform Windows10
Stage - Train 132

Steps to reproduce:
1. Click menu (≡) → Options → Sync → Manage Account.
2. Click "Change" on the Password line and type the old password.
3. In the next two fields, insert a common password.
4. Click again on change.

Expected results:
- "Change" button should not be clickable until all password requirements are met.
- The doorhanger "Would you l

[2019-03-07 15:47] miralobontiu opened #7023 "[Android Enhancement] Rotate button is positioned too close to the zoom icon"
STR:
1. Log in to a valid Firefox account.
2. Go to Manage Account page.
3. Add a picture by tapping on the "Upload" button - choose Camera and try to rotate the taken picture.

Actual results:
The icon to rotate the picture is so small, that I accidentally tapped on zoom icon/button, instead of the rotate icon/button.

Expected results:
I should be able to rotate the picture without "hitting" oth

[2019-03-07 15:50] shane-tomlinson commented on #7022
Since this is Firefox behavior, I'm not sure what the options are here.

I wonder if we cancel the submit event if that'd prevent the doorhanger from showing, the problem is checking the password is an asynchronous operation and canceling the event would need to be synchronous.

[2019-03-07 16:53] farhan787 commented on #7023
May I work on this ?

[2019-03-07 17:43] farhan787 commented on #7012
@vladikoff should it be updated to version 65.0 ?

[2019-03-07 19:27] lmorchard commented on #6448
Starting to take a look at this issue as a baby step into FxA. Something I noticed that seems confusing - possibly because I don't have all the UX context yet:

With "email-first" sign-up flow (`/signup?action=email`)
<img width="247" alt="capture" src="https://user-images.githubusercontent.com/21687/53983246-c8608280-40e4-11e9-800c-03fe94ceb796.PNG">

Sign-up flow without email-first (`/signup`)

[2019-03-07 20:05] ryanfeeley commented on #6448
Hi @lmorchard I think it's only an issue of the engineering being incomplete. Feel free to finish it!

In fact, both of those are deprecated. The latest last updated mid-December is here: https://mozilla.invisionapp.com/share/5UM3J3TXWMR#/316338169_Artboard

[2019-03-08 08:56] SorinaFlorean opened #7026 "Different length for success message depending if the page is scrolled or not"
Environment:
Platform: Windows10
Stage - Train 132

Steps to reproduce:
1. Log in with an FF account and go to Manage account.
2. Change the account picture and pay attention to the success message.
3. Scroll down till the end of the page;
4. Change the account picture again and pay attention to the success message.

Expected results: for both steps 2 and 4, the success message is displayed the sa

[2019-03-08 08:57] miralobontiu opened #7027 "[Android] Cannot duplicate a bookmark"
**STR:**
1. Sign in with valid credentials.
2. Add a bookmark.
3. Sign in with the same account on a second device.
4. Duplicate the bookmark on the second device.
5. Trigger sync and verify the duplicate is synced back to the first device.

**Expected result:**
Another bookmark with the same URL appears on the first device.

**Actual result:**
On the second device, the bookmark is not duplicated.

[2019-03-08 08:58] jrgm opened #7028 "Create some intern tests that actually create records in `fxa.devices` and `fxa.deviceCommands`"
I was trying out the migration for https://github.com/mozilla/fxa-auth-db-mysql/pull/483 in stage and running the intern test. Looking at the stage db, I was suprised to see that **no** actual records are created in the `fxa.devices` table.

Actually using the browser will exercise using the actual db, but right now running intern tests say nothing about whether the effect of a migration and a new

[2019-03-08 09:17] farhan787 commented on #7026
@SorinaFlorean  may I take this ?

[2019-03-08 09:39] SorinaFlorean opened #7029 "Green banner for Account recovery enabled/disabled actions not displayed"
Environment: Android, iOS, Win10
Stage - Train 132

Steps to reproduce:
1. Log in and go to Manage account.
2. Go to "Account recovery" and tap on "enable".
3. Generate a new recovery key.
4. Revoke the key.

Expected results: the green banner "Account recovery enabled" is displayed at step 3 and for step 4 - another banner.

Actual results: the green banner is not displayed for step 3 nor step 4.

[2019-03-08 09:52] hritvi commented on #7029
Hey @SorinaFlorean the video is not accessible by me. I have requested the access for it, could you please look into it.

[2019-03-08 09:57] shane-tomlinson commented on #7021
From what I see here, these look like two totally separate accounts that are signed in. Can you take a screen shot of the email address that's signed in (should be at the top of the card) and email it to me at stomlinson@mozilla.com?

[2019-03-08 10:10] hritvi commented on #7029
May I work on this?

[2019-03-08 10:34] shane-tomlinson commented on #7027
Thanks @miralobontiu, this looks to me to be a problem with Firefox for Android rather than Firefox Accounts. Can you migrate this to https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox%20for%20Android?

[2019-03-08 10:34] #7027 closed

[2019-03-08 10:41] farhan787 commented on #7015
@vladikoff  may I take this issue?

[2019-03-08 10:49] shane-tomlinson opened #7030 "Deprecate context=fx_desktop_v2"
## Description

Firefox was changed to use `context=fx_desktop_v3` in [Firefox 46](https://bugzilla.mozilla.org/show_bug.cgi?id=1204714), yet we still support `context=fx_desktop_v2`. Firefox 46 is now 19 versions old and no longer within our "ESR + 1" window, which currently goes back to [Firefox 52](https://wiki.mozilla.org/Release_Management/Calendar).

### Steps to reproduce

Open `https://acc

[2019-03-08 10:49] shane-tomlinson commented on #7012
This is a can of worms and is going to involve huge changes. I had a quick attempt at adding a default `fxaccounts:fxa_status` WebChannel handler, which got many of the tests so far, and found the tests were actually signing in the browser to Sync because the `fxaccounts:login` message was not being intercepted. I would wait until we [deprecate `fx_desktop_v2` to touch this](https://github.com/moz

[2019-03-08 10:54] shane-tomlinson commented on #7002
Fixed by #7025

[2019-03-08 10:54] #7002 closed

[2019-03-08 10:58] shane-tomlinson commented on #6448
@lmorchard - the lack of support on the legacy signup page is intentional, `email first` is the new standard, and the old pages are going to be removed any month now. See #6618, #6619, #6620, #6621, #6622

[2019-03-08 10:59] shane-tomlinson commented on #6619
fx_desktop_v1 is now deprecated, and [fx_desktop_v2 will be soon](https://github.com/mozilla/fxa-content-server/issues/7030). Closing this.

[2019-03-08 10:59] #6619 closed

[2019-03-08 11:06] farhan787 commented on #7030
@shane-tomlinson may I fix this ?

[2019-03-08 11:10] farhan787 commented on #7012
@shane-tomlinson I'm looking into it.

[2019-03-08 11:16] shane-tomlinson commented on #7026
Well spotted @SorinaFlorean!

@farhan787, let's wait for @ryanfeeley's input on how to handle this, he's our UX designer.

[2019-03-08 11:18] shane-tomlinson commented on #7015
@ryanfeeley do we have an icon for Firefox for Android or Fenix, or do we use https://github.com/mozilla/fxa-content-server/blob/master/app/images/icon-device-phone-android.svg?

[2019-03-08 13:17] farhan787 commented on #7026
@shane-tomlinson I didn't see your message, I hope the changes I made are good to fix this issue.

[2019-03-08 13:21] shane-tomlinson opened #7033 "Merge fx-desktop-v1 auth broker into fx-ios-v1"
## Description

Support for context=fx_desktop_v1 was removed in #6895, but we still have the [fx-desktop-v1](https://github.com/mozilla/fxa-content-server/blob/8adcfd3173857e45f1798dd6dacdfa1ce04c342d/app/scripts/models/auth_brokers/fx-desktop-v1.js#L1) auth broker. Since fx_desktop_v1 can no longer be used, let's merge fx-desktop-v1.js into [fx-ios-v1.js](https://github.com/mozilla/fxa-content-s

[2019-03-08 14:00] farhan787 commented on #7033
@shane-tomlinson can I take this ?

[2019-03-08 18:04] shreya99oak commented on #6268
Can I work on this?

[2019-03-08 20:28] shane-tomlinson commented on #7033
You sure can @farhan787! If you run into any problems, please let me know!

[2019-03-08 20:29] shane-tomlinson commented on #7030
Had I read this before I did the update already, I would have said yes!

[2019-03-08 20:39] shane-tomlinson commented on #7019
You sure can @hritvi!

[2019-03-08 20:39] shane-tomlinson commented on #6268
Sure you can @shreya99oak!

[2019-03-08 20:47] #6284 closed

[2019-03-08 21:14] ryanfeeley commented on #7026
@shane-tomlinson Now with the nicer paler green, I think we should go full width in both cases. Make sense?

[2019-03-09 08:02] farhan787 commented on #7030
@shane-tomlinson the important thing is issue should be fixed, no matter who does it :-)

[2019-03-09 08:03] farhan787 commented on #7033
@shane-tomlinson sure! I'll let you know.

[2019-03-09 08:10] farhan787 commented on #7026
IMHO I think @ryanfeeley is right, it should be full width in both cases.

[2019-03-09 11:32] farhan787 commented on #6491
@SorinaFlorean may I fix this ?

[2019-03-09 13:36] farhan787 commented on #7026
@shane-tomlinson the same thing is happening with secondary email also.

[2019-03-10 18:28] farhan787 commented on #7026
@shane-tomlinson and @ryanfeeley I've updated the success messages for full length for both situations.

[2019-03-10 20:34] farhan787 commented on #6962
@shane-tomlinson that's a great idea! I've found HtmlWebpackPlugin and MiniCssExtractPlugin to minify HTML and CSS using webpack, if you allow me I want to do this. We should use them as devDependencies or project dependencies like grunt-usemin ?

[2019-03-10 20:51] farhan787 commented on #6491
@SorinaFlorean I think the issue is not there now because it's not asking to re-enter the password so that I can press cancel button to reproduce this issue.

[2019-03-10 20:56] farhan787 commented on #6880
@shane-tomlinson may I work on this ?

[2019-03-11 09:35] #7030 closed

[2019-03-11 10:19] hritvi commented on #6984
I was not able to reproduce this on chrome and on firefox browser. May I know on which browser it is reproducible @sv-sdeiac.

[2019-03-11 11:11] farhan787 commented on #6965
@shane-tomlinson I don't have an iphone so how can I reproduce it on my mac ?

[2019-03-11 12:20] sv-sdeiac commented on #6984
Hi, I can reproduce this issue using Firefox for Android Nightly and Release.

[2019-03-11 13:01] farhan787 commented on #6219
@shane-tomlinson may I do this ?

[2019-03-11 15:09] shane-tomlinson commented on #6965
@ryanfeeley can you provide some guidance here?

@farhan787 can you hold off until @ryanfeeley specs out what this should look like? The easiest thing to do is just load up the page and resize the window, or open dev tools to the "Inspector" panel and click the "responsive mode" icon in the upper right of dev tools, it looks like this:

<img width="128" alt="Screenshot 2019-03-11 at 15 08 46" src=

[2019-03-11 15:18] shane-tomlinson commented on #6219
Can you hold off on this one? I suspect if you work on this while @lmorchard works on #6448, there will be some collisions.

[2019-03-11 15:18] shane-tomlinson commented on #6396
Ref https://github.com/mozilla/fxa-content-server/issues/6507

[2019-03-11 15:21] shane-tomlinson commented on #6448
Ref https://github.com/mozilla/fxa-content-server/issues/6448

[2019-03-11 15:26] shane-tomlinson commented on #6965
Dup of https://github.com/mozilla/fxa-content-server/issues/6396, closing.

[2019-03-11 15:26] #6965 closed

[2019-03-11 15:27] shane-tomlinson commented on #6396
@ryanfeeley could we get your input on how to handle this?

@farhan787 please follow along here instead of #6965.

[2019-03-11 15:34] shane-tomlinson commented on #6880
You sure can!

[2019-03-11 17:27] shane-tomlinson commented on #7028
geckodriver now works with about:preferences#sync so we should be able to do this.

[2019-03-11 19:17] ryanfeeley commented on #6396
Let's revert to the original design which is more robust.
<img width="508" alt="Screen Shot 2019-03-05 at 2 02 36 PM" src="https://user-images.githubusercontent.com/68213/54151229-bfd3b900-4410-11e9-8258-e73d96d0b415.png">

[2019-03-11 23:05] farhan787 commented on #6965
@shane-tomlinson sure, I'll wait for your instructions.

[2019-03-11 23:09] farhan787 commented on #6219
@shane-tomlinson I'll wait for your instructions. Btw, I was implementing to validate the password & vpassword, email and MAX_VALID_AGE if they have values and on their respective blur events so that all the things on the sign up page become inline instead of on submitting the form.

[2019-03-11 23:18] farhan787 commented on #6396
@shane-tomlinson I'm implementing this.

[2019-03-12 14:12] shane-tomlinson commented on #6396
@ryanfeeley thanks for the input, do you want this on mobile, desktop, or both? Any thoughts to https://github.com/mozilla/fxa-content-server/issues/6507?

[2019-03-12 14:57] shane-tomlinson opened #7040 "Remove support for node 8, support 10+"
We still support node 8 but our Docker images are now built using node 10. Let's drop support for node 8.

[2019-03-12 15:07] #7026 closed

[2019-03-12 15:12] farhan787 commented on #7040
@shane-tomlinson could you please elaborate where are we using node 8.

[2019-03-12 15:14] shane-tomlinson commented on #7040
@farhan787 it's still specified in [package.json](https://github.com/mozilla/fxa-content-server/blob/7af51def9f7fde6acccf9ecf5dd797341570c0dd/package.json#L166) and [.nvmrc](https://github.com/mozilla/fxa-content-server/blob/7af51def9f7fde6acccf9ecf5dd797341570c0dd/.nvmrc#L2)

[2019-03-12 15:21] farhan787 commented on #7040
@shane-tomlinson may I take this one ?

[2019-03-12 17:28] #7019 closed

[2019-03-12 21:41] Luna-Coder commented on #6907
Hello I am an Outreachy candidate and would like to contribute to this project by having this bug assigned to me. Thank you.

[2019-03-12 21:50] lmorchard commented on #6907
Hmm, I *think* this issue might already have been fixed, but we didn't close it yet. Looks like @vbudhram might have merged the fix?

[2019-03-12 21:50] Luna-Coder commented on #6154
Hello my name is Erik and I am an Outreachy applicant.
I would like to have this bug assigned to me in order to make my initial contribution.
Thank you.

[2019-03-12 22:57] Luna-Coder commented on #6593
Hello my name is Erik and I am an Outreachy applicant.
I would like to have this bug assigned to me in order to make my initial contribution.
Thank you.

[2019-03-13 01:10] yogmel commented on #6578
Hi @ryanfeeley,

May I take this issue?

Thanks!

[2019-03-13 06:00] championshuttler commented on #7040
Can i take this up? I would like to work on it.

Thanks

[2019-03-13 06:32] championshuttler commented on #6311
Hi @shane-tomlinson I would like to work on it, can i take this up?

Thanks

[2019-03-13 09:50] farhan787 commented on #7040
@championshuttler I think you didn't noticed my PR, I've already done that.

[2019-03-13 10:37] championshuttler commented on #6242
Hi @vladikoff I would like to work on it. Can i take this up?

Thanks

[2019-03-13 10:43] #7023 closed

[2019-03-13 11:00] shane-tomlinson commented on #6907
This *has* been fixed, closing.

[2019-03-13 11:00] #6907 closed

[2019-03-13 11:06] #7040 closed

[2019-03-13 13:08] #6717 closed

[2019-03-13 15:02] lmorchard commented on #6907
@Luna-Coder Sorry about that! But, you're super welcome to try picking up a different issue!

[2019-03-13 19:31] ryanfeeley opened #7045 "Profile upload view layout not working on mobile"
## Description

Mobile view of uploading profile picture is broken.

### Steps to reproduce

Turn on Sync and upload a profile picture.

### Expected result

Uploaded image should fit in view

### Actual result

It looks like this.
![IMG_9330](https://user-images.githubusercontent.com/68213/54308644-cb57e900-45a4-11e9-8a87-7ea587c410a2.PNG)
r

### Environment

iPhone SE iOS 12.14

[2019-03-13 19:57] hritvi commented on #7045
May I work on this @ryanfeeley?

[2019-03-13 21:50] AlbionaHoti commented on #6578
Hi @ryanfeeley

I am an Outreachy applicant, can I work on this issue?

Thank you!

[2019-03-13 21:57] karansapolia commented on #7028
So @shane-tomlinson this has been resolved? I went thorugh [PR #483](https://github.com/mozilla/fxa-auth-db-mysql/pull/483). It seems to be on track. @jrgm seems to have worked on it too. Any way I could contribute here?

[2019-03-14 11:03] shane-tomlinson commented on #7045
You already reported this @ryanfeeley! https://github.com/mozilla/fxa-content-server/issues/5313 Closing as a dup.

[2019-03-14 11:03] #7045 closed

[2019-03-14 11:04] shane-tomlinson commented on #6578
@yogmel, you sure can.

@AlbionaHoti mind finding a [different issue to tackle](https://github.com/mozilla/fxa-content-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22)?

[2019-03-14 11:09] shane-tomlinson commented on #7028
@karansapolia I'm going to remove the "help wanted" on this, I believe the [pairing flow PR @vladikoff did](https://github.com/mozilla/fxa-content-server/pull/6985) should cause devices to be created. @vladikoff - thoughts?

[2019-03-14 12:13] asishkr123 commented on #6142
@shane-tomlinson  hi i would like to work on this issue,  if it's still open

[2019-03-14 12:49] shane-tomlinson commented on #6142
You can @asishkr123, maybe @philbooth has some hints to help you get started!

[2019-03-14 13:44] philbooth commented on #6142
@asishkr123 so, grepping for references to `lib/user-agent` in the back-end shows us two occurrences of it (I think there were more back when we opened this issue):

[code]

Instead of calling `ua.parse` / `uaParser.parse` in those two files, we should call it only once and set the result as a property on `req.app.locals`. I'm not hugely familiar with the content server back-end, but it looks like

[2019-03-14 13:50] asishkr123 commented on #6142
@philbooth thanks,  it does clear things up.  I will start working on it

[2019-03-14 15:05] vladikoff commented on #7028
Yeap, but the pairing flow runs only on Nightly on Circle Ci right now

[2019-03-14 16:07] philbooth commented on #3558
We discussed the DOM manipulation aspect of this issue in retro just now so, in the interests of providing a platform for continuing that discussion, re-opening.

/cc @shane-tomlinson @lmorchard @vbudhram @ianb @dannycoates @clouserw

[2019-03-14 16:44] karansapolia commented on #6877
Hey @vbudhram @shane-tomlinson, I would like to work on this issue. May I take it up?

[2019-03-14 17:21] karansapolia commented on #6594
After you open the profile picture options menu, If you keep pressing tab enough number of times, you will notice that it cycles through all the entries in the background and just after that it starts cycling through all the options in the profile picture menu.  So selecting the avatar options is happening, but we need to figure out how to change focus to the profile picture options modal when it

[2019-03-14 17:51] lmorchard commented on #6154
@Luna-Coder Feel free to start working on this! Looks like GitHub only allows core contributors to be assigned, but we can consider it yours. I might assign myself just to track it from a mentoring perspective

[2019-03-14 21:54] yogmel commented on #6578
Thanks @shane-tomlinson! I will work on it and will send you updates tomorrow.

[2019-03-15 07:50] Luna-Coder commented on #6154
@lmorchard Thank you very much, I will get started as soon as possible.

[2019-03-15 11:32] shane-tomlinson opened #7048 "Make basket OAuth requests directly to basket instead of the basket proxy"
Currently all basket OAuth requests go via the fxa-basket-proxy. Let's make those to basket directly instead.

We will want to:

1. Update the [marketing_email.api_url](https://github.com/mozilla/fxa-content-server/blob/c1cb23dd64011e582bb32a1395fd334987c8f9ea/server/lib/configuration.js#L285) to point to the basket server instead of the proxy.
2. Opt in to marketing email from the /settings page

[2019-03-15 11:59] shane-tomlinson commented on #7048
Ref https://github.com/mozilla/fxa-basket-proxy/issues/75 to "Add OAuth token handling/CORS to fake basket server for testing purposes"

[2019-03-15 15:26] lmorchard commented on #6578
@yogmel If shane is busy, I'm available for questions & help too. Looks like we can't assign issues on GitHub to folks outside the core team, so I think I'll just assign it to myself to track it

[2019-03-15 17:30] lmorchard commented on #6311
@championshuttler Hi there! I can help here too. Feel free to start working on this. I'm going to assign this issue to myself to help track it, since it looks like GitHub only lets us assign to core team members.

[2019-03-15 19:22] lmorchard commented on #6632
Looks good to me!

Before:

<img width="518" alt="Capture" src="https://user-images.githubusercontent.com/21687/54456785-10f7eb80-4736-11e9-8be1-3524a5e33a76.PNG">

After:

<img width="517" alt="Capture2" src="https://user-images.githubusercontent.com/21687/54456792-148b7280-4736-11e9-9c79-066003f464e8.PNG">

[2019-03-15 19:40] ryanfeeley commented on #6396
@shane-tomlinson We would do this for mobile, desktop, apps, web views, whatever. The only difference is the size of the elements. The avatar would go down to 71px. No card layout (as it truncates the email too often)

[2019-03-15 19:44] lmorchard commented on #6632
Reopening per (comments on that last PR)[https://github.com/mozilla/fxa-content-server/pull/7049#issuecomment-473414587]: "meant for this to be applied to the entire FxA website, not just this cookies page"

So we've got a partial fix and should extend this to *all* copy across the site.

[2019-03-15 19:45] ryanfeeley commented on #6632
@lmorchard yeah ideally.

[2019-03-15 19:45] lmorchard commented on #6632
@RPraneetha - would you care to take a shot at changing this to cover all copy on the site?

[2019-03-15 20:09] davismtl commented on #7045
@hritvi , we would certainly welcome help. Please see the referenced issue #5313

[2019-03-15 20:46] DraciVik commented on #6632
If @PRaneetha is not available I would like to take a shot at this @lmorchard . I am an Outreachy applicant and I would like to contribute to this project.
Thank you!

[2019-03-17 07:44] na899 commented on #6957
Is this issue still unresolved?

[2019-03-17 11:09] abhinavsagar opened #7053 "Installation issues on windows"
## Description
After doing `npm install` , I am getting
`npm WARN rollback Rolling back readable-stream@2.3.6 failed (this is probably harmless): EPERM: operation not permitted, lstat 'C:\Users\Win 10\Desktop\github\fxa-content-server\node_modules\fsevents\node_modules'

'scripts' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR

[2019-03-17 12:42] farhan787 commented on #6157
@shane-tomlinson I want to fix this.

[2019-03-17 14:00] farhan787 commented on #6040
May I fix this ?

[2019-03-17 19:55] farhan787 commented on #6186
@vbudhram may I fix this ? And by TOTP setup do you mean "/settings/two_step_authentication" or something else ?

[2019-03-17 20:19] farhan787 commented on #6409
@shane-tomlinson isn't it good that email addresses don't contain emojis in them in content-server ?

[2019-03-17 22:45] DraciVik commented on #6594
Hi @ryanfeeley, I am an Outreachy applicant. May I give this issue a go? Thank you!

[2019-03-17 22:56] DraciVik commented on #6311
Hi @championshuttler and @lmorchard . I am an Outreachy applicant and I'm looking for bugs to solve so I can contribute. If you're too busy with other bugs or because you are on a vacation according to your GitHub profile @championshuttler maybe I can give this a try? Thank you!

[2019-03-17 22:57] DraciVik commented on #6242
I would like to try and solve this bug. Can I have a go at it? @vladikoff Thank you!

[2019-03-17 23:00] DraciVik commented on #6157
Hi @shane-tomlinson I am an Outreachy applicant I want to give this a try. Can I give it a go?

[2019-03-17 23:05] DraciVik commented on #6257
Hi @vbudhram . I am an Outreachy applicant and I want to give this a try. May I? Thank you!

[2019-03-17 23:08] DraciVik commented on #6593
Hi @ryanfeeley . I am an Outreachy applicant and I want to contribute to this codebase. May I take on this issue? Thank you!

[2019-03-17 23:15] DraciVik commented on #6578
Hi @yogmel. If you're having problems or you're unable to contribute right now may I take this issue on? I am an Outreachy applicant and I am looking for bugs to solve. Thank you!

[2019-03-17 23:20] DraciVik commented on #6268
Hi @shreya99oak . Are you still working on this? May I tackle this issue? With @shane-tomlinson approval of course. I am an Outreachy applicant and I am looking at bugs to solve. Thank you!

[2019-03-17 23:24] DraciVik commented on #5968
Can I work on this issue? @vladikoff @ryanfeeley . I am an Outreachy applicant and I want to try and solve this issue. Thank you!

[2019-03-18 01:00] shreya99oak commented on #6268
Yes I'm still working on it :)

[2019-03-18 01:02] vladikoff commented on #6996
@hritvi You may work on this issue if you want!

[2019-03-18 04:02] championshuttler commented on #6311
Hi @DraciVik I am working on it!

Thanks

[2019-03-18 10:08] farhan787 opened #7055 "User is able to sign up even if the account already exists"
### Steps to reproduce
1. Make an account
2. Sign up with the same existing account

### Expected behaviour
The user should be redirected to sign in page

### Result
The user is signed in via the sign up page

[2019-03-18 10:12] shane-tomlinson commented on #6040
@farhan787 we are in the (slow) process of deprecating this page. I'm going to close this as INVALID.

[2019-03-18 10:12] #6040 closed

[2019-03-18 10:21] shane-tomlinson commented on #7055
This is [expected behavior](https://github.com/mozilla/fxa-content-server/pull/3413), and [intentional](https://github.com/mozilla/fxa-content-server/issues/2778). We are deprecating this flow to avoid this and other confusion, instead preferring the ["email-first" flow](https://github.com/mozilla/fxa-content-server/issues/6125).

Closing since this is expected behavior.

[2019-03-18 10:21] #7055 closed

[2019-03-18 10:26] farhan787 commented on #7055
@shane-tomlinson I got it!

[2019-03-18 11:18] shane-tomlinson commented on #7053
Hi @abhinavsagar - unfortunately we are pretty much all *nix developers, though you might be able to open a pull request that makes this work on both Windows and *nix, see http://blog.jonasbandi.net/2016/04/crossplatform-npm.html

[2019-03-18 11:31] AlbionaHoti commented on #6218
May I work on this issue? I am an outreachy applicant!

Can you give more details on this issue @shane-tomlinson please?

[2019-03-18 11:47] championshuttler opened #7056 "Unable to sign up"
## Description

After setting up the project , when I try to signup I am getting the error https://pastebin.com/YAghL34j
Describe the issue that you're seeing.

I try to debug the error but unable to do so.

I am checking the status `auth-server db mysql PORT 8000` is showing the errors in `./pm2 status` Output is here https://pastebin.com/FdGEVbfu

For the `|pm2 logs|` here is the output  https:/

[2019-03-18 12:20] shane-tomlinson commented on #7056
@championshuttler - From this line, it looks like you do not have Docker running:

[2019-03-18 13:33] vbudhram commented on #6257
@DraciVik Sure, I think the links above should give a good summary of what needs to be done. Let me know if you have any other questions.

[2019-03-18 15:30] SorinaFlorean commented on #6491
@farhan787 try this:
- Go to Manage account->Account recovery->Enable;
- Tap on "Generate";
- Re-enter password and tap on "Cancel".

I was able to reproduce only if I write the password again (if the field is autocompleted).

[2019-03-18 15:40] yogmel commented on #6578
Hi @lmorchard, thanks for your availability! Unfortunately, I had some problems installing all the requirements to run FXA (due to Docker and my OS). :(
I will, then, pass on this issue to any Outreachy applicant.
@AlbionaHoti , are you still interested in this issue?

[2019-03-18 15:50] AlbionaHoti commented on #6578
Hey @yogmel Yes I am! Thank you.

@shane-tomlinson Will continue with this one - as a new outreachy applicant - I hope you have the time to give me some starting guide - For now I am starting the project on my laptop.

[2019-03-18 16:13] BurungHantu1605 opened #7057 "Missing redirect after registration."
Users just get stuck on the email successfully confirmed page. Not even a link back to send.firefox.com available.

[2019-03-18 16:15] DraciVik commented on #7057
Hi @BurungHantu1605 and @dannycoates . I am an Outreachy applicant and I want to give this issue a try. May I? Thank you!

[2019-03-18 16:18] DraciVik commented on #6257
Thanks @vbudhram . I'll let you know if I run into obstacles.

[2019-03-18 16:19] shane-tomlinson commented on #7057
If the user verifies in the same browser as the signup, then they will be redirected back to Send. If they verify in a different browser, the link will dead end on the verification page.

@BurungHantu1605 did you sign up and verify in the same browser and on the same device?

[2019-03-18 16:19] shane-tomlinson commented on #7057
@DraciVik please hold off doing anything here.

[2019-03-18 16:39] lmorchard commented on #6593
@Luna-Coder, looks like you picked up Issue #6154 - do you still want to tackle this one?

@DraciVik, looks like you're taking on Issue #6257 - do you still want to tackle this one?

[2019-03-18 16:41] lmorchard commented on #6594
@DraciVik, looks like you're taking on Issue #6257 - do you still want to tackle this one as well?

[2019-03-18 16:42] lmorchard commented on #6242
@championshuttler, are you still interested in this issue?

@DraciVik, looks like you're taking on Issue #6257 - do you still want to tackle this one?

[2019-03-18 16:45] championshuttler commented on #6242
@lmorchard yes I am on it :), I am facing some issues while setting up the project in the mean time if Viktor is able to send the PR , feel free to do that.

[2019-03-18 16:47] lmorchard commented on #6578
@AlbionaHoti I can help here too, as Outreachy mentor. Feel free to email me at lorchard@mozilla.com with any questions! I'm also in IRC, but availability there is dependent on time zone.

[2019-03-18 16:49] DraciVik commented on #6593
@lmorchard Yes I am if @Luna-Coder is ok with it. @Luna-Coder was first to ask so i guess that takes precedence.

[2019-03-18 16:52] DraciVik commented on #6594
@lmorchard. Yes I would if that is not an issue. Thank you!

[2019-03-18 16:52] lmorchard commented on #5968
@DraciVik, looks like you're taking on Issue #6257 (and possibly #6593) - do you still want to tackle this one?

[2019-03-18 16:53] lmorchard commented on #6594
@DraciVik Go for it!

[2019-03-18 17:03] Luna-Coder commented on #6593
@lmorchard I am still working on Issue #6154, but I would also like to tackle this issue. One will be my intial contribution for the application process and plan to use this second issue to get more familiar with the codebase and workflow for this project.

[2019-03-18 17:10] lmorchard commented on #6593
Let's say this is @Luna-Coder's for now, since @DraciVik has eyes on a couple other issues too.

[2019-03-18 17:20] DraciVik commented on #6593
@lmorchard. That seems fair. I'll be happy to help as much as I am able. Thank you!

[2019-03-18 17:23] DraciVik commented on #5968
@lmorchard  I would like to try if that is not a problem. Thank you!

[2019-03-18 17:29] davismtl commented on #6767
If the device was already authenticated before 2FA was turned on, it should inherit the verified status.

We've observed through surveys that most people that got locked out of an account due to losing Google Authenticator had access to a second device where they couldn't disable 2FA because the devices hadn't inherited the verified state.

What's unclear to me is if we need a security sign off fo

[2019-03-18 17:35] lmorchard commented on #5968
@DraciVik No problem, go for it!

[2019-03-18 18:23] vbudhram commented on #6186
@farhan787 Sure you can work on this.

Correct, if they have not added TOTP/Two-step authentication, the user should not be able to navigate directly to `/settings/two_step_authentication/recovery_codes`. If they try, then we should add some logic to redirect them to `/settings/two_step_authentication`.

[2019-03-18 19:34] philbooth commented on #6890
Re-opening because #7058.

[2019-03-18 19:39] shane-tomlinson commented on #6767
Ref https://github.com/mozilla/fxa-auth-server/issues/2922

[2019-03-18 19:49] hritvi commented on #5968
I think that this issue is resolved by the PR [here](https://github.com/mozilla/fxa-content-server/pull/7031)

[2019-03-18 20:00] shane-tomlinson commented on #6218
@AlbionaHoti before starting this, let's get @ryanfeeley's input.

@ryanfeeley - should we still go with this design that was specified in the Photon update?

[2019-03-18 20:08] shane-tomlinson commented on #6157
@farhan787 go for it!

@DraciVik This one is already spoken for.

[2019-03-18 20:08] ryanfeeley commented on #6218
@shane-tomlinson We’ve not implemented [Photon title case](https://design.firefox.com/photon/copy/capitalization.html) yet, so I'm hesitant to go with a capital *C* on *Signin Confirmed*.

The new checkmark is great.

The *You are now ready to use {service}* is below the checkmark as per the other screen.
![IMG_9347](https://user-images.githubusercontent.com/68213/54560111-f58c1b00-4997-11e9-8373-

[2019-03-18 20:27] DraciVik commented on #6242
@championshuttler @lmorchard. Thank you! I will try and tackle this one if it's not solved when I get to it.

[2019-03-18 20:47] farhan787 commented on #6491
@SorinaFlorean I followed the above steps, but it's not there on my side, does it depend on something like OS, browser or something else ? I'm using Mac OS and Chrome browser.

[2019-03-18 21:01] farhan787 commented on #6157
@shane-tomlinson thanks

[2019-03-18 21:42] bini11 commented on #6957
Hey @shane-tomlinson Is this issue is still unresolved? May i work on this?

[2019-03-18 21:49] vladikoff commented on #6996
@hritvi I just realized that we really need to fix this issue. I can give you until Thursday (March 21) to send some PR and we can work on landing it. Hope that's enough time!

[2019-03-18 22:11] lmorchard commented on #6957
Looks like @shreya99oak has a Pull Request in progress for this issue - @shreya99oak, are you still working on this?

@bini11, you may want to try selecting another issue. @shreya99oak is may still be working on this or @na899 may pick it up. Lots of interest here!

[2019-03-18 22:36] lmorchard commented on #5968
Ah, okay, looks like #6717 was basically a duplicate of this one. I missed the reference earlier in the issue.

@DraciVik - so I think this issue is actually already handled. Hopefully you're still busy with one of the other issues!

[2019-03-18 22:36] #5968 closed

[2019-03-18 22:41] DraciVik commented on #5968
@lmorchard. Ok, cool. I was waiting on your response to what @hritvi said so I did not start working on this one. I will ask for guidance with the other issues when I run into roadblocks. Thank you!

[2019-03-19 01:05] karansapolia commented on #6594
Hello @lmorchard @ryanfeeley, I am an outreachy applicant too. I think I [asked](https://github.com/mozilla/fxa-content-server/issues/6594#issuecomment-472973775) to work on this issue and for some guidance a few days earlier. Hope @DraciVik  doesn't mind me working on this one.

[2019-03-19 01:08] aag commented on #6984
It looks like this is a general issue with range input rendering on Firefox under both Android and desktop Linux. Here's the relevant bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1529192

I think there are two options:
- Ignore the problem and let Firefox fix the bug.
- Add a workaround by styling the range track with CSS similar to this:
[code]
  The problem with this approach is that it wil

[2019-03-19 02:07] shreya99oak commented on #6957
Yes yes

[2019-03-19 03:54] Luna-Coder commented on #6154
@lmorchard Could you clarify which are the icon set that this task is asking to replace? I have installed the npm package that converts fontello icons into svg icons, but not sure which set of icons I need to provide in the path. Do I convert all icons from the fontello website [http://fontello.com/]? Thanks.

[2019-03-19 04:43] hritvi commented on #6996
Ya sure @vladikoff. I would try to resolve this as soon as possible.

[2019-03-19 04:54] hritvi commented on #6984
Hey @sv-sdeiac @aag I could try to resolve the issue but I still am unable to reproduce it. So I would be glad if someone else can take this issue.

[2019-03-19 07:02] DraciVik commented on #6594
Hi @karansapolia. It's up to @lmorchard I guess. I saw your comment but nobody assigned it to you so I asked just in case. Currently I am busy working on another issue and I was planning to do this one afterwards, but fair is fair and you asked for help and guidance first.

[2019-03-19 10:33] #6890 closed

[2019-03-19 10:52] #6880 closed

[2019-03-19 14:06] vladikoff commented on #6996
@hritvi to answer your question from IRC, just use the design from https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/templates/ready.mustache

You might be able to just reuse the template as well

[2019-03-19 15:31] ryanfeeley opened #7062 "Add client icon for Send in device list"
I noticed that there is no device icon for Send in the client list. Here is one!
[Send_Glyph.svg.zip](https://github.com/mozilla/fxa-content-server/files/2984139/Send_Glyph.svg.zip)

[2019-03-19 15:32] ryanfeeley commented on #7062
I ran it through https://jakearchibald.github.io/svgomg/

[2019-03-19 16:21] bini11 commented on #6877
Hey @shreya99oak are you still working on this issue?

[2019-03-19 16:53] AlbionaHoti commented on #6737
Hi, @shane-tomlinson I am an outreachy applicant - Can I work on this issue?

[2019-03-19 16:57] AlbionaHoti commented on #6877
Hi @shane-tomlinson - I am an outreachy applicant - I wanted to work on this - if possible?

I see there are a lot of people who would like to work on this issue, I tried myself because I had another small issue on this part - I tested it and made the loading spinner work before the QR code is shown -

If @shreya99oak didn't work on this - and is not available to work on the task - I can create a

[2019-03-19 16:59] AlbionaHoti commented on #7062
Hi, @ryanfeeley I am an outreachy applicant and would like to work on this issue :)

[2019-03-19 17:02] lmorchard commented on #6594
Sorry, things are a bit chaotic right now with lots of folks offering to take on issues!

@karansapolia why don't you give this issue a try. Meanwhile, @DraciVik you can stay busy with the other issue for now

[2019-03-19 17:03] lmorchard commented on #6594
Assigning myself to track, since github doesn't let us assign contributors 😞

[2019-03-19 17:05] lmorchard commented on #6737
Hmm, this issue is not on our "help wanted" list. It might need some more description of the work involved before it's ready to tackle.

[2019-03-19 17:30] vbudhram commented on #6877
Hey @karansapolia, I haven't heard back from @shreya99oak so I think it is ok for you to work on this if you choose.

If you are not able to, @bini11 you can, if you can't think @AlbionaHoti maybe.

Thanks for the interest!

[2019-03-19 18:25] bini11 commented on #6559
Hey @ryanfeeley Is this bug still open? I would like to work on it. Can i take this up?

[2019-03-19 18:47] r-arvind commented on #7056
![Screenshot from 2019-03-20 00-12-52](https://user-images.githubusercontent.com/32129503/54632918-1a21e900-4aa5-11e9-9d61-e0e2cb8e0844.png)

@shane-tomlinson I am facing the same issue, can you explain as to what is happening and how to fix it?

[2019-03-19 18:52] bini11 commented on #5438
Can i take this issue @vladikoff @shane-tomlinson? I am an Outreachy applicant and looking for initial bugs to start working but couldn't find any unassigned issues.

[2019-03-19 18:53] vladikoff commented on #5438
@bini11 go ahead!

[2019-03-19 18:57] bini11 commented on #6219
@farhan787 are you still working on this issue? or you have other bugs to work can i take this up @shane-tomlinson?

[2019-03-19 19:40] hritvi commented on #7056
@r-arvind @championshuttler there is some issue with the localhost. Instead, you would be able to signin at 127.0.0.1:3030. Even I tried a lot to search for an appropriate reason for this issue, but at last, concluded that there is some problem with my local PC. But as this issue is more frequent and not dependent on the local machine, I think that it would need some more discussions.

[2019-03-19 19:46] lmorchard commented on #7056
I haven't looked too deeply into this issue, but just talking about `localhost` versus `127.0.0.1`: Those are definitely not interchangeable as URLs. They might go to the same place, network-wise, but in an URL [they are different distinct *origins* with respect to security concerns and such](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy).

I think for FxA in development

[2019-03-19 19:48] r-arvind commented on #7056
Wow, it works at 127.0.0.1. That was unexpected, never realized that localhost won't work. I was struggling to find the issue for a long long time. Thanks!!

[2019-03-19 19:57] lmorchard commented on #7062
@AlbionaHoti feel free to take this one on! Do you have a good idea of what needs to be done here? Feel free to ask!

[2019-03-19 20:03] lmorchard commented on #5438
@bini11 Feel free to reach out to me for help as Outreachy mentor, too. I'm going to assign this to myself for tracking purposes.

[2019-03-19 20:11] lmorchard commented on #6559
@bini11 Go ahead and give this a try, let me know if you have any questions!

[2019-03-20 00:24] karansapolia commented on #6877
Sure, I'll start working on this, if I am not able to, I will let you all know at the earliest so others can have a go at it.

[2019-03-20 00:30] karansapolia commented on #6594
No issues, thank you all for your patience on this one. I'll get started on this one, in the mean time, if @lmorchard  or even @DraciVik, you guys have some pointers for me to get me started on this one, i'll appreciate that :smile:

[2019-03-20 04:19] jrgm opened #7066 "[train-133] 11 errors on server tests {latest,stage}"
https://tc-test.dev.lcip.org/viewLog.html?buildId=48918&tab=buildResultsDiv&buildTypeId=fxa_LatestServerTests

#get /.well-known/fxa-client-configuration
- returns a JSON doc with expected values

node: routes/get-metrics-flow remote request (10)

- invalid context query parameter |  
- invalid entrypoint query parameter |  
- invalid form_type query parameter |  
- invalid service query parameter

[2019-03-20 05:21] jrgm opened #7067 "repetitive error message on stage - "Type":"legal-templates.`%s` does not exist, trying next best`%s`","
docker-fxa-content[3689]: {
"Timestamp":1553058189470000000,
"Logger":"fxa-content-server",
"Type":"legal-templates.`%s` does not exist, trying next best`%s`",
"Severity":4,
"Pid":6,
"EnvVersion":"2.0",
"Fields":{"msg":"en"}
}

[2019-03-20 06:40] shane-tomlinson commented on #7056
Thanks for the info @hritvi! I'm going to close this issue.

[2019-03-20 06:40] #7056 closed

[2019-03-20 06:45] shane-tomlinson commented on #7015
Fixed by #7065, closing.

[2019-03-20 06:45] #7015 closed

[2019-03-20 06:55] shane-tomlinson commented on #7066
It looks like the channel server is not what's expected:
[code]

These are returning a 401 unauthorized, which indicates either the Origin header isn't being set, or if it is, the value being sent is not part of the [allow list](https://github.com/mozilla/fxa-content-server/blob/master/server/lib/configuration.js#L21) for that route.

[2019-03-20 07:21] shane-tomlinson commented on #6218
We did that in the past and it meant a drop off in users that make their way back to the relying party. What if we just update the green checkbox for now?

[2019-03-20 08:27] shane-tomlinson commented on #7066
On latest, the list is:

The test runner tries to use the first origin in [allowed_metrics_flow_cors_origin](https://github.com/mozilla/fxa-content-server/blob/10f1ba62099335ddbc48e0e6929a0c1563b72eef/server/lib/configuration.js#L21), which won't have any defined on teamcity. I added ALLOWED_METRICS_FLOW_ORIGINS=null to the environment variables for the teamcity project, let's see if that fixes th

[2019-03-20 08:27] shane-tomlinson commented on #7066
Yup - https://tc-test.dev.lcip.org/viewLog.html?buildId=48927&tab=buildResultsDiv&buildTypeId=fxa_LatestServerTests, only the fxa-client-configuration error remains.

[2019-03-20 08:38] shane-tomlinson commented on #7066
Fixed the last error too by adding PAIRING_SERVER_BASE_URI set to the development value. Here's where @vladikoff can say "that's what I had checked in to the default config originally, bonehead."

[2019-03-20 08:48] #7033 closed

[2019-03-20 09:05] farhan787 commented on #6219
@bini11 @lmorchard is working on an issue which may have conflict with this one that's why @shane-tomlinson told me to wait for sometime, it's possible that it would be fixed in that issue.

[2019-03-20 10:21] hritvi commented on #7056
Thanks @lmorchard for clearing all my origin related doubts. Until now I used to think that 127.0.0.1 points to localhost only and both are the same things :sweat_smile: .

[2019-03-20 11:08] LeoMcA opened #7069 "Login blocked because 2FA isn't enabled, but 2FA shows as enabled in account settings"
Note: I can't reproduce this since @gdestuynder turned off 2FA verification during FxA authentication, but I imagine the bug still exists

Steps:
1. Open voice.mozilla.org
2. Click "Log In / Sign Up"
3. Select "Log in with Firefox"
4. Click "Sign In" on Firefox Accounts page (I'm already logged in to Firefox Accounts)
5. Red banner saying 2FA needs to be enabled is displayed
6. Open https://accoun

[2019-03-20 11:24] shane-tomlinson commented on #6683
ref #7069

[2019-03-20 11:24] shane-tomlinson commented on #7069
ref #6683

[2019-03-20 15:56] AlbionaHoti commented on #5444
@shane-tomlinson Hi, I am an outreachy applicant and would like to work on this issue, can you write a specific desc?
Maybe you can help me here @lmorchard :)

[2019-03-20 18:14] farhan787 commented on #6157
@shane-tomlinson could you please tell me what do you mean by attach to sync in the first step to reproduce this ?

[2019-03-20 18:15] AlbionaHoti commented on #7062
@lmorchard Thank you!

As I can see - there is the Devices & Apps button on Settings page - When it's open it shows a list of devices - it helped me the clients.js file in settings folder and the clients.js in testing where it was mentioned the "device list" | Is the idea to add the icon somewhere there or is it something else?

[2019-03-20 18:52] #6578 closed

[2019-03-20 19:11] shreya99oak commented on #6877
Hey, couldn't find time to solve this one..if it's open would like to work on it...but if @karansapolia has started working on it, wouldn't want to intervene.

[2019-03-20 19:33] shreya99oak commented on #5186
May I take this up?

[2019-03-20 20:01] shreya99oak commented on #6956
@farhan787 are you still working on this? I would like to give it a shot

[2019-03-20 20:18] lmorchard commented on #6594
I don't have any particular pointers per se, but feel free to ask questions here or email me directly!

[2019-03-20 20:21] AlbionaHoti commented on #6559
Hi,

If @bini11 is not available to work on this issue, would like to start working on it -> I'm an outreachy applicant.
@lmorchard just leaving this here :)

[2019-03-20 20:34] AlbionaHoti commented on #6257
Hi @DraciVik If you are not available to work on this, I would like to continue on this one :)

I am an outreachy applicant, @vbudhram

[2019-03-20 20:36] AlbionaHoti commented on #6210
Hi, @shane-tomlinson I am an outreachy applicant and would like to work on this - it looks doable :)

[2019-03-20 20:39] DraciVik commented on #6257
Hi @AlbionaHoti. Thank you for your concern. I am working on it. If I run into a road block I'll pass it on to you.

[2019-03-20 20:50] bini11 commented on #5438
@lmorchard sure i'll ask for help if got stuck.

[2019-03-20 23:23] lmorchard commented on #5186
Hmm, actually it looks like this issue was fixed last year with PR #5998

[2019-03-21 04:36] shreya99oak commented on #5742
@shane-tomlinson @vladikoff Can I work on this?

[2019-03-21 07:07] karansapolia commented on #6877
I am halfway through this issue at this point. But yes, if I am not able to finish it, won't be keeping anyone waiting.

[2019-03-21 09:09] farhan787 commented on #6956
@shreya99oak @shane-tomlinson has not allowed me yet, so I'm waiting for his instructions. Btw, it's in my queue.

[2019-03-21 12:36] SorinaFlorean opened #7074 "[Train 133][Stage] Devices connected are not displayed on Win -> FxA avatar from toolbar"
Environment: Win10 - stage , (Nightly 68.0a1)
Prerequisites: Log in with the same Firefox account on multiple devices (Android, iOS and Windows 10)

Steps to reproduce:
1. Go to browser toolbar and click on the FxA avatar icon.
2. Click on "Send tab to device".

Expected results: A list of available synced devices is displayed.

Actual results: "No devices connected" message is displayed.

Note:
-

[2019-03-21 13:23] miralobontiu opened #7075 "[Train-133] "Sync now" is not working on Android"
Devices: Samsung Galaxy Note 8 (Android 9.0), desktop Windows 10

**STR:**
1. Sign in with the same Firefox account on two devices, at least one has to be an Android.
2. Go to Settings -> Firefox account -> "Sync now" and tap on it.

**Expected result:**
Sync should start immediately.

**Actual results:**
Sync starts but stops in a few seconds without syncing. "Last synced: never" is displayed und

[2019-03-21 13:25] shane-tomlinson commented on #7075
Hi @miralobontiu, this bug looks like it should be filed in Bugzilla under [the Firefox for Android](https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox%20for%20Android) product.

[2019-03-21 13:39] shane-tomlinson commented on #6956
@farhan787 you can take this, I just saw this request. @shreya99oak can you find another issue to work on?

[2019-03-21 13:44] miralobontiu commented on #7075
Thanks, Shane! Will do!

[2019-03-21 13:55] shane-tomlinson commented on #6956
The basic idea is that we want 3 separate configuration items:

1. [client_metrics.stderr_collection_disabled](https://github.com/mozilla/fxa-content-server/blob/0a91eb540681858bc96798c2c0851e964595f8a7/server/lib/configuration.js#L75). If client_metrics.stderr_collection_disabled is true, it will will disable [writing normal events to stderr](https://github.com/shane-tomlinson/fxa-content-server/

[2019-03-21 14:01] farhan787 commented on #6956
@shane-tomlinson thanks

[2019-03-21 15:02] sv-sdeiac commented on #7019
Hi, I tried to reproduce this issue on the production but I wasn't able. Also, The issue is not reproducible on stage server [Train 133].
Device: Samsung Galaxy Tab S3 (Android 8.0).
@shane-tomlinson Can you check if this issue is fixed on stage server?
Screenshot with my findings:
![Screenshot_5](https://user-images.githubusercontent.com/40264165/54761581-07212d00-4bfb-11e9-8a65-759182808547.png)

[2019-03-21 15:10] sv-sdeiac opened #7076 "[Tablet]Black bar presented on Zoom control from avatar"
Environment:
Devices: Samsung Galaxy Tab S3 (Android 8.0) - Tablet;
Build: [Stage Train 133];

Prerequisites:
Make sure you are logged in a valid account.

Steps to reproduce:
1. Go to https://accounts.firefox.com/settings;
2. Tap the 'Change' button from the Account picture area;
3. Tap on the 'Upload' button;
4. Take a photo ;
5. Pay attention to the space between zoom control buttons.

Expected

[2019-03-21 15:11] lmorchard commented on #6210
@AlbionaHoti I'd say give it a shot. But, here's a warning just in case you haven't done this sort of thing before: Some of these dependencies are likely to come with breaking changes when upgraded. That means pieces of *our* project will require fixing to account for changes in dependencies.

Sometimes the only good way to address that is to upgrade dependencies one at a time and run the whole te

[2019-03-21 15:56] shreya99oak commented on #6956
Sure! How about #5742 ?

[2019-03-21 17:10] #7029 closed

[2019-03-21 17:13] lmorchard commented on #5742
@shreya99oak Sure, give it a try!

[2019-03-21 17:16] #6988 closed

[2019-03-21 17:23] lmorchard commented on #7062
@AlbionaHoti Yeah, looks like in that devices list is where this image should go.

I haven't worked on that area of the app yet, but I see [this list of services and images in `app/styles/modules/_settings.scss`](https://github.com/mozilla/fxa-content-server/blob/master/app/styles/modules/_settings.scss#L525) associated with service names. You should be able to add the image and add a style there

[2019-03-21 17:24] lmorchard commented on #7062
@AlbionaHoti Yeah, looks like in that devices list is where this image should go.

I haven't worked on that area of the app yet, but I see [this list of services and images in `app/styles/modules/_settings.scss`](https://github.com/mozilla/fxa-content-server/blob/master/app/styles/modules/_settings.scss#L525) associated with service names. You should be able to add the image and add a style there

[2019-03-21 17:24] lmorchard commented on #7062
(oops, hit the wrong button and didn't mean to close)

[2019-03-21 17:46] ItielMaN opened #7078 "[RTL] The "Generate" button is overlapping the key icon under Account Recovery"
## Description

In the Firefox Accounts settings under Account Recovery, the "Generate" button is overlapping the key icon, on RTL locales.

### Steps to reproduce

1. Open RTL version of Firefox Accounts
2. Log in
3. Account Recovery
4. See the key icon

### Expected result

I'm not sure how this is currently looking in LTR, but at least the icon shouldn't be overlapped.
![תמונה](https://user-ima

[2019-03-22 05:54] karansapolia commented on #6157
I think this is a common issue with all modals. Tried it with all the 'modal-panel' classes and noticed no one received tab focus after opening. I think this is a more general issue as this is the same problem as in #6594. I think even the solution for these problems would be a change in one common file. @shane-tomlinson  @lmorchard @ryanfeeley Thoughts and inputs requested.

[2019-03-22 07:51] farhan787 commented on #6157
@karansapolia you are right, this is a common issue with all modals.

[2019-03-22 12:02] karansapolia commented on #5129
Hi @vladikoff, looks like the file this issue refers to does not exist anymore in the project. Let me know if there is something to do here, else you could close this issue.

[2019-03-22 12:42] karansapolia commented on #6242
I would like to tackle this one! I see a lot of interest in this already. If Shivam or Vicktor are not able to give time to this, I would like to work on this next.

[2019-03-22 14:33] trishla08 opened #7080 "Add link to mozilla.org on Account Settings Page"
I created an account for Firefox and was redirected to my Accounts Settings Page.

![image](https://user-images.githubusercontent.com/27439626/54829435-66a33980-4cdc-11e9-83fd-ab5f70f10ed5.png)

I strongly feel this page (and the logo) should have a link to [the Firefox page](https://www.mozilla.org/en-US/firefox/) and maybe additionally a download Firefox prompt for those who don't have it instal

[2019-03-22 16:02] bini11 commented on #6559
@lmorchard Hey can i go for dotted line around the keys like in recovery or add numbers?

[2019-03-22 16:37] lmorchard commented on #6559
I'd say go for the dotted line unless @ryanfeeley objects - seems like that was where this issue last left off in the decision process?

[2019-03-22 18:22] AlbionaHoti commented on #6210
Hi, @lmorchard

Thank you for the details, I have done some kind of updating dependencies but not so many, so I will give it a try to learn new things :)

[2019-03-22 21:04] bini11 commented on #6559
@lmorchard  While running local fxa-content-server with remote Firefox account servers getting only 3 recovery codes in tow-step authentication instead of 8?
![RECOVERY](https://user-images.githubusercontent.com/34271745/54852816-cebf4300-4d0f-11e9-9879-6570096eecdc.png)

[2019-03-23 13:02] farhan787 commented on #6956
@shane-tomlinson by flow_metrics_disabled do you mean `FLOW_ID_KEY` because on the link flow_metrics_disabled there is no such thing. Could you please correct me if I'm wrong.

[2019-03-24 10:41] hritvi commented on #6920
May I work on this issue @philbooth?

[2019-03-24 10:52] hritvi commented on #5186
But that wasn't merged @lmorchard. Could I continue my work with that?

[2019-03-24 12:20] shreya99oak commented on #5742
@vladikoff @shane-tomlinson @lmorchard I made some changes in the sync-engines.js and choose_what_to_sync.mustache files, but they are not getting reflected on the FirefoxSync page. How should I go about it? Also, I'm not understanding how these two repos(https://github.com/mozilla/fxa-content-server#quick-start and https://github.com/vladikoff/fxa-dev-launcher ) interact with each other

[2019-03-24 16:33] AlbionaHoti commented on #6218
@shane-tomlinson Can we continue to update only the green checkbox for now?
Is the request to change the green checkbox from this one,
![1](https://user-images.githubusercontent.com/22985657/54882335-3503ad00-4e59-11e9-811b-a406d50c2200.png)

to this one?

![2](https://user-images.githubusercontent.com/22985657/54882483-c9bada80-4e5a-11e9-838e-432e886e192c.png)

[2019-03-25 02:46] shreya99oak commented on #5742
@shane-tomlinson @lmorchard @vladikoff  I'm not able to reproduce the last part of the bug...'In Spanish, signup email missing a space between “en” and “Mac" '.
 I cannot find 'en' and 'mac'. This is what I get when I change the language to Spain(Spain):

signup(fxa-content-server):
![fxa](https://user-images.githubusercontent.com/32118977/54891976-9d906f80-4ed5-11e9-979f-d732afda68b9.png)

signup

[2019-03-25 07:37] philbooth commented on #6920
@hritvi, yep, be my guest. Warning though that I only opened this based on eyeballing the code, so it may turn out that it's not redundant for some reason I didn't notice, or something.

Probably best to start off by removing it from the properties in the second two bullet points, then seeing what tests fail and whether we just need to fix up a couple of assertions or if it maybe breaks something

[2019-03-25 09:41] shane-tomlinson commented on #7080
cc @ryanfeeley - can you give input here?

[2019-03-25 09:49] shane-tomlinson commented on #6956
`flow_metrics_disabled` needs to be a new configuration option in this case.

[2019-03-25 12:05] DraciVik commented on #6257
Hey @AlbionaHoti . I've been working on a freelance project the last week and I did not have time to solve this one. I think it's best if you take over. Have fun!

[2019-03-25 12:23] SorinaFlorean commented on #6632
Verified as fixed - stage Train 133.

[2019-03-25 13:44] AlbionaHoti commented on #6593
@lmorchard Due to inactivity, I can continue to work on this issue :)

[2019-03-25 14:21] shane-tomlinson opened #7084 "Only serve compiled ES5 JS to user agents that need it"
Right now we serve the same Babel compiled ES5 JS to all user-agents regardless of whether the user-agent supports new JS syntax or not. This has a couple of downsides:

1. The result is a much larger bundle, by ~ 100kb

<img width="830" alt="Screenshot 2019-03-25 at 12 55 21" src="https://user-images.githubusercontent.com/848085/54926534-64bdbe00-4f08-11e9-8958-de8a2f94a735.png">
<img width="839"

[2019-03-25 14:27] hritvi commented on #7084
May I work on this @shane-tomlinson?

[2019-03-25 14:40] farhan787 commented on #6956
@shane-tomlinson by amplitude.disabled do you mean `are_dist_resources` or I have to add something like in case of `flow_metrics_disabled` ?

[2019-03-25 14:56] ryanfeeley commented on #6559
@bini11  I'm not sure about the number of recovery codes, @vbudhram may have ideas, but the outline solution is fine.

I'm curious how your links are purple and not blue? Any ideas?

[2019-03-25 15:33] ryanfeeley opened #7085 "Existing account holders should not have to retype their email for Sync"
## Description

After registering and verifying for Monitor, I clicked on **Turn on Sync…* in the new toolbar panel. Instead of seeing the username and avatar, I instead got the blank email first form.

### Steps to reproduce

1. In a fresh Nightly profile go to monitor.fiorefox.com
2. Create an account and verify it
3. Click on **Turn on Sync…** in the new Sync toolbar menu item

### Expected res

[2019-03-25 15:36] ryanfeeley commented on #7085
Should do that addons does.
<img width="492" alt="image" src="https://user-images.githubusercontent.com/68213/54933025-451b9b00-4ef2-11e9-9fb4-0788e5aede87.png">

[2019-03-25 15:55] vbudhram commented on #7085
Interesting, the link is opened with `action=email` so maybe it might be an interaction with email first and existing sessions?

From this [line](https://github.com/mozilla/fxa-content-server/blob/d95118004500ecd522061b4de08ace068e21ae37/app/scripts/views/mixins/email-first-experiment-mixin.js#L27), it looks like it always be forced. @shane-tomlinson Thoughts on this?

[2019-03-25 18:41] #6996 closed

[2019-03-25 19:40] bini11 commented on #6559
@ryanfeeley seems like colors are little bit altered after taking screenshot otherwise on the local server links are blue.

[2019-03-25 21:30] #6877 closed

[2019-03-25 21:41] vbudhram commented on #6559
Hey @bini11 this is not actually an error, it can be configured [here](https://github.com/mozilla/fxa-auth-server/blob/master/config/index.js#L867). We generate 3 recovery codes for fxa-local-dev because it is easier to test some scenarios with less, it is also a little faster to create 3 then 8.

For this issue, you will want to follow the style found [here](https://github.com/mozilla/fxa-auth-se

[2019-03-26 10:12] shane-tomlinson commented on #6956
This needs to be a new configuration option [of the shape `amplitude: { disabled: { definition here }}`](https://github.com/mozilla/fxa-content-server/issues/6956#issuecomment-475237773)

[2019-03-26 10:20] shane-tomlinson commented on #7085
![sign-in-extension](https://user-images.githubusercontent.com/848085/54989407-59be6880-4fb0-11e9-8391-368b0d100b3d.gif)

This is due to an interaction with the `fxaccounts:fxa_status` message. If the browser supports `fxaccounst:fxa_status`, [we ignore localStorage](https://github.com/mozilla/fxa-content-server/blob/da94f530c8b5bb7477e207944ea0c6623af2f710/app/scripts/lib/app-start.js#L617). As f

[2019-03-26 11:02] shane-tomlinson opened #7093 "Validate the client id on the /oauth/success/:clientId route"
Follow on from #7077

If the [/oauth/success/:clientId](https://github.com/mozilla/fxa-content-server/blob/4cfac43f4df7d7006fb7df699b3750375dbf08e9/server/lib/routes/get-oauth-success.js#L1) route is opened with garbage:

<img width="1245" alt="Screenshot 2019-03-26 at 10 50 54" src="https://user-images.githubusercontent.com/848085/54991573-1fa39580-4fb5-11e9-8f6e-e3d060ba576b.png">

500 error try

[2019-03-26 11:40] shane-tomlinson opened #7094 "Convert all modules to ES2015 format"
## Description

We have a mixture of AMD, simplified AMD using both return and export, CommonJS using both exports and module.exports, ES2015 modules, and finally modules that use ES2015 imports and CommonJS module.exports.

This is ugly. Let's standardize on ES2015 modules for both importing exporting. Doing so will bring consistency to the code base, unblock #7084, and enable us to remove the [b

[2019-03-26 12:15] shane-tomlinson commented on #7084
You may @hritvi, though I ran into problems because of module incompatibilities. See #7094

[2019-03-26 12:21] hritvi commented on #7084
Okay, then I would work on any other issue till #7094 isn't resolved.

[2019-03-26 12:54] shane-tomlinson commented on #6268
@ryanfeeley what do you mean the outline style?

[2019-03-26 13:42] shane-tomlinson commented on #5186
@hritvi - Since you started on it last year, you should continue!

@shreya99oak - sorry, since a PR has already been opened for this, mind finding another open issue?

[2019-03-26 13:43] shane-tomlinson commented on #6218
@AlbionaHoti we want to go from the 2nd to the first. Changing from the green checkbox on the grey background to the grey checkbox on the green background is a good first step.

[2019-03-26 14:01] shane-tomlinson commented on #6157
@karansapolia you are correct that this could be handled universally. The [settings-panel-mixin](https://github.com/mozilla/fxa-content-server/blob/4cfac43f4df7d7006fb7df699b3750375dbf08e9/app/scripts/views/mixins/settings-panel-mixin.js#L25) already has some logic to autofocus [elements with the autofocus attribute from openPanel](https://github.com/mozilla/fxa-content-server/blob/4cfac43f4df7d70

[2019-03-26 14:13] shane-tomlinson commented on #6268
The spinner is already an SVG, see https://github.com/mozilla/fxa-content-server/blob/aa895192a717eea00dabbeeb3802820bb7943de7/app/scripts/templates/settings/avatar_change.mustache#L5. Do you mean the default profile image? If so, that's an [SVG too](https://github.com/mozilla/fxa-content-server/blob/master/app/images/default-profile.svg), https://github.com/MozillaOnline/fxa-content-server/blob/0

[2019-03-26 14:25] karansapolia commented on #6157
That is helpful @shane-tomlinson, thank you, but I am focusing more on building a focus trap in modal-panel-mixin, because we will not like keyboard focus to escape the modal until user presses escape. It would be better if the keyboard focus will cycle through the modal elements than to escape it and move to background elements. That would become confusing for user. Your thoughts?

[2019-03-26 16:09] lmorchard commented on #5186
Hmm, looks like I missed it not being merged - nevermind me, carry on!

[2019-03-26 16:50] shane-tomlinson opened #7095 "Add errno 121 to oauth-errors.js"
Over in mozilla/fxa-auth-server#2969, @rfk added errno 121 to the oauth errors, "Invalid grant_type". We'll need to add that to [oauth-errors.js](https://github.com/shane-tomlinson/fxa-content-server/blob/3803c6ef1e6787aea963e37e99b1281aa2c3eebb/app/scripts/lib/oauth-errors.js#L99).

[2019-03-26 16:58] hritvi commented on #7095
Just a idea, shouldn't we write a script to automatically add any errors which are added in the auth-server. Or is there any other thing that is stopping us from doing that.

[2019-03-26 17:04] shane-tomlinson commented on #7095
We have a bug about sharing errors across repos, but I can't find it. It's mentioned [in this one](https://github.com/mozilla/fxa-shared/issues/60).

[2019-03-26 17:11] philbooth commented on #7095
When we move to a monorepo we won't need a script, the definitions can just be included in both places.

[2019-03-26 18:27] #6186 closed

[2019-03-26 19:31] shane-tomlinson opened #7096 "Ditch assertions when requestion OAuth authorization codes and access tokens, use a sessionToken instead"
With @rfk's great work to allow OAuth [authorization codes](https://github.com/mozilla/fxa-auth-server/pull/2932) and [access tokens](https://github.com/mozilla/fxa-auth-server/pull/2983) to be fetched using sessionTokens from the auth server, we can get rid of assertions! Let's do this!

Note, to move over to getting access tokens, we'll have to modify the way we do "implicit grants" to no longer

[2019-03-27 01:43] farhan787 commented on #7094
@shane-tomlinson may I take this ?

[2019-03-27 07:57] shane-tomlinson opened #7098 "Add new errno's from auth-server to fetch access tokens with a sessionToken"
Follow on from https://github.com/mozilla/fxa-auth-server/pull/2983, we'll need to add [the new errno's](https://github.com/mozilla/fxa-auth-server/pull/2983/files#diff-b83d27d3c5374e6d6de83271284db8c4R83) to [auth-errors.js](https://github.com/shane-tomlinson/fxa-content-server/blob/3803c6ef1e6787aea963e37e99b1281aa2c3eebb/app/scripts/lib/auth-errors.js#L239).

[2019-03-27 07:58] shane-tomlinson commented on #7096
Blocked by https://github.com/mozilla/fxa-content-server/issues/7098

[2019-03-27 08:10] #7095 closed

[2019-03-27 08:20] hritvi commented on #7098
May I work on this?

[2019-03-27 09:00] shane-tomlinson commented on #7098
@hritvi - you sure can! Assigning to myself so nobody else takes it.

[2019-03-27 09:01] shane-tomlinson commented on #7094
@farhan787 - you sure can. This is going to be a lot of grunt work, like I said, I'd take a phased approach and open PRs often to avoid merge conflicts with other PRs as they come in. Assigning to myself so nobody else takes it.

[2019-03-27 11:43] karansapolia commented on #7094
I would love to help out on this one! @farhan787 @shane-tomlinson can we divide the tasks here to get them done quicker? @farhan787 would choose the half he would prefer to work on, I could work on the other half. Would you like to work together on this @farhan787?

[2019-03-28 04:18] Mozilla-GitHub-Standards opened #7099 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 09:32] philbooth commented on #7099
@mozilla/fxa-devs, should we hold off doing this until we've done the monorepo switch, to save the effort of doing the same thing lots of times for no reason?

[2019-03-28 12:53] davismtl opened #7101 "QA Login Flow on Android"
45% of Android users don't successfully submit their login form.

In other words, they submit the login form but don't successfully login. This is the step preceding the email confirmation. Things that come to mind:
- incorrect passwords
- typos
- forms capitalizing first letters
- spaces getting added to email or password
- etc..

This failure rate is MUCH higher than other OSs. Note that iOS has

[2019-03-28 14:37] #6957 closed

[2019-03-28 14:41] irrationalagent commented on #7101
On more data point to consider, success varies quite a bit by [android version](https://analytics.amplitude.com/mozilla-corp/chart/c8yqhlj). Not sure how much we can do about that but its worth noting (some of the changes we are considering should still help but "oldness" may be the biggest limiting factors for some devices).

[2019-03-28 18:55] shane-tomlinson opened #7104 "Remove support for `context=iframe`"
[Bedrock is in the process of migrating existing iframe flows](https://github.com/mozilla/bedrock/issues/6149) to other flows. Once they push out that change, let's remove support for the iframe.

[2019-03-28 19:20] #6987 closed

[2019-03-28 22:02] clouserw commented on #7099
yes :+1:

[2019-03-28 22:10] hwine commented on #7099
Once you're done with the conversion, be sure to archive the old repos. The script skips archived repositories.

[2019-03-29 05:30] shreya99oak commented on #6848
@vbudhram can I work on this?

[2019-03-29 05:51] shreya99oak commented on #6142
Hey @asishkr123 are you still working on it? If not, I would like to give it a try @philbooth @shane-tomlinson

[2019-03-29 05:59] shreya99oak commented on #4983
@vladikoff I believe this hasn't been solved. Can I go ahead with it?

[2019-03-29 09:37] #7062 closed

[2019-03-29 10:04] BurungHantu1605 commented on #7057
Same browser

[2019-03-29 10:26] shane-tomlinson commented on #4983
@shreya99oak sure, you can take this.

[2019-03-29 16:45] shane-tomlinson commented on #4800
Are we really going to fix this? No. Closing.

[2019-03-29 16:45] #4800 closed

[2019-03-29 16:46] #4482 closed

[2019-03-29 16:48] shane-tomlinson commented on #4993
Meh. Closing.

[2019-03-29 16:48] #4993 closed

[2019-03-29 16:49] shane-tomlinson commented on #5072
Are we ever going to close this? No.

[2019-03-29 16:49] #5072 closed

[2019-03-29 16:54] shane-tomlinson commented on #6670
Closing until we do phase 2.

[2019-03-29 16:54] #6670 closed

[2019-03-30 14:45] philbooth opened #7106 "console.log the active feature flags"
It should be possible for an interested user to discover which experiments/feature-flags they are part of. This could be as simple as printing them to `console.log` after page load.

[2019-03-31 17:34] karansapolia commented on #7106
Hello @philbooth, I would like to work on this issue. May I take it up?

[2019-04-01 08:18] philbooth commented on #7106
@karansapolia, it needs to wait until the team have discussed it during triage and agreed what we actually want to do. This is just at the idea phase right now.

[2019-04-01 14:36] vbudhram commented on #6767
This won't make 134, bumping to 135.

[2019-04-01 15:29] #6956 closed

[2019-04-01 15:57] #6396 closed

[2019-04-01 17:19] shane-tomlinson commented on #6986
@vladikoff, @ryanfeeley  anything else to do here?

[2019-04-01 17:19] vladikoff commented on #6986
@ryanfeeley told me that there are strings in the works

[2019-04-01 17:36] #7075 closed

[2019-04-01 21:23] #7099 closed

[2019-04-01 21:57] shane-tomlinson commented on #6559
Fixed by #7109, closing.

[2019-04-01 21:57] #6559 closed