[2017-09-20 14:51] juliemccracken opened #5508 "Buttons wrap in FxA secondary email if string is too long in button"
Buttons wrap in FxA secondary email if string is too long in button

[2017-09-20 14:52] juliemccracken commented on #5508
Please see attached screen shot for an example

![bad-wrap](https://user-images.githubusercontent.com/17153650/30650721-8541543a-9dd8-11e7-918f-67816f363587.png)

[2017-09-20 14:57] juliemccracken opened #5509 "Cached login screen displays old primary email when logging into AMO"
Cached login screen displays old primary email when logging into AMO
- User changes email, then signs in to AMO or Pocket, and original primary email is shown
<img width="485" alt="old-primary" src="https://user-images.githubusercontent.com/17153650/30651005-47172148-9dd9-11e7-962a-40a8dee16c11.png">

[2017-09-20 15:22] juliemccracken opened #5510 "Time stamp on devices and apps should truncate with ellipsis instead of colliding"
Time stamp on devices and apps should truncate with ellipsis instead of colliding

Please consult attached image.
![collide](https://user-images.githubusercontent.com/17153650/30652262-d2f68282-9ddc-11e7-86e0-25fa2b0da70a.png)

[2017-09-20 17:52] ryanfeeley commented on #5475
For reference:
<img width="712" alt="image" src="https://user-images.githubusercontent.com/68213/30659139-f0e0ed5e-9e0a-11e7-8222-f08e9ad54a94.png">

[2017-09-20 17:57] ryanfeeley commented on #5475
@dholbert Is right, the confirmation message should use the same line as we send out in the original one (that prompts users to change their password). Does that make sense @vbudhram ?

[2017-09-20 18:41] dholbert commented on #5475
To be clear, the [email shown in the screenshot above](https://user-images.githubusercontent.com/68213/30659139-f0e0ed5e-9e0a-11e7-8222-f08e9ad54a94.png) is the email that gets sent to the *new/secondary* email address.  (That's why it's got a "Verify email" button, to verify that the new/secondary email address was actually entered correctly.)

But this issue github issue is intended to be focuse

[2017-09-20 22:31] vbudhram commented on #5475
@ryanfeeley this seems reasonable to me. To confirm, do you think the email footers should be swapped? So the new footers would be,

Email that goes to secondary email address to verify it
*This is an automated email; if you received it in error, no action is required. For more information, please visit Mozilla Support.*

Email that goes to primary email after secondary email has been verified
*Th

[2017-09-20 23:42] rfk commented on #5510
On a positive note, I think the emoji in device names are working correctly :-)

[2017-09-21 13:45] ryanfeeley commented on #5475
@vbudhram If someone has access to your FxA Settings, we should probably suggest they change their password in both cases. Would this make sense for both?
*This is an automated email; if you did not authorize this action, then please change your password. For more information, please visit Mozilla Support.*

[2017-09-21 16:09] vladikoff commented on #5487
cc @vbudhram

[2017-09-21 16:19] vladikoff commented on #5496
@ryanfeeley Seems like a Firefox / Computer problem.

[2017-09-21 16:19] #5496 closed

[2017-09-21 16:32] vladikoff commented on #5504
Should be fixed!

[2017-09-21 16:32] #5504 closed

[2017-09-21 16:33] vladikoff commented on #5502
@shane-tomlinson please triage is out of backlog

:cake:

[2017-09-21 16:36] vladikoff commented on #5460
@davismtl sorry, what is the **final** copy for this? Thanks!

[2017-09-21 17:00] #5350 closed

[2017-09-21 17:06] ryanfeeley commented on #5496
Yeah probably.

[2017-09-21 17:07] davismtl commented on #5460
@vladikoff I commented in the Google Doc with your name so you can easily see the two pieces of copy.

[2017-09-21 17:19] vladikoff commented on #5460
@davismtl awesome, thank you!

[2017-09-21 17:40] jrgm opened #5511 "[train-96] stage: test chronic failure - Firefox Desktop Sync v2 force_auth - unverified - web flow, verify, from original tab's P.O.V."
Some other tests flake, but this one fails on every run.

e.g., https://tc-test.dev.lcip.org/viewLog.html?buildId=19690&tab=buildResultsDiv&buildTypeId=fxa_StageTests#testNameId7978159722246860275

[2017-09-21 18:26] ryanfeeley commented on #5503
We could also do this for the verification link expired page. Simply put "Verification link expired" in the green bar, and the same relevant Connect Another Device content for the body.

![img_3976](https://user-images.githubusercontent.com/68213/30712100-ce5e7138-9ed8-11e7-9e79-5ae1f4ee83f8.PNG)

[2017-09-21 18:39] vbudhram commented on #5475
I agree that if they could get access to your settings the password should be changed. However, I am not sure if it makes sense in the verify secondary email. It won't redirect back to settings unless that browser already had access to settings, otherwise it would redirect to regular `This email has been verified` page.

That being said, I don't think it will hurt to use the text you have for both

[2017-09-21 18:56] dholbert commented on #5475
Nope, this wording makes no sense for the email sent to the *new secondary address*, as discussed in
https://github.com/mozilla/fxa-content-server/issues/5474

Any newly-added secondary email addresses are, by definition, **not already associated with a Firefox Account**.

 So, supposing I receive a message saying that my email address daniel@example.com has just been added as a secondary email ad

[2017-09-21 20:57] #5487 closed

[2017-09-21 22:42] rfk commented on #5475
I agree with @dholbert's assessment here.  The person receiving the "verify secondary email" email message can only realistically be in two states:

1. They are correctly adding their email address to their own Firefox Account; these users should click the verify button
2. They do not have a Firefox Account that's related to this email; there's no useful action these users can take

It's possible

[2017-09-21 23:18] vladikoff opened #5515 "[Sentry] New broker method needed for click"
Ref https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/647600/events/12083839/

@shane-tomlinson is this something to worry about?

[2017-09-22 12:31] shane-tomlinson commented on #5515
Hmmm, this is very strange. How would model.type be set to `click`, seems like we are setting the model from a click event, which seems like The Wrong Thing.

[2017-09-22 14:04] ryanfeeley commented on #5475
Thankfully @vbudhram was able to bring me back up to speed on this feature.

1. For the first email sent to the secondary address requiring verification, the fine print will state that no action is required.
1. For the second email sent to the primary address after verification, the fine print will provide a link to change the password.

All of our transactional emails: https://docs.google.com/a/m

[2017-09-22 16:38] mwarther commented on #5465
@davismtl we are putting all the current programs that would touch an FxA holder into the doc that Ryan Feeley created and will update the mana page too.

[2017-09-22 16:46] mwarther commented on #5465
@davismtl I can only suggest on Ryan's document if you'd add me as an editor too.

FYI the mana page for the "how are things going" email for lapsed Firefox Accounts holders is here https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=68552099 the one about is for subscribers to our Firefox email programs only

[2017-09-22 16:52] ryanfeeley opened #5516 "Emojis should not shift the line height of the device information"
Notice that the first and last device do not contain emojis in the device name, but are the only ones that align properly with the button. Fix line height?
![2017-09-19 15 06 23 copy](https://user-images.githubusercontent.com/68213/30755461-bd5caa78-9f94-11e7-8d5f-47ac591bd131.png)

[2017-09-25 05:31] rfk commented on #5465
So here's one thing I noticed.  STR:

* Create a new account, checking the "receive the monthly Firefox newsletter" checkbox.
* Verify the account.
* Go to https://accounts.firefox.com/settings/communication_preferences
* Observe that the button says "unsubscribe" indicating that you're subscribed: <img width="357" alt="capture" src="https://user-images.githubusercontent.com/34695/30793498-bb3d491

[2017-09-25 14:26] #5511 closed

[2017-09-25 14:37] shane-tomlinson opened #5522 "Instrument the `/m/:signinCode` endpoint with flow events."
@philbooth, Leif and I were trying to create a CAD phase 3 funnel the other day and noticed we have not instrumented the `/m/:signinCode` endpoint, so we have to get numbers for this endpoint from Kibana.

[2017-09-25 17:50] vladikoff commented on #5465
@davismtl ^

[2017-09-25 17:59] davismtl commented on #5465
I let @bniolet1 know about this. He will help us investigate today.

[2017-09-25 19:07] bniolet1 commented on #5465
Ah. I think I know what's going on.

The Unsubscribe / Subscribe button is working the way we (marketing and FxA) intended it to back when we (marketing) first started sending email to Firefox Accounts users (April 2016 or so). Back then it was subscribe only and the button turned this email program off or on.

Since then we changed up who gets email (no longer opt-in only) and none of us remember

[2017-09-25 21:22] jbuck opened #5523 "Metrics and amplitude events are mozlog 1"
I was trying to track down why the Amplitude events were not being archived in the heka logs and one thing that I realized is that the logs are not valid mozlog format:

https://github.com/mozilla/fxa-content-server/blob/386886ee0c22b36ef05fa6cd84619e7978a8f7a4/server/lib/amplitude.js#L164-L175

Maybe switch that to use https://github.com/mozilla/fxa-content-server/blob/master/server/lib/logging/l

[2017-09-25 22:36] rfk commented on #5465
Correct.  But IIUC there's some magic in basket that when a user subscribes to "firefox-accounts-journey" they also get subscribed to "mozilla-and-you"?  Otherwise I'm not sure how users wind up in the "mozilla-and-you" bucket because I don't think we do that subscription explicitly.

[2017-09-25 23:23] #5497 closed

[2017-09-25 23:45] #5474 closed

[2017-09-25 23:45] #5475 closed

[2017-09-26 02:35] bniolet1 commented on #5465
That's true. Basket sets the flags for Mozilla and you. But there isn't a mechanism in basket to undo a subscription.

Sent from my iPhone

[2017-09-26 02:41] rfk commented on #5465
So it sounds like the only plausible fix here is for us to have the "communication preferences" control both "firefox-accounts-journey" and "mozilla-and-you"?  I wonder if this would negatively affect people who happened to subscribe to mozilla-and-you from outside of the FxA signup process.

[2017-09-26 02:42] bniolet1 commented on #5465
What if subscribe worked the same way but instead of unsubsidized we just sent them to the email preference center?

Sent from my iPhone

[2017-09-26 07:33] philbooth commented on #5523
@jbuck, I want to make sure there'll be no fallout from making the amplitude events a different format to the others emitted from this repo.

Currently, the amplitude event is in the same format as:

* `server/lib/flow-event.js`
* `server/lib/metrics-collector-stderr.js`
* `server/lib/routes/post-csp.js`

If we make it different to those, will it confuse anything else in our log-processing infrast

[2017-09-26 09:25] philbooth commented on #5523
@jbuck, one difference with using `server/lib/logging.js` is that it forces everything through `stdout` whereas obviously at the moment I'm writing to `stderr`. Where do you expect to receive these events, `stdout` or `stderr`? Or do you read from both?

[2017-09-26 09:29] philbooth commented on #5523
Fwiw, I just realised the current format is identical to mozlog. Only the use of `stdout`/`stderr` differs. Is that the cause of the problem you're seeing @jbuck?

Event from the existing code:

[code]

Event with changes to log via `mozlog`:

[code]

[2017-09-26 13:22] #5502 closed

[2017-09-26 20:59] davismtl commented on #5465
I like that idea.

To be sure I understand...
Subscribe remains the same but instead of unsubscribe we put "Manage Subscriptions" and link to the preferences centre.

[2017-09-26 21:01] rfk commented on #5465
There was a lot of complex back-and-forth went into us having a "subscribe/unsubscribe" button directly in the page, rather than just a link out to the prefs center.  I'll see if I can dig it up from the archives...

[2017-09-26 21:17] bniolet1 commented on #5465
@Alex, that's what I'm thinking.

Ben Niolet | Email Marketing Manager
Mozilla | bniolet@mozilla.com

On Tue, Sep 26, 2017 at 5:01 PM, Ryan Kelly <notifications@github.com>
wrote:

[2017-09-27 06:04] rfk commented on #5465
Hrm, the original design discussion was here:

  https://github.com/mozilla/fxa-content-server/issues/2443

And there are comments there suggesting we have just the outbound link to "email preferences", but the final version that landed included an inline "subscribe" button, and I don't see any of the discussion about why we wound up with that choice.

[2017-09-27 13:29] shane-tomlinson opened #5528 "failing functional test - Firefox Desktop Sync v1 reset_password - reset password, verify same browser"
STR

1. Run `npm run test-functional grep="Firefox Desktop Sync v1 reset_password - reset password, verify same browser"`

For documentation on this error, please visit: http://seleniumhq.org/exceptions/no_such_element.html
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'stomlinson-30887', ip: '192.168.0.22', os.name: 'Mac OS X', os.arch: 'x86_64', os.version

[2017-09-27 13:39] shane-tomlinson commented on #5528
Also failing on teamcity: https://tc-test.dev.lcip.org/viewLog.html?buildTypeId=FxaLatest_FunctionalTests&buildId=26486

[2017-09-27 14:01] shane-tomlinson commented on #5528
This is also a problem against stage, opening a PR against train-96.

[2017-09-27 14:33] ryanfeeley opened #5530 "Replace our avatar upload and clear icons with new Photon icons"
CURRENT
![icons-current](https://user-images.githubusercontent.com/68213/30918340-43fdfa66-a36c-11e7-8407-477dd63efcfe.png)

* glyph-clear-32.svg
* glyph-upload-32.svg

PROPOSED (sized at 300%)
![variations](https://user-images.githubusercontent.com/68213/30919338-11336ca8-a36f-11e7-96e2-7cda75acd33c.png)

Source:
* http://design.firefox.com/icons/viewer/#close%2016
* http://design.firefox.com/ico

[2017-09-27 14:40] ryanfeeley opened #5531 "Replace our card shadow with a two-state Photon shadow"
Our current shadow is too severe and does not meet the new [Photon shadow guidelines](http://design.firefox.com/photon/patterns/shadows.html).

<img width="242" alt="screenshot 2017-09-20 10 51 42" src="https://user-images.githubusercontent.com/68213/30919633-fca8bc7e-a36f-11e7-8c77-3789a06be15e.png">

We should use shadow 20 when there is no focus inside the field, and animate up to shadow 30 whe

[2017-09-27 15:08] ryanfeeley commented on #5438
@shane-tomlinson Discussed this with our motion people. If any section is already opened, it should animate closed at the same time as the new section opens. I'm hoping this is enough information as it will add a nice touch to the accordion.

[2017-09-27 15:09] ryanfeeley commented on #5438
![image](https://user-images.githubusercontent.com/68213/30921369-5deb83fa-a374-11e7-949e-b0920b6aac61.png)

[2017-09-27 15:40] ryanfeeley opened #5532 "Use the two-hearts-beat-as-one SVG on CAD"
Our current [CAD page]( https://accounts.firefox.com/connect_another_device?service=sync) still uses the old illustration:
![image](https://user-images.githubusercontent.com/68213/30922878-6fc604ac-a378-11e7-8440-1d7a3e2e5b74.png)

We should instead use the new sweet animated SVG "account-verified.svg".

[2017-09-27 15:43] vladikoff commented on #5532
Need to double check this in train-96

[2017-09-27 15:54] ryanfeeley commented on #5532
@vladikoff You are right, it's in! https://latest.dev.lcip.org/connect_another_device

[2017-09-27 15:54] #5532 closed

[2017-09-27 16:40] #5460 closed

[2017-09-27 17:23] #5528 closed

[2017-09-27 18:10] davismtl commented on #5465
To you point, I don't see anywhere in the thread that says we can't do it. In fact, it seems to me that it's the second time that marketing is proposing a simple solution. :)

@ryanfeeley any reason you can think of for why @bniolet1 solution wouldn't work?

[2017-09-27 18:15] ryanfeeley commented on #5465
That sounds great! Offers more granularity and seems more durable.

So if not subscribed buttons are:
<img width="483" alt="image" src="https://user-images.githubusercontent.com/68213/30929952-20d0422a-a38e-11e7-8867-6c532393014d.png">

And if subscribed, buttons are:
<img width="483" alt="image" src="https://user-images.githubusercontent.com/68213/30929996-48b5f8f2-a38e-11e7-82cd-bd5657c940ab.png

[2017-09-27 19:03] bniolet1 commented on #5465
This is exactly what I was thinking @rfeeley. Let's do to this.

And with the copy changes I think this is very transparent and gives users
a lot more clarity and control.

Ben Niolet | Email Marketing Manager
Mozilla | bniolet@mozilla.com

On Wed, Sep 27, 2017 at 2:15 PM, Ryan Feeley <notifications@github.com>
wrote:

[2017-09-27 20:30] shane-tomlinson opened #5533 "Failing functional test - Firefox Desktop Sync v2 reset password - reset password, verify same browser"
Introduced by https://github.com/mozilla/fxa-content-server/pull/5529

[2017-09-27 22:57] vladikoff opened #5535 "Update shrinkwrap once send module is fixed"
Ref: https://github.com/pillarjs/send/issues/144

[2017-09-28 05:28] philbooth commented on #5523
@jbuck, did #5525 make these events start showing up in the archived logs?

[2017-09-28 14:24] jbuck commented on #5523
I think something went horribly wrong:

Sep 28 14:23:38 ip-172-31-51-187 docker[4862]: {"Timestamp":1506608618743000000,"Logger":"fxa-content-server","Type":"server.amplitude.[object Object]","Severity":6,"Pid":5,"EnvVersion":"2.0"}

[2017-09-28 16:49] shane-tomlinson commented on #5522
@philbooth says that for flow events to work, we need a flow id, which this endpoint will not receive.

[2017-09-28 19:21] ryanfeeley commented on #5255
@shane-tomlinson I discussed this in depth with some visiting UXers. they disagree with me, and suggest we instead use the off state.

This is actually a simple fix I can do myself.

Essentially we replace the a:active with a:hover:active. That gets use the effect for both active and active but dragged off.

Would you prefer I make a PR?

[2017-09-29 01:45] rfk commented on #5522
IIRC the auth-server maintains a mapping from sign-in code to flowid; if we wanted to do this badly enough, we could figure out a way to ask the auth-server for this information.

[2017-09-29 05:00] philbooth opened #5541 "email_type property is missing on amplitude click events"
Reported by @davismtl:

Which is weird. We have [code](https://github.com/mozilla/fxa-content-server/blob/d3b00a1a7d487cd394d2614961efaad49dee12a9/server/lib/amplitude.js#L201-L206) for it:

[code]

And tests:

* https://github.com/mozilla/fxa-content-server/blob/d3b00a1a7d487cd394d2614961efaad49dee12a9/tests/server/amplitude.js#L503-L520

* https://github.com/mozilla/fxa-content-server/blob/d3b00

[2017-09-29 07:02] philbooth opened #5542 "Implement experiment and experiment_variation properties on amplitude events"
`experiment` and ~~`experiment_version`~~ `experiment_variation` should be added to `user_properties` when they're available.

[2017-09-29 07:20] philbooth commented on #5542
Correction: `experiment_variation`

[2017-09-29 07:43] shane-tomlinson commented on #5255
@ryanfeeley - I'm never going to say no to a PR from you!

[2017-09-29 07:44] shane-tomlinson commented on #5522
Aren't you on PTO?

[2017-09-29 09:58] philbooth commented on #5542
I just realised that the proposal from the taxonomy makes it impossible to avoid the same problem that existed in DataDog for #5443: when multiple experiments apply to a user and they use one or more duplicate group names, it is impossible to know which group relates to which experiment.

One alternative would be to lean on Amplitude's `groups` property, which is designed for this kind of problem.

[2017-10-02 04:03] rfk commented on #5542
If you haven't already, this is definitely the sort of thing we should ask about in the amplitude slack; we're paying good money for their advice on getting our event taxonomy right :-)

[2017-10-02 06:40] rfk commented on #5043
Putting this in the "change email phase 2" milestone, we should revisit it this quarter as part of that work.

[2017-10-02 20:06] jrgm opened #5547 "update marionnette/internjs so it can run with beta-57 firefox"
Currently we are on 53 generally. 57b4 definitely will not run.

[2017-10-02 20:48] vladikoff commented on #5533
Fixed in https://github.com/mozilla/fxa-content-server/pull/5536

[2017-10-02 20:48] #5533 closed

[2017-10-02 21:00] vladikoff commented on #5465
@ryanfeeley has some ideas..

[2017-10-02 21:01] vladikoff commented on #5356
from mtg: we figured it out

[2017-10-02 21:01] #5356 closed

[2017-10-02 21:06] vladikoff commented on #5454
from mtg: @irrationalagent anything else we can do here?

[2017-10-02 21:06] shane-tomlinson opened #5548 "Figure out the descrepancy in email-first metrics."
Looking at the metrics in https://sql.telemetry.mozilla.org/dashboard/fxa-email-first, it looks like treatment is generally outperforming the control group, but https://sql.telemetry.mozilla.org/queries/45007 makes it look like control outperforms treatment. We need to figure out why.

cc @davismtl - can you add your thoughts?

[2017-10-02 21:06] vbudhram commented on #5454
Ref https://github.com/mozilla/fxa-bugzilla-mirror/issues/379

[2017-10-02 21:06] vladikoff commented on #4863
from mtg: new copy and stuff, see doc above ^^

[2017-10-02 21:13] davismtl commented on #5454
@vbudhram and @vladikoff
My belief is that there is a bug on ios. @irrationalagent mentions that about 7-14% of codes are being consumed.
Meanwhile, on Android consumption is like 90%.

[2017-10-02 21:13] vladikoff commented on #5530
http://design.firefox.com/icons/viewer/#close 16

[2017-10-02 21:14] davismtl commented on #5548
CC @irrationalagent

[2017-10-02 21:18] davismtl commented on #5548
@shane-tomlinson I think you are spot on in the description of this problem.

Based on your dashboard,
- the cohort sizes look the same
- treatment has more login
- treatment has more registration
- treatment has more flow_completes
- But... in one of the bottom charts, it looks like control has the best conversion rates.
https://sql.telemetry.mozilla.org/queries/45007/source#121771

This doesn't

[2017-10-03 01:55] rfk commented on #5454
The answer to the question in this bug's title is clearly "no", and IIUC mozilla/fxa-bugzilla-mirror#379 is about figuring out the problem and fixing it.  Do we need to do any further analysis of the metrics here, or should we close it in favour of that implementation bug?

[2017-10-03 12:17] shane-tomlinson commented on #5547
Ref https://github.com/theintern/digdug/issues/50

[2017-10-03 12:23] shane-tomlinson commented on #5547
Ref https://github.com/theintern/digdug/issues/51

[2017-10-03 13:39] philbooth commented on #5541
I also see it showing up fine in Amplitude itself:

<img width="672" alt="Screen shot showing `fxa_email - click` events grouped by `email_type` in Amplitude" src="https://user-images.githubusercontent.com/64367/31128025-6b25f59a-a848-11e7-8acf-8c28d9bb98f5.png" />

@davismtl, did I get the wrong end of the stick here? Any idea what the problem is?

[2017-10-03 13:58] vbudhram commented on #5454
I am in favor that.

For completeness, here is a [query](https://sql.telemetry.mozilla.org/queries/46974/source) that shows a breakdown of consumed codes on iOS devices (ua, browser, version). It shows that iOS versions 8.1, 8.1.1, 9.0 and 9.1 have consumed codes. It also showed that there was a code consumed on Mac back in July and none after, maybe it was testing related? This probably reduces t

[2017-10-03 14:52] irrationalagent commented on #5548
I should have some time to investigate this within the next couple days

[2017-10-03 16:37] davismtl commented on #5541
They are showing up but they are missing properties so they are not mapping to any other event.

Here is a link to a click event, you can see it is isolated and not associated to any other event:
https://analytics.amplitude.com/org/31251/project/178231/search/32606536482?sessionHandle=V7jCZGY_V7jDRqh_eXgEMi_rg3_91ee35bd234145caade4a88d68148dbe&eventId=750e1ed4-a857-11e7-a0d2-06b9186137b2

Here is

[2017-10-03 16:47] philbooth commented on #5541
Thanks @davismtl, I'll close this issue then and open one for the problem you descibe.

[2017-10-03 16:47] #5541 closed

[2017-10-03 16:50] philbooth opened #5549 "Missing uid on `fxa_email - click` amplitude events"
[Mentioned elsewhere](https://github.com/mozilla/fxa-content-server/issues/5541#issuecomment-333904264) by @davismtl:

https://analytics.amplitude.com/org/31251/project/178231/search/32606536482?sessionHandle=V7jCZGY_V7jDRqh_eXgEMi_rg3_91ee35bd234145caade4a88d68148dbe&eventId=750e1ed4-a857-11e7-a0d2-06b9186137b2

[2017-10-03 16:50] davismtl commented on #5541
I could have sworn that the clicks were also missing the email_type when @jbuck and I tested together but while double checking now, that's not the problem I was running into.

[2017-10-03 16:52] philbooth commented on #5549
We should have the uid available from the resume token on these events, so we should be able to ensure `user_id` is correct on these events. Obviously `device_id` won't be correct until we implement proper device ids.

[2017-10-03 16:52] philbooth commented on #5541
#5549

[2017-10-03 21:27] ryanfeeley opened #5552 "Ensure that temporary settings messages are always visible"
If you perform an action in Settings, like adding a secondary email, often the message is out of view.

We should keep the message where it is when the user is scrolled to the top, but fix the messages to the top of the window when they are not.

Like this:
![omnipresent](https://user-images.githubusercontent.com/68213/31150013-0ef97662-a860-11e7-8807-d67c0dfe0310.gif)

[2017-10-04 02:30] vbudhram commented on #5509
This was tested during today's Sync Fest and it showed the correct primary email. Closing!

[2017-10-04 02:30] #5509 closed

[2017-10-04 12:45] philbooth opened #5553 "Let's load the spinner even earlier!"
In #5483, @vladikoff changed the spinner to load from a `data:` URI. This has made a huge improvement to two key performance metrics, speed index and start render.

It knocked about 1.5 seconds off our start render time and improved our speed index by about 20%. Visually, that looks like this:

<img width="840" alt="Screen shot of a chart showing a 1.5 second improvement in start render time" src=

[2017-10-04 13:33] shane-tomlinson opened #5554 "Desktop users who verify at CWTS are asked to sign in again in the verification tab."
Found by @vladikoff while testing https://github.com/mozilla/fxa-content-server/pull/5546.

![signup-verify-at-cwts](https://user-images.githubusercontent.com/848085/31178281-15b216fa-a908-11e7-9035-cc131268034b.gif)

[2017-10-04 18:57] #5488 closed

[2017-10-05 13:55] shane-tomlinson opened #5556 "about:accounts pages should redirect after email verification in Firefox 58, not 57."
The Firefox patch to stop navigating to about:preferences#sync landed in Firefox 58, not 57 and will not be uplifted. The [flag for whether the browser transitions](https://github.com/mozilla/fxa-content-server/blob/1d302b266992d9f4696cb452de149e67b87a0dbe/app/scripts/models/auth_brokers/fx-desktop-v3.js#L33) after email verification needs to be updated from 57 to 58, and the functional tests need

[2017-10-05 14:09] shane-tomlinson commented on #5553
👍

We could get an easy win out of deferring/asyncing the main JS bundle w/o even worrying about styles yet.

An idea on how to measure this is to do our first server-side initiated experiment. The server would decide whether a user is part of the experiment, and if so, which group. It'd set a cookie so that decision persists. If the user is part of the treatment group, defer/async the script. For

[2017-10-05 14:27] shane-tomlinson opened #5558 "Screen needed for "Upgrade to the latest Firefox""
In support of "Discontinue support for old Firefoxes", we need a screen we can display
to users whose browsers are really really out of date that allows them to upgrade their
version of Firefox.

@ryanfeeley asked me to open a bug and assign it to him for designs.

[2017-10-05 15:06] shane-tomlinson commented on #5433
I was wrong, with #5551, this is still a problem. No SQS.

[2017-10-05 16:47] philbooth commented on #5553
Definitely worth testing this but fwiw, the CSS and JS bundles are pretty much exactly parallel in the waterfall, so just moving the JS on its own may not get start render to happen any earlier. But let's try it out, I may be wrong.

[2017-10-05 18:38] ryanfeeley commented on #5558
LINK: https://www.mozilla.org/en-US/firefox/new/?scene=2
<img width="489" alt="image" src="https://user-images.githubusercontent.com/68213/31246238-b272e3fc-a9da-11e7-9874-f69636ab15b4.png">

[2017-10-05 19:24] rfk commented on #5558
@davismtl r? ^

[2017-10-05 19:43] rfk commented on #5553
In the past we've talked about having the server emit the `flow.begin` event in order to capture the start of the funnel as early as possible, would it make sense to do that as part of this change in order to get accurate flow_time measurements between the two groups?

[2017-10-05 19:48] davismtl commented on #5558
r+

[2017-10-06 16:44] shane-tomlinson opened #5561 "Remove `treatment` group from `sendSms` experiment."
@irrationalagent has shown that [the `signinCodes` group outperforms the `treatment` group](https://sql.telemetry.mozilla.org/queries/42818#115860). We can make a good story about how CAD phase 3 outperforms CAD phase 2, even though it's really only a slight modification.

I propose we remove the `treatment` group so that only `control` and `signinCodes` remain. We'll push more users through `sign

[2017-10-06 16:51] davismtl commented on #5561
I propose that we remove control for all markets we support SMS.

For markets that don't support SMS, control is still our best bet.

Follow up questions:
- how easy is it to deploy to new markets?
- what markets do we want to support? (my thoughts: most European countries)

[2017-10-06 16:57] #5549 closed

[2017-10-06 18:58] shane-tomlinson commented on #5561
👍 To be eligible for the experiment at all, the user must be in a market that supports SMS. If they are in a market w/o support, the `control` experience is the default, they just aren't reported as such.

[2017-10-09 15:20] #5554 closed

[2017-10-10 09:22] shane-tomlinson opened #5566 "bounce not triggered from /confirm in Firefox <= 56 when signed up in about:accounts"
STR

1. Use Firefox 56 pointed to a local dev instance
2. Open about:preferences#sync
3. Create a new account
4. While at /confirm, restart the DB server, causing an email bounce.
5. No bounce notification.
6. Clicking "Resend" results in "invalid token"

This can also be synthesized by changing `57` to `56` on this line: https://github.com/mozilla/fxa-content-server/blob/6448c3880b95e501311737e91

[2017-10-10 12:36] shane-tomlinson commented on #5566
blocks #5565, so I pulled this into active and have a fix for it.

[2017-10-10 16:34] davismtl commented on #5542
@philbooth and I re-scoped this to keep things super simple.

We will not have experiment and experiment_variation properties, and we'll avoid groups since it will pollute our list of user properties.

Instead, we're going to keep things simple and just have **experiment** where we'll have values as such:
emailfirst_control
emailfirst_treatment

This way, we are sure that the variations are always

[2017-10-10 17:41] ryanfeeley opened #5568 "Device button spinning wheel too dark"
Current:
<img width="716" alt="screenshot 2017-10-10 13 40 16" src="https://user-images.githubusercontent.com/68213/31401343-9de8be2c-adc0-11e7-8435-36750a3187fd.png">

Should match lighter grey when used elsewhere:
<img width="875" alt="screenshot 2017-10-10 13 40 20" src="https://user-images.githubusercontent.com/68213/31401363-ab27572e-adc0-11e7-8992-2366a58920c8.png">

[2017-10-10 20:37] #5547 closed

[2017-10-11 14:49] shane-tomlinson opened #5570 "bower registry bower.herokuapp.com is gone - change to https://registry.bower.io"
https://gist.github.com/sheerun/c04d856a7a368bad2896ff0c4958cb00

[2017-10-11 14:52] shane-tomlinson commented on #5570
Two options

1. Use the latest version of bower (1.8.2)
2. Add `registry: "https://registry.bower.io"` to the .bowerrc file

[2017-10-11 16:04] #5570 closed

[2017-10-11 16:57] #5566 closed

[2017-10-11 19:45] #5542 closed

[2017-10-11 20:16] davismtl opened #5572 "Release SMS pt3 to Germany and Austria"
SMS Phase 3 flow improved mobile pairing flows.

It is currently available in only a select few countries. This issue is to deploy it in Germany and Austria.

[2017-10-11 20:19] davismtl opened #5573 "Release SMS pt3 to France, Luxembourg, Belgium, Monaco and Quebec"
This bug is to deploy SMS phase 3 to more countries.

This bug focuses on a few French speaking countries: France, Luxembourg, Belgium, Monaco and if not already included in Canada release... Quebec.

[2017-10-11 20:21] davismtl opened #5574 "Release SMS pt3 to Spain, Portugual and Italie."
SMS pt 3 had important improvements to mobile pairing.

Let's deploy this to more European countries:
Spain, Portugual and Italie.

[2017-10-11 20:23] davismtl opened #5575 "Validate the Camera auto-focuses on Android"
In order to remove assumptions around device pairing with QR codes, we need to make sure that WebRTC is auto-focusing the camera to scan QR codes.

[2017-10-11 20:25] davismtl opened #5576 "iOS QR Code Scanning"
In order for device pairing to work, we need to figure out how we can scan QR codes with Firefox on iOS.

Identified options:
- iOS 11 might support WebRTC (does Firefox?)
- QR code scanner in native camera (iOS 11 only)
- Firefox has a native QR code scanner that works with iOS 10 too.

Let's figure out the pros and cons and which one we would ideally like to use based on technical constraints.

[2017-10-11 20:28] davismtl opened #5577 "POC of getting Keys out of the browser"
In order for us to make pairing with QR codes widely accessible on all sign in forms, we would need to be able to pull keys out of the browser.

Let's do a proof of concept or prototype of what that might look like.

It is my understanding that they may require native browser code so a system add-on might be a quick way to prototype this.

[2017-10-12 12:46] past opened #5579 "Changing iOS device name isn't possible"
On desktop Firefox it is possible to change the device name in about:preferences#sync. On iOS (android too?) there is no way to do that. I assume this isn't an issue for mozilla/firefox-ios as the fxa page in Firefox for iOS seems to be remote.

[2017-10-12 13:08] shane-tomlinson opened #5580 "2nd password exp tweak - place placeholder labels above field on both password elements."
Place the password placeholder labels above the field for both password inputs.

[2017-10-12 13:10] shane-tomlinson opened #5581 "2nd password exp tweak - place "strong password" warning below 2nd password"
Right now this warning is between the two password fields, which causes a great big gaping hole to show in the UI. Place the "strong password" warning below the 2nd password field.

[2017-10-12 13:12] shane-tomlinson opened #5582 "email first exp tweak - remove the email field in the 2nd steps."
We believe the email field may be causing users to drop off in the 2nd step. Remove it!

[2017-10-12 13:55] shane-tomlinson commented on #5579
Thanks for the report! I'm trying to dig in further, but FxA does not provide a way for *anybody* to change the device name. Both Firefox on both desktop and Android provide the functionality from within their own settings rather than ours. We then take that device name. I'm trying to find out whether there are any plans to add similar functionality to Fx for iOS, the nearest thing I can find in B

[2017-10-12 14:05] #5556 closed

[2017-10-12 16:30] philbooth commented on #5579
Discussed in meeting, this needs to be fixed in the iOS client, closing.

[2017-10-12 16:30] #5579 closed

[2017-10-12 16:39] past commented on #5579
Thanks, I'll comment in that bug.

[2017-10-12 18:14] grigoryk opened #5584 ""Send Firefox over SMS" screen displayed after verifying a sign-in of an Android device"
My STRs:
- sign-in into FxA on an Android device
- verify sign-in on desktop via the email link
- observe this:
![image](https://user-images.githubusercontent.com/465422/31511960-65bcb02e-af57-11e7-9eb5-6c1f8f6c7234.png)

It's a bit of an awkward moment to display this screen, given that I've just signed-in from a mobile device.

[2017-10-12 19:03] shane-tomlinson commented on #5584
Thanks @grigoryk - this is a dup of #5196. We just haven't gotten around to prioritizing it yet.

[2017-10-12 19:03] #5584 closed

[2017-10-12 19:25] ryanfeeley opened #5585 "Pin incorrect password to password field in delete account section"
STEPS TO REPRODUCE
1. Go to delete account section on fxa
1. Enter the wrong password

EXPECTED RESULTS
* Warning is pinned to field
![image](https://user-images.githubusercontent.com/68213/31839345-b1125c56-b5ae-11e7-9376-0e8afbed12c2.png)

ACTUAL RESULTS
* Warning is under header
![image](https://user-images.githubusercontent.com/68213/31839279-682b4b4c-b5ae-11e7-826c-38b82c81f61e.png)

[2017-10-13 10:45] philbooth opened #5586 "Add location data to Amplitude metrics"
We should add `country` and `region` properties to the Amplitude metrics, like the auth server does. Requires a dependency on [`fxa-geodb`](https://github.com/mozilla/fxa-geodb).

[2017-10-16 00:02] rfk opened #5588 "Update to new Firefox logo?"
IIUC there's a snazzy new Firefox logo coming with the 57 release.  @ryanfeeley should we update the versions of the logo used in this repo to match?  I couldn't find an existing ticket for it.

[2017-10-16 04:17] rfk commented on #5454
Closing this in favour of mozilla/fxa-bugzilla-mirror#379

[2017-10-16 04:17] #5454 closed

[2017-10-16 09:00] shane-tomlinson opened #5589 "/sms/sent graphic needs to be updated to be the same as /sms"
Current:

<img width="440" alt="screen shot 2017-10-12 at 20 12 43" src="https://user-images.githubusercontent.com/848085/31603711-818e983e-b250-11e7-95de-532ef8c9d622.png">

[2017-10-16 12:15] shane-tomlinson commented on #5515
I haven't been able to figure out the source of this error. Putting back into "next".

[2017-10-16 12:26] shane-tomlinson commented on #5548
@irrationalagent has come up with new queries that figured this out. I made a big mistake in my joins, using LEFT JOIN when I should have been using INNER JOIN. Closing.

[2017-10-16 12:26] #5548 closed

[2017-10-16 15:15] #5561 closed

[2017-10-16 17:55] ryanfeeley commented on #5588
Yes! We should align with 57 launch. I have the repo, but not sure I should post publicly. Will send you on IRC.

[2017-10-16 19:11] rfk commented on #5588
We're deliberately not going to do a deploy at the same time as the 57 rollout, so we can't "ship" the updated logo to coincide with the 57 release.  But it'd be ideal if we could have this ready to display with the 57 release...@shane-tomlinson just thinking out loud here, but how feasible would it be to show the new logo to users on >=57 and the old logo to users on <57?

[2017-10-16 20:05] vbudhram opened #5592 "Add support for user to upgrade unverified session"
Meta bug for https://docs.google.com/document/d/1t9Ncq2BawAl73nmSfXVbN5rmYFzN4xzQae0YXlELA8g/edit#

[2017-10-16 22:32] rfk commented on #5588
From meeting, we're going to try this approach so it'll be ready for the 57 release

[2017-10-17 09:27] #5582 closed

[2017-10-17 09:32] shane-tomlinson opened #5593 "teamcity failing functional test: firefox on any platform: settings clients (1) device and apps panel works with query param, same device"
This has failed 10 times in a row:

For documentation on this error, please visit: http://seleniumhq.org/exceptions/stale_element_reference.html
Build info: version: '3.6.0', revision: '6fbf3ec767', time: '2017-09-27T16:15:40.131Z'
System info: host: 'ffccf96599e0', ip: '172.17.0.3', os.name: 'Linux', os.arch: 'amd64', os.version: '4.4.41-36.55.amzn1.x86_64', java.version: '1.8.0_144'
Driver info:

[2017-10-17 10:22] #5531 closed

[2017-10-17 14:56] #5465 closed

[2017-10-17 20:29] ryanfeeley opened #5597 "Include location and change secondary lines to sentence case"
Goodbye lowercase. It was nice while it lasted.

Because we shouldn't lowercase location names, here is what we should do for locations and the other secondary lines. I've included enough sentence case examples to paint a clear picture, but ask if not.

<img width="582" alt="sentence case" src="https://user-images.githubusercontent.com/68213/31687747-2ab97764-b358-11e7-9f61-455b19f8c40b.png">

[2017-10-17 21:15] #5593 closed

[2017-10-17 21:21] davismtl commented on #5597
Looks good to me. I've added it to Feature doc: https://docs.google.com/document/d/1R80nsISQwrIalPyzWMRgu6dYCpbOHxvrl1TKjrdjfpA/edit#

Any thoughts on how it should wrap on mobile? Just double checking.

[2017-10-18 09:09] philbooth opened #5598 "Emit appropriate events and data for device disconnection reasons"
We're going to use these metrics to measure the outcome of FxA-139, so we need to make sure we have them available in Redshift and/or Amplitude.

[2017-10-18 09:19] philbooth opened #5599 "Always show a last Sync time in the device manager"
For sessions where we don't have an accurate time, we should instead display "Last sync over *n months/years* ago", where *n months/years* is the delta from the current time to whenever we shipped device updates.

[2017-10-18 09:33] philbooth opened #5600 "Move location text inline in the device manager"
Currently, the location is displayed on hover. Instead we should include it inline after the last sync time, along the lines of "Last sync 2 days ago near Bournemouth, United Kingdom".

﻿
![Screen shot of the FxA device manager including inline location text](https://user-images.githubusercontent.com/64367/31711328-a9f61932-b3ef-11e7-9530-861dcea6902e.png)

[2017-10-18 10:43] philbooth commented on #5598
Fwiw the Amplitude taxonomy already specifies a `reason` event property for the disconnect event, but I missed it before.

[2017-10-18 11:29] philbooth commented on #5599
Bumping to train 100. I just realised that if we ship this in the same train as #5598, we won't be able to see a difference in the metrics to know whether the changes are successful or not.

[2017-10-18 12:58] vbudhram commented on #5597
@ryanfeeley I like it 👍🏽.

@shane-tomlinson would there be any issues with string translations? Would we need a semi-complete list of possible locations for translators?

[2017-10-18 13:45] philbooth commented on #5599
#5606 snuck in to train 98 as a patch release, so we can push this forward to train 99 again.

[2017-10-18 13:46] #5598 closed

[2017-10-18 15:25] ryanfeeley opened #5607 "Remove left margin on buttons in mobile view"
## Current
<img width="364" alt="wrap-current" src="https://user-images.githubusercontent.com/68213/31727167-ed60fd16-b3f6-11e7-9477-77ba2802b056.png">

## Proposed
<img width="324" alt="wrap-proposed" src="https://user-images.githubusercontent.com/68213/31727165-eb3f76c0-b3f6-11e7-9acf-a1660cd6dbd4.png">

[2017-10-18 15:43] ryanfeeley commented on #5597
@davismtl Great question! Left aligned to text with margin: 10px 0;

Both lines can wrap in this view as depicted below:

<img width="343" alt="image" src="https://user-images.githubusercontent.com/68213/31728166-8db65f8e-b3f9-11e7-9307-5b339bbd5636.png">

[2017-10-18 16:31] philbooth commented on #5600
Dup of #5597.

[2017-10-18 16:31] #5600 closed

[2017-10-18 16:39] philbooth commented on #5597
@ryanfeeley, how sure are you about including the state code in the location text like that? Might it seem weird for some locations? e.g. For me in the UK it will show up as `EN` for England, which doesn't like a useful addition to wedge between city and country like that.

[2017-10-18 16:40] philbooth commented on #5597
(although maybe it just seems weird in the UK I realise, in which case you can ignore me)

[2017-10-18 17:44] ryanfeeley commented on #5597
@philbooth I'm all for using the less specific location that we use in the tooltip today. For example, I see "Ontario, Canada" and not Toronto. If we do that, there will be less wrapping and we can use "in" instead of "near".

Thoughts? @davismtl?

[2017-10-18 17:55] philbooth commented on #5597
It works for me, but also so does "City, Country".

[2017-10-18 18:26] ryanfeeley commented on #5597
"in State, Country" might be smaller than "near City, Country", be accurate enough, and be more Mozilla-like (not creeping people out or revealing too much information on the screen).

I'll defer to @davismtl on the decision. I'm not sure where the current tooltip is coming from so I'm not sure what options there are.

[2017-10-18 19:08] ryanfeeley opened #5610 "Kill the Maybe Later link until we have a decent destination"
The Maybe Later link on the SMS page goes to the CAD page which is the same, but without the SMS field. Let's drop that link like a hot potato until it goes somewhere fantastic.

<img width="519" alt="image" src="https://user-images.githubusercontent.com/68213/31737576-ffceb17c-b415-11e7-8e98-818e138b6532.png">

[2017-10-18 19:52] rfk commented on #5610
I have a vague recollection of us needing some sort of "maybe later" link so that users will understand they don't *have* to put their mobile number in there.  @davismtl do you recall, or did I make that up?

[2017-10-18 20:23] davismtl commented on #5610
Oh, this experience certainly needs to be fixed.

So... the growth side of me is like "Yes, let's drop it!" because more people will send sms and pair devices. (go growth!)

The "Mozillian" in me think we should keep the "Maybe Later" (or rename it to something else) but send people somewhere relevant like a page that gives them more details on why they should pair their device (Send Tab, Improved

[2017-10-18 20:40] davismtl commented on #5597
I think for security, there is benefit to being as accurate as possible. So I think @ryanfeeley 's initial proposal is fine.

I think there is benefit to include the approximate city. It might remind you that you forgot to logout of a public computer while you were traveling. (which you shouldn't do in the first place but... you get the point)

And Phil, if you were in Wales, WLS might be more use

[2017-10-19 08:18] #5586 closed

[2017-10-19 09:31] shane-tomlinson opened #5611 "Release SMS pt 3 to Romania"
We have all the logic for sending SMS to Romania, yet we have only enabled the for mozilla and softvision addresses. We should remove the gating logic and allow all RO users to send SMS.

[2017-10-19 10:17] philbooth opened #5612 "Differentiate the "complete" views in perf metrics"
Currently we emit performance flow events for sign-in and sign-up as `flow.performance.auth.*`, and everything else as `flow.performance.other.*`. It's probably worth separating out the landing views for email verification, sign-in confirmation and reset password confirmation, which (I think?) are `complete` and `complete_reset_password`. Then `other` will essentially be a proxy for `settings`.

[2017-10-19 10:23] shane-tomlinson opened #5613 "new focus shadow shows in the firstrun page."
I forgot to test the firstrun page while reviewing https://github.com/mozilla/fxa-content-server/pull/5550. I did today and this is what I see:

<img width="476" alt="screen shot 2017-10-19 at 11 21 40" src="https://user-images.githubusercontent.com/848085/31766578-7cddfc8a-b4b7-11e7-89de-cba06562e645.png">

We are going to need to point release train-98 for this. (note from @shane-tomlinson, I ed

[2017-10-19 12:31] shane-tomlinson opened #5615 "Rely on auth-server to format phone number for country"
Adding logic to format the phone number of every country we plan to release to is going to be a bit of a nightmare. Fortunately, Google figured all of that stuff out with google-libphonenumber, which we use on the auth-server. https://github.com/mozilla/fxa-auth-server/pull/2178 has /sms return a new field in the response `formattedPhoneNumber`. The phone number does not have the country code pref

[2017-10-19 12:47] shane-tomlinson opened #5617 "Rely on auth-server for strict phone number validation"
Coding up phone number validation for each country we plan to support is going to be a nightmare. Fortunately, the auth-server already does this, and because of google-libphonenumber, it's pretty good at it. To help speed development, the content server should only do a base level of validation, and then rely on the auth-server to do the rest.

In support of #5572

[2017-10-19 15:29] #5613 closed

[2017-10-19 16:36] vbudhram commented on #5611
@davismtl can you triage?

[2017-10-19 17:11] ryanfeeley commented on #5169
@davismtl This would make life easier for people who type in authorization codes, and likely improve success. Low hanging fruit!

[2017-10-19 17:30] davismtl commented on #5169
@ryanfeeley is it case sensitive? Will it fail to unblock if it is not identical case?

[2017-10-19 17:42] davismtl commented on #5611
Well, I see that Shane already has a lot of markets schedules for train 100 so I guess it depends on the effort for removing the logic.

[2017-10-19 18:42] ryanfeeley commented on #5552
Related: http://polarblau.github.io/stickySectionHeaders/

[2017-10-19 18:46] ryanfeeley commented on #5169
@davismtl It is not, this just reduces user worry that it might be in the middle of typing a code.

[2017-10-19 19:51] #5589 closed

[2017-10-19 19:51] #5568 closed

[2017-10-19 20:03] #5530 closed

[2017-10-19 22:32] davismtl commented on #5169
yeah, makes sense. Let's bring it up in triage on Monday.

[2017-10-20 05:25] shane-tomlinson commented on #5169
This is a pretty easy, CSS only, change, we can do what @seanmonstar mentioned above.

[2017-10-20 13:55] #5615 closed

[2017-10-20 14:56] xevrem commented on #5233
Change the CSS class `.password-row .show-password-label` from `border-radius: 0 2px 2px 0` to `border-radius: 0 4px 4px 0` it is used in `<label for="show-old_password" class="show-password-label">` which is causing the pinched border on the right-side corners. the

[2017-10-20 18:47] #5607 closed

[2017-10-20 19:23] ryanfeeley opened #5629 "Bounce feature broken?"
STEPS TO REPRODUCE
1. Register an account with an invalid mozilla email that will bounce (I went direct to accounts.firefox.com)

EXPECTED RESULTS
* Email bounces, and user is bounced back to registration form with Mistyped email warning

ACTUAL RESULTS
* Nothing happens

![image](https://user-images.githubusercontent.com/68213/31838401-a9039ace-b5aa-11e7-8859-d02bdcab3e8e.png)

[2017-10-20 20:39] ryanfeeley commented on #5610
@davismtl For now remove it because it's a glaring bug. We'll add it back in when we have something worth maybe latering.

[2017-10-23 11:58] #5611 closed

[2017-10-23 12:13] #5599 closed

[2017-10-23 12:15] shane-tomlinson opened #5632 "SMS experiment group updates - fully rolled out countries should only use `signinCodes`"
@davismtl - my memory from Friday is already hazy.

Was it countries that are fully rolled out only use the `signinCodes` group, effectively ending the experiment for those countries, and for countries that are in the process of being rolled out, we should only use `treatment` and `signinCodes` - where `treatment`=CAD phase 2 (sms w/o signin code) and `signinCodes`=CAD phase 3 (sms w/ signin code)

[2017-10-23 12:28] shane-tomlinson opened #5633 "failing functional test on teamcity - Firefox Desktop Sync v1 signin - unverified"
[05:07:32]
[unverified] ScriptTimeout: [POST http://localhost:4444/wd/hub/session/2f2d68ef-84ce-4786-8aa7-8498b2451946/execute_async / {"script":"return (function (poller, args, timeout, pollInterval, done) {\n\t\t\t\t\t\t/* jshint evil:true */\n\t\t\t\t\t\tpoller = new Function(poller);\n\n\t\t\t\t\t\tvar endTime = Number(new Date()) + timeout;\n\n\t\t\t\t\t\t(function poll() {\n\t\t\t\t\t\t\tvar

[2017-10-23 13:48] philbooth commented on #5612
I just realised that the complete views get reported as `settings` anyway, because the redirect happens so quickly before any metrics get sent. Closing this.

[2017-10-23 13:48] #5612 closed

[2017-10-23 15:58] ryanfeeley opened #5636 "Give focus to Sign in button when password not required"
So that signing in is more accessible for keyboard users, give focus to Sign in button when password not required.
![give-focus](https://user-images.githubusercontent.com/68213/31899455-994dbb32-b7e9-11e7-9736-0787332ebca7.png)

[2017-10-23 16:04] davismtl commented on #5632
Fully rolled out = phase 3 with codes
Any tests moving forward should be phase 1 vs phase 3 to validate if users are comfortable with SMS.

I **don't** see any scenario where phase 2 would beat phase 3 so there is no point using phase 2 moving forward for any tests. Kill it!

[2017-10-23 17:52] ryanfeeley opened #5638 "Pick a still from an animated GIF instead of declaring an error"
STEPS TO REPRODUCE
1. Sign in to FxA
2. Choose this GIF as your avatar
![giffle-4](https://user-images.githubusercontent.com/68213/31904374-0e5701e0-b7f9-11e7-86c2-d25ac92aa9ec.gif)

EXPECTED RESULTS 👍
* A still frame is chosen

ACTUAL RESULTS 👎
<img width="502" alt="screenshot 2017-10-23 13 48 53" src="https://user-images.githubusercontent.com/68213/31904385-1590bfbe-b7f9-11e7-9f5e-5fd64d039b9e.p

[2017-10-23 20:51] #5633 closed

[2017-10-23 21:10] shane-tomlinson opened #5639 "Ellipsis on the "Add..." buttons in /settings is on its own line in German"

[2017-10-23 22:24] jrgm opened #5641 "Communications Preferences->Manage Subscriptions sends me to /settings/null"
Not every time, but perhaps 50% of the time: https://accounts.firefox.com/settings/null

STR:
- signup for a new sync account in prod
- after confirming email, to to /settings
- Click Communication Preferences->Change...
- Click Subscribe
- some time later, or immediately, repeat. Click Communication Preferences->Change...
- Now click 'Manage Subscriptions'

Sometimes I go to page where I can mana

[2017-10-24 09:41] shane-tomlinson commented on #5641
It seems like we don't have the user's basket id/endpoint yet in some cases.

[2017-10-24 10:10] #5516 closed

[2017-10-24 11:42] philbooth opened #5642 "Emit timing metrics for settings activity"
Principally I'm thinking about how long it takes to display the devices list but there are probably others. How long it takes to upload the avatar image, for instance.

We should emit events for these so that they can be included in our [perf dashboard](https://sql.telemetry.mozilla.org/dashboard/fxa-performance).

[2017-10-24 16:00] philbooth commented on #5597
@vbudhram makes a good point about translations above in https://github.com/mozilla/fxa-content-server/issues/5597#issuecomment-337581902.

Currently, we translate the "Last active over 2 months ago" bit. We don't translate the location bits because that would require asking localisers to translate every possible value for city, state and country, which is a huge list.

If I make these changes, we

[2017-10-24 17:10] ryanfeeley opened #5644 "CAD screen on originating iOS says to sign in to iOS"
STEPS TO REPRODUCE
1. Open a fresh version of Firefox iOS
1. Create a Firefox Account
1. Verify the account in the same browser

EXPECTED RESULTS
- Users are given generic instructions to install Firefox on another device to complete set-up
![proposed](https://user-images.githubusercontent.com/68213/31957211-0c344134-b8bc-11e7-8bfa-a6adbe507a55.png)

ACTUAL RESULTS
- Users are told to sign in to S

[2017-10-24 17:52] davismtl commented on #5597
Oh God, sounds horrible. I don't have a cunning plan unfortunately.

Does our Max Mind db include translations? I know their paid version does for the most common: "Chinese, French, German, Japanese, Spanish, Brazilian Portuguese, and Russian"
https://www.maxmind.com/en/geoip2-city

[2017-10-24 18:02] philbooth commented on #5597
Oh, interesting. @jrgm, do we use a free Maxmind db or one of the enterprise ones?

[2017-10-24 18:04] philbooth commented on #5597
Apparently, Unicode CLDR has localised countries and regions:

http://cldr.unicode.org/

[2017-10-24 18:06] philbooth commented on #5597
https://github.com/unicode-cldr/cldr-json

[2017-10-24 19:24] rfk commented on #5597
Interesting, so would the idea be to give localizers a single string like "Last sync {localizedTimeAgo} near {localizedCity}, {localizedState}, {localizedCountry}" and then do automated localization of the various components, possibly on the server side?

I recall our current "last sync {localizedTimeAgo}" approach being suboptimal for some languages, but still workable; let's ping @mathjazz for i

[2017-10-24 19:29] philbooth commented on #5597
Yep, done in the auth server as part of the devices request, which is when we localise the time.

[2017-10-24 21:46] philbooth commented on #5597
Cool, we already localise the time with `moment` fwiw, just the location is changing in this issue.

[2017-10-25 06:52] philbooth commented on #5597
Looking at the territory subdivisions dataset in CLDR (which I think is the closest to what we want):

https://www.unicode.org/cldr/charts/latest/supplemental/territory_subdivisions.html

I think we'll need to be quite adaptable on the front end in terms of what translations we have available to display. For instance, in the UK the cities are there but in the US & Canada they aren't.

I think we s

[2017-10-25 09:25] philbooth commented on #5597
Bumping this back to `train-100`, because it depends on auth server work and we don't want to be monkeying about point releases around the time of Fx57.

[2017-10-25 10:38] shane-tomlinson commented on #5644
Unassigning myself until we prioritize this.

[2017-10-25 10:39] shane-tomlinson commented on #5644
Dup of #5434, closing.

[2017-10-25 10:39] #5644 closed

[2017-10-25 11:04] #5233 closed

[2017-10-25 12:23] philbooth commented on #5597
Unfortunately this data is not localised currently. Only the territory names (countries) are localised:

https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en-GB/territories.json

I've had a search for other data sources, but didn't find anything usable.

I'll crack on with the localised countries for now, but I'm not sure what to do about cities and states. @davismtl, @ryanfee

[2017-10-25 13:04] #5588 closed

[2017-10-25 13:58] shane-tomlinson opened #5648 "Question: Should countries in which SMS is fully rolled out report being part of the experiment?"
Follow on from #5632 and #5647. In #5647, the only experiment group used for countries that are fully rolled out is `signinCodes`. Even though there is only one group, [the user still reports experiment metrics](https://github.com/mozilla/fxa-content-server/blob/f6054ff32eb42a2b1a3d5aa31f6e5a8b11c065cc/app/scripts/views/mixins/connect-another-device-mixin.js#L126). This doesn't seem quite right to

[2017-10-25 14:00] shane-tomlinson commented on #5648
cc @irrationalagent too.

[2017-10-25 16:09] #5632 closed

[2017-10-25 16:17] shane-tomlinson opened #5649 "intermittent test failures on teamcity: change password"
<img width="641" alt="screen shot 2017-10-24 at 20 26 44" src="https://user-images.githubusercontent.com/848085/32009793-971ff00c-b99f-11e7-80d1-a1e75cd83700.png">

All the failures are for the same reason, the `fxaccounts:change_password` notification is not received.

One example: https://tc-test.dev.lcip.org/viewLog.html?buildId=31534&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

[2017-10-25 16:19] philbooth commented on #5597
Just noting so I don't forget when I come back to this, there is a WIP branch that does the server-side country translation here:

https://github.com/mozilla/fxa-auth-server/compare/phil/content-5597

[2017-10-25 16:38] davismtl commented on #5597
Initial thoughts:
- If possible, give as many details to EN and only Country for other languages
- If last point is too complicated, just display country for now for everyone.

Investigate using MaxMind localization.

[2017-10-25 16:52] davismtl commented on #5648
If an experiment has **ended** for a cohort of users, new users should not be enrolled in the experiment.

What is the exception?
Sometimes, the quickest way to rollout a win is to turn the winning variation to 100%, leaving the testing logic in place. But once the experiment code is no longer needed (normally shortly after win) and that the winning variation has become default in the code, the us

[2017-10-25 16:58] zbraniecki commented on #5597
that sounds good! I hope that eventually we can add region/city outside of US. I know that Europe would expect that and I expect Asia as well. Not sure about cultural patterns in SA, Africa and India, but I think it's ok to approach it gradually.

[2017-10-25 17:27] ryanfeeley commented on #5597
I agree with Alex. Adopt user language as much as possible.

If we wrote Moscow, Russia in Russian (I think) it would look like:
* Last sync 2 hours ago near Москва-Россия

I would not recognize that.

It’s perhaps more likely that users will know their city and country name in English than in Russian, but still, I suppose we should try and use the user’s language as much as possible.

[2017-10-25 19:33] rfk commented on #5648
This seems right to me, we should continue collecting the flow-event metrics for those users so we can monitor overall health of the feature, but we shouldn't report them as being part of the experiment, otherwise we'll wind up with wildly different cohort sizes for treatment and control.

In our re:dash metrics, are we able to filter down to just users from a particular country for this experimen

[2017-10-25 20:58] davismtl commented on #5648
I don't see country in any of this: https://github.com/mozilla/fxa-auth-server/blob/master/docs/metrics-events.md

Just locale.

[2017-10-26 05:54] philbooth commented on #5648
mozilla/fxa-content-server#4069

[2017-10-26 06:01] philbooth commented on #5648
You can do this in Amplitude very easily fwiw. Here's users in the `signinCodes` cohort broken down by country:

https://analytics.amplitude.com/org/31251/chart/096t5xp

[2017-10-26 06:16] philbooth commented on #5597
Just flagging up that there is a whole other can of worms I need to be careful of here, I just realised.

Because we're translating parts of this string using three different systems now, there are also three different sets of translated languages available and thus three different results when picking the best available language from the `Accept-Language` header.

In practice this won't happen of

[2017-10-26 10:07] philbooth commented on #5597
This is wrong. The translation via `moment` uses the same list of supported languages that the front-end does, I should have looked more closely at the code in `fxa-shared`. If I follow a similar approach with `cldr`, it will all work correctly.

Still need to do this bit though, of course.

[2017-10-26 14:18] #5572 closed

[2017-10-26 14:27] shane-tomlinson opened #5651 "Remove support for `context=fx_desktop_v1`"
After [much discussion](https://mail.mozilla.org/pipermail/dev-fxacct/2017-September/002443.html) on the [mailing list](https://mail.mozilla.org/pipermail/dev-fxacct/2017-October/002489.html), we have come to agreement on an approach to phasing out support for old browsers.

We are going to support "ESR - 1", which currently means down to Firefox 45. Firefox 45 uses `context=fx_desktop_v2` from ab

[2017-10-26 16:44] shane-tomlinson commented on #5639
I thought the buttons were supposed to grow? @ryanfeeley?

[2017-10-26 16:48] shane-tomlinson commented on #5629
@shane-tomlinson to investigate

[2017-10-26 17:56] ryanfeeley commented on #5639
@shane-tomlinson I think the challenge is that we want all the buttons to be as wide as the longest text. I am not sure there is a way to do this without CSS grid.

[2017-10-27 09:32] shane-tomlinson commented on #5649
The XHR request is not complete when NoSuchBrowserNotification fails. See https://screencap.co.uk/images/4a1ef44f41a657c555e1e32e77e0567047c65e1d.png

[2017-10-27 10:31] shane-tomlinson commented on #5617
For AT and DE, doing just this. Closing.

[2017-10-27 10:31] #5617 closed

[2017-10-27 15:30] shane-tomlinson opened #5655 "Large number of "waiting" errors in CWTS."
Spotted by @ryanfeeley in https://app.datadoghq.com/dash/54202/fxa-content---front-end-errors?live=true&page=0&is_auto=false&from_ts=1506524955113&to_ts=1509116955113&tile_size=m&fullscreen=250361925.

This starts with train-97.

Here is the offending line: https://github.com/mozilla/fxa-content-server/commit/0f6c4813d5b8d8eb9643f02d5a3558338ee356ae#diff-4f94cc87d860bea04244df4587a7252aR70

The pr

[2017-10-27 16:18] #5649 closed

[2017-10-27 16:30] #5655 closed

[2017-10-29 13:22] tulikavijay commented on #5636
I would like to take this up, please guide me through this. Thanks!

[2017-10-30 12:04] #5642 closed

[2017-10-30 14:58] vladikoff commented on #5383
Latest Pull request for this is here: https://github.com/mozilla/fxa-content-server/pull/5389

[2017-10-30 14:58] vbudhram opened #5658 "Add graphs for updated defered deeplinking in iOS"
FxiOS 9.3 was recently landed in AppStore. This version contains updates to the deeplinking logic with the hopes for finally fixing the metrics.

Lets make a graph about it and see if it did!

[2017-10-30 18:14] vladikoff opened #5659 "New Firefox logo is chopped off"
![image](https://user-images.githubusercontent.com/128755/32187849-936685b2-bd7c-11e7-87a5-8fb1eb257969.png)

top part of the tail is missing

✂️

[2017-10-30 18:27] vbudhram commented on #5659
Cross checked this against emails and the tail is there!

![screen shot 2017-10-30 at 2 18 45 pm](https://user-images.githubusercontent.com/1295288/32188507-67da828e-bd7e-11e7-81ce-fc4fc1b5ecf5.png)

[2017-10-30 19:50] ryanfeeley opened #5661 "Add padding above Save settings button"
Choose what to Sync page seems to be missing some space beneath datatypes. Extra 10px?
<img width="1088" alt="screenshot 2017-10-30 14 10 16" src="https://user-images.githubusercontent.com/68213/32192236-00adff4e-bd8a-11e7-8e8d-63ecc8fb1189.png">

[2017-10-30 20:17] ryanfeeley opened #5662 "Make the hearts in the SVG beat"
How are your SVG animation skills? Can you make the hearts throb in unison?
https://accounts.firefox.com/connect_another_device?service=sync

[2017-10-30 20:47] vladikoff commented on #5433
Still no SQS in local dev!

[2017-10-30 21:00] vladikoff commented on #5515
@shane-tomlinson should this be active for next week?

[2017-10-30 21:01] vladikoff commented on #4863
from mtg: i'm back. "we are stuck in a box"

[2017-10-30 21:02] vladikoff commented on #5494
from mtg: ship it with a some kind of a feature flag

[2017-10-30 21:03] ryanfeeley commented on #4863
I love the copy, but it won't fit in the box and I don't want to drop the animation.
<img width="854" alt="firstrun" src="https://user-images.githubusercontent.com/68213/32195633-37ef61dc-bd94-11e7-8627-46e746d9f2ec.png">

[2017-10-30 21:10] rfk commented on #5574
@shane-tomlinson do we need to complete the Germany rollout before moving ahead with this?

[2017-10-30 21:11] vladikoff commented on #5394
from mtg: cc @vbudhram

[2017-10-30 21:14] vladikoff commented on #5648
cc @shane-tomlinson to close this ?

[2017-10-30 21:19] vladikoff commented on #5434
cc @ryanfeeley

[2017-10-30 21:48] davismtl commented on #4863
@ryanfeeley Would it be acceptable put the checkboxes on 2 columns? (even though we have odd numbers in 2 sections)

[2017-10-31 04:00] rfk opened #5666 "The "open restmail" button double-escapes "@" in email address"
STR:

* Sign up using a restmail address, like "syncfest@restmail.net"
* Click through to the "confirm your account" screen
* Click the "open restmail" button

Expected results:

* It opens a new tab to http://restmail.net/mail/syncfest%40restmail.net so I can retrieve the confirmation email.

Actual results:

* It opens a new tab to http://restmail.net/mail/syncfest%2540restmail.net which makes i

[2017-10-31 14:23] ryanfeeley commented on #4863
@davismtl I tried that first, but it makes the page unreadable. Do you think we could split them into three steps? Even as an experiment?

[2017-10-31 16:27] davismtl commented on #4863
@ryanfeeley I would prefer to avoid putting it on 3 steps.

Why is "skip this step" displayed here? Shouldn't that be done? Wouldn't that give us the room we need?

[2017-10-31 20:06] rfk commented on #4863
The "why" here is "because that button lives in the surrounding page, not in our iframe".  We have a couple of ways we could proceed in order to make it disappear, but they're all non-trivial (not outright *hard*, but not as easy as just hiding the button).

[2017-11-01 02:38] jrgm opened #5668 "[node8] failure running travis with htmllint"
See https://travis-ci.org/mozilla/fxa-content-server/jobs/295573686#L4167-L4185

[code]

[2017-11-01 02:53] vladikoff commented on #5668
Oh dear!

[2017-11-01 07:41] philbooth opened #5669 "Remove flow_id as a user property on the fxa_pref Amplitude events"
It serves no purpose being there, those events are not part of a flow.

[2017-11-01 09:25] philbooth opened #5671 "Implement server-side flow.begin events"
As pointed out in https://github.com/mozilla/fxa-content-server/issues/5553#issuecomment-334571417, we don't emit `flow.begin` events for flows that are aborted before there is a chance to send metrics to the back-end.

If we were to emit `flow.begin` on the server, it would fix that problem. However, we'd need to come up with a plan for handling requests that should not emit a `flow.begin` event,

[2017-11-01 09:26] philbooth commented on #5671
It may also be worth using server access logs to work out how many of these flows exist, if we can.

[2017-11-01 14:23] vladikoff commented on #5668
Works fine here locally with v8.9.0 on OS X, so could be something else:

[code]

[2017-11-01 14:34] vladikoff commented on #5659
This was fixed in https://github.com/mozilla/fxa-content-server/commit/f4d27c24af05ad864da07561d03009b5c5912c6e

[2017-11-01 14:34] #5659 closed

[2017-11-01 14:36] philbooth opened #5672 "Did the switch to docker slow down request times and can we do anything about it?"
I demoed [this chart](https://sql.telemetry.mozilla.org/queries/5420#11032) to some of you in SF back in June, but never did anything else about it:

![Screen shot showing an increase in network time on content server requests, starting on the 14th June](https://user-images.githubusercontent.com/64367/32279545-f34c779e-bf10-11e7-9b96-9edc4a87f372.png)

It shows a small-in-absolute-terms-but-big-in

[2017-11-01 15:01] vladikoff commented on #5672
I remember when @jrgm talked about this being the case yeah. However not a 100% increase :)

[2017-11-01 15:43] vbudhram opened #5673 "Broken change email circle-ci tests"
With the introduction of https://github.com/mozilla/fxa-dev/commit/6f255815e27a26b67279695f6304657f3acc6656, this broke some of the change email tests. Lets unbork them.

Ref: https://circleci.com/gh/mozilla/fxa-content-server/8658#tests/containers/1

[code]

[2017-11-01 17:55] vbudhram commented on #5673
I reverted the config that broke this, will test out on a separate box (fxaci2) before changing the config.

[2017-11-01 20:44] vbudhram commented on #5673
Reopening this because change email tests are indeed broken, but it's because of https://github.com/mozilla/fxa-auth-server/pull/2194 sending a post change primary email.

[2017-11-01 20:57] ryanfeeley commented on #5434
@shane-tomlinson @vladikoff I think our generic screen works well here for now.
![screen shot 2017-11-01 at 16 56 50](https://user-images.githubusercontent.com/68213/32297517-cb000f48-bf25-11e7-8b3d-e238efa4e90c.png)

[2017-11-01 23:35] jrgm opened #5677 "TypeError and UnhandledPromiseRejectionWarning running tests/server/routes/get-verify-email.js"
The tests say they pass ok, but this can't be correct.

Run this command:
`
$ ./node_modules/.bin/intern-client config=tests/intern_server fxaAuthRoot=https://api-accounts.stage.mozaws.net/v1 fxaContentRoot=https://accounts.stage.mozaws.net/ fxaOAuthRoot=https://oauth.stage.mozaws.net fxaProfileRoot=https://profile.stage.mozaws.net fxaTokenRoot=https://token.stage.mozaws.net fxaProduction=true fxa

[2017-11-01 23:45] jrgm opened #5678 "[train99,stage] consistent test failure for [can change primary email, reset password and login] Error: EmailTimeout"
Is there some configuration change that is needed in stage? Also, is it really calling timeout in 10 seconds (although probably unlikely why this is failing)?

[code]

[2017-11-02 02:25] jrgm commented on #5677
Note for the future: `(node:93871) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.`

[2017-11-02 02:58] vbudhram commented on #5678
@jrgm Ah ha, I think I know what the issue is.

All our circle tests run against the latest auth-server (master contains an extra email when user changes primary email). When I did https://github.com/mozilla/fxa-content-server/pull/5676 (v99.1) all test were green because it accounted for extra email.

Auth-server train-99 does not send the extra email which cause content-server train 99.1 to time

[2017-11-02 03:09] vbudhram commented on #5678
FWIW, content-server 99.0 and auth-server 99.0 play nicely together if you didn't want to hold up trains for test fixes.

[2017-11-02 10:19] #5669 closed

[2017-11-02 13:05] #5610 closed

[2017-11-02 15:42] ryanfeeley opened #5680 "Change password section persists errors after repeating openings"
STEPS TO REPRODUCE
1. Log in to FxA settings
1. Open password section
1. Leave either field blank or invalid
1. Press Change button to get validation
1. Press Cancel
1. Press Change to reopen the section

EXPECTED RESULTS
1. Red warnings are gone and section is like new

ACTUAL RESULTS
1. [Red warnings persist](https://youtu.be/dA1DC9k-1NU)

[2017-11-02 16:17] vladikoff commented on #5641
Possible to reproduce if you create a new account and go to settings right away

[2017-11-02 16:33] jrgm commented on #5668
I've had it fail locally for me.

[2017-11-02 16:38] vladikoff commented on #5668
From mtg: @jrgm says this happens locally on Mac OS X

[2017-11-02 16:39] vladikoff commented on #5668
Blocks node 8 upgrade

[2017-11-02 16:49] vladikoff commented on #5678
See this event that can help with this: https://github.com/mozilla/fxa-auth-server/blob/master/bin/key_server.js#L165

[2017-11-02 16:50] philbooth commented on #5677
Idea from the meeting: we could modify the test harness to abort the process inside an `unhandledRejection` handler, so we're forced to deal with issues like this immediately.

[2017-11-03 14:54] #5508 closed

[2017-11-03 17:51] vladikoff commented on #5673
Should be fixed via https://github.com/mozilla/fxa-auth-server/issues/2206

[2017-11-03 17:51] #5673 closed

[2017-11-03 17:53] vladikoff commented on #2002
Seems like no one ever reports this as a problem , closing for now

[2017-11-03 17:53] #2002 closed

[2017-11-03 20:45] vladikoff commented on #5523
This is needed for quicksight

[2017-11-06 14:28] shane-tomlinson commented on #5574
No good reason to wait AFAICT.

[2017-11-06 14:39] shane-tomlinson commented on #4863
I realize this was discussed and decided upon many moons ago, my memory fails me in middle-age. What are the reasons for showing CWTS? Would the world end CWTS was not displayed by either FxA or the browser? Could we skip the step and allow users to deselect from about:preferences#sync, or bring back the checkbox on signup that allows users to display CWTS if they so choose? If we skipped the scre

[2017-11-06 14:45] shane-tomlinson commented on #5639
Unassigning myself until we prioritize this.

[2017-11-06 15:17] vladikoff commented on #4863
One of the reasons was to make users understand what they are signing up for.
(The other reason was to get rid of the scary native Firefox dialog that was there after sign up :) )

[2017-11-06 15:23] shane-tomlinson commented on #4863
This is what I am questioning when I ask "Would the world end (if) CWTS was not displayed by either FxA or the browser?"

[2017-11-06 15:29] shane-tomlinson commented on #5648
We have to remove the reporting yet for fully rolled out countries to close this out. I'll do that this week.

[2017-11-06 15:49] ryanfeeley commented on #4863
@shane-tomlinson The world would end for people who don't automatically want all their passwords uploaded to a cloud service they know little or nothing about. But really it's more about helping users know what they are signing up for. When we had a simple "Choose what to sync" button on registration, most people clicked on it. That's a strong signal.

[2017-11-06 18:35] davismtl commented on #4863
I think it needs to remain there but I think we can do better since the list of engines is getting longer.

Chrome links to it but doesn't display everything in their flow by default.

<img width="713" alt="chrome" src="https://user-images.githubusercontent.com/19537086/32457455-0de7b674-c2de-11e7-9dc2-ccbb018b1142.png">

[2017-11-07 06:17] rfk commented on #4863
Right, pretty much this - if we don't ask before the syncing actually starts, then users who may have privacy concerns with specific datatypes will have to race with sync to disable those datatypes in the preferences UI before it uploads them as part of the first sync.  I don't think many users fall into that camp, but the ones that do care a whole awful lot about it.

[2017-11-07 11:40] shane-tomlinson commented on #4863
It is a strong signal, but it's only one signal. We haven't tested others, and we shouldn't stop until we have tested others! We know each additional screen causes ~ 6% drop in signup, can we remove the screen for the majority of users and bump the signup rate by 6%?

I buy this argument, though I do not buy that the approach we are using is optimal. My feeling we optimize too heavily for the priv

[2017-11-07 14:30] shane-tomlinson opened #5685 "User are never selected to send an SMS"
Regression on train-99 caused by https://github.com/mozilla/fxa-content-server/blob/46fe49eb90856700fba1363c759ec77f75ef1622/app/scripts/lib/experiments/grouping-rules/send-sms-install-link.js#L40 interacting with https://github.com/mozilla/fxa-content-server/blob/46fe49eb90856700fba1363c759ec77f75ef1622/app/scripts/views/mixins/connect-another-device-mixin.js#L186.

When `isInExperiment` called,

[2017-11-07 16:16] vladikoff opened #5686 "Add a functional test for scoped keys"
Once the feature gets enabled we will need to deploy a scoped key demo client and make a functional test that tests the `keys_jwk` param.

[2017-11-07 16:34] #5597 closed

[2017-11-07 16:46] vladikoff commented on #4966
Pending PR in https://github.com/mozilla/fxa-content-server/pull/5298

[2017-11-07 18:07] #5636 closed

[2017-11-07 18:28] #5685 closed

[2017-11-07 21:48] shane-tomlinson opened #5689 "Local failing functional tests: SMS tests that check the format of the phone number on /sms/sent"
Related to #5685. When we started relying on the server to format phone numbers for display, we broke the locally run functional tests that check the format of the phone number in the success message on /sms/sent. Since these tests potentially involve sending an actual SMS on stage and any other environment where SMS is actually enabled, [these functional tests are disabled in "prod-like" environm

[2017-11-08 12:08] philbooth opened #5690 "Force long location lines to wrap in the device manager"
![Screen shot of a long line not wrapping in the devices manager](https://user-images.githubusercontent.com/64367/32548409-729fdd76-c47d-11e7-87e2-4919b8513841.png)

[2017-11-08 12:11] philbooth opened #5691 "Initial uppercase on "current device" and "none connected""
This was mentioned in #5597 but I wasn't paying attention.

<img width="486" alt="Screenshot of strings with lowercase initial letters in the device manager" src="https://user-images.githubusercontent.com/64367/32548519-d43123e2-c47d-11e7-9d32-c42b3c1716bb.png" />

[2017-11-08 14:03] #5691 closed

[2017-11-08 14:15] #5690 closed

[2017-11-08 17:14] vladikoff commented on #5515
![wat](https://user-images.githubusercontent.com/128755/32563110-50783b5c-c47e-11e7-9d5a-41380aeec738.gif)

[2017-11-08 17:15] vladikoff commented on #5515
[code]

[2017-11-08 17:32] vladikoff commented on #5515
Another model type leak here below. Somehow this model type propagates to this function https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/views/mixins/verification-reason-mixin.js#L25 @shane-tomlinson ?

![modelz](https://user-images.githubusercontent.com/128755/32563969-a8f63f34-c480-11e7-9789-8e87fb363e51.gif)

[2017-11-08 18:18] #5515 closed

[2017-11-08 22:56] #5666 closed

[2017-11-09 16:33] #5592 closed

[2017-11-09 17:36] shane-tomlinson commented on #5494
@vladikoff - is this for train-100?

[2017-11-09 18:54] shane-tomlinson opened #5699 "Turn SASS warnings into errors."
If warnings are valuable enough to display, they are valuable enough to error.

[2017-11-09 19:32] #5648 closed

[2017-11-10 00:45] rfk commented on #5494
Yeah, we talked about landing it preffed-off if we feel like the code is ready, so that there's a shorter path to enabling it in time for Lockbox beta assuming the reviews etc work out.  Obviously part of that is assuring ourselves that the feature-flag adequately protects us from any unforseen issues in the new code!  I feel like it does.

[2017-11-10 01:58] rfk opened #5701 "Remove vestigial "relierKeys" method from account model"
While reviewing #5675 I noticed that the account model has a "relierKeys" method:

  https://github.com/mozilla/fxa-content-server/blob/04cff4e99f24db667f5581c58020ee13e106ae4e/app/scripts/models/account.js#L1031

I assume it's a remnant of the previous iteration of our scoped-keys work, and can be safely removed in favour of #5675.

[2017-11-10 04:04] rfk opened #5702 "Adjust the "continue to Lockbox" messaging in lockbox OAuth flow"
From meeting with the Lockbox team earlier this week, @ryanfeeley and Ryan Gaddis have been working on some tweaks to the verbiage in our OAuth signin form.  We currently say something like "Sign In to continue to Lockbox" but that's not terribly compelling messaging.

@ryanfeeley can you please coordinate with the Lockbox team to capture the final requirements here?

I'm a little hesitant about d

[2017-11-10 04:18] rfk opened #5703 "Send previous sessionToken when re-authenticating, to avoid email confirmation"
We have a seldom-used code-path where a user has an active sessionToken stored in localStorage n accounts.firefox.com, but we have to prompt them for their password again anyway before completing an OAuth login flow:

  https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/views/sign_in.js#L239

To achieve this, we basically end up just discarding the current sessionToken and creat

[2017-11-10 15:20] #5699 closed

[2017-11-10 15:56] vbudhram commented on #5678
This was fixed in https://github.com/mozilla/fxa-auth-server/commit/98b1d15c794f7b37b5067c190032a04cadac4ca9

[2017-11-10 15:56] #5678 closed

[2017-11-12 23:33] #5394 closed

[2017-11-13 03:59] rfk commented on #5641
Just to record some IRL conversations for posterity:
 * new user accounts get created in basket async, by processing "account created" events out of SQS
 * if the user visits communication-preferences before basket has processed the event for their account, we won't be able to find their basket token
  * that's probably what's causing this but to manifest

[2017-11-13 14:24] #5573 closed

[2017-11-13 14:25] shane-tomlinson opened #5705 "Enable SMS for Monaco"
Follow on for https://github.com/mozilla/fxa-content-server/issues/5573 and https://github.com/mozilla/fxa-content-server/pull/5698. I couldn't find any Monaco based mobile phone numbers that passed the validation logic, so I didn't enable it as part of #5698.

[2017-11-13 16:06] vbudhram commented on #5658
Here are new graphs that show the new entrypoint for iOS deeplinked users.

[Amplitude Stats](https://analytics.amplitude.com/org/31251/chart/o7nd7wl/edit/wett7lr)
[Adjust Stats](https://dash.adjust.com/#/statistics/overview/default/gqrwnbypw28p/hc80kp?from=2017-11-01&to=2017-11-30&range=this-month&sort=installs&reverse=true&timezone_id=172&view=table&granularity=day&attribution_type=click&groupin

[2017-11-13 16:06] #5658 closed

[2017-11-13 18:16] shane-tomlinson opened #5708 "Are the errors in sms-errors.js correct?"
The errors listed in [sms-errors.js](https://github.com/mozilla/fxa-content-server/blob/171e85f8854e358dc557fa19666d0e1171f07262/app/scripts/lib/sms-errors.js#L25) were all specific to Nexmo. Are they still used?

[2017-11-13 18:16] shane-tomlinson commented on #5708
cc @philbooth

[2017-11-13 19:50] ryanfeeley opened #5709 "Static legal and terms pages have the old logo"
Using Nightly, the links to the privacy and terms pages in Quantum first run still show the old logo.
- https://accounts.firefox.com/legal/privacy
- https://accounts.firefox.com/legal/terms

[2017-11-13 19:53] rfk commented on #5709
I'm going to go ahead and nominate this for last-minute "can we include this in train-100?" discussion, since at face value it seems like a small fix with high UX value for consistency purposes.  "No, we can't" is a totally appropriate answer though.

[2017-11-13 19:54] ryanfeeley commented on #5709
What's surreal to me is that the same URL in the same browser produces a different logo in a different context.

[2017-11-13 19:55] ryanfeeley opened #5710 "Make CWTS columns work in wider iframe"
The iframe got wider in this first run and now the columns don't work. Urgent bug.
<img width="455" alt="image" src="https://user-images.githubusercontent.com/68213/32746094-a069ea22-c882-11e7-87d5-666a8f28a0b2.png">

[2017-11-13 20:04] vladikoff commented on #5710
Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1397532

[2017-11-13 20:07] vladikoff commented on #5710
Need to revert the 420px width, make it 318px; and using padding or probably white borders to get the spacing. cc @ryanfeeley

[2017-11-13 20:15] vladikoff commented on #5710
https://bugzilla.mozilla.org/show_bug.cgi?id=1397532#c11

[2017-11-13 20:28] ryanfeeley opened #5711 "Replace mistyped email link in success message with Back link"
The "Mistyped email" in our success message adds space and makes the message confusing.
<img width="309" alt="image" src="https://user-images.githubusercontent.com/68213/32747557-1f6137f0-c887-11e7-9c12-1fd30b0a71f1.png">
We should return it to where it was: under the primary button labelled as "Back".

[2017-11-13 21:26] vladikoff commented on #5709
from mtg: make it just the new logo logo, needs the extra class

[2017-11-14 07:05] philbooth commented on #5708
Just saw this sorry, also answered in IRC. Delete them.

[2017-11-14 07:22] philbooth commented on #5510
I think the suggestion here contradicts the behaviour defined by @ryanfeeley, which was to wrap. That was implemented in #5693 and will be deployed in train 100 so I'm closing this, feel free to re-open though if anyone thinks I'm wrong.

[2017-11-14 07:22] #5510 closed

[2017-11-14 07:28] philbooth opened #5712 "Move device manager "disconnect" button to new line on mobile"
I missed this first time round but spotted it just now in https://github.com/mozilla/fxa-content-server/issues/5597#issuecomment-337635189:

![Screenshot of the device manager with mobile-friendly layout](https://user-images.githubusercontent.com/68213/31728166-8db65f8e-b3f9-11e7-9307-5b339bbd5636.png)

At mobile width, the "disconnect" button should drop to its own line. The wrapping behaviour fo

[2017-11-14 11:51] #4906 closed

[2017-11-14 13:45] shane-tomlinson opened #5715 "Generate error entries from centralized lists"
Follow on from #5707.
Ref #4906

This is an excellent suggestion by @philbooth that was discussed in the past but never acted upon. Whenever new errors are added to the auth, oauth, and profile servers, we often forget to add new entries to the content server. The result is whenever these errors are reported to /metrics, they are reported as an error with `[object Object]` and are not useful at al

[2017-11-14 13:52] philbooth commented on #5715
Or if we don't want to cook the whole hog and generate the actual definitions, we could still generate some kind of test stub that asserts all of the errors have definitions and fails a build somewhere if they don't instead.

[2017-11-14 19:28] shane-tomlinson commented on #5689
Ref https://github.com/mozilla/fxa-auth-server/issues/2220

[2017-11-14 19:38] #5580 closed

[2017-11-14 19:38] #5581 closed

[2017-11-14 19:48] shane-tomlinson commented on #5710
@ryanfeeley - now that the firstrun team has fixed this problem on their side, do we need to do anything on our side?

[2017-11-14 19:53] ryanfeeley commented on #5710
@shane-tomlinson Yes, weirdly our layout flows well to two and even three columns when not in the iframe. We should fix our side so it works as well inside the iframe. I'm not sure why it doesn't work currently honestly.

[2017-11-14 19:56] shane-tomlinson opened #5719 "Remove gating logic for fx-57 logo - use new logo everywhere."

[2017-11-14 20:03] #5709 closed

[2017-11-14 20:10] #5712 closed

[2017-11-15 10:55] shane-tomlinson commented on #5710
For column layout to work, it needs actual pixel widths instead of percentages. We have pixel width set for "trustedUI" and "big", but not "small"

[2017-11-15 15:55] shane-tomlinson opened #5721 "CAD on signin is only enabled for mozilla/softvision addresses"
Found by @ryanfeeley because of an article released about Quantum.

![The dreaded green checkbox](https://irccloud.mozilla.com/file/Hk6wnRvB/image.png)

[2017-11-15 15:58] shane-tomlinson commented on #5721
Ref https://github.com/mozilla/fxa-content-server/issues/5262

[2017-11-15 18:00] ryanfeeley opened #5724 "Move back button back to the bottom"
Putting the "Mistyped email?" link inside the success message was confusing and typically took up two lines, making it less readable.

Let's revert to the original design by putting it back below (and also reverting it to "Back").

Users who see their email mistyped will look for a back link (or use their back button).

![mistyped-email](https://user-images.githubusercontent.com/68213/32852117-016

[2017-11-15 20:21] devinreams commented on #5702
Agreed 💯

FYI: Ryan Gaddis = @changecourse

[2017-11-15 20:47] changecourse commented on #5702
I think for beta, a message that allows someone to "Continue to Lockbox" or equivalent would be sufficient.

That type of approach wouldn't be considered a one-off customization, right? (As both Sync and Pocket have similar, personalized messages)

[2017-11-15 20:59] rfk commented on #5702
Right now we have "Continue to %s" and we can make the %s be whatever you like (e.g. "Lockbox" rather than "Lockbox Web Extension") but I'm not outright ruling out changing it to something else.  @changecourse you had some proposed text in the meeting last week, can you please share it here?

[2017-11-15 21:51] ryanfeeley commented on #5508
Fixed?

[2017-11-15 21:51] vladikoff commented on #5508
@vbudhram @ryanfeeley wrap should be fixed? do we worry about the `...`?

[2017-11-15 22:06] vladikoff opened #5725 "test-functional-oauth grep="oauth reset password" fails locally"
[code]

The above fails for me locally with an "unexpected error"

@vbudhram @philbooth  @shane-tomlinson could one of you run that test on your machine please?

[2017-11-15 22:52] vbudhram commented on #5725
@vladikoff This failed for me too. Noticed that 123Done uses node 4 and wasn't starting properly in my environment. After starting it in node 4 it still errored out with

[code]

[2017-11-16 00:36] vbudhram commented on #5508
@ryanfeeley Thought this was fixed in https://github.com/mozilla/fxa-content-server/pull/5681, the secondary email correctly wraps now. The issue for `Add...` button in German was in another [issue](https://github.com/mozilla/fxa-content-server/issues/5639).

[2017-11-16 01:09] ryanfeeley commented on #5354
@shane-tomlinson Blue is a great idea.

According to our performance guidelines, after around 2000ms (but up to 5000) we should consider showing "Working…". Beyond 7000ms we should give more feedback (like progress, or at least more detail).

What do you think?

[2017-11-16 03:30] rfk commented on #5453
I'm bumping this into "next" for consideration; I'd like Lockbox to be able to auto-discover our OAuth URLs via this method, and the lack of CORS here may be a blocker for them doing so.

[2017-11-16 13:32] shane-tomlinson commented on #5354
We don't really have any info related to progress or more details to give. It's just taking a while.

[2017-11-16 13:44] #5721 closed

[2017-11-16 14:01] shane-tomlinson commented on #5703
Using a sessionToken in this manner seems reasonablish, though I wonder if there's a better way. Overriding /account/login seems strange because the user isn't logging in. I also worry about unused sessionTokens staying in existence, from a security perspective, though my worries could be unfounded.

What you are trying to get is an updated keyFetchToken so that Lockbox can fetch keys w/o requirin

[2017-11-16 16:28] shane-tomlinson opened #5727 "Luxembourg is not set to be soft launched"
I noticed this while adding support for Italy, Portugal and Spain.

https://github.com/mozilla/fxa-content-server/blob/f9ca26a1354582bfc74b990976191e0bc2bfc637/app/scripts/lib/country-telephone-info.js#L146

No `rolloutRate`

To avoid these mistakes, perhaps the default should be 0, and for full rollout, rolloutRate must be set to 1.

[2017-11-16 17:45] shane-tomlinson commented on #5711
@ryanfeeley - Is this a dup of #5724?

[2017-11-16 17:50] shane-tomlinson commented on #5705
@davismtl - there are ~ 35k people in Monaco and I couldn't find a number that validated. Can you re-triage this as you see fit?

[2017-11-16 18:00] davismtl commented on #5705
Low priority. I think it was mentioned with all the other french speaking countries.

[2017-11-16 20:56] #5727 closed

[2017-11-16 22:09] ryanfeeley commented on #5508
@vbudhram @vladikoff For clarification, in German the ellipsis is correctly preceded by a space.

So in english we are waiting… and in German we are waiting …

We just have to make sure this button does not wrap

[2017-11-16 22:14] ryanfeeley commented on #5354
@shane-tomlinson Can we build it in?

[2017-11-16 23:48] rfk commented on #5703
There are a few reasons why we might hit the code path in question currently:

* You're logging in to lockbox and need to get a fresh keyFetchToken.
* You're logging in to an OAuth relier with a sessionToken that doesn't come from sync, so we prompt for your password again.
* You're logging in to a relier that has asked us to re-prompt for the password for security reasons.

I'm currently most int

[2017-11-17 05:37] #5494 closed

[2017-11-17 05:37] #5701 closed

[2017-11-17 05:50] #5453 closed

[2017-11-17 10:16] shane-tomlinson commented on #5354
There's nothing really to progress, other than image uploads everything we do is a simple send a tiny blob of data or fetch a tiny blob of data.

[2017-11-17 14:09] #5719 closed

[2017-11-17 14:34] vbudhram commented on #5725
Circled back to this and after updating 123Done (and using node 6) I get all passing tests! FWIW, I am on v6.11.5.

![screen shot 2017-11-17 at 9 33 14 am](https://user-images.githubusercontent.com/1295288/32952165-5fb4049a-cb7a-11e7-9a9f-c8b45ca57ef5.png)

[2017-11-17 17:07] #5574 closed

[2017-11-17 19:36] ryanfeeley commented on #5354
![image](https://user-images.githubusercontent.com/68213/32965540-bdafe2a6-cba4-11e7-9ad0-e55e46bf2ff6.png)

[2017-11-20 04:25] rfk commented on #5703
Based on the above, my strawman API would be something like this, which is basically `/account/login` using an existing sessionToken:

----

**POST /session/refresh**

🔒 HAWK-authenticated with session token

Refresh an existing `sessionToken`, updating its `authAt` timestamp, and optionally obtaining a new `keyFetchToken` if `keys=true`.

*Query parameters*:
* keys: boolean, optional
    Indicate

[2017-11-20 16:56] ryanfeeley opened #5735 "Add default avatar when signing into new service"
I believe the avatar is shown if one is set, but is not if empty.

We should always show something here to make the layout easier to parse.

![add-avatar](https://user-images.githubusercontent.com/68213/33030636-cf1c7152-cde9-11e7-9321-bc90149a5202.png)

[2017-11-21 09:49] shane-tomlinson commented on #5735
I think it's slightly different - If the user has signed into the service previously, one is displayed.

[2017-11-21 12:53] vidhithebest commented on #5661
Hi I'm a beginner. Can I work on this issue?

[2017-11-21 14:04] shane-tomlinson commented on #5725
I get all passing tests too:

[code]

@vladikoff - which version of Firefox are you pointing at? I tested with both 56.0.1 and 57, using both headless and non-headless.

[2017-11-21 16:22] shane-tomlinson opened #5737 "Make /connect_another_device redirect to /sms for eligible users"
Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1418466

Copied over from https://bugzilla.mozilla.org/show_bug.cgi?id=1418466#c5

As things stand today, the content server decides whether to send a user to
/sms or /connect_another_device on /verify_email and other /complete_* screens.

/connect_another_device asks the user to install Firefox on their mobile device
but only shows the user the but

[2017-11-21 18:15] shane-tomlinson commented on #5703
@rfk - looks reasonable though some questions.

1. `service` is included as both a query parameter and in the request body.
2. What is `login` reason? If `login`, should a new `sessionToken` be returned?
3. I see unblockCode, which makes sense, how will this interact with "signin confirmation"?

[2017-11-21 19:29] rfk commented on #5703
These, I just copied directly from the docs for /account/login, they may not make as much sense on a new endpoint.

I think the logic here should match that used on login; if you use an unblock code with an unverified session, it graduates to verified status.

[2017-11-21 20:01] vbudhram commented on #5489
Closing this via https://github.com/mozilla/fxa-content-server/pull/5740, because 57 > 55.

[2017-11-21 20:01] #5489 closed

[2017-11-21 20:07] ryanfeeley opened #5742 "RTL issues from Sync Fest"
- [ ] Checkboxes should be on the right side of the label
- [ ] English font renders in Times not Fira on iOS
- [ ] Time stamps should be translated and RTL friendly
- [ ] Emails should arrive in Arabic for users in Arabic locale
- [ ] In Spanish, signup email missing a space between “en” and “Mac

<img width="280" alt="checkboxes" src="https://user-images.githubusercontent.com/68213/33094147-281e

[2017-11-21 20:10] ryanfeeley commented on #5434
@vbudhram We're still on a campaign to get users to connect additional devices. If they are signed in on more than one, we should use the "Still adding devices?" variants here: https://github.com/mozilla/fxa-content-server/issues/5262#issue-244461294

[2017-11-21 20:15] vbudhram commented on #5434
@ryanfeeley Gotcha, it just seemed strange to show the user the App Store button to download an app they already have downloaded on the device.

SMS may make more sense since they could send to another phone number?

[2017-11-21 20:32] #5689 closed

[2017-11-21 20:37] #5711 closed

[2017-11-21 20:37] #5724 closed

[2017-11-21 20:52] ryanfeeley commented on #5434
@vbudhram Sounds like a job for A/B testing? The SMS variant is on that screen too.

[2017-11-21 21:20] shane-tomlinson commented on #5703
I should have used better punctuation. The question was supposed to be how the endpoint will interact with "signin confirmation". Will there be a new endpoint to confirm the refresh? Will it be called a refresh confirmation?

[2017-11-21 21:32] rfk commented on #5703
I don't think we'll need to, because it's using an existing session token.  Whatever confirmation you wanted to do should happen against the existing sessionToken, using existing session-token-confirmation APIs.

[2017-11-21 21:42] ryanfeeley opened #5743 "Use universal link to open Firefox preferences on iOS from sign-in button"
Can we open Firefox preferences on iOS from a sign-in button using a universal link? Like so:
![ios-sign-in](https://user-images.githubusercontent.com/68213/33098295-ea348488-ceda-11e7-9ea5-bb41348b4bea.png)

@vbudhram Possible?

[2017-11-22 08:52] philbooth opened #5744 "Emit an event when DNT headers are encountered"
When DNT headers are encountered, we strip all of the `utm_` params out of our Flow/Amplitude data. But we don't log anything that let's us count how many times we've done this, which makes it impossible to say what proportion of the "not set" spike in this chart is due to DNT headers and what proportion might be due to something wrong in our code:

https://sql.telemetry.mozilla.org/queries/48786/

[2017-11-22 09:34] shane-tomlinson opened #5745 "StaleElementReference send_sms - valid phone number, resend"
× firefox on any platform - send_sms - valid phone number, resend (4.249s)
StaleElementReference: [GET http://localhost:4444/wd/hub/session/e9b6062b-2ae2-4866-a4b8-94eed7415caa/element/3f8d8805-437e-4261-9d17-3b4a00ec0345/text] The element reference of <div class="success visible shake"> stale; either the element is no longer attached to the DOM, it is not in the current frame context, or the docu

[2017-11-22 14:07] vbudhram commented on #5743
@ryanfeeley Yup! That is possible. Only caveat is at this screen we won't know if the user is already signed into the device. If the button was a little generic, `Manage settings`, then when they click it we could deeplink into the iOS settings page which would then prompt to sign-in or show their account settings.

[2017-11-22 14:08] vladikoff commented on #5743
👍

[2017-11-22 14:36] shane-tomlinson opened #5746 "Release SMS in Holland, Denmark"

[2017-11-22 15:13] shane-tomlinson opened #5748 "Teamcity failing functional test - settings secondary emails - gated in unverified session open verification new tab"
gated in unverified session open verification new tab |  
-- | --
Current failure:#3686 No changes 22 Nov 17 08:39First failure:#3685 No changes 21 Nov 17 20:38This test looks flaky:Test status change in build without changes: from successful to failedFrequent test status changes: 20 changes out of 33 invocationsView test history »JavaScriptError: [POST http://localhost:4444/wd/hub/session/6253ea0

[2017-11-22 19:17] ryanfeeley commented on #5743
Messages | Email verified | This Firefox is connected
------------ | ------------- | -------------
Sign in to this Firefox to complete set-up | States | States
Still adding devices?  Sign in to this Firefox to complete set-up | States | States

[2017-11-22 22:02] ryanfeeley opened #5750 "Replace our password advice with responsive message"
Re-enable the password strength filters and replace "A strong, unique password will keep your Firefox data safe from intruders." with:
![password-tips-empty](https://user-images.githubusercontent.com/68213/33151557-8f0b7950-cfa6-11e7-862f-e98f5b822f09.png)

[2017-11-22 22:38] vladikoff commented on #5725
The error I get

[code]

[2017-11-22 22:38] #5725 closed

[2017-11-23 03:25] vbudhram commented on #5748
@shane-tomlinson Not sure either, even though error appears to be duplicate selector, there is only one thing with that ID that I am aware of. I added some delays just to see how TC handles it.

[2017-11-23 19:34] #5535 closed

[2017-11-23 19:39] #5710 closed

[2017-11-26 22:28] rfk commented on #5641
Some users are definitely hitting this in the wild, see e.g. https://twitter.com/mikeywaites/status/934668032168820736

[2017-11-27 09:29] shane-tomlinson commented on #5743
@ryanfeeley - This table screams at me that we are making our lives more difficult than need be. Can this be simplified?

[2017-11-27 09:32] shane-tomlinson commented on #5750
I totally love this idea. Would the firstrun page just use the mobile view?

[2017-11-27 12:08] shane-tomlinson commented on #5748
@vbudhram - Looking a bit more closely, I see `Document was unloaded`. Is that the actual error rather than duplicate IDs?

[2017-11-27 12:21] shane-tomlinson opened #5757 "Flaky functional test on Circle - Firefox Desktop Sync v3 signin - Fx >= 58, verified, does not need to confirm - control"
See https://circleci.com/gh/mozilla/fxa-content-server/8902#queue-placeholder/containers/0

× firefox on any platform - Firefox Desktop Sync v3 signin - Fx >= 58, verified, does not need to confirm - control (33.568s)
NoSuchElement: [POST http://localhost:4444/wd/hub/session/f481d5fb-d1af-410e-9da7-6e6eaf7525fb/element / {"using":"css selector","value":"#fxa-signin-header"}] Unable to locate eleme

[2017-11-27 12:31] shane-tomlinson opened #5758 "POC pairing flow w/ browser returned keys"
The step after https://github.com/mozilla/fxa-content-server/issues/5577 is to get those keys to another device and have that device sign in.

[2017-11-27 12:32] shane-tomlinson commented on #5757
Treatment fails as often as control

[2017-11-27 17:21] #5745 closed

[2017-11-27 18:14] ryanfeeley opened #5759 "Optimize age input on registration for numbers for iOS users"
Small change to only show numbers to iOS users on account registration:
https://developer.apple.com/library/content/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/KeyboardManagement/KeyboardManagement.html#//apple_ref/doc/uid/TP40009542-CH5-SW12

i.e. change type to "tel"

[2017-11-27 18:18] ryanfeeley commented on #5759
Actually we do type equals number already which is good.

[2017-11-27 18:18] #5759 closed

[2017-11-27 19:33] vladikoff commented on #5748
Should be fixed via https://github.com/mozilla/fxa-content-server/commit/86bdc39a8e5d84b39be1208c9a15042bc27bd660

[2017-11-27 19:33] #5748 closed

[2017-11-27 21:17] vladikoff commented on #5744
from mtg: Log to Kibana??

[2017-11-27 21:23] vladikoff commented on #5702
from mtg:

- Change to `Lockbox` as service name for production
- No changes to front-end for now...

[2017-11-27 21:23] #5702 closed

[2017-11-28 01:01] davismtl commented on #5737
See also:
https://bugzilla.mozilla.org/show_bug.cgi?id=1420701

[2017-11-28 18:15] ryanfeeley commented on #5644
@shane-tomlinson This came up in Sync Fest as looking pretty bad. We need to fix this.

[2017-11-28 19:14] #5744 closed

[2017-11-29 00:50] rfk opened #5761 "Many fxa_pref-password events do not have the FxA uid"
In [Bug 1419552](https://bugzilla.mozilla.org/show_bug.cgi?id=1419552) we noticed that many "fxa_pref - password" events in amplitude, don't see to have the FxA uid set.  Instead they just have the random integer uid allocated by amplitude.  This makes it hard to do e.g. retention analysis using these events.

Do we have the FxA uid handy to include when sending these events over to amplitude?

[2017-11-29 00:53] rfk commented on #5761
Here's an example of how amplitude is seeing these events - mostly anonymous from users who are browsing directly to preferences, and occasionally tied back to a real uid because they occurred in a flow with over events:

<img width="679" alt="capture" src="https://user-images.githubusercontent.com/34695/33352180-ca78eda6-d4fb-11e7-9a12-7e5d96b1fa8d.PNG">

(the ids there are all anonymized before

[2017-11-29 07:37] philbooth opened #5762 "uid is not included in /metrics payload when service=sync"
When I'm signed in to Sync, the payload for `POST /metrics` does not contain a `uid`. When I'm signed in to a vanilla web session, it does. What's that about?

[2017-11-29 15:03] ryanfeeley commented on #5750
@shane-tomlinson Yeah, that's all that would fit unfortunately.

[2017-11-29 20:16] #5762 closed

[2017-11-30 16:04] vladikoff opened #5767 "Match the Notes icon in Devices and Apps"
![image](https://user-images.githubusercontent.com/128755/33440564-468cb41e-d5be-11e7-99d2-4fd8b7d6f67f.png)

[2017-11-30 17:22] philbooth commented on #5761
Only just saw this sorry. #5762 was a dup of this, should be fixed in train 101.

[2017-11-30 17:22] #5761 closed

[2017-11-30 17:32] shane-tomlinson commented on #5742
Some parts of this bug would be great to get contributor help with. I'm happy to mentor!

[2017-11-30 17:38] shane-tomlinson commented on #5735
One for Austin.

[2017-12-04 16:24] #5767 closed

[2017-12-04 19:18] vladikoff opened #5772 "privacy.resistfingerprinting breaks FxA login on Fennec"
### STR

* Firefox for Android!
* Set privacy.resistfingerprinting on both true
* Go to https://addons.mozilla.org/en-US/android/
* Click login

### Expected

Should show login form

### Actual

I get blue spinner forever spinning

Ref: https://github.com/webcompat/web-bugs/issues/14028

Not a problem on Desktop it seems

[2017-12-05 03:47] rfk commented on #5702
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1423068 to actually action the above change.

[2017-12-05 15:14] ryanfeeley commented on #5702
"Continue to %s" is accomodates both login and registration, and works for most services. Google uses it likely for this purpose.

[2017-12-06 15:20] shane-tomlinson commented on #5575
Validated, it's working in Fx 57. Closing.

[2017-12-06 15:20] #5575 closed

[2017-12-06 21:27] sandysage opened #5776 "Reset account for Lockbox"
If I want to reset my Firefox Account (ie "forgot password"), I'm taken to:

![screenshot-2017-12-6 reset account](https://user-images.githubusercontent.com/850418/33686004-a6a876c2-da90-11e7-900b-e8ff327ff4f2.png)

What, if any, changes can be made to the text:

To inform users that reset also means losing all saved Lockbox data.

cc @changecourse @devinreams

[2017-12-06 21:29] rfk commented on #5776
/cc @ryanfeeley

[2017-12-08 11:34] shane-tomlinson opened #5777 "Verification password on signup A/B test - :thumbsup: or :thumbsdown:?"
The analysis sent out a couple of months ago indicated verification password was causing a negative impact on signup, but having a positive impact on password reset rate, and overall, though overall the retention rate was slightly lower.

Are we going to continue with this experiment, graduate it to "fully released", or rip it out?

[2017-12-08 21:27] rfk commented on #5777
The variant with improved UX does appear to be performing slightly better than the initial variant, at least in my amateur analysis here:

  https://projects.growthhackers.com/u/orgs/mozilla-corporation/projects/FAAS/cards/FAAS-87

I'd like to leave it deployed for a few more weeks to see what the 4-week retention is for the new version.  It may turn out to be a win for retention after a few weeks

[2017-12-14 22:16] shane-tomlinson opened #5782 "Bump rollout rate in Spain (ES), Portugal (PT), and Romania (RO)"
Spain and Portugal have been tested internally by Mozillians, the rollout rate should be set to 0.5. Romania (RO) is working well and can be fully rolled out.

[2017-12-15 14:51] shikhar-scs commented on #5742
Hi @shane-tomlinson, I'd like to start working on this issue. I'll try and search the origins of the issue and revert back. Meanwhile, all help would be appreciated.

[2017-12-15 15:43] vbudhram commented on #4938
from uno: not shown, closing for now

[2017-12-15 15:43] #4938 closed

[2017-12-15 15:44] vbudhram commented on #4914
from uno: closing

[2017-12-15 15:44] #4914 closed

[2017-12-15 15:53] vbudhram commented on #4690
from uno: closing for now

[2017-12-15 15:53] #4690 closed

[2017-12-15 15:57] vbudhram commented on #4863
from uno: team discussed and decided to close

[2017-12-15 15:57] #4863 closed

[2017-12-15 16:01] vbudhram commented on #4683
from mtg: closing for now

[2017-12-15 16:01] #4683 closed

[2017-12-15 16:03] vbudhram commented on #4639
from uno: closing

[2017-12-15 16:03] #4639 closed

[2017-12-15 16:04] vbudhram commented on #3653
from mtg: closing

[2017-12-15 16:04] #3653 closed

[2017-12-15 16:16] vbudhram commented on #3591
from mtg: closing

[2017-12-15 16:16] #3591 closed

[2017-12-15 16:22] vbudhram commented on #4753
from mgt: can be find in amplitude

[2017-12-15 16:22] #4753 closed

[2017-12-15 16:29] vbudhram commented on #5708
from mtg: remove the errors

[2017-12-15 16:35] vbudhram commented on #5672
from mtg: no apparent change, closing

[2017-12-15 16:35] #5672 closed

[2017-12-15 16:49] vbudhram commented on #3670
from mtg: we should close

[2017-12-15 16:49] #3670 closed

[2017-12-15 16:56] shikhar-scs commented on #5742
Ok So the data for the 'Choose what to Sync' page is initially picked from ( in specific for arabic is mentioned  and the path is w.r.t the cloned working project in my IDE)

fxa-content-server > fxa-content-server-l10n > locale > ar > LC_MESSAGES > client.po

[code]

These 6 options are available. Then after being sent to sync-engines.js they are bundled in AVAILABLE_ENGINES.

Finally, they are u

[2017-12-15 17:12] vbudhram commented on #4562
from mtg: closing

[2017-12-15 17:12] #4562 closed

[2017-12-15 17:14] vbudhram commented on #5027
from mtg: @rfk triage?

[2017-12-15 17:22] vbudhram commented on #5008
from mtg: this has been fixed

[2017-12-15 17:22] #5008 closed

[2017-12-15 21:06] #5757 closed

[2017-12-16 19:52] mutdmour commented on #5680
I will work on this.

[2017-12-16 19:56] vladikoff commented on #5680
:+1:

[2017-12-16 20:38] shane-tomlinson opened #5788 "Email-first events not sent to Amplitude"
Noticed this while trying to create a funnel for the email-first on first-run experiment.

[2017-12-16 21:44] philbooth opened #5790 "Link to FxA documentation from the sign-in/sign-up views?"
In a similar spirit to the principle of putting documentation as close as possible to the thing it documents, I wonder if we should link to amazing new docs that we're going to write on the sign-in and sign-up forms. Just a little link underneath all the main content, which interested parties can follow to find out more about our security/encryption story.

What do you guys reckon?

[2017-12-17 02:53] shikhar-scs commented on #5742
@shane-tomlinson any updates?

[2017-12-18 16:14] vladikoff commented on #5705
@shane-tomlinson what are the next steps for this one?

[2017-12-18 16:40] #5782 closed

[2017-12-18 16:52] vladikoff commented on #5788
@philbooth @shane-tomlinson could you take a look at this one before end of week? (or do we retag this from train-103?)

[2017-12-18 16:52] vladikoff commented on #5788
@juliemccracken says @philbooth is on PTO, we will need to figure this out without him

cc @rfk

[2017-12-18 21:16] vladikoff commented on #5576
taking train-102 off from this, please re-"activate" once we start working on this again

[2017-12-18 21:17] vladikoff commented on #5758
from mtg: backlog until q2?

[2017-12-18 21:56] ryanfeeley commented on #5776
@sandysage I'm not a fan of this page (though it's my doing) as users often ignore the warning. In the longer term I'd prefer to redesign it but in the short term, which of these options do you prefer if any?

removed "Sync"

changed "Sync" to "synced"

/cc @rfk

[2017-12-19 15:22] #5585 closed

[2017-12-19 15:35] #5680 closed

[2017-12-19 16:56] shane-tomlinson commented on #5705
I'd close it personally. 35k really isn't very many.

[2017-12-19 17:28] vladikoff commented on #5705
yeah, @davismtl please reopen if needed

[2017-12-19 17:28] #5705 closed

[2017-12-19 17:59] sandysage commented on #5776
@ryanfeeley My biggest concern with either of these statements is that there is no preservation of Lockbox data upon reset. If there is a password reset, for any reason, a user will not be able to access saved logins in Lockbox. Which means neither of these statements would be true for Lockbox.

Is there an option to display a Lockbox specific sentence, if the user has the Lockbox app authorized w

[2017-12-19 20:08] mutdmour commented on #4982
I will work on this.

[2017-12-19 20:49] ryanfeeley commented on #5776
@sandysage Oh yes, the FxA password is used for local Lockbox data too. We’ll need something more specific for sure (at least for users who are using Lockbox). Let me check with the team and figure something out. I think this requires more than a small string change.

[2017-12-19 20:54] vladikoff commented on #4982
@mutdmour 👍

[2017-12-19 21:09] shane-tomlinson opened #5793 "Ship CAD on signin to 100% of eligible users"
We decided this a few weeks ago, because well, it helps.

Ref https://github.com/mozilla/fxa-content-server/issues/5262

[2017-12-19 22:02] ryanfeeley commented on #5776
@sandysage @rfk I'm thinking about changing the first screen to show something like this, and then following up with a screen that shows the types of data that are in use (e.g. bookmarks, history, lockbox passwords, firefox passwords, etc).

<img width="499" alt="image" src="https://user-images.githubusercontent.com/68213/34180906-4dc1f152-e4de-11e7-9f70-6e1b4d17a0fa.png">

[2017-12-19 23:37] pdehaan commented on #5776
Yo, @ryanfeeley,

How does that form work? From the "Remember password? Sign in" link, it seems that you're unauthenticated. So my guess is that I could use the above form to enter any random email address and find out what data they have associated with their FxA email, no?

Why not just a list of example data that may be wiped by resetting an account, and then you don't need the new page w/ type

[2017-12-20 01:35] rfk commented on #5776
Yeah, we definitely want to avoid leaking information about what services a user is using in an unauthenticated setting.  But maybe...

If we did this on the screen *after* the user clicks through the email link, then I think that should be OK.  So the flow would look something like:

1. See initial warning text as above, and enter your email to proceed.
2. Receive the reset email, click through t

[2017-12-20 02:45] rfk commented on #5790
I'm a tentative +1 to exploring this, if we can do it in an appropriately unobtrusive way.  It might be a nice way to get more techincally-minded folks out into our docs to hear about our "story" of why FxA is different.  My only concern would be whether it adds any significant maintenance or testing burden that outweighs the value there.

[2017-12-20 02:46] rfk commented on #5027
Let's revisit this afresh if/when we decide to reprioritize it

[2017-12-20 02:46] #5027 closed

[2017-12-20 11:47] #5788 closed

[2017-12-20 12:10] shane-tomlinson commented on #5758
Backlog until Q2. Learnings here: https://github.com/mozilla/fxa/blob/master/features/FxA-52-connect-another-device-phase-4/qr-code-pairing-flow-proof-of-concept.md

[2017-12-20 12:25] shikhar-scs commented on #5742
@shane-tomlinson mind helping out a bit please

[2017-12-20 13:05] shikhar-scs commented on #5708
@philbooth could you please specify what all errors in sms-errors.js need to be removed ? Ill work on this and remove them accordingly.

[2017-12-20 15:53] ryanfeeley commented on #5776
@pdehaan @rfk Well spotted and great recovery!!! I would love to do something like this that also avoids leaking the kind of data users are syncing. My first attempt did not factor this in, but this is what crit is for.

I will take another pass at this today.

[2017-12-20 16:03] #5793 closed

[2017-12-20 16:15] vladikoff commented on #5742
@shikhar-scs sorry for slow response, steps to get to that view:

1. https://github.com/mozilla/fxa-content-server#quick-start (start the content server ` npm run start-remote`)
1. Use the `dev-launcher`: https://github.com/vladikoff/fxa-dev-launcher (start that with `FXA_ENV=start-remote npm start`)
1. In previous step, it should start Firefox, go to "Sign into sync" via the Firefox menu, try to

[2017-12-20 16:21] vladikoff commented on #5708
@shane-tomlinson could you clarify which errors you use currently? it seems you added some new ones later on

[2017-12-20 16:28] shikhar-scs commented on #5742
Thanx a lot @vladikoff for replying

Though I managed to get to that page, my only concern is how does it get generated. If i manage to know that I'll also get to know how is the language being set and thus I'll be able to make the required changes for arabic (ar). That is precisely the issue and similarly I'll do the same for the rest of the sub-parts of the issue.

[2017-12-20 16:31] vladikoff commented on #5742
The view is here:
https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/views/choose_what_to_sync.js

"how is the language being set" - > I thin the easiest thing to do for this is to download an AR build from: https://www.mozilla.org/en-US/firefox/all/ and then you can use `FIREFOX_BIN` to point the launcher at that version https://github.com/vladikoff/fxa-dev-launcher#firefox-acc

[2017-12-20 16:34] shane-tomlinson commented on #5708
We don't use any errors from sms-errors, they are all based on nexmo's error codes and we have moved to Amazon.

Remove the entire sms-errors.js file, plus [the conversion on lines 791-793 in fxa-client](https://github.com/mozilla/fxa-content-server/blob/41add48551e4bd798c6cb9d9cae9a45f9a6f0790/app/scripts/lib/fxa-client.js#L791), plus [these SmsErrors.is checks here](https://github.com/mozilla/fx

[2017-12-20 16:34] shikhar-scs commented on #5742
ThankYou @vladikoff . Ill look this up and revert back.

[2017-12-20 16:35] shikhar-scs commented on #5708
Sure @shane-tomlinson Ill do that soon and file a PR asap.

[2017-12-20 17:23] shikhar-scs commented on #5708
@shane-tomlinson how do I require AuthErrors for

grunt testing gives out an error because of this.
[code]

[2017-12-20 20:00] #5737 closed

[2017-12-21 05:38] himanish-star commented on #4719
@seanmonstar , Can I file a PR for this issue ?

[2017-12-21 09:37] himanish-star commented on #4719
@seanmonstar , could you help me please in my PR. I am a first time contributor so I will need some help.

[2017-12-21 12:53] himanish-star commented on #5661
@vladikoff , Can I take over this issue ?

[2017-12-21 13:45] himanish-star commented on #5661
@ryanfeeley , how do I reach this page you are talking about . It's been an hour now and I was unable to findout the out the site. Could you tell the steps to reach there

[2017-12-22 03:32] himanish-star commented on #5006
@ryanfeeley , I would like to work on this issue

[2017-12-22 13:51] himanish-star commented on #5186
Can I take this issue up

[2018-01-03 19:18] ryanfeeley opened #5805 "Use the pixel snapped Notes icon"
16 x 16 or 32 x 32 depending on your resolution
[notes.svg.zip](https://github.com/mozilla/fxa-content-server/files/1601433/notes.svg.zip)

[2018-01-04 00:32] ckarlof opened #5806 "CSP in NoScript may be causing "unexpected error" when logging in"
A friend of mine reported this while trying to log into Firefox Sync. He has NoScript installed:

He got an "Unexpected error" (I redacted the email address):

![unexpected](https://user-images.githubusercontent.com/2365255/34545719-9c0833be-f0a3-11e7-969f-58598b0010f3.png)

[2018-01-04 14:15] shikhar-scs commented on #5708
@shane-tomlinson I've filed a related PR . Please review

[2018-01-04 17:55] vladikoff commented on #5777
from mtg: blocked on weeks

[2018-01-04 17:56] vladikoff commented on #5776
from mtg: @ryanfeeley is working on this...

[2018-01-04 20:34] vladikoff commented on #5750
Related to https://github.com/mozilla/fxa-bugzilla-mirror/issues/425

[2018-01-05 00:17] vladikoff commented on #5629
@jrgm what do we need to make this work? Did we switch something in our bouncing logic?

[2018-01-05 00:17] vladikoff commented on #5629
moved from `postfix`?

[2018-01-05 00:29] #5708 closed

[2018-01-05 00:49] vladikoff commented on #5806
![image](https://user-images.githubusercontent.com/128755/34590983-39a8d4e0-f188-11e7-9449-f35da7f96211.png)

Cannot reproduce this particular issue:

- Via `about:accounts`(Firefox UI sync login) and latest NoScript there are no issues. I'm guessing NoScript is ignored when about:accounts is used.
- Via Web you have to Trust or Temp Trust `firefox.com` and `accounts.firefox.com` and then it will

[2018-01-05 04:13] himanish-star commented on #5805
Maybe I can fix this.  May I?

[2018-01-05 06:24] kritisingh1 commented on #5662
@ryanfeeley what exactly are the SVG hearts supoosed to do? Like when the user opens the page he/she sees the animated SVG or on hovering over it? I mean can you please explain the expected behaviour a bit more clear? Thanks.

[2018-01-05 10:10] himanish-star commented on #5805
@vladikoff , Could you tell me where to use this icon as I really can't find out the place where this is to be used. Also I don't know if this error only shows up for me or for others too , but the fxa-server no longer opens up locally. The spinner keeps spinning and nothing shows up. When I open the browser's console these error's show up

    require.js:1958 Refused to load the script 'http://12

[2018-01-07 01:22] jrgm commented on #5677
Update to this (actually it's noted above but not easy to see in the output). It says:
`server.get-verify-email.TypeError: res.redirect is not a function`

The mock is missing a `res.redirect`: https://github.com/mozilla/fxa-content-server/blob/master/tests/server/routes/get-verify-email.js#L28-L30 for one thing.

Should really fix this test.

[2018-01-07 01:32] vladikoff commented on #5677
@jrgm good find!!

[2018-01-07 02:06] jrgm opened #5817 "server test latest: errors on unexpected region Geneva"
[code]

[2018-01-07 02:07] jrgm commented on #5817
Is something not configured as expected on latest.dev.lcip.org?

[2018-01-07 04:06] jrgm commented on #5817
Should SMS_STATUS_GEO_ENABLED be `true` on latest.dev.lcip.org?

[2018-01-07 04:06] jrgm commented on #5817
(for auth-server config)

[2018-01-08 16:59] vladikoff commented on #5170
WIP PR in mozilla/fxa-auth-db-mysql#265

[2018-01-08 17:28] philbooth commented on #5817
@jrgm: in the content server config, `GEODB_ENABLED` / `config.geodb.enabled` needs to be true. If I set that to false locally, I reproduce the same errors you posted here. Does that fix it on latest?

[2018-01-08 18:09] jrgm commented on #5817
"EnvVersion":"2.0","Fields":{"op":"geodb.start","enabled":true,"dbPath":"/app/node_modules/fxa-geodb/db/cities-db.mmdb"}}

  "EnvVersion":"2.0","Fields":{"msg":"{\"env\":\"stage\",\"geodb\":{\"dbPath\":\".....cities-db.mmdb\",\"enabled\":true},...

[2018-01-08 18:10] philbooth commented on #5817
Hmmm, okay still looking into it then...

[2018-01-08 18:14] philbooth commented on #5817
Although I just noticed that is the auth server config you posted. Is it enabled in the content server too?

[2018-01-08 18:39] jrgm commented on #5817
So, content-server doesn't dump the resolved config the same way auth does, but the default for GEODB_ENABLED is `true`, and no override is set in the environment: https://github.com/mozilla/fxa-dev/blob/docker/roles/content/tasks/main.yml#L37-L51

[2018-01-08 19:00] jrgm commented on #5817
I checked the metadata for the cities-db.mmdb in the fxa-geodb module in the fxa-content container, and buildEpoch: 2018-01-05T14:59:16.000Z

[2018-01-08 19:03] jrgm commented on #5817
`
$ md5sum ./node_modules/fxa-geodb/db/cities-db.mmdb
f448112445c122b65726516a74b32db8  ./node_modules/fxa-geodb/db/cities-db.mmdb
`

[2018-01-08 19:03] jrgm commented on #5817
Do you get the same as above? ^^

[2018-01-08 19:27] rfk commented on #5817
FWIW I'm seeing Geneva-related errors in auth-server CI as well, see e.g. https://travis-ci.org/mozilla/fxa-auth-server/jobs/326197279

[2018-01-08 19:37] philbooth commented on #5817
Oh, thanks @jrgm, my local db was out of data. It appears that my clever, never-going-to-change IP address changed. I'll update the tests and just stick to the Mozilla IP address from now on. PR imminent...

[2018-01-08 19:38] philbooth commented on #5817
(and for the auth server too, sorry @rfk)

[2018-01-08 21:05] vladikoff commented on #5777
from mtg: @rfk has a dashboard, redshift exploded, waiting for it to recover.

[2018-01-08 22:32] #5817 closed

[2018-01-08 22:34] vladikoff commented on #5677
@jrgm while migrating to Intern 4 it found these issues and threw harder errors. The test needs to be refactored.  I will just fix this for train-104 with the new intern version in https://github.com/mozilla/fxa-content-server/pull/5787

[2018-01-09 00:29] vladikoff opened #5820 "Remove Firefox iOS functional tests for versions < 10"

[2018-01-09 00:29] vladikoff commented on #5820
Those versions are old and not available anymore

[2018-01-09 00:30] vladikoff commented on #5820
After https://github.com/mozilla/fxa-content-server/pull/5787/commits/c1ba31f17c5ca316ca24ec1dc9cc0a0f9d455ce2

[2018-01-09 03:31] vladikoff commented on #4512
Let's reopen if we need this in metrics

[2018-01-09 03:31] #4512 closed

[2018-01-09 16:29] #5228 closed

[2018-01-09 16:29] #5341 closed

[2018-01-09 16:29] #5677 closed

[2018-01-10 19:43] ryanfeeley commented on #5776
Work in progress: https://www.lucidchart.com/invitations/accept/7840053b-61cf-4c9a-b589-bc6d388a246e

[2018-01-10 20:33] vladikoff opened #5827 "Clean up redirect_uri management for scoped clients"
- need to double check the trailing slash logic
- more

[2018-01-11 22:39] #5820 closed

[2018-01-12 15:18] vbudhram opened #5830 "Create custom `Why is this happening` site for token code experiement"
Ref https://github.com/mozilla/fxa-content-server/pull/5706#discussion_r161091543

[2018-01-12 21:51] vladikoff opened #5831 "Use the minified fxa-js-client in prod"
Noticed that requiredOnDemand fxa-client is not minified:

![image](https://user-images.githubusercontent.com/128755/34896692-c3b6f3d4-f7b8-11e7-9843-b3409f12999e.png)

[2018-01-12 21:57] vladikoff commented on #5830
If it is any easier we can just add a new section to the page we already have

[2018-01-16 01:46] rfk opened #5832 "Don't send a keyFetchToken on the fxaccounts:change_password webchannel message"
Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1430681

When the user changes their password, and we detect that they're in a signed-in browser, we send a special `fxaccounts:change_password` webchannel message so that the browser can update its `sessionToken` and remain signed in.  As part of this message we generate and include a `keyFetchToken` and the corresponding new value of `unwrapBKey`.

[2018-01-16 15:07] vbudhram commented on #5186
@himanish-star Sure, I think https://github.com/mozilla/fxa-content-server/issues/5186#issuecomment-313421406 is a pretty good summary of what needs to be added.

[2018-01-16 15:24] vbudhram commented on #5805
@himanish-star Are you still experiencing these errors?

@ryanfeeley This icon should replace the icon `/app/images/icon-service-firefox-notes.svg`?

[2018-01-16 23:57] rfk commented on #5832
From further discussion, it sounds like Android is depending on the current behaviour:

  https://bugzilla.mozilla.org/show_bug.cgi?id=1430681#c6

So I'm WONTFIXing this.

[2018-01-16 23:57] #5832 closed

[2018-01-17 04:33] jrgm opened #5834 "tests/server/metrics-ga.js: test race fails"
Seems the clock can tick over 1 ms, and cause a failure.

[code]

[2018-01-17 11:24] philbooth opened #5836 "Functional test "open directly to /signup page, refresh on the /signup page" is failing on master"
~~Seems to be failing because it's in the email-first flow, when the test expects to be on `/signup`.~~

Error:

[code]

Screenshot:

![Screenshot showing the FxA email-first login flow and an "unexpected error" message](https://screencap.co.uk/images/d61396aa9e34101d3437d7e503afc407182b3f93.png)

[2018-01-17 11:27] philbooth commented on #5836
Doesn't fail for me locally I notice. Could it be config related?

[2018-01-17 11:39] philbooth commented on #5836
Wait, that's wrong sorry.

Looking at the test, it is supposed to be in the email-first flow. It's failing because the "unexpected error" stopped it from moving on to the next screen.

[2018-01-17 16:50] turtleloveshoes commented on #5836
Hi there, there are about 6 found open user cases in the forums reported to me by a contributor.
https://support.mozilla.org/en-US/questions/1200235
https://support.mozilla.org/en-US/questions/1200237
https://support.mozilla.org/en-US/questions/1200238
https://support.mozilla.org/en-US/questions/1200235
https://support.mozilla.org/en-US/questions/1200237
https://support.mozilla.org/en-US/questions

[2018-01-17 17:22] philbooth commented on #5836
@turtleloveshoes, also replied in IRC, but there was a temporary outage last night caused by one of the back-end Sync servers failing. In each of the above cases, if the user retries stuff should work for them now.

[2018-01-17 20:03] rfk commented on #5827
From mtg:  This parameter is required, but is not validated or used.  If the relier gives us a bogus redirect_uri, we ignore it and just use the registered value from their client record.  We should probably error out!

[2018-01-17 22:27] turtleloveshoes commented on #5836
Thank you!!

[2018-01-17 22:42] turtleloveshoes commented on #5836
Also for the record - the previous post was repeated -
https://support.mozilla.org/en-US/questions/1200234
https://support.mozilla.org/en-US/questions/1200229
https://support.mozilla.org/en-US/questions/1199655

[2018-01-18 12:10] philbooth commented on #5836
So, returning to the test failure from the first comment, I can reproduce it locally if I replicate the command that is failing in CI and run against the `dev.lcip` servers:

[code]

And actually, if you remove the `--bailAfterFirstFailure=true` switch you can see that it's not just limited to one failing test, the vast majority of them fail. Not sure if one of those servers is down or busted, dig

[2018-01-18 17:42] philbooth commented on #5836
From triage: @jrgm is on the case!

[2018-01-18 17:49] philbooth commented on #5836
This should be working now.

[2018-01-18 18:50] philbooth commented on #5836
Functional tests are indeed passing now: https://circleci.com/gh/mozilla/fxa-content-server/9200

[2018-01-18 18:50] #5836 closed

[2018-01-18 19:30] #5834 closed

[2018-01-19 04:19] rfk opened #5838 "No UI feedback when re-sending secondary email verification"
STR:

* Add a secondary email to your account, but don't verify it.
* Click on the "Not in inbox or spam folder? Resend" link here:

![capture](https://user-images.githubusercontent.com/34695/35134646-e02ff1c8-fd2b-11e7-81a8-15aa5fba526b.PNG)

Actual results:

* Nothing appears to happen, I've no idea whether it worked or not.
* But it did actually work, because the email showed up in my inbox.

E

[2018-01-19 14:31] ryanfeeley commented on #5838
@rfk I think it's appearing out of view. This issue was designed to resolve that. Can we prioritize it higher? https://github.com/mozilla/fxa-content-server/issues/5552

[2018-01-19 14:45] ryanfeeley commented on #5006
@himanish-star Go for it! A lot of people see this.

[2018-01-19 16:34] #5805 closed

[2018-01-19 17:01] himanish-star commented on #5006
@ryanfeeley , I have already opened a PR #5804

[2018-01-20 12:12] shikhar-scs commented on #5750
If this issue is still up, can I take this up ?

[2018-01-22 00:06] rfk commented on #5838
If you want to nominate it for Crouton2, please do :-)

I'm going to close this in favour of #5552

[2018-01-22 00:06] #5838 closed

[2018-01-22 06:20] TDA commented on #5552
@ryanfeeley Would a toast message satisfy the same use-case? Albeit with more control to the user to dismiss the notification.

[2018-01-22 06:25] TDA commented on #5639
Just curious, would a `fit-content` help here? I see we are already using it at some other spots (custom-rows and stuff).

[2018-01-22 08:19] TDA commented on #5639
Looked into this a bit further and the problem appears to be hardcoded widths for `big` resolutions, the left column appears to be hardcoded at `350px` and the right (buttons) are `100px`.

So, trying this locally, setting this [line](https://github.com/mozilla/fxa-content-server/blob/master/app/styles/modules/_settings.scss#L215) to `-moz-fit-content` appears to fix the button width issue:
[code]

[2018-01-22 10:27] TDA commented on #5639
A few hacks that will give us the (kinda) desired behavior for now:
1. Setting width to 24% or more.
2. Setting min-width to 110px or more.

But neither of these are scalable, as they will break for another language with longer text, not to mention that they make the buttons look bigger for languages with shorter text.

I am thinking we need to use the CSS Tables for this particular issue. Quick p

[2018-01-22 12:37] TDA commented on #5639
Working version of the proposed solution with markup from FxA: https://codepen.io/anon/pen/rpRyza
Things to note:
1. I had to modify the html structure to accommodate this view, notably, had to get rid of one layer of `div's` - `.settings-child-view`. This will let us model the child-views as one huge table and get the alignment and sizes right. This will also mean that we will need to ensure that

[2018-01-22 19:30] rfk opened #5842 "Begin rollout of "change primary email" feature"
We've got the all-clear from Pocket to proceed with rolling out this feature.  @vbudhram what do you think about enabling it to some degree in the impending train-104 cut?

[2018-01-22 20:23] vbudhram opened #5843 "Add sign-in link treatment to tokenCode experiment"
In my haste, I didn't realize that there were two treatment groups in this experiment per https://docs.google.com/document/d/1xQtCGBJ9XZuF1q9faZV3YIiOnxomQMHKiTP62YSf3v8/edit.

We should add the `treatment1` (sign-in link treatment) and corresponding tests. Ideally, would like to target a 104 point release for this.

[2018-01-22 20:45] #5661 closed

[2018-01-22 21:07] jrgm opened #5844 "Odd. Tests fail with Fx Beta on fxadev boxes, but pass on stage with Fx Beta"
Can't really explain this. Missing config/feature?

(Yes, stage is currently train-103, but this has been true for a while).

https://tc-test.dev.lcip.org/

Actually, a better comparision is really `nightly` vs. `latest`.dev.lcip.org

[2018-01-22 21:24] jrgm commented on #5844
Something about change email?

[2018-01-22 22:05] rfk commented on #5843
Does anything prevent us from giving these more easily-digestible names, like `treament-link` and `treament-code`?  Otherwise analysis will be a continuous process of trying to remember which treatment group is which :-)

[2018-01-22 22:38] vbudhram commented on #5843
Nope, these can be changed easily! Will update.

[2018-01-22 23:53] vbudhram commented on #5844
Dug into this a little and found that `secondary_emails` and `change_email` tests pass on `latest.dev.lcip.org` with FF57 but fail with FF58. It might be unrelated but the tests should have still passed.

I suspect there might be a subtle timing difference that is causing the test flakiness. I'll try to put up a PR at gets these tests passing for both FF.

[2018-01-23 12:41] philbooth opened #5845 "Automate WebPageTest runs when code lands in `master`"
Once our private WPT instance is up and running, we should automate test runs whenever something lands in `master`. The SpeedIndex should then be exported to Redshift so we can track it in a new chart on the [perf dashboard](https://sql.telemetry.mozilla.org/dashboard/fxa-performance).

[2018-01-23 12:50] philbooth opened #5846 "Automate WebPageTest runs against pull requests"
Once we've automated WPT runs against `master` (#5845), we should take the next step and automate them against pull requests too. The resulting median SpeedIndex can be reported back to the PR in a comment. Longer term, if we're confident about the variance, we can consider whether to treat a poor result like a failing test or lint error.

[2018-01-23 17:58] philbooth opened #5848 "Is this email verification behaviour sane or broken?"
Raised by @ryanfeeley in IRC.

1. User signs up on desktop, does not verify
2. User signs in on mobile
3. User verifies using the first email

Expected result: Both sessions are verified
Actual result: Only the first session is verified

However, the actual result seems like the correct behaviour here to me, hence phrasing this issue as a question. What does everyone else think?

Full transcript:

[2018-01-23 19:26] rfk commented on #5848
This behavior is intentional, for exactly the reason you describe @philbooth - it's a security property of sign-in confirmation.  But maybe we can make it better.

What we want to avoid here, is accidentally verifying sessions that might belong to an attacker from e.g. a password-guessing attack.  So I don't think that a blanket policy of "verifying an unverified account, should verify all session

[2018-01-24 12:58] shikhar-scs commented on #5750
@vladikoff @ryanfeeley @shane-tomlinson

[2018-01-24 19:51] anweshknayak opened #5850 "npm run start-remote error"
Loading "sass.js" tasks...ERROR

[2018-01-24 20:16] jrgm commented on #5844
So, the firefox versions on the test host automatically updated. So now release is 58, and beta 59, and all the test failures with "beta" disappeared. ¯\_(ツ)_/¯

[2018-01-24 21:28] ryanfeeley commented on #5662
Thanks @kritisingh1! The hearts are animated correctly here, but the rings are not right (they are correct in production).

Can you take the best of both and make a PR?
[syncing-beating-hearts.html.zip](https://github.com/mozilla/fxa-content-server/files/1661740/syncing-beating-hearts.html.zip)

[2018-01-25 01:28] ryanfeeley opened #5852 "Remove green success messages from CAD permalinks"
Parts of Nightly now hard link to our CAD page when users try to access a Sync feature that requires another device (like sending a tab).

Discussed in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1418466).

For URLs [like this](https://accounts.firefox.com/connect_another_device?service=sync&context=fx_desktop_v3&entrypoint=sendtab) we don't need to show the **This Firefox is connected

[2018-01-25 01:52] mhammond commented on #5852
Note that in bug 1432277, we are proposing to add a link to this page before the user has connected to sync on *this* device (ie, in about:preferences#sync when we aren't configured, you will find links to download Android and iOS - we are going to replace those links with a link to this page).

The wording proposed above doesn't seem ideal for this scenario.

[2018-01-25 02:33] ryanfeeley commented on #5852
@mhammond Oops, sorry, I clarified in the bug. I was only referring to users who are signed in. No changes for users who are not signed in, or not yet verified. Now time to return to some relevant evening reading.
<img width="248" alt="screenshot 2017-10-31 12 32 20" src="https://user-images.githubusercontent.com/68213/35367782-32a94dde-014e-11e8-9350-a817c99ebcb9.png">

[2018-01-25 05:23] vladikoff commented on #5750
@shikhar-scs yeap feel free to send a PR for this one!

[2018-01-25 07:35] shikhar-scs commented on #5750
Thank you @vladikoff . I'm on it and will post a PR soon :grinning:

[2018-01-25 08:02] shikhar-scs commented on #5750
@vladikoff

I had a doubt. As I am not well-versed with how the `locales` files are formed, I wanted to know whether I just have to make the changes required in the `fxa-content-server-l10n/locale/en_US/LC_messages/client.po`  file, alongwith the respective changes in `app/scripts/templates/sign_up.mustache` OR all the locales files need to be altered with. Also, how are the locales files formed ?

[2018-01-25 09:07] philbooth commented on #5750
@shikhar-scs, don't change the l10n files. If you just make your changes to the templates, there is a separate localisation process to ensure they get translated into all the different languages.

[2018-01-25 09:49] shikhar-scs commented on #5750
That's a lot of help already :+1: Thank you @philbooth

[2018-01-25 12:20] shikhar-scs commented on #5750
@vladikoff @philbooth
Replacing the string was an easy task to perform. However, I spent ample time on the `popover` feature, not to much avail. The real reason being that `main.css` doesn't contain any support for `popovers` and so bootstrap popovers are failing. So in order to make the popover work, I'll have to introduce some custom css, which I guess is not advisable. Is there anything I am mi

[2018-01-25 14:54] #5842 closed

[2018-01-25 15:46] #5843 closed

[2018-01-25 17:34] vbudhram commented on #5852
@ryanfeeley What is the priority for this?

[2018-01-25 17:35] vbudhram commented on #5850
@anweshknayak Which version of node are you using?

[2018-01-25 17:38] ryanfeeley commented on #5852
@vbudhram High as it will be needed for 59.

[2018-01-25 17:39] vbudhram commented on #5848
from mtg: Was not able to reproduce this during Syncfest. The desktop session became verified and the ios session got verified.

Moving to backlog, need to test with Android to verify if this happens there.

[2018-01-25 17:53] vbudhram commented on #5844
from mtg: Can't reproduce, closing..

[2018-01-25 17:53] #5844 closed

[2018-01-25 18:24] anweshknayak commented on #5850
v6.9.2
@vbudhram

[2018-01-25 18:27] anweshknayak commented on #5255
Hey can I take this up ?

[2018-01-25 18:34] ryanfeeley commented on #5255
@anweshknayak Sure! Follow the bootstrap model. Basically press down + dragging off the button should have the same effect as hover. Just slightly darker than not on. Might be tricky to get universally, but worth a shot!

[2018-01-25 18:47] ryanfeeley commented on #5848
@philbooth yeah, weirdly this worked beautifully in sync fest. i couldn't see what was on the user's mobile screen, but it sounds like this is what was going on.

[2018-01-26 07:09] kritisingh1 commented on #5662
Yeah sure. I will try :)

[2018-01-26 16:41] philbooth opened #5853 "What is the q3_form_changes experiment and why are so many people in it?"
It seems like every flow or user I look at, they're part of the `q3form_changes` experiment. What's all that about then?

[2018-01-26 16:42] philbooth commented on #5853
/cc @davismtl @irrationalagent

[2018-01-26 16:57] vbudhram commented on #5830
Contacted SUMO team to update https://support.mozilla.org/en-US/kb/accounts-blocked page to state that `Report sign-in` link is optional (sign-in codes have them but token codes do not). If no report link, then user should change their password.

[2018-01-26 16:58] vbudhram opened #5854 "Enable `confirm password` experiment for all users"
From product meeting, we were given the green light to enable this experiment for all users.

Ref: https://projects.growthhackers.com/u/orgs/mozilla-corporation/projects/FAAS/cards/FAAS-67

[2018-01-26 17:46] vbudhram commented on #5850
@anweshknayak Thanks, will close!

[2018-01-26 17:47] anweshknayak commented on #5850
@vbudhram whats the fix for this? How am I supposed to test the changes from here? Changes will reflect in fxa-local-dev?

[2018-01-26 18:07] davismtl opened #5855 "Login Confirmation Message on iOS is Inaccurate."
Steps to reproduce:
- Sign in on Firefox on iOS
- Open link to confirm email in Firefox on iOS
- Page opened says:
"This Firefox is connected

Open setting and select sign in to Firefox to complete set-up"

![login-confirmation-ios](https://user-images.githubusercontent.com/19537086/35453952-d9a94110-0280-11e8-98ac-4df804f68f82.png)

@ryanfeeley recommendations for content here would be good

[2018-01-26 18:21] vbudhram commented on #5850
@anweshknayak I misunderstood your comment and thought it was fixed. There are a couple of ways to get started working on issues in this repo.

First way is clone fxa-content-server and use `npm install` and then `npm run start-remote`.

Another way is to clone fxa-local-dev, use `npm install` and then run `./pm2 start servers.json`. Upon install, fxa-local-dev creates a sub directory for fxa-cont

[2018-01-26 18:22] davismtl opened #5856 "Add lock icon in front of SMS phone field"
Per discussions in Sync Fest, let's add a small lock in front of SMS field in CAD since rfeeley and I both have proof from past tests that it increases confidence and conversion.

[2018-01-26 18:22] davismtl commented on #5856
CC @ryanfeeley

[2018-01-26 18:27] davismtl opened #5857 "Inline Email and password validation"
During Sync Fest we observed that during registration we only validate the email format and that the 2 password fields match on form submit.

This causes the browser to offer saving a potentially wrong email or password.

The user then needs to make the changes and submit again.

Let's do validation on blur so that users can fix problems immediately.

I don't think it's necessary to A/B test this

[2018-01-26 18:27] davismtl commented on #5857
CC @ryanfeeley

[2018-01-26 21:36] ryanfeeley opened #5858 "Fix incorrect message on iOS sign-in"
I've seen this myself after Sync Fest and a friend just emailed me the screenshot. Please let's fix this one ASAP.
<img width="895" alt="image" src="https://user-images.githubusercontent.com/68213/35461692-e5e4fdd0-02b6-11e8-824d-0e62b58cc276.png">

[2018-01-26 21:36] ryanfeeley commented on #5858
Related: https://github.co/mozilla/fxa-content-server/issues/5434

[2018-01-27 23:42] vladikoff commented on #5750
@shikhar-scs yes you need to introduce new CSS (SCSS in this case).

Could you link to that? if we have something already we can try using it.

[2018-01-28 03:29] shikhar-scs commented on #5750
@vladikoff Actually it doesn't exist on the main repo here, it is managed by `bower`. In my local directory it exists at `fxa-content-server/app/bower_components/blanket/test/bootstrap/tests/unit/bootstrap-popover.js`

ok i'll start with that :+1:

[2018-01-28 07:59] anweshknayak commented on #5850
@vbudhram thanks. Its working

[2018-01-28 20:33] rfk commented on #5856
I believe you, but...what exactly is the lock supposed to indicate?  Can we make it e.g. link to a description of how we securely handle your details?

[2018-01-29 00:08] rfk commented on #5858
@ryanfeeley it's not clear to me whether https://github.com/mozilla/fxa-content-server/issues/5434 is a dupe of this, or is slightly different; can you please clarify?

[2018-01-29 00:15] rfk commented on #5855
IIUC this is the same as https://github.com/mozilla/fxa-content-server/issues/5858, so I'm closing it in favour of that bug which has a proposal for new UI.

[2018-01-29 00:15] #5855 closed

[2018-01-29 09:02] anweshknayak opened #5860 "Notification in Communication Preferences not aligned properly"
![screenshot from 2018-01-29 14 21 25](https://user-images.githubusercontent.com/8139783/35501852-247a8780-0501-11e8-9316-47adfb15233c.png)

[2018-01-29 15:16] anweshknayak commented on #5860
@ryanfeeley @vbudhram should I send a PR ?

[2018-01-29 15:20] vladikoff commented on #5860
Yes please!

[2018-01-29 16:46] #5850 closed

[2018-01-29 19:17] ryanfeeley commented on #5856
Related, go to 17:00 in this video to learn about **Peak Padlocks Per Page**. https://air.mozilla.org/privacy-for-normal-people/

[2018-01-29 19:51] ryanfeeley commented on #5856
Three options (although I'm reusing the browser’s padlock icon, not part of Photon)

# Padlock Button
![padlock-button](https://user-images.githubusercontent.com/68213/35530978-ad5d8690-0503-11e8-82c5-c1fa681aac04.png)

# Small Padlock Placeholder
![small-padlock-left](https://user-images.githubusercontent.com/68213/35530979-ad6e0b0a-0503-11e8-9d4c-cc179200aa8b.png)

# Large Padlock Placeholder
![

[2018-01-29 20:01] ryanfeeley commented on #5858
@rfk This issue puts the solution up top, which got lost in the length of the previous issue.

[2018-01-29 20:08] davismtl commented on #5856
A mouse over might just say that we do not store the phone number for other use.

[2018-01-29 21:35] vbudhram opened #5863 "TOTP Setup flow initial UX"
To help with planning here are the initial requirements for this flow. Based on [doc](https://docs.google.com/document/d/1m4D_7DZAfXt4e-bEbfI-5s_x2XFO7TEQo1a_SQcj1O8/edit#heading=h.yzz637baqr7a).

- There is a new "settings" page section or sub-screen, where users can opt-in to using TOTP as a second factor for authentication on their account.
- The MFA settings are not visible by default.
- The M

[2018-01-29 21:39] vbudhram opened #5864 "TOTP Sign-in flow initial UX"
To help with planning here are the initial requirements for this flow. Based on [doc](https://docs.google.com/document/d/1m4D_7DZAfXt4e-bEbfI-5s_x2XFO7TEQo1a_SQcj1O8/edit#heading=h.yzz637baqr7a).

- When signing in, after correctly entering their password, users with a TOTP enrollment will be prompted to enter a TOTP code to complete the login flow.
- If signing in to sync, the TOTP code must be e

[2018-01-29 21:43] vbudhram opened #5865 "TOTP Recovery code initial UX"
To help with planning here are the initial requirements for this flow. Based on [doc](https://docs.google.com/document/d/1m4D_7DZAfXt4e-bEbfI-5s_x2XFO7TEQo1a_SQcj1O8/edit#heading=h.yzz637baqr7a).

- If the user has lost their TOTP device, they may enter one of their saved backup codes instead.
- Each backup code can only be used once.
- If the user has lost their TOTP device and has no backup code

[2018-01-29 21:43] davismtl commented on #5858
@ryanfeeley I'm not sure I understand the proposal though. Feels weird to display CAD on mobile after sign-in and especially in this proposed design where the user is on iOS and we're displaying an Android install button. I don't see this converting in any way.

Can we make better use of this screen? Should we show users how to Send Tab?

[2018-01-29 21:52] vbudhram opened #5866 "TOTP SUMO Support link"
As part of supporting TOTP, we need to create a SUMO link for users.

Ref: https://docs.google.com/document/d/1m4D_7DZAfXt4e-bEbfI-5s_x2XFO7TEQo1a_SQcj1O8/edit#

[2018-01-29 23:15] rfk commented on #5434
Closing in favour of https://github.com/mozilla/fxa-content-server/issues/5858 which has more clear proposed outcome.

[2018-01-29 23:15] #5434 closed

[2018-01-29 23:16] rfk commented on #5858
I like the idea, but I propose that this is out of scope for Q1, and we should focus on just getting this to show a sensible state rather than looking like we can't tell whether the user is signed in or not.

[2018-01-29 23:58] davismtl commented on #5858
So showing an Android install button to iOS users is a really bad idea.

Whether it be send tab or something else, we can make better use of the image and copy and this screen.

[2018-01-30 17:00] vladikoff commented on #5853
@philbooth it's the "experiment" that chooses and isolates the double password and email first experiment: https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/experiments/grouping-rules/q3-form-changes.js#L23

[2018-01-30 17:25] philbooth commented on #5853
@davismtl, @irrationalagent, see above

[2018-01-30 19:01] vbudhram commented on #5830
SUMO has updated this page to reflect that `Report link` is optional.

[2018-01-30 19:01] #5830 closed

[2018-01-30 19:33] vbudhram commented on #5858
Would a good stop gap fix for this be to update the text to "Sit adding devices? Sign in to Firefox on another device to complete setup?" and not display any App Store buttons?

[2018-01-30 20:33] davismtl commented on #5858
That seems like the easiest but still seems weird and as useless as a green checkmark.

@ryanfeeley Feeley was exploring copy yesterday by testing other apps. He shared this example:

![img_5201](https://user-images.githubusercontent.com/19537086/35589742-aee89b88-05b9-11e8-80eb-c1ff1e110c08.PNG)
![img_5200](https://user-images.githubusercontent.com/19537086/35589743-aefc0ff6-05b9-11e8-98b4-712a9f

[2018-01-30 20:34] ryanfeeley commented on #5858
Perfect is the enemy of the good.

@davismtl Remember that what we are showing today is baffling to users. Let's remedy that right now for all iOS users.

I don't think it makes sense to show the App Store because the user is in Firefox on iOS.

We know that they are connected because the green message says "This Firefox is connected". This link will also open in Firefox thanks to universal links.

[2018-01-30 21:53] #5169 closed

[2018-01-30 23:21] #5860 closed

[2018-01-30 23:26] davismtl commented on #5858
Agreed

Yes but if they click this on their iPhone, it's useless. (we are on iOS here)

So either, we show both buttons or no buttons, but let's not put an Android install button on iOS.

[2018-01-31 00:35] anweshknayak commented on #5552
@ryanfeeley could you provide me some pointers on how to implement this feature? do I create a new file in mixins folder for the same or what?

[2018-01-31 00:46] vladikoff commented on #5552
@anweshknayak what might work is - you can find the css for the green message and use something like `position:fixed` or `position:sticky` for it.

[2018-01-31 00:46] anweshknayak commented on #4983
@kritisingh1 you on this?

[2018-01-31 01:11] ryanfeeley commented on #5858
@davismtl I have an Android tablet and use an iPhone. This is not uncommon.

[2018-01-31 01:44] davismtl commented on #5858
@ryanfeeley

I'm not saying it is uncommon but it's just not the majority so the UX is irrelevant for most people. I'm questioning putting an Android install button on an iOS device and if we can come up with anything better that is minimal work.

Can the copy at least call out Android specifically? (e.g. Have you added your Android devices?)

Since this UX is not common, I'm not sure what the use

[2018-01-31 03:44] ryanfeeley commented on #5858
It’s not likely anyone would click on it, but it lets users know we are available on Android. Please unblock ASAP and I promise I’ll follow up with something great for the multi-device moment.

[2018-01-31 22:50] andymckay opened #5869 "Missing or duplicate items on iOS link escaped"
On iOS, clicked on Firefox Account and went to the Firefox Accounts page.
Clicked on Devices & Apps and scrolled to the bottom.
Note that the "Missing or duplicate items" link isn't clickable:

![img_0601](https://user-images.githubusercontent.com/74699/35651806-d728183a-0695-11e8-994c-203a0b831def.jpg)

[2018-01-31 23:05] rfk commented on #5869
This is, unfortunately, on purpose.  We can't open external links in the special embedded web view that iOS uses to display the FxA settings, so they get rendered into this non-clickable form.  I don't recall if we had a plan for improving this situation.

[2018-01-31 23:13] andymckay commented on #5869
Ah thanks for the explanation. I see similar links in terms of service and the privacy notice. Could we set up a shorter URL at least?

[2018-02-01 01:08] davismtl commented on #5858
Per meeting with @ryanfeeley and @vbudhram this morning, we will go with the proposed design but add both app store buttons.

We realized that the same screen is displayed when you confirm both a login and a registration in iOS.

[2018-02-01 01:33] vladikoff commented on #5869
Yes we can use http://mzl.la/1VFtdM1 instead for this article

[2018-02-01 08:24] anweshknayak opened #5870 "grunt sass watch is not working"
It gets stuck. No progress even after waiting for more time.

[2018-02-01 20:38] vladikoff commented on #5870
Needs more info. What's your OS and other details?

It should trigger when you change the `.scss` files.

We didn't make changes to this for several years and it works okay for others.

[2018-02-01 20:38] #5870 closed

[2018-02-01 21:00] vladikoff opened #5872 "Remove q3-form-changes and experiments that are grouped in it"
from prod mtg

[2018-02-01 22:27] davismtl opened #5873 "Change copy on newsletter section in Settings"
Currently our newsletter copy is:

Change it to:

Note that marketing is looking to split "account functionality and onboarding" emails from "security and policy".

This change is just an intermediary step. @bniolet1 will coordinate with our team to add an onboarding opt-out option here in the settings. (security and policy need to remain obligatory)

[2018-02-01 22:29] davismtl commented on #5873
cc @ryanfeeley

[2018-02-01 22:29] vladikoff opened #5874 "sign_in_token_code test fails in WebPack build"
https://github.com/mozilla/fxa-content-server/blob/4fb8208ba494e7dfd3f56c9b65154c99db60649d/app/tests/spec/views/sign_in_token_code.js#L113

![image](https://user-images.githubusercontent.com/128755/35706870-6d9bc818-0775-11e8-9a82-9dfbe1d1b028.png)

@vbudhram any ideas?

This is the only test that fails for me :(

[2018-02-01 22:40] vladikoff opened #5875 "Enable 'indent' rule after webpack lands"
Ref: https://github.com/mozilla/fxa-content-server/pull/5868/files#diff-1dc6ee56b778cd91e0327b52aaeaa1b9R12

[2018-02-01 22:47] vladikoff opened #5876 "Bring back code coverage with webpack builds"
Ref: https://github.com/mozilla/fxa-content-server/pull/5868/files#diff-1717ca5d039dbc2afe867079e0252f7eL63

Blanket had to be disabled for now.

[2018-02-02 04:04] #5874 closed

[2018-02-02 07:20] philbooth opened #5878 "Dig into the reliability of Amplitude email click events"
@davismtl pointed me at this chart in Amplitude:

https://analytics.amplitude.com/org/31251/chart/new/3h60ily

It shows a large discrepancy between `email_confirmed` events from the auth server and `click` events from the content server. I'm pretty confident in the auth server events here, so we should dig into why the content server numbers are so much lower.

[2018-02-02 10:59] anweshknayak commented on #5870
@vladikoff sorry will take from next time 👍

[2018-02-02 15:26] #5858 closed

[2018-02-02 15:31] vbudhram opened #5879 "Firefox icon overlaps info notification on iOS"
On Firefox iOS Beta they are introducing Choose What to Sync options. The Firefox logo overlaps the email created notification.

![img_0875](https://user-images.githubusercontent.com/1295288/35740851-21cd26cc-0804-11e8-950e-9af121947405.PNG)

[2018-02-02 16:39] philbooth commented on #5878
Actually, now I look at the code, I've also noticed that the various `click` events are emitted too late. They're triggered by the `verification.success` event, which happens after the response comes back from the auth server. Instead they should be triggered by an event that happens at the start (ish) of `beforeRender`.

[2018-02-02 22:46] #5878 closed

[2018-02-03 19:06] anweshknayak commented on #5662
@kritisingh1 you still on this?

[2018-02-05 16:40] vladikoff commented on #5776
@ryanfeeley has the design done, will add it here so we can start working on it

[2018-02-05 16:41] ryanfeeley commented on #5776
Final proposed copy (last row, first page only) with small design changes: https://www.lucidchart.com/documents/view/eed48806-9d4c-48ea-b333-778ebdf840e1

[2018-02-05 17:12] vladikoff commented on #5879
this will be released EOM, nexting...

[2018-02-05 17:18] vladikoff commented on #5869
3 draft solutions:

* Fix iOS browser to support this
* Ask SUMO for a short link with UTM params (always use)
* For iOS use short links with no utm params (only use in iOS)

[2018-02-05 17:21] vladikoff commented on #5863
@ryanfeeley for train-106

[2018-02-05 17:21] vladikoff commented on #5864
@ryanfeeley for train-106

[2018-02-05 17:23] vladikoff commented on #5856
from mtg: backlog, @ryanfeeley and @davismtl do you want this in `next`?

[2018-02-05 17:29] andymckay commented on #5869
Fixing iOS to support this would be the best. In the meantime, this URL maintains params "mzl.la/ios-missing":

[DESKTOP-GF9I56E:~]$ curl -ILs mzl.la/ios-missing | grep Location
Location: https://support.mozilla.org/kb/fxa-managing-devices?utm_source=accounts.firefox.com&utm_medium=referral&utm_campaign=fxa-devices
Location: https://support.mozilla.org/en-US/kb/fxa-managing-devices?utm_source=acco

[2018-02-05 18:07] vladikoff commented on #5869
@andymckay oh cool!

is there a way to remove `ios` from that? so we can reuse this in the future? something like `mzl.la/fxa-missing":` ?

[2018-02-05 20:02] ryanfeeley commented on #5776
<img alt="Dynamic Image from LucidChart" src="https://www.lucidchart.com/publicSegments/view/54215f4f-6f54-4918-b245-9d17a8c482d1/image.png">

[2018-02-05 21:02] vladikoff commented on #5777
from mtg: `Verification password ` is a go!

[2018-02-05 21:02] #5777 closed

[2018-02-05 21:21] vladikoff commented on #5743
waiting on https://github.com/mozilla/fxa-bugzilla-mirror/issues/423

[2018-02-05 21:31] vladikoff commented on #5629
from mtg: @jrgm to check again in prod

[2018-02-05 22:40] vladikoff commented on #3892
Hasn't been an issue for months, 🗡

[2018-02-05 22:40] #3892 closed

[2018-02-05 22:50] jrgm commented on #5629
I sent an email to `alk33jfkjlkfjalkjflasjdflaksjflksjdfklj2@mozilla.com`.

It bounced. A bounce handler picked it up and logged:
[code]

But this section with `shouldDelete` would evaluate to false, no? No deletion attempted?
https://github.com/mozilla/fxa-auth-server/blob/master/lib/email/bounces.js#L137-L152

The `fxa.accounts` table still has an entry for `alk33jfkjlkfjalkjflasjdflaksjflksjdfk

[2018-02-05 23:11] vladikoff commented on #5629
@rfk @jrgm  I don't think we can rely on `"bounceType":"Transient"` , or maybe if it is `"template":"verifyEmail",` and `transient` then we can still delete?

[2018-02-05 23:11] ryanfeeley commented on #5873
Original copy in context:
<img width="568" alt="image" src="https://user-images.githubusercontent.com/68213/35833640-0608a36e-0aa0-11e8-8241-e4df499c3136.png">

[2018-02-05 23:21] jrgm commented on #5629
Per https://docs.aws.amazon.com/ses/latest/DeveloperGuide/notification-contents.html#bounce-types, I'm not clear why this email Bounce object came back as `Temporary/General`. `Permanent/NoEmail` seems more appropriate. (Of course, SES can only tell what the remote MTA told them. So is this just corporate gmail?

Remember. The `S` in `SMTP` stands for `Simple`!

[2018-02-05 23:30] rfk commented on #5629
Yeah, we deliberately don't delete on transient bounces, on the assumption that the user will fix whatever problem was happening and then trigger an email resend.

The whole "detecting a bounce by noticing that the account got deleted" thing is a bit of a hack.  If we want to do a more reliable job of this, we should probably do the work to introduce a first-class "your verification email bounced"

[2018-02-05 23:41] vladikoff commented on #5629
Yeah that's why I was suggesting using it only on account creation. We would tell users to go fix the mailbox and re-register.

[2018-02-06 02:16] rfk commented on #5629
One possible risk is that AWS will retry delivery of a message that failed with a `Transient` bounce, so if we delete the account but the the delivery gets retried and succeeds, that could be a confusing user experience.  Then again, the user may be in a confused state already...

[2018-02-06 17:09] davismtl opened #5882 "Create Metric Event for Form Views without iFrame"
Various teams plan to capture email first and send users to our login/registration flows after. (onboarding/firstrun, snippets and mozilla.org)

By reducing the use of our iFrame, we will lose the ability to track out top of funnel. This will also prevent these teams from measuring their entire funnel in Amplitude.

I propose that we provide a js snippet (or something similar) that would serve to

[2018-02-06 18:58] philbooth commented on #4722
Link to the PR, for the benefit of anyone peering at this from waffle:

https://github.com/rum-diary/speed-trap/pull/15

[2018-02-06 20:45] #4722 closed

[2018-02-06 22:33] rfk commented on #5629
The docs say "Amazon SES notifies you of hard bounces and soft bounces that will no longer be retried" so it sounds like this is not a risk in practice.

[2018-02-06 23:58] rfk opened #5883 "Increase SMS rollout in Australia to 100%"

[2018-02-07 00:08] jrgm commented on #5629
Okay. I sent an fxa signup to get a verifySyncEmail email from: fastmail.com, gmail.com, hotmail.com, icloud.com, mail.com, mozilla.com, outlook.com, yahoo.com, yandex.com.

All of those domains, **except** mozilla.com, immediately resulted in a bounce notification with `"bounceType":"Permanent","bounceSubType":"General"` logged and the account was deleted.

For mozilla.com, first, a deliver notif

[2018-02-07 00:53] jrgm commented on #5629
I sent email directly from me to a non-existent mailbox at @gmail.com and @mozilla.com

Both immediately returned bounce notifications.

Looking in detail at the bounce email, and locating the `Status:` header in the content-type message/delivery-status submessage the responses subtly differ.

Nosuchmailbox@mozilla.com gets `Status: 5.0.0` which is `Permanent - Other or Undefined Status` from rfc

[2018-02-07 00:55] jrgm commented on #5629
(Note: `Nosuchmailbox @ gmail.com` was not actually the email used.)

[2018-02-07 00:56] jrgm commented on #5629
And, maybe both are wrong ;-)

[2018-02-07 01:24] jrgm commented on #5629
For those of you that are curious, here are the various `Status` responses by domain:

Mail domain     Status
@gmail.com 	5.1.1
@fastmail.com 	5.1.1
@outlook.com 	5.5.0
@mail.com 	5.3.0
@mozilla.com 	5.0.0
@icloud.com 	5.1.1
@hotmail.com 	5.5.0
@yahoo.com 	5.3.0
@yandex.com 	5.7.1

(I dunno. Kinda hard to understand why someone would choose e.g., `Other or undefined protocol status` when `Bad dest

[2018-02-07 01:49] rfk commented on #5882
For planning purposes, what sort of schedule do we want this on?

A couple of thoughts on implementation possibilities here while I think of it...

The flowids have to be generated by fxa-content-server, because they have signed validation data included in them.  The process might have to look something like this:

* Firstrun page includes a hidden iframe from accounts.firefox.com
* The content-se

[2018-02-07 02:09] #5883 closed

[2018-02-07 02:23] jrgm commented on #5629
We *could* act on the `status` code if it has a leading `5.`. However, I did review of currently available bounce logs, and I saw a couple of examples of a `5.x.x` which SES classified as a `Transient` bounceType and probably should have done have classified it that way (based on my reading other details in the `diagnoticCode` field, e.g., authentication required, denied for policy reasons).

In o

[2018-02-07 02:30] jrgm commented on #5629
So to summarize, the bounce feature is **not** broken. When SES tells us that a bounce is permanent, we **do** delete the account (and the frontend responds correctly when it detects the account is gone).

If a remote MTA does not bounce a message in a way that is not clear to SES if it is actually permanent, then we don't delete the account.

We could implement our own heuristics for understandin

[2018-02-07 02:42] jrgm commented on #5629
(Sub note: the `@mozilla.com` don't log a diagnosticCode, just the `5.0.0`. If I had the `Message-ID`, I could file a ticket with AWS and ask for clarification on why this specific case is not classified as Permanent.)

[2018-02-07 05:40] jrgm commented on #5629
Of course, we could still do what @vladikoff suggests in https://github.com/mozilla/fxa-content-server/issues/5629#issuecomment-363253121

[2018-02-07 15:24] vbudhram opened #5886 "Open TokenCode experiment for Sync users"
from mtg:

We should open this experiment for X% of sync users.

[2018-02-07 15:46] #5831 closed

[2018-02-07 16:10] vladikoff commented on #5852
it works !

![image](https://user-images.githubusercontent.com/128755/35926970-8814f9ae-0bf7-11e8-83ec-b22ef45412ba.png)

[2018-02-07 16:11] #5852 closed

[2018-02-07 17:16] philbooth commented on #5523
The plan is to implement a logging 2.0 pipeline side-by-side with our current Heka based pipeline for the flow metrics and ensure that both are working the same. Once we're happy, we can flip the content server over to use mozlog 2.

[2018-02-07 17:25] philbooth commented on #5523
See also: mozilla/fxa-activity-metrics#99

[2018-02-07 20:12] rfk opened #5891 "Lockbox login makes you enter your password twice if you open the confirmation link in the lockbox tab"
From @rbillings in https://github.com/mozilla-lockbox/lockbox-extension/issues/464#issuecomment-363831327:

--------

During testing I got into the create/confirm email loop and have narrowed down the repro steps:

    npm run run > new browser opens w/lockbox extension
    create new account > new window opens
    fill out new account data, submit > confirmation screen displays explaining email h

[2018-02-07 21:59] vladikoff commented on #5879
I saw some screenshots and the CWTS should **not** have the firefox logo, we hide it for that screen

[2018-02-08 00:23] jbuck commented on #5523
Also noting that we'll need to switch over the exact target daily export as well before we can move to mozlog 2.0...

[2018-02-08 00:25] davismtl commented on #5882
Per our discussion:

- I will move discussions forward for device and user id alignment. we identified next steps are to get a few technical people on a call from pipeline, data science, fxa and product.
- Since that will be more of a longterm solution, we need a short-term solution to enable onboarding and marketing do optimization without our frequent help. This means, we need to provide them a

[2018-02-08 01:14] #5006 closed

[2018-02-08 01:16] davismtl commented on #5856
I can't speak for @ryanfeeley but this is not a huge priority for me at the moment.

I think there is more value in working on something like this since since we know the extra password field that we released causes some drop-off in registration:
https://github.com/mozilla/fxa-content-server/issues/5857

[2018-02-08 14:35] #5875 closed

[2018-02-08 15:27] rbillings commented on #5891
Doing some more follow-up:
- I cannot repro this with FxA. I was able to sign up, get the email and confirm without a loop - so this does seem to be lockbox specific in some way.
- With FxA account creation, a new browser window isn't opened with the confirm email message.
- Testing FxA I was able to paste in the verify email URL into the FxA original window, or just a new browser window that I op

[2018-02-08 15:55] vladikoff commented on #5438
@anweshknayak want to try this?

[2018-02-08 15:56] vladikoff commented on #5735
Ref: https://github.com/mozilla/fxa-profile-server/issues/295

[2018-02-08 15:58] vladikoff commented on #5735
Should be fixed if we fix https://github.com/mozilla/fxa-profile-server/issues/295

[2018-02-08 16:06] anweshknayak commented on #5438
@vladikoff sure.

[2018-02-08 16:11] vladikoff commented on #5552
cc @shikhar-scs @himanish-star @anweshknayak

[2018-02-08 16:13] anweshknayak commented on #5552
Hey @vladikoff I tried this one using both properties as you mentioned. But it doesn't seem to work.

[2018-02-08 16:23] himanish-star commented on #5552
@anweshknayak, If you don't manage to solve this do ping me. I'll do it :smiley:

[2018-02-08 16:24] anweshknayak commented on #5552
Sure go ahead @himanish-star

[2018-02-08 16:24] himanish-star commented on #5552
Ok

[2018-02-08 18:53] #5886 closed

[2018-02-08 19:39] vladikoff commented on #5891
@rfk the popup url bar is a "disabled" field:

![image](https://user-images.githubusercontent.com/128755/35994261-dcee2090-0cdd-11e8-9e21-427f46c25764.png)

[2018-02-08 19:43] rfk commented on #5891
Oh.  Hrm, so maybe I totally misinterpreted @rbillings steps to reproduce then...

[2018-02-08 20:27] vladikoff commented on #5009
Fixed in https://github.com/mozilla/fxa-content-server/issues/5852

[2018-02-08 20:27] #5009 closed

[2018-02-09 14:14] ryanfeeley opened #5897 "Disable the Done button in unverified secondary email section"
As the user cannot collapse the section until the state of the unverified secondary email has changed, they should not be able to press the Done button (and definitely not get a blue mousedown effect)

![done](https://user-images.githubusercontent.com/68213/36031629-5eaa0342-0d79-11e8-8488-14c6ae76856c.gif)

[2018-02-09 15:27] rbillings commented on #5891
When I paste the url into the lockbox popup window it redirects to the account sign up page.  When I paste the url into the original browser window the popup gets the checkbox and disappears correctly.

This may be the source of the issue. When you sign up, the popup window gets the focus - and that's what encouraged me to paste the url there in the first place. I'd have to manually dismiss it or

[2018-02-09 22:00] vladikoff commented on #5552
@himanish-star I looked a this a bit and you will probably need to use JavaScript / jQuery to solve this issue. Due to the way the divs are nested `position: sticky` is not gonna work out.

When the success notification is displayed you need to detect if the user scrolled the window.
If that is true **and** we are in the 500px view (not mobile media query view) only then we need to add `position:f

[2018-02-10 01:10] #5776 closed

[2018-02-10 01:15] vladikoff commented on #5507
@ryanfeeley what's the UXing strategy here to fix those buttons?

[2018-02-10 03:43] himanish-star commented on #5552
yes @vladikoff. Even I had thought for the same.

[2018-02-11 23:18] rfk commented on #5891
I'm not able to reproduce as you describe it here - any chance you can make a screencast to show what's happening?  Or if it's simpler, let's catch up briefly on Vidyo sometime tomorrow.

This prevents me from copy-pasting the confirmation URL into the popup, but I am able to navigate it by e.g. dragging-and-dropping the confirmation URL from my email into the popup.  As expected this causes the l

[2018-02-12 15:34] ryanfeeley opened #5900 "Sink placeholder back into field when emptied"
STEPS TO REPRODUCE
1. Add content to any account form field that has a placeholder and watch the placeholder float above
2. Delete the content in the field

EXPECTED RESULTS
* Placeholder sinks back into place

ACTUAL RESULTS
* Placeholder stays above in small type

<img width="452" alt="_new_password__should_be_placeholder_text_1024" src="https://user-images.githubusercontent.com/68213/36104466-2

[2018-02-12 16:52] vladikoff commented on #5873
@ryanfeeley to confirm

[2018-02-12 16:54] vladikoff commented on #5507
from mtg: try css grid here to fix this

[2018-02-12 17:06] rbillings commented on #5891
Aha! the field IS disabled, but I did a quick copy & paste - and without an error showing and the page redirecting to the sign up it wasn't clear that the field is disabled. It seemed like it took the url and did a redirect, when in fact it just did a redirect.

A couple of things stand out:
- the lockbox popup retains focus
- no error or message appears outside of the standard confirm your email

[2018-02-12 17:31] vladikoff commented on #5882
@davismtl  @philbooth and everyone else to chat about that

[2018-02-12 19:22] rfk commented on #5891
Yes please @rbillings, for completeness.

[2018-02-13 20:06] bwinton commented on #5507
I've got something kinda working in [a branch](https://github.com/bwinton/fxa-content-server/tree/settings-grid) if anyone wants to check it out, but I'd like Ryan to take a look before I make a PR. 🙂

[2018-02-13 21:15] rfk commented on #5891
From the vidyo, this was the piece I misunderstood - at this step you're pasting the FxA confirmation link to the tab with Lockbox in it (the one with a `moz-extension://` URL).  That's the tab that had called `browser.identity.launchWebAuthFlow` and is waiting for the popup window to close and return the OAuth state.  When you replace that tab, the OAuth flow in the popup completes successfully,

[2018-02-13 21:48] linuxwolf commented on #5891
@rbillings @rfk

I might need my own vidyo session, but I am assuming "lockbox popup" refers to the popup window with the FxA signin/signup content, that is launched when clicking a button in a definitely Lockbox-branded page.  This is a correct assumption?

The Lockbox-managed tab doesn't perform any of the OAuth flows; instead it sends a message to a background process to perform them.  It shoul

[2018-02-14 01:24] rfk commented on #5629
From the meeting today, yes, let's go ahead and do this thing: delete unverified accounts on transient of the signup email.

[2018-02-14 05:30] rfk commented on #5629
I tried to dig into the metrics for this a little, based on our meeting earlier today.  Unfortunately we don't appear to have a flow event corresponding to the "your email bounced, typo?" error message that is supposed to be triggered here, but I was able to see whether users who get a bounce were retrying (and then whether they were succeeding).

So...

Around 6% of newly-created accounts get a s

[2018-02-14 16:03] andymckay commented on #5882
@davismtl do you have any timelines for the other authentication flows to go live so that we could plan for this?

I was chatting to @philbooth about this, would an API end point on the FxA server to generate the flow_id be sufficient? Before starting the email flow, the client would request the flow_id and send that along with the email. That could be a pretty straightforward change (I imagine).

[2018-02-14 17:15] davismtl commented on #5882
I have requested specific dates. I just know that they were planning tests for Q1 as part of their OKRs.

IIUC, this seems like a good solution. Can't think of any reason why it wouldn't work.

[2018-02-14 18:52] ryanfeeley commented on #5507
@vladikoff Have reviewed with Blake. Looks great but can you check in other browsers? iOS users can only view in WebKit for example.

[2018-02-14 20:35] andymckay commented on #5869
I can't get bit.ly to keep the mzl.la once I customise it, do we care if its bit.ly, vs mzl.la? If not https://bit.ly/fxa-missing works.

[2018-02-14 20:54] vladikoff commented on #5869
I think in the past we wanted to make sure we use mzl.la (for sms at least)

@andymckay does it create a random `mzl.la/[random_chars]` ? that could possibly be better than a bit.ly custom url

[2018-02-14 22:50] vladikoff opened #5912 "Token code experiment for Sync throws 'not a function' error"
Locally:

http://127.0.0.1:3030/oauth/signin?response_type=code&redirect_uri=https%3A%2F%2Fauth-dev.mozilla.auth0.com%2Flogin%2Fcallback&scope=openid%20profile&state=nqdRw0qba0kJiPYfJDU6XYESgIc2WUKF&client_id=38a6b9b3a65a1871

![image](https://user-images.githubusercontent.com/128755/36232361-82382be2-11af-11e8-9e68-0885921dbcd4.png)

[2018-02-14 22:55] andymckay opened #5914 "Consider using cache immutable"
With Firefox 49 we shipped Cache-Control: Immutable which stops the browser re-validating CSS and JS and getting 304's back. Assuming that our js and css is in fact immutable, this might be a simple and slight perf win.

https://hacks.mozilla.org/2017/01/using-immutable-caching-to-speed-up-the-web/

[2018-02-15 13:51] philbooth commented on #5882
I just got round to properly reading this thread, as I said I'd give Alex an estimate today. Before I estimate anything though, there's a couple of questions I have about the requirements and one of the suggested approaches.

1. Question for @davismtl (with apologies if you told me in our meeting yesterday, I forgot the answer already). Is it sufficient for us to just emit the `flow.begin` event o

[2018-02-15 14:53] #5873 closed

[2018-02-15 15:32] #5879 closed

[2018-02-15 16:43] gdestuynder opened #5916 "feat(oauth): Remember user session"
Hi!

We've integrated FxA with Mozilla IAM/Auth0 as a POC:

https://www.youtube.com/watch?v=biKAL8y-aOk

One thing I noticed, is that the user has to login twice every time (once to start the auth0 session, once for the FxA authorization). I wondered if we would have interested to remember the user authorization for some time, in order to run into this "double login" scenario less often (specially

[2018-02-15 18:15] davismtl commented on #5882
I believe this to be sufficient. The marketing teams will use our tools to do their funnel and retention analysis. I don't see the value of communicating the event properties to the external page since they can probably capture some via their own metrics (which in contrast only have the top of funnel).

[2018-02-15 18:48] philbooth commented on #5882
Cool, in that case the `iframe` one definitely isn't 2 weeks fwiw. Call that one a week maybe?

[2018-02-15 18:51] davismtl commented on #5882
Snippets team is launching their first test this month and into March so I am checking that they are tracking the top of funnel themselves. They'll have to consolidate metrics manually after.

[2018-02-15 20:15] rfk commented on #5882
Simplicity++ FWIW!

I'm probably missing context, but I'm confused by the proposal here.

The initial comment suggests you were worried about losing visibility of the "email first view" and "email first engage" events, which we can no longer emit ourselves.  Do we expect those events to still be emitted somehow, and show up in amplitude with appropriate flow_id/device_id attribution that matches t

[2018-02-15 20:25] rfk commented on #5916
Interesting, can you please share a video of this to be sure I understand what you mean?

I'd guess this is being caused by the logic here:

  https://github.com/mozilla/fxa-content-server/blob/e0bd497f918659421bacf2f9545002a46c6ffecc/app/scripts/views/sign_in.js#L247

Where we reason that:

"""
We need to ask the user again for their password unless the credentials came from Sync.
Otherwise they

[2018-02-15 20:30] vladikoff commented on #5916
https://www.youtube.com/watch?v=biKAL8y-aOk

[2018-02-15 20:32] rfk commented on #5916
Ah, gotcha, I had missed that this video started with the user already signed in to FxA.

[2018-02-15 20:56] davismtl commented on #5882
Yes, ideally we can capture all of those. Apologies if I was unclear in a previous post.

IF we can't, then at a minimum, let's get flow_begin which is equal to *fxa_email_first - view*. We can assume the submit by reg/login view. We would just lose the engage event.

[2018-02-15 22:12] vbudhram opened #5919 "Enabled token code sync experiment for 1.8% of users"
After speaking with lief, we landed on exposing 1.8% of users to each group (treatment-link, treatment-code, control) in the sync token code experiment. This experiment will need to run for 2 weeks to give a statistically significant result and take into account any weekly login patterns.

This experiment should be available in train 106 and be enabled as a point release.

cc @rfk @davismtl

[2018-02-15 23:19] vladikoff opened #5921 "Fix https://nodesecurity.io/advisories/566"
ref https://github.com/mozilla/fxa-content-server/pull/5920

[2018-02-15 23:26] gdestuynder commented on #5916
Hah yeah in this case my user wasn't logged in to Sync (I've another user in another profile for that) but had already logged into FxA in the video

[2018-02-15 23:28] rfk commented on #5916
Is the experience improved if you're signed in to sync in that browser?

[2018-02-15 23:41] gdestuynder commented on #5916
I suspect I have to change a bunch of `about:config` things for my user on latest-dev/dev to work with this? (since my kang+fxa@insecure.ws users does not exist on prod)

[2018-02-16 01:04] rfk commented on #5043
Closing this for now, let's revisit when we come up with new plans for the post-verification screen.

[2018-02-16 01:04] #5043 closed

[2018-02-16 02:57] vladikoff commented on #5916
@gdestuynder this will give u a "latest" profile https://github.com/vladikoff/fxa-dev-launcher/blob/master/README.md#basic-usage-example-in-os-x

[2018-02-16 17:13] #5912 closed

[2018-02-16 18:31] #5854 closed

[2018-02-16 23:42] davismtl commented on #5919
Remember to set a clear control in experiments

[2018-02-17 00:47] gdestuynder commented on #5916
thx

https://www.youtube.com/watch?v=aIT4wNx5_dc&feature=youtu.be

[2018-02-17 05:42] anweshknayak commented on #5438
@vladikoff Im facing this error `Cannot find module 'eslint-config-ember' `
Tried fixing this. But I think some recent changes were made? thats why?
Also deleted node_modules and npm install again.

[2018-02-17 13:20] vladikoff commented on #5438
@anweshknayak to unblock yourself for now, try adding '--no-verify' to the push command

[2018-02-20 02:49] rfk commented on #5916
Taking this, because I expect I'll need to address a similar issue as part of https://github.com/mozilla/fxa-content-server/issues/5703 anyway

[2018-02-20 10:46] anweshknayak commented on #5438
thanks it worked @vladikoff. I tried making css changes. Didn't work. Do I have to fiddle with jquery for above changes?

[2018-02-20 15:10] vladikoff commented on #5438
Yeah probably, using jquery animate or something like that

[2018-02-20 17:04] vladikoff commented on #5919
from mtg: point release for 106

[2018-02-20 17:29] vladikoff commented on #4069
closing this, we have this in Amplitude

[2018-02-20 17:29] #4069 closed

[2018-02-20 17:29] vladikoff commented on #3354
🗡 closing this for now

[2018-02-20 17:29] #3354 closed

[2018-02-20 20:36] rfk commented on #5919
from mtg: 1.8% per cohort

[2018-02-20 20:46] vladikoff commented on #5772
This is because `resistfingerprinting` uses an old user agent. let's revisit this if needed

[2018-02-20 20:46] #5772 closed

[2018-02-21 05:24] jrgm commented on #5914
Yeah, being able to be more explicit about immutable urls is better, and we should add this to our cache-control headers.

Yet, `max-age` used to mean what I read https://tools.ietf.org/html/rfc7234#section-4.2 to mean, and browsers in the recent past didn't IMS recent requests below that time.

But ¯\_(ツ)_/¯

[2018-02-21 19:47] #3386 closed

[2018-02-21 19:57] vbudhram commented on #5919
This has been merged!

[2018-02-21 19:57] #5919 closed

[2018-02-22 02:52] jrgm opened #5927 "train-106, stage: 2 always failing tests"
Maybe there are other issues about this already as I think @vladikoff made reference to noticing failures.

But anyways, there are two tests that always fail in stage (and they fail on latest too).

- force_auth - forgot password flow via force_auth
- oauth permissions for untrusted reliers - signin from signup page

There's a 3rd test that consistently fails, but only on latest:

- Firefox Deskto

[2018-02-22 15:00] #5641 closed

[2018-02-23 15:19] #5927 closed

[2018-02-24 15:49] bwinton commented on #5507
Soooo… I've tried hacking around the various settings templates, and while I think it's _possible_ to change the html and css and javascript and tests around to make it work on Chrome, I don't think it would be worth the week of effort it would take. 😢 (I also looked into changing the page to use tables, but that's not quite going to work either.)

As an alternate "fix", perhaps we could make the

[2018-02-26 01:30] rfk opened #5931 "Add pushbox URL(s) to the fxa-client-configuration document"
As part of the [new send-tab system](https://docs.google.com/document/d/1YT6gh125Tu03eM42Vb_LKjvgxc4qrGGZsty1_ajf2YM/edit#heading=h.mt5o69jf1o39), client devices need to be able to discover the URL of the new "pushbox" service that helps them send and receive large, durable message payloads.

Let's add the URL of this service to the fax-client-configuration document so that they can discover it al

[2018-02-26 15:04] ryanfeeley commented on #5507
Profound bummer!

[2018-02-26 15:27] ryanfeeley opened #5932 "Remember password has no apparent link"
Oddly when I hover our new **Remember password** link on latest, there is no apparent link. It's a button? Can we make it a link instead?

<img width="573" alt="image" src="https://user-images.githubusercontent.com/68213/36678733-8600d5c4-1adf-11e8-8382-476af865223c.png">

[2018-02-26 16:27] vladikoff commented on #5932
from mtg with @ryanfeeley: there are reasons it's that way due to force_auth and signin

[2018-02-26 16:27] #5932 closed

[2018-02-26 19:06] ryanfeeley commented on #5932
👍

[2018-02-27 02:30] rfk opened #5934 "Error when resetting password during Lockbox login flow"
STR:

* Install lockbox and sign in with your Firefox account
* On the signin screen, select "Forgot password" and trigger a reset-password email
* Open the reset-password link in a new tab in the same browser where you're signing in to lockbox
* Complete the password reset in this new tab.

Expected results:

* I can return to the OAuth popup and continue the lockbox signin process

Actual result

[2018-02-27 02:31] rfk commented on #5934
/cc @linuxwolf for visibility.

[2018-02-27 03:34] rfk commented on #5891
From mtg, what this boils down to is that there are some unexpected ways that the user can navigate the OAuth popup and derail the login flow:

* Drag-and-drop a URL into the popup window, e.g. from a confirmation email.  This will navigate the popup to the dropped URL, derailing the OAuth flow.
* Click into the (disabled) urlbar of the popup window, and hit enter.  This reloads the page in the po

[2018-02-27 15:08] vladikoff opened #5935 "Disable 'clear' for default avatar"
Screen:

![image](https://user-images.githubusercontent.com/128755/36736235-1a7abdd4-1ba6-11e8-8696-03b25ac83565.png)

[2018-02-27 15:20] vbudhram opened #5936 "Option to `change` or `add` avatar for new account in settings?"
This is just a general question about the default avatar settings. When logging in with a newly created account, the settings panel says `Change` with gray button. This is different from the `Add` with blue button that I was expecting.

Is this intended? Seemed strange that I never added one to be given the option to change it.

Ref: https://github.com/mozilla/fxa-profile-server/issues/295

[2018-02-27 15:56] vladikoff commented on #5936
Yeah I think we are gonna need to add a field fo the API signaling that the provided avatar is default

would be also useful for https://github.com/mozilla/fxa-content-server/issues/5935

[2018-02-27 19:39] ericawright opened #5937 "firefox favicon coloring is incorrect"
The icon from the accounts page appears to be duller and more orange.

Seen here beside the mozilla.org favicon displayed on Activity Stream.
<img width="256" alt="screen shot 2018-02-27 at 2 25 12 pm" src="https://user-images.githubusercontent.com/10803178/36750478-98e0eec6-1bcb-11e8-8780-978fdb24055f.png">

Icon from the design system:
<img width="180" alt="screen shot 2018-02-27 at 2 37 26 pm"

[2018-02-27 21:25] linuxwolf opened #5938 "Webmail-launched FxA popup does not close automatically"
\[_Related to mozilla-lockbox/lockbox-extension#581_]

When signing into (or signing up for) a Firefox Account and using a webmail service (e.g., Gmail), clicking the "Activate Now" (or "Confirm sign-in") from the received email launches a new browser window.  This page eventually (usually very quickly) displays a "Account Verified" message.  However, this window never closes, nor does it obviousl

[2018-02-28 00:12] vladikoff opened #5939 "Add lockbox icon to device and apps"
Ref https://github.com/mozilla-lockbox/lockbox-extension/issues/584

[2018-02-28 00:40] rfk commented on #5938
The more I see of the lockbox login flow, the more I want to use codes rather than links for these email loops...

I think having this window close automatically would create a jarring experience for the user.  Is there content we could put in here that would improve the situation?  I can't think of anything *good* but perhaps even just some sort of "OK" button that closes the window would be an i

[2018-02-28 00:49] vladikoff commented on #5938
Plus we cannot really close it automatically, unless we opened it. (Which even "Open Gmail" button doesn't do via js)

We can probably do that

[2018-02-28 01:25] linuxwolf commented on #5938
I should have added a comment that I agree automatically closing it seems like a bad idea.

Naively, it would seem to me some text -- while far from ideal -- is a stopgap that can actually help users.  Using confirmation codes would seem to fit _this_ flow better yet, but I appreciate that I've not been involved in FxA through all the iterations.

[2018-02-28 20:22] vladikoff commented on #5827
from mtg: let's validate the provided redirect uri, error out if it doesn't match.

HOWEVER we should strip the trailing `/` on the end of the url, so

`http://lockbox/` vs `http://lockbox` should PASS

https://github.com/mozilla/fxa-content-server/blob/master/server/lib/configuration.js#L445

CC @rfk to check what the RFC says about trailing slashes

[2018-02-28 20:41] rbillings commented on #5891
I tried to replicate the original issue with race condition scenarios but was unable to repro the bug.

[2018-02-28 23:32] rfk commented on #5827
Hrm, actually https://tools.ietf.org/html/rfc6749#section-3.1.2 section 3.1.2.3 is pretty clear that:

[code]

Which forbids stripping trailing slashes.  So perhaps we should do the thing where we just change the registered redirect_uri to include the trailing slash, rather than trying to be clever here.

[2018-03-01 02:17] rfk commented on #5827
To clarify, my suggestion is that we:

* Update lockbox so their registered redirect_uri has the trailing slash, exactly matching the value they get from calling `identity.getRedirectURL()`
* Update our code to check the provided redirect_uri against the one registered for that relier, and error out if they are not an exact string match

[2018-03-01 02:23] vladikoff commented on #5827
Yeap!

[2018-03-01 17:27] vladikoff commented on #5939
https://github.com/mozilla-lockbox/lockbox-extension/blob/master/src/webextension/icons/lb_locked.svg

[2018-03-01 17:36] vladikoff commented on #5935
This doesn't throw anymore, but we can detect `avatarDefault` and not show `clear` as an enhancement

[2018-03-01 17:40] vladikoff commented on #5936
This should be fixed now

[2018-03-01 17:40] #5936 closed

[2018-03-01 19:04] vladikoff commented on #5365
No reports of this anywhere for a while, let's reopen if we see it again

[2018-03-01 19:04] #5365 closed

[2018-03-01 21:26] #5552 closed

[2018-03-01 22:44] rfk commented on #5891
from meeting: we fix this by moving away from links and towards codes, WONTFIXing it here.

[2018-03-01 22:44] #5891 closed

[2018-03-02 15:45] vladikoff opened #5947 "Add password confirm (vpassword) to signup_password"
Seems like one of the flows (email first flow?) is missing the password verification. Besides adding the extra field we also need the validation that is already there on `sign_up.js`.

[2018-03-02 16:09] vbudhram commented on #5947
Just tested this and got it on the email first flow.

[2018-03-02 18:45] gdestuynder commented on #5916
**Answers**

This is a common issue and since we never control all the RPs (relying parties), it's one that I've never seen completely fixed. With Auth0 for example we support registering a "logout url" which will effectively "log you out of SSO" and **every single**  RP uses it (and uses it correctly) everything works as expected.  In reality of course only some do and most don't.

AirMo supports

[2018-03-03 00:20] vladikoff commented on #5806
See above. If anyone else has this problem please let us know...

[2018-03-03 00:20] #5806 closed

[2018-03-03 01:41] #5750 closed

[2018-03-03 04:47] hritvi commented on #5935
Hey @vladikoff . Can i challenge myself with this issue? Thanks!

[2018-03-03 14:14] vladikoff commented on #5935
@hritvi yeap, https://github.com/mozilla/fxa-content-server/blob/master/README.md#quick-start Find how `avatarDefault`. is used in the code and use it for the avatar change view

[2018-03-04 22:38] #5629 closed