[2018-08-01 14:18] vladikoff opened #6408 ""Confirm your account" page is wrongly redisplayed after tapping the "Back" button twice if the account is not confirmed"
Ref: https://github.com/mozilla/notes/issues/1335

<img src=https://user-images.githubusercontent.com/37875464/43526951-0cf4e310-95ae-11e8-9b73-d5c221df9852.gif width=400 />

[2018-08-01 16:33] vladikoff commented on #5876
🗡

[2018-08-01 16:33] #5876 closed

[2018-08-01 16:33] vladikoff commented on #5505
WONTFIX for now

[2018-08-01 16:33] #5505 closed

[2018-08-01 16:36] davismtl commented on #6399
That might explain the overall lower rate. As described in the discourse comment, that may be the problem too since there is no mention on submitting the code so I've reached out to get clarification:

https://discourse.mozilla.org/t/lockbox-app-authentication-issue-with-2fa-code/30586

[2018-08-01 16:38] shane-tomlinson opened #6409 "Auth-server allows email addresses to contain emojis, content server does not."
See https://github.com/mozilla/fxa-auth-server/blob/855d6814ec1df26832afda58dc4e242cc68f9e4a/lib/routes/validators.js#L60
See https://github.com/mozilla/fxa-content-server/blob/da79cc7546c420293dc0db30862a2fc1675f32f2/app/scripts/lib/validate.js#L43

[2018-08-01 17:18] shane-tomlinson commented on #6399
mmmm....

[2018-08-01 17:45] devinreams commented on #6399
I had the same experience ☝️

[2018-08-01 18:16] irrationalagent commented on #6399
we don't have device/model data, for completeness [here's the funnels by locale but they don't vary too much](https://sql.telemetry.mozilla.org/queries/57861/source#150580).

doesn't explain Devin and above user's problen, but....

it may still be that some users aren't seeing the submit button - it explains (1) the huge drop-off between view and engage, and (2) the bigger-than-expected drop-off b

[2018-08-01 20:15] vbudhram commented on #6171
Fixed in https://github.com/mozilla/fxa-content-server/pull/6392

[2018-08-01 20:15] #6171 closed

[2018-08-02 15:39] devinreams opened #6413 "Email-first sign in avatar is always the placeholder"
I have been testing with multiple accounts and when going through the email-first flow, the next screen (where it knows its an existing account and should enter password) always has the placeholder avatar, not my actual face or icon that I've uploaded:

Expected (multicolor Apple icon for `dreams+appletest@mozilla.com`):

<img width="528" alt="screen shot 2018-08-02 at 9 39 08 am" src="https://use

[2018-08-02 16:33] davismtl commented on #6413
I believe that this is because you haven't signed in on that device yet and IIUC, the avatar is not public so OAuth permission hasn't been given yet to use the Avatar.

[2018-08-02 19:29] vladikoff opened #6414 "Cache node_modules, firefox and other stuff in Circle CI builds"
Currently at ~4 minutes in the 'build' stage: https://circleci.com/workflow-run/f30e8cc8-c69b-455c-9f11-85fc96414eb5

We can improve that by using the cache features. Example:

https://github.com/mozilla/notes/blob/master/circle.yml#L15

[2018-08-02 19:31] shane-tomlinson commented on #6413
This is correct. Once you sign in on that device, the avatar should be available.

[2018-08-02 20:00] #6336 closed

[2018-08-06 13:57] philbooth opened #6417 "Write tests for FxA metrics documentation"
In https://github.com/mozilla/application-services/pull/139#pullrequestreview-143349057, @irrationalagent wrote some docs about our metrics params. In that PR, discussion ensued about the likelihood of the documented validation regexes diverging from reality over time. Ultimately the regex info was removed from the doc.

It would be cool to reinstate that info and add some automated tests here tha

[2018-08-08 12:51] #6244 closed

[2018-08-08 14:57] vladikoff commented on #6180
🗡

[2018-08-08 14:57] #6180 closed

[2018-08-08 14:58] vladikoff commented on #6152
Not actionable by content-server devs, I suggest creating a devops bugzilla bug for this

[2018-08-08 14:58] #6152 closed

[2018-08-08 15:01] vladikoff commented on #6006
@davismtl could you please put this into one of the tables in Air Table? (if we still plan to do this)

[2018-08-08 15:01] #6006 closed

[2018-08-08 17:12] davismtl commented on #6006
done

[2018-08-08 19:27] #6173 closed

[2018-08-08 19:38] hritvi commented on #5968
Hey @vladikoff I am really very sorry for so late reply. I had my exams going and after that I didnt had my laptop to work on. I can see this issue is still open. Can I continue my work on this. Thanks

[2018-08-08 20:57] vladikoff commented on #6371
waiting for experiment results...

[2018-08-08 21:09] shane-tomlinson commented on #6235
@ryanfeeley - I ran the icon through SVGO, no change. There is a deprecated [icon in the photon style guide](https://design.firefox.com/icons/viewer/), though that looks slightly different to the one you originally suggested.

[2018-08-08 21:11] irrationalagent commented on #5990
@vbudhram Ryan Gaddis @changecourse was wondering if this was actually a good idea for Lockbox, Ryan can you weigh in on whether Vijay should actually do this? (my apologies if you already hashed this out)

[2018-08-08 22:00] changecourse commented on #5990
@irrationalagent thanks for tagging me.

@vbudhram I don't have a concern with using sign-in codes instead of a link for us as a relier; this will replace the confusion that our users have upon being redirected into the browser (instead of our app) and replace it with some limited friction in having to input the code.

My concern has to do with the specifics of the code itself... based on what I'm

[2018-08-09 12:16] shane-tomlinson commented on #5990
@changecourse - Thanks for weighing in here, we have a good opportunity to revisit some of the decisions we've made.

As is often the case, there is a balance between usability and security. In general, longer codes that contain characters from large alphabet are considered "more secure" while shorter codes from a small alphabet are considered "more usable". Strict rate limiting and limited lifeti

[2018-08-09 14:03] vbudhram commented on #5990
Unfortunately, I don't believe we would be able to get all those requirements for the reasons @shane-tomlinson mentioned above. However, like he mentioned, there might be a combination of those knobs that we can turn that makes security and usability better.

Something to consider was that A/B test was performed on Sync users which may/may not accurately reflect how a Lockbox user might behave? We

[2018-08-09 15:26] changecourse commented on #5990
@shane-tomlinson thank you for the very comprehensive response!

Aren't any of the variables involving a code inherently stronger than the email link that exists today? You've provided great context for what levers we can adjust here across these four variables... just trying to understand what the bar of strength and complexity needs to be :)

Our Lockbox users will be most likely be experiencing

[2018-08-09 15:45] changecourse commented on #5990
@vbudhram & @shane-tomlinson What I'm getting at with the above comment is this... the previous test documented in that feature doc was done within a desktop-context, where selecting text out of an email, copying it, and pasting it to a browser window is much easier for someone to do, than on mobile.

[2018-08-09 15:49] vbudhram commented on #5990
@changecourse Yea that makes sense.

@moz-jvehent @g-k What are your thoughts on above? Should we setup a security review meeting to revisit the requirements we have for these codes?

[2018-08-09 18:45] davismtl commented on #5990
That is not entirely true. We ran the test on everyone IIRC. Mobile included. @irrationalagent correct me if I am wrong.

Also note that a large proportion of users on desktop (>20%) check their email on their phones and not in another desktop browser tab/window. The context is that most signins are on new browsers and it's just quicker to pull your phone out rather than signing into your email ac

[2018-08-09 18:51] davismtl commented on #5990
I would really like to get to 6 characters and see what we can do to gether but I have a feeling the only knob we have to play with is the code lifetime. Crockford's base 32 is already a simplified alphabet and our rate limiting is already strict. :-/

[2018-08-09 22:07] vladikoff commented on #6345
This passes for me now, fixed by https://github.com/mozilla/fxa-dev/commit/45fce7e99d3d3f491befa9cbb2ff9b85d4251e38

[2018-08-09 22:07] #6345 closed

[2018-08-10 09:14] shane-tomlinson commented on #6345
NNIIICE!

[2018-08-10 12:29] sv-ohorvath opened #6427 "Removed secondary email can't be re-used to create an account"
Build: Production - Firefox 61.0.2

STR:
1. Create an account.
2. Add a secondary email and confirm.
3. Change the secondary email to be the primary.
4. Remove the secondary email and disconnect.
5. Create a new account with the same email address.

Expected results:
The email that was removed should be re-usable in case the person needs a second account.

Actual results:
The email removed can't b

[2018-08-10 12:48] SorinaFlorean opened #6428 "[Train 118] Sync not working on Android P"
Environment:
Stage server - Train 118
Device: Google Pixel (Android 9)

STR:
1. Log in with the same account on Android and Desktop;
2. Make some browsing history, bookmark a few pages;
3. Go to settings and perform a sync.

Actual results:
Sync is not working, no data was displayed on mobile or desktop. On mobile "Last synced: never" never don't get updated and also the "Choose what to sync " sec

[2018-08-10 13:33] vbudhram commented on #6427
@sv-ohorvath Thanks for report! This is a duplicate of https://github.com/mozilla/fxa-auth-server/issues/2102.

[2018-08-10 13:33] #6427 closed

[2018-08-10 13:36] SorinaFlorean opened #6430 "Merge warning dialog still displayed after all the options from disconnect was checked"
Environment:
Stage server - Train 118
Win 10x64

STR:
1. Log in an account on Desktop;
2. Gp to Menu->Disconnect;
3. Check both options: remove Firefox sync data and remove other private data;
4. Tap on "Disconnect&Delete";
5. Sign in with a different account.

Actual results:
A merge warning dialog is displayed:
"Are you sure you want to sign in to Sync?
A different user was previously signed in

[2018-08-10 15:16] shane-tomlinson commented on #6430
@SorinaFlorean - The merge warning is displayed from within the browser and we are unable to fix the problem from the FxA side. Can you file this in Bugzilla under the [Firefox->Sync component](https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Sync)?

[2018-08-10 15:16] #6430 closed

[2018-08-10 17:16] ncalexan commented on #6428
I see
[code]
and
[code]

This could be:
- a server/certificate configuration issue
- a Fennec certificate/crypto coding error
- something else entirely

Given that we got a network error _and_ a network success with a rejected malformed assertion, I think the most likely is a token server configuration error.

[2018-08-10 17:17] ncalexan commented on #6428
We should take this to Bugzilla, I think.

[2018-08-10 20:04] g-k commented on #5990
@vbudhram Feel free to drop a meeting to discuss on our calendars. Julien should be back in a week to ten days.

Thoughts:

* ideally, we could use push notifications for a more secure transport, probably better deliverability and delivery time. Possibly with something like [the autofill feature introduced in iOS 12+](https://developer.apple.com/documentation/security/password_autofill/)

* we can

[2018-08-13 06:53] SorinaFlorean commented on #6428
Filed bug 1482789.

[2018-08-13 06:53] #6428 closed

[2018-08-13 08:18] sv-ohorvath opened #6434 ""Show password" doesn't work on the email-first flow"
Server: Staging - Train 118.
Not reproducing on Production.
Platform: Windows 10.

STR:
1. Go to https://accounts.stage.mozaws.net/signup?action=email&service=sync
2. Enter the email address.
3. Type something into the password field. Check the 'Show password icon".
4. Click "Mistyped email?" then return to the password's page.

Expected result:
The "show password" eye icon should be displayed and

[2018-08-13 09:25] sv-ohorvath commented on #6244
Verified as fixed on Train 118.

[2018-08-13 10:27] shane-tomlinson commented on #6434
Woah. This needs a point release. Great catch @sv-ohorvath!

[2018-08-13 10:46] shane-tomlinson opened #6435 ""signin token code" failures on latest"
4 signin token code functional tests always fail on teamcity:

* verified - treatment-code - invalid code
* verified - treatment-code - valid code
* verified - treatment-code - valid code then click back
* verified - treatment-link - open link new tab

https://tc-test.dev.lcip.org/viewLog.html?buildId=41038&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

https://screencap.co.uk/images/5

[2018-08-13 11:04] shane-tomlinson commented on #6434
This is a problem on stage, not on prod.

[2018-08-13 11:38] shane-tomlinson opened #6438 "Circle reports "Your config file has errors and may not run correctly"
From https://circleci.com/gh/mozilla/fxa-content-server/11076:

![screen shot 2018-08-13 at 12 37 08](https://user-images.githubusercontent.com/848085/44029589-bc17e3e2-9ef5-11e8-9e1e-ea7ac4ef0ccf.png)

[2018-08-13 12:20] SorinaFlorean opened #6439 "[Account recovery] Message from Re-enter password screen not centered"
Environment:
Win10x64, Android, staging server

STR:
1. On Manage account section, go to Account recovery;
2. Tap on "Add" -> "Generate" -> Pay attention to 're-enter password' modal;

Expected results: 'Enter your password to view your recovery key' message is displayed without visual issues compared with the other fields/buttons from the page.

Actual results:  'Enter your password to view your

[2018-08-13 12:37] vladikoff commented on #6438
I think we can maybe remove 'env'

[2018-08-13 13:18] SorinaFlorean opened #6440 "[Account recovery] Visual issues with Download and Print buttons"
Environment:
Win10x64, Android 8.0.0
Staging server - Train 118

STR:
1. Go to Manage account and generate a new recovery key;
2. Pay attention to download and print buttons.

Results: the text is out of the box and is duplicate.

Screenshot:
![2018_08_13_16_08_14_firefox_accounts_firefox_buttons](https://user-images.githubusercontent.com/24588037/44033858-55fa6868-9f14-11e8-9636-bd98f04dfabf.png)

[2018-08-13 13:53] shane-tomlinson commented on #6435
Re-opening, still failing.

[2018-08-13 15:08] vbudhram commented on #5990
@g-k @changecourse Meeting invite sent!

From [custom-server](https://github.com/mozilla/fxa-customs-server#policies), our current rate limit policy is 10 attempts every 15minutes per account & IP.

* rate-limiting too many attempts to verify randomly-generated codes (config.limits.maxVerifyCodes defaults to 10) have occurred for a given account and IP address, in a given time period (config.limit

[2018-08-13 16:01] jrgm opened #6445 "upgrade node-convict"
Happened to notice this was at convict@1.5.0, which is <<< 4.3.2, the current version.

[2018-08-13 17:28] shane-tomlinson opened #6446 "bump password strength experiment to 100% en, 20% de"

[2018-08-13 18:11] ryanfeeley opened #6448 "Improve styling of password advice"
I started my own PR here, but didn’t find an elegant way to fix this, and didn't want to just hack it in. The password advice list items should only be 300 font weight, with 21px margin below the first section (as opposed to 7px). Reads more easily, don't you think @shane-tomlinson ?

# Current
<img width="301" alt="screen shot 2018-08-13 at 1 46 34 pm" src="https://user-images.githubusercontent.c

[2018-08-13 18:42] ryanfeeley commented on #6448
Note that this extra margin should only apply on desktop (the sideview), not on the mobile view.

[2018-08-14 07:32] sv-ohorvath commented on #6434
Verified as fixed on Stage, both Windows & Android.

[2018-08-14 12:10] SorinaFlorean opened #6452 "Enhancement: change "Add" button with "Enable" from Account recovery section"
Environment:
Android, Win

Steps to reproduce:
1. Go to Manage account and pay attention to Account recovery section.

Reason: we don't add a new picture or secondary email, we "set" a recovery key to help us to don't lose information when we forgot our password, so my opinion is that "Enable" is more accurate. And this probably will not create confusion that we have to add a new account for the e

[2018-08-14 13:00] shane-tomlinson commented on #6408
Ref https://github.com/mozilla/fxa-content-server/issues/6197

[2018-08-14 13:12] shane-tomlinson commented on #6235
@ryanfeeley - This is the icon I was referring to from the photon style guide:

<img width="120" alt="screen shot 2018-08-14 at 14 10 52" src="https://user-images.githubusercontent.com/848085/44093596-f0088fb8-9fcb-11e8-8fdd-b0b46a536639.png">

Even though it's deprecated, should we use that until a new eye icon is developed? Does anyone on the design team have an updated icon we could use?

[2018-08-14 16:11] shane-tomlinson opened #6454 "Implement channel server client & state machine"
This is to connect to https://github.com/mozilla-services/pairsona/tree/chatty
https://github.com/mozilla-services/pairsona/pull/9

The client will need to connect to a WebChannel server and maintain connection state.
I'm unsure of how to handle disconnection/re-connect logic at this point and have deferred.

[2018-08-14 16:16] shane-tomlinson commented on #6454
To be defined:

1. The format of the messages coming from the channel server. We know packets will contain at least a few bits of data - location info of the sending client, encrypted data sent by sending client.
2. Disconnect/reconnect logic. If the connection drops, do we auto-reconnect? The connection is dropped by the server to all clients if one client disconnects.
3. How to surface the chann

[2018-08-14 17:15] rfk commented on #6454
My gut feeling is we should abort what we're doing in this case, either showing an error or returning to a previous screen so the user can try again.

[2018-08-14 19:37] linuxwolf commented on #5990
Just my opinion, and from very simplied calculations ...

I think there's a quick win with reducing the code lifetime.  I'd be curious what led to the current limit; a glance at postmarkapp's stats seems infers the code delivery would be in tens of seconds.  Email is definitely slower than SMS on average, but we're well past the days of tens of minutes to inbox.

If that time is reduced and the cu

[2018-08-14 19:55] shane-tomlinson commented on #6454
That's the approach I'm taking now. 💯

[2018-08-14 20:08] shane-tomlinson commented on #5990
You would *think* so, unfortunately not the entire internet has moved on, I have seen emails show up on Yahoo and Hotmail after several minutes. @philbooth, @irrationalagent do you know if we have any charts on email delivery times, or whether we can even track that?

The rest, spot on. I think we could do go a long way to denying DDOS w/o adding other additional rate limit logic by requiring the

[2018-08-14 20:36] linuxwolf commented on #5990
Absent real data, I think even the "[sometimes] several minutes" means a 10-15 minute validity period is acceptable, which is unconditionally better than 60 minutes.

Limiting to the same address also seems pretty reasonable for the code-verify case, at least until data contradicts (-:

[2018-08-14 20:36] vbudhram commented on #6394
Marking this closed since the metrics have their own tracking issue in https://github.com/mozilla/fxa-auth-server/issues/2538.

[2018-08-14 20:36] #6394 closed

[2018-08-14 20:55] shane-tomlinson opened #6457 "/authorization does not server CORS headers, does not respond with JSON"
Also filed as https://github.com/mozilla/123done/issues/171

123done makes a call to /authorization but fails because the route does not have CORS enabled. After enabling CORS, the call still fails because 123done expects a JSON response whereas we only serve HTML.

[2018-08-14 21:34] irrationalagent commented on #5990
we have timestamps for sent and delivered events, so I'll take a look at where things stand

[2018-08-15 05:34] nicolasmeric opened #6458 "Disabling sign-in confirmation"
Hi.
I would like to disable sign-in confirmation for newly-created accounts using self-hosted fxa-account-server and fxa-auth-server.

fxa-content-server web interface asks for email confirmation even if skipForNewAccounts configuration parameter is enabled in fxa-auth-server configuration.

Is this the expected behavior ? What have I missed ?

I'm using fxa-auth-server 1.118.0 and fxa-content-ser

[2018-08-15 06:43] philbooth commented on #6458
Hmm, I'm only eyeballing the code but that looks like it should work, unless maybe your customs server instance is flagging it as a suspicious request. Did you try changing any other settings round there, like `skipForNewAccounts.maxAge` for instance?

On thing you could try I guess is to set `allowedEmailDomains` or `allowedIPs` in your config for `fxa-customs-server`. But tbh I feel like I'm mis

[2018-08-15 07:27] nicolasmeric commented on #6458
Thanks for your answer.

I use the default maxAge value, which is 4 hours. Changing it to 0 didn't disable the email confirmation.

I do not find  any allowedEmailDomains or allowedIPs options neither in server/lib/configuration.js for fxa-content-server, nor in config/index.js for fxa-auth-server

[2018-08-15 07:34] philbooth commented on #6458
Sorry, I should have been clearer, does it make any difference if you change it to something much bigger like `"1 year"`?

They're settings for a different service, `fxa-customs-server`, which is called by the auth server to rate-limit/block traffic. Not sure how you set up your FxA stack / if you have it running, but worth checking if it's there.

[2018-08-15 10:40] shane-tomlinson opened #6459 "No error message displayed on /signin_confirmed if "Continue" fails"
Ref https://github.com/mozilla/fxa-content-server/pull/6449

STR
1. Apply the following patch
2. Run npm run test-functional-oauth -- --grep="signin token code - verified - control"
3. In the browser, open the network console, wait for the 400
4. No error message is displayed

[code]

<img width="1286" alt="screen shot 2018-08-15 at 10 57 36" src="https://user-images.githubusercontent.com/848085/4

[2018-08-15 13:41] #6459 closed

[2018-08-15 16:59] ryanfeeley commented on #6452
👍

[2018-08-15 17:01] ryanfeeley commented on #6448
@shane-tomlinson Seeing how this disappears so abruptly on blur makes me think this design could be improved. Any opinions?

[2018-08-16 11:26] shane-tomlinson commented on #6448
Can you post a screencap? The password balloon should only go away if the password doesn't match one of the criterion. Once the password becomes valid, the balloon goes away after I think it's 1.5 seconds.

![balloon-stays](https://user-images.githubusercontent.com/848085/44205807-8fb08a00-a14f-11e8-930a-d2914a12ac40.gif)

[2018-08-16 14:43] #6458 closed

[2018-08-16 14:52] ryanfeeley commented on #6448
@shane-tomlinson Did extra padding get added above the top line?
<img width="311" alt="image" src="https://user-images.githubusercontent.com/68213/44216202-66d5c800-a142-11e8-80dd-e7a5a21ff7de.png">

[2018-08-16 14:54] ryanfeeley commented on #6448
@shane-tomlinson I just worry that user will not get a chance to read the 🔒 bullet points as they'll be satisfying the others. What's the URL again? Perhaps I can run this through user testing.

Oh, also are we measuring password strength again? Did you dust off the bloom filter? Would be cool to see if password complexity improved meaningfully.

[2018-08-16 14:58] #6452 closed

[2018-08-16 15:15] shane-tomlinson commented on #6448
That screen cap was taken prematurely, here's a better one:

<img width="367" alt="screen shot 2018-08-16 at 16 08 59" src="https://user-images.githubusercontent.com/848085/44217163-bd58fb80-a16e-11e8-9349-2f9afaada469.png">

https://accounts.firefox.com?service=sync&action=email, then use a mozilla.com email

We are not measuring password strength, logging password strength would enable attackers

[2018-08-16 16:35] shane-tomlinson opened #6464 "Add a QR code scanning capabilty to the pairing flow"
The pairing flow currently assumes the QR code displayed by the auth will be scanned by a QR code scanner built into the browser. Since Fenix isn't yet built and we have no idea whether it'll have a QR code scanner to begin with, we should build the functionality ourselves so we can demo what the flow could look like end to end.

[2018-08-16 16:47] shane-tomlinson commented on #6445
I took a stab at this last week and kept having problems with the scoped keys config, convict kept saying it couldn't find a default for `https://identity.mozilla.com/apps/lockbox`

[2018-08-16 20:31] ryanfeeley commented on #6448
@shane-tomlinson How's this? Remove the headline, and put the first 🔒 icon at the top.
![screen-shot-2018-01-26-at-4_0000_empty](https://user-images.githubusercontent.com/68213/44233333-905a1800-a171-11e8-8080-52517ccad978.png)
As items become checked, keep them on the screen. Don't hide them or collapse balloon when password field (on desktop) is focused. Hide it on mobile. Enable the Repeat pass

[2018-08-16 22:04] irrationalagent commented on #5990
finally got around to this, this is just data since the beginning of the month:
https://sql.telemetry.mozilla.org/queries/58394/source#151743

Overall the median & 75th percentiles of delivery time (delivered timestamp - sent timestamp) for all domains is < 1 minute. We have to look to the 99.9th percentile for delivery times > 15 minutes. This applies to email domains orange.fr and comcast.net.

[2018-08-17 13:54] ryanfeeley commented on #6448
We realized that it can automatically go away when both passwords match. Seemed like a better design than requiring an extra step.

Yes, my instructions above mention "enabling" the repeat password field, I should have called out that it was disabled to begin with. I forget if we have a disabled field style. Do we @shane-tomlinson ?

It also includes local Lockbox data… maybe I can rewrite more ge

[2018-08-20 14:10] hritvi commented on #6358
Hey @shane-tomlinson, is this still a error? Can I work on this?

[2018-08-20 15:35] vladikoff commented on #6438
fixed via https://github.com/mozilla/fxa-content-server/commit/6738986af70394279b5ad0f749daa8564c601fd1

[2018-08-20 15:35] #6438 closed

[2018-08-20 16:27] shane-tomlinson commented on #6464
This needs some UX.

[2018-08-20 16:30] shane-tomlinson commented on #6457
The correct fix is on 123done, closing.

[2018-08-20 16:30] #6457 closed

[2018-08-20 18:43] shane-tomlinson commented on #6358
@hritvi - you sure can!

[2018-08-20 20:29] ryanfeeley commented on #6448
@shane-tomlinson Great news, Michelle is in town and we had a minute to go over a new design with much more concise copy! Here it is!
<img width="709" alt="screen shot 2018-08-20 at 4 24 05 pm" src="https://user-images.githubusercontent.com/68213/44364737-c52dde00-a495-11e8-995a-20719c3d65cb.png">

And then the original second 🔒 point  <img width="378" alt="screen shot 2018-08-16 at 12 59 18 pm" s

[2018-08-20 20:51] irrationalagent commented on #6371
Experiment results logged [here](https://docs.google.com/document/d/1dvpiZ-EAxVDHkXjwekyAougFufUDwB50nT9l9xo177k/edit?ts=5ac3f806#heading=h.nwl6zihubrlw).

overall a success.

We are rolling out 50%/50% to en locales and 5%/5% de. Should we close this now or wait till full rollout?

[2018-08-20 20:57] vladikoff commented on #5990
from mtg: this is blocked on the discussion about the code length

[2018-08-20 20:59] vladikoff commented on #6018
from mtg: active!

[2018-08-21 12:47] ryanfeeley commented on #6448
@shane-tomlinson Tiny detail. The ' in don’t should be a curly apostrophe.

[2018-08-21 15:15] vladikoff opened #6467 "Circle CI: test3 failures"
Collect the test3 failures here:

Ref: https://circleci.com/gh/mozilla/fxa-content-server/11481

[code]

[2018-08-21 21:42] vladikoff commented on #6467
Regression in https://github.com/mozilla/fxa-auth-server/pull/2581/files

[2018-08-21 21:43] vladikoff commented on #6467
@philbooth can be checked by running

[2018-08-22 00:00] #6467 closed

[2018-08-22 01:31] #6417 closed

[2018-08-22 08:59] #6395 closed

[2018-08-22 09:00] #6358 closed

[2018-08-22 09:12] shane-tomlinson opened #6473 "Remove nsp"
nsp is being EOL'd on Sep 30th

[2018-08-22 09:13] shane-tomlinson opened #6474 "Add `npm audit` support"
Add to travis, do not fail at first

Ref #6473

[2018-08-22 09:14] hritvi commented on #6464
Can u explain what kind of UX this needs @shane-tomlinson and can I work on this issue? Thanks in advance:)

[2018-08-22 12:40] #6473 closed

[2018-08-22 12:40] #6474 closed

[2018-08-22 12:59] shane-tomlinson commented on #6371
Let's keep this open until we roll out everywhere.

@irrationalagent - I created a new chart for German only users - https://analytics.amplitude.com/mozilla-corp/chart/jvwikep. Looks like German user conversion rates are similar to English. Should we roll this out to 50/50 in Germany too?

100% to English?

[2018-08-22 13:04] vladikoff commented on #5921
this was fixed

[2018-08-22 13:04] #5921 closed

[2018-08-22 14:57] irrationalagent commented on #6371
Germany definitely looks like its heading in the right direction, but it hasn't quite got to the [95% confidence level](https://analytics.amplitude.com/mozilla-corp/chart/yninbt8) that's traditionally the minimum cutoff for significance. But its pretty close. Your call if you want to give it a few more days or just go ahead with 50/50. The fact that we already saw an improvement in English should

[2018-08-23 11:40] shane-tomlinson opened #6476 "Enable 'designF' for 100% of English users"

[2018-08-23 11:58] shane-tomlinson commented on #6439
@hritvi - this would be a good one to start to see how the stylesheet processing is done. Shouldn't be too complex. If you need help let me know!

[2018-08-23 12:02] hritvi commented on #6439
Thanks @shane-tomlinson for assigning the issue. I am working on it.

[2018-08-23 12:12] shane-tomlinson opened #6478 ""Unexpected Error" in Circle tests whenever confirming 2FA tokens"
See https://screencap.co.uk/images/52d5fcc3b3fce7e8bdd7f825f09725ae1e0c0ee9.png from https://circleci.com/gh/mozilla/fxa-content-server/11607

cc @vbudhram

[2018-08-23 14:28] shane-tomlinson commented on #6478
In the auth-db, I see:

[2018-08-23 15:07] vladikoff commented on #6478
[11:05:38]  <vladikoff>	vbudhram, stomlinson, i see a `{"Timestamp":1535021851903000000,"Logger":"fxa-auth-server","Type":"server.EndpointError","Severity":2,"Pid":5,"EnvVersion":"2.0","Fields":{"op":"server.EndpointError","message":"127.0.0.1:8000 error: request timed out","reason":"socket hang up","method":"POST"}}`

[2018-08-23 15:41] vbudhram commented on #6478
It looks like the requests completed, but the auth-server closed the connection before they were done

[code]

When adding TOTP, we perform scrypt for each of the recovery codes (8 total). Anything landed that might change the performance of these?

[2018-08-23 15:47] ryanfeeley commented on #6448
Remember your password — _it encrypts your data_. A reset results in you losing access to your data.

[2018-08-23 16:06] shane-tomlinson commented on #6478
From IRC:

[2018-08-23 16:40] shane-tomlinson commented on #6478
@vbudhram pointed out that the Not Found could be coming from another endpoint calling getTotpToken and that the problem could be caused by scrypt taking too long. We have bumped the poolee timeout to 15s because we saw `socket hang up`.

If there is a problem when calling the customs server, the auth server translates the error to a [backendServiceFailure](https://github.com/mozilla/fxa-auth-serv

[2018-08-23 17:49] shane-tomlinson commented on #6478
So the root problem comes from the instance being throttled by Amazon. @jbuck changed the instance type so that credit isn't a problem but suggests we should move to a larger box once we understand the usage patterns a little bit better.

Closing as fixed, I'm going to open a separate issue on the auth server suggesting the "socket hangup" error be converted to a "backend service error" to be disp

[2018-08-23 17:49] #6478 closed

[2018-08-23 19:22] #6364 closed, assigned to nobody

[2018-08-23 19:29] vladikoff commented on #5326
@jbuck probably better to move this to BugZilla, not actionable by the dev team in the content server

[2018-08-23 19:29] #5326 closed

[2018-08-23 19:53] #6372 closed

[2018-08-23 20:10] vladikoff commented on #6346
🗡

[2018-08-23 20:10] #6346 closed

[2018-08-23 20:12] hritvi commented on #6439
I am not able to find the account recovery section in manage accounts. Can you provide a link for that. Thanks in advance.

[2018-08-23 21:59] vladikoff commented on #5503
Not actionable for now

[2018-08-23 21:59] #5503 closed

[2018-08-23 21:59] vladikoff commented on #5553
Please reopen if we still want to do this, or try other approaches to make the app faster

[2018-08-23 21:59] #5553 closed

[2018-08-23 22:56] vladikoff opened #6487 "tests: failed to generate profile for this config"
@shane-tomlinson could you check with the latest firefox-profile update I get the following:

[code]

do you get the same?

[2018-08-23 23:02] vladikoff commented on #6182
I check latest TC and could not see the test failing.

Also ran the test locally against latest with 3G throttling. The selector suggest that the content-server didn't load in time.

[2018-08-23 23:19] vladikoff commented on #6326
blocked: needs QA

[2018-08-23 23:42] vladikoff opened #6489 "None of the 'oauth email first' tests are working on latest/TeamCity"
to reproduce run:

[code]

Ref: https://tc-test.dev.lcip.org/viewLog.html?buildId=41539&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog#_focus=1815

it all goes to

<img src=https://screencap.co.uk/images/18a00d9eb485ce3e7f2840a05e7194e59b47f899.png width=450 />

[2018-08-23 23:43] vladikoff commented on #6489
cc @shane-tomlinson any ideas?

[2018-08-24 07:43] SorinaFlorean opened #6491 "Account recovery: doorhanger displayed to update the password when tapping on "Cancel""
Environment:
Win10
Stage server - Train 119

Steps to reproduce:
1. Go to Manage account->Account recovery->Enable;
2. Tap on "Generate";
3. On re-enter password modal tap on "Cancel".

Actual results: a door-hanger is displayed to update the password after the modal is dismissed.

Expected results: no doorhanger is displayed since the password is the same.

![2018_08_24_10_40_37_firefox_accounts_

[2018-08-24 08:10] SorinaFlorean opened #6492 "[Account recovery] Generate a new recovery key is displayed when setting a new password for Pocket"
Environment:
Win10
Stage server - Train 119

Steps to reproduce:
1. Enable Account recovery for the account;
2. Go to https://getpocket.com/login?e=4 and tap on "Login with Firefox";
3. From "Sign in to Pocket" screen choose "Forgot password?" and send an email to reset the password;
4. Go to email and create a new password;
5. Pay attention to the screen after the password was successfully change

[2018-08-24 09:26] shane-tomlinson opened #6493 "Failing functional tests on teamcity - OAuth email first"
[The change on fxa-dev to enable signin confirmation for new accounts the default](https://github.com/mozilla/fxa-dev/commit/994ca44e1f221ffd1db5cd17deb7e8efabe82a4c) caused the tests against [latest to bust on teamcity](https://tc-test.dev.lcip.org/viewLog.html?buildId=41576&tab=buildResultsDiv&buildTypeId=fxa_LatestFirefoxBetaTests) because the tests do not expect signin confirmation.

[2018-08-24 09:33] shane-tomlinson commented on #6487
@vladikoff - did you `npm install`? I saw that when using the old version with the new code, here's what i get now:

Creating Firefox profile...
Listening on localhost:9090 (ws 9077)
Tunnel started

‣ Created remote session firefox on darwin 17.7.0 (6e115d16-e202-5140-8c54-5c4f9dc11458)
~ firefox on darwin 17.7.0 - oauth email first - signup (grep)
~ firefox on darwin 17.7.0 - oauth email first -

[2018-08-24 09:34] shane-tomlinson commented on #6182
re-opening, it's still there: https://tc-test.dev.lcip.org/viewLog.html?buildId=41576&tab=buildResultsDiv&buildTypeId=fxa_LatestFirefoxBetaTests

[2018-08-24 09:38] shane-tomlinson commented on #6489
Dup of #6493 which has more context.

[2018-08-24 10:36] hritvi opened #6494 "Accounts page takes time to load"
https://accounts.firefox.com/settings takes some time to load even after the site is loaded.
We can add a preloader to fix that.
![fxa](https://user-images.githubusercontent.com/32164618/44580442-8e1e3c00-a7b7-11e8-85e7-cd0470ae83c3.gif)

[2018-08-24 11:38] shane-tomlinson commented on #6494
I believe this is a dup of https://github.com/mozilla/fxa-content-server/issues/3374

[2018-08-24 11:49] hritvi commented on #6494
Oh i see. But still the issue is not resolved yet. Was'nt this [PR](https://github.com/mozilla/fxa-content-server/pull/3564) supposed to resolve the issue?

[2018-08-24 12:09] SorinaFlorean opened #6495 ""Password reset" success message is displayed when using an invalid code"
Environment:
Win10, Stage server - Train 119
Prerequisites: Account recovery is enabled.

Steps to reproduce:
1. From Sign In page, tap on "Forget password?";
2. Go to email and choose "create new password";
3. Enter an invalid recovery key.

Actual results: when tapping on "Confirm recovery key" option the message is displayed "Password reset successfully. Sign in to continue." even if the key is

[2018-08-24 12:18] SorinaFlorean commented on #6440
This is still reproducible on Train 119.

[2018-08-24 12:26] vladikoff commented on #6493
@shane-tomlinson do we need the same setting flipped in stage?

[2018-08-24 12:26] #6489 closed

[2018-08-24 12:44] sv-ohorvath commented on #6326
Verified as fixed on Train-119. Thank you!

[2018-08-24 12:45] #6326 closed

[2018-08-24 12:59] vbudhram commented on #6492
@SorinaFlorean This definitely should not have appeared. Assigning myself for a fix this train.

[2018-08-24 13:21] SorinaFlorean opened #6497 "Enhancement: only one email when the password is changed"
Environment:
Train 118, stage server

Steps to reproduce: reset the password using the recovery key. Go to email.

Actual results: 2 emails are received, one informing that the password was changed using recovery key and one email that the password was changed.

Expected: only one email received, that the password was changed using the recovery key.
The other email is more accurate for the times w

[2018-08-24 13:28] vbudhram commented on #6492
From slack wit sorina:

* I wasn't able to reproduce this on stage because I couldn't login with Pocket there
* On stage when using sync account with recovery key enabled, but resetting without recovery key, does not show the button

[2018-08-24 13:32] SorinaFlorean opened #6498 "Add "recovery key previously generated" message where applicable"
If we generate a new recovery key when we change the password or from Manage account page, when we go to email and choose "create new recovery key" an "unexpected error" message is displayed. And the user is not informed that the key was already generated.

[2018-08-24 13:49] vbudhram commented on #6495
@SorinaFlorean I am unable to reproduce this. When the `Invalid recovery key` error is displayed, the page does not transition to Sign-in page. I tried submitting multiple invalid keys as well with no luck. Is there an extra step that I might be missing?

[2018-08-24 13:55] vbudhram commented on #6498
@SorinaFlorean Thanks for report! I updated this to be a bug because we should show a proper error message for this.

[2018-08-24 13:59] shane-tomlinson commented on #6493
If we run the functional tests against stage, yeah.

[2018-08-24 16:57] #4866 closed

[2018-08-24 16:57] #5354 closed

[2018-08-25 23:52] ShivangiKakkar commented on #6284
Hey! @ryanfeeley @shane-tomlinson
It's my first time contributing here, I would like to try this one out if it qualifies for a good first bug.
I find this issue an interesting one to start with :)

[2018-08-26 10:26] hritvi commented on #6439
@shane-tomlinson I have made a PR for the issue. But I had to stop the server with <code>killall node</code>. While searching for stop script in package.json, I found that it does not have any stop script written. Should I file an issue for that or am I missing something?

[2018-08-27 08:45] shane-tomlinson commented on #6439
How are you running the servers? If using `npm start` from the content-server directory, all you have to do is hit CTRL-C in the console with the server. If you are using [fxa-local-dev](https://github.com/mozilla/fxa-local-dev), the `pm2` utility is used to control all interactions with all the servers, to stop all the servers you can do a `pm2 kill`. fxa-local-dev [has pretty good pm2 usage docs

[2018-08-27 08:46] shane-tomlinson commented on #6494
Looks like that's broken again.

[2018-08-27 08:50] hritvi commented on #6439
I started the server using <code>npm run start-remote</code> and even after CTRL-C the server was running on port 3030

[2018-08-27 09:14] shane-tomlinson commented on #6439
Ohh, start-remote is one I hadn't considered. I'll have a look, there's a good chance you found a bug!

[2018-08-27 09:26] hritvi commented on #6439
May I resolve this bug?

[2018-08-27 09:29] shane-tomlinson commented on #6439
You can, if you get stuck let me know!

[2018-08-27 12:09] hritvi commented on #6439
I suppose writing a stop script would do the task.
Could you explain me in brief what does this [commit](https://github.com/mozilla/fxa-content-server/commit/8fc2b8cbd0be97b12a2b1d0f7a688f38016f003f) does? Thanks in advance.

[2018-08-27 13:12] shane-tomlinson commented on #6439
A stop script isn't really needed, rather the [start script is out of date](https://github.com/mozilla/fxa-content-server/blob/8aa7f7154fc3f816b71ef2321bf60038b68b88a0/scripts/run_remote_dev.sh#L10). We no longer use `grunt sass` and `grunt watch`, so that line can be removed.

On lines 7, the `& MH=$!` is only there to put the server process in the background so that `grunt sass watch` can be cal

[2018-08-27 13:55] #6493 closed

[2018-08-27 14:09] shane-tomlinson commented on #6284
@ShivangiKakkar - I think all that should need to be done is in the .scss files, change references of `spinnergrey` to `spinnerlight`, I haven't looked to know for sure though. If you run into any problems please let me know!

[2018-08-27 15:55] ShivangiKakkar commented on #6284
Thanks a lot! :) @shane-tomlinson

[2018-08-27 15:59] ShivangiKakkar commented on #6284
@shane-tomlinson
I am facing this issue regarding `Sign in`.

<img width="992" alt="screen shot 2018-08-27 at 7 36 37 pm" src="https://user-images.githubusercontent.com/35342019/44670245-c2a42900-aa3f-11e8-9f98-f90c6c6df8c8.png">
Would you please guide me through this?

[2018-08-27 17:11] davismtl opened #6504 "Create icon for Lockbox in Device and Service Manager"
Currently, in device manager, Lockbox looks like a desktop or mobile device. Can we consider giving it its own icon like AMO?

![screen shot 2018-08-27 at 10 09 38](https://user-images.githubusercontent.com/19537086/44674179-98bc1980-a9e1-11e8-9266-ca484a90aab3.png)

[2018-08-27 17:12] davismtl commented on #6504
CC @ryanfeeley

[2018-08-27 17:13] vladikoff commented on #6504
@davismtl we have one https://github.com/mozilla/fxa-content-server/blob/master/app/images/icon-service-lockbox.svg

[2018-08-27 18:11] davismtl commented on #6504
Oh great. Is this issue a duplicate then? Or leave it open to roll it out?

[2018-08-27 18:33] #6439 closed

[2018-08-27 20:44] rfk commented on #6504
When Lockbox finishes transitioning over to use the OAuth flow they should start getting this icon by default; right now they use the same login flow as desktop so they get the same icon.

I believe the current beta uses OAuth, @davismtl could you try it out and see if it behaves as you expect?

[2018-08-27 20:54] shane-tomlinson opened #6506 "Create an icon for TVs in Device and Service manager"
With Firefox on the Fire TV, we should have a TV icon in the Device and Service manager. Follow on from #6503.

[2018-08-27 21:04] changecourse opened #6507 "Revised Account Handling for Email Address in Sign-in Screens"
Following up on all of the great work that @shane-tomlinson did in #6083, I think one approach needs to change slightly for what users are displayed with on the sign-in screen, as it relates to avatar and email address.

I've mocked up the following set of designs to illustrate how a bit of functional logic can improve what is shown, and when:

<img width="985" alt="screen shot 2018-08-27 at 2 56

[2018-08-28 13:39] devinreams commented on #6504
I see it! 🤘

![d5cc8782-6c26-435f-aaf2-0fa71e818612](https://user-images.githubusercontent.com/49511/44726682-83082c00-aa95-11e8-81e6-ca299ce0cbc3.jpeg)

[2018-08-28 13:40] devinreams commented on #6504
@changecourse is this (still) the proper rounded version of the lock icon? 👆

I know it shifted slightly but don’t quite have the eye to tell.

[2018-08-28 14:49] #6018 closed

[2018-08-28 15:34] changecourse commented on #6396
One potential approach for handling this has been created with #6507

[2018-08-28 15:49] philbooth commented on #6507
@shane-tomlinson can you triage out of backlog if that's the wrong place?

[2018-08-28 15:59] philbooth commented on #6494
@shane-tomlinson can you triage out of the backlog as necessary?

[2018-08-28 16:27] changecourse commented on #6504
Double checked the source, and the corners for that icon are good.

There's definitely a mix in terms of levels of fidelity when it comes to the various icons presented in the Devices list, which would be worth considering standardization in a follow-up issue.

[2018-08-28 16:30] #6504 closed

[2018-08-28 17:35] vladikoff commented on #6487
Seems fine on a different machine, closing for now

[2018-08-28 17:35] #6487 closed

[2018-08-28 19:35] #6314 closed

[2018-08-29 21:00] vbudhram commented on #6435
This is no longer failing! Fixed in https://github.com/mozilla/fxa-content-server/pull/6490

[2018-08-29 21:00] #6435 closed

[2018-08-29 21:06] rfk opened #6512 "Don't prepopulate password after a login is blocked"
Migrated from https://github.com/mozilla/fxa-auth-server/issues/2605

If a user is blocked because they had a bad password, they need to submit their password again after they use an unblock code.

We, however, prepopulate the bad password in the login field making it too easy for users to submit the bad password again.

This problem was initially documented here:
mozilla-lockbox/lockbox-ios#662

[2018-08-29 23:13] jrgm opened #6513 "Is tests/tools/firefox_profile.js passing the config to firefox_profile_creator.js in a form the latter expect?"
@vladikoff. I happened to notice something I don't get, so I'll ask.

At https://github.com/mozilla/fxa-content-server/blob/master/tests/tools/firefox_profile.js#L13

the config is JSON.stringify'd twice and put on the command line for

https://github.com/mozilla/fxa-content-server/blob/master/tests/tools/firefox_profile_creator.js#L13

to JSON.parse once, getting a `String` value.

At https://git

[2018-08-30 00:11] jrgm commented on #6513
.. or maybe this is just insulating it from shell interpolation?

[2018-08-30 12:31] hritvi commented on #6497
Can I work on this issue?

[2018-08-30 19:20] ryanfeeley commented on #6235
@shane-tomlinson OK, I re-exported from Sketch into Illustrator, clean it up as much as possible, re-exported and optimized. This file is so small and simple, I can't imagine there is any weirdness with it.
[password-show.svg.zip](https://github.com/mozilla/fxa-content-server/files/2337589/password-show.svg.zip)

[2018-09-01 14:03] ShivangiKakkar commented on #6284
@shane-tomlinson Hey! I need your help regarding this:
- If I change the references of `spinnergrey` to `spinnerlight`, the color of spinner changes to `blue` from `grey`.
- I inspected through the spinner images, there is no image for `white` spinner, there are only `blue` and `grey` spinner images. Do I need to add one(white one)? What do you suggest?
Thanks in advance :)

[2018-09-03 10:04] ShivangiKakkar commented on #6491
@SorinaFlorean Hey I would like to work on this issue. May I?

[2018-09-04 05:07] hritvi commented on #6497
Should I wait for the [PR](https://github.com/mozilla/fxa-js-client/pull/283/files) to get merged? Or may I pull [add-accountResetWithRecoveryKey](https://github.com/mozilla/fxa-js-client/tree/add-accountResetWithRecoveryKey) and then start my work?

[2018-09-04 07:00] hritvi commented on #6497
Isn't the function [here](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/models/account.js#L1414) also needs to be changed to accept the options param?

[2018-09-04 13:34] #6440 closed

[2018-09-04 15:51] vladikoff commented on #6512
from mtg: remove the autofill after you used the unblock code

[2018-09-04 16:26] vbudhram commented on #6284
@ShivangiKakkar You are right there are no images for a white spinner.

@ryanfeeley I took a stab a creating a white spinner based on the `spinnerlight.svg`. Does this look good?

[spinnerwhite.svg.zip](https://github.com/mozilla/fxa-content-server/files/2349409/spinnerwhite.svg.zip)
![screen shot 2018-09-04 at 12 25 58 pm](https://user-images.githubusercontent.com/1295288/45044303-bcb0d800-b03d-1

[2018-09-04 17:13] ryanfeeley commented on #6284
@vbudhram Looks great, but shouldn't this something we can change with CSS? My SVG/CSS knowledge is lacking, granted.

[2018-09-04 19:34] ShivangiKakkar commented on #6284
@ryanfeeley @vbudhram I can try changing the color with CSS but using a different CSV would surely be an easier solution.

[2018-09-04 20:35] irrationalagent commented on #6371
Update:  DE looks good to go, en results holding strong, :shipit: IMO

[2018-09-04 20:37] rfk commented on #6371
analyzed!

[2018-09-04 20:54] vladikoff commented on #6448
@shane-tomlinson @ryanfeeley what remains to be done for this bug?

[2018-09-04 21:01] vladikoff commented on #6413
@shane-tomlinson could we move this to 122?

[2018-09-04 21:03] vladikoff commented on #6513
we can refactor this in the future, we don't need to spawn a process for the profile anymore

[2018-09-04 21:03] #6513 closed

[2018-09-05 03:39] rfk commented on #6371
Whoops, didn't see this in the meeting earlier, re-opening.

[2018-09-05 03:40] rfk opened #6516 "Enable password-strength experiment for 50% of users in some RTL locale"
As a final check on the performance of our password-strength experiment, let's do a trial run in some RTL locales.  If it's a simple matter of adjusting experiment config, we can target this for a point-release of train-120.

[2018-09-05 03:40] rfk commented on #6371
From meeting, the final analysis we want to do is to check performance in RTL locales, see https://github.com/mozilla/fxa-content-server/issues/6516 about enabling that in experiment config.

[2018-09-05 17:49] vbudhram commented on #6498
from mtg: Prioritizing this for next train

[2018-09-06 11:45] shane-tomlinson commented on #6448
all of the suggestions [from here down](https://github.com/mozilla/fxa-content-server/issues/6448#issuecomment-413675245).

[2018-09-06 12:17] shane-tomlinson opened #6520 "Remove DataDog stats?"
There is a long term goal to stop using DataDog. Should the content server stop reporting events to DataDog to help force the issue and get us fully moved over to re:dash and amplitude?

[2018-09-06 13:00] shane-tomlinson commented on #6445
The newest convict has a problem where an error is thrown if Object type has a default value that contains a property with a period. See https://github.com/mozilla/node-convict/issues/271

[2018-09-06 13:00] shane-tomlinson commented on #6445
blocked by mozilla/node-convict#271

[2018-09-06 16:04] jens1o commented on #6491
@philbooth What would be need to be done here?

[2018-09-06 17:23] ryanfeeley opened #6524 "Firefox slow to become verified"
I noticed that Firefox (release) appears to be much slower to convert to verified state after email verification than it previously was. Now long enough for users to think that it didn't work.

STEPS TO REPRODUCE
1. Launch a fresh profile and register an account
1. Verify the email in any browser or device
1. You will see the Connect Another Device page

EXPECTED RESULTS
* Firefox within 3 seconds

[2018-09-06 20:46] rfk commented on #6524
May be related to devices failing to register a push endpoint:

  https://bugzilla.mozilla.org/show_bug.cgi?id=1489294

(Although I've only seen the above bug in Nightly, not Release).  @ryanfeeley any chance you have some about:sync-log logs from the device where this failed, which you could share privately for me to check whether it's the same issue?

[2018-09-07 00:07] rfk commented on #6524
If that is the cause, then it may also indicate a bug in Firefox: if it fails to register its push endpoint, then it should poll for verification status more aggressively so that it doesn't take a minute to detect.

[2018-09-07 08:35] sv-ohorvath opened #6525 "iOS - 2FA doesn't work after a password change"
Server:
Staging - Train 120
NR on Production.

STR:
1. Log in on an iOS device and on desktop with the same account.
2. Enable 2FA.
3. Reset/change the password in Manage account, from the desktop browser.
4.  Re-connect to sync on the iOS device.

Expected result:
2FA code is required to complete the login. The user is logged in.

Actual results:
2FA code isn't verified. No success/error message

[2018-09-07 08:54] sv-ohorvath opened #6526 "Verify your account" message takes longer to disappear than before"
Server:
Staging & Production
Win 10 x64.

STR:
1. Log in with a sync account on desktop.
2. Open the email link to verify the account.
3.  Wait for the "verify your account" message to disappear in the hamburger menu & in about:preferences.

Expected results: The warning used to disappear almost instantly after the account verification.

Actual results:
It takes several seconds / a minute for the

[2018-09-07 09:16] shane-tomlinson commented on #6526
Thanks for the report @sv-ohorvath, this was also reported in https://github.com/mozilla/fxa-content-server/issues/6524 where there is a bit more discussion. Closing this one.

[2018-09-07 09:16] #6526 closed

[2018-09-07 09:32] sv-ohorvath commented on #6440
Verified as fixed on Stage server - Train-120.

[2018-09-07 10:04] shane-tomlinson commented on #6524
cc @mhammond

[2018-09-07 10:16] shane-tomlinson opened #6528 "email first flow does not handle bounced emails"
See https://circleci.com/gh/mozilla/fxa-content-server/12256?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

blocks https://github.com/mozilla/fxa-content-server/pull/6527

[2018-09-07 10:38] shane-tomlinson opened #6530 "email first flow does not block firefox.com domains"
Noticed this while debugging #6528

https://github.com/mozilla/fxa-content-server/blob/88fa20fd157637f7518498bc65d998aa2649c15a/app/scripts/views/sign_up.js#L143

blocks #6125
blocks #6527

[2018-09-07 10:56] shane-tomlinson commented on #6516
fixed by #6521

[2018-09-07 10:56] #6516 closed

[2018-09-07 12:31] vladikoff commented on #6530
dup of https://github.com/mozilla/fxa-content-server/issues/6027

[2018-09-07 12:31] #6530 closed

[2018-09-07 12:32] vladikoff commented on #6027
blocks #6125
blocks #6527

[2018-09-07 14:49] vbudhram commented on #6525
Hey @sv-ohorvath Thanks for report!

I wonder if we should revoke all existing sessions when 2FA is added to an account. This should in theory require all accounts to re-authenticate.  Additionally, iOS should also have surfaced these sync errors to the user or logged them out as well.

[2018-09-07 14:53] vbudhram commented on #6525
@sv-ohorvath To confirm, in Step 2, you enabled 2FA on the desktop device correct?

[2018-09-07 14:56] sv-ohorvath commented on #6525
@vbudhram Yes, that is correct.

[2018-09-07 15:07] vbudhram commented on #6399
@irrationalagent I re-ran https://sql.telemetry.mozilla.org/queries/57758/source#150379 and limited it to just September and it appears to have a roughly 5% better success rate than previous month. However, it is still significantly lower than android and other clients.

When testing on my iOS device, there does appear to be 2-3 second delay after submitting the 2FA code where the verify button is

[2018-09-07 15:37] shane-tomlinson opened #6534 "email first flow does not check for common errors in the domain"

[2018-09-10 01:10] rfk commented on #6524
@ryanfeeley has this improved now that we fixed a hotfix for the device registration issue?

[2018-09-10 01:11] rfk commented on #6524
It seems to be working correctly in a quick test I did just now, so I'm going to tentatively declare this fixed.

[2018-09-10 01:11] #6524 closed

[2018-09-10 12:27] #6497 closed

[2018-09-10 15:41] vladikoff opened #6535 "Add mozilla.org accounts to allowed CORS origins"

[2018-09-10 16:04] shane-tomlinson commented on #6371
Blocked waiting for Arabic metrics.

[2018-09-10 16:08] shane-tomlinson opened #6536 "teamcity failing functional test - [recovery code] can regenerate recovery code when low"
See https://tc-test.dev.lcip.org/viewLog.html?buildId=42226&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog#_focus=650

It looks like the `fxaccounts:login` message is not being received by the browser.

cc @vbudhram - you had some ideas in IRC what might be causing this, most likely being a config change is needed on latest?

[2018-09-10 16:20] shane-tomlinson opened #6537 ""The operation is insecure" errors spiked w/ Fx 62 release"
See https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/382415/

It appears to be blowing up on the What's New page in storage.js, where we call `win.localStorage`. Could this be the cause of https://bugzilla.mozilla.org/show_bug.cgi?id=1489306?

[2018-09-10 19:53] hritvi commented on #6528
Can I work on this issue @shane-tomlinson? I suppose #6529 is very similar to this so can I take both of them? Thanks :smile:

[2018-09-10 21:34] stephaniehobson commented on #6537
Detecting availability of localStorage can be annoying. The feature test can report support in conditions when the browser is blocking it's use. I solved some errors on MDN by including this test instead of a more simple feature test: https://mathiasbynens.be/notes/localstorage-pattern

That might be helpful if localStorage does end up being the culprit.

[2018-09-10 23:26] trooper91 opened #6540 "grunt installed: Loading chunk vendors~fxaClient failed"
i am trying to set up a fxa-content-server from scratch but running in this problem.
when installing grunt and nothing else shown in the error messages the server is running and i see the website. but when i try to register an account i get the error: `Loading chunk vendors~fxaClient failed. (error: http://127.0.0.1:3030/bundle/vendors~fxaClient.bundle.js)`

when i start to minimize the error mess

[2018-09-11 06:17] philbooth commented on #6540
@trooper91 all of the dependencies you need should already be listed in `package.json`, so if you just do a plain `npm i` in your `fxa-content-server` directory that should grab everything you need. Unless there are errors, of course. Do you get any errors when you do a clean `npm i`?

[2018-09-11 09:39] shane-tomlinson commented on #6535
@vladikoff - it looks like www.mozilla.org is already added: https://github.com/mozilla-services/cloudops-deployment/blob/ed2b0aa51e3a05c80a492f3e532b86ac28c6497b/projects/fxa/puppet/yaml/type/fxa.content_server.prod.yaml#L5. Do we need to add just `mozilla.org`?

[2018-09-11 09:41] shane-tomlinson commented on #6535
@stephaniehobson predicts the What's New change to use the iframeless flow will be shipped to prod today (Sep 11), it'd be good if we can get this figured out before they make the update.

[2018-09-11 11:33] trooper91 commented on #6540
no  errors while installing, just warnings

but i dont think these warnings are related to the problem

when i am running `npm test` i get an error:

i am using debian 9, npm v5.6 and node v8.11.4
with node v10 i had problems installing fxa-auth-server

[2018-09-11 12:03] philbooth commented on #6540
Can you update your version of npm using `npm install -g npm@6` then try again?

[2018-09-11 14:41] ryanfeeley commented on #6399
@vbudhram Definitely use our button spinner if the delay is longer than a second. This is loosely spelled out on our designing for performance guidelines. https://design.firefox.com/photon/introduction/design-for-performance.html

[2018-09-11 15:32] vbudhram commented on #6536
Verified fixed against latest

[code]

[2018-09-11 15:32] #6536 closed

[2018-09-11 18:43] jrgm opened #6542 "[intern/marionette] functional tests fail with Fx@63.0 and up"
https://tc-test.dev.lcip.org/viewLog.html?buildId=42352&buildTypeId=fxa_LatestFirefoxBetaTests&tab=buildLog#_focus=481

node ./tests/intern.js --suites=all --fxaAuthRoot=https://latest.dev.lcip.org/auth/v1 --fxaContentRoot=https://latest.dev.lcip.org/ --fxaOAuthApp=https://123done-latest.dev.lcip.org/ --fxaUntrustedOauthApp=https://321done-latest.dev.lcip.org/ --fxaEmailRoot=http://restmail.net --

[2018-09-12 04:00] rfk commented on #6464
@shane-tomlinson given that @vladikoff has a working demo app with a built-in scanner, and that it's possible to use a third-party scanner to trying this out, is there any value in keeping this issue open or should we just close it?

[2018-09-12 04:06] rfk commented on #5990
This is still tagged for train-120, do we intend to make a point-release or should it be bumped?

[2018-09-12 07:00] shane-tomlinson commented on #6464
🗡

[2018-09-12 07:00] #6464 closed

[2018-09-12 08:48] shane-tomlinson opened #6543 "easteregg is no longer displayed"
the fxa-easteregg is still in the repo but is not displayed in the console.

I'm alright to remove it, but I'm also alright with it staying, as long as it's displayed. I don't like it hanging out in the repo without it being displayed though.

[2018-09-12 14:37] vladikoff commented on #6535
This was fixed

[2018-09-12 14:37] #6535 closed

[2018-09-12 14:45] vladikoff commented on #6063
🗡 Closing as a WONTFIX for now

[2018-09-12 14:45] #6063 closed

[2018-09-12 14:53] vladikoff commented on #5743
https://bugzilla.mozilla.org/show_bug.cgi?id=1425351#c5

[2018-09-12 14:53] #5743 closed

[2018-09-12 14:56] vladikoff commented on #6162
Closing for now, didn't see any reports of this

[2018-09-12 14:56] #6162 closed

[2018-09-12 14:59] vladikoff commented on #6543
I say just remove it

[2018-09-12 19:28] vbudhram commented on #5990
@rfk I still intend to make a point release for this. Confirmed in slack that Lockbox is good to proceed with enabling only for Mozilla users.

[2018-09-13 04:23] rfk opened #6546 "Implement a "hybrid pairing authority" broker"
As described in our implementation plan [1], we want to implement the Desktop side of the Fenix pairing flow using a hybrid approach.  There will be native code in Desktop [2] which communicates with Fenix over the WebSocket channel and which handles key material, but OAuth authorization UI will remain in web content on https://accounts.firefox.com.

To achieve this, we'll need to create a special

[2018-09-13 13:55] #6498 closed

[2018-09-13 20:19] vbudhram commented on #6495
@SorinaFlorean Are you still experiencing this issue?

[2018-09-14 09:46] shane-tomlinson opened #6550 "[pw-strength] fully roll out to all LTR languages, 50/50 in Arabic."

[2018-09-14 13:56] SorinaFlorean commented on #6495
@vbudhram yes, tested today and the issue is still displayed. On one monitor the green message is displayed, and on the second one, the invalid password is typed.

[2018-09-14 13:58] SorinaFlorean commented on #6492
I will investigate more when the stage - train 121 is available for testing. Tried to reproduce today but the field wasn't displayed. I will close this and if is reproducible on Production/stage I will open again.

[2018-09-14 13:58] #6492 closed

[2018-09-14 14:08] SorinaFlorean opened #6553 "iOS - Can't download recovery key"
Environment:
iPhone SE 11.0.1

STR:
1. Go to Manage account -> Account recovery and Generate a recovery key;
2. Tap on "download" button.

Actual result: the .txt file isn't downloaded and the button is not responsive.
Expected results: the file is downloaded.

[2018-09-14 16:08] shane-tomlinson opened #6554 "Should we check for .only in mocha tests when linting?"
I have made the mistake of committing a `.only` within the unit tests a couple of times over the past month. Should we prevent ourselves from committing .only in the app/tests directory?

[2018-09-14 16:09] shane-tomlinson commented on #6550
fixed by #6551, closing.

[2018-09-14 16:09] #6550 closed

[2018-09-14 16:16] #6027 closed

[2018-09-14 16:47] shane-tomlinson opened #6556 "Font size in Arabic appears smaller than English"
One of the folks in the office who speaks Arabic offered the feedback that the font size in Arabic seems significantly smaller than English, and that would cause trouble for sight impaired users.

### Arabic

<img width="731" alt="screen shot 2018-09-14 at 17 40 29" src="https://user-images.githubusercontent.com/848085/45563702-125b6080-b846-11e8-8e42-c6ba90647308.png">

### English
<img width="77

[2018-09-14 22:05] ShivangiKakkar commented on #6284
@vbudhram  Sir, Can you please guide me towards the solution in order to close this issue.  Thanks :)

[2018-09-17 12:46] shane-tomlinson commented on #5990
@vbudhram - can this be closed now?

[2018-09-17 13:19] vbudhram commented on #5990
Yea, this has been merged and I tested with Lockbox App 👍🏽

[2018-09-17 13:19] #5990 closed

[2018-09-17 15:11] vbudhram commented on #6399
@irrationalagent Is it possible to see how many [invalid codes](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/auth-errors.js#L472) are entered for iOS users before a successful login when compared to other platforms?

@ryanfeeley There seems to be some inconsistencies with the spinner when testing locally (no delay, and spinner works) vs in production (intermittent dela

[2018-09-17 15:35] #6520 closed

[2018-09-17 16:12] shane-tomlinson commented on #6554
Is there a grunt task for this?

[2018-09-17 16:28] philbooth commented on #5965
I think we can close this. If anyone disagrees, feel free to re-open.

[2018-09-17 16:28] #5965 closed

[2018-09-17 16:33] philbooth commented on #4610
Let's accept we're never going to fix this and move on. Closing.

[2018-09-17 16:33] #4610 closed

[2018-09-17 17:33] irrationalagent commented on #6399
@vbudhram I don't see that 1054 error code in the re:dash flow data, probably because it is coming from the content server. [would any of the auth server events like this](https://github.com/mozilla/fxa-auth-server/blob/67b70534d0e712a8f34515a94e55fe3a935e503b/lib/error.js#L777) be usable for the same purpose, since those get to re:dash? [you can see a list of the events related to totp here](http

[2018-09-17 18:22] vbudhram commented on #6399
@irrationalagent Looks like that endpoint doesn't return an explict error when it is an invalid code, it return `false` and logs `totpToken.unverified`, ref https://github.com/mozilla/fxa-auth-server/blob/67b70534d0e712a8f34515a94e55fe3a935e503b/lib/routes/totp.js#L333.

If a user got `route./session/verify/totp.400.155`, this means that somehow they are trying to verify a code but they never crea

[2018-09-17 19:23] davismtl opened #6559 "Make list of recovery codes clearer"
Currently, it's not obvious if there are 4 or 8 recovery codes for TOTP. Let's enumerate them 1-8 to make it more obvious. (or something like that)

[2018-09-17 20:13] ryanfeeley commented on #6559
I ❤️ Unicode.

CURRENT:
<img width="222" alt="screen shot 2018-09-17 at 4 07 47 pm" src="https://user-images.githubusercontent.com/68213/45647657-665b8480-ba94-11e8-81e4-1db2f1d03e44.png">

PROPOSED:
<img width="224" alt="screen shot 2018-09-17 at 4 10 53 pm" src="https://user-images.githubusercontent.com/68213/45647673-6e1b2900-ba94-11e8-86ff-fcf6375d5e34.png">

Font size: 1.4em

➊
➋
➌
➍
➎
➏
➐
➑

[2018-09-17 20:20] vladikoff commented on #6559
I wonder if some machine renders in such a way or if you copy paste it and your code will now be `1HTBXGWYWMH` (1 coming from the unicode part).

[2018-09-17 20:26] irrationalagent commented on #6399
@vbudhram [here's a chart looking at `totpToken.unverified`](https://sql.telemetry.mozilla.org/queries/58981/source#152784) for the percentages, the denominator is the number of flows hitting the totp input screen during signin. It doesn't appear that `iphone` is that much worse than windows 10 or android.

[2018-09-17 20:37] vladikoff commented on #6371
from mtg: ~4% less well on AR locale. @shane-tomlinson should we roll this out to 100% everywhere?

[2018-09-17 20:38] vladikoff commented on #6371
@shane-tomlinson move this out of blocked if it's not blocked anymore

[2018-09-17 20:44] ryanfeeley commented on #6559
I’m no expert but if done as an ordered list with :before pseudoclass content, you might be able to get around that. https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns

[2018-09-17 20:44] vladikoff commented on #6105
from mtg: "not doing this for now in Q4", @shane-tomlinson reopen if we wanna work on this still?

[2018-09-17 20:44] #6105 closed

[2018-09-18 02:34] rfk opened #6561 "Add support for /.well-known/change-password"
Ben pointed out this neat feature of the iCloud Keychain where, if you go to change a password for a site through the keychain UI, it will load up `/.well-known/change-password` on that site.  This gives the site a change to direct the user to the correct UX for changing their password, as described here:

  https://twitter.com/rmondello/status/1009495517494173697?s=20

GitHub is an example of a s

[2018-09-18 09:23] shane-tomlinson opened #6562 "Enable PW strength experiment to 100% of users"

[2018-09-18 09:31] shane-tomlinson opened #6564 "Remove password strength "control" UI"
Follow on from #6563.

Now that we have decided `designF` is the winner, we should rip out the original `control` UI and code.

[2018-09-18 13:06] #6562 closed

[2018-09-18 14:10] shane-tomlinson commented on #6371
No longer blocked. Rolled out to 100% everywhere in https://github.com/mozilla/fxa-content-server/pull/6563. Closing!

[2018-09-18 14:10] #6371 closed

[2018-09-18 15:24] ryanfeeley opened #6566 "Corner radius mismatch on send button"
Looks like the blue button on the CAD is not rounded perfectly. ![screen shot 2018-09-18 at 11 19 18 am](https://user-images.githubusercontent.com/68213/45698115-4e880d00-bb35-11e8-9c77-aebe4b24db36.png)

[2018-09-18 15:26] changecourse opened #6567 "Increase Size of Email Verification Code (in email)"
It would be helpful (and we have the real estate) to increase the font size of the 6 digit, numeric verification code, so it's even easier to find, select, and copy between an app instance and a corresponding mail client.

[2018-09-19 05:55] shane-tomlinson commented on #6105
Updated designs: https://app.zeplin.io/project/5b870c13b52a0b16a5a3c8fa/dashboard

[2018-09-19 09:04] SorinaFlorean opened #6568 "TOTP: only 3 recovery codes displayed"
Environment:
Stage - Train 121
Platform: Android, Win, iOS

Steps to reproduce:
1. Go to Manage Account and enable Two-step authentication;
2. Pay attention to recovery codes.

Expected results: 8 recovery codes are displayed.
Actual results: 3 codes are displayed.

![screenshot_20180919-112430_firefox nightly](https://user-images.githubusercontent.com/24588037/45743182-2c10f500-bc04-11e8-9745-518

[2018-09-19 11:15] SorinaFlorean opened #6569 "Enhancement: add name in email when reset/change password for Add-ons/Pocket"
Environment:
Platforms: Android, iOS, Win
Stage and production

Steps to reproduce: change password for a Firefox account used to login into Add-ons/Pocket site.

Actual result: the emails are received and the password is changed. The emails have the same format as when we change for Firefox account.

Expected results: add Add-ons/Pocket in the title of the email, or/and in the email. I think that

[2018-09-19 13:38] vbudhram commented on #6568
@SorinaFlorean Thanks for the find, however this is actually working as expected for the stage environment. We had to update it to generate 3 codes to get some of our integration tests working. However, it will still generate 8 in production.

[2018-09-19 13:38] #6568 closed

[2018-09-19 13:46] vbudhram commented on #6559
@ryanfeeley For recovery key, we used a dotted line around the text. Might be possible to do that here?

<img width="407" alt="screen shot 2018-09-19 at 9 44 51 am" src="https://user-images.githubusercontent.com/1295288/45757205-d0893c00-bbf0-11e8-8e5e-ff8c0549f453.png">

[2018-09-19 14:30] vbudhram commented on #6553
Looked into this and appears that downloading/printing are not properly supported the way FxiOS launches content-server in webview, ref https://github.com/mozilla/fxa-content-server/pull/6232.

For TOTP, we completely removed those button options on iOS. For recovery keys, those are the only options available.

@ryanfeeley At a higher level, TOTP and Recovery Key don't have the same saving options

[2018-09-19 14:37] ryanfeeley commented on #6559
This works too.

It sadly introduces my least favourite Firefox rendering choice – improper corners. https://www.impressivewebs.com/comparison-css-border-style/

Would love to see real corners on these.

[2018-09-19 14:41] ryanfeeley commented on #6553
Stick with TOTP style as it works better with 3 or more and we're also using it on profile picture upload.

[2018-09-19 15:02] #6235 closed

[2018-09-19 15:11] #6567 closed

[2018-09-20 14:24] SorinaFlorean opened #6571 ""Incorrect password" displayed if we change the password and then switch to primary email again"
Environment:
Platform: iOS, Android, Win10
Train 121

Steps to reproduce:
1. Add a secondary email (Manage account- Secondary email);
2. Make primary the secondary email;
3. Change the password;
4. Make secondary the primary email (switch between accounts);
5. Log out and Sign in again with the new password.

Expected results: the user is logged in.
Actual result: "Incorrect password" message is d

[2018-09-20 15:46] vbudhram commented on #6571
Hey @SorinaFlorean, I tried to reproduce this on our stage/local environment with no luck on iOS, OSX and windows.

Is there an extra step here that I might be missing? Possible to make a quick video of this?

[2018-09-20 15:51] shane-tomlinson opened #6572 "Add new password strength UI to password reset"
Self explanatory

[2018-09-20 15:52] shane-tomlinson opened #6573 "Add new password strength UI to password change"
Self explanatory

[2018-09-21 15:46] ryanfeeley commented on #6506
@shane-tomlinson Should this have a Fire or amazon logo on it?

[2018-09-24 11:04] philbooth opened #6574 "CWTS checkboxes are aligned all higgledy-piggledy in RTL locales"
<img width="467" alt="Screen shot showing misaligned checkboxes on the choose-what-to-sync screen in an Arabic locale" src="https://user-images.githubusercontent.com/64367/45948967-eda77b80-bff1-11e8-8d47-f78101076b6b.png" />

[2018-09-24 15:09] vbudhram commented on #6571
@SorinaFlorean Thanks! I was doing a change password through the setting page, from video you are doing a password reset. I'll try to reproduce again.

[2018-09-24 15:19] shane-tomlinson commented on #6506
@ryanfeeley - I think a generic TV would be great to start with. If you have one with a FireTV or Amazon logo, I'd take both. :D

[2018-09-24 15:56] shane-tomlinson commented on #6573
@shane-tomlinson to investigate how much effort this will be.

[2018-09-24 15:57] shane-tomlinson commented on #6572
@shane-tomlinson to investigate how much effort this will be.

[2018-09-24 19:31] ryanfeeley opened #6578 "Loading button adds unneeded height"
![devices](https://user-images.githubusercontent.com/68213/45974192-a7144a00-c00e-11e8-8064-dac47b22da37.gif)

STEPS TO REPRODUCE
1. Have devices connected to your Firefox Account
1. Log in to FxA settings go to Devices section
1. Click on Show button

EXPECTED RESULTS
* Button enters loading state
* Horizontal rule does not move

ACTUAL RESULTS
* Horizontal rule moves down

[2018-09-24 23:42] jrgm opened #6580 "[train-121] increase in `Invalid assertion` errors"
https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/3197376/

Ticked up with the release of train-121

[2018-09-24 23:43] jrgm opened #6581 "[train-121] increase of Unexpected error for lib/errors in importSearchParamsUsingSchema error"
https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/4744592/

Ticked up with release of train-121

[2018-09-25 14:16] SorinaFlorean opened #6582 "Feature request: if the Firefox account was compromised, find a way to inform the user"
This was a request from a user, you can follow the discussions here: https://twitter.com/Minkovsky/status/1044584458395901952.

[2018-09-25 14:27] shane-tomlinson commented on #6582
We can [send this email to users](https://github.com/mozilla/fxa-auth-server/blob/c50acaff75c2be2e7dd07796cff2ee200aed5761/lib/senders/templates/password_reset_required.txt#L1) if we detected their account was compromised.
We need to [ensure the flow still works](https://github.com/mozilla/fxa-auth-server/issues/2408)
because we haven't had to use it in a while.

It sounds like what the user is as

[2018-09-25 16:20] dannycoates opened #6584 "redirect when a request to /authorization contains an invalid email?"
Currently, when the `email` parameter is invalid and action is email the user is shown the "Bad Request" page. It'd be a bit nicer if they were just directed to the signup or signin page.

[2018-09-25 20:47] vladikoff commented on #6580
Seems like url is consistent, duration is short, so if I had to guess this is when users open /settings from prefs on desktop and fennec

[2018-09-26 07:59] shane-tomlinson commented on #6584
The same problem also occurs on the about:welcome page. We wouldn't send the user to /signin or /signup (one of my Q4 goals is to consolidate all flows to use email-first), but we could we could pre-fill the invalid email on the email-first page and say it's invalid.

I'm trying to figure out what repercussions that could have and whether it breaks any assumptions for other integrations. If it doe

[2018-09-26 09:07] shane-tomlinson commented on #6182
This has passed 5 times in a row now! Closing.

[2018-09-26 09:07] #6182 closed

[2018-09-26 10:35] #6574 closed

[2018-09-26 18:17] ryanfeeley opened #6593 "Make Replace recovery codes keyboard accessible"

[2018-09-26 18:20] ryanfeeley opened #6594 "Make profile picture selection keyboard accessible"
As tabbing seems to select items in the background, it doesn't look like I can select any of the avatar options except `esc` to close ![inaccessible-avatar](https://user-images.githubusercontent.com/68213/46100371-377d9680-c197-11e8-961d-7a8d39ef5005.gif)

[2018-09-27 19:29] davismtl opened #6599 "iOS Associated Domain Breaks Password Autofill in iOS 12"
We use associated domains for our emails to deeplink user back into Firefox after a login or registration email so we don't break our flow by passing them over to Chrome or Safari.

With the release of iOS 12, they added a password autofill feature. Due to this, any of our users that has accounts.firefox.com saved to a password manager will have it autofilled on every website because Apple is not

[2018-09-27 19:34] st3fan commented on #6599
I added some more detail about the second option in the Bugzilla bug. I don't think there is anything actually confidential about this bug so feel free to discuss here too if that is better.

[2018-09-30 07:01] mirabellette opened #6601 "Difficulty to run it without Docker"
Hello everyone,

In order to manage by my own the Firefox Authentication, I am installing the four micro services required to do it.:
- fxa-auth-db-mysql -> authdb.example.com
- fxa-auth-server -> auth.example.com
- fxa-content-server -> content.example.com
- fxa-oauth-server -> oauth.example.com
- fxa-profile-server -> profile.example.com

Moreover, I do not want to use Docker because I really wa

[2018-10-01 12:41] #6571 closed

[2018-10-01 13:19] shane-tomlinson commented on #6601
Hi @Mirabellette, in the last step where you do `NODE_ENV=production npm start`, try running `npm run start-production`. The [start-production](https://github.com/mozilla/fxa-content-server/blob/9312cc9a5f6e9ff5c2993cb4aded54b053aed2ed/package.json#L13) points to the correct config files to load the JS & CSS from dist.

The geodb error happens often if you are connecting to a local server or from

[2018-10-01 15:32] #6584 closed

[2018-10-01 16:02] shane-tomlinson commented on #6582
Closing as Lockbox and Monitor are already talking about doing this within their products and we have an account notification system already.

[2018-10-01 16:02] #6582 closed

[2018-10-01 18:27] vladikoff commented on #6370
same as the other one @rfk @eoger

[2018-10-01 19:44] garcharjay811 commented on #6566
I would like to work on this issue...

[2018-10-01 20:56] shane-tomlinson commented on #6397
Closing in favor of #6546

[2018-10-01 20:56] #6397 closed

[2018-10-01 20:58] vladikoff commented on #6599
from mtg: point release for 122?

[2018-10-01 21:09] shane-tomlinson commented on #5577
We've got this, closing!

[2018-10-01 21:09] #5577 closed

[2018-10-01 21:09] shane-tomlinson commented on #5758
We've got this, closing!

[2018-10-01 21:09] #5758 closed

[2018-10-01 21:10] shane-tomlinson commented on #5715
Are we ever going to do this? No. Closing.

[2018-10-01 21:10] #5715 closed

[2018-10-01 21:10] shane-tomlinson commented on #4724
Are we ever going to do this? No. Closing.

[2018-10-01 21:10] #4724 closed

[2018-10-01 21:11] shane-tomlinson commented on #4719
Are we ever going to do this? No. Closing.

[2018-10-01 21:11] #4719 closed

[2018-10-01 21:14] shane-tomlinson commented on #4901
@vladikoff - do we still need this?

[2018-10-01 22:14] vladikoff commented on #4901
Closing for now!

[2018-10-01 22:14] #4901 closed

[2018-10-01 22:42] vladikoff commented on #5790
Please reopen if we are going to have future priority for this.

[2018-10-01 22:42] #5790 closed

[2018-10-02 05:15] rfk commented on #6599
As mentioned in the meeting, I think we need to tread somewhat cautiously here - changing the way links work in our emails affects all clients, and we don't want to cause unintended bustage for e.g. desktop logins by rushing a fix for iOS logins.

IIUC the plan is to:

* Create a new domain https://confirm.accounts.firefox.com whose only purpose is to 302 to https://accounts.firefox.com, preservin

[2018-10-02 05:18] rfk commented on #6370
Closing this for now

[2018-10-02 05:18] #6370 closed

[2018-10-02 17:13] garvankeeley commented on #6599
PR for Firefox iOS 14.0 (next release): https://github.com/mozilla-mobile/firefox-ios/pull/4284

[2018-10-03 07:30] shane-tomlinson commented on #6108
I no longer see this, closing.

[2018-10-03 07:30] #6108 closed

[2018-10-03 07:39] shane-tomlinson commented on #6024
I just tried this with the new layout, it's now A-OK:

<img width="371" alt="screen shot 2018-10-03 at 08 38 07" src="https://user-images.githubusercontent.com/848085/46396638-dbab9400-c6e7-11e8-8233-f9eb68a0f426.png">

[2018-10-03 07:39] #6024 closed

[2018-10-03 18:49] #6561 closed

[2018-10-03 18:57] vbudhram commented on #6495
Some additional notes on this issue

* When a user attempts to use a recovery key they exchange the `passwordForgotToken` for an `accountResetToken`
* The `Reset email sent` window, is polling behind the scenes for a password change event and detects it during the token exhange
* Upon detecting it, redirects for the user to login

[2018-10-03 19:10] vladikoff commented on #4966
This is 💀 for now...

[2018-10-03 19:10] #4966 closed

[2018-10-03 19:11] vladikoff commented on #6601
` NODE_ENV=production npm start` 👍

[2018-10-03 19:11] #6601 closed

[2018-10-04 05:33] #5856 closed

[2018-10-04 05:33] #4928 closed

[2018-10-04 17:03] davismtl opened #6609 "Allow A/B test targetting by user_id"
---
This bug is a transcript of a conversation Shane and I had to be sure we don't forget the details. Note that it is not a high priority today (2018/10/04).
---

We would like to be sure we provide consistent experiences to users who are exposed to A/B tests. For example, if we enable Account Recovery at 10%, it should be for 10% of users across all of their devices to avoid seeing it only on de

[2018-10-04 20:02] rfk commented on #6609
Legal may have additional requirements on the details here (e.g. relating to opt-out) so let's make sure we run this past them ahead of time; /cc @juliemccracken

[2018-10-05 14:32] SorinaFlorean opened #6612 "DesignF not displayed when creating a new account"
Environment:
Stage- Train 122 and Production server (Nightly, Beta, Release)

Steps to reproduce:
1. Go to Menu -> Sign in to sync;
2. Create a new account and type the email;
3. Click the Password field, verify the tooltip displayed.

Expected results: designF is displayed.
Actual results: designF is not displayed.

![2018_10_05_17_30_04_create_a_firefox_account_to_continue_to_firefox_sync](https

[2018-10-05 14:38] vbudhram commented on #6284
@ShivangiKakkar Sorry about the late response, but if you are still interested in working on this you can.

Unfortunately, I don't believe we will be able to use css on this because the svg uses gradients and `stop-color` options. I think css can be used to update only the fill style. It would make sense to use a new svg and update where needed.

[2018-10-05 14:59] shane-tomlinson commented on #6612
designF is only available within the email-first flow. We are slowly getting rid of [the legacy flow](https://github.com/mozilla/fxa-content-server/issues/6125) and don't want to make more work for ourselves by adding new features to a page that's being removed.

[2018-10-05 15:10] shane-tomlinson opened #6613 "Land the channel-server client for the pairing flow"

[2018-10-05 15:12] shane-tomlinson opened #6614 "Get designs for pairing flow with PAKE"
This requires coordination with @ryanfeeley

https://www.lucidchart.com/documents/view/9a420c19-1e92-42a5-8eae-908a442c1044/0

blocked by #6670

[2018-10-05 15:12] shane-tomlinson opened #6615 "Add an S-PAKE handshake at the beginning of the pairing flow"
See https://docs.google.com/document/d/1wb-lmwzsA3YDUmSvVNLpaYz-3as2DhKXxKn0BbVTdYY/edit#

Blocked by #6613

[2018-10-05 15:16] shane-tomlinson opened #6616 "Update Pairing UI with Phase 2 designs"
Blocked by #6614

[2018-10-05 15:19] shane-tomlinson opened #6617 "Integrate with pairing lib for phase 1"
The idea is to land the phase 1 designs ASAP so we can begin testing against the prod servers on real devices. We will initially have little automated testing since we know the flow is going to change.

ref https://github.com/mozilla/fxa/issues/317
blocked by #6668

[2018-10-05 15:27] shane-tomlinson opened #6618 "Use email-first as default for fx_desktop_v3"

[2018-10-05 15:27] shane-tomlinson opened #6619 "Use email-first as default for fx_desktop_v{1,2}"
blocked by #6528
blocked by #6529
blocked by #6534

[2018-10-05 15:28] shane-tomlinson opened #6620 "Use email-first as default for fx_android_v*"

[2018-10-05 15:28] shane-tomlinson opened #6621 "Use email-first as default for fx_ios_v*"

[2018-10-05 15:28] shane-tomlinson opened #6622 "Use email-first as default for oauth"

[2018-10-08 14:22] AlexandraMoga opened #6626 "No spacing between 'Get the latest news' text and its checkbox"
STR

1. Open AMO -dev and Register a new account
2. Observe the layout of the [Create a new profile form](https://stable.dev.lcip.org/oauth/signup?scope=profile&state=4362a548375ffeaea118c514fce9b28075e4dc7cf346ee7a73a1106cd9032b93%3AL2VuLVVTL2ZpcmVmb3gvdXNlci9hbm9ueW1vdXMtYTYxNWY3M2M2MzFlNTdmNmQxMzIwNjRkMTdjOWQ5YmQv&redirect_url=https%3A%2F%2Famo.addons-dev.allizom.org%2Ffxa-authenticate&client_i

[2018-10-08 15:58] vbudhram commented on #6626
from mtg: Seen this in a couple other areas, moving into next

[2018-10-08 19:53] rfk commented on #6525
It's not clear to me what happens at step 4 here.  Did the iOS device get disconnected from sync when you enabled 2FA on the account?  Or did you explicitly disconnect and reconnect?

[2018-10-08 20:02] rfk commented on #6525
Oh, my bad, the password change would have disconnected the iOS device from sync, makes sense 👍

[2018-10-09 19:59] rfk commented on #6399
@vbudhram I wonder if this might be related to https://github.com/mozilla/fxa-content-server/pull/6630 ?

[2018-10-09 20:01] shane-tomlinson commented on #6599
Closing as fixed, QA plan to follow from @vbudhram

[2018-10-09 20:01] #6599 closed

[2018-10-10 19:17] vbudhram commented on #6599
A rough draft of QA test plan: https://docs.google.com/document/d/1mA_xLV5hRc3c7yfeMi6yInZ07JyhJYctf6y0fYxiZbY/edit?usp=sharing

[2018-10-10 19:24] ryanfeeley opened #6632 "Improve legibility of body copy by increasing line height"
Currently our line height is equal to the font size.
<img width="503" alt="screen shot 2018-10-10 at 3 14 12 pm" src="https://user-images.githubusercontent.com/68213/46760530-489ecb00-cca0-11e8-9cbf-e5f1b5eec63d.png">

Using the [Golden Ratio Typography Calculator](https://grtcalculator.com) we can see that for content of this width, the line height should be 23px.
<img width="474" alt="screen sho

[2018-10-11 11:35] shane-tomlinson commented on #6632
I agree the line height is too close in the first, the second looks slightly too far apart too. Or maybe it's just too much text.

[2018-10-11 14:39] shane-tomlinson commented on #6556
@ryanfeeley - could I get your input on how to handle this, for Arabic, can we increase the font size by 1px in the pw strength bubble?

[2018-10-11 15:39] ryanfeeley commented on #6556
@shane-tomlinson This is the same size as the newsletter opt-in and other small fragments of copy around the site. Should they all be bumped up 1px in Arabic? I'm OK with that, but just don't want it to break anything.

[2018-10-11 18:49] ryanfeeley commented on #6632
@shane-tomlinson There is quite a bit of science behind how the line height is calculated. It seems a bit spaced out but it's design for maximum legibility. Read on! https://pearsonified.com/golden-ratio-typography-intro/

[2018-10-11 19:20] #6542 closed

[2018-10-12 17:51] vbudhram opened #6634 "Add `Use a different account` to TOTP signin and Recovery code page"
We should update these login pages to have these links. Clicking the link should return to the `/signin` page.

![image](https://user-images.githubusercontent.com/1295288/46885387-d2c46c00-ce25-11e8-9421-a0cad47a59a1.png)

[2018-10-12 18:09] arshadkazmi42 commented on #6634
I would like to take this up.

[2018-10-15 13:57] vbudhram commented on #6634
Hey @arshadkazmi42, welcome to work on this issue.

I would recommend using [fxa-local-dev](https://github.com/mozilla/fxa-local-dev) for testing/development. You would be able to see more descriptive errors in terminal. Also recommend using Node 8 if not already using that.

[2018-10-15 13:59] arshadkazmi42 commented on #6634
@vbudhram
Both are same repo? For the fix, I have to create PR in `fxa-local-dev` repo?

[2018-10-15 14:06] vbudhram commented on #6634
@arshadkazmi42 `fxa-local-dev` clones all the repos needed by FxA behind the scenese. You would only need to create patch in the `/fxa-local-dev/fxa-content-server` repo.

[2018-10-15 15:59] arshadkazmi42 commented on #6634
@vbudhram Thanks for clearing the doubts. I  will create a PR for this soon.

[2018-10-15 17:16] #6525 closed

[2018-10-15 17:16] #6399 closed

[2018-10-15 20:47] vladikoff commented on #6614
from mtg:  @ryanfeeley on PTO until Oct 29

[2018-10-15 20:48] vladikoff commented on #6553
👍

[2018-10-15 21:10] #6626 closed

[2018-10-16 19:59] davismtl opened #6642 "Mobile Deeplinking Broken?"
During Sync Fest today, we went through the registration flow.

We were unable to get the SMS deeplinking to work. It is my understanding that it doesn't normally work twice on the same phone but I was using a new phone so I thought it would work.

*Steps to reproduce*
- register for an account
- confirm an email
- send an sms to install
- install through App Store
- open app

*Expected result*
Us

[2018-10-16 20:00] davismtl commented on #6642
@SorinaFlorean can you help me confirm this bug by using a device that has never gone through the SMS flow?

[2018-10-16 21:55] vladikoff commented on #6217
Please reopen if this is still needed !

[2018-10-16 21:55] #6217 closed

[2018-10-17 09:18] philbooth commented on #5845
Fail.

[2018-10-17 09:18] #5845 closed

[2018-10-17 09:19] philbooth commented on #5846
Fail.

[2018-10-17 09:19] #5846 closed

[2018-10-17 10:33] shane-tomlinson opened #6643 "feat(Lockbox): Add Lockbox for Android redirect_uri to config"
URI is https://lockbox.firefox.com/fxa/android-redirect.html

Ref https://github.com/mozilla/fxa-content-server/pull/6248/files
Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1499481

[2018-10-17 13:45] vbudhram commented on #6634
Hey @arshadkazmi42 Looks like a CSP error when accessing using `localhost`, try going to `http://127.0.0.1:3030/settings`.

[2018-10-17 15:46] arshadkazmi42 commented on #6634
@vbudhram Still its showing same error with this also `http://127.0.0.1:3030/settings`

[2018-10-17 16:36] arshadkazmi42 commented on #6634
@vbudhram So after some debugging I found, `client.json` is missing and this url `http://127.0.0.1:3030/i18n/client.json` is returning 404.
I think due to this only it is crashing.  Does it require some configurations? Which I have missed

[2018-10-17 17:59] SorinaFlorean commented on #6642
@davismtl sure, tomorrow morning I will investigate and get back with an answer. Sorry for late reply.

[2018-10-17 18:18] vbudhram commented on #6642
@davismtl Did a quick test of this and deeplinking did not work for me as well.

Following instructions at https://docs.adjust.com/en/testing-console/, you should be able to clear you advertising ID from adjust which in theory should have it work on same device again.

[2018-10-17 19:19] vbudhram commented on #6634
@arshadkazmi42 That route should be returning a json object with localization information. Does the `/fxa-local-dev/fxa-content-server/dist/i18n/` or `/fxa-local-dev/fxa-content-server/app/i18n/` directory contain localization files?

If you run `npm install` in the `fxa-content-server` repo, it should fetch and install the latest. You can also run `./pm2 logs 3` from the `fxa-local-dev` folder to

[2018-10-17 19:32] arshadkazmi42 commented on #6634
I deleted `node_modules` from `fxa-content-server` and reinstalled using `npm i`.

But doing that on running I am getting this error

script not found : /Users/fxa-local-dev/fxa-content-server/node_modules/.bin/grunt

[2018-10-17 19:41] changecourse commented on #6507
@shane-tomlinson what is the status of this request? Do you need anything additionally from me? Thanks!

[2018-10-17 19:43] arshadkazmi42 commented on #6634
Got it working. finally  👍 Will work on the fix and submit a PR by  tomorrow. Thanks for all the help @vbudhram

[2018-10-18 09:50] SorinaFlorean commented on #6642
Here are my findings on my personal device (Huawei P9(Android 7.0):
- First time SMS flow: after I installed and opened the app I got the email already filed: https://i.imgur.com/QK5pnaq.png
- Second SMS flow: nothing was filed, I just had to enter the credentials again. Hope this helps.

[2018-10-18 15:41] davismtl commented on #6642
@SorinaFlorean
Before your second flow, did you follow the instructions from the link that @vbudhram shared in #issuecomment-430734467 ?

Is it possible for you to test on an iOS device too?
Android and iOS deeplinking are a bit integrated differently.

[2018-10-18 17:00] arshadkazmi42 commented on #6634
I got it up and running. But now I am getting this error in my console.

`fxa-content-server.server.geo.ERROR: geodb.error Error: Unable to fetch data`

and login/signup is not working. Is there any way to load the otp page directly or is there some config to fix this error?

[2018-10-18 17:47] arshadkazmi42 commented on #6634
@vbudhram Created PR

[2018-10-18 18:50] vladikoff commented on #6494
Dup of https://github.com/mozilla/fxa-content-server/issues/3374

[2018-10-18 18:50] #6494 closed

[2018-10-18 20:43] #6053 closed

[2018-10-19 17:05] #6643 closed

[2018-10-22 09:05] SorinaFlorean opened #6649 ""New Sign-in to Firefox" email is received if we try to enable 2FA with invalid code"
Environment:
Android, iOS, Win10

Steps to reproduce:
1. Go to Manage account and tap on Enable from Two-Factor authentication;
2. Scan the QR code;
3. Type an invalid authentication code;

Other steps:
1. Go to Sign In page and enter credentials for an account with 2FA enabled;
2.  Type a random 6-digit code;
3. Check email inbox.

Actual results: "New Sign-in to Firefox" email is received.
Expec

[2018-10-22 09:44] shane-tomlinson opened #6650 "Disable Sending Data to GA"
Migrating @davismtl's [bug from fxa-activity-metrics here](https://github.com/mozilla/fxa-activity-metrics/issues/107).

We don't use GA anymore but are still passing data.

I've verified with marketing and they also look at Amplitude now. We also incur expenses for them and they are trying to reduce costs.

Let's at the very least disable it.

Perhaps we file another bug for completely removing i

[2018-10-22 10:46] SorinaFlorean opened #6652 "Android device not listed on iOS if we want to send tab"
Environment: Stage server - Train 123

Steps to reproduce:
1. Log in with an account on iOS, Android and desktop;
2. On iOS, open a page and tap on three dots menu->Send to device;
3. Choose Android.

Actual results: Android device is not listed, only desktop.
Expected results: the page is sent to the Android device.

Notes:
- Not reproducible on production.
- Sending tab from Android to iOS works

[2018-10-22 12:20] #6613 closed

[2018-10-22 12:43] SorinaFlorean opened #6653 "Visual issue of the lock compared with "send" from SMS field"
Environment:
Desktop - Train 123 - stage server

Steps to reproduce:
1. Launch Firefox and create a new account;
2. Verify the account;
3. Pay attention to the SMS field, more precisely to "send" button.

Actual result: a lock is displayed near "send" word but looks like is not centered compared with the word. Probably a smaller size will change a bit the look.
Here is a screenshot: https://i.imgu

[2018-10-22 13:28] shane-tomlinson commented on #6507
@changecourse - I think the provided info is sufficient, the issue moving this forward is prioritizing this over, e.g., device pairing and the password strength improvements.

[2018-10-22 13:52] SorinaFlorean commented on #6626
Works as expected - Train 123, stage server. Verified on iOS, Win, Android.

[2018-10-22 16:31] shane-tomlinson commented on #6652
@SorinaFlorean - Does the Android device show up in desktop?

[2018-10-22 16:33] shane-tomlinson commented on #6652
@vbudhram to investigate

[2018-10-22 16:34] shane-tomlinson commented on #6652
@SorinaFlorean is it possible to do a video cap of the STRs on the iOS device? Did you force a Sync refresh so that it fetches the device list?

[2018-10-22 16:39] shane-tomlinson commented on #6649
@SorinaFlorean - is this when trying to *enable* 2FA or when trying to sign in to an account after 2FA is enabled?

[2018-10-22 16:44] SorinaFlorean commented on #6649
Both cases, I've put both str because I found the issue in two ways.

[2018-10-22 16:53] shane-tomlinson commented on #6642
Action Items:
* Audit adjust to make sure we didn't break things there.
* Confirm whether deep linking is broken on iOS after clearing the Adjust advertiser ID.

@SorinaFlorean - Do you have an iOS device you can confirm with too?

[2018-10-22 17:08] SorinaFlorean commented on #6642
Yes, we have. I can manage to test on Wednesday, if is not too late, tomorrow we have 64 beta 3.

[2018-10-22 19:13] shane-tomlinson commented on #6454
Fixed by #6641, closing.

[2018-10-22 19:13] #6454 closed

[2018-10-22 19:14] shane-tomlinson commented on #6546
Subsumed by #6617, closing.

[2018-10-22 19:14] #6546 closed

[2018-10-22 19:15] shane-tomlinson commented on #6398
Subsumed by #6617, closing.

[2018-10-22 19:15] #6398 closed

[2018-10-23 10:53] #6650 closed

[2018-10-23 21:16] jrgm opened #6655 "[stage][train-123] two tests consistently failing in stage"
firefox on linux 4.4.41-36.55.amzn1.x86_64: settings change email (2)
  can change primary email, change password and login
  can change primary email, change password, login, change email and login

See:

https://tc-test.dev.lcip.org/viewLog.html?buildId=43988&tab=buildResultsDiv&buildTypeId=fxa_StageTests

There's a couple of screenshots in the build log that may offer a hint.

[2018-10-23 22:37] jrgm opened #6656 "[latest] Firefox Beta is failing tests on latest that Fx Release is not failing"
https://tc-test.dev.lcip.org/viewLog.html?buildId=43997&tab=buildResultsDiv&buildTypeId=fxa_LatestFirefoxBetaTests

Failing:
[code]

[2018-10-23 22:50] jrgm commented on #6656
Closing. I misread the teamcity. It's failing on latest too.

[2018-10-23 22:50] #6656 closed

[2018-10-23 22:51] jrgm opened #6657 "latest failing tests with 'invalid oauth parameter acr_values'"
https://tc-test.dev.lcip.org/viewLog.html?buildId=43996&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog#_focus=1814

[2018-10-23 23:01] rfk commented on #6656
Might have been due to https://github.com/mozilla/fxa-oauth-server/pull/618/ ?

[2018-10-24 01:17] jrgm commented on #6657
Closing. Transient problem in auto-updating the related code change.

[2018-10-24 01:17] #6657 closed

[2018-10-24 01:17] jrgm commented on #6657
i.e., tests are green now.

[2018-10-24 04:09] rfk opened #6658 "Requesting 2FA allows OAuth reliers to bypass user authorization"
This is a security-related issue, but I'm filing it as a public bug because the relevant change hasn't gone to production yet, and I don't want to have to muck around with private repo forks and what-not.  We should just do a quick fix or rollback in the public repo.

STR:

* Browse to https://latest.dev.lcip.org, create a new account, and enable 2FA.
* Visit https://123done-latest.dev.lcip.org/
*

[2018-10-24 08:47] SorinaFlorean commented on #6599
We tried to test this on stage - Train 123 but we didn't get the expected results from the Test Plan. Talked with Vijay on slack and seems that in order to verify there are some settings that need to be done on stage.
We will keep the qa-needed label until we can verify this, stage or prod. Thanks!

[2018-10-24 08:58] SorinaFlorean commented on #6642
@vbudhram I need an Adjust account in order to test this based on https://docs.adjust.com/en/testing-console/. Can you help me? Thanks!

[2018-10-24 11:14] SorinaFlorean commented on #6652
Here is the video with the behavior: https://drive.google.com/open?id=1HKKeret7E-vpYsXU_zC2i4V1Y3z1wzpB.
Note that Sync was performed before I tried to send the tab to Android device, and is listed in Manage account ->Devices and apps section: Google Pixel. If there is some extra info needed please contact me. Thanks!

[2018-10-24 13:50] vbudhram commented on #6642
@davismtl Possible to access to test console? Or we could clear it manually?

[2018-10-24 14:14] SorinaFlorean commented on #5990
Tested with Lockbox app 1.3.1 installed from App Store and following the steps provided by Vijay I can confirm that this is fixed. I received an email "Sign-In code for Firefox" with a code (6 numbers) and I was able to log in to Lockbox app.

[2018-10-24 14:56] changecourse commented on #6507
I understand the challenges for sure, though device pairing and pw strength improvements are 'net new' features, and it could be argued that this is a (needed) enhancement to an existing feature. The problem is that the email address field is often partially hidden for longer strings, which can cause potential errors (due to lack of visibility) or compromise trust (be perceived as a phishing/ifram

[2018-10-24 15:06] irrationalagent opened #6660 "about:welcome / entrypoint activity-stream-firstrun email first form views not making it to amplitude"
The fix from the activity stream folks (https://bugzilla.mozilla.org/show_bug.cgi?id=1490826) seems to have generally worked as we can see the increase in form views volume in redash:

https://sql.telemetry.mozilla.org/queries/58886/source#154218

So the problem is on our end with mapping flow events to amplitude events.

The flow event used to plot the chart above `flow.enter-email.view` *should*

[2018-10-24 16:58] vbudhram commented on #6655
Hey @jrgm took a look at this some more and I found that in stage, the change email and password change takes over 20 seconds to perform and the test times out. In local and latest testing it takes less than 2 seconds. Did any of the recent migrations on stage change the performance of database?

Stage env
<img width="862" alt="screen shot 2018-10-24 at 12 51 34 pm" src="https://user-images.github

[2018-10-24 17:19] irrationalagent commented on #6660
I think I figured out the problem here.

https://github.com/mozilla/fxa-content-server/blob/408f61d3d086f984aa3721a88f3476470f3cbbad/server/lib/routes/get-metrics-flow.js#L15

should be just `screen.enter-email` without the `.view` bit.

That's because as it currently is it won't match this:
https://github.com/mozilla/fxa-content-server/blob/0921bc53e92f3b8e4e796f51cc46202d1cfae25e/server/lib/ampl

[2018-10-24 17:41] davismtl commented on #6642
I am no longer an admin of Adjust so I've requested access for @SorinaFlorean with st3fan so that she can clear her ad id herself which should also allow to test more regularly.

[2018-10-24 20:50] #6658 closed

[2018-10-24 23:13] rfk opened #6661 "Provide a way for reliers to confirm a user's login state without re-entering password"
This is a followup to https://github.com/mozilla/fxa-content-server/issues/6658 and in service of https://github.com/mozilla/addons/issues/732.

To support enforcing 2FA on developer accounts in AMO, they'd like to do a flow like the following:

1. Have the user do an initial FxA OAuth flow without requiring 2FA.
2. Lookup the resulting userid in the AMO database to see if they're a developer.
3.

[2018-10-24 23:14] rfk commented on #6658
Follows in https://github.com/mozilla/fxa-content-server/issues/6661

[2018-10-24 23:19] rfk commented on #6661
One option would be to use the `id_token_hint` parameter from OIDC, which provides a way for the relier to explicitly pick up from a previous authentication flow:

  https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

Essentially:

* During the initial login, request the `openid` scope in order to obtain an [id_token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) re

[2018-10-24 23:20] rfk commented on #6661
(This would essentially implement a small part of the OIDC `prompt=none` flow, which we've had other requests for in the past).

[2018-10-25 05:59] philbooth commented on #6660
Yep, bang on, nice work. Recommend you branch from and open the PR against the `train-123` branch, so that we can deploy this sooner as a point release.

[2018-10-26 13:01] shane-tomlinson opened #6666 "Remove `en-US` from the TOTP support link"
Follow on from #6545

This link contains `en-US` but SUMO and MDN links should not have those as it removes the ability for those sites to choose the best locale for the user based on the accept-language header: https://github.com/mozilla/fxa-content-server/pull/6545/files#diff-c77e5dc059d1a6ffd3eaa534e8844820R19

ref https://github.com/mozilla/fxa-content-server/pull/6610
ref https://bugzilla.moz

[2018-10-26 16:07] #6660 closed

[2018-10-26 16:14] shane-tomlinson commented on #6615
Closing this until we have decided whether we are really going to use SPAKE

[2018-10-26 16:14] #6615 closed

[2018-10-26 16:18] shane-tomlinson opened #6667 "Update channel-server-client to use base64url encoded channel IDs"
Ref https://github.com/mozilla/fxa/issues/317
blocks #6617

[2018-10-26 16:25] shane-tomlinson opened #6668 "Send the fxaccounts:pair_heartbeat"
This is to check the browser whether the WebSocket connection was closed. If the response from the browser includes an error, then show the user an error message.

Ref https://github.com/mozilla/fxa/issues/317

[2018-10-26 16:35] shane-tomlinson opened #6669 "Security review of phase 1 approach"
Phase 1 of the pairing flow is being re-reviewed by security to determine whether we need to add additional layers of security. This is to track that work and the results. Assigned size 1 because we are not responsible for the review.

blocks #6669
blocks mozilla/fxa#317

[2018-10-26 16:36] shane-tomlinson opened #6670 "Security review of phase 2 approach"
Phase 2 (SPAKE) of the pairing flow is being reviewed by security to ensure it has all of the security properties we need. This issue is to track that work being done and log any results.  Assigned size 1 because we are not responsible for the review.

[2018-10-26 17:01] #6614 closed

[2018-10-26 17:02] jdragojevic commented on #6614
per estimating meeting.  Closing this one when we have a clearer plan for what we're doing for PAKE after security reviews.

[2018-10-26 23:32] rfk commented on #6667
Definitely urlsafe; we tend to call this "base64url" throughout existing code.

[2018-10-29 17:17] philbooth commented on #6661
@rfk can you triage out of backlog if that's the wrong place for this?

[2018-10-29 18:15] jrgm commented on #6655
Well, this is interesting. In stage, in slow query logs, accountRecord_4 is taking ~4 seconds to execute.

If I take the body from accountRecord_4:
[code]

and do an EXPLAIN on it, I get:
[code]

So, instead of `using index` or `using index condition`, `using where`.

Stage has `O(10million)` rows in `accounts` and `emails`.

I looked at production, and he explain is the same there.

In production

[2018-10-29 18:16] jrgm commented on #6655
Only recently did I create a bunch of new accounts and sessionTokens in stage (part of trying to understand this migration bug). Basically an order of magnitude increase in stage.

[2018-10-29 21:57] jrgm commented on #6655
In stage, I added another stored procedure:

[code]
[code]
Which is very different than what the EXPLAIN SELECT shows from the command line. Note that the EXPLAIN in the stored procedure takes 5 seconds, probably because it has to perform the subquery to complete the EXPLAIN. o_O

[2018-10-29 22:34] jrgm commented on #6655
Interesting that the earlier incarnations of this SP are fast. (accountRecord_3 isn't callable since it expects the profileChangedAt column on fxa.accounts).

[code]

[2018-10-29 22:55] jrgm commented on #6655
`CALL accountRecord_4('email-that-exists@example.com')` in production takes a loong time (I killed it after 8 seconds).

[2018-10-30 02:58] rfk commented on #6655
From IRC conversation, there's a theory that an encoding issue is responsible for the difference in query plan between the raw select, and the select inside a stored-procedure.  We now explicitly do `SET NAMES utf8mb4 COLLATE utf8mb4_bin;` before running our migration scripts.  I wonder if creating the stored procedure with `latin1` encoding instead would make a difference to the query plan?

[2018-10-30 10:08] #6667 closed

[2018-10-30 10:09] #6666 closed

[2018-10-30 21:48] davismtl opened #6678 "Missing space to the right of newsletter checkbox"
There's missing a space next to the checkbox. Seen in Nightly, not sure if it's also happening in release.

![image](https://user-images.githubusercontent.com/19537086/47752789-ae082b00-dc52-11e8-8af4-0d333391d9a5.png)

[2018-10-30 23:00] davismtl opened #6679 "AMO icon not showing up in device manager"
During SyncFest, we signed in to AMO and when we went to our device manager, there was no icon.

![image](https://user-images.githubusercontent.com/19537086/47755784-d72db900-dc5c-11e8-8ec5-233fb0e64836.png)

[2018-10-31 06:32] shane-tomlinson commented on #6678
Dup of #6626 which should have been fixed with yesterday's release.

[2018-10-31 06:37] shane-tomlinson commented on #6678
Verified the fix in both Nightly and Release:

<img width="504" alt="screenshot 2018-10-31 at 06 35 09" src="https://user-images.githubusercontent.com/848085/47770448-5a8bf080-dcd7-11e8-8597-92ff930f499c.png">

<img width="554" alt="screenshot 2018-10-31 at 06 35 21" src="https://user-images.githubusercontent.com/848085/47770458-64adef00-dcd7-11e8-83ef-9ceaf0e4962d.png">

[2018-10-31 06:37] #6678 closed

[2018-10-31 09:43] shane-tomlinson commented on #6612
Closing as "by design", we may revisit this at some point and can re-open it then. Thanks @SorinaFlorean for noticing this, you aren't the first!

[2018-10-31 09:43] #6612 closed

[2018-10-31 09:48] shane-tomlinson commented on #6573
I estimate about 1 day to handle things like updating functional tests and any unexpected issues.

[2018-10-31 09:48] shane-tomlinson commented on #6572
I estimate about 1 day to handle things like updating functional tests and any unexpected issues.

[2018-10-31 13:29] #6400 closed, assigned to nobody

[2018-10-31 13:29] #6564 closed

[2018-10-31 14:25] shane-tomlinson opened #6683 "Allow users to set up 2FA/TOTP for reliers that pass acr_values=AAL2"
Follow on from #6545.

If a user does not have TOTP enabled and the relier specifies acr_values=AAL2, the user is displayed a message that says `This request requires two step authentication enabled on your account.` but does not provide an easy way for the user to do so.

Over in https://github.com/mozilla/addons/issues/732#issuecomment-434664293, @diox has requested that we make it possible for

[2018-11-01 11:45] shane-tomlinson commented on #6661
ref ref https://github.com/mozilla/fxa-auth-server/issues/2708

[2018-11-05 11:49] SorinaFlorean commented on #6679
We found this also on production, unfortunately, we can't test on stage because we can't point addons to stage.

[2018-11-05 13:41] shane-tomlinson opened #6684 "context='' (empty) reported beginning with Firefox 62"
We see a bunch of `context=''` show up in re:dash [1], beginning with Firefox 62 and greatly increasing with 63 [2]. @philbooth and I suspect this is because the call to /metrics-flow from about:welcome creates a flow event and new flow_id with no `context` [3].

I'm not sure if this causes any knock on repercussions, or even whether it warrants a fix, at minimum, it's slightly confusing. Should w

[2018-11-05 15:47] shane-tomlinson opened #6685 "Remove support for context=mob_ios_v1, mob_android_v1"
We added support for context=mob_ios_v1 and mob_android_v1 in https://github.com/mozilla/fxa-content-server/issues/5029. @mcomella says the target project never really took off and it'd be alright for us to remove support for them. Let's do that.

ref https://github.com/mozilla-mobile/FirefoxData-android/issues/21

[2018-11-05 16:08] sv-sdeiac opened #6687 "[iOS, Android] Disable button from Two-step authentication section is not responsive"
Environment: Stage server - Train 124
Prerequisites: Make sure you are logged with an IOS device and have the ''two-steps authentification'' enabled.

Steps to reproduce:
1.  Go to manage account;
2.  Tap on ''Change'' button from Two-step authentification;
3. Tap on "Disable";

Expected results:
Two-step authentication is disabled.

Actual results:
Two-step authentication is not disabled.

Note:

[2018-11-05 17:08] shane-tomlinson commented on #6684
In meeting, we decided we are OK with this. It's logged, if we want to change it in the future, here's some info.

[2018-11-05 17:08] #6684 closed

[2018-11-05 17:20] shane-tomlinson commented on #6683
@shane-tomlinson to get more info from the AMO team about whether this is a blocker.

[2018-11-05 18:50] philbooth opened #6690 "Amplitude events from What's New page are being rejected as invalid"
This probably isn't a problem in the content server, but raising it here for maximum visibility. The `GET /metrics-flow` endpoint has just started generating a large number of invalid Amplitude events. Not sure which bit of the data is causing it yet, still need to dig into that.

From IRC:

[2018-11-05 19:35] philbooth commented on #6690
(we should also add validation to the endpoint itself, so that failures happen sooner and may be detected at point of origin)

[2018-11-05 19:54] philbooth commented on #6690
@vladikoff suggested this has never worked and that consumers of that endpoint have never been sending a `deviceId`. In that case we should synthesize one, we already do so for events that come from the client.

[2018-11-06 02:38] rfk commented on #6655
We addressed the immediate issue by rolling back to `accountRecord_2`.  I'm going to close this bug and open two in its place:

* https://github.com/mozilla/fxa-auth-db-mysql/issues/433 to fix the specific case of this query
* https://bugzilla.mozilla.org/show_bug.cgi?id=1504907 to figure out what on earth caused the performance issue here, so we can avoid it happening again in general

[2018-11-06 02:38] #6655 closed

[2018-11-06 02:39] jrgm opened #6691 "[train-124] new error? - SecurityErrortemplates/account_recovery_confirm_key in r error The operation is insecure."
https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/4914725/?query=is:unresolved

[2018-11-06 13:05] vbudhram commented on #6683
@ryanfeeley What are your thoughts on

The setup *any security thing* flow during a login flow sounds similar to security tune-up during login. It seems like there might be some overlapping features that could be used for both.

[2018-11-06 13:06] #6685 closed

[2018-11-06 18:55] davismtl opened #6693 "Pass to SalesForce for LiveNation campaign"
The marketing team is organizing a live stream of a couple of music events.

The streams will be gated with FxA.

The desired outcome is that users will be able to signup early and get a reminder of the event.

My questions are:
- what would be the best way for SalesForce to track that a user authenticated on this page? Do we already pass any context to SalesForce around where a user signed up? Ca

[2018-11-06 19:01] davismtl commented on #6693
CC @jdragojevic @shane-tomlinson

[2018-11-06 19:04] shane-tomlinson commented on #6693
@davismtl - we send `client_id`, `service`, `utm_campaign`, `utm_content`, `utm_medium`, `utm_source`, and `utm_term`

ref https://github.com/mozilla/fxa-content-server/blob/ae979c68fb57c45a64d4295de5911dd1b992da2b/app/scripts/lib/marketing-email-client.js#L17

[2018-11-06 19:06] shane-tomlinson commented on #6693
@davismtl I just realized that is only sent for users who sign up for the newsletters. Will dig in more.

[2018-11-06 19:19] rfk commented on #6693
We publish all *sync* login events to salesforce via the logic here, but it's very specific to sync:

  https://github.com/mozilla/fxa-auth-server/blob/master/lib/routes/utils/signin.js#L246
  https://github.com/mozilla/fxa-auth-server/blob/master/lib/routes/account.js#L193

I believe the Basket API supports FxA OAuth tokens these days:

  https://github.com/mozmeao/basket/commit/73ef44a1622704009

[2018-11-07 09:44] #6690 closed

[2018-11-07 19:43] vladikoff opened #6696 "Recovery Key empty on page refresh"
![](http://v14d.com/a/5be3404a13103.gif)

[2018-11-07 19:57] vladikoff commented on #6691
Could not repro this, I got into a weird state when the form https://accounts.firefox.com/account_recovery_confirm_key passed validation, but only happened once. not clear what is causing this.

[2018-11-07 19:58] vladikoff commented on #6691
Also this error is from 123 not 124, if you search by name:

![](http://v14d.com/i/7fc76558d3e0d7722c6f0884bbe0f172831c3f006a95a2112ec327fddecf16d4.jpg)

[2018-11-08 05:51] rfk commented on #6652
@SorinaFlorean I notice in your screen cap that you have *two* android devices connected, one called "Beta on Pixel" and the other "Firefox 63, Android":

<img width="534" alt="capture" src="https://user-images.githubusercontent.com/34695/48180088-2c14b200-e376-11e8-861d-2cda41de00d8.PNG">

Do you in fact have two android devices connected to this account, or might this be a clue that Android as d

[2018-11-08 06:08] rfk commented on #6652
If you're able to reproduce this with an Android, iOS and Desktop device all connected to the same account, then it would be very useful if you could use the [about:sync](https://addons.mozilla.org/en-US/firefox/addon/about-sync/) addon on the desktop device share your clients collection and FxA device records.  That is: install the add-on, go to about:sync, and share the contents of these two tab

[2018-11-08 12:29] shane-tomlinson opened #6699 "A/B test signin/signup rates for 100k PBKDF2 rounds"
We'd like to bump the # of rounds of PBKDF2 run on a user's password to 100k which will take several seconds on older mobile devices. We want to find out whether this causes a drop in registration and login rates using an A/B test before we ship the change out to everyone.

Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1320222

[2018-11-09 12:45] vbudhram commented on #6696
@vladikoff I think the correct behavior here is to redirect back to `/settings/account_recovery`. If they refreshed the page, they should not be able to see the key again.

[2018-11-09 20:38] davismtl commented on #6693
Good news. Since Shane setup this LiveNation page as an OAuth relier, we will be returning the email to the page and so mozilla.org will handle passing everything to basket with the right parameters.

Based on the discussions noted in the document below, FxA will have no further work required other than setting up a relier for that team:

https://docs.google.com/document/d/1-NaIG-pt_gy5SAvarNtP10Q

[2018-11-09 20:38] #6693 closed

[2018-11-09 23:58] jscher2000 opened #6702 "Apostrophe in username triggers "Valid email required" message"
This came up on SuMo: https://support.mozilla.org/questions/1239965

The following appears when clicking "Create account":

![fx63-accounts-firefox-valid-email-required](https://user-images.githubusercontent.com/8264646/48294100-35198800-e437-11e8-8875-4b19ec7e25f5.png)

I only see beacons in the Network Monitor so I'm not sure how the validation is being done.

When I look at the isValidEmailAddr

[2018-11-12 08:54] shane-tomlinson commented on #6693
Thanks @davismtl for the update!

[2018-11-13 20:48] rfk commented on #6642
From mtg:
* need to get Sorina set up with Adjust access in order to test this properly.
* need a volunteer to deep dive into code on the iOS side
* hypothesis: recent changes to app-link setup may have broken this

Let's migrate this to bugzilla so we can loop in the iOS team; assigning to myself to do so

[2018-11-13 21:01] rfk commented on #6683
from mtg: @davismtl and @vbudhram to sync up on how to unblock this.

[2018-11-14 18:18] vladikoff commented on #6696
👍 agreed!

[2018-11-14 18:32] #6679 closed

[2018-11-15 15:34] sv-sdeiac opened #6710 "The password tooltip shows a blue check instead of a green one"
Environment: Stage server - Train 125
Windows 10, Android.

Steps to reproduce:
1. Go to https://accounts.stage.mozaws.net/?action=email&service=sync
2. Enter an available email(create new account)
3. Tap on 'Continue'
4. Write a password to check a toolip condition

Expected results:
The password tooltip shows a green check next to the condition

Actual results:
The password tooltip shows a blue

[2018-11-15 15:47] ryanfeeley opened #6711 "Allow a relying service to display authenticated FxA user profile"
Relying services like AMO and Firefox Monitor can increase their adoption by offering users a "Continue as" button. We should provide an API (like Facebook does for messenger.com below) that allows relying services to query for the currently authenticated FxA user and display:
1. Email address
1. Display name (if set, or not set)
1. Profile picture (if set, or not set)
This would greatly reduce fr

[2018-11-15 17:56] davismtl commented on #6711
Changed title from:
Allow a relying service to display authenticated FxA user profile > Allow a relying web service to display authenticated FxA user profile

I'm adding this to the product backlog. I've been trying to see where this fits in our priorities for mobile apps and web extensions too.

[2018-11-15 20:08] ryanfeeley commented on #6711
What's interesting here is that it does not appear to be an iframe. How would they do that?

[2018-11-15 23:40] jrgm opened #6713 "totp tests failing on latest (and stage) - "not clickable at point because another element obscures it""
Failing for:
1. fails for account without TOTP
2. succeed for account with TOTP

See https://tc-test.dev.lcip.org/viewLog.html?buildId=45139&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog#_state=1746

![Screenshot](https://screencap.co.uk/images/e3d9cdc9037da81cadad38f2478610bafd1bad52.png)

[2018-11-16 01:51] vladikoff commented on #6713
hm viewport seems small and triggers the media query

[2018-11-16 13:04] SorinaFlorean commented on #6687
Reproducible also on HTC 10(Android 8.0) - Stage Train 125.

[2018-11-16 15:16] SorinaFlorean commented on #6652
Sorry for the late reply here. Tested again on stage - Train 125 and production and this issue is not reproducible anymore. The Android device is listed on iOS and the tabs were sent successfully. I will close this and check on the next stage also. Thanks!

[2018-11-16 15:16] #6652 closed

[2018-11-19 05:28] rfk opened #6714 "Stop sending HPKP headers"
As discussed on the mailing list, our use of HPKP headers is not delivering sufficient value.  Let's stop sending them and remove the code for doing so.

In this repo, that's https://github.com/mozilla/fxa-content-server/blob/master/server/lib/hpkp.js and friends.

[2018-11-19 16:43] vladikoff commented on #6448
from mtg: @shane-tomlinson should we move this to train-127?

[2018-11-19 16:51] vladikoff commented on #6710
@ryanfeeley should that be green or blue? see screenshot

[2018-11-19 16:53] vladikoff commented on #6702
@philbooth @shane-tomlinson backlog or next?

[2018-11-19 18:23] ryanfeeley commented on #6710
It should be blue, although none of the latest changes are reflected. https://mozilla.invisionapp.com/share/5UM3J3TXWMR#/316338169_Artboard

[2018-11-19 19:08] #6714 closed

[2018-11-19 20:03] #6495 closed

[2018-11-20 00:11] Djfe opened #6717 "Button width vs string length"
This string is way shorter in the english version:
https://pontoon.mozilla.org/de/firefox-accounts/all-resources/?search=Prim%C3%A4r&string=169656

I'm not sure if we can make the translation shorter, but it's fairly easy to adjust the button's width
![firefox_2018-11-20_01-09-48](https://user-images.githubusercontent.com/5685512/48742858-01bdd100-ec61-11e8-9df3-33cea8f7102d.png)

[2018-11-20 11:30] philbooth commented on #6702
Seems small enough that we can just get it done this train, I've popped my face on it.

[2018-11-20 12:37] shane-tomlinson commented on #6448
Really, this is blocked until #6572 and #6573 are fixed. 127 might be too ambitious with other things going on. Putting into blocked.

[2018-11-20 14:42] shane-tomlinson commented on #6711
Unless we host this widget ourselves and prevent reliers from accessing the info, this proposal makes me *extremely* uncomfortable. This would remove the requirement that users must explicitly authorize the sharing of profile data. We have been very careful up to this point to silo each service, Mozilla or not, since a user who signs into Sync doesn't necessarily expect their profile data to be sh

[2018-11-20 16:43] davismtl commented on #6711
I'll take it as an action item to speak to legal about it as investigative work.

[2018-11-20 19:47] rfk commented on #6711
Heh, to be clear, I meant this in response to:

[2018-11-20 21:21] rfk commented on #6711
I'm not alleging anything and I'm going to stop speculating any further; I'm sure whatever they've done meets their security requirements, which may or may not be the same as ours.

[2018-11-21 06:04] shane-tomlinson commented on #6702
For an immediate fix to allow apostrophe's, over in the content server. The longer term goal of sharing validation code will require changes to several repos.

[2018-11-21 06:32] #6572 closed

[2018-11-21 18:03] #6702 closed

[2018-11-22 12:41] shane-tomlinson opened #6722 "Remove get-verify-email (server side verification code)"
In #4794 we introduced server-initiated verification so that users could validate on old phones that don't support the full set of JS features we are using. Then we ran into being rate limited by the customs-server and [commented out the route](https://github.com/shane-tomlinson/fxa-content-server/blob/4ff4dffa97c1b522be2c3f8eefa4ce8d50848bed/server/lib/routes.js#L36). There were some attempts at

[2018-11-22 15:10] shane-tomlinson opened #6723 "latest failing test: "oauth email first - signup""
See https://tc-test.dev.lcip.org/viewLog.html?buildId=45284&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

This has been failing since ~ Nov 19th.

[2018-11-22 15:11] shane-tomlinson opened #6724 "Users see an error if visiting /confirm_reset_password without initiating a password_reset"
See https://tc-test.dev.lcip.org/viewLog.html?buildId=45284&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests#testNameId-5055117668506393902

[2018-11-22 23:28] TheoChevalier opened #6725 "OAuth permissions not localized"
Looks like https://github.com/mozilla/fxa-content-server/issues/4758 is back :/

![image](https://user-images.githubusercontent.com/1294206/48924249-f7444700-eead-11e8-88ae-69ca747f33ba.png)

[2018-11-23 11:47] shane-tomlinson commented on #6725
Dup of #4758, which we thought was fixed in #6271? Strange.

[2018-11-23 12:14] shane-tomlinson commented on #6725
I can confirm this is borked. :( Thanks @TheoChevalier for letting us know!

[2018-11-23 13:17] shane-tomlinson commented on #6725
I think this is because of the way webpack & babel are converting this module to .es5:

From .es5/views/permissions.js:

Our extraction script looks for `t('string')`

[2018-11-26 14:14] TheoChevalier opened #6728 "“Two-factor authentication enabled” notification is not localized"
Hi,

I’ve been hitting this issue over the weekend while migrating 2FA to a new app, noticed the notification was not localized.

The string [is translated in French](https://pontoon.mozilla.org/fr/firefox-accounts/all-resources/?search=Two-step+authentication+enabled&string=177236), but appears in English.

The following screen is the “Recovery codes” screen, after setting up 2FA:
![image](https:

[2018-11-26 16:04] #6723 closed

[2018-11-26 16:08] shane-tomlinson commented on #6728
I think this was probably due to the same reason as #6725, which fixed in #6726.

[2018-11-26 16:12] vbudhram commented on #6634
Fixed in https://github.com/mozilla/fxa-content-server/pull/6700

[2018-11-26 16:12] #6634 closed

[2018-11-26 16:30] TheoChevalier commented on #6728
Killing two birds with one stone ;) Thanks Shane!

[2018-11-26 16:58] #6725 closed

[2018-11-26 17:18] #5848 closed

[2018-11-26 17:41] vladikoff commented on #6649
from mtg: @vbudhram this might be fixed

[2018-11-26 18:15] vbudhram commented on #6649
Confirmed that this is still happening, putting up fix soon.

[2018-11-27 13:08] #6649 closed

[2018-11-27 14:40] shane-tomlinson commented on #6724
We've had 2 passes in a row, I'm optimistically closing this until it appears again.

[2018-11-27 14:46] shane-tomlinson opened #6730 "Does the padlock on the SMS form help conversion rates?"
Over in #6608 we added a padlock to the SMS input button. @SorinaFlorean notes in #6653 the padlock is off center.

I personally think the padlock is totally out of place, the user isn't locking anything in any way, shape or form.

Has this padlock improved conversion rates? If we can't show some net improvement since the icon was rolled out, can we A/B test it, or just rip it out?

[2018-11-27 14:51] shane-tomlinson commented on #5522
@irrationalagent - Do we still care about this? If not, I propose we close this issue.

[2018-11-27 14:58] vladikoff commented on #6730
@irrationalagent @davismtl any ideas?

[2018-11-27 16:43] shane-tomlinson commented on #6724
This was a premature closure, [it's happened again](https://tc-test.dev.lcip.org/viewLog.html?buildId=45362&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests).

[2018-11-27 16:45] shane-tomlinson commented on #6724
From this screen shot, it's claiming the `email` query param is missing.

![6fa57fd1b6077b073d1978ccaca85a99c8a3cad0](https://user-images.githubusercontent.com/848085/49097042-d8560400-f263-11e8-832e-76ba83e75899.png)

[2018-11-27 20:10] irrationalagent commented on #6730
I'll take a look but I may not get to this for a few days.

[2018-11-27 20:12] vladikoff commented on #6730
it was not, but train-123 is the one to look at.

[2018-11-28 18:18] ryanfeeley commented on #6679
@vladikoff I still see this. Need it be reopened?

[2018-11-28 20:14] vbudhram commented on #6679
@ryanfeeley Looks like this is tagged for train 126, which should be deployed in Orlando.

[2018-11-28 20:15] ryanfeeley commented on #6679
![giphy](https://user-images.githubusercontent.com/68213/49179544-7effda80-f320-11e8-84a6-c66444f3b46b.gif)

[2018-11-28 23:01] rfk commented on #6642
Let's move this to https://bugzilla.mozilla.org/show_bug.cgi?id=1510811 in order to more easily loop in the Firefox for iOS folks.

[2018-11-28 23:01] #6642 closed

[2018-11-29 11:57] SorinaFlorean commented on #6649
Works as expected on Train 126.

[2018-11-29 12:07] SorinaFlorean commented on #6495
Tested this issue on Train 126 and now if I enter an invalid recovery key the message "Sign in to continue is displayed". I think it will be more accurate to not show anything if we don't enter a valid key. @vbudhram what do you think?

[2018-11-29 13:54] SorinaFlorean commented on #6725
We don't test this on stage because we can't point Pocket to use stage, we will test when Train 126 is in production.

[2018-11-29 13:58] shane-tomlinson commented on #6728
Hmmm, the French translation is definitely there. I wonder if we'll have to test this on production.

[2018-11-29 17:06] vbudhram commented on #6683
We have a meeting with AMO at all hands to help refine the next stages of this.

[2018-12-03 14:42] SorinaFlorean commented on #6728
We will test then on production. @shane-tomlinson, if this is ok. Probably this applies also to https://github.com/mozilla/fxa-content-server/pull/6726.

[2018-12-05 16:22] SorinaFlorean commented on #6599
Tested this in production based on the Test Plan made by @vbudhram and you can see the results there. There were some problems with iOS, but overall the testing was ok.

[2018-12-05 21:40] vladikoff commented on #5523
from meeting: not needing this for now

[2018-12-05 21:40] #5523 closed

[2018-12-07 00:08] shane-tomlinson opened #6736 "Add ability to feature flag COPPA"
The Mozilla China stack of FxA does not need COPPA. Let's feature flag the input box so that they can easily disable it

[2018-12-07 00:11] shane-tomlinson opened #6737 "Add the ability to customize the desktop background"
Mozilla China adds their own custom background image in the #stage element to give their FxA stack a local feel. At least one OAuth relier has asked for similar functionality. Let's start with the Mozilla China case and work from there, possibly A/B testing whether relier specific background images help conversion rates.

[2018-12-07 00:15] shane-tomlinson opened #6738 "Integrate the Mozilla China phone number verification screens behind a feature flag"
The Mozilla China stack has phone number verification screens, we should add, behind a feature flag, so that team can stop worrying about doing it every time we update the content server.

[2018-12-07 00:21] shane-tomlinson commented on #6737
cc @l-hedgehog

[2018-12-07 00:21] shane-tomlinson commented on #6738
cc @l-hedgehog

[2018-12-07 00:22] shane-tomlinson commented on #6736
cc @l-hedgehog

[2018-12-07 11:55] shane-tomlinson opened #6740 "Failing functional test - "signup - sync suggestion for everyone else'"
See https://travis-ci.org/mozilla/fxa-content-server/builds/464781801?utm_source=github_status&utm_medium=notification

https://screencap.co.uk/images/73d2a905afee0ba479af0f3e41dedeaacdf4dc68.png

The mozilla.org Sync page has changed, we need to look for a different selector.

[2018-12-07 12:46] SorinaFlorean commented on #6725
We tested this in production in two ways:
- we change the device language to Francais, and we installed Nightly from Play Store and we connect to Pocket and we got only the "Email address (required) not translated. https://i.imgur.com/CXgi7gC.png
- we didn't change the device language but we change the browser language from Settings - General - Language -Francais and we got the same result, "Email

[2018-12-07 12:48] SorinaFlorean commented on #6725
@shane-tomlinson should I open a new issue since the email address is not translated? Based on https://bugzilla.mozilla.org/show_bug.cgi?id=1510310#c16, Train 126 is shipped.

[2018-12-07 12:52] SorinaFlorean commented on #6728
We tested this on production based on https://bugzilla.mozilla.org/show_bug.cgi?id=1510310#c16 and the issue is still reproducible. We changed the language of the device and also, the browser language with no effect. The notification is not translated.  @shane-tomlinson please tell me if we have to do something else in order to verify this.

[2018-12-10 14:58] #6736 closed

[2018-12-10 14:58] #6740 closed

[2018-12-10 16:12] shane-tomlinson commented on #6728
The strings were not correctly extracted for train-126. I'm going to have to ask for a re-check with train-127.

[2018-12-10 16:12] shane-tomlinson commented on #6725
The strings were not correctly extracted for train-126. I'm going to have to ask for a re-check with train-127.

[2018-12-10 16:17] #6722 closed

[2018-12-10 16:18] shane-tomlinson commented on #4482
Re-opening since we removed server side verification due to rate-limiting.

[2018-12-10 16:22] shane-tomlinson commented on #4482
I can imagine us getting around the rate limiting by using a shared secret between the customs and content servers.

We also have to consider how to handle marketing email-opt ins. A flag is sent to /verify_email when doing [client side verification](https://github.com/shane-tomlinson/fxa-content-server/blob/4ff4dffa97c1b522be2c3f8eefa4ce8d50848bed/app/scripts/models/account.js#L599), but AFAICT w

[2018-12-10 17:12] vladikoff commented on #6730
from the metrics: nothing changed in the metrics.

KILL THE LOCK 🔒

[2018-12-10 17:15] vladikoff commented on #6448
from mtg: still blocked on change password

[2018-12-10 17:16] vladikoff commented on #6668
from mtg: kill it

[2018-12-10 17:16] #6668 closed

[2018-12-10 17:18] shane-tomlinson commented on #6669
This is DONE. We are going to implement a variant of TLS 1.3. Will paste in the doc as soon as I find it.

[2018-12-10 17:18] #6669 closed

[2018-12-11 14:09] shane-tomlinson opened #6742 "No `fxa_login - view` or `fxa_reg - view` reported for Screenshots"
See https://github.com/mozilla/fxa-activity-metrics/issues/111#issuecomment-446213504

In https://analytics.amplitude.com/mozilla-corp/chart/wbs7p7m/edit/blup2af, @philbooth shows Amplitude events *are* being reported, he queried `fxa_login - success` and `fxa_reg - created`.

Screenshots doesn't specify `action=email` and is using the legacy flow.

[2018-12-11 14:53] shane-tomlinson opened #6743 "Add auth-error entries for UNKNOWN_CLIENT_ID and STALE_AUTH_AT"
This is from https://github.com/mozilla/fxa-auth-server/pull/2742/files#diff-b83d27d3c5374e6d6de83271284db8c4R78

[code]

[2018-12-11 15:08] shane-tomlinson commented on #6743
On second thought, I'm not sure if these should be in auth-errors or oauth-errors. If we keep the oauth-client, then it makes sense to just [update those error numbers in oauth-errors.js](https://github.com/mozilla/fxa-content-server/blob/5511b99d77e7ff0dcd0f0ba0ae0faa44e17e5618/app/scripts/lib/oauth-errors.js#L21) once we update which server the oauth-server talks to.

[2018-12-11 15:58] irrationalagent commented on #6742
It doesn't seem like content server events generally get passed with an oauth client_id or service parameter ever?

[2018-12-11 16:52] vbudhram opened #6745 "Change email and Force Auth have a bad interaction"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1509108, if a user has a Desktop and Android device connected and changes their primary email on Desktop, the Android device is signed out and not given the ability to change email at force auth screen.

Similar to iOS, we should give them an option to switch emails when in force auth.

[2018-12-11 16:55] philbooth commented on #6742
It's just a hunch at this stage, I haven't actually debugged anything yet, just mentioning in case you're interested in working on this @irrationalagent.

Anyway, I wonder if something is going wrong with the initialization of `this._service` in `app/scripts/lib/metrics.js` (i.e. on the client-side). If it's not set there, it won't be in the metrics payload and hence not visible in any content ser

[2018-12-11 17:30] vladikoff commented on #6745
@vbudhram `switch emails when in force auth.` The point of force auth is to force a particular email. It seems otherwise there is no point of forcing.  Do you want to somehow let the user pick from a list of secondary email?

[2018-12-11 18:59] #6653 closed

[2018-12-11 19:03] vbudhram commented on #6745
That seems like it would be a little more complicated than I would like. I was thinking of adding a button at the bottom `Switch email` (something along those lines) that would redirect to sign-in page.

I am not familiar with all of the use cases when force auth is imposed but it seems reasonable to me to give an option when there is an existing session or a session has expired/destroyed. Which w

[2018-12-12 08:46] foursixnine commented on #6745
@vladikoff if the user changes the password, and then changes the email, user won't be allowed to log in, as the system will ask the user to re-auth with the first email (on a second system). At least that's my use-case

[2018-12-12 11:11] shane-tomlinson opened #6748 "Discuss: Support multiple secondary emails"
This is a request from the Monitor team. Monitor is integrating FxA and is going to pre-populate the user's email list on Monitor by fetching the email addresses associated with the user's FxA account. The thing is, many Monitor users have more than 2 emails (myself included). It'd be great if we allowed users to associate all of their email addresses with their FxA account.

The FxA limit of 1 se

[2018-12-13 01:02] rfk commented on #6748
It's also worth noting that each email address can only belong to one account.  This makes sense from an account-system perspective, but it's caused some confusion for users in the past so I wanted to call it out explicitly.  (For example, you might imagine a Monitor user wanting to add a shared family email address to their account in order to monitor it, but they can't because it's already on an

[2018-12-13 10:11] miralobontiu opened #6751 "[Train 127] Email overlaps "Make primary" button in Secondary email section from Manage Accounts"
**Environment:**
Platform: Android 8, Android 9
Server: Stage

**Steps to reproduce:**
1. Login with FxA account and go to Manage accounts page.
2. Add a secondary email and verify you received an email.
3. Go back to Manage accounts page and tap on "Change" button from Secondary Email section.

**Actual results:**
Email address is overlapping the "Make primary" button.

**Expected results:**
Emai

[2018-12-13 11:49] shane-tomlinson commented on #6748
Is there a link to a feature doc, discussion or rationale behind the choice? I'd like to find out more.

[2018-12-13 12:04] shane-tomlinson commented on #6748
Can you explain? It's only possible to sign in with the primary email, the number of secondary emails shouldn't change that. Is there a way to use a secondary email address to bootstrap a verified session? Notifications to more than one secondary address could be spammy, though we could either create a policy or allow users to select addresses at which they want to receive notifications.

[2018-12-13 19:15] ryanfeeley opened #6752 "Improve accessibility by giving device icon alternative text description"
In Settings we show a list of device icons that indicate the platform, and a device name.

<img width="300" alt="devices" src="https://user-images.githubusercontent.com/68213/49961687-4ac01880-fee1-11e8-9cf9-06416aad6085.png">

To improve accessibility, we should include the device platform in the alternative text description.

[2018-12-13 19:33] ryanfeeley commented on #5438
You tried to 🗡 it but you didn't hit the brain and it’s back from the dead. 🧟‍

Come on, this is just standard UI polish. I'm not asking for miracles!

[2018-12-13 19:59] ryanfeeley opened #6753 "Change the recovery key icon colour to Photon grey"
As specified in our design guidelines we should be using [secondary colour style](https://design.firefox.com/photon/visuals/color.html#icons-and-other-elements) (Grey 90 a60) for the key icon.

This is the file in question.
https://github.com/mozilla/fxa-content-server/edit/master/app/images/recovery_key_key.svg

I'd fix this myself but the alpha channel threw me.

[2018-12-13 20:02] vladikoff commented on #5438
@ryanfeeley we can look at this again, but does @johngruen have different planes for the settings section?

[2018-12-13 20:03] vladikoff commented on #5438
or is that too far off?

[2018-12-13 20:39] ryanfeeley commented on #5438
@shane-tomlinson Do we need a process for handling when helpers go AWOL?

[2018-12-13 20:43] vladikoff commented on #5438
"help wanted... again"

[2018-12-13 21:00] ryanfeeley commented on #5438
Maybe @jdragojevic has a suggestion? Hi Janet: we often accept help from contributors in the community who don’t finish the work. Over time these things pile up. Is there a process we can implement to keep an eye on these?

[2018-12-13 23:00] shane-tomlinson opened #6755 "OAuth users who use a recovery key may not be informed they need to regenerate one after password reset"
STR

1. Sign up and verify an account.
2. Enable & save a recovery key.
3. Sign out.
4. Visit an OAuth relier, click sign in.
5. Initiate the password reset flow.
6. Open the verification link in the same tab as step 5.
7. Enter the recovery key, submit.
8. Enter the new passwords, submit.
9. We are now back at the OAuth relier w/o any info saying we have to re-generate the recovery key.

[2018-12-14 15:53] vladikoff opened #6756 "Metrics: query for entrypoint=none and referrer"
We have this https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/metrics.js#L143

We want to track down `entrypoint=none` integrations and maybe `utm_source=none`

@irrationalagent is there a way to redash this into a table of referres that send `none`?

@davismtl do we want to minimize `entrypoint=none` or `utm_source=none`? For example should we ask all reliers to provide u

[2018-12-14 16:04] vladikoff opened #6757 "Metrics: if oauth relier doesn't provide entrypoint, set entrypoint as the client_id"
if oauth relier doesn't provide entrypoint, set entrypoint as the client_id

@davismtl @irrationalagent what do you think about this idea?

See this chart with entrypoints and client ids: https://analytics.amplitude.com/mozilla-corp/chart/2ngrhz1/edit/nkdi8ub

[2018-12-14 18:36] davismtl commented on #6756
So, we've sort of failed at distinguishing entrypoint vs utm_source in the past. We have an opportunity to really improve ourselves here.

I think there should ALWAYS be an entrypoint. vs. There should normally be a utm_source. What's the difference?

An entrypoint is the touchpoint of FxA that a user entered through. In other words, where in the product are they engaging with us? There will alway

[2018-12-14 19:22] philbooth commented on #6757
I don't get the point of this. We already include the client id and service name as event properties. What's the properties of including one of them again under a different property name?

[2018-12-14 19:41] vladikoff commented on #6757
We are trying to figure out how to minimize or eliminate empty entrypoints

[2018-12-14 19:41] vladikoff commented on #6757
@philbooth there is a good comment here: https://github.com/mozilla/fxa-content-server/issues/6756#issuecomment-447414679

[2018-12-15 15:06] groovecoder commented on #6748
Engineering-wise, yes it's easy on the Monitor side right now. But we're planning to integrate with FxA deeply, and want deliver some non-Firefox/non-sync account services with Monitor. So we're asking for a bit of re-thinking around the higher-level scope of FxA here. I personally like the idea of my Firefox Account (with Monitor) being my online account that keeps all my other online accounts sa

[2018-12-16 22:43] rfk commented on #6745
I agree with @vladikoff that we need to be careful about unintended consequences here, as the existing semantics of `force_auth` are that you auth as the specified user or not at all.  We should know the `uid` as well as the `email` on this view, i wonder if there's a way to ensure that the user signs in as the specified `uid` even if they need to change the `email`.

We may need to add a fifth st

[2018-12-17 10:03] SorinaFlorean opened #6758 "[Train 127] Base32 decoding of FxA Recovery Key discards last character"
Environment:
Android, Win 10
Stage -Train 127

Steps to reproduce:
1. Go and enable Account recovery;
2. Tap on forgot password from "Password" section;
3. Go to email and paste the recovery key and change the last character ( I changed 4 with another number);
4. Click on "confirm recovery key".

Expected results:
"Recovery key invalid" message is displayed.

Actual results:
The key is valid and c

[2018-12-17 10:18] shane-tomlinson commented on #6756
I strongly agree with what you wrote here. Obviously our relier docs should reflect this position, and maybe we can go further by using the dev console (or even something more explicit) to remind oauth relier developers they should specify an entrypoint.

[2018-12-17 10:20] shane-tomlinson commented on #6757
I started looking on Friday, in amplitude search for logins & creates where entrypoint = none and group by client_id. I'll generate a list today.

[2018-12-17 11:03] shane-tomlinson commented on #6758
This is a dup of https://bugzilla.mozilla.org/show_bug.cgi?id=1513360, which has a WIP PR in https://github.com/mozilla/fxa-content-server/pull/6749

[2018-12-17 11:40] shane-tomlinson commented on #6745
I am uncomfortable modifying the semantics of force_auth w/o understanding how the various clients will react. For example, we are able to support a change of uid in the force auth flow for new Firefox Desktops. We are unable to support this on old Firefox desktops.

A similar question applies here - if browsers receive a `login` message for an email address that differs from the currently signed

[2018-12-17 14:33] shane-tomlinson commented on #6757
[here we go](https://analytics.amplitude.com/mozilla-corp/chart/y8x5v48). I'll put names to client_ids.

[2018-12-17 14:42] shane-tomlinson commented on #6757
I have emailed the team the list of reliers.

[2018-12-17 15:50] shane-tomlinson commented on #6687
@SorinaFlorean, @sv-sdeiac - I wonder if this could have been due to [a problem we fixed last week w/ being able to view settings after password reset w/ TOTP enabled](https://github.com/mozilla/fxa-auth-server/pull/2781/commits/3f73c68f4305550e7c99bcb605e714bca8d4589e)? Can you re-test this to see if it still occurs?

[2018-12-17 16:13] SorinaFlorean commented on #6687
I saw this issue today on Android 7.1.1, but now I can't reproduce it, on the same device and on iOS is working as well. My guess is that is not reproducible 100%.  Tested also on production and I couldn't reproduce it.

[2018-12-17 16:18] shane-tomlinson commented on #6687
The plot thickens. Thanks @SorinaFlorean for checking!

[2018-12-17 16:20] irrationalagent commented on #6757
There is a good reason to do this: since the oauth client id parameter is passed only as an event property to amplitude, they can't be used easily to segment users for (e.g.) retention purposes. So I'm 100% to do this!

[2018-12-17 17:19] shane-tomlinson commented on #6755
@vladikoff says we could send an email telling them to do it.

[2018-12-17 17:21] shane-tomlinson commented on #6751
Does this prevent clicking on the "make primary" button? It seems like a z-index issue could be at play where the email address shields the clickable area of the button.

[2018-12-17 19:55] rfk commented on #6755
I believe we do send out a customized version of the "your password was successfully reset" email that mentions the recovery key, so may be able to adjust the copy in there to make it clearer that more action is required.

[2018-12-18 07:02] miralobontiu commented on #6751
Hi Shane,
No, it doesn`t affect the functionality of the button.

[2018-12-18 21:48] vladikoff commented on #6751
i think the CI tests cannot click this button though, per failures in `test4`

![](https://screencap.co.uk/images/17735b0e7937a07a6960b56384f01d45e5ad63ba.png)

Was some css changed in Train 127 for this?

[2018-12-18 21:52] #6742 closed

[2018-12-19 16:05] vbudhram opened #6763 "Inconsistent `System Unavailable` Error in Functional tests"
I've seen this a few times in the past couple weeks. Our CircleCi tests fail because of `System Unavailable`

Ref: https://screencap.co.uk/images/7b69ebf9578e5d571aa8cc5abc10f42681773862.png
https://circleci.com/gh/mozilla/fxa-content-server/15029?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

There isn't an indication which system might be down.

[2018-12-19 16:19] vladikoff commented on #6763
cc @jrgm

[2018-12-19 16:51] shane-tomlinson commented on #6763
I've seen this as well and assumed we merged something and caused a server restart. There's a saying about assuming things.

[2018-12-19 22:51] devinreams opened #6765 "Type on "confirmation code" form input is not numeric"
Like #6240 #6266 the new "confirmation code" (not TOTP, but in lieu of the confirmation link via email) screen on mobile does not throw up the number keyboard but instead the normal alpha/numeric keyboard.

[2018-12-20 14:38] vladikoff opened #6767 "User gets a 400 while trying to disable 2FA in an unverified session"
![](http://v14d.com/i/83efbefb4ccc6c5460c4263bc2a688c5d3ed54f1f2463b5cfaeeaf9049afef49.jpg)

From a Slack there, someone got to settings, the 2FA button showed that it can be disabled.

![image](https://user-images.githubusercontent.com/128755/50290903-0c73ad80-043b-11e9-83d7-616fa2d06740.png)

I suggested workaround to them, create a new profile, login to Sync and try disable via settings that wa

[2018-12-20 14:58] shane-tomlinson commented on #6767
I thought we stopped allowing users to access settings if their session was unverified.

cc @vbudhram

[2018-12-20 17:49] vbudhram opened #6769 "Add app icon for Screenshots"
FxA users can login to Screenshots. We should add an app icon.

<img width="553" alt="screen shot 2018-12-20 at 12 23 23 pm" src="https://user-images.githubusercontent.com/1295288/50301570-b6f8ca00-0455-11e9-9834-e73977017bb7.png">

[2018-12-20 21:06] vbudhram commented on #6767
We only stop them if they are requesting keys or have TOTP. If the user had a verified session in device A, then added TOTP in device B, device A would get the behavior described above.

The only way around is to log out and re-login, which would then prompt for the TOTP code and make the session TOTP verified.

This is a bug though, we should be surfacing some error telling them that they need to

[2018-12-21 10:21] foursixnine commented on #6745
I'm not sure if changing emails for me triggered a merge or simply a new login?... If I try to login, what happens behind the scenes? is there a check that can reply "Hey this is an email address that's linked to that $user". Merging is one thing and logging in with a secondary email is another thing... isn't it?.

[2018-12-21 16:38] ryanfeeley commented on #6769
@vbudhram We got one! https://design.firefox.com/icons/viewer/#screenshot

[2018-12-21 19:40] #6751 closed

[2018-12-21 19:57] shane-tomlinson opened #6848 "ES - Secondary email title and placeholder partially obscured on mobile"
Both the panel title and the placeholder are partially obscured when the text is longer than the English equivalent.

<img width="327" alt="screenshot 2018-12-21 at 19 52 06" src="https://user-images.githubusercontent.com/848085/50361167-85b5f200-055a-11e9-9193-ff58833e08a3.png">

[2018-12-21 20:22] vladikoff commented on #6752
After discussing this with @ryanfeeley we couldn't find a suitable solution that will benefit the row items

![image](https://user-images.githubusercontent.com/128755/50362062-2a710900-0534-11e9-93d4-696c557c6285.png)

[2018-12-21 20:22] #6752 closed

[2018-12-21 20:22] vladikoff commented on #6848
@ryanfeeley ideas ?

[2018-12-21 21:09] ryanfeeley commented on #6752
@vladikoff Why post screenshots of our DMs man?
<img width="134" alt="image" src="https://user-images.githubusercontent.com/68213/50363712-d7e71b00-053a-11e9-8c4c-0398c9b5091f.png">

[2018-12-21 21:33] vladikoff commented on #6752
@ryanfeeley oh no!

[2018-12-24 18:50] vladikoff commented on #6556
I feel like it's up to the browser to make sure all languages have the right font-size, we cannot check all possible locales and start adjust for it. Reopen if you strongly feel we should have a custom rule for this.

[2018-12-28 14:57] #6566 closed

[2018-12-31 16:57] vladikoff commented on #6691
Let's revisit this if this comes up again

[2018-12-31 16:57] #6691 closed

[2018-12-31 16:59] vladikoff commented on #6506
Let's revisit this once we actually have this integration

[2018-12-31 16:59] #6506 closed

[2019-01-02 14:46] philbooth opened #6852 "Remove code for old storage name in app/scripts/models/uniqueUserId.js"
I was poking about in our UUID implementation and noticed [this comment](https://github.com/mozilla/fxa-content-server/blob/8fc1679bfee8456996c0a02f97ffdb843f62299a/app/scripts/models/unique-user-id.js#L56-L58):

[code]

I reckon 3.5 years is sufficiently prudent that we can think about deleting the transition code now.

[2019-01-02 20:10] #6769 closed

[2019-01-02 20:59] ryanfeeley opened #6854 "Vertically center avatar buttons"
CURRENT:
<img width="463" alt="screen shot 2018-12-21 at 1 53 36 pm" src="https://user-images.githubusercontent.com/68213/50612255-60ed4300-0ea7-11e9-9493-6e5d7951bedd.png">

PROPOSED (lifted 20px):
<img width="463" alt="screen shot 2018-12-21 at 1 53 36 pm copy" src="https://user-images.githubusercontent.com/68213/50612258-634f9d00-0ea7-11e9-9ec2-00cc95601e51.png">

[2019-01-03 14:44] #6758 closed

[2019-01-04 11:51] shane-tomlinson commented on #6556
Yes, we should still do this, [conversion rates for AR are significantly lower than other locales](https://analytics.amplitude.com/mozilla-corp/chart/jvwikep). We regularly make affordances for "long languages" like German, this is a similar problem.

[2019-01-04 16:52] sandysage commented on #6748
We're going to test this on the Monitor side and share our findings. Thanks all for the discussion. I'm going to suggest this issue can be closed.

[2019-01-04 17:32] vbudhram commented on #6748
@sandysage Feel free to reopen after findings.

[2019-01-04 18:35] shane-tomlinson commented on #6554
@vladikoff the eslinst-plugin-fxa PR was merged, this can be updated now! Nice work on that!

[2019-01-04 19:52] #6724 closed

[2019-01-04 20:36] vladikoff commented on #6748
Thank you @sandysage !

[2019-01-07 09:13] shane-tomlinson commented on #6060
Ref https://bugzilla.mozilla.org/show_bug.cgi?id=1517802, the difference there is it's a regular sign out.

[2019-01-07 17:30] vladikoff commented on #6767
needs @ryanfeeley on the strings and ux

[2019-01-07 17:31] vladikoff commented on #6765
add a slash plus shane says

[2019-01-07 17:32] vladikoff commented on #6763
this got fixed up it seems

[2019-01-07 17:32] #6763 closed

[2019-01-07 17:32] shane-tomlinson commented on #6765
Look at the age input, it'll need a `pattern="\n+` attribute I think.

[2019-01-07 17:33] vladikoff commented on #6448
from mtg: still blocked on change password

[2019-01-07 17:48] philbooth opened #6861 "Research feature-flagging"

[2019-01-07 18:10] ryanfeeley commented on #6848
For the section title, there should be … truncation but I noticed that it is only applied at full width. See GIF:
![repeated](https://user-images.githubusercontent.com/68213/50784995-5a7f1280-127d-11e9-809c-1ccc62916348.gif)

Can it behave more conventionally so that the … moves dynamically?

For the field placeholder, aside from requesting a shorter translation or making the font size max out at

[2019-01-08 17:30] irrationalagent commented on #6756
I just posted this in IRC, something I realized, maybe I need to file a separate issue.

I think I've seen some cases where entrypoint is defined (for example) in the first few steps of a funnel (view events) but not for later steps. This causes entrypoint to get set as a user property which persists, allowing us to track the origin of a user's registration. I wonder then, if we eliminate all null

[2019-01-08 17:37] irrationalagent commented on #6757
copypasta from another issue,

I just posted this in IRC, something I realized, maybe I need to file a separate issue.

I think I've seen some cases where entrypoint is defined (for example) in the first few steps of a funnel (view events) but not for later steps. This causes entrypoint to get set as a user property which persists, allowing us to track the origin of a user's registration. I wonder

[2019-01-08 18:21] davismtl commented on #6757
@irrationalagent can you run this by Danny from Amplitude? He can help confirm or deny our assumptions.

[2019-01-08 20:06] irrationalagent commented on #6757
In talking with the folks in amplitude, they clarified that only the values of the user properties set at the time of the first step in the funnel chart matter for the calculation of the results, so making this change won't break our funnels.

However, if we start setting empty `entrypoint` values to equal `client_id`, then we will have to keep in mind that in some cases intermediate funnel steps

[2019-01-09 03:50] sakshi97 commented on #6854
Hi. Can I take up this issue to get started with the repository?

[2019-01-09 09:38] shane-tomlinson commented on #6854
@sakshi97 - We'd be happy for you to take up this issue! To get started, have a [look at the docs](https://github.com/mozilla/fxa-content-server/#quick-start) and see if you can get the servers started.

The affected is [here](https://github.com/mozilla/fxa-content-server/blob/69bfd93a8ac209ea855e3691f54cd5177d3947f5/app/scripts/templates/settings/avatar_change.mustache#L15).
The affected CSS is [

[2019-01-09 15:40] vbudhram commented on #6848
I believe we can do this!

[2019-01-10 21:05] shane-tomlinson opened #6867 "POST /metrics reports being rejected: :child "deviceId" fails because ["deviceId" is required]""
This started with train-127, several 10k's per day:

https://sentry.prod.mozaws.net/operations/content-express-server-prod/issues/626954/?query=is:unresolved

cc @philbooth

[2019-01-10 21:06] shane-tomlinson commented on #6867
Could this have something to do with https://github.com/mozilla/fxa-content-server/commit/c10d699ad63a77e8e58977d492930d36e5b1c24f

[2019-01-10 21:16] philbooth commented on #6867
Ah yeah, probably, sorry...

[2019-01-10 21:19] philbooth commented on #6867
Presumably if we reinstate the ` || NOT_REPORTED_VALUE` it should fix it, I can have a play tomorrow.

[2019-01-11 07:37] hritvi commented on #6852
May I work on this issue? I think only the code mentioned [here](https://github.com/mozilla/fxa-content-server/blob/8fc1679bfee8456996c0a02f97ffdb843f62299a/app/scripts/models/unique-user-id.js#L55) need to be removed.

[2019-01-11 07:47] philbooth commented on #6852
@hritvi, yep it should be a case of just ripping out that first `if` condition then updating any tests that were asserting it. I'm not sure whether we have those tests or not btw, if not it might be worth adding one to assert that the old condition has definitely gone away.

[2019-01-11 11:00] shane-tomlinson opened #6869 "Remove legacy account storage format upgrade code"
@philbooth's comments in #6852 to remove old code from uniqueUserId.js reminded me we have similar left over code in user.js to upgrade storage formats. We have not written the original storage format for 4 or 5 years, and we started getting the user's session information from the browser beginning with Firefox 47 anyways, ignoring what's in localStorage. Let's get rid of this old stuff.

Start he

[2019-01-11 11:44] hritvi commented on #6852
I have pushed a commit to remove the if statement [here](https://github.com/hritvi/fxa-content-server/commit/e5bea37201d4d0b1f360dc3b0f9a4eba374e7813).
Is [this](https://github.com/mozilla/fxa-content-server/blob/master/app/tests/spec/models/unique-user-id.js#L78) the test for uuid @philbooth? I think that we should remove this and instead add assert regarding removal of old condition.

[2019-01-11 11:46] hritvi commented on #6869
May I work on this issue @shane-tomlinson?

[2019-01-11 12:47] shane-tomlinson commented on #6869
You sure can!

[2019-01-11 12:47] shane-tomlinson commented on #6867
fixed by #6868, closing.

[2019-01-11 12:47] #6867 closed

[2019-01-11 12:48] shane-tomlinson commented on #6867
I'm being optimistic, we haven't deployed the fix to verify yet.

[2019-01-11 12:57] philbooth commented on #6852
Not sure. It looks like it's related, definitely, although I don't see it calling thje `fetch` method anywhere. But maybe I just don't understand how it's all wired together, I'm not very familiar with this part of the code.

But the simplest way to tell for certain is to run the unit tests and see if it fails! (http://127.0.0.1:3030/tests/index.html if you're using fxa-local-dev)

As long as we h

[2019-01-11 13:18] SorinaFlorean commented on #6769
I wasn't able to verify on stage server, the screenshots icon is not listed in devices&apps section, probably because is not pointed to stage, but we will look when Train 128 is in prod.

[2019-01-11 13:31] SorinaFlorean commented on #6751
Verified as Fixed - stage server Train 128.

[2019-01-11 13:31] shane-tomlinson commented on #6728
This problem also applies to "New recovery codes generated"

<img width="494" alt="screenshot 2019-01-11 at 13 30 55" src="https://user-images.githubusercontent.com/848085/51036506-35541200-15a5-11e9-811b-faf52b427e54.png">

[2019-01-11 14:54] vladikoff commented on #6687
This feels like the unverified session bug

[2019-01-11 14:55] TheoChevalier commented on #6728
Also when you set up a recovery key and click “Print”, “Copy” or “Download”

<img width="405" alt="capture d ecran 2019-01-11 a 14 53 12" src="https://user-images.githubusercontent.com/1294206/51040990-c977a680-15b0-11e9-933a-f4db2a3c124e.png">
<img width="401" alt="capture d ecran 2019-01-11 a 14 53 23" src="https://user-images.githubusercontent.com/1294206/51040992-c977a680-15b0-11e9-908d-72b610

[2019-01-11 15:01] shane-tomlinson commented on #6728
Well spotted, that's a slightly different bug. I'll get on that.

[2019-01-11 15:34] shane-tomlinson opened #6871 "tooltips not translated in local development"
Tooltips are fine on prod, but not local development:

### local
<img width="777" alt="screenshot 2019-01-11 at 15 32 32" src="https://user-images.githubusercontent.com/848085/51043253-2f1a6180-15b6-11e9-971c-17b60687fc77.png">

### prod
<img width="740" alt="screenshot 2019-01-11 at 15 32 54" src="https://user-images.githubusercontent.com/848085/51043258-30e42500-15b6-11e9-8bb1-664105ac9f50.png">

[2019-01-11 15:49] TheoChevalier commented on #6871
Are you by chance using a en-GB or en-US build of Firefox for local dev and fr for prod? Those tooltips are added by the browser, so they match the locale of your browser UI

[2019-01-11 16:19] shane-tomlinson commented on #6871
Within FxA, we override all browser based tooltips and create our own.

[2019-01-11 17:07] #6728 closed

[2019-01-14 14:31] shane-tomlinson opened #6873 "/metrics-errors submissions being rejected w/ missing "platform""
See https://sentry.prod.mozaws.net/operations/content-express-server-prod/issues/4344125/?query=is:unresolved

[2019-01-14 17:35] vladikoff commented on #6745
dup of https://github.com/mozilla/fxa-bugzilla-mirror/issues/558

[2019-01-14 17:35] #6745 closed

[2019-01-14 20:17] #6871 closed

[2019-01-15 02:56] vbudhram opened #6877 "Show a loading indicator while waiting for session status"
From https://github.com/mozilla/fxa-content-server/pull/6754#issuecomment-452072880, we should show a loading indicator similar to how the "Devices & apps" section shows when it is opened. Currently, we show the `unverified panel` while we wait for the browser to determine if the session is verified or not. This causes a slight jank when the section is opened.

[2019-01-15 06:43] hritvi commented on #6869
In the tests [here](https://github.com/mozilla/fxa-content-server/blob/master/app/tests/spec/models/user.js#L731) there is a function call to `upgradeFromUnfilteredAccountData()`, do I need to replace this also with a call to `user.removeAccountsWithInvalidUid()` ?

[2019-01-15 14:46] shane-tomlinson commented on #6869
There is already a [test for removeAccountswithInvalidUid](https://github.com/mozilla/fxa-content-server/blob/master/app/tests/spec/models/user.js#L765), so shouldn't need to update any existing tests for that. Looking at the tests, I think lines [550 through 763](https://github.com/mozilla/fxa-content-server/blob/master/app/tests/spec/models/user.js#L550:L763) can be removed after this.

[2019-01-15 18:57] #6852 closed

[2019-01-16 10:36] algomaster99 commented on #6877
Hello! I would like to work on this issue. Please assign it to me.

[2019-01-16 12:04] SorinaFlorean commented on #6769
Verified on production, the icon is listed in Manage account -> Devices and apps section.

[2019-01-16 13:18] shane-tomlinson opened #6880 "Allow blank "email" query parameter"
I noticed while testing https://phabricator.services.mozilla.com/D16120 (the new about:newinstall page being developed) that they allow the self-hosted email-first form to be submit w/o requiring an email. That's a little odd, but worse is when FxA opens we show an "Invalid parameter: email" error.

<img width="466" alt="screenshot 2019-01-16 at 13 17 26" src="https://user-images.githubusercontent

[2019-01-17 11:18] shane-tomlinson commented on #6877
Hi @algomaster99 - You are welcome to work on this bug! Unfortunately we are only able to assign bugs to people in the mozilla/fxa-devs team, though none of us have any immediate plans to work on this so you should be safe to continue.

If you run into any issues, let any of us know. @vbudhram might have some tips on other places the loading spinner is used within settings that you could use as a

[2019-01-19 15:32] star1951 commented on #3421
about:accounts?action=signin&entrypoint=firstrun#

[2019-01-21 20:08] vladikoff commented on #6581
this looks like it stopped per https://sentry.prod.mozaws.net/operations/fxa-content-product/?query=importSearchParamsUsingSchema

[2019-01-21 20:08] #6581 closed

[2019-01-21 20:54] vladikoff commented on #6198
@shane-tomlinson please reopen this if you think we are gonna get to this legacy view

[2019-01-21 20:54] #6198 closed

[2019-01-21 20:59] vladikoff commented on #6016
this was fixed

![image](https://user-images.githubusercontent.com/128755/51498696-87f7b000-1d95-11e9-97b4-53dc5079c643.png)

[2019-01-21 20:59] #6016 closed

[2019-01-21 21:11] #6873 closed

[2019-01-22 02:39] #6765 closed

[2019-01-22 13:05] #6554 closed

[2019-01-22 14:20] shane-tomlinson commented on #6198
The only thing we should do to the legacy view is rip it out!

[2019-01-22 14:22] philbooth opened #6890 "Render feature-flagging config in the DOM"
Depends on mozilla/fxa-shared#41.

[Feature doc](https://docs.google.com/document/d/1pRQuK7GWM3zEZLObZCByDxU_cImduICHrL6SaPSoUkU).

[2019-01-22 14:23] philbooth commented on #6890
Or we could just make it render the current static config for now, in which case this could take place before the linked issue.

[2019-01-22 14:32] philbooth commented on #6890
Use the existing `fxa-content-server/config` meta tag for this.

[2019-01-22 14:47] philbooth commented on #6861
Closing, see feature doc: https://docs.google.com/document/d/1pRQuK7GWM3zEZLObZCByDxU_cImduICHrL6SaPSoUkU

[2019-01-22 14:47] #6861 closed

[2019-01-22 17:25] shane-tomlinson commented on #6877
@vbudhram to follow up.

[2019-01-22 17:48] shane-tomlinson commented on #6687
Closing as a dup of #6767

[2019-01-22 17:48] #6687 closed

[2019-01-22 20:31] #6556 closed

[2019-01-22 21:37] vladikoff commented on #6616
Let's revisit this one in the future

[2019-01-22 21:37] #6616 closed

[2019-01-23 08:46] richa031 commented on #6306
is this issue still open?

[2019-01-23 09:18] shane-tomlinson opened #6894 "Sentry error: null is not an object (evaluating a.title)"
Ref https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/3204691/events/27194114/

These all seem to be happening with Firefox for iOS. Maybe window.document is not available everywhere we check window.document.title?

[2019-01-23 13:35] shane-tomlinson commented on #6306
It doesn't look to be:

<img width="328" alt="screenshot 2019-01-23 at 13 34 56" src="https://user-images.githubusercontent.com/848085/51610089-c0bd9380-1f13-11e9-9bb9-9791efcb5126.png">

@SorinaFlorean can you check this one to see if it's still a problem? Locally it looks alright.

[2019-01-24 04:45] rfk opened #6898 "Unexpectedly signed out of sync when using FxA in a private window"
I hit this today while testing some TOTP-related misbehaviour.

**STR:**

1) Sign in to sync in Desktop firefox (I'm on latest nightly, 66.0a1 (2019-01-23) (64-bit))
2) Visit https://accounts.firefox.com/settings and observe that there's no "sign out" button on offer because it's using the sessionToken that belongs to the browser
3) Open a private browsing window and visit https://accounts.firefox

[2019-01-24 11:44] shane-tomlinson opened #6900 "failing functional tests on latest: "force customize sync checkbox to be checked", " show password ended with mouseup""
Started with https://tc-test.dev.lcip.org/viewLog.html?buildId=46379&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

### force customize sync checkbox to be checked

### show password ended with mouseup

[2019-01-24 20:56] algomaster99 commented on #6877
I am having difficulty in setup. The setup fails at npm install  when setting up fxa-local-dev. `fxa-local-dev@1.0.2 postinstall: `_scripts/postinstall.sh``. This is the error being thrown.

[2019-01-25 11:06] shane-tomlinson commented on #6877
@algomaster99 - Since you are going to only be working in the content-server, you might have better luck only installing the content server and running `npm run start-remote`.

See https://github.com/shane-tomlinson/fxa-content-server/blob/68ac159efce4659a324e412d5b77f24ff0d34deb/README.md#quick-start.

Ensure you are using node 8x and npm 6x, and have all the prerequisites installed that are spec

[2019-01-25 12:07] LucianaQueirolo opened #6905 "Browser crashes when User tries to set avatar image with Camera option."
[Affected versions]:
Firefox Nightly 66.0a1 and above

[Affected Platforms]:
Windows 10

[Prerequisites]:
Add-on installed
Treatment branch set.
Verified account.

[Steps to reproduce]:
1. Click on Avatar icon.
2. When expanded, click on image icon.
3. Select Camera option.

[Expected result]:
User is able to set an avatar image using camera option.

[Actual result]:
Browser crashes when User trie

[2019-01-25 14:16] shane-tomlinson opened #6904 "Strange error message: "A TOTP token not found""
<img width="493" alt="screenshot 2019-01-25 at 14 06 33" src="https://user-images.githubusercontent.com/848085/51750782-0365a400-20ab-11e9-9a44-e012aee7b599.png">

STR (requires 2 browsers)

1. In browser A, sign in and enable TOTP
2. In browser B, sign in, wait at the enter TOTP screen
3. In browser A, disable TOTP
4. In browser B, enter a TOTP code.

I couldn't find this string within the conten

[2019-01-25 14:17] shane-tomlinson commented on #6904
I should have pointed out it is important we have entries for these so that the error messages are translated into non-EN locales.

[2019-01-28 09:35] miralobontiu opened #6906 ""Learn more" is not hyperlinked when creating an underage account on iOS"
Environment: Train 129 - Stage server
Device: iOS SE (12.0.1)

Steps to reproduce:
 1. Launch Firefox with a new profile and go to hamburger menu.
 2. Create an underage account.
 3. Tap on "Learn more" from the message "Cannot create account. You must meet certain age requirements to create a Firefox Account. Learn more."

Expected result:
 The "Learn more" should be hyperlinked and the user shou

[2019-01-28 09:59] shane-tomlinson commented on #6906
This is intentional on Firefox for iOS because there is no way to open the link w/o breaking the Firefox Accounts flow. See https://github.com/mozilla/fxa-content-server/issues/2225 for the original description of the problem.

[2019-01-28 17:11] #6906 closed

[2019-01-30 06:13] l-hedgehog commented on #6738
Hi, just to clarify, since we're currently using a fork of [mozilla-services/msisdn-gateway](https://github.com/mozilla-services/msisdn-gateway) but the instance at https://msisdn.services.mozilla.com/ is long gone, when preparing my PR, I should propose any necessary changes directly in `fxa-auth-server` instead of assuming that service could be revived, right?

[2019-01-30 16:17] vbudhram opened #6907 "`Forgot password` label after password changed is not aligned properly"
Noticed this while testing https://github.com/mozilla/fxa-content-server/pull/6859, it is reproducible on master.

STR
1. Create account
2. Login and change password
3. After successful password change, open password change panel again

<img width="516" alt="screen shot 2019-01-30 at 11 13 08 am" src="https://user-images.githubusercontent.com/1295288/51995292-6d51c500-2480-11e9-8f28-1c248c5be5a0.p

[2019-01-30 19:24] jbuck opened #6908 "screen.height schema issue"
Most of the time, `screen.height` and `screen.width` are integers, but sometimes the value `"none"` gets assigned and then BigQuery gets sad. Could we enforce that it's always an integer, or not set? I think it'd require modifying [this function](https://github.com/mozilla/fxa-content-server/blob/d95118004500ecd522061b4de08ace068e21ae37/server/lib/metrics-collector-stderr.js#L73)

If possible, I'd

[2019-01-30 20:12] jrgm opened #6909 "two consistently failing tests on "latest" teamcity"
(hit return too early)

Also happens on stage:

https://tc-test.dev.lcip.org/viewLog.html?buildId=46557&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

- force customize sync checkbox to be checked
  https://screencap.co.uk/images/f18aed0bd6dc7e55ad93795ee71ebab4a54675a4.png

- show password ended with mouseup
  https://screencap.co.uk/images/e0a7283be1703ee4f6701eadf56ee338fc175a52.png

[2019-01-30 21:12] vladikoff commented on #6909
@jrgm these are probably due to the geckodriver update and just the assertions need to be adjusted.

[2019-01-31 05:30] hritvi commented on #6904
@shane-tomlinson, I would like to work on this issue. Is it just that I have to add a entry for err 155 in auth-errors.js?

[2019-01-31 06:53] shane-tomlinson commented on #6909
Dup of #6900

[2019-01-31 06:53] #6909 closed

[2019-01-31 06:56] shane-tomlinson commented on #6904
@hritvi - yup, if you add an entry for errno 155, could you add all of them from 154->158?

[2019-01-31 08:37] hritvi commented on #6854
@sakshi97 are you working on this? If not, may I take this issue @shane-tomlinson?

[2019-01-31 13:03] #6573 closed

[2019-01-31 13:13] #6900 closed

[2019-01-31 16:33] ryanfeeley commented on #6448
@shane-tomlinson Can we at least have the updated copy reflected inside the first bubble? A much better use of space, especially on the cramped change password section.

Current:
<img width="312" alt="image" src="https://user-images.githubusercontent.com/68213/52068977-d3574e80-254b-11e9-82e9-6e4c86739a16.png">

Proposed:
<img width="303" alt="image" src="https://user-images.githubusercontent.com/

[2019-01-31 17:35] davismtl commented on #6448
This is a carryover from past quarters. We know it leads to less password resets which is a good thing.

Seems to me that updating both bubbles is low hanging fruit.

[2019-01-31 18:12] shane-tomlinson commented on #6448
We can update the first bubble, but we don't yet have the 2nd bubble. Now that all of signup/change_password/reset_password all have the password strength advice, we should be able to add the 2nd bubble with relatively minimal fuss.

As an interim step, we could pretty easily update the first bubble to @ryanfeeley's proposal and add the 2nd bubble as a 2nd step.

[2019-01-31 20:48] shane-tomlinson commented on #6757
In the process of reverting the change that closed this, re-opening.

[2019-02-01 12:33] philbooth opened #6918 "send-sms-install-link experiment contains some wrong-looking code"
It's harmless because of how `bernoulliTrial` is implemented, but this code in `app/scripts/lib/experiments/grouping-rules/send-sms-install-link.js` looks wrong to me:

[code]

Because of the destructuring assignment, the zero doesn't end up where it's intended. Instead the lhs ends up dereferencing the `rolloutRate` property of the number `0`, which is `undefined`. Something like this would be mo

[2019-02-01 12:39] philbooth commented on #6918
(actually, I just realised the `|| 0` is guaranteed never to be executed because of a preceding `if` test, so it could just be removed instead)

[2019-02-01 12:53] philbooth opened #6919 "Unnecessary promises in app/scripts/lib/config-loader.js"
Likely for historical reasons, the implementations of `ConfigLoader::_readConfigFromHTML` and `ConfigLoader::_parseHTMLConfig` return promises, despite continaing no asynchronous code. This makes them and the consuming code more complex than they need to be, and violates the principle of least astonishment. Maybe we should consider simplifying them.

[2019-02-01 13:04] philbooth opened #6920 "Redundant setting of env property in app-start.js?"
The implementation of `ExperimentChoiceIndex::choose` takes care to [automatically propagate `subject.env` in calls to `choose`](https://github.com/mozilla/fxa-content-server/blob/9903562ae5b4f8c30d84d1e14b38597b2ad79a2b/app/scripts/lib/experiments/grouping-rules/index.js#L51-L54):

[code]

And `app-start.js` takes care to [set it when creating `this._experimentGroupingRules`](https://github.com/m

[2019-02-01 16:41] shane-tomlinson opened #6922 "Stop logging sampled logs to stderr"
In [POST /metrics](https://github.com/shane-tomlinson/fxa-content-server/blob/4fedb30b2d165e087f151dc01ee90a9d0a83e566/server/lib/routes/post-metrics.js#L165) we log sampled user metrics to stderr.

The thing is, nobody is sure they are being consumed by anyone anymore. We might have consumed the events from Kibana, and the same gating logic was used to send stats to DataDog. We no longer have eit

[2019-02-01 16:42] shane-tomlinson commented on #6922
I have updated the deploy doc to set `DISABLE_CLIENT_METRICS_STDERR` to `true`

[2019-02-04 15:27] shane-tomlinson opened #6924 "failing functional tests on latest: "sign in - change the password", " new_password validation, balloon""
See https://tc-test.dev.lcip.org/viewLog.html?buildId=46793&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests#testNameId-5669781555265869548

* Firefox Desktop Sync v1 settings - sign in, change the password

* change_password -  new_password validation, balloon

[2019-02-04 16:30] #6924 closed

[2019-02-04 17:36] vladikoff opened #6928 "Prompt for TOTP after password reset"
ref https://github.com/mozilla/fxa-content-server/pull/6878

[2019-02-04 17:47] #6922 closed

[2019-02-04 17:54] vladikoff opened #6929 "Land views and brokers for pairing"
Land views and brokers for pairing

ref https://github.com/mozilla/fxa-content-server/pull/6927

[2019-02-04 18:01] vladikoff opened #6930 "Deliver QA builds for pairing"

[2019-02-04 19:45] vladikoff commented on #6930
Email sent.

[2019-02-04 19:45] #6930 closed

[2019-02-04 21:01] vbudhram opened #6931 "Cleanup password reset TOTP tests"
With the introduction of https://github.com/mozilla/fxa-content-server/pull/6878, there are some scenarios where the UX wouldn't necessarily do what would be expected.

If we fix this test case, https://github.com/mozilla/fxa-content-server/pull/6878#discussion_r248227090, then it breaks https://github.com/mozilla/fxa-content-server/blob/15eac26724cb80a922b08459354e2aba70d773b2/tests/functional/oa

[2019-02-05 10:40] shane-tomlinson opened #6932 "Remove stderr logging code, if there are no consumers"
In #6922 we asked Ops to disable logging to stderr to see if anybody is actually consuming those logs. Once train-130 rolls out, and if nobody complains their logs are missing, let's remove the stderr logging code.

ref #6918

[2019-02-05 10:44] shane-tomlinson opened #6933 "Merge oauth & oauth-redirect auth brokers"
The oauth and oauth-redirect auth-brokers were separated because there was a time when there was a different type of broker, an oauth-webchannel broker that used oauth as it's parent class. This is no longer the case and these two still being separate no longer serves any meaningful purpose.

Let's merge the two and simplify the overall hierarchy

[2019-02-05 10:44] shane-tomlinson commented on #6931
@vbudhram - we fixed this last minute before merging, didn't we?

[2019-02-05 11:25] shane-tomlinson opened #6934 "validation tests fail because metrics.md is 404"
https://github.com/mozilla/application-services/pull/602 moved metrics.md from https://raw.githubusercontent.com/mozilla/application-services/master/docs/product-portal/accounts/metrics.md

[2019-02-05 13:48] vbudhram commented on #6931
@shane-tomlinson yea we did! Closing

[2019-02-05 13:48] #6931 closed

[2019-02-05 13:50] #6934 closed

[2019-02-06 10:38] hritvi commented on #6933
Hey @shane-tomlinson I could not locate the oauth-redirect relier among [these files](https://github.com/mozilla/fxa-content-server/tree/master/app/scripts/models/reliers). Can you help me find this? Thanks :slightly_smiling_face:

Also may I work on this? I found this quite interesting.

[2019-02-06 10:41] shane-tomlinson commented on #6933
Aye... I specified incorrectly. I meant [the brokers](https://github.com/mozilla/fxa-content-server/tree/master/app/scripts/models/auth_brokers). Updating the title/description.

[2019-02-06 10:46] shane-tomlinson commented on #6933
You sure can! This will be trickier than some of the other tasks you have worked on, if you run into any problems let me know!

[2019-02-06 10:49] shane-tomlinson opened #6938 "latest failing functional test: "change_password - new_password validation, balloon""
Build info: version: '3.14.0', revision: 'aacccce0', time: '2018-08-02T20:13:22.693Z'
System info: host: 'a4da6ae44c9f', ip: '172.17.0.4', os.name: 'Linux', os.arch: 'amd64', os.version: '4.4.41-36.55.amzn1.x86_64', java.version: '1.8.0_144'
Driver info: driver.version: unknown
  at Command.parent.execute.findByCssSelector.click.then  <tests/functional/lib/helpers.js:204:18>
  at Command.parent.fi

[2019-02-06 10:50] hritvi commented on #6933
Thanks!!

[2019-02-06 13:15] #5558 closed

[2019-02-06 13:41] shane-tomlinson commented on #5651
fixed by #6895, closing.

[2019-02-06 13:41] #5651 closed

[2019-02-06 14:53] ryanfeeley opened #6942 "App store badges not showing up"
STEPS TO REPRODUCE
1. In my personal browser profile I went to: https://accounts.firefox.com/sms

EXPECTED RESULTS
* App and Play Store badges appear

ACTUAL RESULTS
* They don't
<img width="455" alt="image" src="https://user-images.githubusercontent.com/68213/52349568-dabba380-29f4-11e9-8963-156913e59daf.png">

[2019-02-06 15:29] ryanfeeley opened #6943 "Deintensify the colour of our success messages"
Current:
<img width="505" alt="image" src="https://user-images.githubusercontent.com/68213/52352240-3e949b00-29fa-11e9-9389-53140cc083e9.png">

Proposed:
![image](https://user-images.githubusercontent.com/68213/52352204-32a8d900-29fa-11e9-9cc2-0a8280fa0cbb.png)

New background colour: #c7fbbf
New text and link colour: #063311

Also checks out for contrast ratio.
https://contrast-ratio.com/#%230633

[2019-02-06 19:47] #6938 closed

[2019-02-07 06:28] shane-tomlinson commented on #6942
They were never added to this page, only on the "enter your phone number" page. IIRC, this was an explicit decision,users have already sent the SMS and we want them to open the SMS rather get distracted and click on an app store link.

[2019-02-07 06:30] shane-tomlinson commented on #6943
These colors come straight from the [photon style guide](https://design.firefox.com/photon/components/message-bars.html).

[2019-02-07 06:44] shane-tomlinson commented on #6942
Looking at that photo more closely, there's the "If you are not receiving the text message" message, which implies buttons should be there.

And the [feature doc](https://github.com/mozilla/fxa/tree/master/features/FxA-53-send-sms) has this:

<img width="455" alt="image" src="https://github.com/mozilla/fxa/raw/master/features/FxA-53-send-sms/image_20.png">

[2019-02-07 06:48] shane-tomlinson commented on #6942
@ryanfeeley I've figured out the problem. It's because you browsed directly to the `/sms` page, which we don't expect. If you add the `?service=sync` query parameter, then the buttons are displayed as expected:

<img width="469" alt="screenshot 2019-02-07 at 06 48 14" src="https://user-images.githubusercontent.com/848085/52394996-5f192f80-2aa4-11e9-9d2d-22e65c439834.png">

[2019-02-07 12:03] shane-tomlinson opened #6946 "Failing functional tests on latest - "Firefox Desktop Sync v1""
See https://tc-test.dev.lcip.org/viewLog.html?buildId=46928&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog#_focus=327

It gets stuck at the "Save File" dialog displayed when Firefox starts the download.

[2019-02-07 19:35] ryanfeeley commented on #6943
@shane-tomlinson The style guide is about to be updated. My proposal comes directly from our UX team’s principal designer @shorlander. A larger palette refresh will soon follow.

[2019-02-07 21:04] #6929 closed

[2019-02-08 12:08] #6946 closed

[2019-02-08 18:36] ryanfeeley opened #6950 "Change focus ring on red buttons to blue"
Request from @shorlander that we use the same focus colour on all our buttons.

Current:
![focus](https://user-images.githubusercontent.com/68213/52498299-64f73980-2ba6-11e9-924a-f1945ead34cf.gif)

Proposed:
Same focus ring colour on all buttons
https://design.firefox.com/photon/components/buttons.html

[2019-02-08 20:11] ryanfeeley opened #6951 "Invalid token message on check your email page"
I see this error often when creating accounts, and returning later in the day. I can't imagine a scenario where this is a useful message. Is there a way to hide all errors on this page?
<img width="477" alt="image" src="https://user-images.githubusercontent.com/68213/52503464-9f1b0800-2bb3-11e9-8f9e-17e4b7bb18a1.png">

[2019-02-10 11:18] TonnesM opened #6952 "Unclear strings for l10n (imperative or not)"
Recently some new strings were exposed for l10n. Two of them, or at least one, cause(s) confusion as to whether or not the string is imperative (i.e. an instruction to the user), or a user choice. As a rule of thumb says, that confusion could have been eliminated by using a trailing period in case of imperative usage. Seeing different variations of localizations for locales enforces that thought.

[2019-02-11 10:29] shane-tomlinson commented on #6951
We have to see which errors can occur here, blanket hiding *all* errors might be the wrong thing to do, for example, I can imagine if the service is out we'd want to surface an error that says "try again in a few minutes."

For this particular error though, I thought we were supposed to take the user back to the signup page.

[2019-02-11 10:47] shane-tomlinson commented on #6952
cc @vladikoff - some l10n comments would be useful here.

[2019-02-11 15:54] shane-tomlinson opened #6954 "utm_ validation should be the same in both front and back ends"
Right now we are seeing utm_content of "Get a Firefox Account" show up in Sentry as invalid by `POST /metrics`. Unfortunately the moz.org team didn't know because that value is considered valid by the front end.

Let's share the validation regexps between both sides to avoid these sorts of problems.

cc @alexgibson

[2019-02-11 15:54] shane-tomlinson commented on #6954
Documentation: https://mozilla.github.io/application-services/docs/accounts/metrics.html#descriptions-of-metrics-related-query-parameters

[2019-02-11 16:01] vladikoff commented on #6952
cc @ryanfeeley

@TonnesM we also have screenshots that might help understand the strings : https://www.lucidchart.com/documents/view/9a420c19-1e92-42a5-8eae-908a442c1044/4

[2019-02-11 16:12] shane-tomlinson opened #6955 "Display error if `?service=sync` is specified w/o also specifying a `context`"
The about:newinstall integration forgot to send over the `context` query parameter, but they did specify `?service=sync`. This made it seem like everything was A-OK when it wasn't. @ryanfeeley noticed that he completed the flow but wasn't actually signed into Sync.

We could fix this in the signin/signup flows by requiring a `context` query parameter if `service=sync` is specified. We couldn't do

[2019-02-11 17:16] shane-tomlinson commented on #6905
@vladikoff to have a look on a Windows 10 machine.

[2019-02-11 17:27] shane-tomlinson commented on #6942
WONTFIX until SMS is exposed to non-sync reliers.

[2019-02-11 17:27] #6942 closed

[2019-02-11 18:06] shane-tomlinson commented on #6905
I have no problems setting a profile photo using today's version of Nightly (2019-02-11) on Windows 10 or Unbranded Firefox 65 w/ v1.0.3 of the addon. @LucianaQueirolo is this still a problem for you?

[2019-02-12 00:25] shreya99oak commented on #6950
@shane-tomlinson Can I work on this?

[2019-02-12 02:39] shreya99oak commented on #6943
Can I take this up?

[2019-02-12 09:51] shane-tomlinson commented on #6950
You sure can, and I think it'd make @ryanfeeley very happy. I suspect it's as simple as removing these lines: https://github.com/mozilla/fxa-content-server/blob/0a91eb540681858bc96798c2c0851e964595f8a7/app/styles/modules/_button-row.scss#L62:L72

[2019-02-12 09:53] shane-tomlinson commented on #6943
Sure, I suspect it'll involve updating https://github.com/mozilla/fxa-content-server/blob/0a91eb540681858bc96798c2c0851e964595f8a7/app/styles/_variables.scss#L131

[2019-02-12 13:05] hritvi commented on #6933
I suppose the codes [here](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/models/auth_brokers/oauth.js#L190-L231) are redundant and therefore can be removed along with the tests associated with this functions from this [file](https://github.com/mozilla/fxa-content-server/blob/master/app/tests/spec/models/auth_brokers/oauth.js).

Rest of the [oauth.js](https://github.com/mozi

[2019-02-12 17:08] shane-tomlinson opened #6956 "Allow for independent on/off configuration items for flow-events, amplitude, and stderr."
Right now the configuration item [client_metrics.stderr_collection_disabled](https://github.com/mozilla/fxa-content-server/blob/0a91eb540681858bc96798c2c0851e964595f8a7/server/lib/configuration.js#L75) disables *all* the server side metrics, and I inadvertently caused a metrics black-hole expecting just the StderrCollector metrics to be disabled. We should have a way of enabling or disabling these

[2019-02-12 18:46] ryanfeeley opened #6957 "Shorten the focus ring around Forgot password link"
I noticed that in the Password Settings section the focus ring around the Forgot password link is full width. Would be nice to have it fit the link, instead of act as a block.

CURRENT
<img width="491" alt="image" src="https://user-images.githubusercontent.com/68213/52659791-2e822d00-2ecc-11e9-952e-0ba004e09a4f.png">

PROPOSED
<img width="140" alt="image" src="https://user-images.githubusercontent

[2019-02-12 18:56] shane-tomlinson commented on #6957
Well spotted! I wonder if that full width password link is the reason for #6907?

[2019-02-12 19:27] ryanfeeley commented on #6957
@shane-tomlinson I'm not sure and I couldn't identity the CSS issue with inspector but it appears to be behaving as a block.

[2019-02-14 07:19] shane-tomlinson opened #6961 "Show helpful UI on siginin/signup flows if ?service=sync is specified and not in Firefox"
This is related to #6955, but not the same. There have been some instances where users are directed to FxA's sync signin/signup page but not actually in Firefox. From a user's P.O.V. FxA seems broken because FxA will show a spinner while attempting to fetch info from the browser.

We could show more helpful UI saying something along the lines of Sync can only be signed in to using Firefox and prov

[2019-02-14 08:39] shane-tomlinson opened #6962 "Use Webpack for HTML/CSS minimization, ditch grunt-usemin, grunt-cssmin"
We use grunt-usemin to minimize our CSS resources, however it's no longer maintained. We are already using Webpack to generate CSS, let's use it to rev dependencies and minimize the output too.

[2019-02-15 10:05] shane-tomlinson opened #6965 "Enter password for signin screen does not accommodate small screens"
Found by @SorinaFlorean in https://github.com/mozilla/blurts-server/issues/770

---------------------

Environment
iOS - iPhone SE(12.0.1)

Steps to reproduce:

1. Create an account for FM;
2. Log out;
3. Tap on "Sign in";

Actual results: the email field is autocompleted but the name is not centered on the screen.
Expected results: the email field is autocompleted and no visual issues are display

[2019-02-15 15:04] shane-tomlinson commented on #6905
Closing this as WORKSFORME

[2019-02-15 15:04] #6905 closed

[2019-02-15 15:07] #6933 closed

[2019-02-15 22:31] #6753 closed

[2019-02-16 09:52] TonnesM commented on #6952
@vladikoff They do help a bit, but I’m still confused about strings being imperative / clickable links or not, especially the 2nd one.

Please note not all localizers are able (or sometimes willing) to test particular features in order to find out what’s intended, especially with regard to grammar forms. Periods are a fair indication of a string being imperative (instructive), comparable to preced

[2019-02-17 18:06] moz-hwine opened #6968 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/fxa-content-server/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defac

[2019-02-17 19:21] philbooth commented on #6968
@shane-tomlinson, there is one wiki page in this repo, related to testing the SMS flow. Do we still need it? Or could we migrate it to the `docs` directory?