[2018-03-04 23:06] rfk commented on #5916
Yes, particularly if you logged you out of Sync in your browser!

[2018-03-04 23:06] rfk commented on #5916
I'm going to take this out of the IAM milestone for Q1 tracking purposes.

[2018-03-05 17:04] vladikoff commented on #5947
![image](https://user-images.githubusercontent.com/128755/36988633-53aebfbc-206d-11e8-94ae-b14646766396.png)

[2018-03-05 17:05] vladikoff commented on #5938
cc @ryanfeeley , comments?

[2018-03-05 17:06] vladikoff commented on #5938
from mtg:

* should we tweak the text

OR

* use verifications codes and not worry about the text / window?

[2018-03-05 17:08] vladikoff commented on #5937
cc @ryanfeeley

[2018-03-05 17:14] davismtl opened #5949 "Merge warning with email first"
With email first, we now give the merge warning after entering just the email.

This might be a good thing, but maybe it's a bad thing. I'd like us to think about what it should be doing rather than what it is doing all of a sudden since changing to the email first flow.

<img width="1270" alt="screen shot 2018-03-05 at 9 02 16 am" src="https://user-images.githubusercontent.com/19537086/36989237-f

[2018-03-05 19:29] rfk commented on #5938
FWIW this is my current favorite option, but tweaking the wording is probably the *smaller* of the two changes, if we want something out quickly.

[2018-03-05 19:52] vbudhram commented on #5938
I like using verification codes as well, however, they would only work on login. Since it is currently an experiment, we would have to add the `clientId` to the [rollout configuration](https://github.com/mozilla/fxa-content-server/blob/c99b5ca042f9fc3b97f93a5612692a0303f9db2d/app/scripts/lib/experiments/grouping-rules/token-code.js#L10) and put all users in the `treatment-code` group.

[2018-03-06 00:04] vladikoff opened #5950 "this._speedTrap.init is not a function()"
Ref: https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/3197309/events/18710484/

Could be due to stacks switching but need to keep an eye on it

[2018-03-06 19:10] #5703 closed

[2018-03-06 21:11] ryanfeeley commented on #5949
@davismtl It's a good thing, and I'm glad you caught it. I use fresh profiles too often and wouldn't see this.

On second look, I bet we could get better copy on this.

[2018-03-07 00:24] davismtl commented on #5949
Agreed on copy. @ryanfeeley Can you look into that for us?

[2018-03-07 01:36] #5827 closed

[2018-03-07 03:03] jrgm opened #5956 "Builds always fail tests for v1.106.4"
Every time fails with the below, so I can't get a docker image with which to deploy v1.106.4. Could it be that a UI change in `master`, and on fxaci, means that the current tests in `train-106` are doomed to fail?
-> @vbudhram

[code]

[2018-03-07 03:05] vladikoff commented on #5956
@vbudhram we need to disable that test for 106.4

[2018-03-07 03:06] vladikoff commented on #5956
Yeah exactly

[2018-03-07 03:08] jrgm commented on #5956
I can just hack that test out and tag v1.106.5. I'll try that now.

[2018-03-07 15:06] vladikoff commented on #5956
This was cleared

[2018-03-07 15:06] #5956 closed

[2018-03-07 18:41] ryanfeeley commented on #5949
@davismtl Filed a request. https://trello.com/c/S8ipDa1x/68-improve-our-sync-merge-warning

[2018-03-07 18:46] #5399 closed

[2018-03-07 18:46] #5939 closed

[2018-03-07 20:23] ryanfeeley commented on #5938
I have noticed that when in a pop-up Facebook's OAuth flow closes itself. Perhaps if we know it is a pop-up, it's okay to close, but that we should not do that in a tab. Any way to tell the difference?

[2018-03-07 20:25] akshitac8 commented on #5935
Hey @vladikoff Is this bug up for solving?

[2018-03-07 20:50] vladikoff commented on #5935
@akshitac8 Yeap! See https://github.com/mozilla/fxa-content-server#quick-start for steps to get started.

We have a template the uses `avatarDefault` https://github.com/mozilla/fxa-content-server/blob/24eddb8a28e6d4b366c82df5738e97a1d3b3e7ea/app/scripts/templates/settings/avatar.mustache#L6

Template variable gets the value from https://github.com/mozilla/fxa-content-server/blob/24eddb8a28e6d4b366

[2018-03-07 20:53] akshitac8 commented on #5935
@vladikoff  ohkay, I will start working on this and thank you for assigning the issue.
will I to need to install java environment for tackling this issue?

[2018-03-07 20:58] vladikoff commented on #5935
Nope

[2018-03-07 20:59] vladikoff commented on #5935
@akshitac8 However you need to make sure you can start the server, register and get to http://127.0.0.1:3030/settings to work with avatar template files

[2018-03-07 21:01] akshitac8 commented on #5935
Ohkay, I will give it a try and comment back for further doubts.
Thank you:)

[2018-03-08 00:35] rfk commented on #5938
IIUC this is not the OAuth popup itself (which does close correctly) but rather a new window opened as a result of clicking the verification link in the email.

[2018-03-08 04:48] jrgm opened #5963 "train-107: revert disabling of avatar test?"
Following up on https://bugzilla.mozilla.org/show_bug.cgi?id=1443961#c3, https://github.com/mozilla/fxa-content-server/commit/f5fb6657c253da9ca4baac829edadf8fe4cf68f3 was to workaround the fxaci/train-106 test expectations, right? Should be reverted, right?

/cc @vbudhram, @vladikoff

[2018-03-08 10:48] MynahMarie commented on #5078
@vladikoff Can I work on this for my Outreachy contribution if this issue is still available ? (just to get me started )

[2018-03-08 11:38] vladikoff commented on #5078
@MynahMarie yeap! Find the conditional comments in all templates and remove them

[2018-03-08 17:58] irrationalagent opened #5965 "Send SMS view does not display in some situations"
When analyzing the results of adding the SMS option on registration, I noticed that a substantial portion of USA registrants don't actually emit an event indicating that they viewed the SMS form. Since SMS should have rolled out to 100% to the USA, I figured I'd file something.

https://analytics.amplitude.com/org/31251/chart/we3j0qs

To investigate, I went through the registration flow a few time

[2018-03-08 18:38] vladikoff commented on #5963
@jrgm that change never made to 107 as far as I see

[2018-03-08 18:39] vladikoff commented on #5950
Ref: https://github.com/mozilla/fxa-bugzilla-mirror/issues/475

[2018-03-08 18:43] vladikoff opened #5966 "add tokenCode pull request to `master` / `train-108`"
This PR needs to be added to master: https://github.com/mozilla/fxa-content-server/pull/5964

Branch doesn't clean merge

[2018-03-08 18:44] vladikoff commented on #5966
cc @vbudhram

[2018-03-08 19:22] rfk commented on #5963
I edited this out when I merged train-106 into train-107; sorry, I should have mentioned that explicitly.

[2018-03-08 19:23] rfk commented on #5963
(specifically in this merge commit: https://github.com/mozilla/fxa-content-server/commit/8505c345739128d2e4d1aaa7e72de2726be59f2d)

[2018-03-08 20:14] ryanfeeley opened #5968 "Set maximum width for buttons to improve internationalization"
I still think that CSS grid is a proper solution, but in the meantime, let's set a maximum width, no wrap, no overflow with ellipsis truncation of buttons and provide the full copy in the title for hover.

![internationalize](https://user-images.githubusercontent.com/68213/37173996-4373aa7c-22e3-11e8-8b54-c9a2014bd2a9.png)

[2018-03-08 20:15] vladikoff commented on #5968
neat!

[2018-03-08 20:30] vladikoff opened #5969 "Load webpack chunks from the CDN"
Currently sad times with this:

![image](https://user-images.githubusercontent.com/128755/37174774-8ecea68c-22e5-11e8-854d-650cee9322e2.png)

`import` statements need to be CDN aware

[2018-03-08 20:35] ryanfeeley commented on #5968
Not as good as a proper CSS Grid solution but #thereifixedit
![image](https://user-images.githubusercontent.com/68213/37175055-5588e85a-22e6-11e8-8e32-3f9b0efd0a61.png)

[2018-03-08 21:19] vladikoff commented on #5969
Need to add the CDN into `publicPath` and everything is going to be okay:

https://webpack.js.org/configuration/output/#output-publicpath

[2018-03-08 21:38] vladikoff opened #5970 "Remove `get-metrics-errors.js` endpoint"
We stopped sending things there in 2015
![image](https://user-images.githubusercontent.com/128755/37177978-1b31bd5e-22ef-11e8-9123-d0bb17e53b03.png)

[2018-03-08 21:39] vladikoff commented on #5963
Closing this then, I think..

[2018-03-08 21:39] #5963 closed

[2018-03-09 00:09] #5662 closed

[2018-03-09 15:55] #5364 closed

[2018-03-10 17:31] hritvi commented on #5970
Hii @vladikoff ! Can i take this issue? Thanks.

[2018-03-10 17:39] vladikoff commented on #5970
@hritvi yes please!

[2018-03-10 18:04] hritvi commented on #5970
I have created the pull request. Please review. Thanks :)

[2018-03-12 12:27] philbooth opened #5977 "Why do we bother with a changelog?"
I've raised this before in various channels, but a changelog is only worth maintaining if it's a truthful record of changes and versions. Yet it seems like in most releases we perform operations that break the changelog. So -- *deliberately provocative question alert* -- should we just delete the changelog?

I'd rather we kept it and maintained it truthfully, but it stresses me out when it's wrong

[2018-03-12 12:49] #5966 closed

[2018-03-12 14:18] vladikoff commented on #5977
I found the changelog really useful, even in the current state of it

However, yeah, if there are steps we can do to make it more truthful I am all for it 👍

[2018-03-12 17:02] jrgm commented on #5977
+1 to sane merge strategy and keeping changelog

[2018-03-12 17:08] vladikoff commented on #5950
Fixed in speed-trap 0.0.8

[2018-03-12 17:08] #5950 closed

[2018-03-12 17:10] vladikoff commented on #5949
from mtg: desktop issue

[2018-03-12 17:10] #5949 closed

[2018-03-12 17:15] vladikoff commented on #3789
from mtg: 🗡 closing this for now unless needed

[2018-03-12 17:15] #3789 closed

[2018-03-12 17:32] vladikoff commented on #5101
Current:

![image](https://user-images.githubusercontent.com/128755/37299491-d8a7434c-25f9-11e8-85e3-b42d5f590654.png)

[2018-03-12 17:33] vladikoff commented on #5101
from mtg: closing it as a WONTFIX (from @ryanfeeley)

[2018-03-12 17:33] #5101 closed

[2018-03-12 20:25] philbooth commented on #5977
Putting my face on this and pulling it into active as I'm going to document what the process should be, probably here:

https://github.com/mozilla/fxa/tree/master/docs/local-development

[2018-03-12 20:29] philbooth commented on #5977
Actually, we already have some docs about this here, I think I wrote them last time this came up in retro:

https://github.com/mozilla/fxa/blob/master/docs/dev-process.md#tagging-releases

I'll probably stick with trying to make those better.

[2018-03-13 00:30] vladikoff opened #5978 "Remove `new Buffer` call in flow-metrics"
![image](https://user-images.githubusercontent.com/128755/37316205-2a75317c-2634-11e8-9f45-2bd33c244602.png)

cc @deeptibaghel

[2018-03-13 00:33] vladikoff commented on #5978
Ref https://github.com/mozilla/fxa/issues/274

[2018-03-13 00:46] vladikoff commented on #5076
🗡 this is a dead P5

[2018-03-13 00:46] #5076 closed

[2018-03-13 02:43] mtrivera commented on #5900
I would like to work on this issue.

[2018-03-13 02:45] vladikoff commented on #5900
Sure @mtrivera!

[2018-03-13 04:40] hritvi commented on #5897
Hello, @vladikoff I would like to work on this issue.

[2018-03-13 05:13] deeptibaghel commented on #5978
@vladikoff i will do it.

[2018-03-13 06:40] pdehaan commented on #5978
here's the <kbd>$ npm run lint</kbd> output if you add **eslint-plugin-node**/recommended config:

[code]

... And here's my tweaked .eslintrc config file:

[code]

[2018-03-13 10:40] deeptibaghel commented on #5978
@vladikoff , this repo is having a lint rule 'new-cap'. It is rejecting Buffer.from() call with Error "A constructor name should not start with a lowercase letter", how should we go about it ?

[2018-03-13 16:02] vladikoff commented on #5897
@hritvi sure!

@vbudhram got any pointers for @hritvi ?

[2018-03-13 16:08] #5978 closed

[2018-03-13 19:34] vbudhram commented on #5863
Fixed in https://github.com/mozilla/fxa-content-server/pull/5962

[2018-03-13 19:34] #5863 closed

[2018-03-13 19:34] vbudhram commented on #5864
Fixed in #5962

[2018-03-13 19:34] #5864 closed

[2018-03-14 08:11] MynahMarie commented on #5857
@vladikoff Can I work on this as part of my Outreachy contribution?

[2018-03-14 14:00] vbudhram commented on #5897
@hritvi Thanks for taking this up, from the issue it seems that we should apply the `disable` class to the Done button.

You should be able to apply it the template located [here](https://github.com/mozilla/fxa-content-server/blob/bdb690bd6d9534565fd96c644da950f8c2ba934b/app/scripts/templates/settings/emails.mustache#L78). Doing this, we can also remove the `secondary-disable` class.

[2018-03-14 15:09] vladikoff commented on #5354
![image](https://user-images.githubusercontent.com/128755/37411009-29c4d530-2778-11e8-9022-43043a14502d.png)

[2018-03-14 15:17] vladikoff commented on #5354
@MynahMarie this bug is a good one to get started. Follow the get started here: https://github.com/mozilla/fxa-content-server#quick-start

Then try to change the colour of the working message to blue. To see the `Working...` message you need to set a breakpoint like this:

![image](https://user-images.githubusercontent.com/128755/37411421-24338a20-2779-11e8-87b5-a42b95d42c01.png)

[2018-03-14 15:18] vladikoff commented on #5857
@MynahMarie this bug is a bit complex. Here's a simpler one to get started first: https://github.com/mozilla/fxa-content-server/issues/5354#issuecomment-373058970

[2018-03-14 15:31] #5078 closed

[2018-03-14 15:31] #5970 closed

[2018-03-14 22:51] vladikoff commented on #5507
Will be fixed in https://github.com/mozilla/fxa-content-server/issues/5968

[2018-03-14 22:51] #5507 closed

[2018-03-15 09:55] MynahMarie commented on #5354
@vladikoff Ok thank you! working on it now :)

[2018-03-15 11:57] philbooth commented on #5553
Just noting that I checked the [most recent waterfall](https://www.webpagetest.org/result/180313_Y9_ff23d0919866c38a48a536c385173f46/5/details/#waterfall_view_step1) in light of the Webpack change, and I think there's still work we can do here so let's keep this one open.

[2018-03-15 21:53] rfk opened #5984 "Iframe gives "please enable cookies" error when "Accept third-party cookies" is set to "From visited""
STR:

* In your Firefox preferences, set "Accept third-party cookies" to "From visited"
* Visit https://accounts.firefox.com directly
* Load FxA signin in an iframe, e.g. by visiting https://www.mozilla.org/en-US/firefox/59.0/whatsnew/

Expected results:

* You can see the FxA signin form

Actual results:

* FxA displays its "Cookies and local storage are required" error.

It seems like something'

[2018-03-15 22:06] rfk commented on #5984
I'm no expert on this code, but digging in a little, it could be that we just don't examined the "visited" status of the site for non-cookie forms of storage:

  https://dxr.mozilla.org/mozilla-central/source/dom/base/nsContentUtils.cpp#9189

Which says:

[code]

[2018-03-15 22:09] hritvi commented on #5968
Hey @vladikoff @ryanfeeley! Can I work on this issue?

[2018-03-15 22:13] april commented on #5984
Note that visiting https://accounts-static.cdn.mozilla.net/images/88b55e5a.spinnerlight@2x.png (or any page on accounts-static.cdn.mozilla.net) doesn't seem to fix the problem either.

[2018-03-15 22:51] hritvi commented on #5968
![display](https://user-images.githubusercontent.com/32164618/37495017-635f99b0-28d1-11e8-935c-2d0e5163c10e.png)
What about something like this?

[2018-03-16 03:52] ryanfeeley commented on #5968
No, buttons are never multiple lines. The design should limit it to one
line and truncate with an ellipsis.

On Thu, Mar 15, 2018 at 6:51 PM Hritvi Bhandari <notifications@github.com>
wrote:

--
Ryan Feeley // Toronto
Staff Designer // FxA & Sync
IRC & Slack: rfeeley

[2018-03-16 12:27] vladikoff commented on #5968
:+1:

[2018-03-16 14:13] #5977 closed

[2018-03-16 14:30] april commented on #5984
After discussing this with @dveditz, we agree that Firefox should probably not be behaving this way for localStorage. I'm going to open up a bug for it.

[2018-03-16 15:55] philbooth opened #5985 "We should probably $append the experiments user property of Amplitude events"
Came up in conversation with @irrationalagent just now, the way we're setting `experiments` on Amplitude events means we're clobbering old values. Instead we should probably use the `$append` syntax.

[2018-03-19 10:06] philbooth opened #5986 "Is the flow.signin_from.fx_ios event wrong?"
Here:

https://github.com/mozilla/fxa-content-server/blob/3105aa0557204694572a8c3dfd325e119fe1547c/app/scripts/views/connect_another_device.js#L123

That line is in the `! canSignIn` branch. Should the event be `install_from` instead of `signin_from`, like all the other events in that branch?

[2018-03-19 10:17] philbooth opened #5987 "Include platform in Amplitude event data for fxa_connect_device - engage"
On the old CAD screen, we emit `engage` events when one of the app store buttons is clicked. We should include the target platform as a property of that event.

[2018-03-19 18:07] philbooth commented on #5986
/cc @shane-tomlinson, question for when you get back.

[2018-03-19 18:13] vladikoff commented on #5984
Waiting for firefox bug..

[2018-03-19 19:09] vladikoff commented on #5986
This is because if you are ON fx_ios you should just sign_in, not install_from. @shane-tomlinson reopen this if we want to change this

[2018-03-19 19:09] #5986 closed

[2018-03-19 19:27] april commented on #5984
It's a complicated issue, trying to figure out what the best behavior should be and setup a demo site.

[2018-03-19 20:19] vladikoff commented on #5984
sounds good!

[2018-03-19 20:19] #5984 closed

[2018-03-19 20:31] vladikoff commented on #5938
from mtg: we should explore using codes for Lockbox, @rfk will open a new issue for that. Otherwise we cannot close tabs

[2018-03-19 20:31] #5938 closed

[2018-03-19 20:37] vladikoff commented on #5931
@eoger let us know if you still need this and we will reopen!

[2018-03-19 20:37] #5931 closed

[2018-03-20 02:30] rfk opened #5990 "Use email codes rather than links for lockbox"
We've seen several bug reports about the Lockbox flow being confusing, due to the way users need to click through an email link which takes them out of the flow, including https://github.com/mozilla/fxa-content-server/issues/5938 and https://github.com/mozilla/fxa-content-server/issues/5891.

A lot of these issues would disappear if we used codes that you type into the originating window rather th

[2018-03-20 02:39] rfk opened #5991 ""Unexpected error" when trying to show 2fa screen in production"
Visiting https://accounts.firefox.com/settings?showTwoStepAuthentication=true with a signed-in account, I get a blank screen and the following traceback:

<img width="884" alt="capture" src="https://user-images.githubusercontent.com/34695/37632824-1ee4005c-2c44-11e8-8f60-1d39e59818e1.PNG">

[2018-03-20 03:26] vbudhram commented on #5991
I was able to reproduce this locally if signing in with an unverified session. The auth-server appears to reject the `/totp/exists` request with this error:

[code]

This is confusing since the auth-server should have rejected the request with a 401 instead of 500, https://github.com/mozilla/fxa-auth-server/blob/012f23fa098f256f594df62151aca528680e8094/lib/routes/totp.js#L170.

[2018-03-20 05:51] DGRamya commented on #5935
@vladikoff, hey. I started working on this issue, I did the pre-requisite setup for fxa-content server and then executed "npm run start-remote". But I am getting the below error:

`Loading "sass.js" tasks...ERROR

Loading "sass.js" tasks...ERROR

Loading "l10n-generate-pages.js" tasks...ERROR

Loading "l10n-generate-pages.js" tasks...ERROR

Warning: Task "sass" not found. Use --force to continue.`

[2018-03-20 05:55] DGRamya commented on #5935
Resolved  it. Please ignore the previous comment.

[2018-03-20 06:23] DGRamya commented on #5935
@vladikoff
I am working on the ticket and to set the development environment, I have cloned the fxa-content-server repo and running 'sudo npm run start-remote' after 'npm install'. The application is starting on the local server but upon opening in browser it is throwing  following error
'GET http://127.0.0.1:3030/i18n/client.json 404 (Not Found)'

[2018-03-20 14:12] #5969 closed

[2018-03-21 21:28] DGRamya commented on #5935
@vladikoff
I have fixed the issue and raised PR. Please review

[2018-03-21 22:35] rfk opened #5994 "Remove https://secure.gravatar.com from CSP rules?"
IIUC we no longer support gravatar for profile images, so we should be able to remove https://secure.gravatar.com from  img-src in our CSP rules.

[2018-03-22 05:07] mtrivera commented on #5900
I'm thinking functional tests would be good here with some TDD tests. Would I append my code to existing test files or create my own?

[2018-03-22 09:18] hritvi commented on #5857
Hey, @davismtl @vladikoff. Can I work on this issue? Thanks!

[2018-03-22 09:38] hritvi commented on #5255
Hey @vladikoff @ryanfeeley! Can I take this issue?

[2018-03-22 10:34] vladikoff commented on #5900
@mtrivera There are some placeholder unit tests already that you can you :+1:

[2018-03-22 10:34] vladikoff commented on #5900
@mtrivera There are some placeholder unit tests already that you can use :+1:

[2018-03-22 13:07] hritvi commented on #5186
Can I take this issue @shane-tomlinson @vbudhram?

[2018-03-22 17:39] davismtl commented on #5857
To provide additional clarification to the last comment, @vladikoff I am not opposed to resolving this issue before getting NIST style password validation. The basic functionality requested in this bug is a basic we should do which will most certainly help registration and login rates.

[2018-03-22 18:41] vladikoff opened #6001 "Test needs to be checked, expected 'Web Session, Firefox 40.0' vs '40'"
AssertionError: expected 'Web Session, Firefox 40.0' to equal 'Web Session, Firefox 40'

Ref: https://github.com/mozilla/fxa-content-server/pull/6000

[2018-03-22 18:45] philbooth commented on #6001
This means I broke it in mozilla/fxa-auth-server#2356. Will dig into it tomorrow, sorry.

[2018-03-22 18:46] vladikoff commented on #6001
@philbooth no worries, that feature is still disabled 👜

[2018-03-22 19:09] #4316 closed

[2018-03-23 22:29] DGRamya commented on #5897
Hello @vladikoff , Is this issue still open for solving? Can I work on this?

[2018-03-26 13:45] vbudhram commented on #5897
Hey @DGRamya sorry but this issue is fixed, feel free to check out others!

[2018-03-26 13:45] #5897 closed

[2018-03-26 15:19] vladikoff commented on #5994
Yes!

[2018-03-26 16:14] vladikoff commented on #5990
from mtg: "can be done!" but only for login . Need to refocus due to webextension pivot, cc @rfk

[2018-03-26 20:35] DGRamya commented on #4960
@vladikoff , Can I work on this issue? Could you please more details.

[2018-03-27 15:33] #6001 closed

[2018-03-27 15:36] vladikoff commented on #4966
And here: https://github.com/mozilla/fxa-auth-server/pull/2023

[2018-03-27 20:26] #5985 closed

[2018-03-27 21:16] vbudhram opened #6005 "Intermittent failures with TOTP tests"
From irc:

[code]

Ref: https://screencap.co.uk/images/d90290298b804b572a5a83430fdf447bef709a8d.png

Let's see if we can check how much time if left on a generated code before it becomes invalid, then regenerate it if not enough time.

[2018-03-27 21:25] rfk commented on #6005
IIUC, one common approach on the server-side here, is to accept the code that was valid for the previous time window as well as the one that's valid for the current window.

[2018-03-27 21:32] vbudhram commented on #6005
@rfk I like that approach better :) The otplib supports setting that [property](https://github.com/yeojz/otplib#available-options).

[2018-03-27 21:35] rfk commented on #6005
FWIW I hit this once in real-life testing, where I entered a code right on the end of its timeslice and it was rejected.

[2018-03-27 22:20] davismtl opened #6006 "SMS CAD as a standalone"
We have this standalone page:
https://accounts.firefox.com/sms?service=sync

Marketing is working on deploying their version of SMS to more markets but it doesn't support deepling and autofill. This feels like a huge waste of resources to duplicate effort.

Questions:
1) Can someone confirm that the above URL does the deeplinking magic from the SMS? I'm under the impression that it does but... I c

[2018-03-28 18:43] DGRamya commented on #5994
@vladikoff @rfk
For the above mentioned issue, I have identified that we should remove or comment "GRAVATAR" from imgSrc .
      imgSrc: addCdnRuleIfRequired([
        SELF,
        DATA,
        // Gravatar support was removed in #4927, but we don't want
        // to break the site for users who already use a Gravatar as
        // their profile image.
        GRAVATAR,
        PROFILE_IMAGES_SE

[2018-03-28 18:48] vladikoff commented on #5994
@DGRamya Hey! Yeap so find all mentions of gravatar in server code and delete them

Remove it from this test as well https://github.com/mozilla/fxa-content-server/blob/cd7c3dd2a780d67f38b647e2226a733613c68df8/tests/server/csp.js

You can run `npm run test-server` to make sure it all passes. Then it should be good 👍

[2018-03-28 18:48] vladikoff commented on #5994
For this to work you need to have the server running

[2018-03-28 18:59] DGRamya commented on #5994
@vladikoff , Thank you, I will continue working.

[2018-03-28 23:10] davismtl opened #6009 "Enable email first layout for Oauth Reliers"
Lockbox would love have the email first flow. It is currently only available for Sync.

Let's enable it as an option for reliers.

[2018-03-29 16:49] #5987 closed

[2018-03-29 19:13] philbooth opened #6014 "Extract POPULAR_EMAIL_DOMAINS to fxa-shared"
`POPULAR_EMAIL_DOMAINS` was added in #6012. Let's extract it to the `fxa-shared` repo and then use the same definition for the auth-server too.

[2018-03-29 22:29] #5934 closed

[2018-04-01 01:35] vladikoff opened #6016 "Handle invalid redirect param"
![](http://v14d.com/i/5ac0373d74278.jpg)

Instead of 500, it should show a red warning

[2018-04-03 14:22] vbudhram opened #6018 "Regenerate recovery codes when all codes are used up"
From https://github.com/mozilla/fxa-content-server/pull/5992, I wanted to work this in another issue since there might be a several moving parts with it. Main questions I had were

* What happens with an Oauth relier on login?
* What happens with Sync on login?

The [wireframes](https://www.lucidchart.com/documents/view/833ea3ae-65bc-4b0a-94cb-3290ec27ae85/0) does not show where the user is redire

[2018-04-03 15:51] vladikoff commented on #6006
@vbudhram or does anyone else know ^

[2018-04-03 15:51] vladikoff commented on #6006
from mtg: "Deep link should work, but saved info won't be there"

[2018-04-03 15:53] vladikoff commented on #6009
For Q2?

[2018-04-03 15:54] vladikoff commented on #6009
from mtg: nice to have before the thing ships

[2018-04-03 17:24] ryanfeeley commented on #6018
Oops, my lines were wrong. How is this?
<img width="487" alt="image" src="https://user-images.githubusercontent.com/68213/38264872-55a411be-3742-11e8-8cb8-b74474571e70.png">

[2018-04-03 18:11] vbudhram commented on #6018
@ryanfeeley This looks good. Only minor thing is that from https://github.com/mozilla/fxa-auth-server/issues/2355, we will send `New sign-in to` emails when logging in from key requesting services (ex. sync).

[2018-04-03 18:16] ryanfeeley commented on #6018
@vbudhram Slight update…
<img width="292" alt="image" src="https://user-images.githubusercontent.com/68213/38267460-97f3580c-3749-11e8-8735-2186e392ab6c.png">

[2018-04-03 18:29] ryanfeeley commented on #5856
@vladikoff The lock is now official Photon https://design.firefox.com/icons/viewer/#lock

[2018-04-03 20:54] vladikoff commented on #5866
from mtg: SUMO is working on it

[2018-04-05 14:20] ryanfeeley opened #6023 "Replace Show password with 👁 icon"
Our **Show** password button has a few problems that I think an icon will fix.

PROBLEMS
1. The label "Show" varies in length by language, but the visible area of the password itself does not. This leads to a bad situation where more of the the password is visible in some languages than others. A universal icon will equalize this.
1. "Show" is probably more understood as a way to toggle to visible

[2018-04-05 15:36] ryanfeeley opened #6024 "Layout responds strangely in popup"
When you resize the FxA pop-up window (from Notes login) it does not respond properly.
<img width="419" alt="screen shot 2018-04-04 at 10 52 43 am" src="https://user-images.githubusercontent.com/68213/38376025-a2d9a64a-38c5-11e8-9c3f-31918cc40c20.png">

[2018-04-05 17:42] #6014 closed

[2018-04-05 20:43] vbudhram opened #6025 "Form input validation throws `Uncaught (in promise) undefined`"
Noticed this while testing https://github.com/mozilla/fxa-content-server/pull/5992. Any input field will throw `Uncaught (in promise) undefined`, if `validateAndSubmit` is fails.

<img width="342" alt="screen shot 2018-04-05 at 4 38 24 pm" src="https://user-images.githubusercontent.com/1295288/38390605-cb9c54ea-38ef-11e8-870d-ffb6f6a9cb4d.png">

Not sure if this is expected behavior, but seemed od

[2018-04-05 22:45] rfk opened #6026 "Opt out of experiments when `navigator.webdriver` is set"
From https://github.com/mozilla/fxapom/issues/206#issuecomment-378859781, there is a `navigator.webdriver` flag that will be set when a page is being run by automated tests:

  https://w3c.github.io/webdriver/webdriver-spec.html#interface

Can we use this as an additional flag to opt out of experiments in order to provide stable UI for testing?  Similar to what we already do here:

  https://githu

[2018-04-06 01:46] vladikoff commented on #6026
Sure!

[2018-04-06 05:32] DGRamya commented on #5255
@vladikoff , I can see that PR is not accepted for this issue, Can I work on this?

[2018-04-06 05:33] kawal2266 commented on #6023
I want to resolve this issue.Can you tell me where I can find this html file for sign in page?

[2018-04-06 06:32] kawal2266 commented on #6023
@ryanfeeley

[2018-04-06 09:35] shane-tomlinson commented on #6023
@kawal2266 -

* html - https://github.com/mozilla/fxa-content-server/issues/6023#issuecomment-379161500
* css - https://github.com/mozilla/fxa-content-server/blob/654ce11392709b0dd94d2ca05988347af764da29/app/styles/modules/_password-row.scss#L108

[2018-04-06 10:20] shane-tomlinson opened #6027 ""email first" flow does not check for firefox.com domains"
Noticed this while looking at #5947.

![screen shot 2018-04-06 at 11 19 50](https://user-images.githubusercontent.com/848085/38416377-0f8ef204-3984-11e8-953f-e4fa8b5d64ed.png)

Compare this to the legacy signup page:

![screen shot 2018-04-06 at 11 20 34](https://user-images.githubusercontent.com/848085/38416415-2924362a-3984-11e8-9277-f28d8d90615e.png)

[2018-04-06 13:36] vladikoff commented on #5255
@DGRamya the PR is still pending, sorry. It lives here https://github.com/mozilla/fxa-content-server/pull/5999

[2018-04-06 14:15] DGRamya commented on #4928
@vladikoff , There is no PR for this issue and also the issue is opened long back, Can I work on this issue?

[2018-04-06 14:54] DGRamya commented on #5354
@vladikoff ,  I do not see any successful PR for this issue, Can I work on this?

[2018-04-06 15:19] vladikoff commented on #5354
@DGRamya please try! early PR here: https://github.com/MynahMarie/fxa-content-server/commit/00bdb0acd1488d2d0fe7050308d2f62c5a40e3a6

[2018-04-06 17:14] ryanfeeley opened #6029 "Implement the Photon checkboxes"
Our checkboxes on newsletter signup, choose what to sync (and other places?) are out of date.

We should be using the new Photon style everywhere.

https://design.firefox.com/photon/components/checkboxes.html

child of #6083
child of https://github.com/mozilla/fxa-content-server/issues/6261

[2018-04-06 18:40] hritvi commented on #6029
Can I work on this @ryanfeeley! Thanks

[2018-04-06 19:38] vladikoff commented on #6029
@hritvi sure!

[2018-04-06 21:32] vladikoff opened #6030 "Remove OLD Firefox favicon"
Hey @deeptibaghel this might be a good bug to fix and will help you understand how the fxa-content-server server works and tests.

See this file:
https://github.com/mozilla/fxa-content-server/blob/master/server/lib/routes/get-favicon.js#L3-L20

We don't want to serve `favicon-pre57.ico` to any clients anymore.

And this test file: https://github.com/mozilla/fxa-content-server/commit/46921fbaee7e18

[2018-04-07 09:04] deeptibaghel commented on #6030
Thanks @vladikoff , i am working on the issue :)

[2018-04-07 09:12] deeptibaghel commented on #6030
Thanks @vladikoff  , i am working on the issue :)

[2018-04-08 13:56] kawal2266 commented on #6023
@ryanfeeley  I was trying to solve this issue...but accidentally I have removed dpkg and some other packages from my OS..and now no other project dependencies can be downloaded.. So I have to install Ubuntu again , but as my exams are approaching I won't be able to do that in coming week.
I will work on another issue once I have the setup.
Sorry for being unable to solve the issue.

[2018-04-09 08:49] shane-tomlinson opened #6031 "Partially roll out SMS to BE (Belgium) and NL (Netherlands)"
Both countries have been tested by local testers and have
been given the 👍. Enable for 50% of users and track how
they perform.

[2018-04-09 09:32] shane-tomlinson commented on #6009
Ref https://github.com/mozilla/fxa-oauth-server/pull/540

[2018-04-09 09:46] shane-tomlinson opened #6033 ""Mistyped email" does nothing in email-first flow if `email` query parameter is specified."
It seems like we should allow the user to go back to the `/` screen. If the relier wants to force the user to use a particular email address, they should use `action=force_auth` rather than `action=email`. @ryanfeeley - thoughts?

![mistyped-email-does-nothing](https://user-images.githubusercontent.com/848085/38491184-acfa079c-3bda-11e8-899a-e01039218f0e.gif)

[2018-04-09 13:50] #6031 closed

[2018-04-09 14:57] vbudhram commented on #5865
This has been merged in mozilla/fxa-content-server-private#37, closing!

[2018-04-09 14:57] #5865 closed

[2018-04-09 16:13] vladikoff commented on #6023
@hritvi Sure! give it a try!

[2018-04-09 17:33] #6030 closed

[2018-04-09 20:52] #5255 closed

[2018-04-09 21:11] #5935 closed

[2018-04-10 10:38] philbooth commented on #5965
Drive-by comment as I came to this bug from the OKR doc.

It seems like we might have good reason for these two:

Here we choose not to display the SMS screen because they're already on a mobile device. The app store button makes more sense then doesn't it?

From the described behaviour, I'm assuming that "different tab" here really means "different browser/profile/container tab". In that case, we

[2018-04-10 19:04] #6026 closed

[2018-04-11 00:44] vladikoff opened #6040 "Verify password not focused when switching from sign in to sign up"
Switching from `unknown account . sign up?` has bad focus behaviour

<img src=https://user-images.githubusercontent.com/128755/38590539-c243f22c-3cff-11e8-9d4c-0bb178fab11d.gif width=300 />

@shane-tomlinson what should this do? focus `vpassword` first?

[2018-04-11 01:10] vladikoff commented on #5668
@deeptibaghel if you have time could you check if you can reproduce this issue in OS X or Linux with Node 8?

(We use `nvm` to switch between node versions: https://github.com/creationix/nvm#node-version-manager--- , this will be helpful to switch like so `nvm use 6` or `nvm use 8` and test this issue)

[2018-04-11 01:13] deeptibaghel commented on #5668
@vladikoff yeah i tried this y'day on mac. It throws the error with node 8 but i had no clue about what to fix :(

[2018-04-11 01:16] deeptibaghel commented on #5668
deprecationWarning: os.tmpDir() is being thrown from a number of node modules which i could fix manually and may be upgrading those modules will make it work, should i try upgrading `asap` for the exception ?

[2018-04-11 01:18] vladikoff commented on #5668
@deeptibaghel hm i think 'tmpdir' is just a rename, we need to find the bug in linter.js I think

[2018-04-11 10:48] shane-tomlinson commented on #6040
Yup, if it's not filled in already.

[2018-04-11 16:03] vladikoff commented on #5735
This is fixed

[2018-04-11 16:03] #5735 closed

[2018-04-11 16:14] rbillings opened #6043 "TOTP: Suggest adding Refresh messaging"
It is not entirely clear what the Refresh button does within the MFA Settings. It would be helpful to add a tooltip, or some sort of visible messaging after a user clicks it.

[2018-04-11 16:15] vladikoff commented on #6043
cc @ryanfeeley  ^

[2018-04-11 16:19] vladikoff commented on #4166
Let's reopen this if we revisit this 🗡

[2018-04-11 16:19] #4166 closed

[2018-04-11 16:34] rbillings opened #6045 "UX: clarity on "Cancel" vs. "Done""
On the Settings page there are a number of actions a user can take. Half of them have a "Done" button, and the other half "Cancel". Cancel makes more sense to me across the board, so I'm wondering if a more uniform button would be preferable?

Done:
account photo
display name
secondary email
devices and apps

Cancel:
communication prefs
password
delete account

[2018-04-11 16:37] rbillings commented on #6045
Additionally I see the default settings have:
Account picture - Add option has "Done"
Display name - Add option has "Cancel"
Secondary email - Add option has "Cancel"

[2018-04-11 16:51] rbillings opened #6046 "TOTP: Authy & Google Authenticator accept expired codes"
Testing using: https://accounts.firefox.com/settings?showTwoStepAuthentication=true

1) Enable Two-step authentication
2) Open Google authenticator, scan QR code  [*also repros with Authy]
3) view security code, wait for it to expire
4) after a new confirmation code appears, enter expired code & click "Confirm"

expected: Invalid code error
actual: MFA enabled successfully

Duo did work as expecte

[2018-04-11 16:52] vladikoff commented on #6046
How "expired" where the expired codes? see this issue https://github.com/mozilla/fxa-content-server/issues/6005

[2018-04-11 16:53] vladikoff commented on #6045
@ryanfeeley thoughts? was this by design?

[2018-04-11 16:56] rbillings commented on #6046
The timeslice had expired, & a new code had been generated. If it's set to accept the last valid code this is a non-issue. Although Duo did NOT accept the last valid code.

I'll try 2 or 3 codes in and report back.

[2018-04-11 17:04] rbillings commented on #6046
I went through Duo, Authy & Google Authenticator and they all accept the current security code, and one prior security code. It does not work 2+ codes back.

If this is expected behavior I'll make a note for updating test cases & this issue can be closed.

[2018-04-11 17:06] vladikoff commented on #6046
I think it is. @vbudhram confirm and close if so?

[2018-04-11 17:07] vbudhram commented on #6046
@rbillings This is expected behavior. The window back is configurable, but is defaulted to only 1. I'll update this in the feature doc for future reference as well.

[2018-04-11 17:07] #6046 closed

[2018-04-11 17:51] rbillings opened #6047 "TOTP: Rate limiting is not blocking users"
Testing on Nightly, https://accounts.firefox.com/settings?showTwoStepAuthentication=true
1) Enable MFA on an account
2) Sign out
3) Sign in with username + password
4) enter invalid security code
5) repeat 2+ times with invalid security codes in quick succession

expected: user is blocked after 2 attempts every 30 seconds
actual: user is not blocked, is able to re-enter multiple codes [3+ per 30 s

[2018-04-11 18:03] vbudhram commented on #6047
This was added to train-110, which should be tagged next week, ref: https://github.com/mozilla/fxa-auth-server/pull/2386.

[2018-04-11 18:09] rbillings commented on #6047
Ah! I didn't see a train tag on the waffle board- and assumed "done" meant already in train 107 based on the feature doc. I will verify on train 110.

[2018-04-11 19:02] ryanfeeley commented on #6045
Definitely carefully designed.

**Cancel** will revert the form to the previous state and close/collapse the section.

**Done** is synonymous with **Close** and does not impact the actions that have taken place however deep inside the section.

[2018-04-11 19:41] ryanfeeley commented on #6043
@rbillings Good find!

It refreshes the contents of the section in the event that is has been updated in a different tab/device/session.

It also appears in sections like **Secondary email** and is probably used more there as users commonly verify their email on a different device.

We could do one or two things to *all of the Refresh buttons* to improve this:
1. Rename the button to say **Refresh

[2018-04-11 19:48] vbudhram commented on #6043
Is `Last update` the same as the last time button was clicked?

[2018-04-11 19:59] rbillings commented on #6045
Sounds good, thanks for the clarification!

[2018-04-11 19:59] #6045 closed

[2018-04-12 02:55] rfk opened #6049 "/signin_unblock forgets the originalLoginEmail"
(Migrating from https://github.com/mozilla/fxa-auth-server/issues/2256#issuecomment-380658414)

STR:

* Create a new account
* Add and verify a secondary email address.
* Switch the secondary address to be primary.
* Sign out.
* Attempt to sign back in using the new primary email address, but typo your password.
* Keep trying to log in with an incorrect password, until you trigger the signin unblo

[2018-04-12 11:32] shane-tomlinson opened #6051 "/signin_token_code displays "Invalid paramter: code" error if code does validate on auth-server"
<img width="483" alt="screen shot 2018-04-12 at 12 28 10" src="https://user-images.githubusercontent.com/848085/38674655-b93f2af2-3e44-11e8-97a4-685b999ca0a7.png">

STR

1. Sign up for an account.
2. Start the signin process from an OAuth relier.
3. When at the "Authorize this sign-in" screen, enter an invalid code.
4. "Invalid parameter: code" error appears.

There are two refinements to make her

[2018-04-12 12:09] shane-tomlinson opened #6052 "email-first signin flow does not show the default avatar like the normal "cached OAuth sign in" flow."
email-first signin:

<img width="465" alt="screen shot 2018-04-12 at 13 07 40" src="https://user-images.githubusercontent.com/848085/38676336-3b533e0c-3e4a-11e8-95b0-4a6a9f6a491e.png">

cached OAuth signin:
<img width="444" alt="screen shot 2018-04-12 at 13 07 17" src="https://user-images.githubusercontent.com/848085/38676343-402fd6ba-3e4a-11e8-84d2-a8b44c41d13f.png">

I propose we unify these and

[2018-04-12 12:30] shane-tomlinson opened #6053 "Is "disable cached credentials" still used?"
In #1950 FxOS the Payments asked us to add the ability to disable "cached credentials". We added support for `email=blank`. Is this still used since that project is no more?

If not, I'd like to simplify our signin page code.

[2018-04-12 14:10] SorinaFlorean opened #6056 "TOTP: Can't disable 2FA if I used a recovery code to sign in"
Devices:  Google Pixel (Android 8.1.0), HTC 10 (Android 8.0), Huawei Honor (Android 5.1.1);
Prerequisites: use an account with 2FA enabled and with recovery codes saved.

STR:
1.  Launch Firefox and go to Sign In page;
2. Enter credentials and tap on Sign In;
3. Use a recovery code to Sign In;
4. Go to https://accounts.firefox.com/settings?showTwoStepAuthentication=true and tap on "disable" button

[2018-04-12 14:26] SorinaFlorean opened #6057 "TOTP: recovery codes not displayed correctly on small display size"
Devices: Google Pixel (Android 8.1.0), Huawei Honor (Android 5.1.1);
Prerequisites: sign in with an account with 2FA enabled

STR:

1. Go to https://accounts.firefox.com/settings?showTwoStepAuthentication=true
2. Tap on "Replace recovery codes".

Actual results: no space between codes.
Expected results: codes are displayed with space between them (if the user want to copy just one).

Note: only re

[2018-04-12 14:32] vbudhram commented on #6056
@SorinaFlorean This has been fixed in https://github.com/mozilla/fxa-auth-server/issues/2385 and will be available in upcoming train. Should we close this or do you want to keep it open until you verify?

[2018-04-12 14:45] rbillings commented on #6043
I think Refresh Status adds a lot of clarity - across the board. Good idea! 👍

[2018-04-12 15:09] SorinaFlorean commented on #6056
We can close it and I will verify when is ready for test. Thank you!

[2018-04-12 15:09] #6056 closed

[2018-04-12 17:42] ryanfeeley commented on #6043
Good catch @vbudhram. This tooltip is problematic copy.

How about ``Last checked: 11:53 PM`` which represent the last time the button was pressed OR when the section was opened?

[2018-04-12 18:04] rbillings opened #6059 "TOTP: after adding MFA, CAD doesn't connect"
After creating an account and adding MFA, signing on with the same account to another device does not show the device as being connected.

1) browser: create account, verify, add MFA
2) open Firefox Nightly on Android, accounts.firefox.com, sign in with new account and MFA

expected: devices are connected, display in Devices and apps
actual: user is logged in with same account on 2 devices, Device

[2018-04-12 18:05] vladikoff commented on #6059
Did Firefox on Android start syncing at all ?

[2018-04-12 18:07] rbillings opened #6060 "Account deletion retains user email and password"
In testing the Account deletion process, occasionally the username and password are saved an entered into the final Create Account landing page. This does not repro 100%.

1) create an account, verify
2) delete account, enter password, confirm

expected: user lands on blank Create Account page, Account Deleted messaging displays
actual: user email and password are entered into email and password f

[2018-04-12 18:09] rbillings commented on #6059
No syncing took place.

[2018-04-12 18:11] vladikoff commented on #6060
We had a "Recreate ?" flow before, @ryanfeeley do you remember why?

[2018-04-12 18:12] rbillings opened #6061 "UX: Create Account gap between PW and Age on mobile/minimized screens"
Using mobile, or a smaller browser window shows extra spacing on the Create Account page between the second password and Age fields.

<img width="482" alt="screen shot 2018-04-12 at 10 19 09 am" src="https://user-images.githubusercontent.com/737878/38695833-44779cc4-3e42-11e8-8dc5-16f2e83ba639.png">

[2018-04-12 18:13] rbillings commented on #6059
I will also add that signing in/out, clicking Refresh, etc. did not change anything.

[2018-04-12 18:18] ryanfeeley commented on #6060
@vladikoff I don't think that view would be triggered in this context.

@rbillings Those credentials are being filled by the password manager in Firefox. If you don't have them saved they won't fill. However, we probably shouldn't be saving them to begin with (as it's like storing the combination to the safe written down on a piece of paper that you store in the safe). Not saving them would requir

[2018-04-12 19:40] rbillings commented on #6059
This is totally my bad- I created the account on accounts.firefox.com & neglected to sign into Sync. It was fine after I added that step- which is also a good reminder to separate these actions on the test cases.

[2018-04-12 19:40] #6059 closed

[2018-04-12 20:13] vbudhram commented on #6049
As a side note, trying to reproduce this locally with an address that is always forced to do sign-in unblock (`block.*@restmail.net`) fails with `Invalid code`, even though code is valid. Not sure if related, but to reproduce this issue you have to manually trigger rate limit.

[2018-04-12 20:43] ryanfeeley opened #6063 "Make too many login attempts warning absolute."
CURRENT
![screen shot 2018-04-12 at 4 37 12 pm](https://user-images.githubusercontent.com/68213/38703157-76f97fd6-3e70-11e8-9516-ff7af3053262.png)

PROPOSED
![image](https://user-images.githubusercontent.com/68213/38703172-827e1560-3e70-11e8-8b04-dd54a48544aa.png)

[2018-04-12 20:43] shane-tomlinson commented on #6060
This occurs with the following STRs (I've seen it multiple times in the past week and I have Fx login saving disabled):

1. Sign up in tab 1, leave the tab open.
2. Open the verification link in tab 2.
3. In tab 2 or 3, open "Manage Account".
4. Delete the account.
5. Go back to tab 1, the email/password is still filled in.

This happens because FormPrefill is not being cleared correctly. We shoul

[2018-04-12 20:49] vladikoff commented on #6063
omg

[2018-04-12 21:10] rfk commented on #6049
Copying comment from a user in https://github.com/mozilla/fxa-auth-server/issues/2256#issuecomment-380771183:

If I may be so bold to add to this line:

When you try these steps again with the old primary email address, the actual result is the same, making it impossible to login: https://support.mozilla.org/en-US/questions/1213471

[2018-04-13 14:56] #6049 closed

[2018-04-16 09:55] #6033 closed

[2018-04-16 11:02] shane-tomlinson opened #6068 "Failing functional test - TOTP - can add TOTP to account and confirm web signin"
First noticed on https://circleci.com/gh/mozilla/fxa-content-server/9837 though the failure happens locally too:

    NoSuchElement: [POST http://localhost:4444/wd/hub/session/edd58080-3695-1646-a9ae-207d3d83e394/element / {"using":"css selector","value":".totp-confirm-code"}] Unable to locate element: .totp-confirm-code
    For documentation on this error, please visit: http://seleniumhq.org/exce

[2018-04-16 13:11] SorinaFlorean opened #6070 "Verification email not received when log in with an account with TOTP enabled"
Prerequisite: use an account with 2FA enabled.

STR:

1. Sign In with an account with unverified session.
2. Paste the security code provided by app.
3. Tap on Verify and pay attention to the next page.

Actual results: "This Firefox is connected" page is displayed and the user is successfully signed in.
Expected results: An email to confirm your new sign-in to Firefox is sent.

[2018-04-16 13:27] SorinaFlorean opened #6071 "Recovery codes.txt name"
STR:
Download 3-4 recovery codes files from different accounts.

Actual results: the files are named Recovery codes(1), Recovery codes(2), Recovery codes(3).
Expected results: name of the account is added to the .txt file.

See the screenshot: https://i.imgur.com/Ej5sgAi.png.

[2018-04-16 13:38] #6068 closed

[2018-04-16 14:18] SorinaFlorean opened #6072 "TOTP: Replace messages for download, copy, generate new recovery codes, 2FA enabled with snack-bar"
Device: Google Pixel (Android 8.1.0)

STR: after 2FA is enabled scroll down the page with recovery codes and download, copy, generate new recovery codes.

Actual results: The messages "Two-step authentication enabled", "New recovery codes generated", "codes copied" is hidden.
Expected results: the messages is displayed even if the page is scrolled down.

This is reproducible on phones with small d

[2018-04-16 14:19] SorinaFlorean commented on #6072
Also, I noticed that for download no message is displayed. Is this expected?

[2018-04-16 14:37] SorinaFlorean opened #6073 "TOTP: Wrong email name when disabling 2FA"
Devices: Google Pixel(Android 8.1.0), Samsung Galaxy Tab S3 (Android 7.0).
Prerequisite: the user is signed in with an account with 2FA enabled.

STR:
1. Go to "manage account" settings.
2. Tap on "disable" options from Two-step Authentication section.
3. Verify email.

Actual results:  "Two-step Authentication removed" email is received.
Expected results:  "Two-step Authentication disabled" email

[2018-04-16 14:41] shane-tomlinson commented on #6071
I agree, this seems a bit strange. I think "Recovery codes.txt" is a bit generic, perhaps something like "Firefox Recovery Codes <email> <date>.txt"

[2018-04-16 14:42] shane-tomlinson commented on #6070
@SorinaFlorean - Are you expecting an email that says "A new firefox is connected" or the email that makes you click a link/copy a code?

[2018-04-16 15:10] shane-tomlinson opened #6074 "Report password metrics to establish baseline for PW strength meter"
Several metrics are suggested in [this feature doc](https://docs.google.com/document/d/1dvpiZ-EAxVDHkXjwekyAougFufUDwB50nT9l9xo177k/edit#heading=h.n5radimwnm7x):

* Length
* Estimated strength

One way to estimate strength: log2(size_of_charset) * password_length

child of mozilla/fxa#294

[2018-04-16 15:15] shane-tomlinson commented on #6074
Will these be Flow events, Activity events or Amplitude events?

[2018-04-16 15:18] SorinaFlorean commented on #6070
Sorry for not make myself clear, I expect an email for verifying an existing account (wasn't used for some time).

[2018-04-16 16:04] philbooth commented on #6074
@shane-tomlinson, probably flow events in this case.

Rules of thumb for event definitions:

  * It's a flow event if it's part of the sign-in/sign-up flow.

  * It's an activity event if there is a significant action or change of state at the account level.

  * It's an amplitude event if Alex says it's an amplitude event.

[2018-04-16 16:10] vladikoff commented on #6073
@shane-tomlinson to change the wording, then we cut strings

[2018-04-16 16:12] vladikoff commented on #6070
@vbudhram can you confirm what this should?

[2018-04-16 16:12] vladikoff commented on #6070
should do*

[2018-04-16 16:14] vladikoff commented on #6072
Snackbar:

![image](https://user-images.githubusercontent.com/128755/38821863-b94c4196-416f-11e8-8475-4d54aff91ed9.png)

[2018-04-16 16:26] vladikoff commented on #6061
cc @ryanfeeley , by design?

This is because there is a password hint in there.

[2018-04-16 16:28] vladikoff commented on #6060
"Should be easy (TM) to fix"

[2018-04-16 16:30] vladikoff commented on #6053
kill it

[2018-04-16 16:34] vladikoff commented on #6047
from mtg: might need to tag issues as "ready to test", etc

[2018-04-16 16:35] vladikoff commented on #6043
@vbudhram @ryanfeeley confirm next steps?

[2018-04-16 17:01] #6073 closed

[2018-04-16 18:34] vbudhram commented on #6043
I propose the following from https://github.com/mozilla/fxa-content-server/issues/6043#issuecomment-380572279:

* Update all panels that use `Refresh` to `Refresh Status`
* Show a tooltip with a synthesized Last update time.
* Tooltip shows `none` when panel is first opened
* Tooltip shows `none` when page is refreshed
* Tooltip shows `time` when refreshed button was clicked (only locally)

I can

[2018-04-16 20:28] shane-tomlinson commented on #5866
@vbudhram to open bugzilla bug.

[2018-04-16 20:55] vladikoff commented on #6023
@hritvi any luck with this?

[2018-04-16 22:24] ryanfeeley commented on #6061
Yes, there is password advice that appears when you focus the password field. We didn't want to move the fields around in a jarring manner so left some space.

[2018-04-16 22:49] vladikoff commented on #6061
@ryanfeeley @rbillings closing for now, let me know if i should reopen.

[2018-04-16 22:49] #6061 closed

[2018-04-17 04:29] rfk commented on #6074
It's not directly related to this issue, but I wanted to mention it in case it's obvious how to add this while you're in there...in service of [1] we've also discussed wanting metrics on how long it takes us to PBKDF the user's password during the login flow.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1320222

[2018-04-17 09:42] #6009 closed

[2018-04-17 14:07] ryanfeeley commented on #5508
@vbudhram @vladikoff Bulgarian still looks downright vulgarian. Nowrap!
<img width="537" alt="image" src="https://user-images.githubusercontent.com/68213/38874839-0f3eeb8c-4227-11e8-8ff5-95d55bc3c57e.png">

[2018-04-17 14:50] shane-tomlinson opened #6076 "Update marketing-email-prefs and marketing-email-client to match native basket api"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1417298#c6 and https://github.com/mozilla/fxa-basket-proxy/pull/56

* [x] - [SCOPES](https://github.com/mozilla/fxa-content-server/blob/71a20af50045a4e62bc5f42f216a92b727fb4543/app/scripts/models/marketing-email-prefs.js#L16) should be `basket profile:email`
* [ ] - POST to `/subscribe/` not `/subscribe`, ensure request includes the `X-Requested-Wit

[2018-04-17 15:24] philbooth opened #6077 "Auto disable the SMS view when current spend is close to limit"
Strawman proposed by @jbuck in the kick-off meeting just now:

* Once per hour, each content server process could check the current spend against the limit using [`GetSMSAttributes`](https://docs.aws.amazon.com/sns/latest/api/API_GetSMSAttributes.html) from the SNS API.

* If spend is within, say, 2% of limit, set some kind of flag that can be propagated to the client-side routing, so that it know

[2018-04-17 15:28] jbuck commented on #6077
It'll also need to check the Cloudwatch API for the current SMS spend along the lines of: `aws cloudwatch get-metric-statistics --namespace 'AWS/SNS' --metric-name 'SMSMonthToDateSpentUSD' --start-time '2018-04-01T00:00:00Z' --end-time '2018-04-17T00:00:00Z' --period '3600' --statistics 'Average'`

[2018-04-17 21:03] irrationalagent commented on #6074
FWIW I think flow event is fine. If we can also wrangle these as event properties tied to amplitude events `fxa_reg - submit` and/or `fxa_reg - created` then that would be ideal as well.

[2018-04-17 23:28] rfk commented on #6077
Does this necessarily need to be done by content-server?

While we haven't always kept to it, one of the premises of having content-server be a separate service is that it can do as little as possible, and reduce potential attack surface for anyone trying to inject things into the fxa web content.  If thiscould equivalently be done in e.g. fxa-auth-server than it's probably worthwhile doing it the

[2018-04-17 23:33] rfk commented on #6076
IIRC it also needs to be `/subscribe/` rather than `/subscribe`,

Also noting explicitly that we'll need to deploy the above basket PR before we can deploy the content-server changes.

[2018-04-18 02:40] jrgm opened #6078 "server test suites failing on latest.dev.lcip.org"
See e.g., https://tc-test.dev.lcip.org/viewLog.html?buildId=36528&buildTypeId=fxa_LatestServerTests&tab=buildLog

Seems PR https://github.com/mozilla/fxa-content-server/pull/5973 means some updates are needed for some `./tests/server` tests. A large number of them seem perhaps due to the expecting attribute values to be inside quotes, and now they're not. Tests on latest on teamcity were all passi

[2018-04-18 03:01] vladikoff commented on #6078
[code]

[2018-04-18 08:48] philbooth commented on #6077
As per mozilla/fxa-auth-server#2399, there is already a hook in the auth server for including this check, which I forgot about yesterday. We can include it in the response from `/sms/status` and no content server code will need to change. Closing this.

[2018-04-18 08:48] #6077 closed

[2018-04-18 12:06] shane-tomlinson opened #6079 "Investigate whether `zxcvbn` library is feasible for use with the PW strength meter."
https://github.com/dropbox/zxcvbn

My primary concern is library size, 400kB gzipped, which is nearly double the combined total of our current set of JavaScript bundles.

400kB will not be a problem with a fast internet connection, but one of the drivers of this project is Lockbox on mobile devices.

Perhaps we can slim down the dictionaries used, or see if there is a way to re-encode the dictiona

[2018-04-18 13:46] shane-tomlinson opened #6080 "Disallow using a user's email address as their password"
Disallow attempts at using the full email address as well as any derivatives (local portion only, domain portion only).

[2018-04-18 14:11] shane-tomlinson opened #6081 "Disallow using service names as a user's password"
NIST guidelines recommend against allowing the service name or derivatives as the user's password.

* https://docs.google.com/document/d/1dvpiZ-EAxVDHkXjwekyAougFufUDwB50nT9l9xo177k/edit?ts=5aced487#

Examples:

* firefox accounts
* firefoxaccounts
* fxaccounts
* lockbox2018

[2018-04-18 14:39] shane-tomlinson opened #6082 "email-first: Default to showing signin w/ cached credentials, if available."
Right now even if the user has cached credentials, if a relier specifies `?action=email` the user will be sent to the "enter email" screen. A better flow would be for the user to be redirected directly to `/signin` with the cached credentials and given the option to "Use a different email"

This is in support of Lockbox.

blocks #6125

[2018-04-18 15:08] shane-tomlinson opened #6083 "Implement Photon styling"
This is a tracking bug until we get designs and priorities from @ryanfeeley and @changecourse.

child of mozilla/fxa#294

## Global

* [x] P1: Email-First Auth Flow – currently in flight (#6126, #6187)
* [x] P1: System fonts instead of Fira – providing better consistency cross-platform and allowing for additional font weights without sacrificing performance (via custom fonts)
(https://furbo.org/20

[2018-04-18 15:27] shane-tomlinson commented on #6076
Good to know, we post to `/subscribe`

[2018-04-18 15:48] shane-tomlinson opened #6084 "Fetch OAuth `code` and `state` directly from /authorization response"
We currently get the `state` and `code` query parameters [by parsing the redirect URL in the response](https://github.com/mozilla/fxa-content-server/blob/5bf0a5f6ef784a86daa1fa09a16256ea865d98ad/app/scripts/models/auth_brokers/oauth.js#L24) to the auth-server's `/v1/authorization` endpoint.

With https://github.com/mozilla/fxa-oauth-server/pull/541/files, we can stop parsing the `redirect` url and

[2018-04-18 20:33] rfk commented on #6084
I'm going to need this for a little refactor I'm doing in service of https://github.com/mozilla/fxa-content-server/pull/6017, so putting my face on it

[2018-04-18 20:44] rfk commented on #6076
I *expect* that fxa-basket-proxy will accept `POST /subscribe/` in addition to `POST /subscribe`, but if it doesn't we should add that in for migration purposes.

[2018-04-18 23:49] jrgm commented on #6078
https://github.com/mozilla/fxa-content-server/commit/e2f1acf7cd14b0eaefc68267e6eb90602e71b6c7 has the changes (expect no double-quotes on attribute values) that get the tests to pass, but since doubly-quoting is the canonical formatting, it's not really the right way.

[2018-04-19 01:00] vladikoff opened #6085 "Train 110: TypeError user-agent at safeVersion"
See https://sentry.prod.mozaws.net/operations/content-express-server-stage/issues/4266066/

[2018-04-19 02:41] rfk commented on #6076
Looks like it does, explicit test added in https://github.com/mozilla/fxa-basket-proxy/pull/57

[2018-04-20 04:55] vladikoff opened #6089 "Make Chrome for Android work with OAuth and Notes"
## Chrome refuses to authenticate Sign up OR Sign in if there is any email polling involved.

ref: https://stackoverflow.com/a/41882732

Rough demo of a fix:

<img src=https://user-images.githubusercontent.com/128755/39031242-03369596-4435-11e8-9acb-1ea292cc5d36.gif width=300 />

[2018-04-20 04:56] vladikoff commented on #6089
ignore the crashing in the GIF, if the app crashes it is good , means it was able to follow the redirect flow :P

[2018-04-20 05:12] rfk commented on #6089
(just adding some words based on IRC discussion)

A useful analogy I think, is that redirecting to an applink on Android is kind of like opening up popup - fine to do as a result of user interaction, but easy to abuse if it's allowed from javascript at any random time.  For the notes login flow to work properly on Android, we need to introduce some explicit user action before triggering the final

[2018-04-20 07:07] #6085 closed

[2018-04-20 09:02] SorinaFlorean opened #6091 "[Stage][Train 110] Can't log in to Pocket and Addons with an existing FF account"
Platforms: Win 10, Android 7.11, Android 5.11.

Steps to reproduce:
1. Go to hamburger menu and log in with a Firefox account;
2. Go to https://getpocket.com/login?e=4;
3. Tap on "Log in with Firefox".

Expected results: "Sign in to continue to Pocket" page is displayed and the account used at step 1 is pre-filled. Tapping on "Sign in" takes the user to pocket site.

Actual results: the username a

[2018-04-20 10:32] shane-tomlinson opened #6092 "grunt watch:livereload excepts with `_.contains is not a function`"
Running "watch:livereload" (watch) task
Waiting...
fxa-content-server.CRITICAL: uncaughtException TypeError: _.contains is not a function
  at Gaze.<anonymous> (/Users/shanetomlinson/development/fxa-content-server/node_modules/grunt-contrib-watch/tasks/watch.js:138:18)
  at emitTwo (events.js:106:13)
  at Gaze.emit (events.js:191:7)
  at Gaze.emit (/Users/shanetomlinson/development/fxa-content-ser

[2018-04-20 10:40] shane-tomlinson commented on #6091
@SorinaFlorean - Is https://accounts.stage.mozaws.net being used for both step 1 and signing in to Pocket?

[2018-04-20 11:31] SorinaFlorean commented on #6091
@shane-tomlinson  Yes, the issue was tested on stage server following all the steps.

[2018-04-20 12:40] SorinaFlorean opened #6093 "When disconnecting the account a message to reconnect is displayed"
Platforms: Win 10x64, Android 7.1.1;
Staging server [train 110] and production.
Prerequisite: the user is logged with an account.

Steps to reproduce:
1.Go to hamburger menu and tap on account name;
2. Tap on Disconnect -> Disconnect and observe the behavior.

Actual results: After the account is disconnected the message "please sign in to reconnect account x" with a yellow sign is displayed for 2

[2018-04-20 12:43] shane-tomlinson commented on #6093
@SorinaFlorean - Thanks for the screen cap, I believe this is a bug with Firefox itself rather than us. Other than one call to sign out the user from FxA, FxA doesn't control any of that UI.

@mhammond, @eoger - Do you want this migrated to bugzilla?

[2018-04-20 12:54] shane-tomlinson commented on #6083
Current recommendations: https://docs.google.com/document/d/1rk6FeveA-ULquR06adwWNY0BSrTCtH7fReAliRA_Pac/edit?ts=5ad7c39c#

[2018-04-20 13:28] eoger commented on #6093
Yes please!

[2018-04-20 14:03] sv-ohorvath opened #6094 "Not all Add-ons are synced between profiles"
Platform: Win 10, x64
Staging server [train 110] and production.

Steps to reproduce:
1. Create two separate profiles: A & B.
2. Log in on FxA with the same user.
3. Add some extensions from addons.mozilla.com.
4. Enable/Disable some add-ons on profile A.
5. Sync between profile A & B.

Expected results:
The enabled/disabled state of the add-ons on profile A should appear in the Add-ons Manager of

[2018-04-20 14:24] SorinaFlorean opened #6095 "Update Enter recovery code field"
Prerequisite: log in with an account with 2FA enabled.

Steps to reproduce:
1. Go to Sign in page;
2. Enter credentials and tap on Sign In;
3. Tap on Enter recovery code;
4.Pay attention to the field above Verify button.

Actual results: "Enter 8-digit recovery code" message is displayed.
Expected: "Enter 10-digit recovery code" message is displayed.

![screenshot_20180420-095346](https://user-ima

[2018-04-20 21:09] shama commented on #6092
Weird, I'll check on it.

[2018-04-20 22:28] shama commented on #6092
It looks like it was using `lodash@4` where inside the watch task, it was still using `lodash@3` (and `_.contains` was changed to `_.includes`.

I published a new version of `grunt-contrib-watch` with lodash updated. So doing another `npm install` should fix it.

[2018-04-20 22:35] vladikoff commented on #6092
@shama 🚤 Yesssss

[2018-04-23 08:08] shane-tomlinson commented on #6092
Thank you @shama!

[2018-04-23 09:15] shane-tomlinson commented on #6089
Can this be closed with #6090?

[2018-04-23 12:16] shane-tomlinson opened #6098 "Report how long PBKDF takes"
Migrated from https://github.com/mozilla/fxa-content-server/issues/6074 to track separately, in support of https://bugzilla.mozilla.org/show_bug.cgi?id=1320222.

We would like to increase the number of rounds of PBKDF are used, but want to know how long it already takes on a variety of devices.

[2018-04-23 14:05] vladikoff commented on #6089
@shane-tomlinson Yes, thanks Shane!

[2018-04-23 14:05] #6089 closed

[2018-04-23 14:11] vladikoff commented on #6091
@SorinaFlorean I assume your Firefox is configured to use the stage server, which means the hamburger menu will be using the stage server for sync. However other Firefox Accounts OAuth reliers will still use production servers, the profile configuration change does not affect those web properties or add-ons.

[2018-04-23 14:11] vladikoff commented on #5994
This was fixed in https://github.com/mozilla/fxa-content-server/pull/6015

[2018-04-23 14:11] #5994 closed

[2018-04-23 16:05] shane-tomlinson commented on #6098
Note: Make sure the number cannot be correlated to a user once sent to the backend.

[2018-04-23 16:06] #6091 closed

[2018-04-24 00:55] rfk opened #6102 "Disable token-codes experiment for 123Done"
This experiment was disabled for sync users, but it's still enabled for 123Done:

  https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/experiments/grouping-rules/token-code.js#L15

Are we depending on this for e.g. testing somewhere?  If not, let's disable it there as well to keep things consistent.  I suspect this is the reason it's still affecting https://github.com/mozill

[2018-04-24 02:15] #6102 closed

[2018-04-24 08:49] shane-tomlinson commented on #6080
child of mozilla/fxa#294

[2018-04-24 08:54] shane-tomlinson opened #6104 "Implement "improve strength design F""
https://mozilla.invisionapp.com/share/TGH9J5XZVQC#/screens

child of mozilla/fxa#294

[2018-04-24 08:55] shane-tomlinson opened #6105 "Implement "improve strength design G""
https://mozilla.invisionapp.com/share/J4GN45QVDFU#/screens/289506550

child of mozilla/fxa#294

[2018-04-24 10:22] shane-tomlinson opened #6106 "OAuth tests failing on teamcity against latest"
See https://tc-test.dev.lcip.org/viewLog.html?buildId=37639&buildTypeId=FxaLatest_FunctionalTests&tab=buildLog

from https://screencap.co.uk/images/173039b3a12594bcd32a135487bb050c979ba06f.png

[code]

@vladikoff - any ideas where this is coming from?

[2018-04-24 10:29] shane-tomlinson opened #6107 "teamcity stage server test errors, incorrect versions being reported"
https://tc-test.dev.lcip.org/viewLog.html?buildId=37545&tab=buildResultsDiv&buildTypeId=fxa_StageServerTests

[code]

It's like the test is pulling in an old package.json from before the point release.

@jrgm or @jbuck - any ideas?

[2018-04-24 10:44] rfk commented on #6106
Might be a result of the new OIDC stuff in https://github.com/mozilla/123done/pull/165, I can try to dig in some tomorrow.

[2018-04-24 11:01] rfk commented on #6106
A quick theory, 123done expects to receive an id_token here:

  https://github.com/mozilla/123done/blob/oauth/oauth.js#L174

And passes it through to fxa-jwtool, which throws this "malformed" error if it's given a falsy id_token here:

  https://github.com/mozilla/fxa-jwtool/blob/master/index.js#L203

So my guess is that 123done is not requesting the "openid" scope for these tests, hence not recei

[2018-04-24 11:06] shane-tomlinson opened #6108 "`os.tmpDir() is deprecated` warning shows on startup w/ Node 8"
Shows using node 8.

[2018-04-24 14:20] sv-ohorvath opened #6109 "Cannot sign in after a clear data"
Device:
Huawei MediaPad M3 Lite 10 (Android 7.0)
Huawei P8 Lite (Android 6.0)

Build: Nightly 61.0a1, Beta 60.0b15.
Not reproducing on 59 Release.

Steps to reproduce:
1. Sign in to Sync with a Firefox account.
2. Clear app data from Android settings>Apps>Firefox Nightly>Storage>Clear data.
3. Open the browser and go to Settings>Sign in.
4. Log in again with the same account.

Expected result:
The

[2018-04-24 21:36] jrgm commented on #6107
@shane-tomlinson - yeah, I had set GIT_COMMIT in the teamcity build command to force a version. This was to work around https://github.com/mozilla/fxa-content-server/issues/6078. When that is fixed, I can let it run the tests normally (based on whatever version accounts.stage.mozaws.net/__version__ says it's running).

[2018-04-24 23:36] rfk commented on #6070
IIUC this is all working as intended.  The TOTP verification code is used instead of the sign-in confirmation email, so the actual result here is the correct one - after entering a valid TOTP code your Firefox is connected to sync and no further action is required.

I'm going to close this as working as intended; @vbudhram please re-open if that's not accurate, or @SorinaFlorean please re-open if

[2018-04-24 23:36] #6070 closed

[2018-04-25 00:43] rfk commented on #6106
This was close - it looks like 321done is requesting the "openid" scope, but content-server filters it out because it's an untrusted relier.  I'm hopeful it'll be fixed by https://github.com/mozilla/fxa-content-server/pull/6111

[2018-04-25 01:45] #6106 closed

[2018-04-25 01:50] rfk opened #6113 "Host our OAuth authorization URL directly on https://accounts.firefox.com"
Currently, OAuth clients are expected to initiate the OAuth dance by directing the user-agent to:

  https://oauth.accounts.firefox.com/v1/authorization?client_id=foobar&...

This endpoint does a tiny bit of parameter sanity-checking and then redirects to an appropriate page on the content-server:

  https://github.com/mozilla/fxa-oauth-server/blob/master/lib/routes/redirect.js

I no longer recall

[2018-04-25 02:05] rfk opened #6114 "Support OAuth in WebViews without localStorage?"
Migrating from https://github.com/mozilla-iam/auth0-custom-lock/issues/111

Several Mozilla-hosted services (e.g. IRCCloud, Tableaux) have an Android app that loads the Mozilla IAM login flow in a WebView.  Now that IAM supports FxA, that means they can also load our OAuth flow in a WebView.

Unfortunately said WebView may not support localStorage, so if the user opts to sign in with FxA, they'll

[2018-04-25 02:06] rfk commented on #6114
To clarify for prioritization purposes: this is not a blocker for the launch of the IAM inregration, it just means that users won't be able to use their FxA to access some Mozilla properties.  It's completely up to us to decide on the best experience for those users.

[2018-04-25 21:53] jrgm opened #6120 "failing test ' signin with additional requested permission' for latest and stage v1.110.3"
Forgot to follow up on this other failing test ' signin with additional requested permission'.

Can @fxa-devs comment on whether it's a testing issue or indicates a real problem.

[2018-04-25 21:58] vladikoff commented on #6120
![image](https://user-images.githubusercontent.com/128755/39275147-3649b270-48b2-11e8-91b0-c152911a6b74.png)

[2018-04-25 22:00] jrgm commented on #6120
Bleh.

[2018-04-25 22:02] vladikoff commented on #6120
Test src:

[code]

[2018-04-25 22:07] rfk commented on #6120
This is overwriting the scopes so that it doesn't request `openid` scope, causing the id_token check to fail out.

[2018-04-25 22:08] jrgm commented on #6120
So, the test is broken, not the code, ya?

[2018-04-25 22:09] rfk commented on #6120
ya

[2018-04-25 22:10] jrgm commented on #6120
Changed test locally to ask for openid again with email and uid, and test passes on stage.

[2018-04-25 22:11] vladikoff commented on #6120
https://github.com/mozilla/fxa-content-server/pull/6121

[2018-04-25 22:25] #6120 closed

[2018-04-26 09:14] shane-tomlinson commented on #4336
Ref #4605

[2018-04-26 10:09] shane-tomlinson opened #6122 "Do we still need the `Sync Migration` feature?"
@mhammond, @rfk - Are "Sync Migrations" from old Sync still happening?

I came across [this text: `Migrate your sync data by creating a new Firefox Account.`](https://github.com/mozilla/fxa-content-server/blob/8caf2c1e797c6303004eb68383a9c9df99cafdc7/app/scripts/templates/sign_up.mustache#L26) in one of our templates and would like to remove the feature if it's no longer being used.

[2018-04-26 10:11] shane-tomlinson opened #6123 "Do we still need the `AMO migration` feature?"
Are AMO migrations still happening? I came across the text [Looking for your Add-ons data? Sign up for a Firefox Account with your old Add-ons account email address](https://github.com/mozilla/fxa-content-server/blob/8caf2c1e797c6303004eb68383a9c9df99cafdc7/app/scripts/templates/sign_up.mustache#L30) in our templates today. If the feature's not being used, I'd like to kill it.

https://github.com/

[2018-04-26 10:16] shane-tomlinson opened #6124 "Remove support for context=fx_desktop_v1?"
`context=fx_desktop_v2` support began with Firefox 40, nearly 3 years ago. We support `context=fx_desktop_v1` which still requires [code for thinks like the "choose what to sync" checkbox to be maintained](https://github.com/mozilla/fxa-content-server/blob/8caf2c1e797c6303004eb68383a9c9df99cafdc7/app/scripts/templates/sign_up.mustache#L78)

I want to kill context=fx_desktop_v1 support and make our

[2018-04-26 10:29] shane-tomlinson opened #6126 "signin_password & signin with cached credentials page updates"
As spec'd in https://mozilla.invisionapp.com/share/J4GN45QVDFU#/screens/289506550, the signin_password and signin with cached credentials pages have a new design:

<img width="373" alt="screen shot 2018-04-26 at 11 25 45" src="https://user-images.githubusercontent.com/848085/39300870-af55b8f0-493c-11e8-897c-f2f5d77f4d76.png">

child of #6083

[2018-04-26 15:05] #6057 closed

[2018-04-26 15:05] #6095 closed

[2018-04-26 20:21] vbudhram opened #6127 "Gavatar avatar images fail to load in settings"
Noticed this today

<img width="935" alt="screen shot 2018-04-26 at 4 18 25 pm" src="https://user-images.githubusercontent.com/1295288/39329896-c3a8f67e-496d-11e8-8524-4c43f4fc9b8c.png">

Avatars still load in iOS and desktop Firefox though.

[2018-04-26 20:28] vbudhram commented on #6127
@rfk I believe it is disabled for adding new ones? I added mine a long time ago and vaguely remember it loading properly for a while.

It appears that the profile server correctly returns the profile image (https://secure.gravatar.com/avatar/d4edc9d5579c9847f7f98e58a6a8ebc2?s=600), but that fails a content-server validation.

I might very well be the only person that has a gavatar image still set

[2018-04-26 20:42] vladikoff commented on #6127
@jrgm could we check how many people have gravatar set in db?

[2018-04-26 23:31] rfk commented on #6047
IIUC this should now be ready for testing

[2018-04-27 00:06] mhammond commented on #6122
Desktop no longer supports the migration flow, so yeah, killing it is fine.

[2018-04-27 09:08] shane-tomlinson commented on #6122
Thanks @mhammond!

[2018-04-27 11:17] #6122 closed

[2018-04-27 13:28] shane-tomlinson opened #6132 "iOS displays entire keyboard on age input"
Even though we use `<input type=number />`, iOS still shows the entire keyboard.

<img width="402" alt="screen shot 2018-04-27 at 14 27 07" src="https://user-images.githubusercontent.com/848085/39364818-b99fbea4-4a1e-11e8-9cea-1e4aafc6f742.png">

Looks like [adding pattern="\d*"](https://stackoverflow.com/questions/14447668/input-type-number-is-not-showing-a-number-keypad-on-ios#14447832) as an at

[2018-04-27 14:26] rbillings commented on #6047
Verified this works as expected, closing.

[2018-04-27 14:26] #6047 closed

[2018-04-27 18:05] #5991 closed

[2018-04-30 03:23] jrgm opened #6135 "[latest] 6 always-fail tests on latest"
Should be fixed before cutting train-111

[code]

versions on latest:
[code]

[2018-04-30 03:26] jrgm commented on #6135
Just checked. Those versions are all up to date with `HEAD` of the respective `master` branches in those repositories.

[2018-04-30 03:28] jrgm commented on #6135
Note: some or all are claiming `email timeout` for restmail, but it doesn't make sense that all the other tests are working with restmail, and these always fail. Is it expecting some email that isn't actually ever sent?

[2018-04-30 15:53] #6123 closed

[2018-04-30 16:03] vladikoff commented on #6109
Fixed 2 days ago https://bugzilla.mozilla.org/show_bug.cgi?id=1456487

[2018-04-30 16:03] #6109 closed

[2018-04-30 16:12] vladikoff commented on #6107
"By Design"

[2018-04-30 16:12] #6107 closed

[2018-04-30 16:13] vladikoff commented on #6078
Fixed!

[2018-04-30 16:13] #6078 closed

[2018-04-30 20:12] rfk commented on #5882
This will be relevant for https://bugzilla.mozilla.org/show_bug.cgi?id=1446023

[2018-04-30 20:21] #6135 closed, assigned to vbudhram

[2018-04-30 20:56] jrgm opened #6137 "exceptions on train-110 metrics route"
On POST	/metrics => 200	OK, but:
[code]

[2018-04-30 21:32] #6084 closed

[2018-04-30 21:39] rfk commented on #5882
I'm putting this in "next" to review now that this work is active on the moz.org side.  @philbooth, has the way we use amplitude device ids, flows ids, etc changed much since the above discussions took place?

[2018-04-30 22:06] hoosteeno commented on #5882
The proof of concept for an iframeless form comes from Snippets: https://github.com/mozmeao/snippets/blob/master/activity-stream/fxa.html#L254.

In order to get this moving on www.mozilla.org, we'll need some kind of documentation of the API that a client of this data collection service should use. That'll give us a place to start for product owner and data steward sign-offs.

[2018-04-30 22:39] jrgm commented on #6137
I had a single instance of 110.3 in an ASG/ELB I could point my browser at and trigger the exception. I used `strace` and `tcpdump` to look at the node process and network at the time of the exception. I see **no** attempt to talk to Sentry and report the error.

[2018-04-30 22:40] vbudhram opened #6138 "Can not push after shrinkwrapping"
I encountered https://github.com/mozilla/fxa-content-server/pull/6017#issuecomment-385302473 in https://github.com/mozilla/fxa-content-server/pull/6099 as well (Eslint not found). While doing `git push --no-verify` does work, I wonder if there is a better solution.

[2018-04-30 22:41] jrgm commented on #6137
Note also: sentry is network reachable by the content servers, and the configured DSN matches the value in Sentry.

[2018-05-01 01:35] vbudhram commented on #6135
@jrgm Above test all pass against latest. Tested with:

[code]

[2018-05-01 02:58] rfk commented on #5882
Based on https://github.com/mozilla/fxa-content-server/issues/5882#issuecomment-365654256, the simplest thing I can imagine working here would be:

* You make a `GET` request to an endpoint on https://accounts.firefox.com
* That endpoint logs a "view" event into our pipeline on the server side, and returns an opaque token with some state in it
* You include that token as an extra query param when

[2018-05-01 03:02] rfk commented on #5882
(Note that this would also avoid the need to include the amplitude SDK in the first-run page, because we'd emit a single event and it would be server-side)

[2018-05-01 06:10] #6138 closed

[2018-05-01 06:51] philbooth commented on #6137
Okay, this also explains why DataDog was affected, because `server/lib/statsd-collector.js` calls `toVersionString` too.

In hindsight I should have anticipated this in #6086 of course. And as was the case there, it's frustrating that I can't reproduce this locally.

Looking at the code, I almost wonder if prod has a different version of the `node-uap` dependency than we have locally. Locally I ha

[2018-05-01 06:53] philbooth commented on #6137
e.g. maybe the switch to node 8/npm 5 has changed how are deps are resolved in a way that breaks this?

[2018-05-01 07:00] philbooth commented on #6137
Presumably this is just because the error happens inside `process.nextTick`. Annoyingly Sentry *was* picking it up, or another instance of it, before I fixed it in #6086. And because I couldn't reproduce that error locally, I didn't pay much heed to it and didn't think about the other places it might be happening.

If we can get to the bottom of why it happens in prod and not locally, I'd be a lot

[2018-05-01 08:34] philbooth opened #6142 "Store parsed user-agent string on the request object"
We do this in the auth server to avoid paying to parse it multiple times per request. Let's do it here too.

[2018-05-01 10:54] shane-tomlinson commented on #6142
I've noticed this before too, 👍

[2018-05-01 12:59] shane-tomlinson commented on #6137
OK, so I've been able to get the wrong version of node-uap to install, one that does not contain `toVersionString`. I used npm@5 and node@6, but I have been unable to reproduce again. Here's a screenshot showing it *did* happen though:

<img width="735" alt="screen shot 2018-05-01 at 13 20 09" src="https://user-images.githubusercontent.com/848085/39473677-79e565ce-4d3f-11e8-8ca3-c15ab4cb9102.png">

[2018-05-01 13:01] shane-tomlinson commented on #6137
The above message should say npm@{3|5}, I'm not sure which it was. :/

[2018-05-01 13:13] shane-tomlinson commented on #6137
I pulled down the v1.110.5 dockerhub content-server image and saw this:

<img width="593" alt="screen shot 2018-05-01 at 14 07 33" src="https://user-images.githubusercontent.com/848085/39473953-1bb51984-4d41-11e8-8925-a2dd77a6b883.png">

node@6 and npm@3 being used.

Then, I looked at node_modules/node-uap/index.js and see this:

<img width="535" alt="screen shot 2018-05-01 at 14 11 32" src="https

[2018-05-01 13:45] shane-tomlinson opened #6144 "Sentry: Content Server Express -- Production is not receiving errors?"
This was noticed by @jrgm yesterday:

<img width="402" alt="screen shot 2018-05-01 at 14 42 28" src="https://user-images.githubusercontent.com/848085/39474911-99e99d94-4d45-11e8-992c-e25c53b90ae9.png">

The newest error in the Content Server Express project is 3 months old. This seems... odd.

[2018-05-01 13:46] shane-tomlinson commented on #6144
Ref #6137

[2018-05-01 14:11] shane-tomlinson opened #6145 "Use system fonts, remove Fira Sans"
child of #6083

[2018-05-01 16:11] jrgm commented on #6135
all passing here too:  https://tc-test.dev.lcip.org/viewLog.html?buildId=37921&tab=buildResultsDiv&buildTypeId=fxa_LatestServerTests

[2018-05-01 18:32] shane-tomlinson opened #6147 "train-111 string cut - script failed"
@vladikoff suspects the string cutting script failed for the train-111 strings and that this will need to be handled manually.

[2018-05-01 18:37] vladikoff commented on #6147
Failed here: https://circleci.com/gh/mozilla/fxa-content-server-l10n/2435

[2018-05-01 21:12] vladikoff opened #6149 "Remove /templates/openid"
We don't use this anymore https://github.com/mozilla/fxa-content-server/tree/master/app/scripts/templates/openid

[2018-05-02 04:15] rfk opened #6151 "List some suggested TOTP apps?"
From some early tester feedback, :glob noticed that our setup UI has the text:

"Add a layer of security to your account by requiring security codes from one of these authentication apps."

But "these authentication apps" doesn't link anywhere or show any more info.  Is this going to be a link to e.g. the SUMO article from https://github.com/mozilla/fxa-content-server/issues/5866?

[2018-05-02 13:35] stephendonner opened #6152 "Support HTTP/2 ("H2")"
@jbuck and others know best the technical reason(s) potentially blocking us from enabling HTTP/2 (or "H2").

(See https://aws.amazon.com/about-aws/whats-new/2016/09/amazon-cloudfront-now-supports-http2/ and probably other, related docs.)

As @philbooth and I are working on tooling and perf-metrics gathering, and there hasn't been a rush so far, it might be nice to get a good/better baseline of sol

[2018-05-02 14:07] shane-tomlinson commented on #5882
I'm wondering if we can take care of everything with Cookies that way the reliers do not need to worry about passing around any extra info.

Here's how I can imagine it working, but I have not yet tried this:

1. Relier makes a call to an endpoint on the FxA content-server (the domain is important because of domain restrictions for the cookies).
2. The FxA content server provisions `flow_id`, `ses

[2018-05-02 16:34] jbuck commented on #6152
To support HTTP/2 we would need to switch from the classic ELB's we're currently using over to ALB or Cloudfront both of which support HTTP/2. Switching to ALB makes the most sense, but the problem we had making this move is that it doesn't support the same ciphersuite as ELB. Specifically it's missing `DHE-RSA-AES128-SHA` which is used by a good portion of Samsung SBrowser clients. I last checked

[2018-05-02 20:40] rfk commented on #5882
That sounds pretty good to me, modulo any concerns about users having cookies disabled.  But I guess those users were never going to succeed at signin in anyway :-)

Since such a cookie would not be for any direct user benefit, I wonder if there would be any problems from a policy standpoint.

[2018-05-02 21:34] hoosteeno commented on #5882
@jpetto can you review https://github.com/mozilla/fxa-content-server/issues/5882#issuecomment-385989751 and https://github.com/mozilla/fxa-content-server/issues/5882#issuecomment-385587915? These are alternative API client implementations and as the first implementer you may have some feedback.

[2018-05-03 01:50] vladikoff commented on #6147
We cut strings for t111!

[2018-05-03 01:50] #6147 closed

[2018-05-03 01:52] vladikoff commented on #6093
Moved to here: https://bugzilla.mozilla.org/show_bug.cgi?id=1458762

[2018-05-03 01:52] #6093 closed

[2018-05-03 02:01] #6145 closed

[2018-05-03 08:43] shane-tomlinson commented on #5882
This comment makes me realize this approach will fail if the user has 3rd party cookies disabled or set to "from visited." and they have not yet visited FxA or they've enabled [first-party isolation](https://www.ghacks.net/2017/11/22/how-to-enable-first-party-isolation-in-firefox/).

I'm not sure what percentage of people have these features enabled, but I imagine more than we are willing to ignor

[2018-05-03 08:45] shane-tomlinson commented on #5882
Of course, if firstrun is hosted by a system addon, I don't know if these policies and resulting problems apply.

[2018-05-03 08:54] shane-tomlinson opened #6154 "replace fontello icons with svg icons"
Follow on from #6146 where @vladikoff asks whether we should replace the fontello icons with SVG icons.

We might be able to save ourselves a few kB by replacing the fonts with SVGs.

Here's a node package that generates the SVGs: https://www.npmjs.com/package/fontello-svg

[2018-05-03 09:58] shane-tomlinson opened #6156 ""Account picture" "Change" button does not change to "Add" after removing a photo"
STR

1. Create an FxA account, upload a profile photo.
2. Remove the profile photo.
3. The "Account picture -> Change" button does not change to "Add..."
4. Refreshing the page causes the button to change to "Add..."

![remove-account-picture](https://user-images.githubusercontent.com/848085/39570620-c4959404-4ec0-11e8-993e-9415871f372c.gif)

[2018-05-03 10:35] shane-tomlinson opened #6157 "Disconnect from Sync screen does not receive keyboard focus when opened"
STR

1. Create an account, attach to Sync.
2. Open /settings
3. Open Devices & apps
4. Click on the "Disconnect" button next to a device.
5. Try to tab around using the keyboard. The page underneath scrolls.

This makes it difficult for screen reader users to use the functionality.

![disconnect-device-focus](https://user-images.githubusercontent.com/848085/39572182-2173fe5e-4ec6-11e8-9088-7f11d24

[2018-05-03 20:38] vbudhram commented on #6151
Fixed in https://github.com/mozilla/fxa-content-server/issues/5866. New SUMO page: https://support.mozilla.org/en-US/kb/secure-firefox-account-two-step-authentication

[2018-05-03 20:38] #6151 closed

[2018-05-03 20:58] jpetto commented on #5882
If the cookie approach isn't viable (for whatever reason), it wouldn't be too much work to make an API call to the FxA content server (which I believe would need to happen even if we go the cookie route), store a token, and include that token in the querystring when redirecting to FxA.

How soon are we looking to implement this? I have some code that should be on a demo server tomorrow with a basi

[2018-05-03 21:16] shane-tomlinson commented on #6124
Dup of #5651, closing.

[2018-05-03 21:16] #6124 closed

[2018-05-03 21:34] shane-tomlinson commented on #6137
This has been fixed, closing.

[2018-05-03 21:34] #6137 closed

[2018-05-04 02:44] vladikoff opened #6162 "Safari iOS seems to have the same issues as Chrome Android with OAuth System browser when polling for emails"
Safari iOS seems to have the same issues with OAuth System browser when polling for emails

Ref: https://github.com/mozilla/fxa-content-server/issues/6089

[2018-05-04 09:01] #6076 closed

[2018-05-04 12:31] SorinaFlorean commented on #6095
I can confirm this is fixed on staging server - Train 111. Device: Google Pixel (Android 8.1.0) and Win 10.

[2018-05-04 12:55] SorinaFlorean commented on #6073
I can confirm that is is fixed on staging server-Train 111. "Removed" is replaced with "disabled".

[2018-05-04 12:58] SorinaFlorean commented on #6056
This is working as expected. Tested on production and on staging server and the 2FA can be disabled when we use recovery codes.

[2018-05-04 13:39] vladikoff opened #6165 "Modernize the CSS building pipeline"
child of https://github.com/mozilla/fxa-content-server/issues/6261

We should replace the old `grunt sass watch` CSS building with a webpack `sass-loader` thing

Example: https://github.com/mozilla/notes/blob/40a6fa0435999b1a82fd2504726afab3418c67d0/webpack.config.js#L46

If this works well we won't have to run a separate command to update CSS files and just use the WebPack watcher

[2018-05-04 13:59] shane-tomlinson opened #6166 "Avatar rotate icon is incorrectly positioned"
Found by vladikoff in https://github.com/mozilla/fxa-content-server/pull/6155#issuecomment-386606906:

[2018-05-04 15:26] #5872 closed

[2018-05-07 09:16] SorinaFlorean opened #6168 "Inconsistency between "synced tabs" and "devices and apps" sections regarding "last sync""
Platform: Win10.
Prerequisites: log in with the same account on desktop and mobile.

STR:
1. Go to desktop->Manage account;
2. Open "Synced Tabs" Sidebar;
3. Hover over name of mobile device;
4. Check the last time when the sync was performed with time displayed with the same device in devices&apps section.

Actual results: the time is not the same. please see the screenshot.
Expected results: las

[2018-05-07 14:03] level20peon opened #6169 "missing files: app.bundle.js / appDependencies.bundle.js / head.bundle.js"
First I clone the fxa-content-server and create/install the required resources:

Then I start the server after inserting my config to `fxa-content-server/server/config/local.json`:

When I point Firefox to open the server URL, I receive several 404s related to bundle:

Do I need to install bundle somehow? I tried things like `npm install bundle` and such, but the ".js" files mentioned above in the

[2018-05-07 16:59] vbudhram commented on #5866
This has been fixed!

[2018-05-07 16:59] #5866 closed

[2018-05-07 19:39] #6169 closed

[2018-05-07 19:51] vbudhram opened #6171 "Recovery key setup flow UX"
Implement the initial setup UX and put behind a feature flag.

https://www.lucidchart.com/documents/edit/a96815b8-fea5-492f-b908-555192b199c4/0

child of mozilla/fxa#297

[2018-05-07 19:53] vbudhram opened #6172 "Recovery key password reset flow"
Implement the password reset flow UI using

https://www.lucidchart.com/documents/edit/a96815b8-fea5-492f-b908-555192b199c4/0

[2018-05-07 20:01] vbudhram opened #6173 "Add SUMO page for recovery key"
As part of the feature, we should have the proper SUMO articles and documentation written. Article can be based on

Feature doc: https://docs.google.com/document/d/1PVFwH276xgOd2N3GV40anBavKWXMxQd2bGcti7NBPYQ/edit#
UX: https://www.lucidchart.com/documents/edit/a96815b8-fea5-492f-b908-555192b199c4/0.

child of mozilla/fxa#297

[2018-05-07 22:10] vladikoff commented on #6127
2% of people have an avatar that is a gravatar, let us know what we want to do here

1. Do nothing
2. revert the CSP rule removal
3. invest time into porting the gravatar avatars into firefoxusercontent

[2018-05-08 10:52] shane-tomlinson commented on #6166
Thaks @SorinaFlorean - this will become a problem once train-111 is cut, I introduced the bug in #6155.

[2018-05-08 11:11] shane-tomlinson commented on #6127
Is this 2% of *all users* or 2% of users that have an avatar set? If the 2nd, I imagine that's a far smaller number. Are we talking thousands, hundreds of thousands, hundreds?

[2018-05-08 12:41] shane-tomlinson opened #6174 ""String contains variables that are not escaped: Add a layer of security to your account by requiring security codes from one of <a %(totpSupportAttributes)s>these authentication apps.</a>""
I saw this in the console today.

`totpSupportAttributes` needs to be named `escapedTotpSupportAttributes` and we need to ensure those things are escaped.

cc @vbudhram

[2018-05-08 15:10] vladikoff commented on #6127
2% of those that have avatar set

[2018-05-08 16:01] philbooth commented on #6168
It may be that the best we can do here is improve the messaging, since the best time we have access to in FxA is when `/account/sign` was hit, which is obviously not the same thing as when the browser actually synced.

Maybe we should get some UX input on this.

[2018-05-09 01:19] vbudhram commented on #6018
While working on https://github.com/mozilla/fxa-auth-server/issues/2409, ISTM that automatically regenerating recovery codes when they run out, may have less significance. User's would have gotten several emails at this point about regenerating their codes (one for each time they used it below the configured minimum). Additionally, I can see this feature having a few edge cases regarding verificat

[2018-05-09 01:53] vbudhram commented on #6018
I didn't think about that but it does seem doable.

The edge cases would arise because I was thinking about redirecting to `/settings/` and reusing our recovery codes modal, which might cause problems with oauth and sync sign-in flows . Users can dismiss modal, not save recovery codes or close window at these points and not get into the final service.

Maybe having a custom view specifically for t

[2018-05-09 19:34] shane-tomlinson commented on #5984
@april - Was a bug opened for this? My (honestly pretty poor) Bugzilla foo didn't come up with anything. Now that Fx 60 is released, we are seeing a surge in these errors.

[2018-05-09 19:36] shane-tomlinson commented on #6114
Ref #5984

[2018-05-09 19:40] shane-tomlinson commented on #6114
I think we should consider whether FxA *really* needs localStorage at all. We store several bits that make signing in and verification smoother, but if the user doesn't want to enable 3rd party cookies or disables localStorage, it seems to me the expected behavior should be to serve a working, possibly not as smooth as can be, UI.

[2018-05-09 21:27] vbudhram opened #6180 "Migrate current gravatar profile images"
From https://github.com/mozilla/fxa-content-server/pull/6177#issuecomment-387848890, we should have a plan or path forward for migrating current gavatar users to not use gavatar. I could see this done in a few different ways

* Manually migrate gavatar avatar images in some background task
* Migrate when users request a profile picture

Feel free to recommend others!

[2018-05-09 21:28] #6127 closed

[2018-05-09 21:38] rfk commented on #6114
👍 if we think we can make this so!

[2018-05-09 23:01] rfk commented on #6162
We moved this out of next because it wasn't clear how urgent it was, or what next steps are.  @vladikoff please re-triage and add more info as appropriate.

[2018-05-10 05:11] shane-tomlinson opened #6182 "Frequently failing test on teamcity latest - 'OAuth signin page - user signed into browser, user signed in locally'"
See https://tc-test7.dev.lcip.org/viewLog.html?buildId=38212&buildTypeId=FxaLatest_FunctionalTests

Unable to locate element: input[type=email] For documentation on this error, please visit:
http://seleniumhq.org/exceptions/no_such_element.html Build info: version: '3.5.2', revision: '10229a9020', time: '2017-08-21T17:54:21.164Z' System info: host: 'c067e5721c1c', ip: '172.17.0.4', os.name: 'Linux

[2018-05-10 07:48] philbooth commented on #6180
There might be legal issues with this and, even if there aren't, it might make us seem kind of creepy. Better to do it with user permission I think.

[2018-05-11 00:37] vbudhram commented on #6180
Heh, yea that is true. We could promote changing avatars in some account tune up flow. Or even not do anything at all and let these users change pictures on their own.

[2018-05-11 13:27] shane-tomlinson commented on #6180
Are there downsides to this approach? Why did we remove the CSP rule in the first place?

[2018-05-11 13:46] vbudhram commented on #6180
@shane-tomlinson Probably should have clarified, just meant not doing anything at this moment and revisit later. With the CSP rule in place, the avatar would only not load on the web (loads correctly on browser menus). Removing it seems low cost and gives a consistent user experience.

[2018-05-11 15:28] vladikoff commented on #6180
It was a CSP clean up, but a little early. IMHO we should not worry too much about this at this time

[2018-05-11 15:31] shane-tomlinson commented on #6180
I wholeheartedly agree.

[2018-05-11 22:05] vladikoff commented on #4982
:dagger: , unless more people start using `ESC`

[2018-05-11 22:05] #4982 closed

[2018-05-14 08:30] #6023 closed

[2018-05-14 14:05] vbudhram opened #6186 "Can navigate to recovery codes even if you do not have TOTP setup"
Found this in https://github.com/mozilla/fxa-content-server/pull/6181. Users should not be able to directly navigate to `/settings/two_step_authentication/recovery_codes`, if they do not have TOTP setup. We should redirect them to TOTP setup page instead.

[2018-05-14 15:02] shane-tomlinson opened #6188 "Show tooltips above the form field on mobile devices"
child of #6083

[2018-05-14 16:35] shane-tomlinson opened #6189 "Fully release SMS in NL, BE, DK"
The initial SMS numbers in the Netherlands (NL), Belgium (BE), and Denmark (DK) all look like a go. In fact, the Netherlands now has the highest percentage of conversions of any country. 🇳🇱

For some conversion metrics, see https://analytics.amplitude.com/org/31251/chart/ligsywj

[2018-05-14 20:34] shane-tomlinson commented on #6079
Yes, it's feasible. We will slim down the default library size so our package does not bloat by 400kB.

[2018-05-14 20:34] #6079 closed

[2018-05-14 21:33] #6189 closed

[2018-05-15 09:12] shane-tomlinson commented on #6144
@jrgm - See [this line in the content-server/s lib/configuration](https://github.com/mozilla/fxa-content-server/blob/94aa856b4d7e98fef6fe94a3f2ad84c8cc342b1a/server/lib/configuration.js#L453):

In cloud-ops deployment the environment variable is being set [here](https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/fxa/puppet/modules/fxa_content/manifests/init.pp#L80), and t

[2018-05-15 09:23] shane-tomlinson opened #6193 "Failing functional tests on teamcity due to obscured elements"
* recovery code - can sign-in with recovery code - sync
* settings change email - can change primary email, change password and login
* can change primary email, change password, login, change email and login

[03:30:19]
[can sign-in with recovery code - sync] UnknownError: [POST http://localhost:4444/wd/hub/session/7c4731f9-e0f9-4579-b741-6237797cde96/element/0d2a2f4f-0373-4589-bc07-da9b259c2896/

[2018-05-15 10:43] #6193 closed

[2018-05-15 12:07] #6166 closed

[2018-05-15 16:05] shane-tomlinson opened #6196 "Safari/Chrome: background stays grey after pressing the "eye""
child of https://github.com/mozilla/fxa-content-server/issues/6261

Found by @vladikoff in https://github.com/mozilla/fxa-content-server/pull/6195#issuecomment-389209645

This is because the "show-password" label becomes focused. Perhaps after releasing it, we should blur the element?

[2018-05-15 16:08] shane-tomlinson opened #6197 "email-first: Back from "reset password" goes to settings if signed in."
Found by @vladikoff in https://github.com/mozilla/fxa-content-server/pull/6187#issuecomment-389213454

![6187set](https://user-images.githubusercontent.com/128755/40067644-9edbff50-5834-11e8-85bb-a2b2bd45b40f.gif)

[2018-05-15 16:08] #6052 closed

[2018-05-15 16:08] #6126 closed

[2018-05-15 16:09] #6188 closed

[2018-05-15 16:10] vladikoff commented on #6197
might be regression from https://github.com/mozilla/fxa-content-server/pull/6155#discussion_r185784138

[2018-05-15 16:13] shane-tomlinson commented on #6197
I suspect this happens because of: https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/views/index.js#L58

[2018-05-15 16:14] shane-tomlinson commented on #6197
On second thought, that doesn't make sense.

[2018-05-15 16:54] shane-tomlinson opened #6198 "Show new "user-card" view in legacy signin & signin cached view"
In #6187, I only added the user-card view to the email-first flow. Lockbox is going to be using the legacy, non-OAuth, signin flow for their V1. The card needs to be added to the legacy signin & cached signin view.  (or we remove the legacy views.)

[2018-05-15 21:06] vladikoff commented on #5882
@hoosteeno @jpetto We are gonna attempt to hook up a solution based on the approach in https://github.com/mozilla/fxa-content-server/issues/5882#issuecomment-385587915

You will need to query our API and get several values, then pass them with the form registration flow

[2018-05-17 10:01] svitaliyv commented on #4138
same issue

[2018-05-17 12:14] SorinaFlorean opened #6204 "[Train 112] Links are performing like buttons"
Environment: Win10, Samsung Galaxy Tab S3(Android 7.0)
Stage server - Train 112

Steps to reproduce:
1. Log in with an account;
2. Go to Manage devices;
3. From Two-Factor Authentication tap/click on "these authentication apps" link.
4. Go back to Manage account page.

Actual results:  "these authentication apps" link is performing like a button and remains selected after the page is opened.

Expe

[2018-05-17 13:34] SorinaFlorean opened #6206 "Unexpected error in Communication preferences"
Environment: Win10, Samsung Galaxy Tab S3(Android 7.0)
Stage server: train 112.

Steps to reproduce:
1. Log in with an account;
2. Go to Manage Devices;
3. From Communication preferences tap on "Change"

Actual results: "unexpected error" message is displayed with red and isn't aligned.
Expected results: the user can change preferences choosing subscribe or unsubscribe.

Note: see the screenshot h

[2018-05-17 14:42] vladikoff commented on #5882
@hoosteeno @jpetto could you clarify for me where are you gonna be consuming this from? Is it activity stream or bedrock?

[2018-05-17 16:22] vladikoff opened #6207 "Form level error messages in the Photon CSS are a little shaky"
![shaky](https://user-images.githubusercontent.com/128755/40190443-f78c5d54-59cc-11e8-9985-b63038667463.gif)

@shane-tomlinson confirm bug or by design?

[2018-05-17 17:28] vladikoff commented on #6207
@shane-tomlinson it feels a bit different to me, try it in Chrome, you might see the text shift up before the red bar itself. Could be nothing though...

[2018-05-18 07:14] sv-ohorvath opened #6209 "New UI seems a bit off"
Build:
Fxa Train 112
Staging server

While testing Train 112, we've gone through several pages of the FxAccounts flows and observed the Photon UI changes. There are a few improvements we would like to suggest.

We feel like the font looks disproportionate, too small in some areas and in some cases too lightweight.
For e.g.: on the create account page it looks like there are 2-3 different fonts, th

[2018-05-18 07:14] SorinaFlorean commented on #6204
![screenshot_2018-05-18-10-12-27](https://user-images.githubusercontent.com/24588037/40221152-41c57ef2-5a84-11e8-90b8-5d8ba39f7d8e.png)

[2018-05-18 11:42] shane-tomlinson opened #6210 "Quite a lot of outdated dependencies"
Package                       Current  Wanted   Latest  Location
babel-core                     6.26.0  6.26.0   6.26.3  fxa-content-server
babel-eslint                    8.2.1   8.2.1    8.2.3  fxa-content-server
babel-loader                    7.1.2   7.1.2    7.1.4  fxa-content-server
backbone                        1.1.1   1.1.1    1.3.3  fxa-content-server
backbone.cocktail               0.5

[2018-05-18 13:38] vladikoff commented on #6210
For the future, this produces a better output https://www.npmjs.com/package/npm-check-updates

[2018-05-18 21:05] april commented on #5984
Sorry for taking so long to get back to you! I was at Google I/O and I'm just catching up.

I did file a bug and create a test site to at least get this documented:

https://bugzilla.mozilla.org/show_bug.cgi?id=1462802

Although from my discussions, it seems like this might be a `WONTFIX`.

[2018-05-20 02:21] rfk opened #6213 "Can we be more clear about the implications of resetting your password?"
From this discourse discussion:

  https://discourse.mozilla.org/t/help-lost-all-of-my-synced-passwords/28715

A user who was resetting their password saw our warning message about data loss, but interpreted it to mean that only recent data would be lost.  Relevant quotes:

 * "There was a note stating latest saved/synced passwords may be lost, HOWEVER, I lost all of my passwords"
* "I would not h

[2018-05-21 09:45] shane-tomlinson commented on #5984
Thanks for filing the bugzilla issue @april, the listed STRs are very useful. I'd like to revisit whether we actually *need* localStorage and sessionStorage on the FxA side, it seems like we should be able to provide at least a minimal experience. Unfortunately we won't be able to prioritize this imminently, possibly next quarter at the earliest.

[2018-05-21 10:00] shane-tomlinson commented on #6213
I sympathize with the user, though there is no mention of "recent" anywhere in our text. Do we imply that? The thing I find most confusing is "some of your data will be erased".

/reset_password:

/complete_reset_password:

email:

Regardless of whether we imply "recent" somewhere, I'm going to go out on a limb and say users who rely upon the Fx password manager don't really give a toss about whet

[2018-05-21 10:12] shane-tomlinson commented on #6204
Here's the relevant Photon design section re links: https://design.firefox.com/photon/components/links.html

The link is supposed to receive a button-like focus-ring on focus. When clicking on the link, it receives focus, so I'm not sure what to do here. Maybe the CSS :focus and :active selectors order needs to be swapped.

Regardless of how to handle the focus state, there are still a couple of o

[2018-05-21 11:44] shane-tomlinson commented on #6204
Ref https://github.com/FirefoxUX/photon/issues/303

[2018-05-21 11:57] shane-tomlinson commented on #6209
Thanks for the report @sv-ohorvath. I am using a combination of the [Photon styleguide](https://design.firefox.com/photon/welcome.html) and the styles as specified in this [Zeplin project](https://app.zeplin.io/project/5ad79b0f8964ebca1c06cab8/screen/5ad79b98e49230ff0c40561f). If you can send me your email address, I can give you access.

That green, yeah, I agree about it looking too bright. That

[2018-05-21 11:58] shane-tomlinson commented on #6209
Duh, all I had to do is open your Github profile, invite sent.

[2018-05-21 12:07] shane-tomlinson commented on #6206
@jrgm or @jbuck - For stage, is a fake-basket-proxy hooked up to handle these requests?

[2018-05-21 12:34] shane-tomlinson commented on #6206
Thanks for the report @SorinaFlorean, styling issues in #6216!

[2018-05-21 13:04] shane-tomlinson commented on #6074
After discussing approaches to reporting pw-strength metrics with @g-k and @moz-jvehent, I'm going to close this issue as WONTFIX. We are going to take a different approach to reporting metrics, one that'll only work once we implement the actual UI.

Instead of collecting length, we are going to report the delta where delta is the difference in the pw strength of the first and last password submit

[2018-05-21 13:04] #6074 closed

[2018-05-21 13:31] shane-tomlinson opened #6217 "Provide a button to “Go to Lockbox” from the confirmation screen"
blocks #6083.

Provide a button to “Go to Lockbox” from the confirmation screen – as shown in the designs via InVision.

<img width="341" alt="screen shot 2018-05-21 at 14 05 54" src="https://user-images.githubusercontent.com/848085/40310104-a8e3417e-5d03-11e8-9967-b5c684de3556.png">

[2018-05-21 13:37] shane-tomlinson opened #6218 "Update the *-complete screens to align with Photon spec"
Follow on from #6083

e.g.,:

<img width="341" alt="screen shot 2018-05-21 at 14 05 54" src="https://user-images.githubusercontent.com/848085/40310104-a8e3417e-5d03-11e8-9967-b5c684de3556.png">

Ref #6217

[2018-05-21 13:45] shane-tomlinson opened #6219 "Validate password & vpassword inline instead of on form submit"
Blocks #6083

I suspect this could be handled on #vpassword blur.

Other changes:
* Highlight both fields
* Attach the tooltip to the first field.

<img width="375" alt="screen shot 2018-05-21 at 14 43 53" src="https://user-images.githubusercontent.com/848085/40310656-685f3c0a-5d05-11e8-8052-ff3ddb64d97e.png">

[2018-05-21 13:48] shane-tomlinson commented on #6083
I have opened follow on bugs for each of the remaining items, I am moving this to the backlog.

[2018-05-21 14:01] shane-tomlinson commented on #6204
Fixed by #6215, closing.

[2018-05-21 14:01] #6204 closed

[2018-05-21 14:03] #6206 closed

[2018-05-21 16:05] SorinaFlorean opened #6220 "Can't download and copy recovery codes on iPhone SE 11.0.1"
Environment:
iPhone SE 11.0.1
Production server

Str:
1. Log in with an account and enable 2FA
2. Tap on download or copy codes

Expected results: the codes are downloaded/copied.
Actual results: the codes aren't copied or downloaded.

[2018-05-21 16:06] SorinaFlorean commented on #6220
Note: also the "disable button" isn't responsive all the time.

[2018-05-21 16:08] vbudhram commented on #6220
@SorinaFlorean Was this using Safari or Firefox for iOS?

[2018-05-21 16:21] SorinaFlorean commented on #6220
@vbudhram Firefox for iOS.

[2018-05-21 16:32] shane-tomlinson opened #6221 "Raise minimum age to 16 for GDPR compliance"
Word from Legal is we have to increase our minimum age to 16 for GDPR compliance.

Possible multi-step approach so we avoid losing users in the US:

1. Raise the minimum age to 16 globally so we are complaint come the 25th.
2. At some future date, perform some geo-lookup on the user's IP address to determine whether they are in Europe, if so, 16, if not, 13.

Not sure about the feasibility of step

[2018-05-22 09:56] shane-tomlinson opened #6223 "Sentry Error: Unexpected error at getPermissionsWithValues"
See https://sentry.prod.mozaws.net/operations/fxa-content-product/issues/4344112/events/21564016/

  at Error(./lib/errors.js:125:44)
  at getPermissionsWithValues(./models/reliers/oauth.js:298:16)

[2018-05-22 10:02] shane-tomlinson opened #6224 "Sentry reports our RavenJS is out of date."
<img width="572" alt="screen shot 2018-05-22 at 11 02 34" src="https://user-images.githubusercontent.com/848085/40355950-ac931392-5daf-11e8-9545-f29f3760f796.png">

[2018-05-22 10:08] shane-tomlinson opened #6225 "Sentry content-server express error: child "logger" fails because ["logger" is required]"
See https://sentry.prod.mozaws.net/operations/content-express-server-prod/issues/4344125/events/21564880/

Looks like the value is required [in POST /metrics-errors](https://github.com/mozilla/fxa-content-server/blob/821f27649fff0ab0d5d3c736b364588fcbf1d3b7/server/lib/routes/post-metrics-errors.js#L54).

[2018-05-22 14:17] SorinaFlorean commented on #6220
Tried today on iPhone X 11.2.6 and the issue is reproducible as well, the buttons download, copy aren't responsive.

[2018-05-22 14:28] SimonBasca opened #6226 "Synced logins for newly created FxA are not pulled from desktop to mobile device (iOS or Android)"
Device: iPhone X (11.2.6), Samsung S 8+ (8.0.0)

Steps to reproduce:
1. On Desktop, create a new FxA
2. Create some logins
3. Sync on desktop
4. Login to FxA on Android or iOS

Actual Results:
- Only one login is synced from desktop to mobile device, the saved login from the FxA.

Expected Results:
- All logins should be synced from desktop to mobile devices.

[2018-05-22 16:05] vladikoff commented on #6225
from mtg: make it optional

[2018-05-22 16:14] vladikoff commented on #6213
@juliemccracken to check this..

[2018-05-22 16:16] vladikoff commented on #6207
from mtg: not too shaky! closing for now!

[2018-05-22 16:16] #6207 closed

[2018-05-22 17:43] irrationalagent commented on #6074
@shane-tomlinson IIUC then if someone only submits once (i.e. they were successful on the first try) then we will report 0 or nothing for our measure? In other words, we will only have a non-0 measurement for cases where someone submits something that's too weak, then submits again.

I'm trying to understand how this new measurement will affect our ability to measure the experiment's success. We w

[2018-05-22 18:10] g-k commented on #6074
@irrationalagent can we count the 0s as satisfying the minimum required by a variant and try variants with different minimums? Or could we conduct an experiment on users with non-zero delta? e.g. we expect >50% of users to submit a non-zero delta across all variants and variant G will result in a larger increase.

[2018-05-22 19:16] irrationalagent commented on #6074
So if one variant has significantly **less** non-zero deltas than another we will then at least know that variant leads to the fewest resubmits (people meeting the requirements on the first try), which would be a mark in its favor.

However, we still wouldn't know for sure which variant leads to the best passwords overall, as it could be the case that resubmissions on variants with *more* non-zero

[2018-05-22 21:56] vladikoff opened #6229 "Sign-in confirmed button is grey"
![image](https://user-images.githubusercontent.com/128755/40392371-5b4db048-5de9-11e8-9002-bba5b17fa5c9.png)

## Expected

This button should be blue

cc @shane-tomlinson

[2018-05-23 00:05] rfk commented on #6226
From #sync on slack, it sounds like this may be the same as (or very similar to) https://bugzilla.mozilla.org/show_bug.cgi?id=1461255

@SimonBasca do any of the devices involved here have a master password enabled?

[2018-05-23 00:11] rfk commented on #6226
To clarify, by this do you mean "the password for accounts.firefox.com, which I saved on desktop firefox when creating the account"?

[2018-05-23 00:45] rfk commented on #6226
I was able to reproduce this on my first try, using a fresh nightly profile on Desktop and a fresh build of firefox-ios on the simulator.  I saved the password for accounts.firefox.com, then did a junk login on reddit.com and news.ycombinator.com, saving both passwords.

From server data and about:sync logs, it looks like desktop failed to upload the password entries for reddit.com and news.ycombi

[2018-05-23 00:50] rfk commented on #6226
The about:sync addon correctly gives me a validation error, saying there are items missing from the server.  Signing out on desktop and signing back in causes it to upload the missing items, after which they appear successfully on iOS.

[2018-05-23 01:07] rfk commented on #6226
I've moved this into bugzilla as a Desktop Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1463624

Thanks for the report!

[2018-05-23 01:07] #6226 closed

[2018-05-23 09:17] shane-tomlinson opened #6230 "Allow "blob" URIs as the scheme for "blocked-uri" in CSP reports"
See https://sentry.prod.mozaws.net/operations/content-express-server-prod/issues/626954/

[2018-05-23 14:09] SorinaFlorean opened #6231 "A loop is created between Recovery codes message and back button"
Environment: 62.0a1 - Sony Xperia Z2 (Android 6.0.1), WIN 10
Server: production

Steps to reproduce:
1. Log in with an account with 2FA enabled;
2. Go to Manage account and generate new recovery codes;
3. Tap on Done;
4. Tap on browser back button or device back button.

Expected results: the manage account page is no longer available, and the user is taken to the previous page visited.

Actual re

[2018-05-23 14:10] SorinaFlorean commented on #6231
And also, wouldn't be better that the message appears after the user is tapping generate new recovery codes from "two factor authentication" section?

[2018-05-23 17:48] vbudhram commented on #6220
@SorinaFlorean Thanks for the report, I'll try to get this fixed for train 113.

[2018-05-24 18:11] vladikoff commented on #6229
in Chrome as well

![image](https://user-images.githubusercontent.com/128755/40503523-56c83c18-5f5c-11e8-9d03-4140404c7704.png)

[2018-05-25 02:31] #6229 closed

[2018-05-29 20:48] vladikoff commented on #6213
from mtg: waiting until the end of this week?

[2018-05-29 20:58] vladikoff commented on #6197
✈️

[2018-05-30 08:52] madalincm opened #6235 "Show password button is not correctly displayed using Windows & low DPI screens"
### Steps to reproduce:
1. Open https://addons.mozilla.org/en-US/firefox/
2. Click on the log in button from the top right corner
3. Enter an email and start typing your password
4. Observe the "Show password" button

### Expected results:
The button is correctly displayed

### Actual results:
The "eye" icon form is not distinguishable.

### Notes/Issues
Verified in FF 60.0.1 on Win7(x64) Issue ca

[2018-05-30 11:37] AlexandraMoga opened #6236 "'Verify' button for validating your primary email account from FxA page is not working on -dev"
STR:

1. Log in to the FxA page to manage your Firefox account
2. Choose the option to add a Secondary email to your account
3. Click on 'Verify' button to complete the mandatory verification of your primary email address

Actual result:
Nothing happens when the 'Verify' button is selected. Also, no email is received in user's inbox

Expected result:
Clicking on the 'Verify' button should generate

[2018-05-30 18:03] devinreams commented on #6083
@shane-tomlinson Awesome work getting this all in place!

Sorry if this is not a helpful place to put this but since it was related to this work I figured I'd consolidate all the little stuff we noticed and just make sure you were aware of it, if not already:

1. PI noticed the "Sign In" button text is not centered at certain (narrow) breakpoints and is instead left aligned. I believe this is alre

[2018-05-30 18:50] #6113 closed

[2018-05-30 20:17] Gabbyjose commented on #6165
Hi there, I'm interested in working on this ticket if it's still available!

[2018-05-30 20:33] vladikoff commented on #6165
@gabbyjose hey! sorry, this is a large issue, please see other issues with a 'help wanted' label

[2018-05-30 20:36] Gabbyjose commented on #6165
@vladikoff thank you!

[2018-05-31 10:32] shane-tomlinson commented on #6235
@madalincm - this is what it looks like locally for me:

<img width="451" alt="screen shot 2018-05-31 at 11 31 23" src="https://user-images.githubusercontent.com/848085/40777594-38147c68-64c6-11e8-8d3e-b50681387747.png">

Are you using a low DPI screen? Chances are we have all been using high DPI monitors and didn't test on enough screens/devices.

[2018-05-31 10:35] shane-tomlinson commented on #6235
Here's what it looks like for me in a low DPI linux VM:

<img width="408" alt="screen shot 2018-05-31 at 11 34 34" src="https://user-images.githubusercontent.com/848085/40777759-a97091a8-64c6-11e8-8e94-fe1e7b084db7.png">

Maybe I have to go lower DPI still?

[2018-05-31 10:41] shane-tomlinson commented on #6236
@vbudhram - what is the expected behavior here? Is an email supposed to be re-sent?

[2018-05-31 10:53] shane-tomlinson opened #6240 "TOTP input element uses type=text, should be type=number"
Reported by @devinreams in https://github.com/mozilla/fxa-content-server/issues/6083#issuecomment-393260308.

The TOTP code uses `type=text` even though only numbers can be used as input.

Change to `type=number`, and like the [COPPA age input](https://github.com/mozilla/fxa-content-server/blob/a211cad14ac16d9cd81fa1538b9ef4b6f89874c3/app/scripts/templates/partial/coppa-age-input.mustache#L2), add

[2018-05-31 11:00] shane-tomlinson commented on #6083
Thanks @devinreams, I am opening related issues for each of these.

re the viewport meta-tag, not disabling zoom was an explicit decision discussed in https://github.com/mozilla/fxa-content-server/issues/2228. I'm open to revisiting that discussion though I am extremely reluctant to completely disable zoom for users on mobile devices that need it.

[2018-05-31 11:03] shane-tomlinson opened #6241 "tap to reveal eye icon may be difficult to use on screen readers"
Reported by @devinreams in https://github.com/mozilla/fxa-content-server/issues/6083#issuecomment-393260308

[2018-05-31 11:04] shane-tomlinson commented on #2228
Ref #6083

[2018-05-31 11:33] madalincm commented on #6235
I do not think this is DPI related as I can reproduce the issue only on Release. When I try it on Nightly the icon is correctly displayed:
![showpasswordbuttonnightly](https://user-images.githubusercontent.com/15685441/40779756-ca5a04ea-64de-11e8-97eb-a3d1af646654.png)

Using FF Release 60.0.1 I was able to reproduce it on 3 different work stations (two Win10 x64 and one Win7 x64). I am using a 23

[2018-05-31 11:47] shane-tomlinson commented on #6235
AHA! Thanks for that info, I'm using a Mac and Linux. I'll boot up a Windows VM now.

[2018-05-31 12:00] shane-tomlinson commented on #6235
In a Windows 7 VM it looks reasonable, however on a first-gen Surface tablet the icon does look pretty bad. Thanks for the info @madalincm, I'll see if our designers are able to fix this.

[2018-05-31 12:21] SorinaFlorean opened #6242 ""Done" button unresponsive from Secondary email section"
Environment:
Platforms: Android, Win10, iOS
Sever: Stage and prod

Steps to reproduce:

1. Login with FxA account and go to manage account page;
2. Tap on "Add" from Secondary email section;
3. Type a new email and choose "Add";
4. Tap on "Done".

Expected results: tapping on "done" button closes the section.
Actual results: nothing happens, the button is unresponsive.

Video: https://drive.google

[2018-05-31 15:20] shane-tomlinson opened #6243 "email-first flow - users who refresh on the "enter password" page are sent to non-email first flow"
STR

1. Load up https://accounts.firefox.com/signup?action=email&service=sync
2. Fill out an email address
3. On the next page, refresh.

![email-first-refresh](https://user-images.githubusercontent.com/848085/40791052-6ebd65f4-64ee-11e8-9f18-9bb024dee96e.gif)

[2018-05-31 15:25] SorinaFlorean opened #6244 "Enter security/recovery code pages not centered (iOS)"
Device: iPhone SE (11.0.1)
Stage server: Train 113

Steps to reproduce: log in with an account with 2FA enabled and pay attention to Enter security code page, is not centered.

Screenshot:
![img_0008](https://user-images.githubusercontent.com/24588037/40791305-dfa53f7e-64ff-11e8-9293-e1e4a2830782.PNG)

[2018-05-31 16:12] vbudhram commented on #6236
@shane-tomlinson Yea an email is supposed to be sent. After clicking `Verify` the button text will change to `Refresh`.  This seems to imply that there was an error client side and email didn't get sent. In either case, there should be some warning to user that something went wrong.

@AlexandraMoga Thanks for report! Would you be able to repeat steps and see if there are any errors logged in the w

[2018-05-31 17:45] philbooth commented on #5671
My hero, @vladikoff, landed a huge chunk of this in #6227. All that's left now is to transition all `flow.begin` events to the server.

[2018-05-31 19:53] vladikoff commented on #5914
Closing for now, let's revisit this if still needed later....

[2018-05-31 19:53] #5914 closed

[2018-05-31 20:06] vladikoff commented on #5007
@davismtl can you check in https://accounts.firefox.com/settings/clients?context=web&sessionsListVisible=true if you still see this ?

[2018-05-31 20:28] MeridelW commented on #6213
I worked on the original copy for this. Below is a revised version, which I think works much better on a couple of different levels.

**/reset_password:**
NOTE: When you reset your password, you reset your account. You may lose some of your personal information (including history, bookmarks, and passwords).

**/complete_reset_password:**
REMEMBER: When you reset your password, you reset your accou

[2018-06-01 03:30] #6243 closed

[2018-06-01 15:29] shane-tomlinson opened #6247 "Add new Lockbox redirect_uri in config"
https://github.com/mozilla/fxa-content-server/blob/1d091506dc9492339576f3b0f3cad051f0a9e31a/server/lib/configuration.js#L414

From https://bugzilla.mozilla.org/show_bug.cgi?id=1460646#c1

The additional redirect_uri is https://lockbox.firefox.com/fxa/ios-redirect.html

Once the corresponding OAuth server update has been done, we can remove the old URLs.

[2018-06-01 15:52] shane-tomlinson opened #6249 "TOTP: Ask to verify a recovery code to complete setup"
Migrated from @davismtl's original report in https://github.com/mozilla/fxa-amplitude-send/issues/63.

-----------------

I went through the TOTP flow for Evernotes and in order to complete setup, users had to prove that they had stored their recovery codes by entering of them (which one remain valid).

I think this is a great idea and avoids any slip ups.

It would probably be useful to do this t

[2018-06-01 16:00] #6247 closed

[2018-06-01 17:11] vbudhram commented on #6249
@shane-tomlinson I think this would be interesting to do as an experiment. From a UX perspective, I can see it being a little tricky. A user at this point would have just entered a TOTP code to confirm that they scanned the QR correctly, then be prompted to enter another code in. Some quick thoughts

* Setup drop off % by introducing a new step
* Showing screen but making it optional/required to c

[2018-06-01 20:02] davismtl commented on #6249
While migrating to Authy, I noticed that either binance or coinbase also did this extra verification in the flow. They present it as the next step to downloading recovery codes.

Given we don't plan to offer any other way to recover 2FA for users, I think it's better to make sure they properly saved their recovery codes.

In contrast, when you lose a device with LastPass, you can contact support t

[2018-06-01 23:58] davismtl commented on #5007
Looks good to me.

[2018-06-04 06:28] AlexandraMoga commented on #6236
@vbudhram these are the only errors I have in the console:
[code]

And here is the 400 error detailed in the Network tab:
![image](https://user-images.githubusercontent.com/31961530/40901545-5de42694-67d9-11e8-94db-91b361a25613.png)

[2018-06-04 10:01] shane-tomlinson commented on #6236
Thanks @AlexandraMoga, that's very useful.

@vbudhram - I am assuming [this validator on the auth-server](https://github.com/mozilla/fxa-auth-server/blob/49499b279c87bab92ef3ac1947250b8bc8f9543f/lib/routes/emails.js#L131) is failing, it looks like there is a [list of domains that are allowed](https://github.com/mozilla/fxa-auth-server/blob/49499b279c87bab92ef3ac1947250b8bc8f9543f/config/index.js#L

[2018-06-04 16:07] vladikoff commented on #6236
from mtg: stable doesn't get ENV updates from docker

[2018-06-04 16:09] vladikoff commented on #6242
![image](https://user-images.githubusercontent.com/128755/40928653-1d37f762-67f0-11e8-978f-6f6121188e0d.png)

from mtg: fix the css if we can !

[2018-06-04 16:11] vladikoff commented on #6241
from mtg: @shane-tomlinson to check this...

[2018-06-04 16:13] vladikoff commented on #6235
from mtg: vlad to check this on Surface

[2018-06-04 17:39] devinreams commented on #6083
Awesome! Thanks for the quick review and responses/issues, @shane-tomlinson. 🙇

Agreed, there's some side-effect of tapping into inputs that may be zooming unintentionally but that seems worth keeping over disabling zoom. Thanks for the link and context 👍

[2018-06-04 21:50] jrgm opened #6250 "2 failing tests for master/latest and v1.113.1/stage"
Placeholder issue:
https://tc-test.dev.lcip.org/viewLog.html?buildId=39054&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

[code]

[2018-06-04 22:06] shane-tomlinson opened #6251 "Teamcity: Two failing functional tests against stage"
---------------

[2018-06-04 22:15] shane-tomlinson commented on #6251
Dup of #6250, closing.

[2018-06-05 01:40] jrgm commented on #6250
https://tc-test.dev.lcip.org/viewLog.html?buildId=39101&tab=buildResultsDiv&buildTypeId=fxa_StageTests

This fixed one of the failures but `authorization with email (trusted)` remains.

[2018-06-05 03:05] jrgm commented on #6250
The one test failed on a race on test kickoff, which is explained in this fix for the race - https://github.com/mozilla/fxa-content-server/pull/6255/files

Tests do in fact all pass.

[2018-06-05 03:05] #6250 closed

[2018-06-05 15:51] vbudhram opened #6257 "Use buttons instead of links"
From https://github.com/mozilla/fxa-content-server/pull/6239/files#r192063057 and https://github.com/mozilla/fxa-bugzilla-mirror/issues/504, there some places where we use links that do not navigate to anywhere. In these scenarios, we should probably be using a button.

Ideally, we want the buttons to be styled like this
<img width="273" alt="screen shot 2018-06-05 at 11 49 35 am" src="https://use

[2018-06-05 22:40] irrationalagent opened #6258 "utm_source = email for registration and login complete events"
opening this to confirm that this is logged when (and only when) a user confirms their email (both login and registration), on a device other than the one they began the signup process on.

In amplitude, only `fxa_login - complete` and `fxa_reg - complete` seem to have utm_source = email (`fxa_reg - view` or other earlier steps in the funnel do not). This indicates to me that `utm_source` is set s

[2018-06-05 22:59] davismtl commented on #6258
This is not quite accurate. UTM params should be about the top of funnel. We want to know where people started. After all, UTM params are meant for tracking advertising channels which are top of funnel.

Even if your statement was correct, it seems to be that it would be impossible that the previous step to a registration was clicking on a link from one of our confirmation emails:

https://analyti

[2018-06-05 23:22] brizental commented on #6196
Hey guys, I was taking a look at this and I don't understand why we have these three selectors: https://github.com/mozilla/fxa-content-server/blob/master/app/styles/modules/_password-row.scss#L205-L207 . Is there are a reason for them?

They are  about the state of the input, but the state of the input doesn't matter for us here, since we are only going to change the background color of the eye bu

[2018-06-05 23:30] vladikoff commented on #6196
@brizental That CSS is from 3 years ago and the design changed ~3 times so it is totally possible that this is one of those CSS leftovers :)

[2018-06-05 23:36] vladikoff opened #6259 "action=email hangs if email is provided"
From https://github.com/mozilla/bedrock/pull/5713#issuecomment-393928445

@shane-tomlinson could you take a look at this for @jpetto ? I am on the plane tomorrow morning so I will be AFK for a bit...

https://latest.dev.lcip.org/?action=email&context=fx_desktop_v3&service=sync&entrypoint=firstrun&flow_id=458029fd573efdf59c6b1b176d39295b8071f368aa406c5f92d9c81c7dc3e5cf&flow_begin_time=1528241487775

[2018-06-06 00:01] vladikoff commented on #5869
🗡

[2018-06-06 00:01] #5869 closed

[2018-06-06 00:09] vladikoff commented on #5007
Fixed!

[2018-06-06 00:09] #5007 closed

[2018-06-06 00:09] vladikoff opened #6261 "Improve CSS workflow & use it to refactor avatar uploads (epic)"
- [ ] Understand the current CSS workflow https://github.com/mozilla/fxa-content-server/issues/6196
- [ ] Modernize the CSS building pipeline https://github.com/mozilla/fxa-content-server/issues/6165
   - [ ] Switch to latest Webpack tools and latest version of SASS. [**Example**](https://github.com/mozilla/notes/blob/master/src/sidebar/app/app.js#L12).
  - [ ] Remove `grunt-contrib-cssmin` (minif

[2018-06-06 02:07] #6196 closed

[2018-06-06 08:34] shane-tomlinson opened #6263 "Ensure email address validation is RFC5321 compliant"
In https://github.com/mozilla/fxa-email-service/pull/45/files#diff-0, @jrconlin provided a regexp that will allow emails that are RFC5321 complaint. We should use the regexp for validation here too.

[2018-06-06 09:36] shane-tomlinson commented on #6259
Everything works as expected browsing to http://127.0.0.1:3030/?action=email&context=fx_desktop_v3&service=sync&entrypoint=firstrun&flow_id=458029fd573efdf59c6b1b176d39295b8071f368aa406c5f92d9c81c7dc3e5cf&flow_begin_time=1528241487775&utm_content=fx-60.0&utm_source=firstrun&utm_medium=referral&utm_campaign=fxa-embedded-form&email=aaaaa%40eqwe12312e.com

[2018-06-06 09:45] shane-tomlinson commented on #6259
With a caveat, the profile has to be set up to accept WebChannel messages from http://127.0.0.1:3030.

What I suspect is happening here is that you are visiting the URL using a Firefox profile that is not set up to respond to WebChannel messages for that environment. For example, I have to use my "local" profile to visit http://127.0.0.1:3030/?action=email&context=fx_desktop_v3&service=sync&entryp

[2018-06-06 10:04] vladikoff commented on #6259
ah, i guess we are missing some setting in the dev launcher?

[2018-06-06 11:04] shane-tomlinson commented on #6259
I'll have a look, dev launcher has always worked great for me!

[2018-06-06 11:08] shane-tomlinson commented on #6259
Yeah, I suspect there's a missing profile setting, if I use the dev-launcher, type `FXA_ENV=latest npm start`, then [the latest URL w/o the email](visit https://latest.dev.lcip.org/?action=email&context=fx_desktop_v3&service=sync&entrypoint=firstrun&flow_id=458029fd573efdf59c6b1b176d39295b8071f368aa406c5f92d9c81c7dc3e5cf&flow_begin_time=1528241487775&utm_content=fx-60.0&utm_source=firstrun&utm_med

[2018-06-06 11:10] shane-tomlinson commented on #6259
Digging in more.

[2018-06-06 11:19] vladikoff commented on #6259
Fixed via https://github.com/vladikoff/fxa-dev-launcher/commit/93b4bb390384cd00f6a423e93be83a77007d98a7

[2018-06-06 11:19] #6259 closed

[2018-06-06 18:56] #6043 closed

[2018-06-07 18:56] davismtl opened #6266 "TOTP: Make Code input field type="number""
I just went through the TOTP flow on my phone and I noticed that when I click in the field to type code, it is doesn't change the keyboard to number pad.

I think we could make it a little easier if we make the input type a number.

(granted, the smart thing is to copy/paste it but Authenticator might be on another device)

[2018-06-07 20:01] davismtl opened #6267 "about:welcome Audit integration of email first without iFrame"
On about:welcome , they've rebuilt the /firstrun experience without the iframe.

From an FxA standpoint,
- let's sign off to make sure it is well integrated with proper parameters.
- let's confirm we have a way to track the email first form view without the iFrame

The only UX prob I detected is that it doesn't support a signed in state however I question how regularly a signed in user will get to

[2018-06-07 20:20] vbudhram commented on #6266
This is a duplicate of https://github.com/mozilla/fxa-content-server/issues/6240.

[2018-06-07 20:20] #6266 closed

[2018-06-08 04:47] vladikoff commented on #4960
🗡

[2018-06-08 04:47] #4960 closed

[2018-06-08 04:50] vladikoff commented on #5916
@rfk @gdestuynder do we still want to do this ? or just close for now?

[2018-06-08 05:15] rfk commented on #5916
I don't have a clear next step or priority here, I'm happy to close it out for now and bring it back as some concrete "implement XYZ logout flow" bugs if and when we decide to do it.

[2018-06-08 05:28] vladikoff commented on #5916
🗡

[2018-06-08 05:28] #5916 closed

[2018-06-08 12:28] ryanfeeley opened #6268 "Improve rendering of profile image modal"
STEPS TO REPRODUCE
1. Open the profile image modal with or without an profile image set

EXPECTED RESULTS
1. Modal should remain the same size before the image is loaded
2. Spinner is the outline style at 240px square, not the small spinner
3. Default image is SVG that renders well on HiDPI screens

ACTUAL RESULTS
1. Modal goes from small to big as image loads
2. Spinner style is small, not the ou

[2018-06-08 18:29] #6240 closed

[2018-06-08 19:53] devinreams commented on #2228
Continued discussion and possible "fix" here: https://bugzilla.mozilla.org/show_bug.cgi?id=1467525

[2018-06-12 00:50] #4758 closed

[2018-06-14 09:50] sv-sdeiac opened #6279 "The device's name and Firefox version of each are the same."
Build:
Staging server: train 114

Steps to reproduce:
1. Sign in with a Firefox account on multiple devices.
2. Sync all devices.
3. Go to account settings and check the list of Devices.

Expected results:
All devices are with different and unique.

Actual results:
The device's name and the Firefox version of each are the same.
[Screenshort](http://prntscr.com/juu6o4)

[2018-06-14 11:30] #6279 closed

[2018-06-14 11:31] sv-sdeiac commented on #6279
I will close this because I just realized this is not an issue after a sync is performed.

[2018-06-14 17:05] SorinaFlorean opened #6281 "TOTP:Different behavior when pressing "Download", "Copy" and "Print" options"
Environment: OnePlus 5(Android 8.0.0)
Stage server - Train 114

Steps to reproduce:

    Log in with an Fxa account with 2FA enabled;
    Go to Manage devices;
    Tap on replace recovery codes;
    Switch do "Download", "Copy" and "Print" options.

Actual results: "Download" and "Copy" options are focused like buttons and "Copy" not.

Expected results: all the options have the same behavior.

[2018-06-15 14:05] sv-ohorvath opened #6282 "No way to edit the email address after a forced log out"
STR:
1. Log in with a FxA account on both desktop and mobile.
2. On Desktop, change the password.
3. On the mobile device, do a refresh to check that the account was signed out.
4. On desktop change the primary email too.
5. On mobile, go to Settings>Sync and tap the message displayed to sign in again (because the password was changed).

Expected results:
Users should have an option to edit the em

[2018-06-18 15:12] shane-tomlinson commented on #6282
A force auth is used because older browsers are unable to sign a user in

Ref #5394, #4316, and lots in #3057, #3283.

The referenced bugs dealt with changing a uid for the given email address, this is updating the primary email address for the given uid. I imagine this case is easier to handle though I haven't thought very deeply about possible edge cases.

It seems like a safe approach here is r

[2018-06-18 15:51] vladikoff commented on #6281
could be related to https://github.com/mozilla/fxa-content-server/issues/6257 ?

[2018-06-18 17:36] ryanfeeley opened #6284 "Ensure that button spinner is white not grey"
I noticed that the spinner we are using on red and blue buttons is a light grey to transparent. It should instead be set to white to transparent for these instances (and remain the same when it is set against white, grey or black backgrounds).

<img width="574" alt="screen shot 2018-06-18 at 1 33 46 pm" src="https://user-images.githubusercontent.com/68213/41552334-7184d1fc-72fc-11e8-9171-dc1c25722

[2018-06-18 20:49] shane-tomlinson opened #6286 "Add SUMO page for "common passwords""
I have been in contact with Joni from SUMO to determine next steps.

Blocks #6104

[2018-06-20 16:07] vbudhram opened #6288 "Ensure consistent error codes for TOTP and recovery codes"
For TOTP and recovery codes, we surface errors differently for types of errors. We should update this to ensure that auth-server and content-server have consistent errnos for [TOTP](https://github.com/mozilla/fxa-content-server/blob/bf4051159e1a49feb9ca9e77dd380ef93fb4ca0e/app/scripts/lib/auth-errors.js#L460) and [recovery codes](https://github.com/mozilla/fxa-content-server/blob/bf4051159e1a49feb

[2018-06-21 03:43] rfk opened #6289 "Use windows-style linebreaks when downloading recovery codes"
We generate the text of recovery codes to download by joining with a newline, i.e. unix-style linebreaks:

On windows, if you set up TOTP, then choose to download the codes, then accept the default suggestion to open the downloaded file in notepad, it displays the codes all squished together on a single line like this:

<img width="557" alt="capture" src="https://user-images.githubusercontent.com/

[2018-06-21 05:20] shane-tomlinson commented on #6288
Ref https://github.com/mozilla/fxa-content-server/issues/4906 about handling unknown errnos which we never actually "fixed" but closed when we added the new entries and #5715 where we suggest we generate error entries from centralized lists.

[2018-06-21 09:12] shane-tomlinson opened #6290 "unit test failure when run in isolation: views/sign_up->afterVisible->shows a tooltip..."
I noticed this while trying to debug #6273

blocks #6273

[2018-06-21 09:34] shane-tomlinson opened #6291 "setTimeout timers are not always cleared on destroy"
If [`clearTimeout` is called with `undefined`](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/views/mixins/timer-mixin.js#L37), `this._timeouts` ends up with the value of `[]`. If `setTimeout` is then called, [the `destroy` listener will not be attached](https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/views/mixins/timer-mixin.js#L23).

blocks #6273

[2018-06-21 10:57] #6291 closed

[2018-06-21 10:57] #6290 closed

[2018-06-21 14:13] shane-tomlinson opened #6295 "SUMO article for link in "pw strength" UI."
I have been in contact with Joni from SUMO to determine next steps.

Blocks #6104

[2018-06-21 14:15] shane-tomlinson commented on #6295
I put train-116 on this because I think it's too late to get something put together for 115 (my fault). We can put in some placeholder text or screen until the SUMO link is ready.

[2018-06-21 14:16] shane-tomlinson commented on #6295
Dup of #6286, I must've been really tired when I opened that because I have no recollection.

[2018-06-21 14:16] #6295 closed

[2018-06-21 23:34] davismtl commented on #5882
Where can I find the details about the GET endpoint?

@chrismore might need this for the about:welcome page that will be replacing /firstrun.

They've abolished the iFrame and will be passing us the user's email.

[2018-06-22 00:36] rfk commented on #5882
I'm going to re-open this for the creation of some consumer docs, perhaps somewhere in https://github.com/mozilla/fxa-content-server/blob/master/docs/client-metrics.md

IIUC the intention is simply for the relier to `GET https://accounts.firefox.com/metrics-flow` and include the values from the JSON response in the query parameters when redirecting to FxA.  However, I can't make that endpoint work

[2018-06-22 00:39] vladikoff commented on #5882
@rfk :+1:  which origins are missing?

[2018-06-22 00:42] rfk commented on #5882
One potential wrinkle...Bug 1470336 involves the new `about:welcome` page, and `about:welcome` is browser content that sends `Origin: null`.  But I guess we already handle that in some other places so it should be OK to accept it here..?

I think we should set the allowed origins here to match the existing `ALLOWED_PARENT_ORIGINS` settings, with the inclusion of "null" if that's not already in the

[2018-06-22 01:01] vladikoff commented on #5882
Yeah that is not the integration point that we tested during development of this feature

[2018-06-22 05:14] shane-tomlinson opened #6299 "Follow best a11y practices for the password strength bubble."
Marco Zehe reminded me to keep accessibility in mind for the new password strength bubble. Showing the checkboxes as background images is not screen reader friendly.

[2018-06-22 14:41] MeridelW commented on #6213
Checking in on this. New copy has been provided - is there someone on this thread who could implement it?  @vladikoff ?
@juliemccracken - please point me in the right direction if I am knocking on the wrong door. =)

[2018-06-22 15:35] shane-tomlinson commented on #6286
The URL will be: https://support.mozilla.org/kb/password-strength

[2018-06-22 16:31] shane-tomlinson commented on #6197
Probably avoided if we can fix #6082

[2018-06-22 16:31] davismtl commented on #6197
I think it's more important to fix #6082 then we can see how easily this one is to reproduce.

[2018-06-22 16:43] davismtl commented on #6018
@vbudhram how's progress here? Should this be moved to train 116?

[2018-06-23 02:09] vladikoff commented on #6258
@davismtl what is the action item here?

[2018-06-25 00:44] rfk commented on #5882
Definitely not suggesting this.

[2018-06-25 00:56] rfk commented on #5882
Somehow I had thought these were not configured in prod, but I must have been testing it wrong because this does indeed work:

[code]

But omitting the `Origin` header or sending `Origin: null` means the request will fail:

[code]

This might be a cleaner solution than adding "null" to the list of allowed origins tho:

[2018-06-25 14:13] MeridelW commented on #6213
@shane-tomlinson No problem, and thank you for the update!

[2018-06-25 14:36] SorinaFlorean opened #6306 ""Show" button overlapping "Change" button"
Environment: Nexus 6P(Android 8.1.0)
Server: production - Nightly 62.0a1 (06-25)

Steps to reproduce:
1. Go to Manage account page;
2. Switch between Subscribe sections, devices&apps, tap on Change, Show several times.

Notes: I don't have more clear steps to follow because it only happened once and after that, the "Show" button was displayed without issues.

Actual results: see the screenshot.
![

[2018-06-25 15:57] vladikoff commented on #5882
@jpetto could you clarify how you want this integration to work? If you want this to work in `about:welcome` then it's a new requirement and we will have to update our servers.

I also looked at https://github.com/mozilla/bedrock/pull/5713 and that was not merged yet.

[2018-06-25 16:44] davismtl commented on #5882
@vladikoff I don't think @jpetto is working on the about:welcome.

That's the onboarding team who also did an iframeless integrations of FxA.

[2018-06-25 16:54] hoosteeno commented on #5882
@davismtl, do you expect (or will you advocate for) the FxA signup/signin form to land on about:welcome (and similar) as our onboarding experiences move into the product? If so, additional work to support funnel visibility in those channels seems like a good investment to me.

On the web side, it has been my hope that an email-only, iframeless FxA form could land in places it's never lived before

[2018-06-25 18:43] davismtl commented on #5882
@hoosteeno It already has landed on about:welcome. You can go to it in Nightly.

[2018-06-25 18:53] davismtl commented on #6258
The scope of this problem seems to be a bit bigger in light of the conversation.

1. (initial reason for bug) Figure out why we see registrations from utm_source=email . This is normally impossible because if someone is receiving our emails, they are already registered. I suspect an engineer needs to answer this.
2. @irrationalagent please work with me so we can better define best practice around

[2018-06-25 21:01] vladikoff commented on #6286
from mtg: Done!

[2018-06-25 21:01] #6286 closed

[2018-06-25 21:19] vladikoff commented on #6236
from mtg: when stable3 is out we can close this

[2018-06-25 21:20] vladikoff commented on #6235
I will try ...

[2018-06-25 21:22] vladikoff commented on #6105
from mtg: waiting on legal review

[2018-06-25 21:22] vladikoff commented on #6098
WONTFIX

[2018-06-25 21:22] #6098 closed

[2018-06-25 21:23] vladikoff commented on #6018
for: Crouton III

[2018-06-25 22:15] #6289 closed

[2018-06-26 12:01] shane-tomlinson commented on #6299
@MarcoZehe was able to point out several areas the strength balloon can be improved:

* Do not autofocus the password field when invalid, it makes it to that screen reader users cannot easily read the balloon.
* The indicators whether a criteria is met or fails is purely visual. Give each criterion an id, and then when the password input is invalid, set an `aria-described-by` on the input element.

[2018-06-26 12:05] shane-tomlinson commented on #6029
@MarcoZehe and I were able to chat FxA's a11y and he pointed out that the way we render checkboxes makes them unusable for screen readers since the original checkbox is hidden.

[2018-06-26 12:08] shane-tomlinson opened #6309 "Invalid element tooltips are not screen reader accessible"
Invalid element tooltips are tied to the input element visually, and this works great for people that can see the visual tie-in.

The visual tie does not work well on screen readers. @MarcoZehe suggests we add an id attribute to the tooltip, then add an `aria-described-by` attribute to the invalid input element.

[2018-06-26 12:11] shane-tomlinson commented on #6241
@MarcoZehe confirmed, it's unusable for keyboard users.

[2018-06-26 12:19] MarcoZehe commented on #6241
Correct, and that goes for keyboard users who are _not_ screen reader users as well. You simply cannot tab out of that field onto thecheckbox that allows you to reveal the password.

Having said that, I noticed that, after entering a password that does meet all criteria, tab moves directly to the Confirm Password field. So when this gets fixed, make sure the checkbox is in the tab order. Best is t

[2018-06-26 12:23] shane-tomlinson opened #6310 "Invalid input elements could be made more a11y friendly"
We add an "invalid" class to invalid input elements, but screen readers don't know that's a thing. @MarcoZehe suggests we add the `aria-invalid="true"` attribute when an element is invalid and remove the attribute when it's valid.

[2018-06-26 12:36] shane-tomlinson opened #6311 "Bring back input field labels for a11y"
@MarcoZehe informed me that [placeholders have a lot of a11y problems](https://www.smashingmagazine.com/2018/06/placeholder-attribute/) and that we should bring labels back in some form to help screen reader users.

[2018-06-26 12:48] MarcoZehe commented on #6311
And not just screen reader users, as is apparent from the article linked to above. Bigger touch (or click) targets help users with motor impairments as well, as well as aging people with less accuracy in hand-eye coordination. And yes, Mozillians get older, too. ;)

[2018-06-26 14:52] shane-tomlinson commented on #5882
It sounds like there is some confusion. There are 2 iframeless flows:

1. [Hosted in bedrock by mozilla.org](https://github.com/mozilla/bedrock/pull/5713), done by @jpetto
2. [Hosted in about:wecome](https://github.com/mozilla/activity-stream/pull/4090), done by @ericawright

The mozilla.org hosted version should always send an Origin header, the about:welcome variant will not since it's hosted in

[2018-06-26 15:28] vbudhram opened #6312 "Remove TOTP experiment"
Tracking issue to remove the TOTP experiment.

[2018-06-26 18:15] vladikoff commented on #6235
I tested this on Windows with a non-retina screen and yes the SVG itself doesn't look good https://accounts-static.cdn.mozilla.net/images/3788faf2.icon-show-password.svg

[2018-06-26 18:48] davismtl opened #6313 "CAD after login on mobile"
I feel like we've already talked about it but I can't find an open bug.

On Android, after login, we ask people to setup a mobile device to complete setup. This is super confusing.

![screenshot_2018-06-27-02-42-22](https://user-images.githubusercontent.com/19537086/41932673-7224840a-7936-11e8-835b-d3160454ccf0.png)

I'm not sure what the quick win is... Our old confirmation screen would prob be b

[2018-06-26 19:49] ericawright commented on #5882
@shane-tomlinson the best way would be to open an issue in bugzilla in the in the Activity Streams: Newtab component. But also you can ping me and I'll make sure to get it in.
At this point I don't fully understand what is missing or needs to be changed, is this still being decided?

[2018-06-26 19:54] shane-tomlinson commented on #6313
It's supposed to have a prefix on the body text "Still adding devices? Sign in to Firefox..." There is a bug on this somewhere... The original intent is that some users might legitimately want to add another device.

[2018-06-26 19:55] shane-tomlinson commented on #6313
Here's the other issue: https://github.com/mozilla/fxa-content-server/issues/5858

[2018-06-26 19:57] shane-tomlinson commented on #6313
Also ref #5434 and #5408, #5262

[2018-06-26 21:04] davismtl opened #6314 "CWTS on Android hides the button below fold"
When registering on a Nexus 5 running Android (1080x1920), the button to complete the step is not easily visible. It's not obvious that we need to scroll down.

![screenshot_2018-06-27-04-03-36](https://user-images.githubusercontent.com/19537086/41939118-b593ecfe-7949-11e8-8e4c-1ba775e52a4e.png)

I think there is a lot of weird padding at the top above the green bar that we can remove.

[2018-06-26 22:03] davismtl commented on #5882
@ericawright while the removal of the iframe is desired by all, it just prevents us from monitoring our top of login and registration funnel (i.e. form view). We just want to provide you with a means to trigger that first event so that we can more easily monitor the performance of FxA login and registration.

@shane-tomlinson should get back to you shortly with the technical details.

[2018-06-26 22:12] davismtl commented on #6313
Also see:
https://bugzilla.mozilla.org/show_bug.cgi?id=1464762

[2018-06-27 08:07] shane-tomlinson commented on #5882
@ericawright, @davismtl I'm at a conference the next two days, perhaps @philbooth or @vladikoff can provide support in my absence.

Alex provided the "why", we won't have top of funnel insights for users coming from about:welcome.
On to the "how" this can be fixed.

To seed the top of funnel, we require a call to FxA that sets a marker that says "This user's flow started NOW." In the call to FxA w

[2018-06-27 10:30] shane-tomlinson commented on #5882
Opened https://bugzilla.mozilla.org/show_bug.cgi?id=1471514 to track this from the Activity Stream side.

[2018-06-27 12:53] sv-ohorvath commented on #6081
How about passwords that don't start with, but contain these service names: 2018lockbox, accountfirefox? I suppose they're the same thing, what do you think? Also, "mozilla11" is an accepted password, maybe we should include "mozilla" as well?

[2018-06-27 14:21] ericawright commented on #5882
oh, I was missing that FXA doesn't use telemetry. Since all of the missing data is going to telemetry.

[2018-06-27 23:34] vladikoff commented on #6267
@ericawright here's an example of how the integration works https://github.com/jpetto/bedrock/pull/2/commits/af5d94abfe27152a0f767b3348704b7674095857

Let us know if there are any issues, especially with origin requests

Ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1471514

Ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1448918#c62

Ref: https://github.com/mozilla/fxa-content-server/issues

[2018-06-27 23:34] vladikoff commented on #5882
Linked instructions for about `about:welcome` in https://github.com/mozilla/fxa-content-server/issues/6267#issuecomment-400862981

[2018-06-28 00:35] ericawright commented on #6267
@vladikoff  thanks, I was looking into it this morning briefly and there was an issue with the origin request. I saw @piatra assign themselves to the issue though, I'll double check to see if they will be implementing it.

[2018-06-28 08:54] hidde opened #6316 "[Staging] Using valid `prompt` parameter causes error in FxA"
See also:

Steps to reproduce:
Trigger FxA with a URL that contains `prompt=select_account` (for example by follow the steps in [auth0-custom-lock#182](https://github.com/mozilla-iam/auth0-custom-lock/issues/182))

Expected result:
FxA login window is displayed.

Actual result:
FxA displays an error:

<img width="535" alt="Fxa Error page: Bad Request: Invalid OAuth parameter: prompt" src="https://

[2018-06-28 17:34] shane-tomlinson commented on #6314
Good spot @davismtl, I think that big space up there is where the icon normally displays, but we removed the icon way back from this page for just this reason. For this page, we should indeed remove that padding.

[2018-06-29 08:34] sv-ohorvath opened #6317 "Accounts are not signed in at the end of the email-first flow"
Build:
Production FF 61.0
Staging server Train 115
Platform: Win 10 x64

STR:
1. Go to https://accounts.firefox.com/signup?action=email&service=sync
2. Complete the account creation flow.

Expected results: The new account should be signed in at the end of the flow.

Actual results: The manage account page is displayed at the end, but the account isn't signed in if you look in the settings menu.

[2018-06-29 08:42] sv-ohorvath opened #6318 "[Pw-strength] Passwords that don't start with, but contain service names are accepted"
Build: Train 115 - fxa staging server

STR:
1. Go to https://accounts.stage.mozaws.net/settings?action=email&service=sync
2. Enter a password that contains, but doesn't start with, a restricted service name, e.g.: 2018lockbox, accountfirefox.

Expected results: Shouldn't allow service name or derivatives as the user's password, even if they are in the middle/end of the password.

Actual results: C

[2018-06-29 09:22] SorinaFlorean opened #6319 "No space between "Settings" and "Open websites in" - Lockbox"
Environment:
Device: iPhone SE (11.0.1)
Lockbox version 1.1 (1552)

Steps to reproduce:
1. Open Lockbox app;
2.  Go to settings -> Open Website in and pay attention to the header.

Actual results: no space between "Settings" and "Open websites in".
Expected results: space between words

![img_0013](https://user-images.githubusercontent.com/24588037/42084435-4d79470a-7b96-11e8-93ce-d348465e43fd.PNG

[2018-06-29 09:28] SorinaFlorean opened #6320 "Visual issues of rating option from Feedback page - Lockbox"
Environment:
Device: iPhone SE (11.0.1)
Lockbox version 1.1 (1552)

Steps to reproduce:
1. Open Lockbox app;
2. Go to settings -> Send Feedback.

Actual results:
- "x" too close to the star
- "x" too small compared to the stars
- the stars are not centered

Expected results: no visual issues are displayed.

![img_0012](https://user-images.githubusercontent.com/24588037/42084738-364f9a1a-7b97-11e8-

[2018-06-29 09:29] SorinaFlorean commented on #6320
If this isn't the right place for Lockbox issue, please let me know. Thanks!

[2018-06-29 10:38] sv-ohorvath opened #6321 "[Pw-strength] Add "mozilla" service name to the unapproved list of passwords"
Related to #6081.
Currently "mozilla123" is an accepted password. I think we should include "mozilla" to the list as well.

[2018-06-29 12:01] SorinaFlorean opened #6322 "Lockbox enhancement - add name account used to log in"
Environment:
Device: iPhone SE (11.0.1)
Lockbox version 1.1 (1552)

Steps to reproduce:

1. Open Lockbox app;
2. Go to settings -> account.

Actual results: No user/account name is displayed.
Expected results: name account should be displayed.

![image-1 1](https://user-images.githubusercontent.com/24588037/42091250-4d3eee04-7bad-11e8-9f50-1c5866dd5735.jpg)

[2018-06-29 12:11] shane-tomlinson commented on #6081
I was debating this and talked myself out of it because I worried that if a user had a 20 character password that contained the service name, that'd still probably be strong enough. Perhaps if the service name is > 1/3 or 1/2 of the password, no matter where it's located, we say that's too common.

Yeah, we should add mozilla to the banned services list. Total oversight on my part, great catch.

[2018-06-29 12:21] shane-tomlinson commented on #6316
@hidde - we do not yet support this parameter, we only support `prompt=consent` at the moment.

Is your team looking to use both [prompt=none](https://github.com/mozilla/fxa-content-server/issues/6115) and prompt=select_account?

Changing the title of this bug to "support prompt=select_account"

[2018-06-29 12:23] shane-tomlinson commented on #6316
From the [OIDC document](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest):

    The Authorization Server SHOULD prompt the End-User to select a user account. This enables an End-User who has multiple accounts at the Authorization Server to select amongst the multiple accounts that they might have current sessions for. If it cannot obtain an account selection choice made by the En

[2018-06-29 12:31] shane-tomlinson commented on #6317
I'm trying to figure out if there is a bug open about this already, but it's definitely being discussed because several integrators have beat us over the head already saying they didn't know "context" needed to be specified.

[2018-06-29 12:37] hidde commented on #6316
@shane-tomlinson Actually, not having the error and allowing user log in is all I'm after, not ‘real’  `select_account`support (although that would also be an interesting path to investigate), hope that helps.

Note that this is an issue that only happens in staging; in production Mozillians is using `prompt=select_account` and FxA works fine with that.

[2018-06-29 13:21] shane-tomlinson commented on #6320
@SorinaFlorean - I think this one should be filed in https://github.com/mozilla-lockbox/lockbox-ios/issues

[2018-06-29 13:23] shane-tomlinson commented on #6319
@SorinaFlorean - I suspect this one will get a better audience at https://github.com/mozilla-lockbox/lockbox-ios/issues

[2018-06-29 13:38] SorinaFlorean commented on #6319
@shane-tomlinson thanks, I will close then.

[2018-06-29 13:38] #6319 closed

[2018-06-29 13:40] SorinaFlorean commented on #6320
@shane-tomlinson thanks.

[2018-06-29 13:40] #6320 closed

[2018-06-29 13:45] SorinaFlorean commented on #6322
Closing this and opened here https://github.com/mozilla-lockbox/lockbox-ios/issues

[2018-06-29 13:45] #6322 closed

[2018-06-29 14:10] hidde commented on #6316
Yes. Seems like Auth0 is stripping it out, apologies I must have missed that when I verified it earlier. When the Auth0 login form (NLX) is opened it still has the parameter, but when Auth0's `/authorize` is called it is removed.

I guess we can fix this on our end then, should I close this issue?

[2018-06-29 16:45] irrationalagent commented on #6258
@mozilla/fxa-core can an engineer explain the circumstances that lead to `utm_source = email` for amplitude `fxa_reg - complete` events?

https://analytics.amplitude.com/org/31251/chart/oirl9vh/edit/t65fjat

It was my understanding that this was related to the confirmation email being clicked from another device, but according to Alex's comment above, this should not be possible.

I'll start on an

[2018-06-29 16:59] vladikoff commented on #6258
All emails have UTM links generated in them:
https://github.com/mozilla/fxa-auth-server/blob/master/lib/senders/email.js#L1091-L1092

If I click "Verify" in any of those emails and get to the content server my utm params are 'email'. Therefore I will be counted as a registration from that new open tab. I hope that explains the metrics results

[2018-06-29 18:23] gdestuynder commented on #6316
ideally it would be good it was supported by FxA:
we do want `prompt=none` so that auto-login works seamlessly, but if you start supporting `prompt` (which is `optional` in RFC2119 parlance), you'll want `prompt=select_account` even if we did not use it because it's a `should` on `prompt` is implemented.

[2018-06-29 18:43] davismtl commented on #6258
I understand but that isn't right. Under that logic, all registrations would look like utm_source=email since they all have to verify in an email at registration and will all have a tab open.

This overwrites the true origin of the registration.

[2018-06-29 18:50] vladikoff commented on #6258
That is true I think!

[2018-07-02 09:16] sv-ohorvath opened #6324 "[PW-strength] Opening the "List of common passwords" link, would expect to see a list of actual passwords"
Page: https://accounts.stage.mozaws.net/signup?action=email&service=sync

This is more of a suggestion for improvement:
- When opening a "list of common passwords" link, one would expect to see the passwords, or a website where they can search for them, as, for example, https://haveibeenpwned.com/Passwords.
- On the support page, we have this line again: "It is not in the public database of 50,000

[2018-07-02 09:44] shane-tomlinson commented on #6316
I'd like to get https://github.com/mozilla/fxa-content-server/issues/6115 (prompt=none) prioritized for train-117, train-116 is already pretty heavily loaded. What is your timeline that you hoped to make use of that query parameter?

Understood.

[2018-07-02 09:48] shane-tomlinson commented on #6258
From what I'm reading, it sounds like any user that verifies on a 2nd device has their utm_source updated to email? If so, that seems like a bug. It seems like a better way of handling it would be to check if a utm_source is already associated with the registration, and if so do not update.

[2018-07-02 09:49] shane-tomlinson commented on #6258
There is a caveat, I don't know if what I stated is possible.

[2018-07-02 10:48] shane-tomlinson opened #6325 "Create a publicly accessible list of top 50,000 passwords"
This will be linked to from the [Pick a strong password SUMO article](https://support.mozilla.org/en-US/kb/password-strength).

Blocks https://github.com/mozilla/fxa-content-server/issues/6324

[2018-07-02 12:10] sv-ohorvath opened #6326 "[PW-strength] Hide keyboard on mobile devices when "show password" is tapped"
Build: Train 115- Staging server
Devices:
Pixel (Android P)
Mi 4i (Android 5.0.2)

STR:
1. Open https://accounts.stage.mozaws.net/signup?action=email&service=sync
2. Type in a password and tap the eye icon to show the password.

Expected result: Currently on Production, without the password hint, the keyboard is hidden when 'show password' is tapped.

Actual result: The keyboard is hidden and then

[2018-07-02 13:37] shane-tomlinson commented on #6326
Thanks @sv-ohorvath, this should be fixed with the fix for [this issue pointed out in #6299](https://github.com/mozilla/fxa-content-server/issues/6299):

Keeping this open so that we can verify once fixed.

[2018-07-02 16:43] gdestuynder commented on #6316
I'd say the sooner the better - things currently work without but the user experience isnt as good as for other IdPs on Mozilla IAM right now (specially for prompt=none, though i'd implement everything the spec calls a "should" since it's the expectation for RPs)

[2018-07-03 16:28] vladikoff commented on #6312
@vbudhram triage?

[2018-07-03 16:36] philbooth commented on #6314
@davismtl can you triage this out of the backlog if it's more urgent?

[2018-07-03 16:48] davismtl commented on #2886
Related?
https://github.com/mozilla/fxa-amplitude-send/issues/59

[2018-07-03 16:56] davismtl commented on #6314
Putting this up as a potential papercut to fix in Q3.

Other observation, the checkboxes are on 1 column. On iOS, they span two columns. Is this caused by the screen resolution or just another bug?

[2018-07-03 18:21] shane-tomlinson commented on #6314
Caused by screen resolution. Do you know the resolution of your screen?

Ref https://github.com/mozilla/fxa-content-server/issues/5710, https://github.com/mozilla/fxa-content-server/pull/5738, https://github.com/mozilla/fxa-content-server/pull/5500

[2018-07-03 18:28] shane-tomlinson commented on #2886
Possibly, does OS in Amplitude come from the signup or verification page view? If the user signs up in Firefox Desktop and verifies on Android, is OS set to the Desktop OS or Android?

[2018-07-03 19:34] davismtl commented on #6314
Mentioned at bottom of first comment: 1080x1920

[2018-07-03 23:48] jrgm opened #6328 "circle is using node 6 to run tests"
See `: 6` at https://github.com/mozilla/fxa-content-server/blob/master/circle.yml#L25.

I tried changing it in https://github.com/mozilla/fxa-content-server/tree/fix-circle-node-8 but the `grunt build` fails: https://circleci.com/gh/mozilla/fxa-content-server/10455

[2018-07-04 08:31] shane-tomlinson commented on #6314
Sorry, should have read more closely. The physical resolution isn't what's important here, but rather the resolution as the browser sees it (CSS pixels), which depends on the [device pixel ratio](https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio). The CSS pixel size is what causes the breakpoints to trigger. It looks like [the nexus 5 has a devicePixelRatio of 3](https://bja

[2018-07-04 10:02] shane-tomlinson opened #6330 "Failing server test: "Expected 404 to be 200""
at /Users/shanetomlinson/development/fxa-content-server/tests/server/helpers/routesHelpers.js:161:20
    at <anonymous>
    at process._tickDomainCallback (internal/process/next_tick.js:228:7)
  message: 'expected 404 to equal 200',
  showDiff: true,
  actual: 404,
  expected: 200 } Promise {
  <rejected> { AssertionError: expected 404 to equal 200
    at /Users/shanetomlinson/development/fxa-cont

[2018-07-04 10:04] shane-tomlinson commented on #6330
Applying this patch, I see some unexpected results:

[code]

[2018-07-04 10:06] shane-tomlinson opened #6331 "sinon.reset is deprecated"
STR

1. run `npm run test-server`, watch the console

[2018-07-04 10:14] shane-tomlinson commented on #6330
In /legal/privacy the Desktop and Android "Telemetry" links both 404 - search for:

[code]

[2018-07-04 12:03] shane-tomlinson commented on #6330
This link needs to be: https://firefox-source-docs.mozilla.org/mobile/android/docs/fennec/index.html

[2018-07-04 13:37] shane-tomlinson opened #6333 "console error when submitting an invalid form: uncaught exception: undefined"
STR

1. Visit any form page
2. Open the console log
3. Submit an invalid form

[2018-07-04 13:49] shane-tomlinson commented on #6333
This is caused by throwing the exception in form.js->validateAndSubmit:

https://github.com/mozilla/fxa-content-server/blob/eb10ac87016da56422c827d32491852c0d1d3f21/app/scripts/views/form.js#L194

[2018-07-04 13:56] vladikoff commented on #6333
dup of https://github.com/mozilla/fxa-content-server/issues/6025

[2018-07-04 13:56] #6333 closed

[2018-07-04 13:57] vladikoff commented on #6025
See https://github.com/mozilla/fxa-content-server/issues/6333#issuecomment-402484922

[2018-07-04 15:47] #6330 closed

[2018-07-05 11:07] shane-tomlinson opened #6336 "Update to Circle Ci 2 before Aug 31"

[2018-07-05 15:18] shane-tomlinson commented on #6328
@jrgm, I suspect the failure you pointed out (sass dependency problem) is an npm version mismatch problem, when I force installed npm@6 in https://github.com/mozilla/fxa-content-server/pull/6335, all good and rebuilt without cache, all good.

[2018-07-05 15:31] #6025 closed

[2018-07-05 15:41] shane-tomlinson commented on #6328
More context, I think node@8 by default uses npm@5 instead of 6.

[2018-07-05 15:48] shane-tomlinson opened #6339 "password is not checked immediately on submit w/ new password strength bubble"
STR

1. Open https://accounts.firefox.com?service=sync&action=email
2. Enter in a test email that'll force the new UI (@mozilla.com, @softivision.ro, @softvision.com)
3. Submit the form w/o entering a password.

Expected
* Bubble is updated to point out password is too short
* Password input field is marked invalid

Actual
* Nothing. No feedback.

[2018-07-05 16:38] ryanfeeley commented on #6029
👍

[2018-07-06 08:31] #6299 closed

[2018-07-06 08:31] #6310 closed

[2018-07-06 12:50] #6309 closed

[2018-07-06 20:42] davismtl commented on #2886
IIUC, we set the OS as early as the form view so that we can filter on top of funnel.

[2018-07-09 11:46] #6318 closed

[2018-07-09 11:46] #6321 closed

[2018-07-09 13:02] #6213 closed

[2018-07-09 13:06] shane-tomlinson opened #6343 "string extraction failing"
10 |  */
  11 | class PasswordStrengthExperiment extends BaseExperiment {

     |                 ^
  13 |     'account.created': 'onAccountCreated',
  14 |     'password.error': 'onPasswordError',
  15 |   };
Warning: Command failed: node_modules/.bin/babel --plugins=babel-plugin-syntax-dynamic-import,dynamic-import-webpack --presets es2015 app/scripts --out-dir .es5
SyntaxError: app/scripts/lib/

[2018-07-09 13:10] shane-tomlinson commented on #6343
The problem is we do not specify transform-class-properties [in the l10n-extract command](https://github.com/mozilla/fxa-content-server/blob/f4033bbb4abf13f191ec0f85ba1a206930292e70/grunttasks/l10n-extract.js#L15).

A quick fix is to add transform-class-properties, but it seems like the right thing to do here is add a [.babelrc file](https://babeljs.io/docs/en/babelrc) and have those options read

[2018-07-09 13:30] shane-tomlinson commented on #6325
The list is available and being shown to the world at https://mozilla.github.io/application-services/docs/accounts/50000-most-common-passwords.html. Closing.

[2018-07-09 13:30] #6325 closed

[2018-07-09 13:37] shane-tomlinson commented on #6324
I proposed a change to add a link to the top 50k passwords to https://support.mozilla.org/en-US/kb/password-strength, waiting for approval. The list is at https://mozilla.github.io/application-services/docs/accounts/50000-most-common-passwords.html

[2018-07-09 13:39] shane-tomlinson opened #6345 "Failing functional test on latest: Signin in Chrome for Android, verify same browser"
See https://tc-test.dev.lcip.org/viewLog.html?buildId=39922&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

[2018-07-09 13:41] vladikoff commented on #6345
Screencap https://screencap.co.uk/images/cceca7a2cf6560118c8614105079871325471042.png

[2018-07-09 15:04] shane-tomlinson commented on #6345
Oh dear....

[2018-07-09 15:06] #6339 closed

[2018-07-09 15:52] jrgm commented on #6328
Ah, yes. node@6 does come with npm@5, at this time.

[2018-07-09 15:54] shane-tomlinson commented on #6336
We need to audit the list of other servers too.

[2018-07-09 20:47] vladikoff commented on #6105
from mtg: there were no alternative designs that people agreed to. waiting for an updated design from @changecourse

[2018-07-09 20:57] vladikoff commented on #6324
blocked, waiting for SUMO

[2018-07-09 20:58] #6258 closed

[2018-07-09 21:04] vladikoff commented on #6018
from mtg: to be triaged

[2018-07-09 21:09] vladikoff commented on #6235
from mtg: also ask about a11y

[2018-07-09 21:10] vladikoff commented on #6173
from mtg: needs to be sent to SUMO

[2018-07-09 21:13] vladikoff commented on #6312
from mtg: some experiment logic remains

[2018-07-10 10:54] hmitsch commented on #6316
Hi @shane-tomlinson,

What's the approximate timeline for `train-117`?

Depending on your answer we would hold off from building workarounds in NLX.

Best regards,
   Henrik

[2018-07-10 13:40] vladikoff commented on #6235
@ryanfeeley could you please provide a new icon? I have a machine at the office that we can test this on...

[2018-07-10 14:25] vladikoff opened #6346 "Lockbox name in Devices and apps is strange"
![image](https://user-images.githubusercontent.com/128755/42516231-91d031fa-842b-11e8-813e-ad1842595ac8.png)

What is "1"?  Not sure!

[2018-07-10 14:29] vladikoff opened #6347 "The 2FA icon is too big on mobile"
It pushes the "verify" button below the screen, we make the rest of the icons smaller on mobile

![image](https://user-images.githubusercontent.com/128755/42516512-18427752-842c-11e8-9963-c5e5fb0ecf6d.png)

[2018-07-10 14:30] ryanfeeley commented on #6235
I checked with our design systems group. The SVG was never optimized. Run it through this: https://github.com/BohemianCoding/svgo-compressor

[2018-07-10 15:13] shane-tomlinson commented on #6235
@ryanfeeley - will that compressor make the icon look less awful on Windows machines with low dpi screens?

[2018-07-10 15:18] vladikoff commented on #6235
I don't think it will, but we can try

[2018-07-10 15:39] ryanfeeley commented on #6235
The advice was "I see that the icon has groups, defs, use and mask. This is not ideal. Where did you grabbed the icon? It probably missed the SVGO polish"

[2018-07-10 19:43] #6328 closed

[2018-07-10 21:24] rfk commented on #6072
IIUC, this is a more general issue with the appearance/location of the snack-bar, changing the title and milestone to reflect that.

[2018-07-10 21:30] rfk commented on #6018
From discussion, disabling TOTP seems like the safest/best option; @vbudhram is going to propose something concrete on the mailing list.

[2018-07-10 22:53] rfk commented on #6346
Maybe this is some sort of synthesized name that we made up for the device record, based on the user-agent string?

[2018-07-11 09:20] muffinresearch commented on #6235
We've had similar issues on AMO wrt windows, specifically the mask always seem to the be the issue.

[2018-07-11 12:14] shane-tomlinson opened #6349 "pw strength metrics are not reported to amplitude"

[2018-07-11 13:37] vladikoff opened #6352 ""Use recovery code" button not responsive when Sign In with an account with TOTP enabled"
from https://github.com/mozilla/notes/issues/1284

[Affected Platforms]:
Android 6.0.1 (Nexus 9)
Android 7.0 (Huawei P9)

[Prerequisites]:
Have the NOTES version from Google Play installed and an account with TOTP enabled.

[Steps to reproduce]:

1. Open the Notes application and to Sign in page.
2. Enter credentials and tap on "Sign In".
3. Tap on "Use recovery code".

[Expected result]:
Enter re

[2018-07-11 13:38] vladikoff commented on #6352
@SorinaFlorean do you have a recording of this issue? Any other details? Version of Chrome or the browser used to login would be helpful

[2018-07-11 14:08] SorinaFlorean commented on #6352
Here is the video: https://drive.google.com/open?id=12T9qwG8TdhQymihgwBMPDWxmQGPmUey6. And for the browser, I tried with both Firefox Nightly (63.0a1 - 2018-07-10) and Chrome - latest version from Google Play.

[2018-07-11 14:16] vladikoff commented on #6352
@SorinaFlorean thanks so much for providing a screencast of this

[2018-07-11 14:56] vladikoff commented on #5383
Closing this for now

[2018-07-11 14:56] #5383 closed

[2018-07-11 15:00] shane-tomlinson commented on #5900
Floating placeholders are out with the Photon redesign, closing.

[2018-07-11 15:00] #5900 closed

[2018-07-11 15:00] vladikoff commented on #5576
🗡 closing for now,  Pairsona work

[2018-07-11 15:00] #5576 closed

[2018-07-11 15:02] shane-tomlinson commented on #5857
With the password strength experiment, we do inline validation of the password. Closing. If we want to do email at a later date, let's open a new bug.

[2018-07-11 15:02] #5857 closed

[2018-07-11 15:03] vladikoff commented on #5279
🗡 closing this for now

[2018-07-11 15:03] #5279 closed

[2018-07-11 15:29] vbudhram commented on #6241
from mtg: Moving this to our general quality backlog in favor of https://github.com/mozilla/fxa-content-server/issues/6311

[2018-07-11 16:19] shane-tomlinson opened #6354 "enable pw-strength experiment for 10% of people"

[2018-07-12 06:33] shane-tomlinson commented on #6345
@vladikoff - when running this test locally I see an "invalid client_id" error:

<img width="982" alt="screen shot 2018-07-12 at 07 32 05" src="https://user-images.githubusercontent.com/848085/42616361-de8460cc-85a5-11e8-882f-d012d876f7b9.png">

[2018-07-12 06:42] shane-tomlinson commented on #6345
Apply this patch:

[code]

run:

"No key bearing scopes" shows in the console:
<img width="1297" alt="screen shot 2018-07-12 at 07 38 10" src="https://user-images.githubusercontent.com/848085/42616617-d9040cd2-85a6-11e8-8537-d0be8e7af7fd.png">

It seems like there are a couple of problems:

1. The test requires correct key bearing scopes
2. If no key bearing scopes are presented, we should surface

[2018-07-12 21:10] #6349 closed

[2018-07-13 08:15] sv-ohorvath commented on #6025
Verified on Stage: Train 116.

[2018-07-13 08:16] sv-ohorvath commented on #6339
Verified on Stage: Train 116.

[2018-07-13 08:18] sv-ohorvath commented on #6321
Verified on Stage: Train 116.

[2018-07-13 08:19] sv-ohorvath commented on #6318
Verified on Stage: Train 116.

[2018-07-13 13:52] SorinaFlorean commented on #6299
Verified on Stage: Train 116.

[2018-07-13 13:56] SorinaFlorean commented on #6310
Verified on Stage: Train 116.

[2018-07-16 14:39] shane-tomlinson opened #6358 "oauth-server errno 119 not added to list of errors in oauth-errors.js"
The [OAuth server's errno 119](https://github.com/mozilla/fxa-oauth-server/blob/master/lib/error.js#L273) has not been added to the content-server's [list of errors](
https://github.com/mozilla/fxa-content-server/blob/29c7fb8e473d53d793d85766ccaaaae89dd2a1ab/app/scripts/lib/oauth-errors.js#L90) and will be untranslated for users if it ever occurs.

[2018-07-16 14:57] #6149 closed

[2018-07-16 15:55] vladikoff commented on #6347
From mtg: @ryanfeeley says make icon smaller

[2018-07-16 16:02] vladikoff commented on #6346
from mtg: this should be fixed once we move to the OAuth flow

[2018-07-16 20:21] #6347 closed

[2018-07-17 10:20] shane-tomlinson commented on #6316
Hi @hmitsch - unfortunately there's a lot more to `prompt=none` than I originally thought and isn't going to be on train-117, there's just too much involved. #5916 has the important context, we'll have to work through the issues outlined in https://github.com/mozilla/fxa-content-server/issues/5916#issuecomment-369777880 before we can add this feature.

[2018-07-17 13:44] shane-tomlinson opened #6362 "Unable to run oauth functional tests locally, redirected to a JSON page after signing in."
STR

1. npm run test-functional-oauth
2. Wait for the first signup to verify
3. A JSON page to appears, the test times out

<img width="1116" alt="screen shot 2018-07-17 at 14 44 00" src="https://user-images.githubusercontent.com/848085/42821206-f1655218-89cf-11e8-80fc-06c306bc3658.png">

[2018-07-17 16:08] #6362 closed

[2018-07-17 18:15] #6029 closed

[2018-07-17 18:50] vbudhram commented on #6311
from mtg:

In the photon pull request, labels were removed, we should be able to bring them back, ref https://github.com/mozilla/fxa-content-server/pull/6175/

[2018-07-17 23:29] hmitsch commented on #6316
Thanks for the update @shane-tomlinson. What's your current gut feeling about getting this into production? Is this not going to happen at all?

[2018-07-17 23:30] jrgm opened #6364 "CORS blocked message when loading '/' in production (train-115)"
In existing production (train-115) I'm seeing this message in the console:

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.accounts.firefox.com/v1/recovery_email/status. (Reason: CORS request did not succeed).`

This also  appears with not-yet-live train-116, with /etc/hosts altered to point to the new stack.

There are a lot of requests

[2018-07-17 23:41] jrgm commented on #6364
STR: sign up for a new account in a new profile, retrieve confirmation email, enter it in urlbar. After confirmed, type https://accounts.firefox.com in the urlbar, and hit Enter.

[2018-07-18 03:12] vladikoff opened #6368 "Make sure v1.116.2 builds a tag"
Tests on Circle are spazzing out hard

[2018-07-18 03:12] vladikoff commented on #6368
ref https://github.com/mozilla/fxa-content-server/pull/6366

[2018-07-18 03:23] vladikoff commented on #6368
This test doesn't even:

[code]

[2018-07-18 14:06] shane-tomlinson commented on #6345
Closing this issue as fixed. Thanks @vladikoff!

[2018-07-18 16:04] #6354 closed

[2018-07-18 16:04] #6368 closed

[2018-07-18 16:59] vladikoff commented on #6209
Please reopen new issues if there are remaining UI components that need updating

[2018-07-18 16:59] #6209 closed

[2018-07-19 14:47] #6267 closed

[2018-07-19 14:47] shane-tomlinson commented on #6267
This is done!

[2018-07-19 14:49] shane-tomlinson opened #6370 "Support incremental OAuth authorization"
Ref https://github.com/mozilla/fxa-oauth-server/issues/553

[2018-07-19 14:58] shane-tomlinson opened #6371 "Analyze PW strength metrics"
This experiment is now released to 10% of users, Some rough graphs:

* https://analytics.amplitude.com/mozilla-corp/chart/4b90aw2
* https://analytics.amplitude.com/mozilla-corp/chart/jvwikep

cc @irrationalagent

blocks https://github.com/mozilla/fxa-bugzilla-mirror/issues/425

[2018-07-19 17:31] davismtl commented on #6267
@shane-tomlinson & @philbooth according to the bug, QA sees flow_begin_id and flow_begin_time in Firefox 63.0a1 (nightly).
https://bugzilla.mozilla.org/show_bug.cgi?id=1471514#c19

However, when I look in Amplitude, I don't see any email_first form views:
https://analytics.amplitude.com/mozilla-corp/chart/new/ntqg9o3

What am I doing wrong? Am I looking at the right params here? Is it just that th

[2018-07-20 03:53] jrgm opened #6372 "duplicate some "core" use cases to send test email to emailservice.*@restmail.net"
For some basic set of tests that exercise **all** the emails types that are sent, copy and alter them to use an email address matching `/emailservice.[A-Za-z0-9._%+-]+@restmail.net$/` so the fxa-email-service is used for latest, stable, and stage. CI.

[2018-07-20 03:56] jrgm commented on #6372
Note: doing this with latest will fail because the latest instance needs to be replaced to pick up the IAM role changes (ec2 instances do not pick up later changes to iam roles). I'll look at doing that tomorrow (and I guess I should do it for stage too).

[2018-07-20 15:25] shane-tomlinson opened #6375 "pw-strength: investigate why "password_missing" is being reported so frequently"
See https://analytics.amplitude.com/mozilla-corp/chart/4b90aw2

[2018-07-20 17:45] vladikoff commented on #6352
[code]

Firefox Desktop 61

[2018-07-23 15:01] shane-tomlinson opened #6380 "Failing functional tests on latest: "oauth permissions for untrusted reliers""
See https://tc-test.dev.lcip.org/viewLog.html?buildId=40317&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

They all fail trying to deselect a permission. The checkbox selector needs to be updated to remove the "+ span"

Also failing for the same reason:

[2018-07-23 15:02] #6375 closed

[2018-07-23 15:04] shane-tomlinson commented on #6345
This test is still failing on latest even though we fixed it locally, re-opening.

[2018-07-23 15:55] vladikoff commented on #6372
from mtg: functional tests for fxa-email-service

[2018-07-23 20:31] #6380 closed

[2018-07-23 20:43] vladikoff commented on #6324
Done!

[2018-07-23 20:43] #6324 closed

[2018-07-23 20:53] vladikoff commented on #6371
waiting for experiment to finish...

[2018-07-23 20:55] vladikoff commented on #6173
from mtg: needs to be sent to SUMO?

[2018-07-24 09:13] shane-tomlinson opened #6383 "login_hint not recognized in the OAuth flow"
The `login_hint` query parameter should act the same as the `email` query parameter in OAuth flows. Right now login_hint is ignored because [translation from login_hint to email](https://github.com/mozilla/fxa-content-server/blob/5ab28b49223310ebf869bffb84dc40d15471d2fa/app/scripts/models/reliers/oauth.js#L172) should use `loginHint` rather than `login_hint`.

STR

1. Go to 123done, click the "ema

[2018-07-24 09:43] shane-tomlinson opened #6384 "local SMS functional test failures"
STR

1. npm run test-functional -- --grep="send_sms - valid phone number"
2. BOOM

[code]

This is because I wrote the tests to do formatting on the front-end, then we started to depend on the backend to format numbers. I'm not sure how these never got updated. We do not run SMS functional tests on CI because we never figured out how to make the tests run correctly.

[2018-07-24 13:41] shane-tomlinson commented on #6316
I won't say no, but it's unlikely this quarter given our existing commitments.

[2018-07-24 13:44] #6384 closed

[2018-07-24 13:54] #6383 closed

[2018-07-24 17:43] shane-tomlinson opened #6389 "show new "user-card" view on force_auth"
In #6187, I only added the user-card view to the email-first flow. force_auth is the same as the signin view, but doesn't allow the user to change email addresses.

ref #6198

[2018-07-25 11:41] hidde commented on #6316
For full transparency: in the meantime, we're [updating Mozilla IAM](https://github.com/mozilla/mozillians/pull/2528) to fix linking Firefox Accounts to profiles for now. We'll revert the fix whenever the `prompt=select_account` parameter stops yielding an error in FxA.

[2018-07-25 16:03] vladikoff opened #6391 "action=email goes to /settings instead of some login screen"
In the Android component we switched to use email-first and with a generated oauth link it opens settings instead of a form to sign in with.

Simplified url seems to be https://accounts.firefox.com/?action=email&email=vlad@restmail.net (if you are already logged in with that it will open settings)

I will follow up with the url the android component generates

[2018-07-25 16:07] vladikoff commented on #6391
![](http://v14d.com/i/5b58a01ccde00.jpg)

[2018-07-25 16:09] shane-tomlinson commented on #6391
Already on the case in #6360

[2018-07-25 18:05] carolkng commented on #6391
Possibly related (although maybe not relevant if the settings page doesn't pop up anymore?): when attempting to sign out and log in again from the /settings page, the login screen shows "Invalid OAuth parameter: client_id".

The url after pressing the signout button is: https://accounts.firefox.com/signin with `context` and `service` query parameters

[2018-07-26 15:18] vbudhram opened #6394 "Follow up issue for account recovery screens"
https://github.com/mozilla/fxa-content-server/pull/6392 is a minimum implementation for account recovery. These are some items that were to big to fit into that PR.

- [x] Add experiment logic, Merged in https://github.com/mozilla/fxa-content-server/pull/6407
- [ ] Audit metrics from https://github.com/mozilla/fxa-auth-server/issues/2538
- [x] Functional tests

UX related
- [ ] ~~Animation when do

[2018-07-26 17:57] vladikoff opened #6395 "Handle utm and other params on /metrics-flow, log the 'form_type' event"
Ref: https://docs.google.com/document/d/1i_E5JzEPJc24dXpi_GVi_BIsiyV6K-jNyJlQXOdTVi4/edit

[2018-07-26 19:02] vladikoff commented on #6395
The new query string is gonna be

[code]

[2018-07-27 18:52] vladikoff opened #6396 "Emails over 26 characters are not fully visible in the password screen"
Ref: https://github.com/mozilla/notes/issues/1321

![](https://user-images.githubusercontent.com/31243259/43326790-5cceea7e-91c2-11e8-89f7-4884823f6a68.gif)

[2018-07-28 20:46] hmitsch commented on #6316
linking https://github.com/mozilla-iam/auth0-custom-lock/issues/182

[2018-07-30 14:04] shane-tomlinson opened #6397 "Implement "Auth" UI prototype for pairing flow"
The _Auth_ is the device that is already signed in.
The _Supp_ is the device that needs to be signed in.

For the purposes of the prototype, the UI will be available behind a hidden URL:

1. Open a connection to the Channel server, saving a channel ID that can be used to communicate with _Supp_.
2. Generate a 32 byte random symmetric encryption key.
3. Display a QR code that can be scanned by _Sup

[2018-07-30 14:13] shane-tomlinson opened #6398 "Implement "Supp" UI prototype for pairing flow"
The _Auth_ is the device that is already signed in.
The _Supp_ is the device that needs to be signed in.

For the purposes of the prototype, the UI will be available behind a hidden URL:

1. Scan the QR code generated by _Auth_. Fetch the 32 byte symmetric key and the channel ID from the URL.
2. Open a connection to the Channel server, at the channel identified by the channel ID.
3. Send a pairing

[2018-07-30 14:34] vladikoff commented on #6083
@shane-tomlinson can this be closed?

[2018-07-30 14:35] shane-tomlinson commented on #6083
There are still a few more items to do though there are separate issues open for each of them. We can close this.

[2018-07-30 14:35] #6083 closed

[2018-07-30 14:37] vladikoff commented on #5438
🗡 , looked at this before, too complex to implement with the current loading logic we have

[2018-07-30 14:53] vladikoff commented on #5201
ref https://github.com/mozilla/fxa-content-server/issues/6114

[2018-07-30 17:40] #6165 closed

[2018-07-30 22:11] davismtl opened #6399 "2FA on Mobile Not Redirecting"
There has been a report of 2FA not redirecting despite what seems to be successful login (they received an email).

https://twitter.com/daverideout/status/1023968386697576449

(also see Lockbox Slack conversation on July 30th)

Note that Stefan and I have both tested but have not experienced this problem.

Perhaps a starting point here is to look at metrics.

[2018-07-30 22:15] davismtl commented on #6399
Looks like @irrationalagent [already made a chart.](https://sql.telemetry.mozilla.org/queries/57756/source#150374)
There does seem to be an iOS problem given the success rate is so low.

[2018-07-31 05:24] philbooth opened #6400 "Don't send a different event for every type of password error"
MOVED FROM mozilla/fxa-amplitude-send#73:

[2018-07-31 13:42] vbudhram commented on #6399
Looks like the tweet has been deleted? I've test this with my 2FA production account with Lockbox and didn't experience any issues.

I did notice that after logging in, I received a push notification from the FxiOS application and the screen automatically redirected from the Lockbox settings page (from the Lockbox encryption details page).

[2018-07-31 14:35] #6082 closed

[2018-07-31 14:35] #6391 closed

[2018-07-31 15:02] shane-tomlinson opened #6401 "/metrics endpoint 400's for test emails or manual opt ins to TOTP experiment"
The /metrics endpoint 400's if a user uses a test email (mozilla.com/org, softivision.com/ro) or manually opts in to the TOTP experiment.

<img width="545" alt="screen shot 2018-07-31 at 15 57 35" src="https://user-images.githubusercontent.com/848085/43467845-9471bef0-94da-11e8-8c1b-9b7ca21ae2fe.png">

This is because the [experiment group is `true`](https://github.com/mozilla/fxa-content-server/b

[2018-07-31 15:04] shane-tomlinson commented on #6401
cc @vbudhram

[2018-07-31 15:13] shane-tomlinson opened #6402 "control users see TOTP in /settings"
STR

1. open /settings?forceExperiment=totp&forceExperimentGroup=control

"Two-step authentication" panel should not be visible, however, it's visible.

In the [beforeRender function in two_step_authentication](https://github.com/mozilla/fxa-content-server/blob/5e57926738f7a0cd7c33bdaf7619418e08b22bcc/app/scripts/views/settings/two_step_authentication.js#L73), the experiment group should be compar

[2018-07-31 15:53] irrationalagent commented on #6399
here is the funnels for each OS all-time:
https://sql.telemetry.mozilla.org/queries/57758/source#150462

You can see that for iPhone there is already a large drop-off between viewing the totp form and engaging with it

[2018-07-31 16:49] devinreams commented on #6399
I also encountered and reproduced this issue.

Related discourse thread from the same reporting customer:
https://discourse.mozilla.org/t/lockbox-app-authentication-issue-with-2fa-code/30586/3

[2018-07-31 18:44] davismtl commented on #6399
@irrationalagent I am puzzled by why the drop off is between engage and submit.

When does the submit event get sent to us? i.e. If it requires the page to redirect for the submit to track, that might explain why we're not tracking it. It would also be a clear symptom of a bug.

[2018-07-31 21:09] irrationalagent commented on #6399
I should clarify that while there is a larger than expected drop between engage and submit, there is a much bigger drop between view and engage. [i changed the chart to make that more clear](https://sql.telemetry.mozilla.org/queries/57758/source#150462)

[2018-07-31 21:53] #6312 closed

[2018-07-31 21:53] #6401 closed

[2018-07-31 21:53] #6402 closed

[2018-07-31 22:51] davismtl commented on #6399
@irrationalagent could you segment that iPhone cohort by OS version or region/language or whatever else might be relevant? Clearly some people are succeeding so I want to see how the different segments of iPhone perform.

[2018-08-01 08:47] shane-tomlinson commented on #6399
I wonder whether the [icon being too big](https://github.com/mozilla/fxa-content-server/issues/6347) prevented a lot of iOS users from finding the submit button to know what to do? A second theory is that [we haven't really solved all of the problems reporting metrics on iOS](https://github.com/mozilla/fxa-content-server/issues/4458). The first seems more likely to me, with train-117 going to prod